.admin-menu {
  top: 94px;
  left: 0;
  transition: top $transition-fast, z-index 0.3s;
  z-index: 3;

  @media (max-width: 991px) {
    top: 0;
    width: 100%;
    left: -100%;
    transition: left $transition-slow;
  }

  &.admin-menu--minimize {
    .admin-menu__wrap {
      @include media-breakpoint-up(lg) {
        padding-right: 0;
      }
    }
    .admin-menu__nav {
      @include media-breakpoint-up(lg) {
        padding-right: 0;
        width: 68px;

        .admin-menu__btn-minimize {
          .icon-minimize {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 12 7'%3E%3Cg%3E%3Cg transform='rotate(90 6 3.5)'%3E%3Cg%3E%3Cpath fill='%23335491' d='M2.813-1.786a.996.996 0 0 0 0 1.41l3.88 3.88-3.88 3.88a.996.996 0 1 0 1.41 1.41l4.59-4.59a.996.996 0 0 0 0-1.41l-4.59-4.59c-.38-.38-1.02-.38-1.41.01z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            transform: rotate(-90deg);
            background-position: center bottom;
            transition-delay: 0s;
          }
        }

        .admin-menu__list {
          .admin-menu__item {
            span {
              // position: absolute;
              // top: 0;
              // right: 0;
              visibility: hidden;
              font-size: 0;
              opacity: 0;
              transition-delay: 0s;
            }
            .icon-blue-arrow {
              opacity: 0;
              transition-delay: 0s;
            }
          }
        }

        + .admin-menu__copyright {
          opacity: 0 !important;
          transition: 0s !important;
          transition-delay: 0s !important;
        }
      }
    }
  }

  .section-content {
    padding-top: 0 !important;
  }

  // .admin-menu__header

  &__header {
    position: relative;
    width: 100%;
    padding: 0 16px;
    height: 69px;
    display: flex;
    align-items: center;
    z-index: 1;

    box-shadow: $shadow-card;
    background-color: theme-color("white");

    @include media-breakpoint-down(sm) {
      height: 55px;
    }
  }

  // .admin-menu__logo

  &__logo {
    width: 100%;
    margin-right: 16px;

    span {
      color: theme-color("blue");
      font-weight: 500;
      font-size: 18px;
    }
  }

  // .admin-menu__img

  &__img {
    width: 100%;
    max-width: 24px;
    margin-right: 7px;
  }

  //.admin-menu__close

  &__close {
    margin-right: 15px;
  }

  //.admin-menu__nav

  &__nav {
    width: 224px;
    padding: 40px 10px 10px 32px;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 16px;
    overflow: hidden;

    background-color: theme-color("white");
    box-shadow: $shadow-card;
    transition: width $transition-fast;

    @media (max-width: 991px) {
      width: 100%;
      border-radius: 0;
      box-shadow: 0 0 0;
      padding: 12px 24px 10px 24px;
    }
  }

  // .admin-menu__user-select

  &__user-select {
    margin-bottom: 32px;
  }

  // .admin-menu__btn-minimize

  &__btn-minimize {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 7px;
    right: 11px;
    transition: background 0.5s;
    transition-delay: 0.5s;
  }

  // .admin-menu__wrap

  &__wrap {
    padding-right: 6px;
  }

  // .admin-menu__list

  // &__list {
  // }

  // .admin-menu__item

  &__item {
    width: 100%;
    min-height: 30px;
    margin-bottom: 7px;
    overflow: hidden;
    transition: $transition-fast;

    &:last-of-type {
      margin-bottom: 0;
    }

    &.js-open {
      display: block;
      // height: auto;

      .admin-menu__title {
        .icon.icon-blue-arrow {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }

  // // .admin-menu__item--visit

  &__item--visit {
    > .admin-menu__link,
    > .admin-menu__title {
      span {
        color: theme-color("orange");
      }

      .icon-dashboard {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eprofits%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='menu-admin' transform='translate(-24.000000, -140.000000)' fill='%23FB7D00' fill-rule='nonzero'%3E%3Cg id='profits' transform='translate(24.000000, 140.000000)'%3E%3Cpath d='M1.77070312,11.0554688 L0.220078125,12.6539063 C-0.0797265625,12.9630078 -0.072265625,13.4566406 0.236835938,13.7564844 C0.388320313,13.9034766 0.5840625,13.9765625 0.7796875,13.9765625 C0.983203125,13.9765625 1.1865625,13.8973438 1.33941406,13.7397656 L2.89003906,12.1413281 C3.18984375,11.8322266 3.18238281,11.3385938 2.87328125,11.03875 C2.56417969,10.7388672 2.07054688,10.7463672 1.77070312,11.0554688 Z' id='Path'%3E%3C/path%3E%3Cpath d='M5.38011719,11.559375 C4.94953125,11.559375 4.60039062,11.9084766 4.60039062,12.3391016 L4.60039062,19.2007422 C4.60039062,19.6313281 4.94949219,19.9804688 5.38011719,19.9804688 L5.38015625,19.9804688 C5.81074219,19.9804688 6.15988281,19.6313672 6.15988281,19.2007422 L6.15980469,12.3390625 C6.15980469,11.9084766 5.81074219,11.559375 5.38011719,11.559375 Z' id='Path'%3E%3C/path%3E%3Cpath d='M8.42105469,9.84402344 C7.99046875,9.84402344 7.64132812,10.193125 7.64132812,10.62375 L7.64132812,19.2007422 C7.64132812,19.6313281 7.99042969,19.9804688 8.42105469,19.9804688 C8.85167969,19.9804688 9.20078125,19.6313672 9.20078125,19.2007422 L9.20078125,10.6237109 C9.20074219,10.193125 8.85167969,9.84402344 8.42105469,9.84402344 Z' id='Path'%3E%3C/path%3E%3Cpath d='M17.6607812,0.019453125 L15.3216016,0.019453125 C14.8909766,0.019453125 14.541875,0.368554688 14.541875,0.799179688 C14.541875,1.22980469 14.8909766,1.57890625 15.3216016,1.57890625 L17.3766797,1.57890625 L11.6512891,7.30308594 C11.4976953,7.45671875 11.2966797,7.54410156 11.0978906,7.54410156 C11.0937109,7.54410156 11.0894531,7.5440625 11.0852734,7.54398437 C10.8938281,7.54039062 10.6981641,7.45261719 10.5486328,7.30304688 L9.63191406,6.38632813 C9.183125,5.93753906 8.58734375,5.67738281 7.99722656,5.67253906 C7.99148438,5.6725 7.98578125,5.6725 7.98007813,5.6725 C7.36929688,5.6725 6.759375,5.93949219 6.30355469,6.40683594 L4.63261719,8.0853125 C4.32878906,8.39050781 4.32988281,8.88417969 4.63507813,9.18800781 C4.7871875,9.33945313 4.98617188,9.41515625 5.18515625,9.41515625 C5.38527344,9.41515625 5.58539063,9.33855469 5.73773438,9.18550781 L7.41171875,7.50402344 C7.41402344,7.50175781 7.41625,7.49945313 7.41851563,7.49714844 C7.58132813,7.32945313 7.79351563,7.23 7.98445313,7.23191406 C8.16613281,7.23339844 8.36980469,7.32949219 8.52929688,7.48898438 L9.44601563,8.40570313 C9.88453125,8.84425781 10.4564063,9.09195313 11.0562891,9.103125 C11.6800781,9.11484375 12.2993359,8.86058594 12.7540625,8.40578125 L18.4405078,2.72046875 L18.4405078,4.65882813 C18.4405078,5.08945312 18.7896094,5.43855469 19.2202344,5.43855469 C19.6508594,5.43855469 19.9999609,5.08945312 19.9999609,4.65882813 L19.9999609,2.35863281 C19.9999609,1.06882813 18.950625,0.019453125 17.6607812,0.019453125 Z' id='Path'%3E%3C/path%3E%3Cpath d='M2.3028125,15.0681984 C1.87117187,15.0667187 1.52042969,15.41625 1.52042969,15.8479297 L1.52042969,19.2007422 C1.52042969,19.6313281 1.86953125,19.9804687 2.30015625,19.9804687 L2.30019531,19.9804687 C2.73082031,19.9804687 3.07992188,19.6313672 3.07992188,19.2007422 L3.07992188,15.8479297 C3.07988281,15.4183203 2.73246094,15.0696484 2.3028125,15.0681984 Z' id='Path'%3E%3C/path%3E%3Cpath d='M17.6217969,6.68613281 C17.1911719,6.68613281 16.8420703,7.03523437 16.8420703,7.46585937 L16.8420703,19.2007812 C16.8420703,19.6313672 17.1911719,19.9805078 17.6217969,19.9805078 L17.6218359,19.9805078 C18.0524219,19.9805078 18.4015625,19.6314062 18.4015625,19.2007812 L18.4015625,7.46585937 C18.4015234,7.03519531 18.0524609,6.68613281 17.6217969,6.68613281 Z' id='Path'%3E%3C/path%3E%3Cpath d='M11.4619531,10.8186719 C11.0313281,10.8186719 10.6822266,11.1677734 10.6822266,11.5983984 L10.6822266,19.2007422 C10.6822266,19.6313281 11.0313281,19.9804688 11.4619531,19.9804688 L11.4619922,19.9804688 C11.8925781,19.9804688 12.2417188,19.6313672 12.2417188,19.2007422 L12.2417188,11.5983984 C12.2416797,11.1677734 11.8926172,10.8186719 11.4619531,10.8186719 Z' id='Path'%3E%3C/path%3E%3Cpath d='M14.5390625,9.33718202 C14.1095312,9.33875 13.7621875,9.68742188 13.7621875,10.1169141 L13.7621875,19.2007813 C13.7621875,19.6313672 14.1112891,19.9805078 14.5419141,19.9805078 L14.5419531,19.9805078 C14.9725391,19.9805078 15.3216797,19.6314063 15.3216797,19.2007813 L15.3216797,10.1169141 C15.3216016,9.68515625 14.9707813,9.33558594 14.5390625,9.33718202 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
      .icon-shipping {
        background-image: url("images/icons/shipping-visit.svg");
      }
      .icon-shipping {
        background-image: url("images/icons/shipping-visit.svg");
      }
      .icon-networking {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23f97d00' d='M4.207 11.368c.22-.712.844-1.172 1.668-1.172.823 0 1.448.46 1.667 1.172zm1.087-2.93a.59.59 0 0 1 .59-.586.59.59 0 0 1 .592.586.59.59 0 0 1-.591.586.59.59 0 0 1-.591-.586zm2.058.958A1.76 1.76 0 0 0 5.88 6.68a1.76 1.76 0 0 0-1.473 2.716c-.884.493-1.457 1.432-1.457 2.557 0 .324.262.586.586.586h4.687a.586.586 0 0 0 .586-.586c0-1.125-.572-2.064-1.457-2.557z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23f97d00' d='M16.484 18.828a2.346 2.346 0 0 1-2.343-2.344 2.346 2.346 0 0 1 2.343-2.343 2.346 2.346 0 0 1 2.344 2.343 2.346 2.346 0 0 1-2.344 2.344zm-10.6-4.111a4.717 4.717 0 0 1-4.712-4.712 4.717 4.717 0 0 1 4.712-4.712 4.717 4.717 0 0 1 4.712 4.712 4.717 4.717 0 0 1-4.712 4.712zm10.6-13.545a2.346 2.346 0 0 1 2.344 2.344 2.346 2.346 0 0 1-2.344 2.343 2.346 2.346 0 0 1-2.343-2.343 2.346 2.346 0 0 1 2.343-2.344zM13.772 14.25l-2.668-1.558a5.868 5.868 0 0 0 .005-5.374l2.684-1.544a3.51 3.51 0 0 0 2.691 1.257A3.52 3.52 0 0 0 20 3.516 3.52 3.52 0 0 0 16.484 0c-2.454 0-4.162 2.468-3.286 4.765l-2.727 1.568a5.87 5.87 0 0 0-4.592-2.212A5.886 5.886 0 0 0 0 10a5.886 5.886 0 0 0 5.879 5.879 5.87 5.87 0 0 0 4.585-2.204l2.723 1.59c-.85 2.292.858 4.735 3.297 4.735A3.52 3.52 0 0 0 20 16.484a3.52 3.52 0 0 0-3.516-3.515c-1.09 0-2.066.499-2.712 1.28z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
      .icon-social-media {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23f97d00' d='M18.75 18.814h-4.688v-2.183c0-.64-.163-1.242-.45-1.768a2.52 2.52 0 0 1 1.818-.765h.78a2.54 2.54 0 0 1 2.54 2.533zm-5.86 0H7.032v-2.183a2.54 2.54 0 0 1 2.54-2.534h.78a2.54 2.54 0 0 1 2.54 2.534zM1.173 16.631a2.54 2.54 0 0 1 2.539-2.533h.781c.694 0 1.342.275 1.819.765a3.674 3.674 0 0 0-.452 1.768v2.183H1.172zm2.93-6.05c.646 0 1.171.529 1.171 1.178 0 .649-.525 1.177-1.171 1.177a1.176 1.176 0 0 1-1.172-1.177c0-.65.525-1.177 1.172-1.177zm5.859 0c.646 0 1.172.529 1.172 1.178 0 .649-.526 1.177-1.172 1.177a1.176 1.176 0 0 1-1.172-1.177c0-.65.526-1.177 1.172-1.177zm5.86 0c.645 0 1.171.529 1.171 1.178 0 .649-.526 1.177-1.172 1.177a1.176 1.176 0 0 1-1.172-1.177c0-.65.526-1.177 1.172-1.177zm1.829 2.635c.321-.401.514-.91.514-1.462A2.346 2.346 0 0 0 15.82 9.41a2.346 2.346 0 0 0-2.343 2.344c0 .551.192 1.059.512 1.46-.404.17-.777.411-1.1.717a3.722 3.722 0 0 0-1.098-.715c.32-.401.514-.91.514-1.462A2.346 2.346 0 0 0 9.96 9.41a2.346 2.346 0 0 0-2.344 2.344c0 .553.193 1.06.514 1.462-.408.173-.78.416-1.098.715a3.679 3.679 0 0 0-1.1-.717c.32-.4.512-.908.512-1.46A2.346 2.346 0 0 0 4.102 9.41a2.346 2.346 0 0 0-2.344 2.344c0 .553.193 1.06.514 1.462A3.717 3.717 0 0 0 0 16.636v2.774c0 .324.262.586.586.586h18.75a.586.586 0 0 0 .586-.586v-2.773a3.717 3.717 0 0 0-2.272-3.421z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23f97d00' d='M5.86 1.758c0-.323.264-.586.588-.586h7.041c.324 0 .587.263.587.586v3.555a.587.587 0 0 1-.587.585H9.97a.588.588 0 0 0-.353.118L8.208 7.07v-.586a.586.586 0 0 0-.587-.586H6.448a.587.587 0 0 1-.587-.585zm.588 5.312h.586v1.172c0 .485.554.757.937.469l2.188-1.64h3.32a1.76 1.76 0 0 0 1.758-1.758V1.758A1.76 1.76 0 0 0 13.479 0H6.448A1.76 1.76 0 0 0 4.69 1.758v3.555c0 .969.789 1.757 1.758 1.757z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
      .icon-landing-page {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='19' viewBox='0 0 20 19'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23f97d00' d='M11.69 11.649c-.105-.83.173-1.514.887-2.226.788-.788 1.599-1.213 2.748-1.41-.197 1.15-.622 1.96-1.41 2.75-.714.712-1.397.987-2.226.886zm.323 1.269c1.018 0 1.936-.422 2.786-1.273 1.156-1.156 1.714-2.442 1.867-4.299a.624.624 0 0 0-.674-.674c-1.856.153-3.142.71-4.298 1.867-1.126 1.122-1.5 2.363-1.145 3.794.056.225.231.4.456.456.347.086.683.129 1.008.129z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23f97d00' d='M9.795 14.167a.625.625 0 0 1-.442-1.067l2.917-2.917a.625.625 0 1 1 .884.884l-2.917 2.917a.623.623 0 0 1-.442.183z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23f97d00' d='M7.73 15.83H4.788a1.46 1.46 0 0 1-1.458-1.458V7.288A1.46 1.46 0 0 1 4.788 5.83h4.584c.752 0 1.389.59 1.448 1.343a.625.625 0 0 1-.574.671.634.634 0 0 1-.673-.574.21.21 0 0 0-.201-.19H4.788a.21.21 0 0 0-.208.208v7.084a.21.21 0 0 0 .208.208H7.73a.625.625 0 0 1 0 1.25z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23f97d00' d='M17.708 1.25c.575 0 1.042.468 1.042 1.042v13.75c0 .574-.468 1.041-1.042 1.041H2.292a1.043 1.043 0 0 1-1.042-1.041V2.292c0-.574.467-1.042 1.042-1.042zM20 16.042V2.292A2.294 2.294 0 0 0 17.708 0H2.292A2.294 2.294 0 0 0 0 2.292v13.75a2.294 2.294 0 0 0 2.292 2.291h15.416A2.294 2.294 0 0 0 20 16.042z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23f97d00' d='M19.375 4.17H.625a.625.625 0 0 1 0-1.25h18.75a.625.625 0 0 1 0 1.25z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
      .icon-gift {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='16' viewBox='0 0 20 16'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23f97d00' d='M17.852 14.063H7.656v-2.52l.315.413c.179.235.503.3.758.154l1.836-1.055a.586.586 0 0 0 .176-.86L9.571 8.64a1.562 1.562 0 0 0 2.187-1.432v-.178h7.07v6.055a.978.978 0 0 1-.976.977zm-16.68-.977V7.03h1.21v.178A1.562 1.562 0 0 0 4.57 8.64L3.4 10.194a.586.586 0 0 0 .175.86l1.836 1.056c.256.146.58.08.758-.154l.315-.414v2.52H2.148a.978.978 0 0 1-.976-.976zM6.484 1.172v3.004c-.373.096-.71.283-.988.534l-.852-.426a1.562 1.562 0 0 0-2.261 1.398v.177H1.172V2.15c0-.539.438-.977.976-.977zm3.537 4.16a.39.39 0 0 1 .565.35v1.527a.39.39 0 0 1-.565.35l-.73-.365a2.334 2.334 0 0 0 0-1.497zM7.656 8.716c.137-.036.27-.084.396-.143l1.354 1.804-.814.47-.936-1.235zM6.09 8.573c.126.059.258.107.395.143v.896l-.935 1.235-.814-.47zM4.12 7.558a.39.39 0 0 1-.565-.349V5.682c0-.29.305-.48.565-.35l.73.365a2.334 2.334 0 0 0 0 1.496zm2.95-2.285c.646 0 1.172.528 1.172 1.177 0 .65-.526 1.177-1.172 1.177A1.176 1.176 0 0 1 5.898 6.45c0-.649.526-1.177 1.172-1.177zm11.758.586h-7.07v-.177a1.562 1.562 0 0 0-2.261-1.398l-.853.426a2.342 2.342 0 0 0-.988-.534V1.172h10.196c.538 0 .976.438.976.976zM17.852 0H2.148A2.15 2.15 0 0 0 0 2.148v10.938a2.15 2.15 0 0 0 2.148 2.148h15.704A2.15 2.15 0 0 0 20 13.086V2.148A2.15 2.15 0 0 0 17.852 0z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23f97d00' d='M17.032 9.38h-3.516a.586.586 0 0 0 0 1.172h3.516a.586.586 0 0 0 0-1.172z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23f97d00' d='M17.032 11.72h-3.516a.586.586 0 0 0 0 1.172h3.516a.586.586 0 0 0 0-1.172z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
      .icon-megaphone {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='17' viewBox='0 0 22 17'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23f97d00' d='M1.29 8.37V5.8c0-.355.288-.644.644-.644h3.222v3.857H1.934a.644.644 0 0 1-.645-.642zM14.265 3.8v6.58a4.498 4.498 0 0 0-3.223-1.357H6.445V5.156h4.598c1.261 0 2.403-.52 3.223-1.357zm-6.542 7.157a.643.643 0 0 1-.64.645h-.639v-1.29h1.28zm-3.857-.645h1.29v5.157h-1.29zm-.644 6.446H7.09a.645.645 0 0 0 0-1.29h-.645v-2.577h.645a1.936 1.936 0 0 0 1.933-1.934v-.645h2.02a3.226 3.226 0 0 1 3.223 3.223.645.645 0 0 0 1.289 0V.645a.645.645 0 0 0-1.29 0 3.226 3.226 0 0 1-3.222 3.222h-9.11A1.936 1.936 0 0 0 0 5.801v2.578c0 1.066.867 1.933 1.934 1.933h.644v5.801c0 .356.289.645.645.645z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23f97d00' d='M21.148 3.903l-3.867 1.29a.645.645 0 0 0 .408 1.222l3.867-1.289a.645.645 0 0 0-.408-1.223z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23f97d00' d='M21.556 9.052l-3.867-1.289a.645.645 0 0 0-.408 1.223l3.867 1.29a.645.645 0 0 0 .408-1.224z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
      .icon-shop {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='18' viewBox='0 0 20 18'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23f97d00' d='M14.559 12.929a.368.368 0 0 1-.368.367h-2.714a.368.368 0 0 1-.367-.367v-2.082c0-.204.167-.367.367-.367h2.714c.204 0 .368.167.368.367zM14.19 9.5h-2.714c-.743 0-1.347.604-1.347 1.347v2.082c0 .742.604 1.347 1.347 1.347h2.714c.743 0 1.347-.605 1.347-1.347v-2.082c0-.743-.604-1.347-1.347-1.347z'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23f97d00' d='M17.11 7.6c-.926 0-1.698-.67-1.853-1.551h3.71A1.893 1.893 0 0 1 17.11 7.6zm-7.897 8.871V11.18c0-.924-.752-1.68-1.68-1.68H6.109c-.923 0-1.678.752-1.678 1.68v5.295H2.694V8.577a2.863 2.863 0 0 0 2.549-1.263 2.863 2.863 0 0 0 4.754 0 2.856 2.856 0 0 0 4.746 0 2.863 2.863 0 0 0 2.377 1.267c.057 0 .11-.004.168-.004v7.894zm-3.8-.01v-5.285c0-.384.31-.698.697-.698h1.425c.383 0 .698.31.698.698v5.285zm-4.4-10.416h3.71a1.89 1.89 0 0 1-1.858 1.561 1.881 1.881 0 0 1-1.853-1.561zm8.456 0a1.885 1.885 0 0 1-1.853 1.561A1.892 1.892 0 0 1 5.76 6.045zm4.747 0a1.885 1.885 0 0 1-1.853 1.561 1.885 1.885 0 0 1-1.853-1.561zM3.743.984h12.486l2.322 4.085H1.424zm16.233 4.73a.455.455 0 0 0-.066-.24L16.94.248A.492.492 0 0 0 16.514 0H3.457a.484.484 0 0 0-.424.249L.065 5.473A.495.495 0 0 0 0 5.714c0 1.172.706 2.176 1.714 2.62v8.617c0 .27.22.49.49.49H17.767c.27 0 .49-.22.49-.49V8.396c0-.02 0-.037-.004-.053a2.873 2.873 0 0 0 1.723-2.629z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
    }

    > .admin-menu__link {
      span {
        &::after {
          border-bottom: 1px solid theme-color("orange");
          width: 100%;
        }
      }
    }

    > .admin-menu__title {
      span {
        &::after {
          display: none;
        }
      }
    }
  }

  // .admin-menu__link

  &__link,
  &__title {
    display: flex;
    align-items: center;
    padding-left: 36px;
    line-height: 30px;

    span {
      position: relative;
      min-height: 29px;
      display: inline-block;
      opacity: 1;
      transition: position 0.5s, opacity 0.5s;
      transition-delay: 0.3s;
      &::after {
        position: absolute;
        content: "";
        display: block;
        height: 1px;
        border-bottom: 1px solid theme-color("blue");
        max-height: 1px;
        width: 0;
        overflow: hidden;
        transition: 0.3s;
        left: 0;
        bottom: 7px;
      }
    }

    &:hover {
      span {
        &::after {
          width: 100%;
        }
      }
    }

    .icon,
    .icon.active {
      width: 24px;
      height: 20px;

      top: 50%;
      transform: translateY(-50%);
      transition: $transition-fast;
    }

    .icon-blue-arrow {
      left: auto;
      right: 0;
      opacity: 1;
      transition: opacity 0.5s;
      transition-delay: 0.3s;
    }

    span {
      font-size: 14px;
      white-space: nowrap;
      color: theme-color("blue");
    }
  }

  // // .admin-menu__link--active

  // &__link--active {
  // }

  // .admin-menu__item--submenu

  &__item--submenu {
    padding-top: 7px;
    min-height: 40px;
    border-top: 1px solid rgba(theme-color("blue"), 0.25);

    &.js-open {
      display: block;
      // height: auto;

      .admin-menu__list {
        display: block;
      }
    }

    .admin-menu__list {
      display: none;
      height: 0;
      overflow: hidden;
      transition: height $transition-fast;
    }
  }

  // .admin-menu__title

  &__title {
    font-weight: 500;
    cursor: pointer;
  }

  // .admin-menu__copyright

  &__copyright {
    width: 100%;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 10px;
    text-align: center;
    opacity: 1;
    pointer-events: none;

    transition: $transition-fast;
    transition-delay: 0.5s;
    color: theme-color("blue4");

    @media (max-width: 991px) {
      display: none;
    }
  }

  .form-admin-menu {
    &.form input.form__checkbox[type="checkbox"]:checked + label,
    &.form input.form__checkbox[type="checkbox"]:not(:checked) + label {
      font-size: 12px;
    }

    &.form input.form__checkbox[type="checkbox"]:not(:checked) + label b {
      font-weight: normal;
    }
    .form__single--checkbox:last-of-type {
      padding-top: 0;
    }

    .form__single {
      margin-bottom: 17px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
