.drop-photo {
  width: 100%;
  height: 400px;
  overflow: hidden;
  cursor: pointer;
  overflow-x: auto;

  background-color: theme-color("light-gray2");
  border: 1px dashed theme-color("blue2");

  &.dz-drag-hover {
    border-style: solid;
    background-color: theme-color("light-gray3");
  }

  // .drop-photo__start

  &__start {
    pointer-events: none;
  }

  figure {
    margin-bottom: 20px;
    text-align: center;

    .icon {
      position: relative;
    }
  }

  h4 {
    font-size: 30px;
    line-height: 36px;
    text-align: center;

    color: theme-color("blue2");

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
  }

  p {
    font-size: 16px;
    line-height: 16px;
    text-align: center;

    color: theme-color("dark-blue2");

    span {
      text-decoration: underline;

      font-weight: $font-weight-medium;
      color: theme-color("blue2");

      &:hover {
        text-decoration: none;
      }
    }
  }

  .cropper-view-box,
  .cropper-face {
    border-radius: 50%;
  }
}
