//Glob Utils
@import "../variables";
@import "../bootstrap-utils";

.grid-gallery {
  padding: 0;
  list-style: none;
  position: unset;

  &__slider {
    .grid-gallery__post-img {
      background-size: contain !important;
    }
    .grid-gallery__width-1-1 {
      display: block !important;
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: flex !important;
      top: 40% !important;
    }
    .swiper-slide {
      width: 250px;
      height: 320px;
      figure {
        height: 100% !important;
        width: 100% !important;
        a {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  figure {
    margin-bottom: 0;
  }

  // .grid-gallery__width-1-1

  &__width-1-1 {
    width: 100%;
  }

  // .grid-gallery__width-1-2

  &__width-1-2 {
    width: calc(50% - 4px);
  }

  // .grid-gallery__main-img

  &__main-img {
    .reaction-img {
      left: 32px;
    }
  }

  // .grid-gallery__icon

  &__icon {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
    border-radius: 3px;

    background-color: theme-color("white");

    .icon {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // .grid-gallery__selector

  &__selector {
    position: relative;
    display: block;
    width: 100%;
    height: 156px;
    overflow: hidden;

    &:hover {
      .grid-gallery__post-img {
        &:after {
          opacity: 0.3;
          z-index: 0;
        }
      }
    }
  }

  // .grid-gallery__selector--video

  &__selector--video {
    cursor: pointer;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50px;
      height: 50px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23fff' d='M24.8 44.8c11.05 0 20-8.95 20-20s-8.95-20-20-20-20 8.95-20 20 8.95 20 20 20zm0 4.8C11.1 49.6 0 38.5 0 24.8 0 11.1 11.1 0 24.8 0c13.7 0 24.8 11.1 24.8 24.8 0 13.7-11.1 24.8-24.8 24.8zm11.57-22.406L18.77 37.29c-1.59.88-3.57-.26-3.57-2.1V14.4c0-1.85 1.99-2.98 3.57-2.1l17.6 10.696c1.64.92 1.64 3.288 0 4.198z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      transform: translate(-50%, -50%);
      pointer-events: none;
      user-select: none;
      z-index: 1;

      transition: $transition-fast;
    }

    img {
      display: none;
    }
  }

  // .grid-gallery__selector--video

  &__more {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #2f5095;
      opacity: 0.3;
      pointer-events: none;
    }
    &:before {
      content: attr(data-numbers);
      position: absolute;
      top: 50%;
      left: 50%;
      padding-left: 20px;
      width: 30px;
      height: 14px;
      text-align: center;
      line-height: 14px;
      font-size: 24px;
      font-weight: 500;
      color: theme-color("white");
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23fff' d='M13 8H8v5c0 .55-.45 1-1 1s-1-.45-1-1V8H1c-.55 0-1-.45-1-1s.45-1 1-1h5V1c0-.55.45-1 1-1s1 .45 1 1v5h5c.55 0 1 .45 1 1s-.45 1-1 1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-position: center left;
      background-repeat: no-repeat;
      background-size: contain;
      transform: translate(-50%, -50%);
      pointer-events: none;
      user-select: none;
      z-index: 1;

      transition: $transition-fast;
    }
  }

  // .grid-gallery__post-img

  &__post-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #f8f9fb;
    box-shadow: 0 0 4px rgb(11 2 18 / 8%);
    img {
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    @media (max-width: 767px) {
      background-size: 105%;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      // z-index: -2;

      transition: opacity $transition-fast;
      background-color: theme-color("blue5");
    }
  }

  // .grid-gallery__grid-margin-left

  &__grid-margin-left {
    margin-left: auto;
  }

  // .grid-gallery__width-1-3

  &__width-1-3 {
    width: calc((100% * 1 / 3.001) - 5px);
  }

  // .grid-gallery__grid-margin-top

  &__grid-margin-top {
    margin-top: 8px;
  }

  // .grid-gallery__hidden

  &__hidden {
    display: none;
  }
}

.reaction-img {
  position: absolute;
  top: 4px;
  left: 4px;
  min-width: 86px;
  height: 24px;
  border-radius: 3px;

  background-color: theme-color("white");

  // .reaction-img__item

  &__item {
    width: 50%;
    padding: 0 6px;
  }

  // .reaction-img__link

  &__link {
    svg {
      flex: 0 0 18px;
      fill: theme-color("gray");
      transition: $transition-fast;
      margin-right: 4px;
    }
    span {
      font-size: 14px;
      color: theme-color("gray");
      transition: $transition-fast;
    }

    &:hover {
      svg {
        fill: theme-color("green");
      }
      span {
        color: theme-color("green");
      }
    }
  }
}
