.page-hero {
  display: flex;
  justify-content: center;
  z-index: 1;
  height: 712px;
  background-color: #fff9f4;
  @media (max-width: 991px) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
    &.start {
      margin-left: 18px !important;
    }
    &.end {
      margin-left: -18px !important;
      @media (min-width: 576px) {
        margin-left: -53px !important;
      }
      div.swiper-pagination {
        left: 95px !important;
        right: 52px !important;
        @media (max-width: 576px) {
          left: 35px !important;
          right: 18px !important;
        }
      }
    }
  }
  .before-1 {
    &:before {
      content: url("images/hero-slider/tag-1.svg");
    }
  }
  .before-2 {
    &:before {
      content: url("images/hero-slider/tag-2.svg");
    }
  }
  .before-3 {
    &:before {
      content: url("images/hero-slider/tag-3.svg");
    }
  }
  .before-4 {
    &:before {
      content: url("images/hero-slider/tag-4.svg");
    }
  }
  .before-5 {
    &:before {
      content: url("images/hero-slider/tag-5.svg");
    }
  }
  .before-6 {
    &:before {
      content: url("images/hero-slider/tag-6.svg");
    }
  }
  .before-7 {
    &:before {
      content: url("images/hero-slider/tag-7.svg");
    }
  }
  &__right {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 800px;
    height: 640px;
    position: relative;
    z-index: 1;
    &:after {
      content: "";
      top: -20px;
      position: absolute;
      width: 100%;
      height: 139px;
      background-image: linear-gradient(to top, rgba(255, 249, 244, 0) 0%, #fff9f4 100%);
    }
    @media (max-width: 991px) {
      max-width: 100%;
      height: 500px;
    }
    &:before {
      position: absolute;
      left: 50px;
      bottom: 40px;
      z-index: 99;
    }
  }
  .swiper-pagination {
    bottom: 1px;
    right: 43px !important;
    width: auto !important;
    top: auto !important;
    height: 4px !important;
    border-radius: 2px;
    @media (max-width: 575px) {
      bottom: 0;
      height: 2px !important;
      left: 18px !important;
      right: 18px !important;
    }
    .swiper-pagination-progressbar-fill {
      background-color: #eba96a !important;
    }
  }
  &__left {
    width: 100%;
    height: calc(100vh - 48px);
    @media (max-width: 991px) {
      height: 100%;
      padding-bottom: 50px;
    }
  }
  &.page-hero--tiny {
    height: 420px;
    @media (max-width: 575px) {
      height: 485px;
    }
    &:after {
      content: none;
    }
  }
  &__info {
    max-width: 536px;
    padding-left: 90px;
    padding-top: 160px;
    @media (max-width: 575px) {
      max-width: 375px;
      padding-left: 0 !important;
    }
    @media (max-width: 991px) {
      padding-top: 50px;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
    }
    @media (max-width: 1199px) {
      padding-left: 50px;
    }
    h2 {
      color: #0b0212;
      @include roman;
      font-size: 48px;
      font-weight: 400;
      line-height: 36px;
      margin-bottom: 45px;
    }
    p {
      margin-bottom: 20px;
      max-width: 375px;
      color: #0b0212;
      @include roman;
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      a {
        font-size: 20px;
        color: #f97d00;
        @include med;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .swiper-slide {
    display: flex;
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
    }
  }
}
