//Glob Utils
@import "../variables";
@import "../bootstrap-utils";

.internal-card {
  padding: 0 17px;
  margin-bottom: 40px;

  // @include media-breakpoint-down(md) {
  //   flex-direction: column;
  //   align-items: center;
  // }

  // .internal-card--main

  &--main {
    margin-bottom: 32px;
    padding: 20px;

    background-color: theme-color("light-gray2");

    // @include media-breakpoint-down(md) {
    //   flex-direction: column;
    //   align-items: center;
    // }

    .internal-card__info {
      width: 55%;
      padding: 5px;
      padding-left: 5px;
      padding-right: 30px;

      @include media-breakpoint-down(md) {
        width: 100%;
        order: 2;
        padding-right: 5px;
        max-width: 235px;
      }

      h2 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 25px;

        color: theme-color("blue2");
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        color: theme-color("blue2");

        a {
          color: theme-color("blue5");
          font-size: 14px;
          text-align: left;

          &:hover {
            color: theme-color("blue5");
          }
        }
      }
    }

    .internal-card__img {
      padding-left: 5px;
      width: 100%;
      flex: 0 0 235px;
      max-width: 235px;

      @include media-breakpoint-down(md) {
        order: 1;
        padding-left: 0;
        flex: 0 0 244px;
        max-width: 244px;
        margin-bottom: 0;
      }

      img {
        width: 100%;
      }
    }
  }

  // .internal-card--feed

  &--feed,
  &--shop,
  &--aside {
    padding: 0;
    flex-direction: column;
    margin-bottom: 0;
  }

  // .internal-card--message
  &--message {
    margin-bottom: 16px;
    .internal-card__date {
      margin-left: 0;
    }
    .internal-card__body {
      margin-bottom: 0;
      &.no-img {
        p {
          &:last-of-type {
            margin-bottom: 0 !important;
          }
        }
      }
    }
    .internal-card__bottom {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 12px;
      .dislike-btn {
        margin-right: 35px;
      }
      &.like--up {
        .dislike-btn {
          display: none !important;
        }
        .like-btn {
          * {
            fill: #335491 !important;
          }
        }
      }
      &.like--down {
        .dislike-btn {
          * {
            fill: #335491 !important;
          }
        }
        .like-btn {
          display: none !important;
        }
      }
    }
    .like__all {
      display: flex;
      > a {
        width: 32px;
        height: 32px;
        display: block;
        margin-right: 8px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  // .internal-card--shop

  &--shop {
    .internal-card {
      &__grid--triple {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 320px;

        .grid-gallery {
          &__width-1-1 {
            width: calc(50% - 4px);
            height: 100%;
          }

          &__width-1-2 {
            margin-left: auto;
            width: calc(50% - 8px);
            height: 156px;
          }

          &__selector {
            height: 100%;
          }
        }
      }
    }
  }

  //triple img
  &--shop--triple {
    .internal-card__grid {
      @media (max-width: 767px) {
        flex-direction: row;
      }
    }
    .internal-card__grid--triple {
      @media (max-width: 767px) {
        height: 197px;
      }
    }
    .grid-gallery {
      &__width-1-1 {
        @media (max-width: 767px) {
          display: none !important;
        }
      }
      &__width-1-2 {
        @media (max-width: 767px) {
          margin-left: 0 !important;
          width: calc(50% - 8px) !important;
          height: 197px !important;
          margin-top: 0 !important;
        }
      }
      &__post-img {
        @media (max-width: 767px) {
          background-size: cover !important;
        }
      }
    }
  }
  &--shop--triple--video {
    .internal-card__grid {
      @media (max-width: 767px) {
        flex-direction: row;
      }
    }
    .internal-card__grid--triple {
      @media (max-width: 767px) {
        height: 415px;
      }
    }
    .grid-gallery {
      &__width-1-1 {
        @media (max-width: 767px) {
          max-height: 197px;
          width: calc(50% - 4px);
          height: 100%;
        }
      }
      &__width-1-2 {
        @media (max-width: 767px) {
          margin-left: 0 !important;
          width: calc(50% - 8px) !important;
          height: 197px !important;
          margin-top: 0 !important;
        }
        &.video {
          @media (max-width: 767px) {
            order: 4;
            width: 100% !important;
            margin-left: 0 !important;
            height: 197px !important;
            margin-top: 0 !important;
          }
        }
      }
      &__post-img {
        @media (max-width: 767px) {
          background-size: cover !important;
        }
      }
    }
  }

  // .internal-card--aside

  &--aside {
    .internal-card {
      &__body {
        > p {
          font-size: 18px;
          b {
            color: #0b0212;
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
          }
        }
      }
      &__other {
        .btn {
          max-width: 100%;
        }
      }
      // &__grid {
      //   .grid-gallery__selector {
      //     height: 180px;
      //   }
      // }
    }
  }

  // .internal-card__header

  &__header {
    width: 100%;
    margin-bottom: 16px;
  }

  // .internal-card__profile

  // &__profile {
  //   display: flex;
  //   flex-wrap: wrap;
  //   align-items: center;
  // }

  // .internal-card__avatar

  &__avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
    margin-bottom: 0;

    img {
      position: absolute;
      width: 100%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    span {
      display: none;
    }
  }

  // .internal-card__head-info

  &__head-info {
    width: calc(100% - 72px);
    padding-right: 40px;
  }

  // .internal-card__avatar--no-img

  &__avatar--no-img {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: theme-color("blue4");
    }

    img {
      display: none;
    }
    span {
      display: inline-block;
    }
  }

  // .internal-card__symbol

  &__symbol {
    font-size: 25px;
    line-height: 25.2px;
    text-transform: uppercase;
    z-index: 1;

    color: theme-color("white");
  }

  // .internal-card__name

  &__name {
    padding-top: 8px;
    font-size: 18px;
    letter-spacing: 0.64px;
    line-height: 18px;
    text-align: left;
    margin-bottom: 6px;

    color: theme-color("dark-blue");
  }

  // .internal-card__name--orange

  &__name--orange {
    text-transform: uppercase;

    color: theme-color("orange");
  }

  // .internal-card__subname

  &__subname {
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    margin-bottom: 0;

    color: theme-color("dark-blue");
  }

  // .internal-card__subname--light

  &__subname--light {
    font-weight: $font-weight-light;

    span {
      &:first-of-type {
        margin-bottom: 18px;
      }

      b {
        font-weight: $font-weight-bold;
      }
    }
  }

  // .internal-card__date

  &__date {
    margin-left: 13px;

    color: theme-color("gray");
  }

  // .internal-card__body

  &__body {
    margin-bottom: 25px;

    > p,
    > strong {
      width: 100%;
      padding: 0 8px;
    }

    > p {
      font-size: 16px;
      line-height: 24px;

      color: theme-color("dark-blue");
      b {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
      }
      &:first-of-type {
        margin-bottom: 20px;
      }

      a {
        font-size: 14px;
        line-height: 14px;

        color: theme-color("blue5");
      }
    }

    > figure {
      img {
        width: 100%;
      }
    }
  }

  // .internal-card__slider

  &__slider {
    margin-bottom: 20px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 0 8px;
  }

  // .internal-card__grid

  // &__grid {
  // }

  // .internal-card__grid--single

  &__grid--single {
    .grid-gallery__selector {
      height: 100%;
      padding-bottom: 56%;
    }
  }

  // .internal-card__grid--triple

  // &__grid--triple {
  //   @include media-breakpoint-down(sm) {

  //   }
  // }

  // .internal-card__grid--fivefold

  &__grid--fivefold {
    @include media-breakpoint-down(sm) {
      .grid-gallery__width-1-2 {
        &:first-of-type {
          width: 100%;
        }
        &:nth-of-type(2) {
          margin-left: 0;
          margin-top: 8px;
        }
      }
      .grid-gallery__width-1-3 {
        width: calc(50% - 4px);
        margin-left: 0;

        &:nth-of-type(3),
        &:last-of-type {
          margin-left: auto;
        }
      }
    }
  }

  // .internal-card__grid--margin-bt

  &__grid--margin-bt {
    margin-bottom: 16px;
  }

  // .internal-card__price

  &__price {
    padding: 0 8px;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 5px;

    font-weight: $font-weight-medium;
    color: theme-color("dark-blue");

    span {
      margin-right: 12px;
    }
  }

  // .internal-card__price--discount

  &__price--discount {
    > span {
      position: relative;
      color: theme-color("green");

      &:nth-of-type(2) {
        color: theme-color("gray");

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: theme-color("gray");
        }
      }
    }
  }

  // .internal-card__gift

  &__gift {
    padding: 0 8px;
    margin-bottom: -8px;
    > p {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 16px;

      color: theme-color("dark-blue");
    }

    .avatar {
      margin-right: 8px;
    }
  }

  // .internal-card__keywords

  &__keywords {
    padding: 0 8px;
  }

  // .internal-card__promo

  &__promo {
    span {
      display: inline-block;
      padding: 3px 16px;
      border-radius: 5px;
      font-size: 14px;
      text-align: center;
      margin-top: 2px;
      margin-bottom: 2px;

      font-weight: $font-weight-normal;
      color: theme-color("white");
      background-color: theme-color("green");
    }
  }

  // .internal-card__column

  &__column {
    figure {
      width: 50%;
      height: 275px;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        object-fit: cover;

        @include media-breakpoint-down(sm) {
          bottom: auto;
        }
      }
    }
    > div {
      width: 50%;
      padding-left: 24px;

      @include media-breakpoint-down(sm) {
        padding-left: 16px;
      }
    }

    h2 {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 30px;

      @include media-breakpoint-down(sm) {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 20px;
      }

      color: theme-color("dark-blue");
    }
    p {
      font-size: 18px;
      line-height: 18px;

      @include media-breakpoint-down(sm) {
        font-size: 14px;
        margin-bottom: 8px;
      }

      color: theme-color("dark-blue");
    }
  }

  // .internal-card__figure

  &__figure {
    position: relative;
    border: 1px solid #f8f9fb;
    box-shadow: 0 0 4px rgb(11 2 18 / 8%);
    img {
      width: 100%;
    }
  }

  // .internal-card__bottom

  &__bottom {
    width: 100%;
  }

  // .internal-card__other

  &__other {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .btn {
      max-width: 160px;
    }

    @include media-breakpoint-down(sm) {
      // padding-top: 20px;

      .btn-blue,
      .btn-orange {
        max-width: 100%;
      }
    }
  }

  // .internal-card__info

  &__info {
    width: 100%;
    padding-left: 32px;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(md) {
      padding-left: 0;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  // .internal-card__img

  &__img {
    width: 100%;
    flex: 0 0 120px;
    max-width: 120px;

    img {
      width: 100%;
    }
  }

  // .internal-card__desc

  &__desc {
    margin-bottom: 16px;

    @include media-breakpoint-down(md) {
      max-width: 330px;
      text-align: center;
      margin: 25px auto 25px;
    }

    h5 {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 5px;

      color: theme-color("dark-blue");
    }

    p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 2px;

      color: theme-color("dark-blue");
    }

    a {
      font-size: 14px;
      line-height: 14px;
      text-align: left;

      color: theme-color("blue");
    }
  }

  &__btn-more {
    position: absolute;
    top: 16px;
    right: 12px;
    width: 20px;
    height: 20px;

    .icon {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .btn-border,
  .btn-border-orange {
    margin-top: auto;

    @include media-breakpoint-down(md) {
      margin: 0 auto;
    }
    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
  }

  // options

  .options {
    top: 20px;
    right: 20px;
  }
}
