//Glob Utils
@import "../variables";
@import "../bootstrap-utils";

.list-green {
  li {
    position: relative;
    padding-left: 20px;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 12px;

    color: theme-color("dark-blue");

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      margin-bottom: 8px;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 2px;
      width: 12px;
      height: 12px;
      border-radius: 50%;

      background-color: theme-color("green");
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
