.member {
  padding-bottom: 100px;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
      text-align: center;
      max-width: 752px;
      margin-bottom: 35px;
      span {
        color: #0b0212;
        font-size: 40px;
        font-weight: 400;
        line-height: 56px;
        @include med;
      }
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    width: 100%;
    height: 240px;
    border-radius: 5px;
    background-color: #fff9f4;
    border: 1px solid #fff9f4;
    transition: 0.3s;
    margin-right: 35px;
    @media (max-width: 991px) {
      margin-bottom: 10px;
      margin-right: 10px;
    }
    @media (max-width: 450px) {
      max-width: 100%;
      margin: 10px;
    }
    &:last-child {
      margin-right: 0;
    }
    svg {
      transition: 0.3s;
      g {
        path {
          fill: #0b0212;
        }
      }
    }
    p {
      color: #0b0212;
      margin-top: 30px;
      font-size: 18px;
      @include med;
    }
    &:hover {
      border: 1px solid #f97d00;
      cursor: pointer;
      svg {
        g {
          path {
            fill: #f97d00;
          }
        }
      }
    }
  }
  &__cards {
    width: 100%;
    display: flex;
    @media (max-width: (991px)) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
}
