.modal-content {
  padding: 25px 30px;
  box-shadow: 0 15px 50px 30px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  border: 0;

  .modal-header {
    border: 0;
    padding: 0;
    padding-top: 40px;
    text-align: center;
    .modal-title {
      width: 100%;
      color: #0b0212;
      font-size: 30px;
      @include med();
    }
    .close {
      position: absolute;
      padding: 10px;
      margin: 0;
      top: 25px;
      right: 25px;
      width: 24px;
      height: 24px;
      &:after,
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 75%;
        height: 2px;
        border-radius: 8px;
        background-color: #335491;
        overflow: hidden;
      }
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  .modal-body {
    padding: 0;
    padding-top: 40px;
    .form {
      width: 100%;
      max-width: 575px;
      padding: 0;
      margin: 0 auto;

      &__input {
        margin-bottom: 24px;
      }

      &__single {
        position: relative;
        max-width: calc(50% - 7.5px);
        margin-bottom: 24px;
        &:nth-child(3),
        &:nth-child(4) {
          max-width: 100%;
          margin-right: 0;
        }

        label {
          padding-left: 16px;
        }

        input[type="password"] {
          font-family: "circle-font";
          font-style: normal;
          font-weight: normal;
          speak: none;
          font-variant: normal;
          text-transform: none;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 4rem;
          color: #99a9c9;
          letter-spacing: -4px;
          caret-color: transparent;
        }

        &.error {
          input {
            border: 1px solid #f70e31;
          }
        }

        .btn-blue-link {
          position: absolute;
          right: 0;
          top: 0;
          font-size: 14px;
        }
      }

      &__desc {
        display: inline-block;
        width: 100%;
        color: #828282;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 9px;

        @include roman();
      }

      &__errors-text {
        width: 100%;
        color: #f70e31;
        font-size: 14px;
        text-align: center;
        margin-bottom: 10px;

        @include roman();
      }

      &__button {
        max-width: 240px;
        height: 48px;
        margin: 0 auto;
      }

      .links {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;

        &__link {
          margin: 0 8px;
        }
      }

      .btn-blue-link {
        font-size: 16px;
      }

      .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #0b0212;
        line-height: 40px;
      }

      .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: 0 !important;
        outline: 0;
      }
      .select2-container--default.select2-container--open {
        .select2-selection--single .select2-selection__arrow b {
          border-color: transparent transparent #99a9c9 transparent;
        }
      }
      .select2-container {
        width: 100% !important;
        z-index: 1;
        .select2-selection--single {
          height: 40px;
          border-radius: 5px;
          background-color: #f8f9fb;
          border: 0;
          border: none !important;
          outline: none;
          padding: 0 16px;

          .select2-selection__arrow {
            height: 37px;
            right: 6px;
            b {
              border-color: #99a9c9 transparent transparent transparent;
            }
          }
        }
        .select2-selection__rendered {
          padding: 0 !important;
        }
        .select2-search--inline .select2-search__field {
          margin-top: 0;
        }
      }

      .select2-results__option {
        padding: 8px 16px;
      }
    }

    button:disabled {
      background-color: #35558f;
      opacity: 0.5;

      &:before {
        content: none;
      }
    }
  }

  .modal-footer {
    justify-content: center;
    flex-direction: column;
    border: 0;
    padding: 0;
    padding-bottom: 30px;

    .modal-border {
      position: relative;
      display: inline-block;
      margin: 32px 0;
      color: #99a9c9;
      font-size: 12px;
      letter-spacing: 0.86px;
      text-transform: uppercase;

      @include med();

      &::after,
      &::before {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        width: 140px;
        height: 1px;
        background-color: #99a9c9;
      }

      &::after {
        right: calc(100% + 16px);
      }

      &::before {
        left: calc(100% + 16px);
      }
    }

    .btn-border {
      max-width: 240px;
      height: 48px;
    }
  }
}

.modal-login {
  .modal-content {
    .modal-body {
      .form {
        &__input {
          justify-content: center;
        }
        &__single {
          max-width: 280px;
          margin-right: 0;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .modal-register {
    .modal-dialog {
      max-width: 700px;
      margin: 1.75rem auto;
    }
  }
  .modal-login {
    .modal-dialog {
      max-width: 460px;
      margin: 1.75rem auto;
    }
  }
}

@media (min-width: 576px) {
  .modal-login {
    .modal-dialog {
      max-width: 460px;
      margin: 1.75rem auto;
    }
  }
}


.modal-backdrop {
  background-color: rgba(51, 84, 145, 0.15);
}
