.platform {
  padding-bottom: 165px;
  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__video {
    width: 100%;
    max-width: 560px;
    height: 320px;
    background-color: #fff9f4;
  }
  &__right,
  &__left {
    width: 100%;
  }
  &__text {
    max-width: 486px;
    margin-left: 95px;
    a {
      margin-top: 55px;
      max-width: 240px;
      height: 48px;
    }
    p {
      margin-top: 15px;
      color: #0b0212;
      @include roman;
      font-size: 22px;
      font-weight: 400;
      line-height: 22px;
    }
  }
}
