.settings {
  .main-content {
    justify-content: flex-start;
  }
}
.active-item {
  position: relative;
  color: #f77d0e !important;
  a {
    color: #f77d0e !important;
  }
  &::before {
    content: "";
    position: absolute;
    left: -16px;
    width: 4px;
    height: 24px;
    background-color: #f77d0e;
  }
}
.tabs-global {
  .tab-content {
    width: 100%;
    max-width: 560px;
    height: 100%;
    box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    background-color: #fff;
    padding: 24px 24px 30px 24px;
    margin-bottom: 50px;

    select {
      padding-left: 10px;
      appearance: none;
      width: 100%;
      max-width: 328px;
      height: 40px;
      border-radius: 5px;
      background-color: #f8f9fb;
      position: relative;
      border: none;
      color: #0b0212;
      @include roman;
      font-size: 16px;
      &::after {
        content: url("images/settings/arrow-down.svg");
        position: absolute;
        right: 0;
        width: 12px;
        height: 6px;
      }
    }
    p {
      color: #828282;
      @include roman;
      font-size: 14px;
      line-height: 22px;
    }
    h5 {
      text-transform: uppercase;
      color: #335491;
      @include med;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 18px;
    }
  }
  ul,
  li {
    list-style: none;
  }
  .active-link {
    span {
      color: #f77e10 !important;
    }
  }
  a {
    padding-left: 0;
    color: #315293;
    @include roman;
    font-size: 14px;

    svg {
      margin-right: 16px;
    }
  }
  .section-settings {
    margin-bottom: 50px;
    li {
      margin-left: 15px;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .account-preferences {
    &__block {
      margin-bottom: 45px;
      &:first-child {
        margin-bottom: 35px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      b {
        color: #0b0212;
        @include roman;
        font-size: 16px;
      }
      .blue-span {
        text-transform: uppercase;
        color: #335491;
        @include med;
        font-size: 12px;
        font-style: normal;
        letter-spacing: 0.8px;
        line-height: 12px;
      }
    }
    &__check {
      margin-top: 15px;
      margin-bottom: 20px;
      display: flex;
      strong {
        color: #0b0212;
        @include roman;
        font-size: 16px;
      }
    }
    &__card {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      img {
        box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
        width: 56px;
        height: 56px;
        border-radius: 5px;
        transition: 0.3s;
        &:hover {
          border: 1px solid #f97d00;
          cursor: pointer;
        }
      }
      span {
        text-align: center;
        margin-top: 8px;
        opacity: 0.75;
        color: #0b0212;
        @include roman;
        font-size: 14px;
      }
    }
    &__bg-3 {
      width: 56px;
      height: 56px;
      box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
      border-radius: 5px;
      background-color: #fcfcfc;
      &:hover {
        border: 1px solid #f97d00;
        cursor: pointer;
      }
    }
    &__bg-5 {
      width: 56px;
      height: 56px;
      box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
      border-radius: 5px;
      background-color: #fffcf9;
      &:hover {
        border: 1px solid #f97d00;
        cursor: pointer;
      }
    }
    &__bg-4 {
      width: 56px;
      height: 56px;
      box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
      border-radius: 5px;
      background-color: #f8f9fb;
      &:hover {
        border: 1px solid #f97d00;
        cursor: pointer;
      }
    }
    &__line {
      display: flex;
      margin-top: 20px;
    }
    .slideThree__checked {
      background-color: #fff !important;
    }
    .check {
      background-color: #fff !important;
      label {
        left: 3px;
      }
    }
    .slideThree {
      margin-right: 12px;
      margin-left: 12px;
      width: 48px;
      height: 24px;
      border-radius: 12px;
      border: 1px solid #315296;
      background-color: #315293;
      position: relative;
      label {
        margin-left: 0 !important;
        display: block;
        width: 18px;
        height: 18px;
        box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
        border: 1px solid #315296;
        background-color: #fff;
        cursor: pointer;
        position: absolute;
        top: 2px;
        right: 3px;
        z-index: 1;
        border-radius: 50%;
        transition: 0.3s;
      }
      input[type="checkbox"] {
        visibility: hidden;
      }
    }
  }
}
