//Glob Utils
@import "../variables";
@import "../bootstrap-utils";

.theme-background {

  // .theme-background__list

  // &__list {
  // }

  // .theme-background__item

  &__item {
    margin-right: 8px;
    margin-bottom: 8px;

    :last-of-type {
      margin-right: 0;
    }
  }

  // .theme-background__link

  &__link {

    figure {
      position: relative;
      width: 56px;
      height: 56px;
      // border: 1px solid transparent;
      border-width: 0;
      border-style: solid;
      border-color: transparent;
      border-radius: 5px;
      margin-bottom: 8px;

      transition: $transition-fast;
      box-shadow: $shadow-theme-card;
      background-color: theme-color("light-gray");

      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        height: 100%;
        margin: auto;
      }
    }

    span {
      font-size: 14px;
      line-height: 17px;

      color: theme-color("dark-blue");
    }

    &:hover {
      figure {
        border-width: 1px;
        border-color: theme-color("orange");
      }
    }
  }
}
