<!-- modal-add-timeline -->
<div class="modal right fade modal-add-timeline" id="add-timeline" role="dialog" data-focus="false" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content position-relative">
      <!-- modal-header -->
      <div class="modal-header d-flex align-items-center">
        <!-- head for side modal -->
        <div class="head-modal-info d-flex align-items-center flex-wrap">
          <figure
            class="head-modal-info__avatar head-modal-info__avatar--no-img position-relative d-flex align-items-center justify-content-center overflow-hidden">
            <img src="" alt="avatar">
            <span class="head-modal-info__symbol">AD</span>
          </figure>
          <div class="head-modal-info__description">
            <h2 class="head-modal-info__name">Add to a timeline</h2>
            <p class="head-modal-info__subname">
              <span>Your ID: </span>
              <span class="head-modal-info__num">3491_5650</span>
            </p>
          </div>
        </div>
        <!-- /head for side modal -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <!-- /modal-header -->
      <!-- modal-body -->
      <div class="modal-body">
        <!-- form -->
        <form action="#" id="add-timeline-form" class="form">
          <div class="form__inputs">
            <div class="scroll-div">
              <!-- for error add class div form__single - *error* -->
              <div class="form__single form__single--fluid  error">
                <label class="form__label">Title</label>
                <input type="text" class="form__input" required="">
                <span class="form__symbol-error"></span>
              </div>
              <!-- for error add class div form__single - *error* -->
              <div class="form__single form__single--fluid">
                <label class="form__label">Budget</label>
                <input type="text" class="form__input" required="">
                <span class="form__symbol-error"></span>
              </div>
              <div class="form__single form__single--fluid">
                <label class="form__label">Content (optional)</label>
                <textarea class="form__textarea"></textarea>
                <span class="form__symbol-error"></span>
              </div>

              <div class="form__wrap">
                <span class="form__wrap-title">Date and time</span>
                <!-- for error add class div form__single - *error* -->
                <div class="form__single form__single--date form__single--fluid">
                  <label class="form__label">Set a follow-up date</label>
                  <input type="text" class="form__input" data-toggle="datepicker" required="">
                  <span class="form__symbol-error"></span>
                </div>
                <!-- for error add class div form__single - *error* -->
                <div class="form__single form__single--time form__single--fluid">
                  <label class="form__label">Set a time</label>
                  <input type="text" class="form__input" data-toggle="timepicker" required="">
                  <span class="form__symbol-error"></span>
                </div>
              </div>

              <div class="form__wrap">
                <span class="form__wrap-title">Add banner (optional)</span>
                <div class="form__single">
                  <a href="#add-photo" data-toggle="modal"
                    class="new-banner position-relative d-flex align-items-center justify-content-center">
                    <i class="icon icon-plus-blue"></i>
                  </a>
                </div>
              </div>

              <div class="form__wrap form__wrap--location">
                <span class="form__wrap-title">Location</span>
                <!-- for error add class div form__single - *error* -->
                <div class="form__single form__single--fluid">
                  <label class="form__label">address line 1</label>
                  <input type="text" class="form__input" required="">
                  <span class="form__symbol-error"></span>
                </div>
                <!-- for error add class div form__single - *error* -->
                <div class="form__single form__single--fluid">
                  <label class="form__label">address line 2</label>
                  <input type="text" class="form__input" required="">
                  <span class="form__symbol-error"></span>
                </div>
                <!-- for error add class div form__single - *error* -->
                <div class="form__single form__single--fluid">
                  <label class="form__label">City</label>
                  <input type="text" class="form__input" required="">
                  <span class="form__symbol-error"></span>
                </div>
                <!-- for error add class div form__single - *error* -->
                <div class="form__single form__single--fluid">
                  <label class="form__label">State</label>
                  <input type="text" class="form__input" required="">
                  <span class="form__symbol-error"></span>
                </div>
                <!-- for error add class div form__single - *error* -->
                <div class="form__single">
                  <label class="form__label">Postcode</label>
                  <input type="text" class="form__input" required="">
                  <span class="form__symbol-error"></span>
                </div>
                <!-- for error add class div form__single - *error* -->
                <div class="form__single form__single--fluid">
                  <label class="form__label">Country</label>
                  <input type="text" class="form__input" required="">
                  <span class="form__symbol-error"></span>
                </div>
              </div>

              <div class="form__wrap">
                <span class="form__wrap-title">Tags</span>
                <div class="form__single form__single--select form__single--select-user form__single--fluid">
                  <label class="form__label">write to people or groups</label>
                  <select class="form__input form__single--select-profile" data-toggle="select-img" multiple="multiple">
                    <option value="user-1">Shop</option>
                    <option value="user-2">Mall</option>
                  </select>
                  <span class="form__symbol-error"></span>
                </div>

              </div>

              <div class="form__wrap">
                <span class="form__wrap-title">Who is coming?</span>
                <div class="form__single form__single--fluid flex-wrap flex-row">

                  <div class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                    <img src="" alt="">
                    <span class="avatar__symbol">JS</span>
                  </div>

                  <div class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                    <img src="" alt="">
                    <span class="avatar__symbol">JS</span>
                  </div>

                  <div class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                    <img src="" alt="">
                    <span class="avatar__symbol">JS</span>
                  </div>

                  <div class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                    <img src="" alt="">
                    <span class="avatar__symbol">JS</span>
                  </div>

                  <div class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                    <img src="" alt="">
                    <span class="avatar__symbol">JS</span>
                  </div>

                  <div class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                    <img src="" alt="">
                    <span class="avatar__symbol">JS</span>
                  </div>

                  <div class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                    <img src="" alt="">
                    <span class="avatar__symbol">JS</span>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- modal-footer -->
          <div class="modal-footer w-100 d-flex align-items-center justify-content-center">
            <button class="add-timeline-form btn-orange">Add to a timeline</button>
          </div>
          <!-- /modal-footer -->
        </form>
        <!-- /form -->
      </div>
      <!-- /modal-body -->
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<!-- /modal-add-timeline -->