<!-- modal-add-photo -->
<div class="modal fade add-files-default" tabindex="1" id="add-files-default">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content position-relative">
      <!-- modal-header -->
      <div class="modal-header d-flex align-items-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <!-- /modal-header -->
      <!-- modal-body -->
      <div class="modal-body">
        <div class="drop-photo drop-files dropzone position-relative d-flex flex-wrap flex-column align-items-center justify-content-center">
          <div class="drop-photo__start dz-message">
            <figure class="position-relative">
              <i class="icon icon-cloud"></i>
            </figure>
            <h4>Drag and drop your files</h4>
            <p>Or <span>browse</span> to choose a file</p>
          </div>
        </div>
      </div>
      <!-- /modal-body -->
      <div class="modal-footer d-flex flex-sm-row align-items-center justify-content-end">
        <a href="#" class="btn-blue" data-dismiss="modal">Save</a>
      </div>
    </div>
  </div>
</div>
<!-- /modal-add-photo -->
