<!-- modal-add-timeline-product -->
<div class="modal right fade modal-add-timeline-product" id="add-timeline-product" data-focus="false" tabindex="-1"
  role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content position-relative">
      <!-- modal-header -->
      <div class="modal-header d-flex align-items-center">
        <!-- head for side modal -->
        <div class="head-modal-info d-flex align-items-center flex-wrap">
          <figure
            class="head-modal-info__avatar position-relative d-flex align-items-center justify-content-center overflow-hidden">
            <img src="images/shop/product.jpg" alt="avatar">
            <span class="head-modal-info__symbol">AD</span>
          </figure>
          <div class="head-modal-info__description">
            <h2 class="head-modal-info__name">Add to timeline</h2>
            <p class="head-modal-info__subname">
              <span>Name of the product</span>
            </p>
          </div>
        </div>
        <!-- /head for side modal -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <!-- /modal-header -->
      <!-- modal-body -->
      <div class="modal-body">
        <!-- form -->
        <form action="#" id="add-timeline-product-form" class="form">
          <div class="form__inputs">
            <div class="scroll-div">
              <!-- for error add class div form__single - *error* -->
              <div class="form__single form__single--date form__single--fluid">
                <label class="form__label">Set a follow-up date</label>
                <input type="text" class="form__input" data-toggle="datepicker" required="">
                <span class="form__symbol-error"></span>
              </div>

              <div class="form__checkbox-wrap form__checkbox-wrap--custom">
                <input type="checkbox" id="checkbox-remind" class="form__checkbox-orange" name="checkbox-remind" />
                <label for="checkbox-remind">
                  Remind me a day before
                </label>
              </div>

              <div class="form__single form__single--fluid">
                <label class="form__label">Write Share message (optional)</label>
                <textarea class="form__textarea" placeholder="Write something or add hashtags"></textarea>
                <span class="form__symbol-error"></span>
              </div>

              <div class="form__wrap">
                <span class="form__wrap-title">whose timeline you want to write to</span>

                <div class="form__radio-wrap">
                  <input type="radio" id="radio-product-one" class="form__radio-orange" name="radio-product" checked />
                  <label for="radio-product-one">
                    My timeline
                  </label>
                </div>
                <div class="form__radio-wrap">
                  <input type="radio" id="radio-product-two" class="form__radio-orange" name="radio-product" />
                  <label for="radio-product-two">
                    Write onto others
                  </label>
                </div>

                <div class="form__inputs">
                  <div class="form__wrap">
                    <div
                      class="form__single form__single--select form__single--select-profile form__single--fluid form__single--select-disabled">
                      <label class="form__label">Start typing name</label>
                      <select class="form__input" data-toggle="select-profile" multiple="multiple">
                        <option value="user-1">Terry Smith</option>
                        <option disabled="disabled" value="user-7">Terry Will Green</option>
                        <option value="user-3">Terry Brown</option>
                      </select>
                      <span class="form__note">
                        You can share anything that will make others smile. Be social and caring for others
                      </span>
                      <span class="form__symbol-error"></span>
                    </div>
                  </div>
                </div>


              </div>

              <div class="form__other">
                <button class="btn btn-orange">Save</button>
              </div>
            </div>
          </div>
        </form>
        <!-- /form -->
      </div>
      <!-- /modal-body -->
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<!-- /modal-add-timeline-product -->