<!-- modal-cart -->
<div class="modal right fade modal-cart" id="cart" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content position-relative">
      <!-- modal-header -->
      <div class="modal-header d-flex align-items-center">
        <!-- head for side modal -->
        <div class="head-modal-info d-flex align-items-center flex-wrap">
          <figure
            class="head-modal-info__avatar head-modal-info__avatar--no-img position-relative d-flex align-items-center justify-content-center overflow-hidden">
            <img src="" alt="avatar">
            <span class="head-modal-info__symbol">AD</span>
          </figure>
          <div class="head-modal-info__description">
            <h2 class="head-modal-info__name">Your Cart</h2>
            <p class="head-modal-info__subname">
              <span>Your ID: </span>
              <span class="head-modal-info__num">3491_5650</span>
            </p>
          </div>
        </div>
        <!-- /head for side modal -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <!-- /modal-header -->
      <!-- modal-body -->
      <div class="modal-body">
        <div class="scroll-div">
          <div class="cart">
            <ul class="cart__list list-unstyled mb-0">
              <li class="cart__item">
                <section class="item-cart position-relative">
                  <div class="item-cart__header d-flex align-items-start flex-wrap">
                    <figure class="item-cart__img position-relative">
                      <img src="images/shop/product-85px.jpg" alt="product">
                    </figure>
                    <div class="item-cart__description">
                      <h2>Lorem ipsum dolor sit amet lorem ipsum dolor</h2>
                      <div class="item-cart__price d-flex align-items-center">
                        <span>$49.99</span>
                        <span>1x 250 ml</span>
                      </div>
                      <div class="item-cart__quantity-wrap d-flex align-self-center">
                        <div class="item-cart__quantity position-relative d-flex align-self-center">
                          <button class="item-cart__minus">
                            <span class="icon icon-minus"></span>
                          </button>
                          <span class="item-cart__int">1</span>
                          <button class="item-cart__plus">
                            <span class="icon icon-plus"></span>
                          </button>
                        </div>
                        <span>quantity</span>
                      </div>
                    </div>
                  </div>
                  <div class="item-cart__footer">
                    <div class="item-cart__user d-flex align-items-start">
                      <figure class="position-relative d-flex align-self-center justify-content-center">
                        <img src="images/profiles/user-1.png" alt="user">
                        <span>JS</span>
                      </figure>
                      <p class="d-flex flex-column">
                        <span>for:</span>
                        <span>Terry Smith</span>
                      </p>
                    </div>
                  </div>

                  <button class="item-cart__btn"></button>
                </section>
              </li>
              <li class="cart__item">
                <section class="item-cart position-relative">
                  <div class="item-cart__header d-flex align-items-start flex-wrap">
                    <figure class="item-cart__img position-relative">
                      <img src="images/shop/product-85px.jpg" alt="product">
                    </figure>
                    <div class="item-cart__description">
                      <h2>Lorem ipsum dolor sit amet lorem ipsum dolor</h2>
                      <div class="item-cart__price d-flex align-items-center">
                        <span>$49.99</span>
                        <span>1x 250 ml</span>
                      </div>
                      <div class="item-cart__quantity-wrap d-flex align-self-center">
                        <div class="item-cart__quantity position-relative d-flex align-self-center">
                          <button class="item-cart__minus">
                            <span class="icon icon-minus"></span>
                          </button>
                          <span class="item-cart__int">1</span>
                          <button class="item-cart__plus">
                            <span class="icon icon-plus"></span>
                          </button>
                        </div>
                        <span>quantity</span>
                      </div>
                    </div>
                  </div>
                  <div class="item-cart__footer">
                    <div class="item-cart__optional">
                      <ul class="mb-0">
                        <li>
                          Volume: <b>500 ml</b>
                        </li>
                        <li>
                          Flavoure: <b>banana</b>
                        </li>
                        <li>
                          Servings: <b>20</b>
                        </li>
                      </ul>
                    </div>
                    <div class="item-cart__user d-flex align-items-start">
                      <figure class="position-relative d-flex align-self-center justify-content-center">
                        <img src="images/profiles/user-1.png" alt="user">
                        <span>JS</span>
                      </figure>
                      <p class="d-flex flex-column">
                        <span>for:</span>
                        <span>Terry Smith</span>
                      </p>
                    </div>
                  </div>

                  <button class="item-cart__btn"></button>
                </section>
              </li>
              <li class="cart__item">
                <section class="item-cart position-relative">
                  <div class="item-cart__header d-flex align-items-start flex-wrap">
                    <figure class="item-cart__img position-relative">
                      <img src="images/shop/product-85px.jpg" alt="product">
                    </figure>
                    <div class="item-cart__description">
                      <h2>Lorem ipsum dolor sit amet lorem ipsum dolor</h2>
                      <div class="item-cart__price d-flex align-items-center">
                        <span>$49.99</span>
                        <span>1x 250 ml</span>
                      </div>
                      <div class="item-cart__quantity-wrap d-flex align-self-center">
                        <div class="item-cart__quantity position-relative d-flex align-self-center">
                          <button class="item-cart__minus">
                            <span class="icon icon-minus"></span>
                          </button>
                          <span class="item-cart__int">1</span>
                          <button class="item-cart__plus">
                            <span class="icon icon-plus"></span>
                          </button>
                        </div>
                        <span>quantity</span>
                      </div>
                    </div>
                  </div>
                  <div class="item-cart__footer">
                    <div class="item-cart__optional">
                      <ul class="mb-0">
                        <li>
                          Volume: <b>500 ml</b>
                        </li>
                        <li>
                          Flavoure: <b>banana</b>
                        </li>
                        <li>
                          Servings: <b>20</b>
                        </li>
                      </ul>
                    </div>
                    <div class="item-cart__user d-flex align-items-start">
                      <figure class="position-relative d-flex align-self-center justify-content-center">
                        <img src="images/profiles/user-1.png" alt="user">
                        <span>JS</span>
                      </figure>
                      <p class="d-flex flex-column">
                        <span>for:</span>
                        <span>Terry Smith</span>
                      </p>
                    </div>
                  </div>

                  <button class="item-cart__btn"></button>
                </section>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /modal-body -->
      <!-- modal-footer -->
      <div class="modal-footer w-100 d-flex flex-column align-items-center justify-content-center">
        <div class="footer-center">
          <div class="cart-total d-flex align-items-center">
            <span>Cart total:</span>
            <span><b>AUD</b><b>$49.99</b></span>
          </div>
          <button class="add-timeline-form btn-orange">View Cart</button>
        </div>
      </div>
      <!-- /modal-footer -->
    </div>
  </div>
</div>
<!-- /modal-cart -->