<!-- modal-create-goss -->
<div class="modal hide right fade modal-create-goss" tabindex="-1" id="create-goss" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content position-relative">
      <!-- modal-header -->
      <div class="modal-header d-flex align-items-center">
        <!-- head for side modal -->
        <div class="head-modal-info d-flex align-items-center flex-wrap">
          <figure
            class="head-modal-info__avatar head-modal-info__avatar--no-img position-relative d-flex align-items-center justify-content-center overflow-hidden">
            <img src="" alt="avatar">
            <span class="head-modal-info__symbol">AD</span>
          </figure>
          <div class="head-modal-info__description">
            <h2 class="head-modal-info__name">What’s the goss?</h2>
            <p class="head-modal-info__subname">
              <span>Your ID: </span>
              <span class="head-modal-info__num">3491_5650</span>
            </p>
          </div>
        </div>
        <!-- /head for side modal -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <!-- /modal-header -->
      <!-- modal-body -->
      <div class="modal-body">
        <!-- form -->
        <form action="#" id="create-goss-form" class="form">
          <div class="form__inputs">
            <div class="scroll-div">
              <div class="form__single form__single--select form__single--select-default form__single--fluid">
                <label class="form__label">Goss type</label>
                <select class="form__select form__select--default" data-toggle="select">
                  <option value="select-1">Just for laugh</option>
                  <option value="select-2">Just for laugh</option>
                  <option value="select-3">Just for laugh</option>
                </select>
                <span class="form__note">
                  You can share anything that will make others smile. Be social and caring for others
                </span>
              </div>
              <!-- for error add class div form__single - *error* -->
              <div class="form__single form__single--fluid">
                <label class="form__label">Goss title (optional)</label>
                <input type="text" class="form__input" required="">
                <span class="form__symbol-error"></span>
              </div>
              <div class="form__single form__single--fluid">
                <label class="form__label">Write some text to your goss (optional)</label>
                <textarea class="form__textarea"></textarea>
                <span class="form__symbol-error"></span>
              </div>

              <div class="form__wrap">
                <span class="form__wrap-title">Add goss images (optional)</span>
                <div class="form__single">
                  <a href="#add-photo" data-toggle="modal"
                    class="new-banner position-relative d-flex align-items-center justify-content-center">
                    <i class="icon icon-plus-blue"></i>
                    <img class="profile-privat--img" onError="this.style.display='none'" src="" alt="">
                  </a>
                </div>
              </div>

              <div class="form__wrap">
                <span class="form__wrap-title">Add goss images (optional)</span>
                <div
                  class="form__single form__single--image-wrap d-flex align-items-start justify-content-between flex-wrap flex-row">
                  <figure
                    class="form__preview-img form__preview-img--no-img position-relative d-flex align-items-center justify-content-center">
                    <img class="profile-privat--img" onError="this.style.display='none'" src="" alt="">
                  </figure>

                  <div class="form__preview-add-img position-relative d-flex align-items-start flex-wrap">
                    <a href="#add-photo" data-toggle="modal"
                      class="new-banner position-relative d-flex align-items-center justify-content-center">
                      <i class="icon icon-plus-blue"></i>
                      <img class="profile-privat--img" onError="this.style.display='none'" src="" alt="">
                    </a>
                    <a href="#add-photo" data-toggle="modal"
                      class="new-banner position-relative d-flex align-items-center justify-content-center">
                      <i class="icon icon-plus-blue"></i>
                      <img class="profile-privat--img" onError="this.style.display='none'" src="" alt="">
                    </a>
                    <a href="#add-photo" data-toggle="modal"
                      class="new-banner position-relative d-flex align-items-center justify-content-center">
                      <i class="icon icon-plus-blue"></i>
                    </a>
                    <a href="#add-photo" data-toggle="modal"
                      class="new-banner position-relative d-flex align-items-center justify-content-center">
                      <i class="icon icon-plus-blue"></i>
                      <img class="profile-privat--img" onError="this.style.display='none'" src="" alt="">
                    </a>
                  </div>
                </div>
              </div>

              <div class="form__wrap">
                <span class="form__wrap-title">Poll (optional)</span>

                <div class="form__single form__single--fluid">
                  <span class="form__add-desc">People can rate images on this goss</span>

                  <div class="form__checkbox-wrap d-flex align-items-center">
                    <span>No</span>
                    <input type="checkbox" id="rate-images" class="form__checkbox form__checkbox--content"
                      name="rate-images" checked />
                    <label for="rate-images">
                    </label>
                    <span class="bold">Yes</span>
                  </div>
                </div>
              </div>

              <div class="form__wrap form__wrap--location">
                <span class="form__wrap-title">Who can see your goss?</span>

                <div class="form__single form__single--select form__single--select-default form__single--fluid">
                  <label class="form__label">Goss type</label>
                  <select class="form__select form__select--default" data-toggle="select">
                    <option value="select-1">Everyone</option>
                    <option value="select-2">Everyone</option>
                    <option value="select-3">Everyone</option>
                  </select>
                  <select class="form__select form__select--default" data-toggle="select">
                    <option value="select-1">Over 16</option>
                    <option value="select-2">Over 16</option>
                    <option value="select-3">Over 16</option>
                  </select>

                  <span class="form__note">
                    Classify your goss properly so that it can be displayed to the right audience
                  </span>
                </div>

                <div class="form__single form__single--fluid form__single--checkbox">
                  <input type="checkbox" id="checkbox-language" class="form__checkbox form__checkbox--language"
                    name="checkbox-language" checked />
                  <label for="checkbox-language">
                    Coarse language is
                    <b>enabled</b>
                  </label>
                </div>
                <div class="form__single form__single--fluid">
                  <input type="checkbox" id="checkbox-content" class="form__checkbox form__checkbox--content"
                    name="checkbox-content" />
                  <label for="checkbox-content">
                    Adult content is
                    <b>disabled</b>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!-- modal-footer -->
          <div class="modal-footer w-100 d-flex align-items-center justify-content-center">
            <button class="add-timeline-form btn-orange">Post a goss</button>
          </div>
          <!-- /modal-footer -->
        </form>
        <!-- /form -->
      </div>
      <!-- /modal-body -->
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<!-- /modal-create-goss -->