<!-- galery-modal -->
<div class="modal galery-modal fade" id="galery-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close-galery"><img src="images/icons/close-24px.svg" alt="close"></a>
                <div class="galery-modal__author">
                    <a href="#" class="galery-modal__photo"
                        style="background-image: url('images/profiles/img1.png');"></a>
                    <div class="galery-modal__detail">
                        <a href="#" class="galery-modal__name">Some User</a>
                        <span class="galery-modal__date">3 hours ago</span>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <section class="section-content gallery-full">
                    <a href="#" class="swiper-button-prev"></a>
                    <a href="#" class="swiper-button-next"></a>
                    <div class="swiper-container gallery-top">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"
                                style="background-image:url(https://swiperjs.com/demos/images/nature-1.jpg)">
                            </div>
                            <div class="swiper-slide"
                                style="background-image:url(https://swiperjs.com/demos/images/nature-2.jpg)">
                            </div>
                            <div class="swiper-slide"
                                style="background-image:url(https://swiperjs.com/demos/images/nature-3.jpg)">
                            </div>
                            <div class="swiper-slide"
                                style="background-image:url(https://swiperjs.com/demos/images/nature-4.jpg)">
                            </div>
                            <div class="swiper-slide"
                                style="background-image:url(https://swiperjs.com/demos/images/nature-5.jpg)">
                            </div>
                            <div class="swiper-slide"
                                style="background-image:url(https://swiperjs.com/demos/images/nature-6.jpg)">
                            </div>
                            <div class="swiper-slide"
                                style="background-image:url(https://swiperjs.com/demos/images/nature-7.jpg)">
                            </div>
                            <div class="swiper-slide"
                                style="background-image:url(https://swiperjs.com/demos/images/nature-8.jpg)">
                            </div>
                            <div class="swiper-slide"
                                style="background-image:url(https://swiperjs.com/demos/images/nature-9.jpg)">
                            </div>
                            <div class="swiper-slide"
                                style="background-image:url(https://swiperjs.com/demos/images/nature-10.jpg)">
                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                    </div>
                </section>

                <section class="section-content section-content--width">
                    <div class="swiper-container gallery-thumbs">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"
                                style="background-image:url(https://swiperjs.com/demos/images/nature-1.jpg)">
                            </div>
                            <div class="swiper-slide"
                                style="background-image:url(https://swiperjs.com/demos/images/nature-2.jpg)">
                            </div>
                            <div class="swiper-slide"
                                style="background-image:url(https://swiperjs.com/demos/images/nature-3.jpg)">
                            </div>
                            <div class="swiper-slide"
                                style="background-image:url(https://swiperjs.com/demos/images/nature-4.jpg)">
                            </div>
                            <div class="swiper-slide"
                                style="background-image:url(https://swiperjs.com/demos/images/nature-5.jpg)">
                            </div>
                            <div class="swiper-slide"
                                style="background-image:url(https://swiperjs.com/demos/images/nature-6.jpg)">
                            </div>
                            <div class="swiper-slide"
                                style="background-image:url(https://swiperjs.com/demos/images/nature-7.jpg)">
                            </div>
                            <div class="swiper-slide"
                                style="background-image:url(https://swiperjs.com/demos/images/nature-8.jpg)">
                            </div>
                            <div class="swiper-slide"
                                style="background-image:url(https://swiperjs.com/demos/images/nature-9.jpg)">
                            </div>
                            <div class="swiper-slide"
                                style="background-image:url(https://swiperjs.com/demos/images/nature-10.jpg)">
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <!--
      <div class="modal-footer">
      </div>
      -->
        </div>
    </div>
</div>
<!-- /galery-modal -->