<!-- Modal goss-->
<div class="modal modal-goss fade" id="goss" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">What is a goss?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-info">
          <p>SplitChek goss is a <span>way to communicate</span> with shoppers using short messages. These messages can
            include promo codes, your business stories, new products and any other information that creates social
            interactions with shoppers</p>
          <img src="images/modal/sponsored.png" alt="#">
          <div class="modal-wishlist__link">
            <a href="#" data-dismiss="modal" aria-label="Close">Got it</a>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<!-- /Modal goss-->
