<!-- modal-goss-gallery -->
<div class="modal modal-goss-gallery fade" id="goss-gallery" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="goss-gallery">
          <a href="#" class="goss-gallery__profile d-flex flex-wrap align-items-start">
            <figure class="goss-gallery__avatar">
              <img src="images/profiles/img1.png" alt="avatar">
              <span class="goss-gallery__symbol"></span>
            </figure>
            <div class="goss-gallery__head-info">
              <h2 class="goss-gallery__name goss-gallery__name--orange">Some User</h2>
              <p class="goss-gallery__subname goss-gallery__subname--light d-flex flex-column">
                <span>3 hours ago</span>
              </p>
            </div>
          </a>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="goss-gallery">
          <div class="goss-gallery__slider swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide" data-hash="0">
                <div class="goss-gallery__item">
                  <figure class="goss-gallery__img">
                    <img src="images/shop/goss-slider.jpg" alt="img">
                  </figure>
                  <div class="goss-gallery__desc">
                    <p>
                      Genetix Nutrition products are developed by an internal research team assisted by Grant Mayo to
                      ensure the greatest quality
                    </p>
                  </div>
                  <div class="goss-gallery__price goss-gallery__price--discount d-flex align-items-center flex-wrap">
                    <span>$49.99</span>
                    <span>save $11.00</span>
                    <span>$60.99</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" data-hash="1">
                <div class="goss-gallery__item">
                  <figure class="goss-gallery__img">
                    <img src="images/shop/goss-slider.jpg" alt="img">
                  </figure>
                  <div class="goss-gallery__desc">
                    <p>
                      Genetix Nutrition products are developed by an internal research team assisted by Grant Mayo to
                      ensure the greatest quality
                    </p>
                  </div>
                  <div class="goss-gallery__price goss-gallery__price--discount d-flex align-items-center flex-wrap">
                    <span>$49.99</span>
                    <span>save $11.00</span>
                    <span>$60.99</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" data-hash="2">
                <div class="goss-gallery__item">
                  <figure class="goss-gallery__img">
                    <img src="images/shop/goss-slider.jpg" alt="img">
                  </figure>
                  <div class="goss-gallery__desc">
                    <p>
                      Genetix Nutrition products are developed by an internal research team assisted by Grant Mayo to
                      ensure the greatest quality
                    </p>
                  </div>
                  <div class="goss-gallery__price goss-gallery__price--discount d-flex align-items-center flex-wrap">
                    <span>$49.99</span>
                    <span>save $11.00</span>
                    <span>$60.99</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-button swiper-button-prev"></div>
            <div class="swiper-button swiper-button-next"></div>
          </div>

          <div class="goss-gallery__progress-bar">
            <div class="goss-gallery__progress-wrap"></div>
            <span class="goss-gallery__timer" data-time="10">
              <i>10</i>seconds left
            </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-orange">Snatch it!</a>
      </div>
    </div>
  </div>
</div>
<!-- /modal-goss-gallery -->
