<!-- Modal goss-->
<div class="modal modal-goss fade" id="group-access" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-groups">
            <div class="modal-header">
                <h4 class="modal-title">Request access</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-info">
                    <span>In this group admin manually approves members</span>
                    <img src="images/groups/access.png" alt="">

                    <div class="modal-group__link">
                        <a href="#" data-dismiss="modal" aria-label="Close">Request access</a>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
      </div> -->
        </div>
    </div>
</div>
<!-- /Modal goss-->