<!-- modal-login -->
<div class="modal modal-login fade" id="logIn" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Log In to Splitchek</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form action="#" class="form">
          <div class="form__inputs">
            <div class="form__single">
              <label class="form__label">Email</label>
              <input type="email" class="form__input" required="">
              <span class="form__symbol-error"></span>
            </div>
            <div class="form__single form__single--pass">
              <label class="form__label">Password</label>
              <input type="password" class="form__input" required="">
              <span class="form__symbol-pass"></span>
              <span class="form__symbol-error"></span>
            </div>
          </div>
          <div class="links">
            <a href="#" class="links__link btn-blue-link">Forgot oyur password?</a>
          </div>
          <div class="form__errors-text"></div>
          <button class="form__button btn-blue">Log In</button>
        </form>
      </div>
      <div class="modal-footer">
        <span class="modal-border">or</span>
        <a href="#" class="btn-border btn-border--two">Create free account</a>
      </div>
    </div>
  </div>
</div>
<!-- /modal-login -->