<!-- modal-cart -->
<div class="modal right fade message-overlay" id="message-overlay" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content position-relative">
            <!-- modal-header -->
            <div class="modal-header d-flex align-items-center">
                <!-- head for side modal -->
                <div class="head-modal-info d-flex align-items-center flex-wrap">
                    <h2>Messages</h2>
                    <h2 class="message__num"> &nbsp; (<span>2</span> not read)</h2>
                </div>
                <!-- /head for side modal -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <!-- /modal-header -->
            <!-- modal-body -->
            <div class="modal-body">
                <div class="message__list w-100 d-flex flex-column">
                    {{!-- new message add class .new__message --}}
                    <div class="message__single new__message d-flex w-100">
                        <div class="message__body d-flex w-100 justify-content-between">
                            <div class="message__left d-flex align-items-center">
                                <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                                </div>
                                <div class="message__detail d-flex flex-column">
                                    <strong>Jane Smith</strong>
                                    <span>First words from the message will be here…</span>
                                </div>
                            </div>
                            <div class="message__right d-flex flex-column">
                                <span class="message__date">16:40</span>
                                <a href="#" class="message__date">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="message__single d-flex w-100">
                        <div class="message__body d-flex w-100 justify-content-between">
                            <div class="message__left d-flex align-items-center">
                                <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                                </div>
                                <div class="message__detail d-flex flex-column">
                                    <strong>Jane Smith</strong>
                                    <span>First words from the message will be here…</span>
                                </div>
                            </div>
                            <div class="message__right d-flex flex-column">
                                <span class="message__date">16:40</span>
                                <a href="#" class="message__date">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="message__single d-flex w-100">
                        <div class="message__body d-flex w-100 justify-content-between">
                            <div class="message__left d-flex align-items-center">
                                <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                                </div>
                                <div class="message__detail d-flex flex-column">
                                    <strong>Jane Smith</strong>
                                    <span>First words from the message will be here…</span>
                                </div>
                            </div>
                            <div class="message__right d-flex flex-column">
                                <span class="message__date">16:40</span>
                                <a href="#" class="message__date">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="message__single d-flex w-100">
                        <div class="message__body d-flex w-100 justify-content-between">
                            <div class="message__left d-flex align-items-center">
                                <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                                </div>
                                <div class="message__detail d-flex flex-column">
                                    <strong>Jane Smith</strong>
                                    <span>First words from the message will be here…</span>
                                </div>
                            </div>
                            <div class="message__right d-flex flex-column">
                                <span class="message__date">16:40</span>
                                <a href="#" class="message__date">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="message__single d-flex w-100">
                        <div class="message__body d-flex w-100 justify-content-between">
                            <div class="message__left d-flex align-items-center">
                                <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                                </div>
                                <div class="message__detail d-flex flex-column">
                                    <strong>Jane Smith</strong>
                                    <span>First words from the message will be here…</span>
                                </div>
                            </div>
                            <div class="message__right d-flex flex-column">
                                <span class="message__date">16:40</span>
                                <a href="#" class="message__date">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /modal-body -->
        </div>
    </div>
</div>
<!-- /modal-cart -->