<!-- Modal goss-->
<div class="modal modal-blog fade" id="blog-user" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="modal-info">
                    <div class="d-flex big-post">
                        <div class="modal-blog__user-left" style="background-image: url('images/blog/user-big.png');">

                        </div>
                        <div class="d-flex flex-column modal-blog__user-right">
                            <div class="d-flex">

                                <div class="big-post__title">
                                    <h5>John Smith</h5>
                                    <strong>Topic of writing</strong>
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                </button>
                            </div>
                            <p>Genetix Nutrition products are devoloped by an internal research team assisted by
                                Grant Mayo to ensure the greatest quality and product performance. Particular
                                attention has been given in the manufacturing process of Genetix Nutrition for
                                excellent taste </p>
                            <div class="big-post__bottom">
                                <a href="#" class="btn-blue">View articles</a>
                                <div class="d-flex big-post__bottom-links">
                                    <a href="#" class="modal-blog__btn">Follow on <img class="heart-blue"
                                            src="images/blog/heart.png" alt="icon">
                                        <img class="heart-white" src="images/blog/heart-white.png" alt="icon"></a>
                                    <a class=" d-flex align-items-center" href="#"><img src="images/blog/face.svg"
                                            alt="followers">999 followers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
      </div> -->
        </div>
    </div>
</div>
<!-- /Modal goss-->