<!-- modal-notification -->
<div class="modal right fade modal-notification" id="notification" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content position-relative">
            <!-- modal-header -->
            <div class="modal-header d-flex align-items-center">
                <!-- head for side modal -->
                <div class="head-modal-info d-flex align-items-center flex-wrap">

                    <div class="head-modal-info__description">
                        <h2 class="head-modal-info__name">Notifications (4)</h2>
                    </div>
                </div>
                <!-- /head for side modal -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <!-- /modal-header -->
            <!-- modal-body -->
            <div class="modal-body">
                <div class="notification">
                    <div class="scroll-div">
                        <div class="form__wrap notification__card">
                            <figure class="internal-card__avatar">
                                <img src="images/profiles/img1.png" alt="avatar">
                                <span class="internal-card__symbol"></span>
                            </figure>
                            <div class="notification__headline w-100">
                                <strong>Headline here </strong>
                                <p>Grow your business on SplitChek. Sell up to 100 products for free</p>
                                <div class="notification__link">
                                    <a href="#">Cancel</a><a href="#">Get Started</a>
                                </div>
                            </div>
                            <div class="options">
                                <button type="button" class="options__btn" data-type="options">
                                    <i class="icon icon-more"></i>
                                </button>

                                <div class="options__dropdown">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#">Share</a></li>
                                        <li><a href="#">Not gift worthy</a></li>
                                        <li><a href="#">About the store</a></li>
                                        <li><a href="#">Report abuse</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form__wrap notification__card">
                            <figure class="internal-card__avatar">
                                <img src="images/profiles/img1.png" alt="avatar">
                                <span class="internal-card__symbol"></span>
                            </figure>
                            <div class="notification__headline w-100">
                                <strong>Headline here could be longer one because we know </strong>
                                <p>Grow your business on SplitChek. Sell up to 100 products for free</p>
                                <div class="notification__link">
                                    <a href="#">Cancel</a><a href="#">Get Started</a>
                                </div>
                            </div>
                            <div class="options">
                                <button type="button" class="options__btn" data-type="options">
                                    <i class="icon icon-more"></i>
                                </button>

                                <div class="options__dropdown">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#">Share</a></li>
                                        <li><a href="#">Not gift worthy</a></li>
                                        <li><a href="#">About the store</a></li>
                                        <li><a href="#">Report abuse</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form__wrap notification__card-video">
                            <div class="d-flex">
                                <figure class="internal-card__avatar">
                                    <img src="images/profiles/img1.png" alt="avatar">
                                    <span class="internal-card__symbol"></span>
                                </figure>
                                <div class="notification__headline w-100">
                                    <strong>Headline here </strong>
                                    <p>Grow your business on SplitChek. Sell up to 100 products for free</p>

                                </div>
                                <div class="options">
                                    <button type="button" class="options__btn" data-type="options">
                                        <i class="icon icon-more"></i>
                                    </button>

                                    <div class="options__dropdown">
                                        <ul class="list-unstyled mb-0">
                                            <li><a href="#">Share</a></li>
                                            <li><a href="#">Not gift worthy</a></li>
                                            <li><a href="#">About the store</a></li>
                                            <li><a href="#">Report abuse</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="notification__video">
                                <div
                                    class="internal-card__grid internal-card__grid--single internal-card__grid--margin-bt grid-gallery d-flex flex-wrap">
                                    <figure class="grid-gallery__width-1-1">
                                        <a class="grid-gallery__selector position-relative grid-gallery__selector--video"
                                            href="images/feed/feed-img1.jpg">
                                            <div class="grid-gallery__post-img"
                                                style="background-image: url(images/feed/feed-img1.jpg);">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                                <div class="notification__link">
                                    <a href="#">Cancel</a><a href="#">Get Started</a>
                                </div>
                            </div>
                        </div>

                        <div class="form__wrap notification__card-video">
                            <div class="d-flex">
                                <figure class="internal-card__avatar">
                                    <img src="images/profiles/img1.png" alt="avatar">
                                    <span class="internal-card__symbol"></span>
                                </figure>
                                <div class="notification__headline w-100">
                                    <strong>Headline here </strong>
                                    <p>Grow your business on SplitChek. Sell up to 100 products for free</p>

                                </div>
                                <div class="options">
                                    <button type="button" class="options__btn" data-type="options">
                                        <i class="icon icon-more"></i>
                                    </button>

                                    <div class="options__dropdown">
                                        <ul class="list-unstyled mb-0">
                                            <li><a href="#">Share</a></li>
                                            <li><a href="#">Not gift worthy</a></li>
                                            <li><a href="#">About the store</a></li>
                                            <li><a href="#">Report abuse</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="notification__video">
                                <div
                                    class="internal-card__grid internal-card__grid--single internal-card__grid--margin-bt grid-gallery d-flex flex-wrap">
                                    <figure class="grid-gallery__width-1-1">
                                        <a class="grid-gallery__selector position-relative grid-gallery__selector--video"
                                            href="images/feed/feed-img1.jpg">
                                            <div class="grid-gallery__post-img"
                                                style="background-image: url(images/feed/feed-img1.jpg);">
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                                <div class="notification__link">
                                    <a href="#">Cancel</a><a href="#">Get Started</a>
                                </div>
                            </div>
                        </div>

                        <div class="form__wrap notification__card-figure">
                            <div class="d-flex">
                                <figure class="internal-card__avatar">
                                    <img src="images/profiles/img1.png" alt="avatar">
                                    <span class="internal-card__symbol"></span>
                                </figure>
                                <div class="notification__headline w-100">
                                    <strong>Headline here </strong>
                                    <p>$49.99</p>

                                </div>
                                <div class="options">
                                    <button type="button" class="options__btn" data-type="options">
                                        <i class="icon icon-more"></i>
                                    </button>

                                    <div class="options__dropdown">
                                        <ul class="list-unstyled mb-0">
                                            <li><a href="#">Share</a></li>
                                            <li><a href="#">Not gift worthy</a></li>
                                            <li><a href="#">About the store</a></li>
                                            <li><a href="#">Report abuse</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="notification__video">
                                <figure class="grid-gallery__width-1-1">
                                    <a class="grid-gallery__selector" href="images/shop/product.jpg">
                                        <div class="grid-gallery__post-img"
                                            style="background-image: url(images/shop/product.jpg);">
                                        </div>
                                    </a>
                                </figure>
                                <div class="d-flex justify-content-center">
                                    <p>Genetix Nutrition products are devoloped by an internal research team assisted by
                                        Grant Mayo to ensure the greatest quality and product </p>
                                </div>
                                <div class="notification__link">
                                    <a href="#">Cancel</a><a href="#">View Product</a>
                                </div>
                            </div>
                        </div>

                        <div class="form__wrap notification__card-figure">
                            <div class="d-flex">
                                <figure class="internal-card__avatar">
                                    <img src="images/profiles/img1.png" alt="avatar">
                                    <span class="internal-card__symbol"></span>
                                </figure>
                                <div class="notification__headline w-100">
                                    <strong>Headline here </strong>
                                    <p>$49.99</p>

                                </div>
                                <div class="options">
                                    <button type="button" class="options__btn" data-type="options">
                                        <i class="icon icon-more"></i>
                                    </button>

                                    <div class="options__dropdown">
                                        <ul class="list-unstyled mb-0">
                                            <li><a href="#">Share</a></li>
                                            <li><a href="#">Not gift worthy</a></li>
                                            <li><a href="#">About the store</a></li>
                                            <li><a href="#">Report abuse</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="notification__video">
                                <figure class="grid-gallery__width-1-1">
                                    <a class="grid-gallery__selector" href="images/shop/product.jpg">
                                        <div class="grid-gallery__post-img"
                                            style="background-image: url(images/shop/product.jpg);">
                                        </div>
                                    </a>
                                </figure>
                                <div class="d-flex justify-content-center">
                                    <p>Genetix Nutrition products are devoloped by an internal research team assisted by
                                        Grant Mayo to ensure the greatest quality and product </p>
                                </div>
                                <div class="notification__gift">
                                    <p>Perfect gift for:</p>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <div
                                            class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                                            <img src="" alt="">
                                            <span class="avatar__symbol">JS</span>
                                        </div>
                                        <div
                                            class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                                            <img src="" alt="">
                                            <span class="avatar__symbol">JS</span>
                                        </div>
                                        <div
                                            class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                                            <img src="" alt="">
                                            <span class="avatar__symbol">JS</span>
                                        </div>
                                        <div class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden"
                                            style="background-color: #f8f9fb">
                                            <img src="" alt="">
                                            <span class="avatar__symbol"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="notification__link">
                                    <a href="#">Cancel</a><a href="#">View Product</a>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>




            </div>

        </div>
    </div>
</div>