<!-- Modal goss-->
<div class="modal modal-recurrent fade" id="recurrent" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-center">
                        <a class="text-blue" href="#"># 431 245 987</a>
                        <b>Order Name</b>
                    </div>
                    <h4 class="modal-title">Make recurrent</h4>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-info">
                    <div class="modal-recurrent__list">
                        <div class="members__radio ">
                            <div class="form-radio">
                                <input id="radio-1" class="radio-custom" name="radio-group" type="radio" checked="">
                                <label for="radio-1" class="radio-custom-label">I2 in a month</label>
                            </div>
                            <div class="form-radio">
                                <input id="radio-2" class="radio-custom" name="radio-group" type="radio">
                                <label for="radio-2" class="radio-custom-label">once in a month</label>
                            </div>
                            <div class="form-radio">
                                <input id="radio-3" class="radio-custom" name="radio-group" type="radio">
                                <label for="radio-3" class="radio-custom-label">once in a two monthes</label>
                            </div>
                            <div class="form-radio">
                                <input id="radio-4" class="radio-custom" name="radio-group" type="radio">
                                <label for="radio-4" class="radio-custom-label">once in a six monthes</label>
                            </div>
                        </div>

                    </div>
                    <div class="modal-recurrent__btn">
                        <a href="#" data-dismiss="modal" class="btn-blue" aria-label="Close">Make recurrent</a>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
      </div> -->
        </div>
    </div>
</div>
<!-- /Modal goss-->