<!-- Modal goss-->
<div class="modal modal-recurrent fade" id="status" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-center">
                        <a class="text-blue" href="#"># 431 245 987</a>
                        <b>Order Name</b>
                    </div>
                    <h4 class="modal-title">Delivery status</h4>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-info">
                    <div class="modal-status">
                        <ul>
                            <li>
                                <span>02.10.2020</span>
                                <small>15:00</small>
                            </li>
                            <li>
                                <span>02.10.2020</span>
                                <small>14:30</small>
                            </li>

                            <li>
                                <span>02.10.2020</span>
                                <small>14:30</small>
                            </li>
                            <li>
                                <span>02.10.2020</span>
                                <small>14:30</small>
                            </li>
                            <li>
                                <span>02.10.2020</span>
                                <small>12:30</small>
                            </li>
                        </ul>

                        <ul>
                            <li>Delivered</li>
                            <li>Delivery point</li>
                            <li>Delivery point</li>
                            <li>Dispatched from store</li>
                            <li>Order placed</li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- <div class="modal-footer">
      </div> -->
        </div>
    </div>
</div>
<!-- /Modal goss-->