<!-- Modal goss-->
<div class="modal modal-recurrent fade" id="refund" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-center">
                        <a class="text-blue" href="#"># 431 245 987</a>
                        <b>Order Name</b>
                    </div>
                    <h4 class="modal-title">Request refund</h4>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-info">
                    <form class="form" action="#">
                        <div
                            class="select-before  form__single--select form__single--select-default form__single--fluid">
                            <label class="form__label">Choose your eason for refund</label>
                            <div class="select-before">
                                <select class="form__select form__select--default select2-hidden-accessible"
                                    data-toggle="select" data-select2-id="4" tabindex="-1" aria-hidden="true">
                                    <option value="#">Other</option>
                                    <option value="#">Other</option>

                                </select>
                            </div>

                        </div>

                        <div class="w-100 max-text" data-maxlength="500">
                            <textarea placeholder="Write something"></textarea>
                            <div class="count"><span>0</span>/<span>500</span></div>
                        </div>
                        <div class="modal-recurrent__btn">
                            <a href="#" data-dismiss="modal" class="btn-blue" aria-label="Close">Send</a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- <div class="modal-footer">
      </div> -->
        </div>
    </div>
</div>
<!-- /Modal goss-->