<!-- modal-add-photo -->
<div class="modal fade delete-info" tabindex="1" id="delete-info">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content position-relative">
      <!-- modal-header -->
      <div class="modal-header d-flex align-items-center">
        <strong>Delete all info</strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <!-- /modal-header -->
      <!-- modal-body -->
      <div class="modal-body">
        <p>You sure you want to delete <b>Rroduct Name</b>? This can’t be undone</p>
      </div>
      <!-- /modal-body -->
      <div class="modal-footer d-flex flex-sm-row align-items-center justify-content-end">
        <a href="#" data-dismiss="modal" aria-label="Close">Cancel</a>
        <a href="#" data-dismiss="modal" aria-label="Close">Delete</a>
      </div>
    </div>
  </div>
</div>
<!-- /modal-add-photo -->
