<!-- modal-add-photo -->
<div class="modal fade modal-save-store" tabindex="1" id="modal-save-store">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content position-relative">
            <!-- modal-header -->
            <div class="modal-header d-flex align-items-center">
                <h3>Save new virtual store</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <!-- /modal-header -->
            <!-- modal-body -->
            <div class="modal-body">
                <strong>Cost</strong>
                <ul class="price">
                    <li><span>Per month:</span> <span>AUD</span><span>$15.00</span></li>
                    <li><span><b>Total:</b></span> <span><b>AUD</b></span><span><b>$49.99</b></span></li>
                </ul>
                <strong>Payment options</strong>
                <div class="payment-method">
                    <div class="radio">
                        <input id="radio-0" name="radio-0" type="radio" checked="">
                        <label for="radio-0" class="radio-label">Direct Debit</label>
                    </div>

                    <div class="radio">
                        <input id="radio-1" name="radio-0" type="radio">
                        <label for="radio-1" class="radio-label">Credit card</label>
                    </div>
                </div>
                <strong>Card Details</strong>
                <div class="checked-box card-check">
                    <input type="checkbox" id="pay-1">
                    <label for="pay-1">Pay from my existing card</label>
                </div>
                <form action="#" class="mb-5 card-form">
                    <div class="form__single form__single--card">
                        <label class="form__label">card number</label>
                        <input type="text" class="form__input" required="">
                        <div class="visible"></div>
                        <span class="form__symbol-pass"></span>
                    </div>
                    <div class="form__single form__single--select form__single--select-no-image form__single--fluid" style="display: none;">
                        <label class="form__label">card number</label>
                        <select class="form__input" data-toggle="select-no-image" multiple="multiple">
                            <option>1234 5678 1234 5678</option>
                            <option>5678 1234 1234 5678</option>
                            <option>4178 1234 1234 4141</option>
                        </select>
                        <span class="form__symbol-error"></span>
                        <div class="visible"></div>
                    </div>
                    <div class="d-flex members-wrap flex-row">
                        <div class="d-flex flex-column">

                            <!-- for error add class div form__single - *error* -->
                            <div class="groups__box-small form__single form__single--date form__single--fluid">
                                <label class="form__label">expire date</label>
                                <input type="text" class="form__input flatpickr-input" data-toggle="datepicker"
                                    required="" readonly="readonly">
                                <span class="form__symbol-error"></span>
                            </div>
                        </div>

                        <div class="d-flex flex-column groups__box-small card-cvv">
                            <label class="form__label">CCN</label>
                            <input class="form__input " placeholder="911" type="text">

                            <span class="form__symbol-error"></span>
                        </div>
                    </div>
                </form>

            </div>
            <!-- /modal-body -->
            <div class="modal-footer d-flex flex-sm-row align-items-center justify-content-center">
                <a href="#" class="btn-blue create-store" data-create="false">Pay Now</a>
            </div>
        </div>
    </div>
</div>
<!-- /modal-add-photo -->