<!-- modal-add-photo -->
<div class="modal fade modal-edit-option" tabindex="1" id="modal-edit-option">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content position-relative">
            <!-- modal-header -->
            <div class="modal-header d-flex align-items-center">
                <h3>Edit options</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <!-- /modal-header -->
            <!-- modal-body -->
            <div class="modal-body">
                <div class="size-select" style="">
                    <div class="size-select__list">
                        <div class="size-select__single">
                            <div class="members__form">
                                <span class="form__note">
                                    Option 1
                                </span>
                                <div class="form__single--select form__single--select-default form__single--fluid">
                                    <div class="select-before">
                                        <select class="form__select form__select--default select2-hidden-accessible"
                                            data-toggle="select" tabindex="-1" aria-hidden="true" data-select2-id="111">
                                            <option value="Size" data-select2-id="113">Size</option>
                                            <option value="SizeTwo">SizeTwo
                                            </option>
                                        </select><span class="select2 select2-container select2-container--default"
                                            dir="ltr" data-select2-id="112" style="width: 100%;"><span
                                                class="selection"><span
                                                    class="select2-selection select2-selection--single" role="combobox"
                                                    aria-haspopup="true" aria-expanded="false" tabindex="-1"
                                                    aria-disabled="false" aria-labelledby="select2-nauw-container"><span
                                                        class="select2-selection__rendered" id="select2-nauw-container"
                                                        role="textbox" aria-readonly="true"
                                                        title="Size">Size</span><span class="select2-selection__arrow"
                                                        role="presentation"><b
                                                            role="presentation"></b></span></span></span><span
                                                class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="members__form">
                                <span class="form__note">
                                    List of options
                                </span>
                                <div
                                    class="form__single form__single--select form__single--select-tag form__single--fluid">
                                    <select class="form__input select2-hidden-accessible" data-toggle="select-tag"
                                        multiple="" data-placeholder="Separate options with a coma" tabindex="-1"
                                        aria-hidden="true" data-select2-id="30">
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                        <option value="XL">XL</option>
                                        <option value="XXL">XXL</option>
                                    </select><span class="select2 select2-container select2-container--default"
                                        dir="ltr" data-select2-id="31" style="width: 100%;"><span
                                            class="selection"><span
                                                class="select2-selection select2-selection--multiple" role="combobox"
                                                aria-haspopup="true" aria-expanded="false" tabindex="-1"
                                                aria-disabled="false">
                                                <ul class="select2-selection__rendered">
                                                    <li class="select2-search select2-search--inline"><input
                                                            class="select2-search__field" type="search" tabindex="0"
                                                            autocomplete="off" autocorrect="off" autocapitalize="none"
                                                            spellcheck="false" role="searchbox" aria-autocomplete="list"
                                                            placeholder="Separate options with a coma"
                                                            style="width: 0px;"></li>
                                                </ul>
                                            </span></span><span class="dropdown-wrapper"
                                            aria-hidden="true"></span></span>
                                </div>
                            </div>
                            <a href="#" class="size-select__remove"><img src="images/icons/close-24px.svg"
                                    alt="close"></a>
                        </div>
                        <div class="size-select__single">
                            <div class="members__form">
                                <span class="form__note">
                                    Option 2
                                </span>
                                <div class="form__single--select form__single--select-default form__single--fluid">
                                    <div class="select-before">
                                        <select class="form__select form__select--default select2-hidden-accessible"
                                            data-toggle="select" tabindex="-1" aria-hidden="true" data-select2-id="114">
                                            <option value="Size" data-select2-id="116">Size</option>
                                            <option value="SizeTwo">SizeTwo
                                            </option>
                                        </select><span class="select2 select2-container select2-container--default"
                                            dir="ltr" data-select2-id="115" style="width: 100%;"><span
                                                class="selection"><span
                                                    class="select2-selection select2-selection--single" role="combobox"
                                                    aria-haspopup="true" aria-expanded="false" tabindex="-1"
                                                    aria-disabled="false" aria-labelledby="select2-qr58-container"><span
                                                        class="select2-selection__rendered" id="select2-qr58-container"
                                                        role="textbox" aria-readonly="true"
                                                        title="Size">Size</span><span class="select2-selection__arrow"
                                                        role="presentation"><b
                                                            role="presentation"></b></span></span></span><span
                                                class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="members__form">
                                <span class="form__note">
                                    List of options
                                </span>
                                <div
                                    class="form__single form__single--select form__single--select-tag form__single--fluid">
                                    <select class="form__input select2-hidden-accessible" data-toggle="select-tag"
                                        multiple="" data-placeholder="Separate options with a coma" tabindex="-1"
                                        aria-hidden="true" data-select2-id="37">
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                        <option value="XL">XL</option>
                                        <option value="XXL">XXL</option>
                                    </select><span class="select2 select2-container select2-container--default"
                                        dir="ltr" data-select2-id="38" style="width: 100%;"><span
                                            class="selection"><span
                                                class="select2-selection select2-selection--multiple" role="combobox"
                                                aria-haspopup="true" aria-expanded="false" tabindex="-1"
                                                aria-disabled="false">
                                                <ul class="select2-selection__rendered">
                                                    <li class="select2-search select2-search--inline"><input
                                                            class="select2-search__field" type="search" tabindex="0"
                                                            autocomplete="off" autocorrect="off" autocapitalize="none"
                                                            spellcheck="false" role="searchbox" aria-autocomplete="list"
                                                            placeholder="Separate options with a coma"
                                                            style="width: 0px;"></li>
                                                </ul>
                                            </span></span><span class="dropdown-wrapper"
                                            aria-hidden="true"></span></span>
                                </div>
                            </div>
                            <a href="#" class="size-select__remove"><img src="images/icons/close-24px.svg"
                                    alt="close"></a>
                        </div>
                    </div>
                    <a href="#" class="size-select__add">
                        <span><img src="images/icons/plus-24px.svg" alt="add">Add
                            option</span>
                    </a>
                </div>
            </div>
            <!-- /modal-body -->
            <div class="modal-footer d-flex flex-sm-row align-items-center justify-content-end">
                <a href="#" data-dismiss="modal" class="btn-border btn-border--two">Cancel</a>
                <a href="#" class="btn-blue" data-dismiss="modal">Done</a>
            </div>
        </div>
    </div>
</div>
<!-- /modal-add-photo -->