<!-- modal-add-photo -->
<div class="modal fade edit-location" tabindex="1" id="edit-location">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content position-relative">
            <!-- modal-header -->
            <div class="modal-header d-flex align-items-center">
                <h3>Edit location</h3>
                <p>Select locations that stock the selected variants</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <!-- /modal-header -->
            <!-- modal-body -->
            <div class="modal-body">
                <div class="checked-box">
                    <input type="checkbox" id="id1">
                    <label for="id1">Store Name One</label>
                </div>
                <div class="checked-box">
                    <input type="checkbox" id="id2">
                    <label for="id2">Store Name Two</label>
                </div>
                <div class="checked-box">
                    <input type="checkbox" id="id3">
                    <label for="id3">Store Name Option</label>
                </div>
            </div>
            <!-- /modal-body -->
            <div class="modal-footer d-flex flex-sm-row align-items-center">
                <a href="#" data-dismiss="modal" class="btn-border btn-border--two">Cancel</a>
                <a href="#" class="btn-blue" data-dismiss="modal">Done</a>
            </div>
        </div>
    </div>
</div>
<!-- /modal-add-photo -->