<!-- modal-coupon -->
<div class="modal right fade modal-blog" id="coupon" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content position-relative">
            <!-- modal-header -->
            <div class="modal-header d-flex align-items-center">
                <!-- head for side modal -->
                <div class="head-modal-info d-flex align-items-center flex-wrap">

                    <div class="head-modal-info__description">
                        <h2 class="head-modal-info__name">Get coupon code</h2>
                    </div>
                </div>
                <!-- /head for side modal -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <!-- /modal-header -->
            <!-- modal-body -->
            <div class="modal-body">
                <div class="modal-blog__coupon">
                    <div class="scroll-div">
                        <div class="modal-blog__coupon-content">
                            <div class="all-coupon">
                                <div class="coupon">
                                    <div class="coupon__info">
                                        <span>PROMOOFF20</span>
                                        <span>coupon offer</span>
                                    </div>
                                    <div class="coupon__copy">
                                        <a href="#" class="btn-copy"><img src="images/icons/content_copy-24px.svg"
                                                alt="copy">Copy</a>
                                    </div>
                                </div>
                            </div>

                            <span class="section-content__title position-relative d-flex align-items-center">Where i can
                                use it?</span>
                            <a href="#" class="btn-blue">Visit our website</a>
                        </div>




                    </div>
                </div>




            </div>

        </div>
    </div>
</div>


<!-- modal-coupon -->
<div class="modal right fade modal-blog" id="coupon-2" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content position-relative">
            <!-- modal-header -->
            <div class="modal-header d-flex align-items-center">
                <!-- head for side modal -->
                <div class="head-modal-info d-flex align-items-center flex-wrap">

                    <div class="head-modal-info__description">
                        <h2 class="head-modal-info__name">Get coupon code</h2>
                    </div>
                </div>
                <!-- /head for side modal -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <!-- /modal-header -->
            <!-- modal-body -->
            <div class="modal-body">
                <div class="modal-blog__coupon">
                    <div class="scroll-div">
                        <div class="modal-blog__coupon-content">
                            <div class="all-coupon">
                                <div class="coupon">
                                    <div class="coupon__info">
                                        <span>PROMOOFF20</span>
                                        <span>coupon offer</span>
                                    </div>
                                    <div class="coupon__copy">
                                        <a href="#" class="btn-copy"><img src="images/icons/content_copy-24px.svg"
                                                alt="copy">Copy</a>
                                    </div>
                                </div>
                            </div>
                            <span class="section-content__title position-relative d-flex align-items-center">Associated
                                Products</span>
                            <div class="slider-coupon__container">

                                <div class="coupon__slider swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a href="#" class="product-card">
                                                <figure class="product-card__figure position-relative">
                                                    <img src="/images/shop/product2.jpg" alt="product"
                                                        class="product-card__image">
                                                </figure>
                                                <div class="product-card__header">
                                                    <div
                                                        class="internal-card__price internal-card__price--discount d-flex align-items-center flex-wrap">
                                                        <span>$49.99</span>
                                                        <span>$60.99</span>


                                                    </div>
                                                    <p class="product-card__copy">
                                                        Lorem ipsum dolor sit amet
                                                    </p>
                                                </div>
                                                <div class="product-card__footer">
                                                    <div class="btn btn-orange">View product</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="#" class="product-card">
                                                <figure class="product-card__figure position-relative">
                                                    <img src="/images/shop/product3.jpg" alt="product"
                                                        class="product-card__image">
                                                </figure>
                                                <div class="product-card__header">
                                                    <div
                                                        class="internal-card__price internal-card__price--discount d-flex align-items-center flex-wrap">
                                                        <span>$49.99</span>
                                                        <span>$60.99</span>


                                                    </div>
                                                    <p class="product-card__copy">
                                                        Lorem ipsum dolor sit amet
                                                    </p>
                                                </div>
                                                <div class="product-card__footer">
                                                    <div class="btn btn-orange">View product</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="#" class="product-card">
                                                <figure class="product-card__figure position-relative">
                                                    <img src="/images/shop/product2.jpg" alt="product"
                                                        class="product-card__image">
                                                </figure>
                                                <div class="product-card__header">
                                                    <div
                                                        class="internal-card__price internal-card__price--discount d-flex align-items-center flex-wrap">
                                                        <span>$49.99</span>
                                                        <span>$60.99</span>


                                                    </div>
                                                    <p class="product-card__copy">
                                                        Lorem ipsum dolor sit amet
                                                    </p>
                                                </div>
                                                <div class="product-card__footer">
                                                    <div class="btn btn-orange">View product</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="#" class="product-card">
                                                <figure class="product-card__figure position-relative">
                                                    <img src="/images/shop/product3.jpg" alt="product"
                                                        class="product-card__image">
                                                </figure>
                                                <div class="product-card__header">
                                                    <div
                                                        class="internal-card__price internal-card__price--discount d-flex align-items-center flex-wrap">
                                                        <span>$49.99</span>
                                                        <span>$60.99</span>


                                                    </div>
                                                    <p class="product-card__copy">
                                                        Lorem ipsum dolor sit amet
                                                    </p>
                                                </div>
                                                <div class="product-card__footer">
                                                    <div class="btn btn-orange">View product</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="#" class="product-card">
                                                <figure class="product-card__figure position-relative">
                                                    <img src="/images/shop/product3.jpg" alt="product"
                                                        class="product-card__image">
                                                </figure>
                                                <div class="product-card__header">
                                                    <div
                                                        class="internal-card__price internal-card__price--discount d-flex align-items-center flex-wrap">
                                                        <span>$49.99</span>
                                                        <span>$60.99</span>


                                                    </div>
                                                    <p class="product-card__copy">
                                                        Lorem ipsum dolor sit amet
                                                    </p>
                                                </div>
                                                <div class="product-card__footer">
                                                    <div class="btn btn-orange">View product</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="#" class="product-card">
                                                <figure class="product-card__figure position-relative">
                                                    <img src="/images/shop/product2.jpg" alt="product"
                                                        class="product-card__image">
                                                </figure>
                                                <div class="product-card__header">
                                                    <div
                                                        class="internal-card__price internal-card__price--discount d-flex align-items-center flex-wrap">
                                                        <span>$49.99</span>
                                                        <span>$60.99</span>


                                                    </div>
                                                    <p class="product-card__copy">
                                                        Lorem ipsum dolor sit amet
                                                    </p>
                                                </div>
                                                <div class="product-card__footer">
                                                    <div class="btn btn-orange">View product</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="#" class="product-card">
                                                <figure class="product-card__figure position-relative">
                                                    <img src="/images/shop/product3.jpg" alt="product"
                                                        class="product-card__image">
                                                </figure>
                                                <div class="product-card__header">
                                                    <div
                                                        class="internal-card__price internal-card__price--discount d-flex align-items-center flex-wrap">
                                                        <span>$49.99</span>
                                                        <span>$60.99</span>


                                                    </div>
                                                    <p class="product-card__copy">
                                                        Lorem ipsum dolor sit amet
                                                    </p>
                                                </div>
                                                <div class="product-card__footer">
                                                    <div class="btn btn-orange">View product</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <a href="#" class="swiper-button-prev "></a>
                                <a href="#" class="swiper-button-next"></a>
                            </div>
                        </div>




                    </div>
                </div>




            </div>

        </div>
    </div>
</div>