<div class="modal-snackbar modal-snackbar--dark">
    <div class="modal-dark">
        <p>Lorem ipsum dolor sit amet lorem ipsum sit</p>
    </div>
</div>

<div class="modal-snackbar modal-snackbar--dark">
    <div class="modal-dark">
        <p>Lorem ipsum dolor sit amet lorem ipsum sit</p>
        <a class="snackbar-close" href="#">Retry</a>
    </div>
</div>

<div class="modal-snackbar modal-snackbar--dark">
    <div class="modal-dark">
        <p>Lorem ipsum dolor sit amet lorem ipsum eve amet</p>
        <a class="snackbar-close" href="#">Retry</a>
    </div>
</div>

<div class="modal-notification-small modal-snackbar">
    <div class="modal-system join-notification">
        <div class="modal-system__top">
            <a href="#" class="avatar d-flex align-items-center justify-content-center overflow-hidden"
                style="width: 85px;">
                <img src="images/profiles/user-4.png" alt="avatar">
            </a>
            <div class="modal-system__text-block">
                <p><b>John Archer</b> requested to join <b>Your Group Name</b></p>
            </div>
        </div>
        <button type="button " class="snackbar-close btn-oval" data-dismiss="modal" aria-label="Close">
        </button>
        <div class="notification__link">
            <a href="#">Reject</a>
            <a href="#" style="color: #f77d0e;">Accept</a>
        </div>
    </div>

</div>

<div class="modal-notification-small modal-snackbar">
    <div class="modal-system">
        <div class="modal-system__top">
            <a href="#" class="avatar d-flex align-items-center justify-content-center overflow-hidden">
                <img src="images/profiles/img1.png" alt="avatar">
            </a>
            <div class="modal-system__text-block">
                <p><b>Headline here could be longer one because we know </b></p>

                <small>
                    Grow your business on SplitChek.
                    Sell up to 100 products for free
                </small>
            </div>
        </div>
        <button type="button " class="snackbar-close btn-oval" data-dismiss="modal" aria-label="Close">
        </button>

        <div class="notification__link">
            <a href="#">Reject</a>
            <a href="#" style="color: #f77d0e;">Get Started</a>
        </div>
    </div>

</div>