<!-- Modal goss-->
<div class="modal order-sent fade" id="order-sent" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-image: url('images/checkout/gifts.png');">
            <div class="modal-header">
                <h4 class="modal-title">Order sent</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-info">
                    <p>Your Order lorem ipsum dolor sit amet was accepted. Lorem ipsum dolor sit amet</p>
                    <div class="d-flex order-sent__btn">
                        <a href="#" class="btn-blue" data-dismiss="modal" aria-label="Close">Back to Home</a>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
      </div> -->
        </div>
    </div>
</div>
<!-- /Modal goss-->