<!-- modal-search-parameters -->
<div class="modal right fade modal-search-parameters" id="search-parameters" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content position-relative">
      <!-- modal-header -->
      <div class="modal-header d-flex align-items-center">
        <!-- head for side modal -->
        <div class="head-modal-info d-flex align-items-center flex-wrap">
          <!--
          <figure
            class="head-modal-info__avatar position-relative d-flex align-items-center justify-content-center overflow-hidden">
            <img src="images/shop/product.jpg" alt="avatar">
            <span class="head-modal-info__symbol">AD</span>
          </figure>
          -->
          <div class="head-modal-info__description">
            <h2 class="head-modal-info__name">Set search parameters</h2>
            <!--
            <p class="head-modal-info__subname">
              <span>Name of the product</span>
            </p>
             -->
          </div>
        </div>
        <!-- /head for side modal -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <!-- /modal-header -->
      <!-- modal-body -->
      <div class="modal-body">
        <!-- form -->
        <form action="#" id="search-parameters" class="form">
          <div class="form__inputs">
            <div class="scroll-div">

              <div class="form__wrap">
                <span class="form__wrap-title">i am looking for</span>
                <div class="hashtag position-relative d-flex flex-column">
                  <ul class="hashtag__list position-relative d-flex align-items-center flex-wrap">
                    <li class="hashtag__item position-relative">
                      <span class="hashtag__this">Organic</span>
                      <span class="hashtag__close"></span>
                    </li>
                    <li class="hashtag__item position-relative">
                      <span class="hashtag__this">Beauty</span>
                      <span class="hashtag__close"></span>
                    </li>
                  </ul>
                  <a href="#" class="hashtag__btn">+ Enter HashTags</a>
                </div>


                <span class="form__note">
                  E.g. red dress, size 12
                </span>
              </div>

              <div class="form__wrap">
                <span class="form__wrap-title">what is your budget?</span>

                <input type="text" class="js-range-slider form__range" name="my_range" value="" />
              </div>

              <div class="form__wrap mb-5">
                <span class="form__wrap-title">Fulfillment options</span>

                <div class="form__radio-wrap">
                  <input type="radio" id="radio-fulf-one" class="form__radio-orange" name="radio-fulf" checked="">
                  <label for="radio-fulf-one">
                    Collect from store
                  </label>
                </div>
                <div class="form__radio-wrap">
                  <input type="radio" id="radio-fulf-two" class="form__radio-orange" name="radio-fulf">
                  <label for="radio-fulf-two">
                    Free shipping only
                  </label>
                </div>
                <div class="form__radio-wrap">
                  <input type="radio" id="radio-fulf-three" class="form__radio-orange" name="radio-fulf">
                  <label for="radio-fulf-three">
                    Any
                  </label>
                </div>
              </div>

              <div class="form__wrap mb-5">
                <span class="form__wrap-title">Payment options</span>

                <div class="form__radio-wrap">
                  <input type="radio" id="radio-pay-one" class="form__radio-orange" name="radio-pay" checked="">
                  <label for="radio-pay-one">
                    AfterPay only
                  </label>
                </div>
                <div class="form__radio-wrap">
                  <input type="radio" id="radio-pay-two" class="form__radio-orange" name="radio-pay">
                  <label for="radio-pay-two">
                    ZipPay only
                  </label>
                </div>
                <div class="form__radio-wrap">
                  <input type="radio" id="radio-pay-three" class="form__radio-orange" name="radio-pay">
                  <label for="radio-pay-three">
                    Any
                  </label>
                </div>
              </div>


              <div class="form__other">
                <button class="btn btn-orange">Save</button>
              </div>
            </div>
          </div>
        </form>
        <!-- /form -->
      </div>
      <!-- /modal-body -->
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<!-- /modal-search-parameters -->