<!-- Modal share-wishlist-->
<div class="modal wishlist fade" id="share-wishlist" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Share your wishlist</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-wishlist">
          <div class="modal-wishlist__text">
            <p>As a community shopping platform, SplitChek allows you to share your wishlist. We provide a simpler way
              to give and get gifts from your loved ones without the anxiety.</p>
            <div class="modal-block">
              <h5>How does it work?</h5>
              <ul>
                <li>Go to my wishlist and organise your wishlist in groups;</li>
                <li>Invite friends and families to join your group;</li>
                <li>Set up your wishlist preferences so that you get the right gifts;</li>
                <li>Your loved ones can use your wishlist's preferences to buy you gifts or search for products on
                  SplitChek and add them to your wishlist;</li>
                <li>Those that are allowed to see items in your wishlist can either contribute towards your order or buy
                  items for you;</li>
                <li>When an item has be purchased, it will still be visible to you but others will not be able to add it
                  to cart again</li>
              </ul>
            </div>
            <div class="modal-block">
              <h5>What if I don't have close friends?</h5>
              <p>You can allow your wishlist to be publicly available so that anyone can see your items and contribute
                towards it</p>
            </div>
          </div>
          <div class="modal-wishlist__link">
            <a href="#" data-dismiss="modal" aria-label="Close">Got it</a>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<!-- /Modal share-wishlist-->
