<!-- Modal share-->
<div class="modal wishlist fade" id="share" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Share the bill with loved ones</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-wishlist">
          <div class="modal-wishlist__text">
            <p>SplitChek has turned shopping into a social experience, where you connect with your loved ones, family,
              besties and more. While shopping you can ask your friends or family for their recommendations and
              opinions. If you can't afford it, they can contribute towards your order.</p>
            <div class="modal-block">
              <h5>How does it work?</h5>
              <ul>
                <li>Add items to your cart and checkout;</li>
                <li>At checkout, choose Split Payment as your payment method;</li>
                <li>Follow instructions on how to invite your loved ones to contribute to your order;</li>
                <li>You have 72 hours for the order to be paid in full</li>
              </ul>
            </div>
            <div class="modal-block">
              <h5>What if my order was not fully paid after 72 hours?</h5>
              <p>SplitChek will void your order and everyone will be refunded their contributions</p>
            </div>
            <div class="modal-block">
              <h5>Can I get all the refund?</h5>
              <p>No. Any transaction will be refunded back to the medium it came from. For example, if Joe Doe
                contributed by points, he gets his points back, if Jane Smith used her card, money will be returned to
                her card and if Gail user her gift voucher, money will go back to her gift voucher</p>
            </div>
          </div>
          <div class="modal-wishlist__link">
            <a href="#" data-dismiss="modal" aria-label="Close">Got it</a>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<!-- /Modal share-->
