<!-- modal-share-product -->
<div class="modal hide right fade modal-share-product" tabindex="-1" id="share-product" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content position-relative">
      <!-- modal-header -->
      <div class="modal-header d-flex align-items-center">
        <!-- head for side modal -->
        <div class="head-modal-info d-flex align-items-center flex-wrap">
          <figure
            class="head-modal-info__avatar position-relative d-flex align-items-center justify-content-center overflow-hidden">
            <img src="images/shop/product.jpg" alt="product">
            <span class="head-modal-info__symbol">AD</span>
          </figure>
          <div class="head-modal-info__description">
            <h2 class="head-modal-info__name">Share product</h2>
            <p class="head-modal-info__subname">
              <span>Name of the product</span>
            </p>
          </div>
        </div>
        <!-- /head for side modal -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <!-- /modal-header -->
      <!-- modal-body -->
      <div class="modal-body">
        <!-- form -->
        <form action="#" id="share-product" class="form">
          <div class="form__inputs">
            <div class="scroll-div">
              <div class="form__single form__single--select form__single--select-default form__single--fluid">
                <label class="form__label">Share as</label>
                <select class="form__select form__select--default" data-toggle="select">
                  <option value="select-1">Personal account</option>
                  <option value="select-2">Personal account</option>
                  <option value="select-3">Personal account</option>
                </select>
              </div>

              <div class="form__single form__single--fluid">
                <label class="form__label">Write share message (optional)</label>
                <textarea class="form__textarea" placeholder="Write something or add hashtags"></textarea>
                <span class="form__symbol-error"></span>
              </div>

              <div class="form__other">
                <button class="btn btn-orange">Share</button>
              </div>
            </div>
          </div>
        </form>
        <!-- /form -->
      </div>
      <!-- /modal-body -->
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<!-- /modal-share-product -->