<!-- Modal shopping-->
<div class="modal wishlist fade" id="shopping" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog wishlist modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Shopping preferences</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-wishlist">
          <div class="modal-wishlist__text">
            <p>If you are familiar with some of these situations:</p>
            <ul>
              <li>Have you ever bought someone a thoughtful, meaningful gift after spending a considerable amount of
                time and energy, only to see a look of <span class="link-orange">disappointment</span> on their face
                when they open it?</li>
              <li>Have you ever been in an impossible situation where you wanted to impress someone you loved with a
                thoughtful gift, but without having to compromise between a <span class="link-orange">surprise</span>
                and something they genuinely wanted?</li>
            </ul>
            <p>Then using the wishlist will help your loved ones <span>choose the right gift</span> for you. Not
              everyone will see your list. You need to give permissions to groups or individuals whom you want to view
              or buy items from your wishlist.</p>
            <p>We will keep reminding you to update your wishlist so that you always get the right gifts.</p>
            <p>Don't forget – SplitChek is a <span>social</span> gifting community. If your loved ones have a limited
              budget, SplitChek Community can help them out! Provided you have given them access to your wishlist.</p>
          </div>
          <div class="modal-wishlist__link">
            <a href="#" data-dismiss="modal" aria-label="Close">Got it</a>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<!-- /Modal shopping-->
