<!-- modal-store-info -->
<div class="modal modal-store-info fade" id="store-info" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>

        <div class="store-bg store-bg--no-img position-relative">
          <figure class="store-bg__img"></figure>
        </div>
      </div>
      <div class="modal-body">
        <section class="section-content">
          <div class="store-info">
            <figure class="store-info__img store-info__img--no-img">
              <img src="./" alt="store-avatar">
            </figure>

            <h2 class="store-info__title">Store Name</h2>
            <p class="store-info__desc">20 Kohl street, Upper Coomera, <br> Queensland 4209, Australia</p>

            <ul class="store-info__short list-unstyled mb-0">
              <li>
                <span>Available:</span>
                <b>instore & online</b>
              </li>
              <li>
                <span>Member since:</span>
                <b>3 months ago</b>
              </li>
            </ul>

            <a href="#" class="btn btn-orange">Shop from store</a>
          </div>
        </section>

        <section class="section-content section-content--width">
          <span class="section-content__title position-relative d-flex align-items-center">Social</span>

          <div class="store-info">
            <ul class="store-info__short store-info__short--pd list-unstyled mb-0">
              <li>
                <span>Followers</span>
                <b>49</b>
              </li>
              <li>
                <span>Feedback</span>
                <b>127</b>
              </li>
              <li>
                <span>Rating</span>
                <b>4.9 (from 60)</b>
              </li>
            </ul>
          </div>
        </section>

        <section class="section-content section-content--width">
          <span class="section-content__title position-relative d-flex align-items-center">Get in touch</span>

          <div class="store-info">
            <ul class="store-info__contact list-unstyled mb-0">
              <li>
                <a href="mailto:example@mail.com">
                  <i class="icon icon-head-mail"></i>
                  <span>example@mail.com</span>
                </a>
              </li>
              <li>
                <a href="tel:+380660209333">
                  <i class="icon icon-phone"></i>
                  <span>+(380) 66 0209 333</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon icon-comment"></i>
                  <span>online</span>
                </a>
              </li>
            </ul>
          </div>
        </section>

        <section class="section-content">
          <span class="section-content__title position-relative d-flex align-items-center">Operating hours</span>

          <div class="store-info">
            <ul class="store-info__days list-unstyled mb-0">
              <li>
                <span>Monday</span>
                <span>09:00 - 17:00</span>
              </li>
              <li>
                <span>Tuesday</span>
                <span>09:00 - 17:00</span>
              </li>
              <li>
                <span>Wednesday</span>
                <span>09:00 - 17:00</span>
              </li>
              <li>
                <span>Thursday</span>
                <span>09:00 - 17:00</span>
              </li>
              <li>
                <span>Friday</span>
                <span>09:00 - 17:00</span>
              </li>
              <li>
                <span>Saturday</span>
                <span>09:00 - 17:00</span>
              </li>
              <li>
                <span>Sunday</span>
                <span>-</span>
              </li>
            </ul>
          </div>
        </section>

        <section class="section-content">
          <span class="section-content__title position-relative d-flex align-items-center">
            About Genetix Nutrition
          </span>

          <div class="store-info">
            <p>Genetix Nutrition products are devoloped by an internal research team assisted by Grant Mayo to ensure
              the greatest quality and product performance. Particular attention has been given in the manufacturing
              process of Genetix Nutrition for excellent taste </p>
          </div>
        </section>

        <section class="section-content">
          <span class="section-content__title position-relative d-flex align-items-center">
            WE SPECIALISE IN THE
            FOLLOWING
          </span>

          <div class="store-info">
            <div class="store-info__keywords keywords position-relative">
              <ul class="keywords__list d-flex align-items-center flex-wrap">
                <li class="keywords__item">
                  <a href="#" class="keywords__link">#Organic</a>
                </li>
                <li class="keywords__item">
                  <a href="#" class="keywords__link">#Vegan</a>
                </li>
                <li class="keywords__item">
                  <a href="#" class="keywords__link">#Beauty</a>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <!--
      <div class="modal-footer">
      </div>
      -->
    </div>
  </div>
</div>
<!-- /modal-store-info -->
