.bargain {
  .section-blur {
    @media (max-width: 575px) {
      background-color: #fff !important;
      &::before {
        content: none !important;
      }
      .bargain-gallery {
        box-shadow: none !important;
        border-radius: 0 !important;
        overflow: hidden;
      }
    }
    .bargain-gallery {
      p {
        max-width: 320px;
      }
    }
  }
  .goss-gallery__slider {
    @media (max-width: 575px) {
      overflow: visible;
    }
  }
  .swiper-button {
    @media (max-width: 991px) {
      display: block;
    }
    &::after {
      @media (max-width: 575px) {
        width: 9px;
        height: 20px;
      }
    }
  }
  .section-content__title {
    i {
      margin-bottom: 1px;
    }
  }
  .swiper-button-prev {
    @media (max-width: 575px) {
      left: -10px !important;
      width: 32px;
      height: 32px;
      box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .swiper-button-next {
    @media (max-width: 575px) {
      right: -10px !important;
      width: 32px;
      height: 32px;
      box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .bargain-gallery {
    .goss-gallery__price,
    .btn-orange,
    .goss-gallery__progress-bar {
      @media (max-width: 991px) {
        display: none !important;
      }
    }
  }
  .section-content__title {
    @media (max-width: 991px) {
      padding-left: 16px !important;
    }
  }
  .nav-link {
    background: none !important;
    padding: 0;
    line-height: 14px;
  }
  .svg-show {
    * {
      stroke: #335491 !important;
    }
  }
  .mobile-nav {
    &::before {
      background-image: url("images/icons/blue-overlay.svg");
    }
    &.mobile-before {
      min-height: 300px;
      &:before {
        height: 335px;
      }
    }
  }
  .settings__toggle {
    a {
      color: #335491 !important;
    }
  }
  .tags-global {
    a {
      font-size: 14px;
    }
  }
  .mobile-before {
    .active-item {
      display: none;
    }
  }
  .search__drop {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    @media (max-width: 991px) {
      padding: 0 16px;
    }
    .tags {
      margin-bottom: 16px;
    }
    .btn-border {
      max-width: 240px;
      width: 100%;
      margin-top: 22px;
    }
    ul {
      width: 100%;
      li {
        color: #0b0212;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 18px;
        margin-bottom: 8px;
        b {
          font-weight: 500;
        }
      }
    }
  }
  .main {
    @media (max-width: 991px) {
      padding-top: 65px;
    }
  }
  .section-content__title {
    margin-top: 11px;
  }
  .section-content {
    &:first-of-type {
      position: static !important;
    }
  }
  .mobile-nav {
    left: 0;
  }
}

.bargain-gallery {
  box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  background-color: #fff;
  padding: 16px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 575px) {
    padding: 16px;
  }
  .goss-gallery {
    &__profile {
      padding: 0 54px;
      margin-bottom: 16px;
      @media (max-width: 991px) {
        padding: 0;
      }
    }
  }
  .btn-orange {
    margin-top: 12px;
  }
}

.search-result {
  padding: 16px 22px 12px 22px;
  box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  ul {
    padding-left: 16px;
    li {
      margin-bottom: 8px;
      color: #0b0212;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      b {
        font-weight: 500;
      }
    }
  }
  &__left {
    margin-right: 85px;
    min-width: 170px;
    .btn-border {
      white-space: nowrap;
      font-size: 14px;
      font-weight: 400;
      height: 32px;
    }
  }
}

.bottom-slider__info {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 48px;
  z-index: 99;
  background: white;
  height: 140px;
  padding: 12px 16px;
  transition: 0.2s;
  @media (max-width: 991px) {
    display: block;
  }
  &.bottom {
    bottom: 0;
  }
  .btn-orange {
    max-width: 100%;
  }
  &:after {
    content: "";
    display: block;
    transform: rotate(180deg);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 4px 1px rgba(11, 2, 18, 0.08);
    z-index: -1;
  }
}
