.card-goss {
  width: 100%;

  // .card-goss__slider

  &__slider {
    width: calc(100% - 40px);
    padding: 0;

    @include media-breakpoint-down(md) {
      width: 100%;
      padding: 0;
    }
  }

  // .card-goss__item

  &__item {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    margin-bottom: 6px;

    @include media-breakpoint-down(lg) {
      width: 95px;
      height: 95px;
    }

    @include media-breakpoint-down(md) {
      width: 120px;
      height: 120px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      z-index: -1;

      background-color: theme-color("light-gray3");
    }
  }

  // .card-goss__item--new

  &__item--new {
    &:after {
      content: none;
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%2335558F' stroke-width='2' stroke-dasharray='8%2c 8' stroke-dashoffset='2' stroke-linecap='square'/%3e%3c/svg%3e");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      pointer-events: none;
    }

    .icon {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // .card-goss__name

  &__name {
    display: inline-block;
    width: 100%;
    max-width: 120px;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 18px;
    text-align: center;
    opacity: 0.75;

    color: theme-color("dark-blue");
  }

  // .card-goss__img

  &__img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 0;
  }

  // .card-goss__item--no-img

  &__item--no-img {
    figure {
      display: none;
    }
  }
}
