.other-links {
  // .other-links__list

  // &__list {
  // }

  // .other-links__item

  &__item {
    width: 100%;
    margin-bottom: 7px;
    &.visit {
      span {
        color: #f97d00;
      }
      .icon-shipping {
        background-image: url("images/icons/shipping-visit.svg");
      }
      .icon-book {
        background-image: url("images/icons/place-visit.svg");
      }
      .icon-settings-oval {
        background-image: url("images/icons/settings-oval-visit.svg");
      }
      .icon-social-media {
        background-image: url("images/icons/social-media-visit.svg");
      }
      .icon-discount {
        background-image: url("images/icons/discount-visit.svg");
      }
      .icon-mail {
        background-image: url("images/icons/icon-mail-visit.svg");
      }
      .icon-group {
        background-image: url("images/icons/icon-group-visit.svg");
      }
      .icon-heart {
        background-image: url("images/icons/icon-heart-visit.svg");
      }
      .icon-notification {
        background-image: url("images/icons/icon-heart-visit.svg");
      }
      .icon-setting {
        background-image: url("images/icons/icon-setting-visit.svg");
      }
    }
    a {
      span {
        position: relative;
        min-height: 29px;
        display: inline-block;
        &::after {
          position: absolute;
          content: "";
          display: block;
          height: 1px;
          border-bottom: 1px solid #315293;
          max-height: 1px;
          width: 0;
          overflow: hidden;
          transition: 0.3s;
          left: 0;
          bottom: 3px;
        }
      }
    }
    &:hover {
      span {
        &::after {
          width: 100%;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  // .other-links__link

  &__link {
    padding-left: 36px;
    line-height: 30px;
    &.disabled {
      span {
        color: #828282 !important;
      }
      .icon-baby {
        background-image: url("images/icons/baby-boy-disabled.svg");
      }
      .icon-pet {
        background-image: url("images/icons/pawprint-disabled.svg");
      }
    }
    &.this {
      span {
        color: #f77d0e !important;
      }
    }
    .icon {
      top: 50%;
      transform: translateY(-50%);
    }

    span {
      font-size: 14px;
      white-space: nowrap;
      color: theme-color("blue");
    }
  }
}
