/**
 * ============
 * Typography
 * ============
 * Define as much reusable typography here
 * such as `.text-hero`, which can be `@extend`-ed from other scss files
 * This way, this file become a master list of typography used throughout the site
 */
a {
  border: none;
  outline: none;
  text-decoration: none;
  &:hover {
    border: none;
    outline: none;
    text-decoration: none;
  }
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

h2 {
  @media (max-width: 575px) {
    font-size: 40px;
    line-height: 36px;
  }
}
h3,
h4 {
  color: theme-color("dark-blue");

  span {
    font-weight: $font-weight-medium;

    @media (max-width: 575px) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  @media (max-width: 575px) {
    font-size: 24px;
    line-height: 32px;
  }
}

h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 44px;
  }
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input::placeholder {
  color: theme-color("dark-blue");
}

.bold {
  font-weight: $font-weight-bold;
}
