.addressbook {
  .max-text {
    position: relative;
    max-width: 312px;
  }
  label {
    padding-left: 10px;
  }
  input {
    padding-left: 10px;
  }
  &__full-blank {
    .addressbook__box {
      &:nth-child(2) {
        margin-bottom: 24px;
      }
      &:nth-child(3) {
        p {
          margin-bottom: 0;
        }
      }
      &:last-child {
        padding-top: 8px;
        padding-bottom: 8px;
        height: 180px;
        @media (max-width: 575px) {
          height: 278px;
        }
        figure {
          margin-bottom: 0;
        }
      }
    }
  }
  .header {
    input {
      opacity: 0.75;
    }
  }
  &__box-top {
    h3 {
      margin-bottom: 0;
    }
  }
  &__section {
    width: 100%;
    margin-bottom: 42px;
    margin-left: 7px;
    @media (max-width: 991px) {
      margin-left: 0;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__content {
    .container {
      @media (max-width: 575px) {
        margin-right: auto;
        margin-left: auto;
        padding: 0 !important;
      }
    }
  }

  .input-small {
    max-width: 160px;
  }

  textarea {
    padding-bottom: 90px;
  }
  textarea,
  input,
  select {
    max-width: 312px;
  }
  .select-before {
    max-width: 312px;
  }
  .form__single {
    margin-bottom: 16px !important;
  }
  &__block {
    margin-bottom: 40px;
    small {
      display: flex;
      width: 100%;
      max-width: 312px;
      font-weight: $font-weight-normal;
      color: #828282;
      line-height: 22px;
      font-size: 14px;
      margin-bottom: 27px;
    }
  }
  &__btn {
    justify-content: flex-end;
    @media (max-width: 575px) {
      flex-direction: column;
    }
    a {
      @media (max-width: 575px) {
        max-width: 100%;
      }
      &:first-child {
        margin-right: 16px;
        @media (max-width: 575px) {
          margin-bottom: 16px;
          margin-right: 0;
        }
      }
    }
  }

  &__block-2 {
    margin-bottom: 45px;
    small {
      display: flex;
      width: 100%;
      max-width: 312px;
      font-weight: $font-weight-normal;
      color: #828282;
      line-height: 22px;
      font-size: 14px;
      margin-bottom: 27px;
    }
    h5 {
      margin-bottom: 6px !important;
    }
  }
  &__box {
    box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    background-color: #fff;
    padding: 25px 25px 14px 25px;
    max-width: 560px;
    margin-bottom: 8px;
    width: 100%;
    @media (max-width: 575px) {
      margin-bottom: 16px;
      max-width: 100%;
    }
    &:first-child {
      .addressbook__box-body {
        margin-top: 45px;
      }
    }
    .btn-border {
      border: 2px solid #35558f !important;
    }
    h3 {
      color: #335491;
      font-weight: $font-weight-medium;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      line-height: 18px;
    }
    h5 {
      color: #315293;
      font-weight: $font-weight-medium;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      line-height: 12px;
      margin-bottom: 24px;
    }
  }
  &__primary {
    display: flex;
    align-items: center;
    span {
      color: #35558f;
      font-weight: $font-weight-medium;
      font-size: 14px;
      margin-right: 7px;
    }
    i {
      position: relative;
      width: 24px;
      height: 24px;
      background-color: #35558f;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      &:after {
        content: "";
        position: absolute;
        border: 2px solid #fff;
        border-top: 0;
        border-left: 0;
        width: 8px;
        height: 14px;
        top: 3px;
        transform: rotate(43deg);
      }
    }
  }

  &__box-left {
    @media (max-width: 575px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 25px;
    }
  }

  &__box-img {
    display: flex;
    align-items: center;
    &:last-child {
      figure {
        img {
          width: 100%;
        }
        @media (max-width: 575px) {
          max-width: 120px;
        }
      }
    }
    @media (max-width: 575px) {
      flex-direction: column;
      justify-content: center;
    }
    p {
      font-size: 14px !important;
    }
    strong {
      color: #0b0212;
      font-weight: $font-weight-medium;
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 10px;
    }
    a {
      margin-top: 35px;
      @media (max-width: 575px) {
        margin-top: 5px;
        max-width: 100%;
      }
    }
    figure {
      margin-right: 70px;
      @media (max-width: 575px) {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }
  &__box-gray {
    position: relative;
    width: 100%;
    box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    background-color: #fff;
    padding: 25px 25px 14px 25px;
    max-width: 560px;
    margin-bottom: 8px;
    address {
      margin-bottom: 13px;
    }
    @media (max-width: 575px) {
      margin-bottom: 16px;
      max-width: 100%;
    }
    &:last-child {
      margin-top: 15px;
    }
    &:nth-child(3) {
      margin-bottom: 25px;
    }
    &__bottom {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      position: absolute;
      bottom: 12px;
      right: 12px;
    }
    &__top {
      display: flex;
      justify-content: space-between;
    }
    li {
      color: #0b0212;
      font-weight: $font-weight-normal;
      line-height: 22px;
      font-size: 14px;
    }
    h5 {
      color: #828282;
      font-weight: $font-weight-normal;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      line-height: 12px;
    }
  }

  p {
    color: #0b0212;
    font-size: 16px;
    font-weight: $font-weight-normal;
    b {
      font-weight: $font-weight-medium;
    }
  }
  small {
    color: #828282;
    font-weight: $font-weight-normal;
    font-size: 14px;
  }
}
