<div class="about-me d-flex flex-column w-100">
    <span>About me</span>
    <div class="about-me__box about-me__box--tell">
        <div class="w-100 d-flex flex-column align-items-center justify-content-center about-me__tell">
            <strong>Here you could tell about yourself</strong>
            <span>Just a few lines about you</span>
        </div>
        <div class="d-flex w-100">
            <div class="about-me__img">
                <img src="images/profiles/Login-bro.svg" alt="Login-bro">
            </div>
            <div class="about-me__info">
                <strong>Your mobile number is missing</strong>
                <p>We use your mobile number to verify you at checkout and send you updates about your orders</p>
                <a href="#" class="btn-border btn-border--two" id="editInfo">Edit info</a>
            </div>
        </div>
        <form action="#" class="about-me__form w-100 hide">
            <p>Write about yourself. If you are using SplitChek as your business <br> profile, try to be professional
            </p>
            <div class="w-100 max-text" data-maxlength="400">
                <textarea placeholder="Write something"></textarea>
                <div class="count"><span>0</span>/<span>400</span></div>
            </div>
            <strong>Country & phone</strong>
            <p>We are going to send you a text message to verify your number. We use your mobile to verify your order
                and also update you about your search and delivery status</p>
            <div class="d-flex two__input">
                <div class="d-flex flex-column">
                    <div class="form__single form__single--select form__single--select-no-image form__single--fluid">
                        <label class="form__label">Country</label>
                        <select class="form__input" data-toggle="select-no-image" multiple="multiple">
                            <option>Kanada</option>
                            <option>Kenia</option>
                            <option>South Korea</option>
                        </select>
                        <span class="form__symbol-error"></span>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <label>Cell/number</label>
                    <input class="phone" type="text">
                </div>
            </div>
            <button class="btn btn-blue" type="submit">Save</button>
        </form>
    </div>
    <span>Shipping & Billing</span>
    <div class="about-me__box">
        <div class="d-flex w-100">
            <div class="about-me__img">
                <img src="images/profiles/Address-bro.svg" alt="Login-bro">
            </div>
            <div class="about-me__info">
                <strong>Your shipping details are missing</strong>
                <p>We use it to send goods to you</p>
                <a href="#" class="btn-border btn-border--two">Add addresses</a>
            </div>
        </div>
    </div>
    <span>Additional Accounts</span>
    <div class="d-flex w-100 about-me__duo">
        <div class="about-me__box w-100">
            <div class="d-flex w-100 flex-column">
                <div class="about-me__img">
                    <img src="images/profiles/Children-bro.svg" alt="Login-bro">
                </div>
                <a href="#" class="btn-border btn-border--two">Create a child account</a>
            </div>
        </div>
        <div class="about-me__box w-100">
            <div class="d-flex w-100 flex-column">
                <div class="about-me__img">
                    <img src="images/profiles/Good_doggy-bro.svg" alt="Login-bro">
                </div>
                <a href="#" class="btn-border btn-border--two">Create a pet account</a>
            </div>
        </div>
    </div>
    <div class="connections__mob"></div>
    <span>my goss overview</span>
    <div class="overview d-flex w-100">
        <div class="overview__full">
            <div class="overview__full--item show" id="all">
                <h3>All</h3>
                <div><span>0</span>&nbsp<span> posts</span></div>
                <ul class="w-100">
                    <li><span>reactions</span> <b>0</b></li>
                    <li><span>comments</span> <b>0</b></li>
                    <li><span>added to timeline</span> <b>0</b></li>
                    <li><span>shared</span> <b>0</b></li>
                </ul>
                <p>
                    Short explanation text. Could see the full list of choosed category below. Genetix Nutrition
                    products are devoloped by an internal research team assisted by Grant Mayo to ensure the
                </p>
            </div>
            <div class="overview__full--item" id="funny">
                <h3>Funny</h3>
                <div><span>0</span>&nbsp<span> posts</span></div>
                <ul class="w-100">
                    <li><span>reactions</span> <b>0</b></li>
                    <li><span>comments</span> <b>0</b></li>
                    <li><span>added to timeline</span> <b>0</b></li>
                    <li><span>shared</span> <b>0</b></li>
                </ul>
                <p>
                    Short explanation text. Could see the full list of choosed category below. Genetix Nutrition
                    products are devoloped by an internal research team assisted by Grant Mayo to ensure the
                </p>
            </div>
            <div class="overview__full--item" id="discount">
                <h3>Discount</h3>
                <div><span>0</span>&nbsp<span> posts</span></div>
                <ul class="w-100">
                    <li><span>reactions</span> <b>0</b></li>
                    <li><span>comments</span> <b>0</b></li>
                    <li><span>added to timeline</span> <b>0</b></li>
                    <li><span>shared</span> <b>0</b></li>
                </ul>
                <p>
                    Short explanation text. Could see the full list of choosed category below. Genetix Nutrition
                    products are devoloped by an internal research team assisted by Grant Mayo to ensure the
                </p>
            </div>
            <div class="overview__full--item" id="food">
                <h3>Food</h3>
                <div><span>0</span>&nbsp<span> posts</span></div>
                <ul class="w-100">
                    <li><span>reactions</span> <b>0</b></li>
                    <li><span>comments</span> <b>0</b></li>
                    <li><span>added to timeline</span> <b>0</b></li>
                    <li><span>shared</span> <b>0</b></li>
                </ul>
                <p>
                    Short explanation text. Could see the full list of choosed category below. Genetix Nutrition
                    products are devoloped by an internal research team assisted by Grant Mayo to ensure the
                </p>
            </div>
            <div class="overview__full--item" id="poll">
                <h3>Poll</h3>
                <div><span>0</span>&nbsp<span> posts</span></div>
                <ul class="w-100">
                    <li><span>reactions</span> <b>0</b></li>
                    <li><span>comments</span> <b>0</b></li>
                    <li><span>added to timeline</span> <b>0</b></li>
                    <li><span>shared</span> <b>0</b></li>
                </ul>
                <p>
                    Short explanation text. Could see the full list of choosed category below. Genetix Nutrition
                    products are devoloped by an internal research team assisted by Grant Mayo to ensure the
                </p>
            </div>
            <div class="overview__full--item" id="travel">
                <h3>Travel</h3>
                <div><span>0</span>&nbsp<span> posts</span></div>
                <ul class="w-100">
                    <li><span>reactions</span> <b>0</b></li>
                    <li><span>comments</span> <b>0</b></li>
                    <li><span>added to timeline</span> <b>0</b></li>
                    <li><span>shared</span> <b>0</b></li>
                </ul>
                <p>
                    Short explanation text. Could see the full list of choosed category below. Genetix Nutrition
                    products are devoloped by an internal research team assisted by Grant Mayo to ensure the
                </p>
            </div>
        </div>
        <div class="overview__select d-flex flex-wrap">
            <div class="overview__item active" data-target="all">
                <strong>All</strong>
                <div><span class="overview__count">0</span><span> posts</span></div>
            </div>
            <div class="overview__item" data-target="funny">
                <strong>Funny</strong>
                <div><span class="overview__count">0</span><span> posts</span></div>
            </div>
            <div class="overview__item" data-target="discount">
                <strong>Discount</strong>
                <div><span class="overview__count">0</span><span> posts</span></div>
            </div>
            <div class="overview__item" data-target="food">
                <strong>Food</strong>
                <div><span class="overview__count">0</span><span> posts</span></div>
            </div>
            <div class="overview__item" data-target="poll">
                <strong>Poll</strong>
                <div><span class="overview__count">0</span><span> posts</span></div>
            </div>
            <div class="overview__item" data-target="travel">
                <strong>Travel</strong>
                <div><span class="overview__count">0</span><span> posts</span></div>
            </div>
        </div>
    </div>
    <span>all my goss list</span>
    <div class="goos w-100 goos--not d-flex flex-column">
        <div class="goos__not-found">
            <img src="images/profiles/Buffer-bro.svg" alt="goos">
            <h3>You yet to create a goss</h3>
            <a href="#" class="btn-border btn-border--two">Create a goss</a>
        </div>
    </div>

</div>