<div class="connections__wrapper">
    <div class="connections">
        <span>connections</span>
        <div class="connections__box">
            <span>My family</span>
            <div class="connections__select connections__select--family d-flex flex-column">
                <div class="d-flex">
                    <div class="connections__add align-items-center">
                        <a href="#">
                            <img src="images/profiles/add.svg" alt="avatar">
                        </a>
                    </div>
                    <div class="connections__slider position-relative">
                        <span class="count-slider" data-count="3"></span>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="card-timeline__link card-timeline__link--contact">
                                        <img src="images/profiles/user-1.png" alt="avatar">
                                        <span>JS</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#"
                                        class="card-timeline__link card-timeline__link--contact card-timeline__link--no-img">
                                        <img src="" alt="avatar">
                                        <span>JS</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#"
                                        class="card-timeline__link-light card-timeline__link card-timeline__link--contact card-timeline__link--no-img">
                                        <img src="" alt="avatar">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                <div class="d-flex w-100">
                    <a href="#" class="btn-border btn-border--two">Manage</a>
                    <a href="#" data-toggle="modal" data-target="#modal-invite" class="btn btn-blue">Invite</a>
                </div>

            </div>
        </div>
        <div class="connections__box">
            <span>My family</span>
            <div class="connections__select connections__select--besties d-flex flex-column">
                <div class="d-flex">
                    <div class="connections__add align-items-center">
                        <a href="#">
                            <img src="images/profiles/add.svg" alt="avatar">
                        </a>
                    </div>
                    <div class="connections__slider position-relative">
                        <span class="count-slider" data-count="3"></span>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="card-timeline__link card-timeline__link--contact">
                                        <img src="images/profiles/img2.png" alt="avatar">
                                        <span>JS</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="card-timeline__link card-timeline__link--contact">
                                        <img src="images/profiles/img2.png" alt="avatar">
                                        <span>JS</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="card-timeline__link card-timeline__link--contact">
                                        <img src="images/profiles/user-1.png" alt="avatar">
                                        <span>JS</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#"
                                        class="card-timeline__link card-timeline__link--contact card-timeline__link--no-img">
                                        <img src="" alt="avatar">
                                        <span>JS</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#"
                                        class="card-timeline__link-light card-timeline__link card-timeline__link--contact card-timeline__link--no-img">
                                        <img src="" alt="avatar">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                <div class="d-flex w-100">
                    <a href="#" class="btn-border btn-border--two">Manage</a>
                    <a href="#" data-toggle="modal" data-target="#modal-invite" class="btn btn-blue">Invite</a>
                </div>

            </div>
        </div>
        <div class="connections__box">
            <span>My family</span>
            <div class="connections__select connections__select--friends d-flex flex-column">
                <div class="d-flex">
                    <div class="connections__add align-items-center">
                        <a href="#">
                            <img src="images/profiles/add.svg" alt="avatar">
                        </a>
                    </div>
                    <div class="connections__slider position-relative">
                        <span class="count-slider" data-count="3"></span>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="card-timeline__link card-timeline__link--contact">
                                        <img src="images/profiles/img2.png" alt="avatar">
                                        <span>JS</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="card-timeline__link card-timeline__link--contact">
                                        <img src="images/profiles/img2.png" alt="avatar">
                                        <span>JS</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="card-timeline__link card-timeline__link--contact">
                                        <img src="images/profiles/img2.png" alt="avatar">
                                        <span>JS</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="card-timeline__link card-timeline__link--contact">
                                        <img src="images/profiles/img2.png" alt="avatar">
                                        <span>JS</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="card-timeline__link card-timeline__link--contact">
                                        <img src="images/profiles/img2.png" alt="avatar">
                                        <span>JS</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="card-timeline__link card-timeline__link--contact">
                                        <img src="images/profiles/img2.png" alt="avatar">
                                        <span>JS</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="card-timeline__link card-timeline__link--contact">
                                        <img src="images/profiles/user-1.png" alt="avatar">
                                        <span>JS</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#"
                                        class="card-timeline__link card-timeline__link--contact card-timeline__link--no-img">
                                        <img src="" alt="avatar">
                                        <span>JS</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#"
                                        class="card-timeline__link-light card-timeline__link card-timeline__link--contact card-timeline__link--no-img">
                                        <img src="" alt="avatar">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                <div class="d-flex w-100">
                    <a href="#" class="btn-border btn-border--two">Manage</a>
                    <a href="#" data-toggle="modal" data-target="#modal-invite" class="btn btn-blue">Invite</a>
                </div>

            </div>
        </div>
        <div class="connections__box">
            <span>followers</span>
            <div class="connections__select connections__select--follower d-flex flex-column">
                <div class="d-flex">
                    <div class="connections__slider position-relative">
                        <span class="count-slider" data-count="4"></span>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="card-timeline__link card-timeline__link--contact">
                                        <img src="images/profiles/img2.png" alt="avatar">
                                        <span>JS</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="card-timeline__link card-timeline__link--contact">
                                        <img src="images/profiles/img2.png" alt="avatar">
                                        <span>JS</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="card-timeline__link card-timeline__link--contact">
                                        <img src="images/profiles/img2.png" alt="avatar">
                                        <span>JS</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="card-timeline__link card-timeline__link--contact">
                                        <img src="images/profiles/img2.png" alt="avatar">
                                        <span>JS</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="card-timeline__link card-timeline__link--contact">
                                        <img src="images/profiles/img2.png" alt="avatar">
                                        <span>JS</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="card-timeline__link card-timeline__link--contact">
                                        <img src="images/profiles/img2.png" alt="avatar">
                                        <span>JS</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="card-timeline__link card-timeline__link--contact">
                                        <img src="images/profiles/user-1.png" alt="avatar">
                                        <span>JS</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#"
                                        class="card-timeline__link card-timeline__link--contact card-timeline__link--no-img">
                                        <img src="" alt="avatar">
                                        <span>JS</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#"
                                        class="card-timeline__link-light card-timeline__link card-timeline__link--contact card-timeline__link--no-img">
                                        <img src="" alt="avatar">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                <div class="d-flex w-100">
                    <a href="#" class="btn-border btn-border--two">Manage</a>
                </div>

            </div>
        </div>
    </div>
</div>