<div class="profile-face w-100 d-flex flex-column">
    <ul class="select-color">
                <li class="select"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
    <div class="profile-face__background w-100 d-flex">
        <a href="#add-photo--background" data-toggle="modal" class="btn-blue-full"><img
                src="images/icons/camera-24px.svg" alt="">Upload cover photo</a>
        <a href="#" class="btn-border button-color">Or use colour
            
        </a>
    </div>
    <div class="profile-face__info d-flex align-items-center justify-content-between">
        <div class="profile-face__photo d-flex justify-content-center align-items-center">
            <span class="profile-face__initial">AD</span>
            <a href="#add-photo" data-toggle="modal" class="profile-face__hover d-flex flex-column">
                <img src="images/icons/photo.svg" alt="photo">
                <span>Upload photo</span>
            </a>
        </div>
        <div class="profile-face__name d-flex align-items-end dotted">
            {{!-- class dotted adds a line with dots --}}
            <strong>Ann Doe</strong>
            <span>|</span>
            <a href="#">Edit name</a href="#">
        </div>
        <div class="profile-face__date">
            <span>Registered on SplitChek since 07.10.2020</span>
        </div>
    </div>
</div>