.shopping-preferences {
  .size-container {
    max-width: 560px;
  }
  .select2-selection--single,
  .select2-selection--multiple {
    padding-left: 8px !important;
  }
  .main-content {
    @media (max-width: 991.98px) {
      padding-top: 26px;
    }
  }
  .select2-selection__rendered {
    height: 40px;
  }
  .form__single {
    margin-bottom: 19px;
    input {
      margin-bottom: 0;
    }
  }
  &__content {
    padding-bottom: 50px;
    padding-left: 5px;
  }
  &__card {
    padding-bottom: 15px;
    .form__single--select-tag {
      margin-bottom: 0;
    }
    .form__label {
      padding-left: 8px;
    }
    .form__checkbox-wrap--custom {
      margin-bottom: 8px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &__ul {
    &-1,
    &-2,
    &-3,
    &-4 {
      @media (max-width: 991px) {
        flex-direction: column;
      }
    }
  }
  .shopping-preferences__right {
    @media (max-width: 991px) {
      margin-left: 0 !important;
    }
  }
  &__ul {
    &-1 {
      .shopping-preferences__right {
        margin-left: 75px;
      }
    }

    &-2 {
      .shopping-preferences__right {
        margin-left: 50px;
      }
    }

    &-3 {
      .shopping-preferences__right {
        margin-left: 13px;
      }
    }

    &-4 {
      .shopping-preferences__right {
        margin-left: 138px;
      }
    }
  }
  &__list {
    box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    background-color: #fff;
    padding: 25px 25px 14px 25px;
    max-width: 560px;
    margin-bottom: 25px;
    @media (max-width: 575px) {
      padding: 25px 16px 14px 16px;
    }
    textarea {
      height: 120px;
      margin-bottom: 24px;
    }
    input {
      margin-bottom: 24px;
    }
    ul {
      margin-top: 22px;
    }
  }
  &__bottom {
    max-width: 560px;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 575px) {
      flex-direction: column;
      a {
        margin-right: 0 !important;
        max-width: 100%;
        &:first-of-type {
          margin-bottom: 16px;
          background-color: transparent;
        }
      }
    }
    a {
      &:first-child {
        margin-right: 16px;
      }
    }
  }

  &__text {
    margin-bottom: 61px;
  }
  &__block {
    margin-bottom: 34px;
    &.mb-45 {
      margin-bottom: 45px;
    }
    .form__label {
      padding-left: 8px;
    }
    .form__checkbox-wrap--custom {
      margin-bottom: 8px;
    }
  }
  &__top {
    margin-bottom: 22px;
  }
  .form__checkbox-position {
    margin-top: 17px;
  }
  h3 {
    color: #335491;
    font-weight: $font-weight-medium;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    line-height: 18px;
    white-space: nowrap;
    @media (max-width: 575px) {
      letter-spacing: 0.5px;
    }
  }
  h5 {
    color: #335491;
    font-weight: $font-weight-medium;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    line-height: 12px;
    margin-bottom: 45px;
  }
  p {
    color: #0b0212;
    font-size: 16px;
    font-weight: $font-weight-normal;
    b {
      font-weight: $font-weight-medium;
    }
  }
  small {
    color: #828282;
    font-weight: $font-weight-normal;
    font-size: 14px;
  }
  .active-page {
    .icon-setting {
      background-image: url("images/icons/tune.svg");
      width: 19px;
      background-size: contain;
    }
    span {
      color: #f77d0e;
    }
  }
}
