.member {
  padding-bottom: 100px;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
      text-align: center;
      max-width: 752px;
      margin-bottom: 85px;

      @media (max-width: 575px) {
        font-size: 24px;
        line-height: 32px;
      }

      span {
        color: theme-color("dark-blue");
        font-weight: $font-weight-medium;
      }
    }
  }
  .block-right {
    margin-right: 0;
    @media (max-width: 991px) {
      margin-right: 10px;
    }
  }
  &__line {
    display: flex;
    width: 100%;
    justify-content: center;
    &:last-child {
      max-width: 200px;
      @media (max-width: 991px) {
        max-width: 100%;
      }
    }
  }
  .last-block {
    display: none;
    @media (max-width: 991px) {
      display: flex;
    }
  }
  &__card {
    padding-top: 30px;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    width: 100%;
    border-radius: 5px;
    background-color: #fff9f4;
    border: 1px solid #fff9f4;
    transition: 0.3s;
    margin-right: 35px;

    cursor: pointer;
    @media (max-width: 1199px) {
      margin-right: 10px;
    }
    @media (max-width: 991px) {
      margin-bottom: 10px;
    }
    svg {
      height: 100%;
      transition: 0.3s;
      g {
        path {
          fill: theme-color("orange");
        }
      }
    }
    p {
      font-size: 18px;
      margin-bottom: 20px;
      display: flex;
      align-items: flex-end;
      height: 100%;

      font-weight: $font-weight-medium;
      color: theme-color("dark-blue");

      @media (max-width: 991px) {
        margin-top: 25px;
        margin-bottom: 15px;
      }
    }
  }
  &__cards {
    width: 100%;
    display: flex;
    @media (max-width: (991px)) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
