//Glob Utils
@import "../../variables";
@import "../../bootstrap-utils";

// Page Specific Components
@import "preferences";
@import "useful-info";
@import "keywords";
@import "product-card";
@import "swiper-custom";
@import "aside-card";
@import "cart";

.shop {
  .swiper-button-next,
  .swiper-button-prev {
    display: flex !important;
  }
  .section__margin-small {
    margin-bottom: 20px !important;
  }
  .aside-right {
    .section-content {
      width: 100%;
      max-width: calc(100% - 18px);
      margin-bottom: 24px;

      @include media-breakpoint-up(lg) {
        max-width: 300px;
      }

      @include media-breakpoint-up(xl) {
        max-width: 369px;
      }
    }
  }
  .search-result {
    @media (max-width: 525px) {
      flex-direction: column-reverse;
      .search-result__right {
        margin-bottom: 15px;
      }
    }
  }
}
