.features-company {
  box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  background-color: #fff;
  padding: 16px 33px 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  &__single {
    display: flex;
    align-items: center;
  }
  &__img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    strong {
      color: #f76467;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      text-align: left;
      text-transform: uppercase;
      display: inline-block;
      margin-bottom: 5px;
    }
    p {
      margin-bottom: 0;
      color: #828282;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
    }
  }
}

//item
.box-item {
  box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  background-color: #fff;
  padding: 16px 24px 16px 16px;
  .box-item-top {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    &__img {
      min-width: 400px;
      .gallery-top {
        max-width: 400px;
        .swiper-slide {
          height: 400px;
          background-color: #f8f9fb;
          background-repeat: no-repeat;
          background-position: center;
          background-size: auto;
        }
      }
      .gallery-thumbnails {
        max-width: 312px;
        position: relative;
        margin-left: 24px;
        margin-top: 8px;
        .swiper-button-disabled {
          opacity: 0.3 !important;
        }
        .swiper-button-prev {
          left: -25px;
          top: calc(50% - 13px);
        }
        .swiper-button-next {
          right: -68px;
          top: calc(50% - 13px);
        }
        .count-slider {
          right: -40px !important;
        }
        .swiper-slide {
          height: 72px;
          background-color: #f8f9fb;
          background-position: center;
          background-repeat: no-repeat;
          background-size: auto;
          border: 2px solid transparent !important;
          transition: 0.3s;
          cursor: pointer;
          &:hover {
            border: 2px solid #f97d00 !important;
          }
        }
        .swiper-container {
          max-width: 480px;
          margin-left: 0;
          @media (max-width: 991px) {
            max-width: 100%;
          }
        }
        .count-slider {
          position: absolute;
          z-index: 20;
          top: -2px;
          bottom: 0;
          right: 35px;
          display: flex;
          align-items: center;
          color: #99a9c9;
          font-size: 16px;
          font-weight: 400;
          pointer-events: none;
          @media (max-width: 991px) {
            color: white;
          }
          &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            @media (max-width: 991px) {
              background-color: #2f5095;
              opacity: 0.25;
              z-index: -1;
            }
          }
          @media (max-width: 991px) {
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .count-slider[data-count="0"] {
          opacity: 0;
        }
      }
    }
    &__info {
      margin-left: 30px;
      margin-bottom: 8px;
      .sold {
        display: flex;
        align-items: center;
        &__img {
          margin-right: 12px;
          > div {
            width: 40px;
            height: 40px;
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
          }
        }
        &__info {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          span {
            color: #0b0212;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            &:first-of-type {
              margin-bottom: 5px;
              display: inline-block;
            }
            b {
              color: #0b0212;
              font-weight: 500;
              font-size: 16px;
              line-height: 16px;
            }
          }
        }
      }
      .price-info {
        margin-top: 24px;
        &__current {
          display: flex;
          align-items: center;
          margin-bottom: 5px;
          b {
            color: #0b0212;
            font-weight: 500;
            font-size: 18px;
            line-height: 18px;
            text-align: left;
            text-transform: uppercase;
          }
          label {
            padding: 3px 15px;
            border-radius: 5px;
            background-color: #4fcec4;
            color: #fff;
            font-weight: 500;
            font-size: 14px;
            margin-left: 10px;
            margin-bottom: 0;
          }
        }
        strong {
          color: #f97d00;
          font-weight: 500;
          font-size: 18px;
          line-height: 18px;
          text-transform: uppercase;
          display: block;
          margin-bottom: 12px;
        }
        span {
          color: #828282;
          font-size: 14px;
          font-weight: 400;
          display: block;
          margin-bottom: 14px;
          &.avail {
            color: #0b0212;
            font-size: 14px;
            font-weight: 300;
            line-height: 14px;
            margin-bottom: 24px;
            b {
              color: #0b0212;
              font-weight: 500;
              font-size: 14px;
              line-height: 14px;
            }
          }
        }
        p {
          color: #0b0212;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
        }
      }
      .select-option {
        .form__label {
          padding-left: 0;
        }
        .selection {
          margin-bottom: 9px !important;
        }
      }
    }
  }
}
