//Glob Utils
@import "../../variables";
@import "../../bootstrap-utils";

// Page Specific Components
@import "full-item";
@import "product";

.product {
  overflow-x: hidden;
  .section-overflow {
    @media (max-width: 575px) {
      overflow-x: hidden;
    }
  }
  .arrow-turn {
    transform: rotate(180deg);
  }
  .options-cart-stock {
    .option-price {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    p {
      max-width: 290px;
      width: 100%;
      text-align: center;
      color: #0b0212;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 0;
    }
  }
  .footer {
    padding-bottom: 100px;
  }
  .aside-left,
  .aside-right {
    transition: top 0.3s;
  }
  .main {
    width: 49.124%;

    @include media-breakpoint-down(md) {
      width: 100%;
      order: 2;
    }

    .section-content {
      margin-bottom: 30px;

      @include media-breakpoint-down(md) {
        &:first-of-type {
          position: absolute;
          top: 25px;
          left: 0;
          width: 100%;
        }
      }
      &__title {
        padding-left: 20px;

        @include media-breakpoint-down(md) {
          padding-left: 0;
        }
      }
    }
  }
  .gift-shopping__header {
    h3 {
      @media (max-width: 575px) {
        max-width: 282px;
      }
    }
  }
  .section-content--bottom {
    padding-bottom: 30px;
  }
  .section-blur {
    .container {
      @media (max-width: 991px) {
        padding: 0 !important;
      }
    }
    .header {
      @media (max-width: 991px) {
        padding: 0 15px !important;
      }
    }
    .section-content__title {
      @media (max-width: 991px) {
        padding: 0 15px !important;
      }
    }
  }
  .aside-right {
    width: 32.257%;
    position: sticky;
    position: -webkit-sticky;
    top: 90px;
    margin-bottom: 48px;
    min-width: 345px;
    padding-top: 4px;
    @media (max-width: 991px) {
      overflow: hidden;
      .ss-content {
        > div {
          display: none;
        }
      }
      &.instore {
        margin-bottom: 8px !important;
      }
      &:not(.instore) {
        display: none !important;
      }
    }
    .ss-scroll {
      @media (max-width: 1260px) {
        margin-left: -5px;
      }
    }
    .section-content {
      padding-left: 34px;
      width: 100%;
      max-width: calc(100% - 18px);
      margin-bottom: 24px;
      min-width: 334px;

      &.stock {
        > div:not(.option-price__button),
        > span {
          opacity: 0.5;
          pointer-events: none;
        }
      }

      @include media-breakpoint-up(lg) {
        max-width: 300px;
      }

      @include media-breakpoint-up(xl) {
        max-width: 369px;
      }

      .btn-border {
        max-width: calc(100% - 16px);
        height: 32px;
        background-color: transparent;
        margin-left: 16px;

        font-weight: $font-weight-normal;

        &:focus {
          background-color: theme-color("blue3");
        }
        &:hover {
          background-color: theme-color("blue2");
        }
      }
    }

    .scroll-div {
      margin-bottom: 8px;
    }

    .scroll-div .section-content__title,
    .scroll-div .new-item,
    .timeline {
      max-width: 336px;

      @include media-breakpoint-down(lg) {
        max-width: 266px;
      }

      @include media-breakpoint-down(md) {
        max-width: calc(100% - 18px);
      }
    }

    @include media-breakpoint-down(md) {
      position: relative;
      top: 0;
      width: 100%;
      order: 1;

      .section-content {
        padding-left: 0;
      }
    }
  }
  .main-content {
    padding-top: 26px;
    z-index: 2;

    @include media-breakpoint-down(md) {
      padding-top: 20px;
      flex-wrap: wrap;
    }
  }
}

.main {
  @include media-breakpoint-down(sm) {
    .main__card--bias {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
  // .main__card

  &__card {
    padding: 12px;
    border-radius: 8px;

    background-color: theme-color("white");
    box-shadow: $shadow-card;
    &.transparent {
      background-color: transparent;
    }

    &--you {
      background-color: #f8f9fb !important;
    }
  }

  // .main__card--row

  &__card--row {
    .internal-card {
      width: calc(33% - 8px);
      padding: 0 !important;
      margin-bottom: 0;

      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-bottom: 32px;

        &:last-of-type {
          margin-bottom: 25px;
        }
      }

      &__img {
        padding: 10px;
        border-radius: 8px;
        min-height: 160px;
        max-width: 100%;

        background-color: theme-color("light-gray2");

        @include media-breakpoint-down(sm) {
          max-width: 160px;
        }

        img {
          width: auto;
          height: 125px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &__info {
        padding: 0 !important;
        margin-top: 15px;
        width: 100%;
        text-align: center;
        min-height: 60px;

        @include media-breakpoint-down(sm) {
          max-width: 160px;
        }

        p {
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 0;

          color: theme-color("blue");
        }

        a {
          position: relative;
          font-size: 14px;
          line-height: 14px;
          margin-top: auto;
          transition: 0.3s;
          &:hover {
            &:after {
              width: 100%;
            }
          }
          &:after {
            transition: 0.3s;
            content: "";
            position: absolute;
            background: theme-color("orange");
            width: 0;
            height: 1px;
            bottom: 0;
            left: 0;
          }

          color: theme-color("orange");
        }
      }
    }
  }

  // .main__card--noshadow

  &__card--noshadow {
    box-shadow: none;
    background-color: transparent;

    .internal-card {
      margin-bottom: 30px;

      &__img {
        flex: 0 0 220px;
        max-width: 220px;
      }

      &__info {
        padding-left: 0;
        margin-bottom: 0;
        padding-top: 18px;
        h2 {
          font-size: 24px;
          line-height: 24px;

          color: theme-color("blue2");
        }
      }
    }

    .main__buttons {
      margin-top: 0;
      justify-content: center;

      a {
        margin-right: 0 !important;
      }
    }
  }

  // .main__card--preferences

  &__card--preferences {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
  }

  // .main__card-title

  &__card-title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;

    color: theme-color("blue2");
  }

  // .main__buttons

  &__buttons {
    margin-top: -20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include media-breakpoint-down(md) {
      justify-content: center;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 0;
      flex-direction: column;
      margin-bottom: 12px;
    }

    a {
      @include media-breakpoint-down(sm) {
        width: 100%;
        max-width: 100%;
      }
      &:first-of-type {
        margin-right: 12px;

        @include media-breakpoint-down(sm) {
          margin-right: 0;
          margin-bottom: 16px;
        }
      }
    }
  }
}

.main-item {
  width: 67.6%;
  @media (min-width: 992px) and (max-width: 1099px) {
    width: 65.5%;
  }
  @media (max-width: 991px) {
    width: 100%;
  }
  .section-content__title {
    margin-bottom: 18px;
    img {
      margin-right: 9px;
    }
    span {
      display: flex;
      align-items: center;
      color: #35558f;
      font-weight: 500;
      font-size: 16px;
      text-transform: none;
    }
  }
  .gift-shopping {
    margin-bottom: 24px;
    &__body {
      @media (max-width: 767px) {
        overflow-x: hidden;
      }
    }
  }
}
