//Glob Utils
@import "../../variables";
@import "../../bootstrap-utils";

// Page Specific Components
@import "checkout-main";
@import "checkout-el";

.checkout {
  .aside-right {
    top: 137px !important;
  }
  main {
    @media (max-width: 991px) {
      padding-top: 10px;
      section {
        margin-bottom: 16px !important;
      }
    }
  }
  .section-content__title {
    @media (max-width: 991px) {
      margin-left: 0 !important;
    }
  }
  .store-info__address {
    a {
      &:first-child {
        margin-top: 10px;
      }
    }
  }
  .form__checkbox-wrap {
    label {
      font-weight: 400 !important;
      &::before {
        border: 2px solid #f97d00 !important;
      }
    }
  }
  .individual__title-hide {
    font-weight: 500 !important;
  }
  &__box-header {
    &:hover {
      cursor: pointer;
    }
  }
  &__toggle {
    &:hover {
      cursor: pointer;
    }
  }
  &__slider-container {
    max-width: 255px;
    .swiper-button-next,
    .swiper-button-prev {
      top: 15px;
    }
  }
  .last-b {
    margin-right: 0;
    width: 70px;
    display: flex;
    justify-content: flex-end;
  }
  main {
    @media (max-width: 991px) {
      padding-bottom: 0;
    }
  }
  .total-box {
    @media (max-width: 575px) {
      padding-right: 24px;
      padding-left: 24px;
    }
  }
  &__container {
    .container {
      @media (max-width: 575px) {
        padding: 0;
      }
    }
  }
  .main-content {
    @media (max-width: 991px) {
      width: 100% !important;
      padding-top: 0 !important;
    }
  }
  .aside-mobile {
    @media (max-width: 991px) {
      display: block;
    }
  }
  .aside-right {
    width: 35% !important;

    .ml-2 {
      margin-right: 0 !important;
    }
    .section-content__title {
      padding-left: 3px !important;
    }
    @media (max-width: 991px) {
      width: 100% !important;
      top: 0 !important;
      padding-right: 20px;
    }
    @media (max-width: 575) {
      padding-right: 0;
    }
  }
  &-main {
    width: 75% !important;
    @media (max-width: 991px) {
      width: 100% !important;
    }
  }
}
