.about-me {
  margin-right: 30px;
  margin-bottom: 50px;
  max-width: 560px;
  @media (max-width: 1260px) {
    max-width: 530px;
  }
  @media (max-width: 991px) {
    max-width: 100%;
  }
  .hide {
    display: none !important;
  }
  > span {
    color: theme-color("silver");
    font-size: 12px;
    letter-spacing: 0.86px;
    line-height: 23px;
    text-transform: uppercase;
    display: inline-block;
    margin: 24px 0 12px;
    @media (max-width: 575px) {
      padding-left: 15px;
    }
    &:first-of-type {
      margin-top: 0;
    }
  }
  &__tell {
    height: 86px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    strong {
      color: theme-color("blue");
      font-size: 16px;
      font-style: normal;
      letter-spacing: normal;
      line-height: 16px;
      text-align: left;
      display: inline-block;
      margin-bottom: 7px;
    }
    span {
      color: theme-color("dark-blue");
      font-size: 14px;
      line-height: 14px;
    }
  }
  &__box {
    background-color: theme-color("white");
    padding: 24px 20px;
    box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    @media (max-width: 767px) {
      > div {
        flex-direction: column;
        align-items: center;
      }
    }

    &--tell {
      padding: 12px;
      > div.not--margin {
        .btn-border {
          margin-left: auto;
        }
        .about-me__info--full {
          padding: 12px 12px;
        }
      }
      > div:not(.not--margin) {
        &:last-of-type {
          margin-top: 24px;
          margin-bottom: 8px;
          padding: 0 8px;
        }
      }
    }
  }
  &__img {
    min-width: 188px;
    margin-right: 40px;
    img {
      width: 100%;
      @media (max-width: 575px) {
        margin-right: 0;
      }
    }
  }
  &__info {
    max-width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 991px) {
      max-width: 100%;
    }
    @media (max-width: 768px) {
      align-items: center;
      margin-top: 25px;
      text-align: center;
    }
    strong {
      color: theme-color("dark-blue");
      font-size: 16px;
      font-style: normal;
      letter-spacing: normal;
      line-height: 16px;
      display: inline-block;
      margin-bottom: 8px;
    }
    p {
      font-size: 14px;
      line-height: 20px;
    }
    &--full {
      p {
        color: theme-color("dark-blue");
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 22px;
      }
      ul {
        li {
          display: flex;
          flex-direction: column;
          span {
            color: theme-color("silver");
            font-size: 12px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0.8px;
            line-height: 12px;
            display: inline-block;
            margin-bottom: 16px;
          }
          a {
            color: theme-color("dark-blue");
            font-size: 16px;
            font-weight: 400;
            font-style: normal;
            margin-bottom: 13px;
          }
        }
      }
    }
  }
  &__duo {
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      > div {
        max-width: 272px;
        margin-right: 0 !important;
        margin-bottom: 16px;
      }
    }
    .about-me__img {
      margin-right: 0;
      min-height: 217px;
      @media (max-width: 1260px) {
        min-height: 175px;
      }
    }
    .btn-border {
      max-width: none;
      width: 100%;
      margin-top: 35px;
    }
    .about-me__box {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__form {
    @media (max-width: 768px) {
      padding: 0 3px;
    }
    p {
      color: theme-color("gray");
      font-size: 14px;
      font-weight: 400;
    }
    .max-text {
      position: relative;
      opacity: 0.75;
      margin-bottom: 27px;
      .count {
        position: absolute;
        right: 14px;
        bottom: 15px;
        color: #0b0212;
        font-size: 14px;
        font-weight: 400;
      }
    }
    textarea {
      resize: none;
      width: 100%;
      height: 120px;
      border-radius: 5px;
      background-color: rgb(232 235 242 / 0.3);
      padding: 11px;
      border: none;
      opacity: 0.75;
      color: #0b0212;
      font-size: 16px;
      font-weight: 400;
      outline: none;
      &::-webkit-input-placeholder {
        opacity: 0.75;
        color: #0b0212;
        font-size: 16px;
        font-weight: 400;
      }
      &::-moz-placeholder {
        opacity: 0.75;
        color: #0b0212;
        font-size: 16px;
        font-weight: 400;
      }
      &:-ms-input-placeholder {
        opacity: 0.75;
        color: #0b0212;
        font-size: 16px;
        font-weight: 400;
      }
      &:-moz-placeholder {
        opacity: 0.75;
        color: #0b0212;
        font-size: 16px;
        font-weight: 400;
      }
    }
    strong {
      color: theme-color("blue");
      font-size: 12px;
      letter-spacing: 0.8px;
      line-height: 12px;
      display: inline-block;
      margin-bottom: 8px;
    }
    label {
      color: theme-color("gray");
      font-size: 14px;
      font-weight: 400;
    }
    .two__input {
      @media (max-width: 575px) {
        display: flex;
        width: 100%;
        flex-direction: column;
      }
      input {
        width: 100%;
        max-width: 240px;
        height: 40px;
        border-radius: 5px;
        background-color: rgb(232 235 242 / 0.3);
        padding: 11px 11px 10px 8px;
        border: none;
        outline: none;
        opacity: 0.75;
        color: #0b0212;
        font-size: 16px;
        font-weight: 400;
        @media (max-width: 575px) {
          max-width: 100%;
        }
      }
      div {
        @media (max-width: 768px) {
          width: 100%;
          max-width: 240px;
        }
        @media (max-width: 575px) {
          max-width: 100%;
        }
        &:nth-child(1) {
          @media (max-width: 768px) {
            margin-right: 32px;
          }
          @media (max-width: 575px) {
            margin-right: 0;
          }
          input {
            margin-right: 32px;
            @media (max-width: 768px) {
              margin-right: 0;
            }
          }
        }
      }
    }
    .btn-blue {
      float: right;
      margin-top: 32px;
      @media (max-width: 575px) {
        max-width: 100%;
        margin-top: 24px;
      }
    }
  }
}
.overview {
  @media (max-width: 1260px) {
    flex-direction: column-reverse;
  }
  &__full {
    position: relative;
    min-width: 272px;
    max-width: 272px;
    min-height: 100%;
    height: 392px;
    box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    background-color: theme-color("white");
    padding: 22px 20px;
    margin-right: 32px;
    @media (max-width: 1260px) {
      max-width: 100%;
      min-height: 378px;
      height: auto;
      margin-right: 0;
    }
    &--item {
      color: theme-color("dark-blue");
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 22px 20px;
      opacity: 0;
      pointer-events: none;
      transition: 0.3s;
      &.show {
        opacity: 1;
        pointer-events: auto;
      }
      h3 {
        font-size: 24px;
        margin-bottom: 8px;
        font-weight: 500;
        line-height: 24px;
      }
      span {
        font-size: 16px;
        display: inline-block;
        margin-bottom: 35px;
      }
      p {
        font-size: 14px;
      }
      ul {
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 14px;
          span {
            margin-bottom: 0;
          }
        }
      }
      &:nth-child(1) {
        background-color: #fff;
      }
      &:nth-child(2) {
        background-color: #fffaf4;
      }
      &:nth-child(3) {
        background-color: #f4f8ff;
      }
      &:nth-child(4) {
        background-color: #f9fff8;
      }
      &:nth-child(5) {
        background-color: #fdf7ff;
        margin-bottom: 0;
      }
      &:nth-child(6) {
        background-color: #f7ffff;
        margin-bottom: 0;
      }
    }
  }
  &__select {
    @media (max-width: 1260px) {
      margin-bottom: 16px;
    }
    @media (max-width: 575px) {
      justify-content: space-between;
      padding: 0 15px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    width: 120px;
    height: 120px;
    box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    margin-right: 16px;
    margin-bottom: 16px;
    @media (max-width: 1260px) {
      margin-right: 16px !important;
    }
    @media (max-width: 575px) {
      width: 104px;
      height: 104px;
      margin-right: 8px !important;
    }
    strong {
      color: theme-color("dark-blue");
      font-weight: 500;
      font-size: 20px;
    }
    span {
      color: theme-color("dark-blue");
      font-size: 16px;
    }
    &:nth-child(1) {
      background-color: #fff;
    }
    &:nth-child(2) {
      background-color: #fffaf4;
    }
    &:nth-child(3) {
      background-color: #f4f8ff;
    }
    &:nth-child(4) {
      background-color: #f9fff8;
    }
    &:nth-child(5) {
      background-color: #fdf7ff;
      margin-bottom: 0;
    }
    &:nth-child(6) {
      background-color: #f7ffff;
      margin-bottom: 0;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
    &.active {
      border: 2px solid #f77d0e;
    }
  }
}
.goos {
  .goos__not-found {
    display: none;
  }
  &--not {
    .goos__not-found {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h3 {
      color: theme-color("blue2");
      font-weight: $font-weight-medium;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
      margin: 20px 0 35px;
    }
  }
}
