.connections {
  &__wrapper {
    width: 100%;
    max-width: 336px;
  }
  > span {
    color: theme-color("silver");
    font-size: 12px;
    letter-spacing: 0.86px;
    line-height: 14px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 15px;
    align-self: start;
  }
  &__mob {
    .connections {
      display: flex;
      flex-direction: column;
      align-items: center;
      > span {
        margin-top: 24px;
        @media (max-width: 575px) {
          padding-left: 15px;
        }
      }
    }
  }
  &__box {
    width: 100%;
    max-width: 336px;
    height: 180px;
    border-radius: 8px;
    background-color: theme-color("white");
    box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
    padding: 15px 12px 12px 12px;
    margin-bottom: 16px;
    @media (max-width: 1260px) {
      min-width: 285px;
    }
    @media (max-width: 1050px) {
      min-width: 265px;
    }
    @media (max-width: 400px) {
      max-width: 100%;
    }
    > span {
      display: inline-block;
      margin-bottom: 12px;
      color: theme-color("silver");
      font-size: 12px;
      letter-spacing: 0.86px;
      line-height: 14px;
      text-transform: uppercase;
    }
    .btn-border {
      margin-right: 16px;
    }
  }
  &__select {
    max-height: 114px;
    height: 100%;
    justify-content: space-between;
    &--follower,
    &--friends-full {
      .connections__slider {
        max-width: 248px;
        margin-left: 21px;
        @media (max-width: 1260px) {
          max-width: 182px;
        }
        @media (max-width: 991px) {
          max-width: 248px;
        }
      }
      .btn-border,
      .btn-blue {
        max-width: 100%;
        width: 100%;
        margin-right: 0;
      }
    }
  }
  &__overflow {
    position: relative;
    width: 248px;
    height: 56px;
    overflow: hidden;
  }
  &__add {
    margin-right: 28px;
    max-width: 56px;
  }
  &__slider {
    max-width: 183px;
    @media (max-width: 1260px) {
      max-width: 118px;
    }
    @media (max-width: 991px) {
      max-width: 185px;
    }
    .swiper-button-prev {
      display: block !important;
      left: -32px;
      top: calc(50% - 15px);
    }
    .swiper-button-next {
      display: block !important;
      right: -45px;
      top: calc(50% - 11px);
    }
    .count-slider {
      position: absolute;
      right: -17px;
      top: calc(50% - 10px);
      color: theme-color("light-blue");
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
    }
    span[data-count="0"] {
      opacity: 0;
    }
    .swiper-button-disabled {
      opacity: 0.45 !important;
      pointer-events: none;
    }
  }
  &__box--unlink {
    box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    padding: 12px;
    background-color: #fff;
    width: 100%;
    max-width: 336px;
    @media (max-width: 575px) {
      max-width: 100%;
    }
    > div {
      @media (max-width: 575px) {
        justify-content: space-between;
      }
    }
    span {
      color: #0b0212;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.5px;
      line-height: 14px;
      display: inline-block;
      margin-bottom: 16px;
    }
    h4 {
      max-width: 140px;
      color: #335491;
      font-size: 18px;
      line-height: 24px;
      text-align: left;
    }
    .btn-border {
      max-width: 100%;
    }
  }
}
