.gift-shopping {
  box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  background-color: #fff;
  &__header {
    position: relative;
    width: 100%;
    padding: 24px;
    cursor: pointer;
    @media (max-width: 575px) {
      padding: 24px 40px 24px 24px;
    }
    &:after {
      content: url("images/icons/arrow-shop.svg");
      position: absolute;
      right: 24px;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      transition: 0.3s;
    }
    &.open {
      &:after {
        transform: rotate(180deg);
      }
    }
    h3 {
      color: #335491;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 18px;
      font-weight: 500;
      text-align: left;
      margin-bottom: 0;
      text-transform: uppercase;
      @media (max-width: 767px) {
        max-width: 430px;
        line-height: 28px;
      }
      @media (max-width: 575px) {
        max-width: 320px;
      }
    }
  }
  &__body {
    padding: 0 12px 32px 24px;
  }
  &__info {
    margin-bottom: 17px;
    p {
      color: #0b0212;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
    .btn-border {
      margin-left: auto;
    }
  }
  &__tags {
    margin-bottom: 56px;
    &:last-of-type {
      margin-bottom: 0;
    }
    span {
      display: inline-block;
      margin-top: 16px;
      color: #828282;
      font-size: 14px;
      font-weight: 400;
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
  h4 {
    color: #315293;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 0.8px;
    line-height: 12px;
    font-weight: 500;
  }
  &__categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 36px;
    &--single {
      display: flex;
      flex-direction: column;
      margin-right: 40px;
      ul {
        li {
          color: #0b0212;
          font-size: 16px;
          font-weight: 400;
          line-height: 16px;
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          &:before {
            content: url("images/icons/Oval.svg");
            margin-right: 8px;
          }
        }
      }
    }
    &--title {
      color: #828282;
      font-size: 12px;
      font-weight: 400;
      display: inline-block;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }
  h4 {
    color: #315293;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 12px;
    text-transform: uppercase;
    margin-bottom: 28px;
  }
}
