.profile-face {
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
  max-width: 930px;
  &__background {
    padding: 17px 25px;
    background-position: center;
    background-size: cover;
    background-color: #d8e1f1;
    border-radius: 8px 8px 0 0;
    height: inherit;
    a {
      margin-right: 12px;
    }
    .btn-border {
      height: 32px;
      background-color: transparent;
      position: relative;
      &:hover {
        background-color: #35558f !important;
      }
      .select-color {
        position: absolute;
        left: 0;
        top: 41px;
        display: flex;
        padding: 4px;
        z-index: 5;
        border-radius: 8px;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
        &.show {
          pointer-events: auto;
          opacity: 1;
        }
        li {
          position: relative;
          z-index: 5;
          display: block;
          min-width: 32px;
          width: 32px;
          height: 32px;
          box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
          border-radius: 5px;
          transition: 0.3s;
          margin-right: 8px;
          border: 1px solid transparent;
          &.select {
            border: 1px solid #f77d0e !important;
          }
          &:hover {
            border: 1px solid #2d4e97;
          }
          &:nth-of-type(1) {
            background-color: #d8e1f1;
          }
          &:nth-of-type(2) {
            background-color: #d8ecf1;
          }
          &:nth-of-type(3) {
            background-color: #d8f1df;
          }
          &:nth-of-type(4) {
            background-color: #eaf1d8;
          }
          &:nth-of-type(5) {
            background-color: #f1ead8;
          }
          &:nth-of-type(6) {
            background-color: #f1e2d8;
          }
          &:nth-of-type(7) {
            background-color: #f1d8d8;
          }
          &:nth-of-type(8) {
            background-color: #f1d8ee;
          }
          &:nth-of-type(9) {
            background-color: #dbd8f1;
            margin-right: 0;
          }
        }
        &::before {
          content: url("images/icons/ugolok.svg");
          position: absolute;
          left: 0;
          top: -11px;
          z-index: -1;
          pointer-events: none;
        }
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          border-radius: 8px;
          background-color: #fff;
          box-shadow: 1px 1px 4px 1px rgba(11, 2, 18, 0.08);
        }
      }
    }
  }
  &__info {
    height: 60px;
    position: relative;
    background-color: theme-color("white");
    border-radius: 0 0 8px 8px;
    padding: 0 24px 0 153px;
  }
  &__photo {
    position: absolute;
    left: 25px;
    bottom: 15px;
    width: 122px;
    height: 122px;
    border-radius: 50%;
    border: 2px solid theme-color("white");
    background-color: theme-color("blue5");
    cursor: pointer;
    &:hover {
      .profile-face__hover {
        opacity: 1 !important;
      }
    }
    .profile-face__hover {
      position: absolute;
      z-index: 5;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: 0.3s;
      img {
        margin-bottom: 8px;
      }
      span {
        color: theme-color("white");
        font-size: 14px;
        font-weight: normal;
      }
      &:before {
        content: "";
        display: block;
        background-color: #8196c3;
        opacity: 0.95;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        border-radius: 50%;
      }
    }
  }
  &__initial {
    font-size: 55px;
    color: theme-color("white");
  }
  &__name {
    border-bottom: 1px dashed theme-color("blue");
    strong {
      font-weight: $font-weight-medium;
      font-size: 18px;
      color: theme-color("blue");
      margin-right: 5px;
      display: inline-block;
    }
    span {
      line-height: 24px;
      font-size: 14px;
      color: theme-color("blue2");
    }
    a {
      line-height: 24px;
      font-size: 14px;
      color: theme-color("blue2");
      display: inline-block;
      text-decoration: none;
      &:last-child {
        margin-left: 19px;
      }
    }
  }
  &__date {
    font-size: 16px;
    color: theme-color("silver");
  }
}
