.wishlist-box {
  box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 16px;
  overflow: hidden;
  @media (max-width: 991px) {
    max-width: 550px;
    width: 100%;
    margin: 0 auto 16px;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  .btn-border {
    font-weight: 400 !important;
    font-size: 14px !important;
  }
  &.save {
    .wishlist-box__header,
    .wishlist-box__item,
    .wishlist-box__coupon,
    .wishlist-box__author {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 21px 8px 12px;
    @media (max-width: 575px) {
      flex-direction: column;
      align-items: flex-start;
    }
    &::after {
      content: url("images/icons/line-silver.svg");
      position: absolute;
      left: 0;
      right: 0;
      bottom: -8px;
    }
    strong {
      color: #0b0212;
      font-size: 18px;
      font-weight: 400;
      line-height: 18px;
      display: inline-block;
      margin-bottom: 8px;
    }
    span {
      color: #0b0212;
      font-size: 14px;
      font-weight: 300;
      line-height: 14px;
    }
  }
  &__sale {
    .wishlist-box__item-price {
      color: #4fcec4;
      margin-right: 16px;
    }
    .wishlist-box__item-sale {
      color: #99a9c9;
      font-size: 18px;
      font-weight: 400;
      line-height: 18px;
      text-align: left;
      text-transform: uppercase;
      text-decoration: line-through;
    }
    .wishlist-box__item-bundle {
      margin-left: 12px;
      display: flex;
      align-items: flex-end;
      span {
        color: #0b0212;
        font-size: 14px;
        font-weight: 300;
        line-height: 14px;
      }
    }
  }
  &__pick {
    display: flex;
    flex-direction: column;
    padding-bottom: 9px;
    @media (max-width: 575px) {
      margin-left: 72px;
    }
    strong {
      color: #335491;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      display: inline-block;
      margin-bottom: 10px;
    }
    span {
      color: #0b0212;
      font-size: 14px;
      font-weight: 300;
      line-height: 14px;
      b {
        font-weight: 500;
        display: inline-block;
        margin-left: 4px;
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__bargain {
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
      content: url("images/icons/line-silver.svg");
      position: absolute;
      left: 0;
      right: 0;
      bottom: -8px;
    }
    strong {
      color: #4fcec4;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
    }
  }
  &__count {
    .item-cart__quantity-wrap {
      margin: 16px 0;
      span {
        color: #0b0212;
        font-size: 14px;
        font-weight: 300;
      }
    }
    .item-cart {
      width: 100%;
      padding: 13px 8px;
      padding-right: 17px;
      border-radius: 8px;

      background-color: theme-color("white");
      box-shadow: $shadow-theme-card;

      // .item-cart__price

      &__price {
        margin-bottom: 16px;

        span {
          &:first-of-type {
            font-size: 18px;
            line-height: 18px;
            text-transform: uppercase;
            margin-right: 12px;

            color: theme-color("orange");
            font-weight: $font-weight-medium;
          }
          &:last-of-type {
            font-size: 14px;
            line-height: 14px;

            color: theme-color("dark-blue");
            font-weight: $font-weight-light;
          }
        }
      }

      // .item-cart__quantity

      &__quantity {
        margin-right: 8px;
        height: 24px;
        min-width: 72px;
        padding-left: 24px;
        padding-right: 24px;

        background-color: theme-color("light-gray2");
      }

      // .item-cart__minus
      &__minus,
      &__plus {
        position: absolute;
        top: 0;
        width: 24px;
        height: 24px;
        border-radius: 3px;

        background-color: theme-color("white");
        box-shadow: $shadow-card;

        .icon-plus,
        .icon-minus {
          &:after,
          &:before {
            width: 8px;
          }
        }
      }

      &__minus {
        left: 0;
      }

      // .item-cart__int

      &__int {
        padding: 0 5px;
        width: 100%;
        text-align: center;
        line-height: 24px;
      }

      // .item-cart__plus

      &__plus {
        right: 0;
      }

      &__btn {
        position: absolute;
        padding: 10px;
        margin: 0;
        top: 12px;
        right: -16px;
        width: 32px;
        height: 32px;
        border-radius: 50%;

        background-color: theme-color("white");
        box-shadow: $shadow-card;
        &:after,
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 55%;
          height: 2px;
          border-radius: 8px;
          background-color: theme-color("blue4");
          overflow: hidden;
        }
        &:after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        &:before {
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }
    .option-price__item {
      @media (max-width: 575px) {
        margin-left: -104px;
      }
      &:first-of-type {
        margin-top: 35px;
      }
      &:last-of-type {
        margin-bottom: 0;
        @media (max-width: 991px) {
          margin-bottom: 15px;
        }
      }
      &::after {
        content: none !important;
      }
    }
    ul {
      li {
        color: #0b0212;
        font-size: 14px;
        font-weight: 300;
        line-height: 14px;
        margin-bottom: 15px;
        b {
          font-weight: 500;
          display: inline-block;
          margin-left: 3px;
        }
      }
    }
  }
  &__photo {
    width: 56px;
    height: 56px;
    background-color: #e9ecf3;
    border-radius: 50%;
    margin-right: 16px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 23px 28px 12px;
    position: relative;
    @media (max-width: 575px) {
      flex-direction: column;
      padding-bottom: 16px;
    }
    > div {
      &:first-of-type {
        @media (max-width: 575px) {
          width: 100%;
        }
      }
    }
    &::after {
      content: url("images/icons/line-silver.svg");
      position: absolute;
      left: 0;
      right: 0;
      bottom: -8px;
    }
    &-photo {
      width: 88px;
      height: 88px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 16px;
    }
    &-price {
      color: #f77d0e;
      font-size: 18px;
      font-weight: 500;
      line-height: 18px;
      margin-right: 12px;
    }
    &-count {
      color: #0b0212;
      font-size: 14px;
      font-weight: 300;
      line-height: 14px;
      text-align: left;
    }
    &-function {
      display: flex;
      flex-direction: column;
      @media (max-width: 575px) {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
      }
      a {
        color: #335491 !important;
        font-size: 16px;
        font-weight: 400;
        display: flex;
        align-items: center;
        &:before {
          margin-right: 11px;
        }
        &:first-of-type {
          margin-bottom: 20px;
          @media (max-width: 575px) {
            margin-bottom: 0;
          }
        }
        &.reserved {
          &::before {
            content: url("images/icons/cap.svg");
            height: 22px;
          }
        }
        &.remove {
          &::before {
            height: 19px;
            content: url("images/icons/close-blue.svg");
          }
        }
      }
    }
  }
  &__detail {
    max-width: 205px;
    > strong {
      color: #0b0212;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      margin-bottom: 10px;
      display: inline-block;
    }
  }
  &__result {
    position: relative;
    padding: 16px 12px 12px 20px;
    justify-content: space-between;
    @media (min-width: 992px) and (max-width: 1260px) {
      flex-direction: column;
    }
    @media (max-width: 575px) {
      flex-direction: column;
    }
    &::after {
      content: url("images/icons/line-silver.svg");
      position: absolute;
      left: 0;
      right: 0;
      bottom: -8px;
    }
  }
  &__left {
    @media (max-width: 575px) {
      margin-bottom: 24px;
    }
    > span {
      color: #828282;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.86px;
      text-align: left;
      text-transform: uppercase;
      display: inline-block;
      margin-bottom: 10px;
    }
  }
  .connections__select {
    margin-bottom: 24px;
    max-height: 56px;
  }
  &__contrib {
    display: flex;
    align-items: center;
    li {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #f6f9fe;
      margin-right: 8px;
    }
  }
  &__total {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 992px) and (max-width: 1260px) {
      margin: 10px 0  5px;
    }
    ul {
      display: flex;
      flex-direction: column;
      margin-bottom: 42px;
      margin-top: 8px;
      li {
        color: #0b0212;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        margin-bottom: 7px;
        white-space: nowrap;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        @media (max-width: 575px) {
          justify-content: space-between;
          padding-left: 0 !important;
        }
        &.total {
          color: #0b0212;
          font-size: 14px;
          font-weight: 500;
          line-height: 14px;
          text-align: left;
          margin-bottom: 16px;
          padding-left: 17px;
        }
        > div {
          display: inline-block;
          @media (max-width: 575px) {
            display: inline-flex;
            width: 115px;
            justify-content: space-between;
          }
        }
        &.balance {
          color: #2f5095;
        }
        &:nth-child(3) {
          padding-left: 24px;
        }
        span {
          display: inline-block;
          &:first-of-type {
            margin-right: 5px;
          }
          &:nth-child(2) {
            margin-right: 12px;
            text-transform: uppercase;
          }
        }
      }
    }
    .btn-border {
      @media (max-width: 575px) {
        max-width: 100%;
      }
    }
    &--bottom {
      .remaning {
        display: flex;
        align-items: flex-end;
        margin-top: 8px;
        text-align: left;
        @media (max-width: 575px) {
          justify-content: space-between;
          margin-top: 8px;
        }
        .remaining__price {
          display: flex;
          align-items: flex-end;
          > div {
            display: inline-flex;
            align-items: flex-end;
            @media (max-width: 575px) {
              display: inline-flex;
              width: 115px;
              justify-content: space-between;
            }
            span {
              &:first-of-type {
                padding-left: 2px;
                margin-right: 12px;
                @media (max-width: 575px) {
                  padding-left: 0;
                }
              }
            }
          }
        }
        span {
          color: #f97d00;
          font-size: 14px;
          font-weight: 400;
          line-height: 14px;
          display: inline-block;
          &:nth-of-type(2) {
            margin-right: 12px;
          }
        }
      }
    }
  }
  &__coupon {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px 12px 16px 20px;
    &::after {
      content: url("images/icons/line-silver.svg");
      position: absolute;
      left: 0;
      right: 0;
      bottom: -8px;
    }
    input {
      width: 100%;
      max-width: 344px;
      height: 40px;
      border-radius: 5px;
      background-color: #f8f9fb;
      padding: 12px 20px 9px 16px;
      border: none;
      margin-right: 24px;
      text-transform: uppercase;
      outline: none !important;
      &:focus {
        border: 1px solid rgba(53, 85, 143, 0.5) !important;
      }
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px 12px 12px;
    .btn-border-orange {
      @media (max-width: 575px) {
        margin-right: 0 !important;
        max-width: 100%;
      }
    }
    .btn-orange {
      @media (max-width: 575px) {
        display: none;
      }
    }
    a {
      max-width: 160px;
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }
  &__for {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px 10px 12px 20px;
    @media (max-width: 575px) {
      flex-direction: column;
      align-items: flex-start;
      padding: 12px 16px;
    }
  }
  &__author {
    display: flex;
    align-items: center;
    .wishlist-box__img {
      width: 40px;
      height: 40px;
      display: block;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 12px !important;
    }
    .wishlist-box__info--user {
      display: flex;
      flex-direction: column;
      span {
        color: #0b0212;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
      }
    }
  }
  &__function {
    @media (max-width: 575px) {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 22px;
    }
    a:not(.btn) {
      color: #335491;
      font-size: 16px;
      font-weight: 400;
      display: inline-block;
      &:first-of-type {
        margin-right: 30px;
      }
      img {
        margin-right: 10px;
      }
    }
    a.btn {
      font-size: 16px;
      width: 160px;
      height: 40px;
      @media (max-width: 575px) {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}
