//Glob Utils
@import "../../variables";
@import "../../bootstrap-utils";

// Page Specific Components
@import "static-box";
@import "comments-box";

.recomend {
  color: theme-color("silver");
  font-size: 12px;
  letter-spacing: 0.86px;
  line-height: 23px;
  text-transform: uppercase;
  margin: 24px 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 575px) {
    padding-left: 15px;
  }
  &:before {
    content: url("images/icons/reocmend-line.svg");
    margin-top: -7px;
    @media (max-width: 1260px) {
      max-width: 107px;
      overflow: hidden;
    }
    @media (max-width: 991px) {
      max-width: none;
    }
    @media (max-width: 575px) {
      max-width: 130px;
    }
    @media (max-width: 490px) {
      max-width: 70px;
    }
    @media (max-width: 360px) {
      max-width: 45px;
    }
  }
  &:after {
    content: url("images/icons/reocmend-line.svg");
    margin-top: -7px;
    @media (max-width: 1260px) {
      max-width: 115px;
      overflow: hidden;
    }
    @media (max-width: 991px) {
      max-width: none;
    }
    @media (max-width: 575px) {
      max-width: 130px;
    }
    @media (max-width: 490px) {
      max-width: 85px;
    }
    @media (max-width: 360px) {
      max-width: 48px;
    }
  }
}
