<!-- admin-menu -->
{{!-- admin menu minimize - add class admin-menu--minimize --}}
<div class="admin-menu position-fixed">
  <div class="admin-menu__header d-flex d-lg-none">
    <div class="admin-menu__close">
      <img src="images/icons/close-blue.svg" alt="">
    </div>
    <a class="admin-menu__logo" href="/index.html">
      <img class="admin-menu__img" src="images/icons/splitcheck-w-logo.png" alt="logo">
      <span>Manage stores</span>
    </a>
  </div>
  <section class="section-content">
    <div class="admin-menu__nav position-relative">
      <button class="admin-menu__btn-minimize d-none d-lg-block">
        <i class="icon icon-minimize"></i>
      </button>
      <div class="admin-menu__wrap position-relative">
        <div class="admin-menu__user-select d-flex d-lg-none">
          <div class="user-select">
            <div class="user-select__photo">
              <div style="background-image: url(images/message/img-1.png);"> <span>WD</span>
              </div>
            </div>
            <span class="user-select__name">Genetix Nutrition</span>
            <div class="form__single form__single--select form__single--select-default form__single--fluid">
              <select class="form__select form__select--default" data-toggle="select">
                <option value="user-1" title="TS">Terry Smith</option>
                <option value="user-1" title="TW">Terry Will Green</option>
              </select>
            </div>
          </div>
        </div>

        <ul class="admin-menu__list d-flex flex-column list-unstyled mb-0">
          <li class="admin-menu__item admin-menu__item--visit">
            <a href="#" class="admin-menu__link position-relative">
              <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
              <i class="icon icon-dashboard"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="admin-menu__item">
            <a href="#" class="admin-menu__link position-relative">
              <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
              <i class="icon icon-notification"></i>
              <span>Alerts <b>(2)</b></span>
            </a>
          </li>
          <li class="admin-menu__item">
            <a href="#" class="admin-menu__link position-relative">
              <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
              <i class="icon icon-messages"></i>
              <span>Trading room</span>
            </a>
          </li>
          <li class="admin-menu__item admin-menu__item--submenu js-open">
            <div class="admin-menu__title position-relative">
              <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
              <i class="icon icon-shipping"></i>
              <span>Orders</span>
              <i class="icon icon-blue-arrow"></i>
            </div>

            <ul class="admin-menu__list">
              <li class="admin-menu__item">
                <a href="#" class="admin-menu__link position-relative">
                  <span>View orders</span>
                </a>
              </li>
              <li class="admin-menu__item">
                <a href="#" class="admin-menu__link position-relative">
                  <span>Abandoned cart</span>
                </a>
              </li>
              <li class="admin-menu__item">
                <a href="#" class="admin-menu__link position-relative">
                  <span>Items in wishlist</span>
                </a>
              </li>
              <li class="admin-menu__item">
                <a href="#" class="admin-menu__link position-relative">
                  <span>Shop for your store</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="admin-menu__item admin-menu__item--submenu">
            <div class="admin-menu__title position-relative">
              <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
              <i class="icon icon-networking"></i>
              <span>Networking</span>
              <i class="icon icon-blue-arrow"></i>
            </div>

            <ul class="admin-menu__list">
              <li class="admin-menu__item">
                <a href="#" class="admin-menu__link position-relative">
                  <span>View orders</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="admin-menu__item admin-menu__item--submenu">
            <div class="admin-menu__title position-relative">
              <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
              <i class="icon icon-social-media"></i>
              <span>Posts</span>
              <i class="icon icon-blue-arrow"></i>
            </div>

            <ul class="admin-menu__list">
              <li class="admin-menu__item">
                <a href="#" class="admin-menu__link position-relative">
                  <span>View orders</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="admin-menu__item admin-menu__item--submenu">
            <div class="admin-menu__title position-relative">
              <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
              <i class="icon icon-landing-page"></i>
              <span>Landing pages</span>
              <i class="icon icon-blue-arrow"></i>
            </div>

            <ul class="admin-menu__list">
              <li class="admin-menu__item">
                <a href="#" class="admin-menu__link position-relative">
                  <span>View orders</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="admin-menu__item admin-menu__item--submenu">
            <div class="admin-menu__title position-relative">
              <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
              <i class="icon icon-gift"></i>
              <span>Products</span>
              <i class="icon icon-blue-arrow"></i>
            </div>

            <ul class="admin-menu__list">
              <li class="admin-menu__item">
                <a href="#" class="admin-menu__link position-relative">
                  <span>View orders</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="admin-menu__item admin-menu__item--submenu">
            <div class="admin-menu__title position-relative">
              <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
              <i class="icon icon-megaphone"></i>
              <span>Marketing</span>
              <i class="icon icon-blue-arrow"></i>
            </div>

            <ul class="admin-menu__list">
              <li class="admin-menu__item">
                <a href="#" class="admin-menu__link position-relative">
                  <span>View orders</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="admin-menu__item admin-menu__item--submenu">
            <div class="admin-menu__title position-relative">
              <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
              <i class="icon icon-shop"></i>
              <span>My stores</span>
              <i class="icon icon-blue-arrow"></i>
            </div>

            <ul class="admin-menu__list">
              <li class="admin-menu__item">
                <a href="#" class="admin-menu__link position-relative">
                  <span>View orders</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>

        <div class="admin-menu__footer d-flex d-lg-none">
          <form action="" class="form form-admin-menu">
            <div class="form__wrap">
              <div class="form__single form__single--fluid form__single--checkbox form__single--checkbox-left">
                <input type="checkbox" id="checkbox-alert-admin-menu" class="form__checkbox form__checkbox--language"
                  name="checkbox-alert-admin-menu" checked="">
                <label for="checkbox-alert-admin-menu">
                  <b>Alert me when new messages arrive</b>
                </label>
              </div>
              <div class="form__single form__single--fluid form__single--checkbox form__single--checkbox-left">
                <input type="checkbox" id="checkbox-alert-admin-menu2" class="form__checkbox form__checkbox--language"
                  name="checkbox-alert-admin-menu2" checked="">
                <label for="checkbox-alert-admin-menu2">
                  <b>Alert me when shopper visits my store</b>
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <span class="admin-menu__copyright">All rights reserved SplitchChek 2020</span>
  </section>
</div>
<!-- /admin-menu -->
