<div class="answer">
  <div class="container">
    <div class="answer__content">
      <h3>SplitChek is the answer!</h3>
      <div class="row w-100">
        <div class="col-md-3 col-sm-6 col-12">
          <div class="answer__block">
            <div class="answer__img">
              <img src="images/icons/heart.svg" alt="">
            </div>
            <p>Create and share a gift wishlist or ask your loved ones to create one for their special occasion</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <div class="answer__block">
            <div class="answer__img">
              <img src="images/icons/shop.svg" alt="">
            </div>
            <p>Set up custom <a class="link-orange" href="#">shopping preferences</a> and invite your friends and family to choose the ultimate gift for you</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <div class="answer__block">
            <div class="answer__img">
              <img src="images/icons/coin.svg" alt="">
            </div>
            <p>Share your checkout bill with friends and family to buy someone the gift they always dreamed about</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <div class="answer__block">
            <div class="answer__img">
              <img src="images/icons/calendar.svg" alt="">
            </div>
            <p>Share timelines, communicate with your friends and stores, snatch bargains and save money using group purchases</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
