<div class="answer">
  <div class="container">
    <div class="answer__content">
      <h3>SplitChek is the answer!</h3>
      <p><span>We connect</span> family and friends to <span>share the cost</span> of meaningful gifts for each other
      </p>
      <div class="row w-100">
        <div class="col-lg-3 col-md-6 col-12">
          <div class="answer__block">
            <div class="answer__img">
              <svg xmlns="http://www.w3.org/2000/svg" width="39" height="40" viewBox="0 0 39 40">
                <g>
                  <g>
                    <path
                      d="M34.381 1.758c-3.944-3.382-9.596-1.425-12.85 1.99-1.832 1.922-2.57 4.546-2.878 7.3-2.01-2.583-4.175-4.96-7.578-5.442C6.39 4.942.791 8.864.105 13.578c-.801 5.51 3.115 10.346 6.975 13.761 5.098 4.51 10.83 8.395 16.26 12.494 1.288.974 5.464-2.621 5.064-2.924l-1.32-.991c1.22-.617 2.534-1.492 2.737-1.81 3.303-5.16 6.497-10.664 7.786-16.72 1.061-4.984 1-12.008-3.226-15.63z" />
                  </g>
                </g>
              </svg>
            </div>
            <p>Create and share <a href="#" class="link-orange"> gift wishlist</a> or ask your loved ones to create one for their special
              occasion</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="answer__block">
            <div class="answer__img">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="34" viewBox="0 0 40 34">
                <g>
                  <g>
                    <g>
                      <path fill="#0b0212"
                        d="M37.297 16.09c-2.894-3.318-8.38-3.04-11.335.022-1.419-1.419-3.407-2.23-6.203-1.98-1.526.136-2.846.592-3.984 1.275-.649-.6-1.611-1-2.538-1.16-.063-.113-.214-.155-.348-.127a.802.802 0 0 0-.26-.142c-4.552-1.542-8.875 1.624-10.797 5.635C.712 21.951.31 24.547.164 27.112c-.087 1.55-.487 3.615.41 4.932-.241.295-.134.815.284.943 1.723.527 3.742.49 5.693.307 10.486.845 21.464.35 31.866.16a.779.779 0 0 0 .488-.178.594.594 0 0 0 .448-.504c.738-4.96 1.561-12.536-2.056-16.683z" />
                    </g>
                    <g>
                      <path fill="#0b0212"
                        d="M21.447.67c-3.187-1.764-6.283.68-6.432 4.013-.131 2.944 2.283 7.04 5.484 5.578.846-.041 1.698-.466 2.427-1.42 1.883-2.467 1.315-6.625-1.48-8.172z" />
                    </g>
                    <g>
                      <path fill="#0b0212"
                        d="M9.722 2.131c-1.62-.527-2.928.032-3.814 1.076-2.982 2.403-1.45 9.747 3.056 9.072 4.579-.686 5.103-8.734.758-10.148z" />
                    </g>
                    <g>
                      <path fill="#0b0212"
                        d="M30.365 1.015c-2.211 1.457-2.615 5.377-1.659 7.64.956 2.264 3.97 4.086 6.033 2.066 4.937-2.32.619-12.998-4.374-9.706z" />
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <p>Set up custom <a class="link-orange" href="#">shopping preferences</a> and invite your friends and family
              to choose the ultimate gift for you</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="answer__block">
            <div class="answer__img">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="36" viewBox="0 0 40 36">
                <g>
                  <g>
                    <g>
                      <path
                        d="M11.61 20.634a24.89 24.89 0 0 0 3.236-.208V9.167a24.907 24.907 0 0 0-3.236-.207C5.198 8.96 0 11.318 0 14.226v1.142c0 2.908 5.198 5.266 11.61 5.266z" />
                    </g>
                    <g>
                      <path
                        d="M11.61 26.506c1.123 0 2.209-.072 3.236-.207v-3.3a24.903 24.903 0 0 1-3.236.208c-5.597 0-10.269-1.796-11.366-4.187-.16.348-.244.709-.244 1.079v1.141c0 2.909 5.198 5.266 11.61 5.266z" />
                    </g>
                    <g>
                      <path
                        d="M14.846 29.135v-.256a24.903 24.903 0 0 1-3.236.208c-5.597 0-10.269-1.796-11.366-4.187-.16.348-.244.709-.244 1.078v1.142c0 2.909 5.198 5.266 11.61 5.266a24.66 24.66 0 0 0 3.669-.268 4.154 4.154 0 0 1-.433-1.84z" />
                    </g>
                    <g>
                      <path
                        d="M28.35.04c-6.412 0-11.61 2.358-11.61 5.266v1.142c0 2.908 5.198 5.266 11.61 5.266 6.412 0 11.61-2.358 11.61-5.266V5.306C39.96 2.398 34.762.04 28.35.04z" />
                    </g>
                    <g>
                      <path
                        d="M28.35 14.287c-5.597 0-10.269-1.796-11.366-4.187-.16.348-.244.709-.244 1.079v1.141c0 2.909 5.198 5.266 11.61 5.266 6.412 0 11.61-2.357 11.61-5.265v-1.142c0-.37-.084-.73-.244-1.079-1.097 2.391-5.769 4.187-11.366 4.187z" />
                    </g>
                    <g>
                      <path
                        d="M28.35 20.167c-5.597 0-10.269-1.796-11.366-4.187-.16.348-.244.709-.244 1.079V18.2c0 2.909 5.198 5.266 11.61 5.266 6.412 0 11.61-2.357 11.61-5.266V17.06c0-.37-.084-.73-.244-1.079-1.097 2.39-5.769 4.187-11.366 4.187z" />
                    </g>
                    <g>
                      <path
                        d="M28.35 26.367c-5.597 0-10.269-1.796-11.366-4.187-.16.348-.244.709-.244 1.078v1.143c0 2.908 5.198 5.265 11.61 5.265 6.412 0 11.61-2.357 11.61-5.265v-1.143c0-.37-.084-.73-.244-1.078-1.097 2.39-5.769 4.187-11.366 4.187z" />
                    </g>
                    <g>
                      <path
                        d="M28.35 32.247c-5.597 0-10.269-1.796-11.366-4.187-.16.348-.244.71-.244 1.079v1.142c0 2.908 5.198 5.265 11.61 5.265 6.412 0 11.61-2.357 11.61-5.265v-1.143c0-.37-.084-.73-.244-1.078-1.097 2.39-5.769 4.187-11.366 4.187z" />
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <p><a href="#" class="link-orange">Share your checkout bill </a>with friends and family to buy someone the gift they always
              dreamed about</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="answer__block">
            <div class="answer__img">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="38px" height="39px" viewBox="0 0 38 39" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>Icon</title>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Artboard" transform="translate(-914.000000, -1447.000000)">
                    <g id="Icon" transform="translate(914.000000, 1447.000000)">
                      <path
                        d="M38,12 L38,38 C38,38.5522847 37.5522847,39 37,39 L1,39 C0.44771525,39 6.76353751e-17,38.5522847 0,38 L0,12 L38,12 Z M30,29 L26,29 L26,33 L30,33 L30,29 Z M24,29 L20,29 L20,33 L24,33 L24,29 Z M18,29 L14,29 L14,33 L18,33 L18,29 Z M12,29 L8,29 L8,33 L12,33 L12,29 Z M30,23 L26,23 L26,27 L30,27 L30,23 Z M24,23 L20,23 L20,27 L24,27 L24,23 Z M18,23 L14,23 L14,27 L18,27 L18,23 Z M12,23 L8,23 L8,27 L12,27 L12,23 Z M12,17 L8,17 L8,21 L12,21 L12,17 Z M18,17 L14,17 L14,21 L18,21 L18,17 Z M24,17 L20,17 L20,21 L24,21 L24,17 Z M30,17 L26,17 L26,21 L30,21 L30,17 Z"
                        id="Combined-Shape" fill="#0B0212"></path>
                      <g id="Group">
                        <path
                          d="M1,3 L37,3 C37.5522847,3 38,3.44771525 38,4 L38,10 L38,10 L0,10 L0,4 C-6.76353751e-17,3.44771525 0.44771525,3 1,3 Z"
                          id="Rectangle" fill="#0B0212"></path>
                        <rect id="Rectangle" stroke="#0B0212" x="8.5" y="0.5" width="3" height="6" rx="1.5"></rect>
                        <rect id="Rectangle-Copy-12" stroke="#0B0212" x="26.5" y="0.5" width="3" height="6" rx="1.5">
                        </rect>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <p><a href="#" class="link-orange">Share timelines,</a> communicate with your friends and stores, snatch bargains and save money
              using group purchases</p>
          </div>
        </div>
      </div>
      <figure>
        <svg xmlns="http://www.w3.org/2000/svg" width="141" height="163" viewBox="0 0 141 163">
          <g>
            <g>
              <g transform="matrix(1 0 0 -1 0 163)">
                <g />
                <g />
                <g>
                  <path fill="#0b0212"
                    d="M123.143 85.415c-.712 1.3-1.402 4.002-3.037 4.318-.038.007-.075.003-.113.007.33 6.148.075 12.356.09 18.516.015 6.007.075 12.012.068 18.018 0 5.834-.038 11.67-.278 17.5-.112 2.908-.24 5.818-.442 8.72-.06.783-.083 1.595-.128 2.406 2.138-.014 2.048 3.444-.217 3.696-.155.018-.31.03-.466.046-.033.084-.059.17-.094.252-.365.825-1.659.693-2.03-.04-10.866 1.051-21.793 1.138-32.704 1.222-5.992.046-11.988.086-17.977.305-4.702.172-9.41.675-14.115.609-8.17-.115-16.308-.977-24.477-1.083-4.017-.052-8.123-.056-12.1.598-2.666.438-5.575 1.89-8.246 1.806a1.472 1.472 0 0 1-.476.465.868.868 0 0 1-.882 0c-1.096-.68-.75-2.249-.743-3.362l.042-6.058c.002-.28.007-.56.01-.841-.325-.267-.541-.675-.528-1.227C5.364 103.112-.365 55.11.48 6.953a.79.79 0 0 1 .13-.432c-.85-.544-.875-2.184.321-2.384 9.498-1.58 19.29-2.164 28.89-2.827C39.757.624 49.708.156 59.666.02 68.92-.11 78.07.432 87.303.956c4.531.258 9.08.48 13.622.36 4.3-.113 8.447-.726 12.701-1.272 1.662-.214 1.884 2.354.416 2.833.472 4.259.466 8.596.64 12.87.194 4.702.38 9.405.531 14.11.302 9.348.924 18.866.537 28.225 3.016-.735 6.576.008 9.53.422 4.793.673 9.976 1.37 14.49 3.187 1.32.534 1.276 2.199.33 2.75-.067.096-.15.188-.254.27-4.785 3.553-8.813 8.484-12.135 13.378-1.613 2.382-3.18 4.8-4.568 7.326zm-2.047-1.962c1.567-2.757 3.255-5.452 5.13-8.007 3.12-4.232 6.487-8.52 10.95-11.348-3.953-1.029-7.86-2.118-11.903-2.81-3.27-.563-6.6-.76-9.864-1.256-.671.802-2.236.535-2.305-.806-.506-9.755-.22-19.598-.511-29.37-.14-4.703-.292-9.407-.457-14.11-.143-4.067-.492-8.19-.397-12.272-7.54 1.7-15.976 1.036-23.519.602-9.194-.528-18.322-1.141-27.54-1.02-9.967.13-19.93.537-29.875 1.218-9.596.658-19.188 1.886-28.788 2.38.035.089.059.187.06.3.884 46.067 5.518 92.04 5.564 138.12.163.184.27.432.264.752.005.354.013.708.02 1.06a.601.601 0 0 1 .248.501c.026 1.797-.052 3.572-.14 5.346.025 2.082.021 4.162-.053 6.238 1.852-1.087 4.396-1.496 6.229-1.783 3.839-.6 7.716-.817 11.6-.815 8.453.004 16.868.872 25.315.982 4.904.064 9.792-.446 14.691-.615 5.99-.207 11.985-.271 17.977-.324 10.862-.093 21.74-.19 32.558-1.24.147-1.485.428-2.987.536-4.39.2-2.632.357-5.267.454-7.907.215-5.846.283-11.697.291-17.548.015-11.785-.855-23.96.552-35.677.057-.474.37-.756.72-.842-.391-1.687 1.45-4.054 2.193-5.36z" />
                </g>
              </g>
              <g>
                <path fill="#0b0212"
                  d="M55.177 120.624c1.178 4.41 2.218 9.024 2.086 13.617-.064 2.209-3.288 2.187-3.41 0a66.58 66.58 0 0 0-1.55-11.05c-.566-.011-1.136-.06-1.665-.057-.794.005-1.654-.025-2.492.033-.507 3.423-.948 6.85-1.23 10.286-.087 1.05-1.573 1.062-1.641 0-.212-3.37.015-6.687.405-9.985-.732-.321-1.005-1.548-.147-2.018.142-.078.288-.147.435-.216.665-4.848 1.554-9.674 1.805-14.59.087-1.716 2.326-1.947 2.9-.393 1.73 4.68 3.218 9.551 4.504 14.373zm-3.652-.513c-.041-.15-.077-.297-.12-.447-.55-1.94-1.182-3.872-1.785-5.81-.355 2.199-.715 4.4-1.061 6.603a20.669 20.669 0 0 1 1.63-.205c.416-.036.87-.096 1.336-.141z" />
              </g>
              <g>
                <path
                  d="M38.7 126.805c-.6 2.678-1.367 7.246-5.155 6.148-3.398-.983-5.61-5.092-6.619-8.18-1.423-4.355-1.02-9.105 1.24-13.08 1.014-1.785 2.317-3.475 4.018-4.653 1.985-1.374 2.973 1.493 3.54 2.958.304.788 1.672.762 1.588-.214-.208-2.395-1.041-5.38-3.831-5.748-2.549-.337-4.668 1.74-6.135 3.543-4.011 4.929-5.308 11.133-3.63 17.267 1.238 4.528 4.487 9.673 9.303 10.943 5.22 1.376 8.064-4.272 8.284-8.632.074-1.493-2.276-1.808-2.603-.352" />
              </g>
              <g>
                <path
                  d="M40.1 29.242c-.158-1.677-2.694-1.744-2.664 0 .173 9.678-1.973 19.022-4.658 28.257a374.976 374.976 0 0 1-1.833 6.056c-3.96-11.919-4.179-25.135-10.517-36.173-.704-1.224-2.899-.38-2.337.985 2.55 6.194 4.151 12.662 5.453 19.214 1.327 6.688 2.518 13.431 4.99 19.811.194.502.535.832.93 1.017-1.64 5.5-3.102 11.053-3.71 16.737-.247 2.322 3.689 2.85 4.078.551 1.611-9.482 4.241-18.619 6.715-27.898 2.478-9.292 4.456-18.9 3.553-28.557" />
              </g>
              <g>
                <path
                  d="M61.19 46.236c.392 5.614.07 11.393-1.197 16.889-1.03 4.472-2.727 9.524-6.448 12.495-1.05.838-2.34.732-3.13-.403-4.338-6.266-5.523-15.183-5.535-22.613-.009-6.214.93-13.341 4.961-18.286a2.55 2.55 0 0 1-.04-.211c-.263-2.017 2.054-3.4 3.907-3.172 1.79.218 3.096 1.138 4.13 2.599 2.496 3.525 3.058 8.52 3.351 12.702zm-3.903 1.937c-.157-3.734-.429-8.09-2.213-11.467-.318-.601-.586-1.046-.895-1.35-.308-.307-.325-.36-.61-.418.107.026-.147-.006-.147-.006a4.905 4.905 0 0 0-.189.053c-4.288 4.648-4.67 12.718-4.468 18.606.197 5.684.996 12.176 3.735 17.386 1.877-2.436 2.865-5.609 3.538-8.532 1.075-4.661 1.45-9.493 1.25-14.272z" />
              </g>
              <g>
                <path
                  d="M100.877 66.792c-5.835-4.732-8.371-10.982-9.552-18.273-1.16-7.153-.841-14.486-.849-21.703.006-2.422-3.748-2.42-3.757 0-.008 2.472-.034 4.945-.028 7.414-.121 7.636-.652 15.413-2.841 22.612-.542 1.783-1.277 3.706-2.639 4.902-.313.277-.737.363-1.16.352-.433-.012-1.343-.466-1.959-.948-2.649-2.074-3.449-5.215-3.996-8.407-.731-4.277-.664-8.755-.369-13.068.232-3.388.544-6.82 1.47-10.1.435-1.543-1.827-2.11-2.363-.652-2.702 7.358-3.244 16.046-2.192 23.766.714 5.246 3.122 12.408 9.409 12.946 4.479.382 6.56-5.35 7.535-8.709.314-1.08.587-2.174.824-3.279 1.532 6.325 4.595 12.59 10.166 16.13 1.799 1.14 3.991-1.614 2.301-2.983" />
              </g>
              <g>
                <path fill="#0b0212"
                  d="M72.395 98.479c-.973-1.211-2.913.097-2.516 1.463 1.574 5.398 1.841 10.413 1.51 16.043-.22 3.76-.66 7.5-1.076 11.24-3.031-6.829-5.835-13.748-7.805-20.98-.436-1.605-2.944-1.291-2.908.393.095 4.511.154 9.02.194 13.532.037 4.227-.12 8.485.676 12.657.116.606 1.104.606 1.22 0 .797-4.172.639-8.43.676-12.657.012-1.303.03-2.606.045-3.909 2.155 6.132 4.822 12.08 7.5 18.017.74 1.64 2.934.618 3.063-.83.567-6.331 1.527-12.616 1.89-18.967.276-4.855.784-11.95-2.47-16.002" />
              </g>
              <g>
                <path
                  d="M84.615 131.332c-.069-.423-.464-.885-.837-1.077-.143-.073-.296-.129-.446-.187-.27-.105-.624-.077-.894.007a2.831 2.831 0 0 0-.304.118c-1.123-.025-2.134.835-2.134 2.035 0 1.363 1.303 2.29 2.593 1.976a4.18 4.18 0 0 0 1.031-.369c.683-.366 1.018-1.076 1.071-1.817.015-.226-.045-.477-.08-.686" />
              </g>
              <g>
                <path
                  d="M92.615 131.332c-.069-.423-.464-.885-.837-1.077-.143-.073-.296-.129-.446-.187-.27-.105-.624-.077-.894.007a2.831 2.831 0 0 0-.304.118c-1.123-.025-2.134.835-2.134 2.035 0 1.363 1.303 2.29 2.593 1.976a4.18 4.18 0 0 0 1.031-.369c.683-.366 1.018-1.076 1.071-1.817.015-.226-.045-.477-.08-.686" />
              </g>
              <g>
                <path
                  d="M101.615 131.332c-.069-.423-.464-.885-.837-1.077-.143-.073-.296-.129-.446-.187-.27-.105-.624-.077-.894.007a2.831 2.831 0 0 0-.304.118c-1.123-.025-2.134.835-2.134 2.035 0 1.363 1.303 2.29 2.593 1.976a4.18 4.18 0 0 0 1.031-.369c.683-.366 1.018-1.076 1.071-1.817.015-.226-.045-.477-.08-.686" />
              </g>
            </g>
          </g>
        </svg>
      </figure>
    </div>
  </div>
</div>
