<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__block footer__logo">
        <a href="/index.html">
          <img src="images/icons/logo.png" alt="">
        </a>
        <p>All rights reserved. SpltChek 2020</p>
      </div>
      <div class="footer__mobile">
        <div class="footer__block">
          <h5>General Policy</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="#">Your Agreement</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Copyright</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">Payment</a></li>
            <li><a href="#">Code of Conduct</a></li>
          </ul>
        </div>
        <div class="footer__block">
          <h5>Business Policy</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="#">Commerece Terms</a></li>
            <li><a href="#">Payment Terms</a></li>
            <li><a href="#">Advertising</a></li>
            <li><a href="#">Community Engagement</a></li>
            <li><a href="#">Targeting Guidelines</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__block">
        <h5>More Information</h5>
        <div class="footer__list">
          <ul class="list-unstyled">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">What’ the goss</a></li>
            <li><a href="#">Sell Something</a></li>
            <li><a href="#">Create a store</a></li>
          </ul>
          <ul class="list-unstyled mb-0">
            <li><a href="#">Grab a bargain</a></li>
            <li><a href="#">My account</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Advertise</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>