<header class="header header-help">

    <div class="container">
        <div class="header__content">
            <div class="header-help__left">
                <div class="header__burger">
                    <a href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
                <a class="header__logo" href="/index.html">
                    <img class="header__img" src="images/icons/splitcheck-w-logo.png" alt="logo">
                    <span class="d-none d-md-block">Help center</span>
                </a>
                <div class="header-help__links">
                    <ul>
                        <li><a href="#">Get started</a></li>
                        <li><a href="#">Sell</a></li>
                        <li><a href="#">Hashtags</a></li>
                        <li><a href="#">Manage Store</a></li>
                        <li><a href="#">B2B</a></li>
                    </ul>
                </div>
            </div>

            <div class="header-help__right">
                <a class="btn-border" href="#">To SplitCheck</a>
            </div>
        </div>
    </div>
</header>