<header class="header">
    <div class="container">
        <div class="header__content">
            <div class="header__left">
                <div class="header__burger">
                    <img src="images/icons/burger.svg" alt="">
                </div>
                <a class="header__logo" href="/index.html">
                    <img class="header__img-desktop" src="images/icons/w-logo.png" alt="logo">
                    <img class="header__img-mobile" src="images/icons/logo-mobile.png" alt="logo">
                </a>
                <span class="blog-header">
                    Blog
                </span>
            </div>
            <div class="header__search">
                <!-- form search -->
                <!-- add class: "search--active" -->
                <form action="#" id="search" class="search">

                    <input type="search" name="search" class="search__input" placeholder="Search blog" id="search-input"
                        autocomplete="off" />

                    <button class="search__button" aria-label="search">
                        <i class="icon icon-search"></i>
                    </button>


                    <div class="search__result">
                        <ul class="search__result-list">
                            <li class="search__result-item d-flex align-items-center">
                                <p>
                                    <b>pa</b>int
                                </p>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="header__right">
                <div class="header__link-block">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#">For businesses</a></li>
                        <li><a href="#">For gifters</a></li>
                    </ul>
                </div>
                <div class="header__btn-block">
                    <a class="btn-border" href="#" data-toggle="modal" data-target="#logIn">Log In</a>
                    <a class="btn-blue" href="#" data-toggle="modal" data-target="#register">Create Account</a>
                </div>
            </div>


        </div>
    </div>
</header>