<header class="header header--dashboard">
    <div class="header__content">
        <div class="header__left">
            <!-- <div class="header__burger">
          <img src="images/icons/burger.svg" alt="">
        </div> -->
            <a class="header__logo" href="/index.html">
                <img class="header__img-desktop" src="images/icons/splitcheck-w-logo.png" alt="logo">
                <span>Manage stores</span>
            </a>
        </div>
        <div class="header__search">
            <!-- form search -->
            <!-- add class: "search--active" -->
            <form action="#" id="search" class="search">

                <input type="search" name="search" class="search__input" placeholder="Search for something"
                    id="search-input" autocomplete="off" />
                <button class="search__button" aria-label="search">
                    <i class="icon icon-search"></i>
                </button>

                <div class="search__result">
                    <ul class="search__result-list">
                        <li class="search__result-item d-flex align-items-center">
                            <p>
                                <b>pa</b>int
                            </p>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="header__right">
            <div class="header__user-select">
                <div class="user-select">
                    <div class="user-select__photo">
                        <div>
                            <span>AD</span>
                        </div>
                        <div style="background-image: url(images/message/img-1.png);"> <span>WD</span>
                        </div>
                    </div>
                    <span class="user-select__name">Genetix Nutrition</span>
                    <div class="form__single form__single--select form__single--select-default form__single--fluid">
                        <select class="form__select form__select--default" data-toggle="select">
                            <option value="user-1" title="TS">Terry Smith</option>
                            <option value="user-1" title="TW">Terry Will Green</option>
                        </select>
                    </div>
                </div>
            </div>
            <a href="#" class="btn-border btn-border--two">Promote store</a>
        </div>
    </div>
</header>