<header class="header">
  <!-- promo -->
  <div class="header__promo promo w-100 align-items-center">
    <div class="container">
      <p class="promo__text mb-0">
        Join today and receive <span>20% off</span> your first 3 months
      </p>
    </div>
  </div>
  <!-- /promo -->
  <div class="container">
    <div class="header__content">
      <div class="header__left">
        <div class="header__burger">
          <img src="images/icons/burger.svg" alt="">
        </div>
        <a class="header__logo" href="/index.html">
          <img src="images/icons/logo.png" alt="">
        </a>
      </div>
      <div class="header__right">
        <div class="header__link-block">
          <ul class="list-unstyled mb-0">
            <li><a href="#">For businesses</a></li>
            <li><a href="#">For gifters</a></li>
          </ul>
        </div>
        <div class="header__btn-block">
          <a class="btn-border" href="#" data-toggle="modal" data-target="#logIn">Log In</a>
          <a class="btn-blue" href="#" data-toggle="modal" data-target="#register">Create Account</a>
        </div>
      </div>
    </div>
  </div>
</header>
