<header class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__left">
        <!-- <div class="header__burger">
          <img src="images/icons/burger.svg" alt="">
        </div> -->
        <a class="header__logo" href="/index.html">
          <img class="header__img-desktop" src="images/icons/w-logo.png" alt="logo">
          <img class="header__img-mobile" src="images/icons/logo-mobile.png" alt="logo">
        </a>
      </div>
      <div class="header__search">
        <!-- form search --> <!-- add class: "search--active" -->
        <form action="" id="search" class="search">

          <input type="search" name="search" class="search__input" placeholder="Search for something"
            id="search-input" autocomplete="off"/>
          <button class="search__button" aria-label="search">
            <i class="icon icon-search"></i>
          </button>

          <div class="search__result">
            <ul class="search__result-list">
              <li class="search__result-item">
                <p>
                  <b>pa</b>int
                </p>
              </li>
            </ul>
          </div>
        </form>
      </div>
      <div class="header__right">
        <div class="head-links">
          <!-- head menu -->
          <ul class="head-links__list">
            <li class="head-links__item">
              <a href="#" class="head-links__link">
                <!-- add class "active" <i class="icon icon-home"></i> what would the icon change -->
                <i class="icon icon-home"></i>
              </a>
            </li>
            <li class="head-links__item">
              <a href="#" class="head-links__link">
                <!-- add class "active" what would the icon change -->
                <i class="icon icon-star"></i>
              </a>
            </li>
            <li class="head-links__item">
              <a href="#" class="head-links__link">
                <!-- add class "active" what would the icon change -->
                <i class="icon icon-offer"></i>
              </a>
            </li>
            <li class="head-links__item">
              <a href="#" class="head-links__link">
                <!-- add class "active" what would the icon change -->
                <i class="icon icon-cart"></i>
              </a>
            </li>
            <li class="head-links__item">
              <a href="#" class="head-links__link">
                <!-- add class "active" what would the icon change -->
                <i class="icon icon-head-mail"></i>
              </a>
            </li>
          </ul>
          <!-- /head menu -->
        </div>
        <div class="header__user">
          <div class="personal-avatar personal-avatar--no-img">
            <img src="" alt="avatar">
            <span class="personal-symbol">JS</span>
          </div>
          <a href="#" class="user-avatar user-avatar--no-img">
            <img class="user-avatar__img" src="" alt="avatar">
            <span class="user-avatar__symbol">AD</span>
          </a>
          <a href="#" class="mobile-link-arrow">
            <i class="icon icon-arrow"></i>
          </a>
        </div>

      </div>
    </div>
  </div>
</header>
