<header class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__left">
        <div class="header__burger">
          <img src="images/icons/burger.svg" alt="">
        </div>
        <a class="header__logo" href="/index.html">
          <img src="images/icons/logo.png" alt="">
        </a>
      </div>
      <div class="header__right">
        <div class="header__link-block">
          <ul>
            <li><a href="#">For businesses</a></li>
            <li><a href="#">For gifters</a></li>
          </ul>
        </div>
        <div class="header__btn-block">
          <a class="btn-border" href="#">Log In</a>
          <a class="btn-blue" href="#">Create Account</a>
        </div>
      </div>
    </div>
  </div>
</header>
