<div class="page-hero bg-cover-fixed position-relative" >
    <div class="page-hero__left">
      <div class="container h-100">
        <div class="d-flex flex-column h-100">
          <div class="page-hero__info">
            <h2>Have you ever… </h2>
            <p>been driven crazy trying to decide <a href="#">what gift</a> to buy for a friend or loved one? </p>
            <p>bought someone a <a href="#">meaningful gift</a>, only to see a look of disappointment on their face when they open it?</p>
            <p>wished for a more significant and meaningful gift but were too embarrassed to ask your friends and family to
              <a href="#">share the cost?</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-container home-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="page-hero__right before-1" style="background-image: url('images/hero-slider/love.jpg'); background-position: center">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="page-hero__right before-2" style="background-image: url('images/hero-slider/baby.jpg'); background-position: center">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="page-hero__right before-3" style="background-image: url('images/hero-slider/pets.jpg'); background-position: center">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="page-hero__right before-4" style="background-image: url('images/hero-slider/parties.jpg'); background-position: center">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="page-hero__right before-5" style="background-image: url('images/hero-slider/cristmas.jpg'); background-position: center">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="page-hero__right before-6" style="background-image: url('images/hero-slider/secret.jpg'); background-position: center">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="page-hero__right before-7" style="background-image: url('images/hero-slider/birthday.jpg'); background-position: center">
          </div>
        </div>

      </div>
    </div>
  </div>
<div class="row" style="margin-right: 0">
  <div class="col-lg-6 offset-lg-6 col-md-12">
    <ul class="scrollbar">
      <li class="scrollbar-li active" id="0"></li>
      <li class="scrollbar-li" id="1"></li>
      <li class="scrollbar-li" id="2"></li>
      <li class="scrollbar-li" id="3"></li>
      <li class="scrollbar-li" id="4"></li>
      <li class="scrollbar-li" id="5"></li>
      <li class="scrollbar-li" id="6"></li>
    </ul>
  </div>
</div>
