<div class="mobile-menu">
  <div class="mobile-menu__info">
    <div class="mobile-menu__top-block">
      <div class="mobile-menu__top">
        <div class="mobile-menu__close">
          <img src="images/icons/close.svg" alt="">
        </div>
        <div class="mobile-menu__logo">
          <img src="images/icons/logo.png" alt="">
        </div>
      </div>
      <div class="mobile-menu__body">
        <ul>
          <li><a href="#">For businesses</a></li>
          <li><a href="#">For gifters</a></li>
        </ul>
      </div>
    </div>
    <div class="mobile-menu__link">
      <a class="btn-border" href="#" data-toggle="modal" data-target="#logIn">Log In</a>
      <a class="btn-blue" href="#" data-toggle="modal" data-target="#register">Create Account</a>
    </div>
  </div>
</div>