<div class="mobile-menu">
    <div class="mobile-menu__info">
        <div class="mobile-menu__top-block">
            <div class="mobile-menu__top">
                <div class="mobile-menu__close">
                    <img src="images/icons/close.svg" alt="">
                </div>
                <div class="mobile-menu__logo">
                    <img src="images/icons/logo.png" alt="">
                </div>
            </div>
            <div class="mobile-menu__body">
                <ul>
                    <li><a href="#">Get started</a></li>
                    <li><a href="#">Sell</a></li>
                    <li><a href="#">Hashtags</a></li>
                    <li><a href="#">Manage Store</a></li>
                    <li><a href="#">B2B</a></li>
                </ul>
            </div>
        </div>
        <div class="mobile-menu__link">
            <a class="btn-border" href="#">To SplitCheck</a>
        </div>
    </div>
</div>