<div class="menu-bottom">
  <div class="container">
    <ul class="menu-bottom__list list-unstyled mb-0">
      <li class="menu-bottom__item">
        <a href="index.html" class="menu-bottom__link">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="25" viewBox="0 0 26 25">
            <g>
              <g>
                <g>
                  <path fill="none" stroke="#335491" stroke-miterlimit="20" stroke-width="2"
                    d="M1 14v0L13 2v0l12 12v0" />
                </g>
                <g>
                  <path fill="none" stroke="#335491" stroke-miterlimit="20" stroke-width="2"
                    d="M3.77 11.23v12h6.462v0V14v0h5.538v9.23h6.462v0-12 0" />
                </g>
              </g>
            </g>
          </svg>
          <span>home</span>
        </a>
      </li>
      <li class="menu-bottom__item">
        <a href="#" class="menu-bottom__link">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="23" viewBox="0 0 24 23">
            <g>
              <g>
                <g>
                  <g>
                    <path fill="#315293"
                      d="M12 16.533L6.985 19.56l1.333-5.707-4.426-3.84 5.84-.506 2.266-5.374 2.28 5.387 5.84.507-4.426 3.84 1.333 5.706zm3.746-9.04l-2.52-5.933c-.453-1.08-2-1.08-2.453 0l-2.52 5.947-6.44.546c-1.174.094-1.654 1.56-.76 2.334l4.893 4.24-1.467 6.293c-.266 1.147.974 2.053 1.987 1.44l5.533-3.333 5.534 3.346c1.013.614 2.253-.293 1.986-1.44l-1.466-6.306 4.893-4.24c.893-.774.427-2.24-.747-2.334z" />
                  </g>
                </g>
              </g>
            </g>
          </svg>
          <span>wishlist</span>
        </a>
      </li>
      <li class="menu-bottom__item">
        <a href="#" data-toggle="modal" data-target="#cart" class="menu-bottom__link">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
            <g>
              <g>
                <g />
                <g>
                  <path fill="#335491"
                    d="M16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zM6 16c-1.1 0-1.99.9-1.99 2S4.9 20 6 20s2-.9 2-2-.9-2-2-2zM5.16 4h12.15l-2.76 5H7.53zm9.39 7c.75 0 1.41-.41 1.75-1.03l3.58-6.49A.996.996 0 0 0 19.01 2H4.21l-.94-2H0v2h2l3.6 7.59-1.35 2.44C3.52 13.37 4.48 15 6 15h12v-2H6l1.1-2z" />
                </g>
              </g>
            </g>
          </svg>
          <span>cart</span>
        </a>
      </li>
      <li class="menu-bottom__item">
        <a href="shop.html?param=val&data=shop-another" class="menu-bottom__link">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
            <g>
              <g>
                <g />
                <g>
                  <path fill="#315293"
                    d="M2 9V2h7v-.01l9 9-7 7.02zm17.41.58l-9-9C10.05.22 9.55 0 9 0H2C.9 0 0 .9 0 2v7c0 .55.22 1.05.59 1.42l9 9c.36.36.86.58 1.41.58.55 0 1.05-.22 1.41-.59l7-7c.37-.36.59-.86.59-1.41 0-.55-.23-1.06-.59-1.42z" />
                </g>
                <g>
                  <path fill="#315293" d="M4.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                </g>
              </g>
            </g>
          </svg>
          <span>shop for</span>
        </a>
      </li>

      <li class="menu-bottom__item">
        <a href="#menu-mobile--not-shop" data-toggle="modal" data-target="#menu-mobile--not-shop"
          class="menu-bottom__link">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="4" viewBox="0 0 16 4">
            <g>
              <g transform="rotate(90 8 2)">
                <g />
                <g>
                  <path fill="#335491"
                    d="M10 8c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm0-6c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zM6-4c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2z" />
                </g>
              </g>
            </g>
          </svg>
          <span>other</span>
        </a>
      </li>
    </ul>
  </div>
</div>