<!-- Modal -->
<!-- modal-register -->
<div class="modal modal-register fade" id="register" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Join Splitchek</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form action="" class="form">
          <div class="form__inputs">
            <div class="form__single">
              <label class="form__label">First Name</label>
              <input type="text" class="form__input" required="">
              <span class="form__symbol-error"></span>
            </div>
            <div class="form__single mr-0">
              <label class="form__label">Last Name</label>
              <input type="text" class="form__input" required="">
              <span class="form__symbol-error"></span>
            </div>
            <div class="form__single error">
              <label class="form__label">Email</label>
              <input type="email" class="form__input" required="">
              <span class="form__symbol-error"></span>
            </div>
            <div class="form__single form__single--pass">
              <label class="form__label">Password</label>
              <input type="password" class="form__input" required="">
              <span class="form__symbol-pass"></span>
            </div>
            <div class="form__single form__single--date">
              <label class="form__label">Date of birth</label>
              <a href="#" class="form__link btn-blue-link">Why are you asking?</a>
              <input type="text" class="form__input" data-toggle="datepicker" required="">
            </div>
            <div class="form__single form__single--select mr-0">
              <label class="form__label">Gender</label>
              <select class="js-select-gender form__input" name="states[]" style="width: 100%">
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
          </div>

          <span class="form__desc">By clicking Create Account, you agree to</span>
          <div class="links">
            <a href="#" class="links__link btn-blue-link">Shopper Agreement</a>
            <a href="#" class="links__link btn-blue-link">Data Security and Cookie Policy</a>
          </div>
          <div class="form__errors-text">Existing Email</div>
          <button class="form__button btn-blue" disabled>Create free account</button>
        </form>
      </div>
      <div class="modal-footer">
        <span class="modal-border">or</span>
        <a href="#" class="btn-border">Log In</a>
      </div>
    </div>
  </div>
</div>
<!-- /modal-register -->
<!-- modal-login -->
<div class="modal modal-login fade" id="logIn" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Log In to Splitchek</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form action="" class="form">
          <div class="form__inputs">
            <div class="form__single">
              <label class="form__label">Email</label>
              <input type="email" class="form__input" required="">
              <span class="form__symbol-error"></span>
            </div>
            <div class="form__single form__single--pass">
              <label class="form__label">Password</label>
              <input type="password" class="form__input" required="">
              <span class="form__symbol-pass"></span>
              <span class="form__symbol-error"></span>
            </div>
          </div>
          <div class="links">
            <a href="#" class="links__link btn-blue-link">Forgot oyur password?</a>
          </div>
          <div class="form__errors-text"></div>
          <button class="form__button btn-blue">Log In</button>
        </form>
      </div>
      <div class="modal-footer">
        <span class="modal-border">or</span>
        <a href="#" class="btn-border">Create free account</a>
      </div>
    </div>
  </div>
</div>
<!-- /modal-login -->
<!-- modal-video -->
<div class="modal fade" id="videoOne" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Video</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-video">
          <button class="video-play"></button>
          <video src="images/video.mp4"></video>
        </div>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<!-- /modal-video -->
<!-- modal-video -->
<div class="modal fade" id="videoTwo" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Video</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-video">
          <button class="video-play"></button>
          <video src="images/video.mp4"></video>
        </div>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<!-- /modal-video -->
<!-- modal-video -->
<div class="modal fade" id="videoThree" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Video</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-video">
          <button class="video-play"></button>
          <video src="images/video.mp4"></video>
        </div>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<!-- /modal-video -->
<!-- modal-video -->
<div class="modal fade" id="videoFour" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Video</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-video">
          <button class="video-play"></button>
          <video src="images/video.mp4"></video>
        </div>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<!-- /modal-video -->
<!-- modal-create-goss -->
<div class="modal right fade modal-create-goss" id="create-goss" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content position-relative">
      <!-- modal-header -->
      <div class="modal-header d-flex align-items-center">
        <!-- head for side modal -->
        <div class="head-modal-info d-flex align-items-center flex-wrap">
          <figure
            class="head-modal-info__avatar head-modal-info__avatar--no-img position-relative d-flex align-items-center justify-content-center overflow-hidden">
            <img src="" alt="avatar">
            <span class="head-modal-info__symbol">AD</span>
          </figure>
          <div class="head-modal-info__description">
            <h2 class="head-modal-info__name">What’s the goss?</h2>
            <p class="head-modal-info__subname">
              <span>Your ID: </span>
              <span class="head-modal-info__num">3491_5650</span>
            </p>
          </div>
        </div>
        <!-- /head for side modal -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <!-- /modal-header -->
      <!-- modal-body -->
      <div class="modal-body">
        <!-- form -->
        <form action="" id="create-goss-form" class="form">
          <div class="form__inputs">
            <!-- for error add class div form__single - *error* -->
            <div class="form__single form__single--fluid">
              <label class="form__label">Goss type</label>
              <input type="text" class="form__input" required="">
              <span class="form__symbol-error"></span>
            </div>
            <!-- for error add class div form__single - *error* -->
            <div class="form__single form__single--fluid">
              <label class="form__label">Goss title (optional)</label>
              <input type="text" class="form__input" required="">
              <span class="form__symbol-error"></span>
            </div>
            <div class="form__single form__single--fluid">
              <label class="form__label">Content (optional)</label>
              <textarea class="form__textarea"></textarea>
              <span class="form__symbol-error"></span>
            </div>

            <div class="form__wrap">
              <span class="form__wrap-title">Date and time</span>
              <!-- for error add class div form__single - *error* -->
              <div class="form__single form__single--date form__single--fluid">
                <label class="form__label">Set a follow-up date</label>
                <input type="text" class="form__input" data-toggle="datepicker" required="">
                <span class="form__symbol-error"></span>
              </div>
              <!-- for error add class div form__single - *error* -->
              <div class="form__single form__single--time form__single--fluid">
                <label class="form__label">Set a time</label>
                <input type="text" class="form__input" data-toggle="timepicker" required="">
                <span class="form__symbol-error"></span>
              </div>
            </div>

            <div class="form__wrap">
              <span class="form__wrap-title">Add banner (optional)</span>
              <div class="form__single">
                <a href="#" class="new-banner position-relative d-flex align-items-center justify-content-center">
                  <i class="icon icon-plus"></i>
                </a>
              </div>
            </div>

            <div class="form__wrap form__wrap--location">
              <span class="form__wrap-title">Location</span>
              <!-- for error add class div form__single - *error* -->
              <div class="form__single form__single--fluid">
                <label class="form__label">address line 1</label>
                <input type="text" class="form__input" required="">
                <span class="form__symbol-error"></span>
              </div>
              <!-- for error add class div form__single - *error* -->
              <div class="form__single form__single--fluid">
                <label class="form__label">address line 2</label>
                <input type="text" class="form__input" required="">
                <span class="form__symbol-error"></span>
              </div>
              <!-- for error add class div form__single - *error* -->
              <div class="form__single form__single--fluid">
                <label class="form__label">City</label>
                <input type="text" class="form__input" required="">
                <span class="form__symbol-error"></span>
              </div>
              <!-- for error add class div form__single - *error* -->
              <div class="form__single form__single--fluid">
                <label class="form__label">State</label>
                <input type="text" class="form__input" required="">
                <span class="form__symbol-error"></span>
              </div>
              <!-- for error add class div form__single - *error* -->
              <div class="form__single">
                <label class="form__label">Postcode</label>
                <input type="text" class="form__input" required="">
                <span class="form__symbol-error"></span>
              </div>
              <!-- for error add class div form__single - *error* -->
              <div class="form__single form__single--fluid">
                <label class="form__label">Country</label>
                <input type="text" class="form__input" required="">
                <span class="form__symbol-error"></span>
              </div>
            </div>

            <div class="form__wrap">
              <span class="form__wrap-title">Tags</span>
              <div class="form__single form__single--select form__single--select-user form__single--fluid">
                <label class="form__label">write to people or groups</label>
                <select class="form__input" data-toggle="select" multiple="multiple">
                  <option value="user-1">Terry Smith</option>
                  <option value="user-2">Terry Will Green</option>
                  <option value="user-3">Terry Brown</option>
                </select>
                {{!-- <input type="text" class="form__input" required=""> --}}
                <span class="form__symbol-error"></span>
              </div>
            </div>

            <div class="form__wrap">
              <span class="form__wrap-title">Who is coming?</span>
              <div class="form__single form__single--fluid flex-wrap flex-row">

                <div class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                  <img src="" alt="">
                  <span class="avatar__symbol">JS</span>
                </div>

                <div class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                  <img src="" alt="">
                  <span class="avatar__symbol">JS</span>
                </div>

                <div class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                  <img src="" alt="">
                  <span class="avatar__symbol">JS</span>
                </div>

                <div class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                  <img src="" alt="">
                  <span class="avatar__symbol">JS</span>
                </div>

                <div class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                  <img src="" alt="">
                  <span class="avatar__symbol">JS</span>
                </div>

                <div class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                  <img src="" alt="">
                  <span class="avatar__symbol">JS</span>
                </div>

                <div class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                  <img src="" alt="">
                  <span class="avatar__symbol">JS</span>
                </div>

              </div>
            </div>
          </div>
          <!-- modal-footer -->
          <div class="modal-footer w-100 d-flex align-items-center justify-content-center">
            <button class="add-timeline-form btn-orange">Add to a timeline</button>
          </div>
          <!-- /modal-footer -->
        </form>
        <!-- /form -->
      </div>
      <!-- /modal-body -->
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<!-- /modal-create-goss -->
<!-- modal-add-timeline -->
<div class="modal right fade modal-add-timeline" id="add-timeline" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content position-relative">
      <!-- modal-header -->
      <div class="modal-header d-flex align-items-center">
        <!-- head for side modal -->
        <div class="head-modal-info d-flex align-items-center flex-wrap">
          <figure
            class="head-modal-info__avatar head-modal-info__avatar--no-img position-relative d-flex align-items-center justify-content-center overflow-hidden">
            <img src="" alt="avatar">
            <span class="head-modal-info__symbol">AD</span>
          </figure>
          <div class="head-modal-info__description">
            <h2 class="head-modal-info__name">Add to a timeline</h2>
            <p class="head-modal-info__subname">
              <span>Your ID: </span>
              <span class="head-modal-info__num">3491_5650</span>
            </p>
          </div>
        </div>
        <!-- /head for side modal -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <!-- /modal-header -->
      <!-- modal-body -->
      <div class="modal-body">
        <!-- form -->
        <form action="" id="add-timeline-form" class="form">
          <div class="form__inputs">
            <!-- for error add class div form__single - *error* -->
            <div class="form__single form__single--fluid  error">
              <label class="form__label">Title</label>
              <input type="text" class="form__input" required="">
              <span class="form__symbol-error"></span>
            </div>
            <!-- for error add class div form__single - *error* -->
            <div class="form__single form__single--fluid">
              <label class="form__label">Budget</label>
              <input type="text" class="form__input" required="">
              <span class="form__symbol-error"></span>
            </div>
            <div class="form__single form__single--fluid">
              <label class="form__label">Content (optional)</label>
              <textarea class="form__textarea"></textarea>
              <span class="form__symbol-error"></span>
            </div>

            <div class="form__wrap">
              <span class="form__wrap-title">Date and time</span>
              <!-- for error add class div form__single - *error* -->
              <div class="form__single form__single--date form__single--fluid">
                <label class="form__label">Set a follow-up date</label>
                <input type="text" class="form__input" data-toggle="datepicker" required="">
                <span class="form__symbol-error"></span>
              </div>
              <!-- for error add class div form__single - *error* -->
              <div class="form__single form__single--time form__single--fluid">
                <label class="form__label">Set a time</label>
                <input type="text" class="form__input" data-toggle="timepicker" required="">
                <span class="form__symbol-error"></span>
              </div>
            </div>

            <div class="form__wrap">
              <span class="form__wrap-title">Add banner (optional)</span>
              <div class="form__single">
                <a href="#" class="new-banner position-relative d-flex align-items-center justify-content-center">
                  <i class="icon icon-plus"></i>
                </a>
              </div>
            </div>

            <div class="form__wrap form__wrap--location">
              <span class="form__wrap-title">Location</span>
              <!-- for error add class div form__single - *error* -->
              <div class="form__single form__single--fluid">
                <label class="form__label">address line 1</label>
                <input type="text" class="form__input" required="">
                <span class="form__symbol-error"></span>
              </div>
              <!-- for error add class div form__single - *error* -->
              <div class="form__single form__single--fluid">
                <label class="form__label">address line 2</label>
                <input type="text" class="form__input" required="">
                <span class="form__symbol-error"></span>
              </div>
              <!-- for error add class div form__single - *error* -->
              <div class="form__single form__single--fluid">
                <label class="form__label">City</label>
                <input type="text" class="form__input" required="">
                <span class="form__symbol-error"></span>
              </div>
              <!-- for error add class div form__single - *error* -->
              <div class="form__single form__single--fluid">
                <label class="form__label">State</label>
                <input type="text" class="form__input" required="">
                <span class="form__symbol-error"></span>
              </div>
              <!-- for error add class div form__single - *error* -->
              <div class="form__single">
                <label class="form__label">Postcode</label>
                <input type="text" class="form__input" required="">
                <span class="form__symbol-error"></span>
              </div>
              <!-- for error add class div form__single - *error* -->
              <div class="form__single form__single--fluid">
                <label class="form__label">Country</label>
                <input type="text" class="form__input" required="">
                <span class="form__symbol-error"></span>
              </div>
            </div>

            <div class="form__wrap">
              <span class="form__wrap-title">Tags</span>
              <div class="form__single form__single--select form__single--select-user form__single--fluid">
                <label class="form__label">write to people or groups</label>
                <select class="form__input" data-toggle="select" multiple="multiple">
                  <option value="user-1">Terry Smith</option>
                  <option value="user-2">Terry Will Green</option>
                  <option value="user-3">Terry Brown</option>
                </select>
                {{!-- <input type="text" class="form__input" required=""> --}}
                <span class="form__symbol-error"></span>
              </div>
            </div>

            <div class="form__wrap">
              <span class="form__wrap-title">Who is coming?</span>
              <div class="form__single form__single--fluid flex-wrap flex-row">

                <div class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                  <img src="" alt="">
                  <span class="avatar__symbol">JS</span>
                </div>

                <div class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                  <img src="" alt="">
                  <span class="avatar__symbol">JS</span>
                </div>

                <div class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                  <img src="" alt="">
                  <span class="avatar__symbol">JS</span>
                </div>

                <div class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                  <img src="" alt="">
                  <span class="avatar__symbol">JS</span>
                </div>

                <div class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                  <img src="" alt="">
                  <span class="avatar__symbol">JS</span>
                </div>

                <div class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                  <img src="" alt="">
                  <span class="avatar__symbol">JS</span>
                </div>

                <div class="avatar avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                  <img src="" alt="">
                  <span class="avatar__symbol">JS</span>
                </div>

              </div>
            </div>
          </div>
          <!-- modal-footer -->
          <div class="modal-footer w-100 d-flex align-items-center justify-content-center">
            <button class="add-timeline-form btn-orange">Add to a timeline</button>
          </div>
          <!-- /modal-footer -->
        </form>
        <!-- /form -->
      </div>
      <!-- /modal-body -->
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<!-- /modal-add-timeline -->
<div class="modal wishlist fade" id="wishlist" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Wishlist</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-wishlist">
          <div class="modal-wishlist__text">
            <p>If you are familiar with some of these situations:</p>
            <ul>
              <li>Have you ever bought someone a thoughtful, meaningful gift after spending a considerable amount of
                time and energy, only to see a look of <span class="link-orange">disappointment</span> on their face
                when they open it?</li>
              <li>Have you ever wished for one significant and meaningful gift instead of several small and useless
                ones, but was too embarrassed to ask your friends and family to <span class="link-orange">share the
                  cost</span> and buy it for you as a group?</li>
            </ul>
            <p>Then using the wishlist will help your loved ones <span>choose the right gift</span> for you. Not
              everyone will see your list. You need to give permissions to groups or individuals whom you want to view
              or buy items from your wishlist.</p>
            <p>We will keep reminding you to update your wishlist so that you always get the right gifts.</p>
            <p>Don't forget – SplitChek is a <span>social</span> gifting community. If your loved ones have a limited
              budget, SplitChek Community can help them out! Provided you have given them access to your wishlist.</p>
          </div>
          <div class="modal-wishlist__link">
            <a href="#" data-dismiss="modal" aria-label="Close">Got it</a>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<div class="modal wishlist fade" id="shopping" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog wishlist modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Shopping preferences</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-wishlist">
          <div class="modal-wishlist__text">
            <p>If you are familiar with some of these situations:</p>
            <ul>
              <li>Have you ever bought someone a thoughtful, meaningful gift after spending a considerable amount of
                time and energy, only to see a look of <span class="link-orange">disappointment</span> on their face
                when they open it?</li>
              <li>Have you ever been in an impossible situation where you wanted to impress someone you loved with a
                thoughtful gift, but without having to compromise between a <span class="link-orange">surprise</span>
                and something they genuinely wanted?</li>
            </ul>
            <p>Then using the wishlist will help your loved ones <span>choose the right gift</span> for you. Not
              everyone will see your list. You need to give permissions to groups or individuals whom you want to view
              or buy items from your wishlist.</p>
            <p>We will keep reminding you to update your wishlist so that you always get the right gifts.</p>
            <p>Don't forget – SplitChek is a <span>social</span> gifting community. If your loved ones have a limited
              budget, SplitChek Community can help them out! Provided you have given them access to your wishlist.</p>
          </div>
          <div class="modal-wishlist__link">
            <a href="#" data-dismiss="modal" aria-label="Close">Got it</a>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<div class="modal modal-goss fade" id="goss" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">What is a goss?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-info">
          <p>SplitChek goss is a <span>way to communicate</span> with shoppers using short messages. These messages can
            include promo codes, your business stories, new products and any other information that creates social
            interactions with shoppers</p>
          <img src="images/modal/sponsored.png" alt="#">
          <div class="modal-wishlist__link">
            <a href="#" data-dismiss="modal" aria-label="Close">Got it</a>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<div class="modal wishlist fade" id="share" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Share the bill with loved ones</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-wishlist">
          <div class="modal-wishlist__text">
            <p>SplitChek has turned shopping into a social experience, where you connect with your loved ones, family,
              besties and more. While shopping you can ask your friends or family for their recommendations and
              opinions. If you can't afford it, they can contribute towards your order.</p>
            <div class="modal-block">
              <h5>How does it work?</h5>
              <ul>
                <li>Add items to your cart and checkout;</li>
                <li>At checkout, choose Split Payment as your payment method;</li>
                <li>Follow instructions on how to invite your loved ones to contribute to your order;</li>
                <li>You have 72 hours for the order to be paid in full</li>
              </ul>
            </div>
            <div class="modal-block">
              <h5>What if my order was not fully paid after 72 hours?</h5>
              <p>SplitChek will void your order and everyone will be refunded their contributions</p>
            </div>
            <div class="modal-block">
              <h5>Can I get all the refund?</h5>
              <p>No. Any transaction will be refunded back to the medium it came from. For example, if Joe Doe
                contributed by points, he gets his points back, if Jane Smith used her card, money will be returned to
                her card and if Gail user her gift voucher, money will go back to her gift voucher</p>
            </div>
          </div>
          <div class="modal-wishlist__link">
            <a href="#" data-dismiss="modal" aria-label="Close">Got it</a>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<div class="modal wishlist fade" id="community" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Share the bill with the community</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-wishlist">
          <div class="modal-wishlist__text">
            <p>SplitChek has turned shopping into a social experience, we involve businesses, other SplitChek members to
              help you at checkout. All community payments are anonymous.</p>
            <div class="modal-block">
              <h5>How does it work?</h5>
              <ul>
                <li>Add items to your cart and checkout;</li>
                <li>At checkout, choose Split Payment as your payment method;</li>
                <li>Check <span class="span-bold">Allow the community to contribute to my order</span> and SplitChek
                  will automatically invite others for you;</li>
                <li>For the community feature to work, <span class="span-bold">you must pay at least 25% of your order
                    before processing the
                    order;</span></li>
                <li>In order to speed up the process, you can invite your loved ones to contribute to your order as
                  well;</li>
                <li>You have 72 hours for the order to be paid in full</li>
              </ul>
            </div>
            <div class="modal-block">
              <h5>What if my order was not fully paid after 72 hours?</h5>
              <p>SplitChek will void your order and everyone will be refunded their contributions</p>
            </div>
            <div class="modal-block">
              <h5>Can I get all the refund?</h5>
              <p>No. Any transaction will be refunded back to the medium it came from. For example, if Joe Doe
                contributed by points, he gets his points back, if Jane Smith used her card, money will be returned to
                her card and if Gail user her gift voucher, money will go back to her gift voucher</p>
            </div>
          </div>
          <div class="modal-wishlist__link">
            <a href="#" data-dismiss="modal" aria-label="Close">Got it</a>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<div class="modal wishlist fade" id="share-wishlist" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Share your wishlist</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-wishlist">
          <div class="modal-wishlist__text">
            <p>As a community shopping platform, SplitChek allows you to share your wishlist. We provide a simpler way
              to give and get gifts from your loved ones without the anxiety.</p>
            <div class="modal-block">
              <h5>How does it work?</h5>
              <ul>
                <li>Go to my wishlist and organise your wishlist in groups;</li>
                <li>Invite friends and families to join your group;</li>
                <li>Set up your wishlist preferences so that you get the right gifts;</li>
                <li>Your loved ones can use your wishlist's preferences to buy you gifts or search for products on
                  SplitChek and add them to your wishlist;</li>
                <li>Those that are allowed to see items in your wishlist can either contribute towards your order or buy
                  items for you;</li>
                <li>When an item has be purchased, it will still be visible to you but others will not be able to add it
                  to cart again</li>
              </ul>
            </div>
            <div class="modal-block">
              <h5>What if I don't have close friends?</h5>
              <p>You can allow your wishlist to be publicly available so that anyone can see your items and contribute
                towards it</p>
            </div>
          </div>
          <div class="modal-wishlist__link">
            <a href="#" data-dismiss="modal" aria-label="Close">Got it</a>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
