<!-- Modal -->
<div class="modal modal-register fade" id="register" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Join Splitchek</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form action="" class="form">
          <div class="form__input">
            <div class="form__single">
              <label>First Name</label>
              <input type="text" required="">
              <span class="form__symbol-error"></span>
            </div>
            <div class="form__single">
              <label>Last Name</label>
              <input type="text" required="">
              <span class="form__symbol-error"></span>
            </div>
            <div class="form__single error">
              <label>Email</label>
              <input type="email" required="">
              <span class="form__symbol-error"></span>
            </div>
            <div class="form__single form__single--pass">
              <label>Password</label>
              <input type="password" required="">
              <span class="form__symbol-pass"></span>
            </div>
            <div class="form__single form__single--date">
              <label>Date of birth</label>
              <a href="#" class="form__link btn-blue-link">Why are you asking?</a>
              <input type="text" data-toggle="datepicker" required="">
            </div>
            <div class="form__single form__single--select">
              <label>Gender</label>
              <select class="js-select-gender" name="states[]">
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
          </div>

          <span class="form__desc">By clicking Create Account, you agree to</span>
          <div class="links">
            <a href="#" class="links__link btn-blue-link">Shopper Agreement</a>
            <a href="#" class="links__link btn-blue-link">Data Security and Cookie Policy</a>
          </div>
          <div class="form__errors-text">Existing Email</div>
          <button class="form__button btn-blue" disabled>Create free account</button>
        </form>
      </div>
      <div class="modal-footer">
        <span class="modal-border">or</span>
        <a href="#" class="btn-border">Log In</a>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-login fade" id="logIn" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Log In to Splitchek</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form action="" class="form">
          <div class="form__input">
            <div class="form__single">
              <label>Email</label>
              <input type="email" required="">
              <span class="form__symbol-error"></span>
            </div>
            <div class="form__single form__single--pass">
              <label>Password</label>
              <input type="password" required="">
              <span class="form__symbol-pass"></span>
              <span class="form__symbol-error"></span>
            </div>
          </div>
          <div class="links">
            <a href="#" class="links__link btn-blue-link">Forgot oyur password?</a>
          </div>
          <div class="form__errors-text"></div>
          <button class="form__button btn-blue">Log In</button>
        </form>
      </div>
      <div class="modal-footer">
        <span class="modal-border">or</span>
        <a href="#" class="btn-border">Create free account</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="videoOne" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Video</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-video">
          <button class="video-play"></button>
          <video src="images/video.mp4"></video>
        </div>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<div class="modal fade" id="videoTwo" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Video</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-video">
          <button class="video-play"></button>
          <video src="images/video.mp4"></video>
        </div>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<div class="modal fade" id="videoThree" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Video</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-video">
          <button class="video-play"></button>
          <video src="images/video.mp4"></video>
        </div>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
<div class="modal fade" id="videoFour" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Video</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-video">
          <button class="video-play"></button>
          <video src="images/video.mp4"></video>
        </div>
      </div>
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
