<div class="platform">
  <div class="container">
    <div class="platform__content">
      <div class="platform__left">
        <div class="platform__video">
          <button class="video-play"></button>
          <video src=""></video>
        </div>
      </div>
      <div class="platform__right">
        <div class="platform__text">
          <h3>Using our platform to buy or receive gifts is super <span>easy!</span></h3>
          <p>Play video to learn more</p>
          <a class="btn-border" href="#">Create your free account</a>
        </div>
      </div>
    </div>
  </div>
</div>
