<div class="search-dropdown search-dropdown__desctop " data-scroll="perfect-scrollbar">
    <div class="search-dropdown__hashtag">
        <span>Hashtags</span>

        <div class="search-dropdown__hashtag-item">
            <b>#esomething</b>
            <p>Some short headline there</p>
        </div>
        <div class="search-dropdown__hashtag-item">
            <b>#esomething</b>
            <p>Some short headline there</p>
        </div>
    </div>
    <div class="search-dropdown__product">
        <span>Products</span>
        <div class="search-dropdown__product-item">
            <div class="abandoned-card__left">
                <figure class="abandoned-card__img">
                    <img src="./images/blog/bottle.png" alt="bottle">
                </figure>
            </div>

            <div class="abandoned-card__info">
                <strong>Short Title could be here; could even be a bit longer one</strong>
                <span>$45.00</span>
            </div>
        </div>
        <div class="search-dropdown__product-item">
            <div class="abandoned-card__left">
                <figure class="abandoned-card__img">
                    <img src="./images/blog/bottle.png" alt="bottle">
                </figure>
            </div>
            <div class="abandoned-card__info">
                <strong>Short Title could be here; could even be a bit longer one</strong>
                <span>$45.00</span>
            </div>
        </div>
    </div>
    <div class="search-dropdown__popular">
        <span>Popular searches</span>
        <div class="search-dropdown__popular-item">
            <p><b>e</b>nergy</p>
        </div>

        <div class="search-dropdown__popular-item">
            <p><b>e</b>chinacea</p>
        </div>

        <div class="search-dropdown__popular-item">
            <p><b>e</b>ndurance</p>
        </div>

        <div class="search-dropdown__popular-img">
            <img src="images/test-img/car.jpg" alt="">
            <strong>50% off on all goods!</strong>
            <div class="search-dropdown__popular-info d-flex">
                <p class="text-more">To help your skin thrive, use Moroccan argan extract which
                    conditions and moisturiz

                </p>
                <a href="#" class="link-blue link-more">…Read More</a>

            </div>

            <div class="search-dropdown__popular-bottom">
                <a href="#" class="btn-orange">Snatch it!</a>
                <a href="#" class="link-blue">Show all results (999)</a>
            </div>
        </div>
    </div>
</div>