<div class="social">
  <div class="container">
    <div class="social__content">
      <div class="social__left">
        <h3>The best part? SplitChek is a <span>social</span> gifting community platform.</h3>
        <p>At SplitChek, you will never feel alone because we care about you! If you have a limited budget, other <span>community</span> members can anonymously help you out! Try us!</p>
      </div>
      <div class="social__right">
        <div class="social__img bg-cover" style="background-image: url('images/landing/social.jpg')">
        </div>
      </div>
    </div>
  </div>
</div>
