.admin-orders {
  .main-content {
    min-height: calc(100vh - 100px);
  }
  .section-content {
    &__title {
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 18px;
      text-transform: uppercase;

      color: theme-color("blue4");
      font-weight: $font-weight-medium;
    }
  }
}

.view-orders {
  // .view-orders__header

  &__header {
    margin-bottom: 18px;
  }

  // .view-orders__nav

  &__nav {
    width: 73.5%;
    padding-bottom: 10px;
  }

  &__nav,
  &__sort {
    margin-bottom: 12px;
  }

  // .view-orders__list

  // &__list {
  // }

  // .view-orders__item

  &__item {
    padding: 0 20px;
    margin-right: 8px;
  }

  // .view-orders__switch-filter

  &__switch-filter {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;

    color: theme-color("blue4");

    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 1px;
      bottom: -2px;
      left: 0;

      background-color: theme-color("blue4");
      transition: $transition-fast;
    }

    &:hover {
      color: theme-color("blue4");

      &:after {
        width: 100%;
      }
    }
  }

  // .view-orders__sort

  &__sort {
    width: 26.5%;
    padding-left: 32px;
  }

  // .view-orders__search

  // &__search {
  // }

  // .view-orders__body

  // &__body {
  // }

  // .view-orders__table

  // &__table {
  // }

  .ps__rail-x,
  .ps__rail-y {
    opacity: 1;
    cursor: pointer;
  }

  .ps__rail-x:hover > .ps__thumb-x,
  .ps__rail-x:focus > .ps__thumb-x,
  .ps__rail-x.ps--clicking .ps__thumb-x,
  .ps__thumb-x,
  .ps__rail-y:hover > .ps__thumb-y,
  .ps__rail-y:focus > .ps__thumb-y,
  .ps__rail-y.ps--clicking .ps__thumb-y,
  .ps__thumb-y {
    background-color: theme-color("blue4");
  }

  .table {
    padding-bottom: 8px;

    // .table__head

    .table__head {
      margin-bottom: 2px;
    }

    &__head {
      width: 100%;
      min-width: 1154px;
      min-height: 39px;

      span {
        display: inline-block;
        width: 11.1%;
        font-size: 14px;
        line-height: 14px;
        text-align: left;
        padding-left: 20px;

        color: theme-color("gray");

        &:first-of-type {
          min-width: 110px;
        }

        &:nth-of-type(2) {
          min-width: 162px;
        }

        &:nth-of-type(3) {
          min-width: 191px;
        }

        &:nth-of-type(4) {
          min-width: 67px;
        }

        &:nth-of-type(5) {
          width: 10%;
          min-width: 92px;
          padding-left: 10px;
        }

        &:nth-of-type(6) {
          min-width: 90px;
          width: 9%;
          padding-left: 0;
        }

        &:nth-of-type(7) {
          min-width: 90px;
          width: 9%;
          padding-left: 0;
        }

        &:nth-of-type(8) {
          min-width: 106px;
        }

        &:last-of-type {
          padding-right: 16px;
          min-width: 186px;
          padding-left: 28px;
          width: 16.5%;
        }
      }
    }

    // .table__body

    &__body {
      width: 100%;
      max-height: 400px;
      min-width: 1154px;
      padding-right: 8px;
    }

    // .table__row

    &__row {
      min-height: 39px;
      border-radius: 8px;
    }

    // .table__row-content {
    &__row-content {
      min-height: 39px;
      > div {
        width: 11.1%;
        overflow: hidden;
        padding-right: 4px;
        padding-left: 20px;
        &:first-of-type {
          min-width: 110px;
          span {
            font-weight: $font-weight-medium;
          }
        }

        &:nth-of-type(2) {
          min-width: 162px;
        }

        &:nth-of-type(3) {
          min-width: 191px;
        }

        &:nth-of-type(4) {
          min-width: 67px;
        }

        &:nth-of-type(5) {
          width: 10%;
          min-width: 92px;
          padding-left: 10px;
        }

        &:nth-of-type(6) {
          min-width: 90px;
          width: 9%;
        }

        &:nth-of-type(7) {
          min-width: 90px;
          width: 9%;
        }

        &:nth-of-type(8) {
          min-width: 106px;
        }

        &:nth-of-type(9) {
          padding-right: 16px;
          min-width: 186px;
          padding-left: 28px;
          width: 16.5%;

          a {
            margin-right: 20px;
            text-decoration: none;
            font-size: 14px;
            line-height: 14px;

            &:hover {
              text-decoration: underline;
            }

            &:last-of-type {
              margin-right: 0;
            }
          }
        }

        span {
          font-size: 14px;
          line-height: 14px;
          text-align: left;
          white-space: nowrap;

          color: theme-color("dark-blue");
        }
      }
    }

    // .table__check-cell

    &__check-cell {
      position: relative;
      padding-left: 20px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 2px solid transparent;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    // .table__check-cell--green

    &__check-cell--green {
      &::before {
        border-color: theme-color("green2");
      }
    }

    // .table__check-cell--yellow

    &__check-cell--yellow {
      &::before {
        border-color: theme-color("orange3");
      }
    }

    // .table__check-cell--active

    &__check-cell--active {
      &::before {
        border-width: 6px;
      }
    }
  }
}
