.store {
  .section-mobile {
    display: none;
    .section-mobile__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @media (max-width: 991px) {
      display: block;
    }
  }
  .main__card {
    max-width: 100% !important;
    @media (max-width: 575px) {
      padding: 0 15px 0 15px !important;
    }
  }
  .sort {
    margin-left: 25px;
    @media (max-width: 991px) {
      margin-left: 0;
    }
  }
  &-shipping {
    &__add {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 48px;
      width: 100%;
      margin-top: 14px;
      @media (max-width: 991px) {
        width: 100%;
      }

      .icon-plus-blue {
        position: relative;
        width: 20px;
        height: 20px;
        background-image: url("images/icons/plus-blue.svg");
        background-position: center;
        background-repeat: no-repeat;
      }

      span {
        color: #35558f;
        font-size: 16px;
        font-weight: 400;
        margin-left: 15px;
      }

      border-radius: 8px;
      border: 1px dashed #35558f;
    }
    &__descript {
      margin-bottom: 16px;
      justify-content: space-between;
      padding: 13px 24px 13px 15px;
      span {
        color: #828282;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .shipping-section {
      box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
      border-radius: 8px;
      background-color: #fff;
      padding: 13px 0 13px 15px;
      justify-content: space-between;
      margin-bottom: 10px;
      &__left {
        justify-content: space-between;
        width: 100%;
        max-width: 215px;
      }
      p,
      span {
        color: #0b0212;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0 !important;
      }
      a {
        color: #335491;
        text-decoration: underline;
        font-size: 14px;
        font-weight: 400;
        padding-right: 24px;
      }
    }
    &__content {
      max-width: 541px;
      p {
        color: #0b0212;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  &-staff {
    .title-mobile {
      display: none;
      @media (max-width: 991px) {
        display: block;
      }
    }
    .title-desctop {
      @media (max-width: 991px) {
        display: none !important;
      }
    }
    main {
      display: flex;
      flex-direction: column;
      @media (max-width: 991px) {
        order: 2;
      }
    }
    .aside-right {
      display: flex !important;
      flex-direction: column;
      @media (max-width: 991px) {
        order: 1;
      }
    }
    &__section {
      margin-top: 32px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      .mr-16 {
        margin-right: 16px;
      }
      .mb-16 {
        margin-bottom: 16px;
      }
    }
    &__card {
      position: relative;
      max-width: 240px;
      box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
      border-radius: 8px;
      background-color: #fff;
      padding: 8px 16px 12px 16px;
      @media (max-width: 1400px) {
        max-width: 200px;
      }
      @media (max-width: 1255px) {
        max-width: 250px;
        margin-bottom: 16px;
      }
      @media (max-width: 1140px) {
        max-width: 200px;
      }
      @media (max-width: 991px) {
        max-width: 240px;
      }
      @media (max-width: 575px) {
        max-width: 260px;
        margin-right: 0 !important;
      }
      &:nth-child(2),
      &:nth-child(4) {
        @media (max-width: 1255px) and (min-width: 991px) {
          margin-right: 0;
        }
        @media (max-width: 811px) {
          margin-right: 0;
        }
      }
      &:nth-child(3) {
        @media (max-width: 1255px) and (min-width: 991px) {
          margin-right: 16px;
        }
        @media (max-width: 811px) {
          margin-right: 16px;
        }
      }

      &.editor {
        .store-staff__card-top {
          &:before {
            background-color: #eaedf4;
          }
          .icon-more {
            background-image: url("images/admin-store/icon-more-blue.svg") !important;
          }

          span {
            z-index: 99;
            color: #315293;
          }
        }
      }

      &.support {
        .store-staff__card-top {
          &:before {
            background-color: #4fcec5;
          }
          .icon-more {
            background-image: url("images/admin-store/icon-more.svg") !important;
          }

          span {
            z-index: 99;
            color: #fff;
          }
        }
      }

      &.admin {
        .store-staff__card-top {
          &:before {
            background-color: #f98400;
          }
          .icon-more {
            background-image: url("images/admin-store/icon-more.svg") !important;
          }

          span {
            z-index: 99;
            color: #fff;
          }
        }
      }
      &-avatar {
        margin: auto;
        max-width: 98px;
        height: 88px;
        margin-bottom: 10px;
        img {
          width: 100%;
        }
        &.online {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 18px;
            height: 18px;
            border: 2px solid #fff;
            background-color: #00a046;
            border-radius: 50%;
            right: 9px;
            bottom: -3px;
          }
        }
      }
      &-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        strong {
          color: #0b0212;
          font-weight: 500;
          font-size: 18px;
        }
        p {
          color: #0b0212;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 0 !important;
        }
        .btn-border {
          border: 2px solid #35548f !important;
          max-width: 100% !important;
          margin-top: 10px;
        }
      }
      &-top {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 33px;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          top: 0;
          z-index: 1;
        }
        .options {
          top: 6px !important;
          z-index: 99;
        }
        span {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
    .toogle-box__scroll {
      li {
        margin-bottom: 16px;
      }
    }
    .profile-list {
      flex-wrap: nowrap !important;

      span {
        white-space: nowrap;
      }
    }
    &__invite {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 48px;
      width: 340px;
      @media (max-width: 991px) {
        width: 100%;
      }

      .icon-plus-blue {
        position: relative;
        width: 20px;
        height: 20px;
        background-image: url("images/icons/plus-blue.svg");
        background-position: center;
        background-repeat: no-repeat;
      }
      &::before {
        content: "";
        background-image: url("images/dashboard/store-border-staff.svg");
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
      }
      span {
        color: #35558f;
        font-size: 16px;
        font-weight: 400;
        margin-left: 15px;
      }
    }
    &__box {
      display: flex;
      align-items: center;
      max-width: 336px;
      @media (max-width: 991px) {
        max-width: 100%;
      }
      .right {
        opacity: 0.5;
        width: 100%;
      }
      .left {
        display: flex;
        flex-direction: column;
        width: 100%;
        span {
          &:last-child {
            color: #0b0212;
            font-size: 16px;
            font-weight: 400;
          }
          &:first-child {
            color: #0b0212;
            font-size: 24px;
            font-weight: 400;
          }
        }
      }
    }
    &__error {
      img {
        margin-bottom: 20px;
      }
      span {
        margin: 0 !important;
        padding-bottom: 10px;
      }
    }
  }
}
