.create {
  .form__single--select-default {
    .select2-selection__rendered {
      opacity: 0.75;
    }
  }
  .checked-box {
    label {
      &::before {
        border-color: #f77d0e;
      }
    }
  }
  .container--admin {
    @media (max-width: 575px) {
      padding: 0 !important;
    }
  }
  .main__card {
    overflow: hidden;
  }
  .back-title {
    @media (max-width: 575px) {
      padding-left: 16px;
    }
  }
}
.nav-product {
  position: fixed;
  left: 5.5%;
  z-index: 55;
  top: 136px;
  transition: 0.3s;
  &.top {
    top: 45px;
  }
  .menu-remove {
    display: none;
    position: absolute;
    right: 41px;
    top: 41px;
    @media (max-width: 991px) {
      display: block;
    }
  }
  @media (max-width: 991px) {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    li {
      a {
        color: #315293 !important;
        &::before {
          content: none !important;
        }
      }
    }
  }
  &.hide {
    opacity: 0;
  }
  &.mobile {
    opacity: 1;
    pointer-events: auto;
  }
  ul {
    li {
      margin-bottom: 16px;
      a {
        position: relative;
        color: #315293;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        padding: 3px 0;
        &.active {
          color: #f77d0e;
          &::before {
            position: absolute;
            content: "";
            display: block;
            width: 4px;
            height: 24px;
            background-color: #f77d0e;
            top: 0;
            bottom: 0;
            left: -16px;
          }
        }
      }
    }
  }
}

.images-box-loader {
  padding: 24px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  background-color: #fff;
  @media (max-width: 575px) {
    padding: 24px 15px;
  }
  strong {
    color: #335491;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.8px;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  ul {
    li {
      position: relative;
      display: inline-block;
      justify-content: center;
      align-items: center;
      min-width: 72px;
      max-width: 72px;
      height: 72px;
      background-image: url("images/icons/add-24px.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 12px;
      margin-bottom: 4px;
      border-radius: 5px;
      border: 1px solid transparent;
      cursor: pointer;
      transition: 0.3s;
      overflow: hidden;
      @media (max-width: 575px) {
        margin-right: 6px;
        &:nth-child(3),
        &:nth-child(5) {
          margin-right: 0;
        }
      }
      &.img {
        background-image: none !important;
        background-color: #f8f9fb;
        &:hover {
          border: 1px solid #335491;
        }
      }
      img {
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
      }
      &:first-of-type {
        min-width: 156px;
        max-width: 156px;
        height: 156px;
        float: left;
        margin-bottom: 0;
        border-radius: 5px;
        &:hover {
          border: 1px solid transparent !important;
          box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
        }
      }
    }
  }
}

.product-type-box {
  padding: 24px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  background-color: #fff;
  @media (max-width: 575px) {
    padding: 24px 15px;
  }
  .static-select {
    padding: 0 !important;
  }
  > strong {
    color: #335491;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.8px;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  &__single {
    p {
      padding-left: 8px;
      opacity: 0.75;
      color: #0b0212;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
      margin-top: 8px;
    }
  }
  &__service {
    > strong {
      color: #335491;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.8px;
      line-height: 12px;
      text-align: left;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    p {
      padding-left: 8px;
      opacity: 0.75;
      color: #0b0212;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
      margin-top: 8px;
    }
  }
}

.list-features {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
  &__body {
    display: flex;
    flex-direction: column;
  }
  &__single {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 24px;
    @media (max-width: 575px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .form__single {
      margin-bottom: 0;
      margin-right: 30px;
      @media (max-width: 575px) {
        margin-right: 0;
        margin-bottom: 16px;
      }
      &:first-of-type {
        max-width: 280px;
      }
      &:last-of-type {
        max-width: 160px;
        @media (max-width: 575px) {
          max-width: 280px;
        }
      }
    }
    > a {
      padding-bottom: 10px;
    }
  }
  &__remove {
    @media (max-width: 575px) {
      position: absolute;
      right: 5px;
      top: 31px;
    }
  }
  &__add {
    width: 100%;
    height: 40px;
    color: #35558f;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px dashed #35558f !important;
    border-radius: 6px;
    margin-right: 15px;
    img {
      margin-right: 15px;
      padding-bottom: 3px;
    }
  }
}

.page-box {
  .page-box__select {
    .form__wrap {
      margin-bottom: 0;
      .form__single {
        margin-bottom: 0;
      }
    }
  }
  .form__single {
    .select2-container {
      &::after {
        right: 12px;
      }
    }
  }
  &__result {
    > span {
      max-width: 460px;
      opacity: 0.75;
      color: #0b0212;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      text-transform: none;
      display: inline-block;
      margin: 5px 0 5px 8px;
    }
    .selected-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 72px;
      box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
      border-radius: 8px;
      background-color: #fff;
      margin-bottom: 8px;
      @media (max-width: 575px) {
        flex-direction: column;
        height: 97px;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
      &__left {
        display: flex;
        align-items: center;
        @media (max-width: 575px) {
          margin-right: auto;
        }
      }
      &__photo {
        min-width: 72px;
        max-width: 72px;
        height: 72px;
        background-color: #f4f8ff;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 12px;
      }
      &__info {
        strong {
          opacity: 0.75;
          color: #0b0212;
          font-weight: 500;
          font-size: 18px;
          font-style: normal;
          letter-spacing: 0.64px;
          line-height: 18px;
          text-align: left;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 276px;
          margin-bottom: 10px;
          @media (max-width: 1099px) {
            max-width: 220px;
          }
        }
        ul {
          display: flex;
          align-items: center;
          li {
            color: #0b0212;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            text-align: left;
            margin-right: 18px;
            &:last-of-type {
              color: #828282;
            }
          }
        }
      }
      &__right {
        padding-right: 16px;
        @media (max-width: 575px) {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          padding-right: 16px;
          padding-bottom: 13px;
        }
        a {
          display: flex;
          align-items: center;
          height: 100%;
          color: #335491;
          font-size: 14px;
          font-weight: 400;
          line-height: 14px;
          text-align: right;
          text-decoration: underline;
        }
      }
    }
  }

  //style select page
  //style selct2 static
  ul.select2-selection__rendered {
    li.select2-selection__choice {
      display: none !important;
      pointer-events: none;
    }
  }
  .static-select {
    position: static !important;
    > .select2-dropdown {
      position: static !important;
      margin-top: 0 !important;
      box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08) !important;
    }
    ul.select2-results__options {
      > li {
        padding: 10px 0 !important;
      }
    }
    .selected-item__photo {
      min-width: 72px;
      max-width: 72px;
      height: 72px;
      background-color: #f4f8ff;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 12px;
    }
    .select2-results__options {
      position: relative;
      max-height: 224px;
      .ps__rail-y {
        width: 4px !important;
        background-color: #e8ebf2;
        opacity: 1 !important;
        right: 8px !important;
        .ps__thumb-y {
          right: 0 !important;
          width: 4px !important;
          background-color: #afbbd4 !important;
        }
      }
    }
    .profile-list {
      @media (max-width: 575px) {
        flex-wrap: nowrap !important;
      }
    }
    .select-info {
      strong {
        color: #0b0212;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.64px;
        line-height: 18px;
        text-align: left;
        margin-bottom: 12px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 276px;
        @media (min-width: 992px) and (max-width: 1099px) {
          max-width: 220px;
        }
        @media (max-width: 575px) {
          max-width: 220px;
        }
      }
      ul {
        display: flex;
        align-items: center;
        li {
          color: #0b0212;
          font-size: 14px;
          font-weight: 400;
          line-height: 14px;
          text-align: left;
          margin-right: 18px;
          @media (max-width: 575px) {
            margin-right: 3px;
          }
          span {
            color: #0b0212 !important;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            text-align: left;
            margin-right: 18px;
          }
        }
      }
    }
  }
  .form__single--select {
    > .select2-container {
      &.select2-container--focus {
        &::before {
          transform: rotate(180deg);
        }
      }
      &::before {
        position: absolute;
        right: 12px;
        top: 0;
        bottom: 0;
        content: "";
        display: block;
        width: 21px;
        background-image: url("images/icons/arrow-botom--select.svg");
        background-position: center;
        background-size: 55%;
        background-repeat: no-repeat;
        pointer-events: none;
      }
      &::after {
        position: absolute;
        right: 44px;
        top: 0;
        bottom: 0;
        content: "";
        display: block;
        width: 21px;
        background-image: url("images/icons/search-24px.svg");
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        pointer-events: none;
      }
    }
  }
  .select2-results__option {
    position: relative;
    &.select2-results__message {
      &::after {
        content: none !important;
      }
    }
    &:after {
      content: "";
      position: absolute;
      right: 35px;
      top: 0;
      bottom: 0;
      margin: auto;
      display: flex;
      width: 24px;
      height: 24px;
      border: 3px solid #afbbd4;
      border-radius: 3px;
    }
  }
  .select2-results__option[aria-selected="true"] {
    &:after {
      content: url("images/icons/SC_Check.svg");
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #f77d0e;
      padding-top: 3px;
    }
  }
}

.payment-freq {
  margin-top: 48px;
  > strong {
    color: #335491;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 0.8px;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 22px;
  }
  &__select {
    max-width: 240px;
    @media (max-width: 575px) {
      max-width: 100%;
    }
    .select-before {
      @media (max-width: 575px) {
        max-width: 100%;
      }
    }
  }
  > p {
    opacity: 0.75;
    color: #0b0212;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-bottom: 27px;
  }
  .double-price {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .form__single--usd {
      max-width: 240px;
      &:first-of-type {
        margin-right: 30px;
      }
      .desc {
        opacity: 0.75;
        color: #0b0212;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        display: inline-block;
        margin-top: 8px;
      }
    }
  }
  .checked-box {
    > label {
      margin-bottom: 12px;
    }
  }
  .checked-box__body {
    .select-before {
      margin-bottom: 15px;
    }
  }
}

.multiple-box {
  > p {
    opacity: 0.75;
    color: #0b0212;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-top: 8px;
    padding-left: 8px;
  }
  > strong {
    color: #335491;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.8px;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    margin: 50px 0 30px;
  }
  .size-select {
    display: flex;
    flex-direction: column;
    width: 100%;
    &__single {
      display: flex;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 7px;
      @media (max-width: 575px) {
        flex-direction: row;
        flex-wrap: wrap;
      }
      .members__form {
        .form__note {
          display: block;
          margin-bottom: 10px;
        }
        .form__single {
          margin-bottom: 0 !important;
        }
        &:first-of-type {
          width: 100%;
          max-width: 160px;
          margin-right: 16px;
          @media (max-width: 575px) {
            max-width: 90%;
          }
        }
        &:last-of-type {
          width: 100%;
          max-width: 288px;
          @media (max-width: 575px) {
            max-width: 100%;
            order: 5;
          }
        }
      }
      .size-select__remove {
        height: 42px;
        display: flex;
        align-items: center;
        margin-left: 29px;
        margin-top: auto;
        @media (max-width: 575px) {
          margin-left: 0;
          display: inline-flex;
        }
      }
    }
    &__add {
      width: 100%;
      height: 40px;
      color: #35558f;
      font-size: 16px;
      font-weight: 400;
      text-align: left;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1.5px dashed #35558f !important;
      border-radius: 6px;
      padding-bottom: 4px;
      margin: 14px 15px 0 0;
      img {
        margin-right: 15px;
        padding-bottom: 3px;
      }
    }
  }
}

.download-box {
  > p {
    opacity: 0.75;
    color: #0b0212;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-top: 8px;
    padding-left: 8px;
    margin-bottom: 40px;
  }
  .dropzone-file {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    border: 1px dashed #35558f;
    background-color: #f8f9fb;
    cursor: pointer;

    &__start,
    &__start--bg {
      pointer-events: none;
    }

    figure {
      height: 64px;
      margin-bottom: 20px;
      text-align: center;

      .icon {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    h4 {
      font-size: 24px;
      text-align: center;

      color: theme-color("blue2");

      @include media-breakpoint-down(sm) {
        font-size: 18px;
      }
    }

    p {
      font-size: 18px;
      line-height: 18px;
      text-align: center;
      margin-bottom: 0;

      color: theme-color("dark-blue2");

      span {
        text-decoration: underline;

        font-weight: $font-weight-medium;
        color: theme-color("blue2");

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

//style loading file
.dz-preview {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  .dz-thum {
    margin-right: 16px;
  }
  .dz-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: auto;
    margin-left: 0;
    .dz-filename {
      span {
        color: #0b0212;
        font-weight: 500;
        font-size: 16px;
        font-style: normal;
        letter-spacing: normal;
        line-height: 16px;
        text-align: left;
      }
    }
    .dz-info {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: flex-end;
      .dz-size {
        display: flex;
        align-items: center;
        color: #0b0212;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        text-transform: uppercase;
        strong {
          color: #0b0212;
          font-size: 18px;
          font-weight: 400;
          line-height: 18px;
          text-align: left;
          text-transform: uppercase;
          margin-right: 4px;
        }
      }
      .dz-type {
        span {
          color: #0b0212;
          font-size: 18px;
          font-weight: 400;
          line-height: 18px;
          text-align: left;
          text-transform: uppercase;
          display: inline-block;
          margin-right: 15px;
        }
      }
    }
  }
  &.png,
  &.jpeg {
    .dz-thum {
      background-image: url("images/icons/photo-file.svg") !important;
      min-width: 88px;
      max-width: 88px;
      height: 87px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &:not(.png),
  &:not(.jpeg) {
    .dz-thum {
      background-image: url("images/icons/other-files.svg");
      min-width: 88px;
      max-width: 88px;
      height: 87px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  // &.mpga {

  // }
}

.pricing-item-box {
  padding: 24px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  background-color: #fff;
  @media (max-width: 575px) {
    padding: 24px 15px;
  }
  > strong {
    color: #335491;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 0.8px;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 24px;
  }
  .double-price {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media (max-width: 575px) {
      flex-direction: column;
    }
    .form__single--usd {
      max-width: 240px;
      @media (max-width: 575px) {
        max-width: 100%;
      }
      &:first-of-type {
        margin-right: 30px;
      }
      .desc {
        opacity: 0.75;
        color: #0b0212;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        display: inline-block;
        margin-top: 8px;
      }
    }
  }
  .checked-box {
    > label {
      margin-bottom: 12px;
    }
  }
  .checked-box__body {
    .select-before {
      margin-bottom: 15px;
    }
    .select2-container--default {
      &:nth-child(3) {
        display: none !important;
      }
    }
  }
}

.inventory-item-box {
  padding: 24px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  background-color: #fff;
  @media (max-width: 575px) {
    padding: 24px 15px;
  }
  > strong {
    color: #335491;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 0.8px;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 24px;
  }
  .double-input {
    display: flex;
    width: 100%;
    @media (max-width: 575px) {
      flex-direction: column;
    }
    .form__single {
      max-width: 240px;
      margin-bottom: 16px;
      @media (max-width: 575px) {
        max-width: 100%;
      }
      .form__label {
        padding-left: 8px;
      }
      &:first-of-type {
        margin-right: 30px;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  .triple-input {
    display: flex;
    width: 100%;
    margin-top: 30px;
    @media (max-width: 575px) {
      flex-direction: column;
    }
    .form__single {
      max-width: 160px;
      margin-right: 16px;
      margin-bottom: 0;
      @media (max-width: 575px) {
        max-width: 100%;
        margin-bottom: 16px;
      }
      .form__label {
        padding-left: 8px;
        white-space: nowrap;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.kit-box {
  .selected-item__left {
    .selected-item__photo {
      @media (min-width: 992px) and (max-width: 1145px) {
        min-height: 95px;
      }
    }
  }
  .selected-item__info {
    .item-cart__quantity-wrap {
      @media (min-width: 992px) and (max-width: 1145px) {
        margin-top: 4px;
      }
    }
  }
  > p {
    opacity: 0.75;
    color: #0b0212;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    padding-left: 8px;
    margin-bottom: 50px;
    margin-top: 8px;
  }
  > strong {
    display: flex;
    align-items: center;
    color: #315293;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.8px;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 22px;
    i {
      position: static;
    }
  }
}

.bundle-box {
  .selected-item__left {
    .selected-item__photo {
      @media (min-width: 992px) and (max-width: 1145px) {
        min-height: 95px;
      }
    }
  }
  .selected-item__info {
    .item-cart__quantity-wrap {
      @media (min-width: 992px) and (max-width: 1145px) {
        margin-top: 4px;
      }
    }
  }
  > p {
    opacity: 0.75;
    color: #0b0212;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    padding-left: 8px;
    margin-bottom: 50px;
    margin-top: 8px;
  }
  > strong {
    display: flex;
    align-items: center;
    color: #315293;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.8px;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 22px;
    i {
      position: static;
    }
  }
  .select-store {
    margin-top: 15px;
  }
}

.availability {
  padding: 24px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  background-color: #fff;
  @media (max-width: 575px) {
    padding: 24px 15px;
  }
  strong {
    color: #335491;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 0.8px;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
  }
  span {
    opacity: 0.75;
    color: #0b0212;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    display: block;
    margin-bottom: 30px;
  }
  &__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    a:not(.btn) {
      color: #335491;
      font-size: 16px;
      font-weight: 400;
      line-height: 14px;
      text-align: left;
      text-decoration: underline;
      display: block;
      margin-bottom: 12px;
    }
    p {
      color: #0b0212;
      font-size: 16px;
      font-weight: 400;
      line-height: 14px;
      text-align: left;
      margin-bottom: 12px;
    }
    .btn {
      margin-left: auto;
    }
  }
}

.organization {
  padding: 24px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  background-color: #fff;
  @media (max-width: 575px) {
    padding: 24px 15px;
  }
  > strong {
    color: #335491;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 0.8px;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
  }
  &__single {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 16px;
    @media (max-width: 575px) {
      flex-direction: column;
    }
    .form__single--select {
      min-width: 240px;
    }
    .members__form {
      margin-right: 30px;
      @media (max-width: 575px) {
        margin-right: 0;
        margin-bottom: 16px;
        max-width: 100% !important;
        min-width: 100%;
      }
      .select-before {
        @media (max-width: 575px) {
          max-width: 100% !important;
        }
      }
      @media (min-width: 992px) and (max-width: 1099px) {
        max-width: 200px;
        .form__single--select {
          min-width: 215px;
        }
      }
    }
  }
  &__upgrade {
    margin-top: 32px;
    max-width: 231px;
    color: #35558f;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 18px;
  }
}

.terms-box {
  padding: 24px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  background-color: #fff;
  @media (max-width: 575px) {
    padding: 24px 15px;
  }
  > strong {
    color: #335491;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 0.8px;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    display: block;
    margin-bottom: 23px;
  }
  .max-text {
    position: relative;
    margin-bottom: 0;
    .form__label {
      padding-left: 8px;
    }
    .count {
      position: absolute;
      right: 12px;
      bottom: 12px;
      opacity: 0.75;
      color: #0b0212;
      font-size: 14px;
      font-weight: 400;
      text-align: right;
    }
    textarea {
      height: 120px;
    }
  }
}

.addition-box {
  padding: 24px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  @media (max-width: 575px) {
    padding: 24px 15px;
  }
  > strong {
    color: #335491;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 0.8px;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    display: block;
    margin-bottom: 23px;
  }
  .single-check {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    &.enabled {
      position: relative;
      &::after {
        position: absolute;
        left: -16px;
        top: -28px;
        content: url("images/icons/full-line.svg");
      }
    }
    &:first-of-type {
      &::after {
        content: none !important;
      }
    }
    &:last-of-type {
      margin-bottom: 5px;
    }
    &__text {
      span {
        color: #0b0212;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        b {
          margin-left: 8px;
          font-weight: 500;
        }
      }
    }
    .groups__check {
      max-width: 60px;
    }
  }
  .warn-more {
    min-width: 100%;
    display: flex;
    align-items: center;
    color: #f97d00;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    i {
      position: static;
    }
  }
  .double-input {
    display: flex;
    width: 100%;
    @media (max-width: 575px) {
      flex-direction: column;
    }
    &.select {
      .form__single--select {
        > div {
          border: 1px solid transparent;
        }
        .form__single--select {
          max-width: 80px;
          border-left: 1px solid #99a9c980;
        }
        input {
          border: none !important;
        }
        > .focus {
          border: 1px solid rgba(53, 85, 143, 0.5);
          border-radius: 5px;
        }
      }
      .or {
        height: 40px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #828282;
        font-size: 16px;
        font-weight: 400;
        margin: auto 8px 10px;
        @media (max-width: 575px) {
          margin: 0;
          height: 25px;
        }
      }
      .form__single {
        max-width: 240px;
        margin-bottom: 8px;
        @media (max-width: 575px) {
          max-width: 100%;
        }
        &:first-of-type {
          margin-right: 0;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
      .form__label {
        padding-left: 8px;
      }
    }
    .form__single {
      margin-bottom: 24px;
      @media (max-width: 575px) {
        margin-right: 0 !important;
        margin-bottom: 16px;
      }
      &:first-of-type {
        margin-right: 30px;
      }
    }
    .form__label {
      padding-left: 8px;
    }
  }
  .triple-input {
    display: flex;
    @media (min-width: 992px) and (max-width: 1199px) {
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
    @media (max-width: 575px) {
      flex-wrap: wrap;
      margin-bottom: 16px;
    }
    &.select {
      .form__single--select {
        > div {
          border: 1px solid transparent;
        }
        .form__single--select {
          min-width: 80px;
          max-width: 80px;
          border-left: 1px solid #99a9c980;
        }
        input {
          border: none !important;
        }
        > .focus {
          border: 1px solid rgba(53, 85, 143, 0.5);
          border-radius: 5px;
        }
      }
      .form__single {
        max-width: 160px;
        margin-bottom: 8px;
        margin-right: 15px;
        @media (max-width: 575px) {
          margin-right: 12px;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
      .form__label {
        padding-left: 8px;
      }
    }
  }
  .check {
    opacity: 0.75;
    color: #0b0212;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-top: 5px;
    padding-left: 26px;
  }
  .checked-children-body {
    .check {
      margin-top: -18px;
    }
    > p:not(.check) {
      opacity: 0.75;
      color: #0b0212;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
      padding-left: 8px;
    }
  }
  .single-check__body {
    .double-price {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      @media (max-width: 575px) {
        flex-direction: column;
      }
      .form__label {
        padding-left: 8px;
      }
      .form__single--percent {
        max-width: 240px;
        margin-bottom: 15px;
        @media (max-width: 575px) {
          max-width: 100%;
        }
        &:first-of-type {
          margin-right: 30px;
        }
        .desc {
          opacity: 0.75;
          color: #0b0212;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          text-align: left;
          display: inline-block;
          margin-top: 8px;
        }
      }
    }
    .form__single--max {
      margin-bottom: 8px;
      .form__label {
        padding-left: 8px;
      }
    }
    > p {
      opacity: 0.75;
      color: #0b0212;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
      padding-left: 8px;
    }
  }
}

.long-box {
  padding: 24px 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  background-color: #fff;
  @media (max-width: 575px) {
    padding: 24px 15px;
  }
  > strong {
    color: #335491;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 0.8px;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    display: block;
    margin-bottom: 23px;
    padding-left: 8px;
    @media (max-width: 575px) {
      padding-left: 0;
    }
  }
  > p {
    opacity: 0.75;
    color: #0b0212;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    padding-left: 8px;
    @media (max-width: 575px) {
      padding-left: 0;
    }
  }
  .checked-box {
    padding-left: 8px;
    @media (max-width: 575px) {
      padding-left: 0;
    }
  }
}

.customization {
  margin-bottom: 16px;
  .gift-shopping__header {
    @media (max-width: 575px) {
      padding: 24px 15px;
    }
  }
  .gift-shopping__body {
    > strong {
      color: #335491;
      font-weight: 500;
      font-size: 12px;
      font-style: normal;
      letter-spacing: 0.8px;
      line-height: 12px;
      text-align: left;
      text-transform: uppercase;
      display: block;
      margin-bottom: 23px;
      margin-top: 20px;
    }
    > .checked-box {
      padding: 33px 0 24px;
      input:checked ~ label {
        margin-bottom: 20px !important;
      }
      label {
        margin-bottom: 0;
      }
    }
  }
  .double-box {
    display: flex;
    @media (max-width: 575px) {
      flex-direction: column;
    }
    .gift-shopping__header {
      padding-left: 20px;
    }
    .form__single {
      max-width: 240px;
      @media (max-width: 575px) {
        max-width: 100%;
      }
      &:first-of-type {
        margin-right: 30px;
        @media (max-width: 575px) {
          margin-right: 0;
        }
      }
      &:last-of-type {
        margin-right: 0;
      }
      .desc {
        margin-top: 8px;
        opacity: 0.75;
        color: #0b0212;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        padding-left: 8px;
        b {
          font-weight: 500;
        }
      }
    }
    .form__label {
      padding-left: 8px;
    }
  }
  .form-text {
    line-height: 22px !important;
    margin-top: 8px !important;
  }
  .members__form {
    .form__single {
      margin-bottom: 0;
    }
    > p {
      opacity: 0.75;
      color: #0b0212;
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      margin-bottom: 0;
      padding-left: 8px;
    }
  }
}

.quantlity {
  padding: 24px 0 10px;
  box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  background-color: #fff;
  &__info {
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 19px;
    @media (max-width: 575px) {
      padding: 0 15px;
      align-items: flex-start;
    }
    span {
      opacity: 0.75;
      color: #0b0212;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      text-align: left;
    }
    a {
      color: #35558f;
      font-size: 16px;
      line-height: 16px;
      font-weight: 400;
      text-align: left;
      text-decoration: underline;
    }
  }
  strong {
    color: #335491;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 0.8px;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
  }
  &__single {
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
    @media (max-width: 575px) {
      padding: 8px 15px;
    }
    &:hover {
      background-color: #f8f9fb;
    }
    b {
      opacity: 0.75;
      color: #0b0212;
      font-weight: 500;
      font-size: 16px;
      text-align: left;
    }
    .item-cart__quantity-wrap {
      display: inline-flex !important;
      min-width: 100px;
      span {
        color: #0b0212;
        font-size: 14px;
        font-weight: 300;
      }
    }
    .item-cart {
      width: 100%;
      padding: 13px 8px;
      padding-right: 17px;
      border-radius: 8px;

      background-color: theme-color("white");
      box-shadow: $shadow-theme-card;

      // .item-cart__price

      &__price {
        margin-bottom: 16px;

        span {
          &:first-of-type {
            font-size: 18px;
            line-height: 18px;
            text-transform: uppercase;
            margin-right: 12px;

            color: theme-color("orange");
            font-weight: $font-weight-medium;
          }
          &:last-of-type {
            font-size: 14px;
            line-height: 14px;

            color: theme-color("dark-blue");
            font-weight: $font-weight-light;
          }
        }
      }

      // .item-cart__quantity

      &__quantity {
        margin-right: 8px;
        height: 24px;
        min-width: 95px;
        padding-left: 24px;
        padding-right: 24px;

        background-color: theme-color("light-gray2");
      }

      // .item-cart__minus
      &__minus,
      &__plus {
        position: absolute;
        top: 0;
        width: 24px;
        height: 24px;
        border-radius: 3px;

        background-color: theme-color("white");
        box-shadow: $shadow-card;

        .icon-plus,
        .icon-minus {
          &:after,
          &:before {
            width: 8px;
          }
        }
      }

      &__minus {
        left: 0;
      }

      // .item-cart__int

      &__int {
        padding: 0 10px;
        width: 100%;
        text-align: center;
        line-height: 24px;
      }

      // .item-cart__plus

      &__plus {
        right: 0;
      }

      &__btn {
        position: absolute;
        padding: 10px;
        margin: 0;
        top: 12px;
        right: -16px;
        width: 32px;
        height: 32px;
        border-radius: 50%;

        background-color: theme-color("white");
        box-shadow: $shadow-card;
        &:after,
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 55%;
          height: 2px;
          border-radius: 8px;
          background-color: theme-color("blue4");
          overflow: hidden;
        }
        &:after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        &:before {
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }
  }
}

.section-mobile-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f77d0e;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    svg {
      margin-top: 5px;
    }
  }
}
