.nav-product {
  position: fixed;
  left: 5.5%;
  z-index: 55;
  top: 136px;
  ul {
    li {
      margin-bottom: 16px;
      a {
        position: relative;
        color: #315293;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        padding: 3px 0;
        &.active {
          color: #f77d0e;
          &::before {
            position: absolute;
            content: "";
            display: block;
            width: 4px;
            height: 24px;
            background-color: #f77d0e;
            top: 0;
            bottom: 0;
            left: -16px;
          }
        }
      }
    }
  }
}
