.earning {
  padding: 24px 16px;
  padding-bottom: 5px;
  border-radius: 8px;
  overflow: hidden;

  background-color: theme-color("white");
  box-shadow: $shadow-theme-card;

  // .earning__head

  &__head {
    margin-bottom: 40px;
  }

  // .earning__title

  &__title {
    font-size: 24px;
    letter-spacing: 0.8px;
    line-height: 24px;
    text-transform: uppercase;
    margin-right: 16px;
    margin-bottom: 0;

    font-weight: $font-weight-bold;
  }

  // .earning__link

  &__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-decoration: underline;
    margin-bottom: 3px;

    color: theme-color("blue2");
  }

  // .earning__info-list

  &__info-list {
    width: 100%;
    padding-bottom: 12px;
    margin-bottom: 12px;
  }

  // .earning__info-item

  &__info-item {
    width: 100%;
    color: theme-color("dark-blue");
    margin-bottom: 16px;

    span {
      font-size: 14px;
      line-height: 14px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  // .earning__info-item--orange

  &__info-item--orange {
    color: theme-color("orange");
  }

  // .earning__info-item--last

  &__info-item--last {
    margin-top: 8px;

    span {
      font-size: 18px;
      line-height: 18px;
      text-transform: uppercase;

      font-weight: $font-weight-medium;
    }
  }

  // .earning__table

  &__table {
    padding-top: 12px;
    width: 100%;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      opacity: 0.5;
      height: 2px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='2' viewBox='0 0 10 2'%3E%3Cg%3E%3Cg%3E%3Cpath fill='none' stroke='%23828282' stroke-dasharray='8 8' stroke-miterlimit='20' d='M0 1.47h240'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      transform: translateY(-50%);
      top: 0;
      left: 0;
    }
  }

  // .earning__table--four

  &__table--four {
    .table__head,
    .table__row {
      span {
        &:first-of-type {
          width: 75px;
        }
        &:nth-of-type(2) {
          width: 140px;
        }
        &:nth-of-type(3) {
          width: 110px;
        }
        &:last-of-type {
          width: 100px;
        }
      }
    }
  }

  // .earning__table--three

  &__table--three {
    .table__head,
    .table__row {
      span {
        &:first-of-type {
          width: 165px;
        }
        &:nth-of-type(2) {
          width: 165px;
        }
        &:last-of-type {
          width: 105px;
        }
      }
    }
  }

  // .earning__table--empty

  &__table--empty {
    .table__row {
      p {
        width: 40%;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 0;
        margin-right: 30px;

        color: theme-color("blue4");
      }
    }
  }
}
