.statistic {
  width: 100%;
  margin-bottom: 16px;

  @include media-breakpoint-up(md) {
    margin-bottom: 4px;
  }


  // .statistic__list

  // &__list {

  // }

  // .statistic__item

  &__item {
    padding: 12px;
    width: calc(25% - 9px);
    min-height: 96px;
    border-radius: 8px;
    margin-bottom: 12px;
    overflow: hidden;

    box-shadow: $shadow-card;
    background-color: theme-color("white");

    span {
      &:first-of-type {
        margin-bottom: 8px;
      }
    }
  }

  .statistic-num,
  .statistic-text {
    text-align: center;

    color: theme-color("dark-blue");
  }

  .statistic-num {
    font-size: 24px;
    line-height: 24px;

    font-weight: $font-weight-medium;
  }
  .statistic-text {
    font-size: 16px;
    line-height: 16px;

    font-weight: $font-weight-normal;
  }
}
