.create {
  outline: none;
  .main {
    max-width: 560px !important;
    margin-right: 40px;
    .back-title {
      display: flex;
      align-items: center;
      color: #35558f;
      font-weight: 500;
      font-size: 16px;
      text-align: left;
      margin-bottom: 15px;
      img {
        margin-right: 8px;
      }
    }
  }
  .aside-right {
    max-width: 336px !important;
    .section-content__title {
      &:first-of-type {
        margin-bottom: 17px;
      }
    }
    .reach-and-conversion {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      ul {
        max-width: 272px;
        width: 100%;
        margin-top: 45px;
        strong {
          color: #0b0212;
          font-weight: 500;
          font-size: 24px;
          line-height: 24px;
          text-align: left;
          display: inline-block;
          margin-bottom: 15px;
        }
        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #0b0212;
          font-size: 16px;
          font-weight: 400;
          line-height: 16px;
          text-align: left;
          margin-bottom: 15px;
          b {
            font-weight: 500;
          }
        }
      }
    }
  }
}

.season-title-box {
  padding: 24px;
  box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 15px;
  @media (max-width: 575px) {
    padding: 24px 16px;
  }
  .form__single {
    margin-bottom: 15px;
  }
  .form__label {
    padding-left: 8px;
  }
  .max-text {
    position: relative;
    margin-bottom: 8px;
    .count {
      position: absolute;
      right: 12px;
      bottom: 12px;
      opacity: 0.75;
      color: #0b0212;
      font-size: 14px;
      font-weight: 400;
      text-align: right;
    }
  }
  &__other {
    padding-left: 8px;
    @media (max-width: 575px) {
      padding-left: 0;
    }
    p {
      opacity: 0.75;
      color: #0b0212;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    strong {
      color: #315293;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.8px;
      line-height: 12px;
      text-align: left;
      text-transform: uppercase;
      display: inline-block;
      margin-bottom: 22px;
    }
    .members__form {
      margin-bottom: 24px;
      .select-before {
        @media (max-width: 575px) {
          max-width: 100%;
        }
      }
      &:last-of-type {
        margin-bottom: 8px;
      }
    }
  }
}

.associated-box {
  box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  background-color: #fff;
  padding-top: 24px;
  margin-bottom: 16px;
  @media (max-width: 575px) {
    padding: 24px 0 0;
  }
  > strong {
    padding-left: 24px;
    color: #335491;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.8px;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 23px;
    @media (max-width: 575px) {
      padding-left: 16px;
    }
  }
  .form__single {
    > .select2-container {
      padding: 0 24px;
      @media (max-width: 575px) {
        padding: 0 16px;
      }
    }
  }
  .form__wrap {
    margin-bottom: 0;
    .form__single {
      margin-bottom: 0;
    }
  }
  &__result {
    margin-top: 24px;
    > span {
      color: #828282;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.86px;
      text-align: left;
      text-transform: uppercase;
      display: inline-block;
      margin-left: 20px;
      margin-bottom: 14px;
    }
    .selected-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
      border-radius: 8px;
      background-color: #fff;
      margin-bottom: 8px;
      @media (max-width: 575px) {
        flex-direction: column;
        align-items: flex-start;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
      &__left {
        display: flex;
        align-items: center;
      }
      &__photo {
        min-width: 72px;
        max-width: 72px;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        margin-right: 12px;
        span {
          color: #fff;
          font-size: 18px;
          font-weight: 400;
          line-height: 18px;
          text-transform: uppercase;
        }
      }
      &__info {
        strong {
          opacity: 0.75;
          color: #0b0212;
          font-weight: 500;
          font-size: 18px;
          font-style: normal;
          letter-spacing: 0.64px;
          line-height: 18px;
          text-align: left;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 276px;
          margin-bottom: 10px;
          @media (max-width: 1099px) {
            max-width: 220px;
          }
        }
        ul {
          display: flex;
          align-items: center;
          li {
            color: #0b0212;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            text-align: left;
            margin-right: 18px;
          }
        }
      }
      &__right {
        padding-right: 32px;
        @media (max-width: 575px) {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          padding-right: 16px;
          padding-bottom: 13px;
        }
        a {
          display: flex;
          align-items: center;
          height: 100%;
          color: #335491;
          font-size: 14px;
          font-weight: 400;
          line-height: 14px;
          text-align: right;
          text-decoration: underline;
        }
      }
      .selected-item__photo[style^="background-image:"] span {
        display: none;
      }
    }
  }
  .form__single--select {
    > .select2-container {
      &::after {
        position: absolute;
        right: 35px;
        top: 0;
        bottom: 0;
        content: "";
        display: block;
        width: 21px;
        background-image: url("images/icons/search-24px.svg");
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
  }
  //style selct2 static
  ul.select2-selection__rendered {
    li.select2-selection__choice {
      display: none !important;
      pointer-events: none;
    }
  }
  .static-select {
    position: static !important;
    > .select2-dropdown {
      position: static !important;
      margin-top: 0 !important;
      box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08) !important;
    }
    .profile-list__avatar {
      max-width: 50px;
      border-radius: 0 !important;
    }
    .select2-results__options {
      position: relative;
      max-height: 224px;
      .ps__rail-y {
        width: 4px !important;
        background-color: #e8ebf2;
        opacity: 1 !important;
        right: 8px !important;
        .ps__thumb-y {
          right: 0 !important;
          width: 4px !important;
          background-color: #afbbd4 !important;
        }
      }
    }
    .profile-list {
      @media (max-width: 575px) {
        flex-wrap: nowrap !important;
      }
    }
    .select-info {
      strong {
        color: #0b0212;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.64px;
        line-height: 18px;
        text-align: left;
        margin-bottom: 5px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 276px;
        @media (max-width: 575px) {
          max-width: 220px;
        }
      }
      ul {
        display: flex;
        align-items: center;
        li {
          color: #0b0212;
          font-size: 14px;
          font-weight: 400;
          line-height: 14px;
          text-align: left;
          margin-right: 18px;
          @media (max-width: 575px) {
            margin-right: 3px;
          }
          span {
            color: #0b0212;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            text-align: left;
            margin-right: 18px;
          }
        }
      }
    }
  }
  .select2-results__option {
    position: relative;
    &.select2-results__message {
      &::after {
        content: none !important;
      }
    }
    &:after {
      content: "";
      position: absolute;
      right: 35px;
      top: 0;
      bottom: 0;
      margin: auto;
      display: flex;
      width: 24px;
      height: 24px;
      border: 3px solid #afbbd4;
      border-radius: 3px;
    }
  }
  .select2-results__option[aria-selected="true"] {
    &:after {
      content: url("images/icons/SC_Check.svg");
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #f77d0e;
      padding-top: 3px;
    }
  }
  &.select-store {
    box-shadow: none;
    padding: 0 !important;
    > span {
      color: #828282;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.86px;
      text-align: left;
      text-transform: uppercase;
      display: inline-block;
      margin-bottom: 22px;
    }
    .form__single--select {
      > .select2-container {
        &.select2-container--focus {
          &::before {
            transform: rotate(180deg);
          }
        }
        &::before {
          position: absolute;
          right: 12px;
          top: 0;
          bottom: 0;
          content: "";
          display: block;
          width: 21px;
          background-image: url("images/icons/arrow-botom--select.svg");
          background-position: center;
          background-size: 55%;
          background-repeat: no-repeat;
          pointer-events: none;
        }
        &::after {
          position: absolute;
          right: 44px;
          top: 0;
          bottom: 0;
          content: "";
          display: block;
          width: 21px;
          background-image: url("images/icons/search-24px.svg");
          background-position: center;
          background-size: 100%;
          background-repeat: no-repeat;
          pointer-events: none;
        }
      }
    }
    .profile-list__avatar {
      overflow: visible !important;
    }
    .store-img {
      position: absolute;
      left: -7px;
      top: -6px;
      z-index: 22;
      width: 24px;
      height: 24px;
      border: 1px solid #fff;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: none;
      &[style^="background-image:"] {
        display: block !important;
      }
    }
    .selected-item__info {
      > ul {
        display: inline-flex !important;
      }
      .item-cart__quantity-wrap {
        display: inline-flex !important;
        span {
          color: #0b0212;
          font-size: 14px;
          font-weight: 300;
        }
      }
      .item-cart {
        width: 100%;
        padding: 13px 8px;
        padding-right: 17px;
        border-radius: 8px;

        background-color: theme-color("white");
        box-shadow: $shadow-theme-card;

        // .item-cart__price

        &__price {
          margin-bottom: 16px;

          span {
            &:first-of-type {
              font-size: 18px;
              line-height: 18px;
              text-transform: uppercase;
              margin-right: 12px;

              color: theme-color("orange");
              font-weight: $font-weight-medium;
            }
            &:last-of-type {
              font-size: 14px;
              line-height: 14px;

              color: theme-color("dark-blue");
              font-weight: $font-weight-light;
            }
          }
        }

        // .item-cart__quantity

        &__quantity {
          margin-right: 8px;
          height: 24px;
          min-width: 72px;
          padding-left: 24px;
          padding-right: 24px;

          background-color: theme-color("light-gray2");
        }

        // .item-cart__minus
        &__minus,
        &__plus {
          position: absolute;
          top: 0;
          width: 24px;
          height: 24px;
          border-radius: 3px;

          background-color: theme-color("white");
          box-shadow: $shadow-card;

          .icon-plus,
          .icon-minus {
            &:after,
            &:before {
              width: 8px;
            }
          }
        }

        &__minus {
          left: 0;
        }

        // .item-cart__int

        &__int {
          padding: 0 5px;
          width: 100%;
          text-align: center;
          line-height: 24px;
        }

        // .item-cart__plus

        &__plus {
          right: 0;
        }

        &__btn {
          position: absolute;
          padding: 10px;
          margin: 0;
          top: 12px;
          right: -16px;
          width: 32px;
          height: 32px;
          border-radius: 50%;

          background-color: theme-color("white");
          box-shadow: $shadow-card;
          &:after,
          &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 55%;
            height: 2px;
            border-radius: 8px;
            background-color: theme-color("blue4");
            overflow: hidden;
          }
          &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
          &:before {
            transform: translate(-50%, -50%) rotate(45deg);
          }
        }
      }
      .option-price__item {
        @media (max-width: 575px) {
          margin-left: -104px;
        }
        &:first-of-type {
          margin-top: 35px;
        }
        &:last-of-type {
          margin-bottom: 0;
          @media (max-width: 991px) {
            margin-bottom: 15px;
          }
        }
        &::after {
          content: none !important;
        }
      }
    }
    .associated-box__result {
      .selected-item__photo {
        position: relative;
        background-color: #f4f8ff;
        .store-img {
          position: absolute;
          left: 4px;
          top: 4px;
          z-index: 22;
          width: 24px;
          height: 24px;
          border: 1px solid #fff;
          border-radius: 50%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          display: none;
          &[style^="background-image:"] {
            display: block !important;
          }
        }
      }
    }
  }
}

.seo-box {
  box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  background-color: #fff;
  padding: 24px;
  margin-bottom: 16px;
  @media (max-width: 575px) {
    padding: 24px 16px;
  }
  &__title {
    margin-bottom: 25px;
    strong {
      color: #335491;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.8px;
      line-height: 12px;
      text-align: left;
      text-transform: uppercase;
      display: block;
      margin-bottom: 9px;
    }
    span {
      position: relative;
      display: flex;
      align-items: center;
      color: #f97d00;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      text-align: left;
      i {
        position: static;
      }
    }
  }
  .form__label {
    padding-left: 8px;
  }
  .form__note {
    margin-top: 0;
    display: inline-block;
    margin-bottom: 8px;
  }
  .max-text {
    position: relative;
    textarea {
      height: 120px;
    }
    .count {
      position: absolute;
      right: 12px;
      bottom: 12px;
      opacity: 0.75;
      color: #0b0212;
      font-size: 14px;
      font-weight: 400;
      text-align: right;
    }
  }
}

.checked-box {
  > input {
    display: none;
    &:checked ~ label {
      &::before {
        background-image: url("images/icons/SC_Check.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 95%;
        border: 3px solid #f77d0e;
      }
    }
  }
  > label {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #0b0212;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    margin-bottom: 20px;
    &:before {
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;
      border: 3px solid #afbbd4;
      border-radius: 3px;
      margin-right: 8px;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    .form__single {
      margin-bottom: 16px;
      &:first-of-type {
        max-width: 120px;
        margin-right: 16px;
        input {
          padding-right: 15px;
        }
      }
    }
    .add-field {
      color: #35558f;
      font-size: 16px;
      font-weight: 400;
      text-align: left;
    }
  }
  &__item {
    min-width: 100%;
    display: flex;
    align-items: center;
  }
  &__list {
    display: block;
  }
  .add-field {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 12px;
    background-image: url("images/icons/add-field.svg");
    color: #35558f;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
  }
}

.search-engine {
  padding: 24px;
  box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  background-color: #fff;
  @media (max-width: 575px) {
    padding: 24px 16px;
  }
  strong {
    color: #335491;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.8px;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
  }
  > p {
    opacity: 0.75;
    color: #0b0212;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    margin-bottom: 3px;
  }
  > b {
    display: block;
    color: #0b0212;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    text-transform: uppercase;
  }
  > span {
    color: #f97d00;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-top: 11px;
    p {
      color: #0b0212;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
      margin-bottom: 0;
      b {
        font-weight: 500;
      }
    }
  }
  &__photo {
    min-width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    background-color: #f8f9fb;
  }
  .search-engine__photo[style^="background-image:"] span {
    display: none;
  }
}

.section-button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  @media (max-width: 575px) {
    padding: 0 15px;
  }
  a {
    max-width: 148px;
    min-width: 148px;
    margin-right: 30px;
    @media (max-width: 1175px) {
      max-width: 120px;
      min-width: 120px;
      margin-right: 20px;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
  > div {
    a {
      &:first-of-type {
        margin-right: 8px;
        @media (max-width: 575px) {
          max-width: 100px;
          min-width: 100px;
        }
      }
      &:last-of-type {
        @media (max-width: 575px) {
          max-width: 80px;
          min-width: 80px;
        }
      }
    }
  }
}
