//Glob Utils
@import "../../variables";
@import "../../bootstrap-utils";

// Page Specific Components
@import "perfect-scrollbar-custom";
@import "messages-dashboard";
@import "edit-seasonal";
@import "admin-view-products";
@import "create-product";
@import "statistic";
@import "moments";
@import "earning";
@import "admin-store";

// .dashboard {

.dashboard {
  .section-blur {
    @media (max-width: 991px) {
      padding-top: 92px;
    }
    @media (max-width: 767px) {
      padding-top: 78px;
    }
    @media (max-width: 575px) {
      padding-top: 78px;
    }
  }

  .main-content {
    padding-left: 219px;
    padding-bottom: 40px;

    @include media-breakpoint-down(md) {
      padding-top: 0;
      padding-left: 0;
      flex-wrap: wrap;
    }
  }

  .main {
    width: 100%;

    @media (max-width: 1140px) {
      margin-right: 0;
    }

    @include media-breakpoint-up(lg) {
      max-width: 684px;
      width: 58%;
    }

    @media (min-width: 1440px) {
      width: 60%;
    }

    .toogle-box {
      max-width: 100%;

      @media (max-width: 767px) {
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
        max-width: calc(100% + 30px);
      }

      &__header {
        min-height: 66px;
        padding: 14px 24px;

        @media (max-width: 767px) {
          padding: 14px 15px;
        }

        @media (max-width: 359px) {
          flex-wrap: wrap;
          align-items: flex-start;
        }
      }

      &__header--left {
        @media (max-width: 359px) {
          width: calc(100% - 60px);
        }
      }

      &__header--right {
        display: flex;
        align-items: center;
      }

      .new-item {
        width: 50%;
        max-width: 240px;
        height: 32px;
        padding: 6px 12px;
        padding-left: 5%;
        margin-left: auto;
        margin-right: 20px;
        margin-bottom: 0;

        @media (max-width: 767px) {
          width: 160px;
          padding: 6px;
        }

        @media (max-width: 359px) {
          margin-right: auto;
          margin-left: 0;
          margin-top: 10px;
        }

        .icon {
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .toogle-box--timeline,
    .toogle-box--messages {
      .toogle-box__body {
        margin-top: 0;
        overflow: hidden;

        .section-content {
          padding-top: 0;
        }
      }
    }

    .toogle-box--timeline {
      .toogle-box__body {
        margin-top: 0;
        padding: 0 8px;
        padding-bottom: 14px;

        .section-content {
          padding-top: 0;

          .btn-border {
            max-width: calc(100% - 12px);
            margin: 0 6px;
          }
        }
      }
    }

    .toogle-box--messages {
      .toogle-box__body {
        padding: 0 12px;
        padding-bottom: 12px;

        .section-content {
          padding-right: 12px;
          max-height: 216px;
        }
      }

      .message__single {
        max-width: 100%;
      }
    }

    .section-aside-right-mob {
      @media (max-width: 991px) {
        margin-bottom: 20px;
      }
      @media (max-width: 767px) {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
      }

      .section-content__title {
        @media (max-width: 767px) {
          padding-left: 15px;
        }
      }
    }

    &__card {
      &--fluid {
        max-width: 100% !important;
      }
      @include media-breakpoint-up(lg) {
        max-width: 560px;
      }
    }
  }

  .main--fluid {
    width: 100%;
    max-width: 100%;
  }

  .aside-right {
    padding-left: 24px;
    max-width: 100%;
    width: 100%;

    @include media-breakpoint-up(lg) {
      max-width: 474px;
      width: 42%;
    }

    .section-content {
      padding-top: 0;
    }
  }

  .earning {
    // .earning__table

    &__table:before,
    .table__head,
    .table__body {
      min-width: 426px;
    }

    // .earning__info-item

    &__info-item {
      min-width: 300px;
    }

    .sort-box {
      margin-bottom: 10px;

      &__line > span {
        text-transform: inherit;
        font-size: 16px;
        margin-right: 8px;

        color: theme-color("dark-blue");
      }
    }

    .table {
      &__body {
        max-height: 144px;
      }
    }
  }

  .section-content {
    padding-top: 8px;

    &__title {
      padding-left: 20px;

      @media (max-width: 767px) {
        padding-left: 0;
      }
    }

    .section-content__title {
      &:nth-of-type(2) {
        margin-top: -12px;
        @media (max-width: 767px) {
          margin-bottom: 24px;
        }
      }
    }

    &__title--black {
      max-width: 370px;
      font-size: 14px;
      letter-spacing: 0.2px;
    }
  }

  .section-content__tiles {
    height: 420px;
    margin-bottom: 28px;

    @media (max-width: 767px) {
      margin-bottom: 12px;
    }

    @media (max-width: 1230px) {
      height: auto;
    }

    @media (max-width: 991px) {
      height: 420px;
    }

    @media (max-width: 767px) {
      height: auto;
    }

    > div {
      &:first-of-type {
        height: 420px;
      }

      @media (max-width: 1230px) {
        width: 100%;
        order: 1;
        margin: 0 auto 16px;
      }

      @media (max-width: 991px) {
        width: calc(50% - 8px);
        order: -1;
        margin: 0;
        margin-right: auto;
      }

      @media (max-width: 767px) {
        width: 100%;
        order: 1;
        margin: 0;
        margin: 0 auto 16px;
      }

      &:nth-of-type(2),
      &:last-of-type {
        height: calc((420px / 2) - 8px);

        @media (max-width: 1230px) {
          width: 100%;
          margin: 0 auto 16px;
        }

        @media (max-width: 991px) {
          width: calc(50% - 8px);
          height: calc((420px / 2) - 8px);
          margin: 0;
          margin-left: auto;
        }

        @media (max-width: 767px) {
          width: 100%;
          margin: 0;
          margin: 0 auto 16px;
        }
      }

      &:nth-of-type(2) {
        order: 2;
      }

      &:last-of-type {
        order: 3;
      }
    }

    .internal-card--main {
      background-color: transparent;

      .internal-card__info {
        width: 57%;
        padding-right: 0;

        @media (max-width: 1370px) {
          width: 100%;
        }
        @media (max-width: 1230px) {
          width: 57%;
        }

        @media (max-width: 991px) {
          order: 1;
        }

        @media (max-width: 359px) {
          width: 65%;
        }

        h2 {
          font-size: 18px;
          line-height: 18px;
          margin-bottom: 12px;
        }

        p {
          font-size: 14px;
          line-height: 18px;
        }
      }

      .internal-card__img {
        max-width: 115px;
        height: calc(100% - 50px);
        margin-left: auto;

        @media (max-width: 1370px) {
          display: none;
        }

        @media (max-width: 1230px) {
          display: block;
        }

        @media (max-width: 991px) {
          order: 2;
        }

        @media (max-width: 359px) {
          max-width: 75px;
        }
      }
    }

    .main__card {
      padding-top: 19px;

      .btn-border {
        max-width: 100%;
      }
    }

    .statistic-box {
      @media (min-width: 1231px) {
        margin-bottom: 0;
      }
    }
  }

  .moments {
    &__item {
      @media (max-width: 1230px) {
        width: calc(50% - 6px);
      }

      @media (max-width: 991px) {
        width: calc(33.33333% - 9px);
      }

      @media (max-width: 767px) {
        width: calc(50% - 4px);
        padding: 12px 8px;
        min-height: 175px;
        margin-bottom: 8px;
      }
    }
    &__title {
      @media (max-width: 767px) {
        font-size: 13px;
        line-height: 19px;
        margin-bottom: 0;
      }
    }
    &__text {
      @media (max-width: 767px) {
        font-size: 13px;
      }
    }
  }

  .statistic {
    &__item {
      @media (max-width: 1230px) {
        width: calc(50% - 6px);
      }

      @media (max-width: 991px) {
        width: calc(25% - 9px);
      }

      @media (max-width: 767px) {
        width: calc(50% - 2px);
        margin-bottom: 4px;
      }
    }
  }

  .timeline-wrap-scrollbar {
    max-height: 790px;
    padding-right: 20px;
    margin-bottom: 12px;
  }

  .timeline {
    padding-left: 32px;

    &__line {
      left: 6px;
    }

    &__date:before {
      left: -32px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 25px;
      height: 25px;
      margin-top: 0;
      top: calc(50% - 27px);

      transition: $transition-fast;

      &:active,
      &:focus {
        outline: none;
      }

      &::after {
        content: url("images/icons/arrow-slider.svg");
        font-size: inherit;
      }

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    .swiper-button-prev {
      left: -5px;
      right: auto;
      transform: rotate(180deg);
    }

    .swiper-button-next {
      right: -5px;
      left: auto;
    }

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
      opacity: 0;
    }
  }
}
.not-shadow {
  box-shadow: none;
}
