.menu-bottom {
  display: none;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  align-items: center;
  height: 48px;
  box-shadow: 0 0 4px 1px rgba(11, 2, 18, 0.08);
  background-color: #fff;
  z-index: 999;

  transition: $transition-fast;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0 0 4px 1px rgba(11, 2, 18, 0.08);
    transform: rotate(180deg);
    z-index: 25;
  }
  .container {
    position: relative;
    z-index: 30;
  }

  &.headroom--pinned {
    transform: translateY(0);
  }
  &.headroom--unpinned {
    transform: translateY(+100%);
  }

  @include media-breakpoint-down(md) {
    display: flex;
  }
  // .menu-bottom__list

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .menu-bottom__item

  &__item {
    position: relative;
    margin: 0 5px;
    height: 40px;
    &.active {
      &::before {
        content: "";
        display: block;
        position: absolute;
        background-color: rgba(247, 125, 14, 0.1);
        left: -13px;
        top: -3px;
        right: 0;
        width: 48px;
        height: 48px;
      }
      a {
        span {
          color: #f77d0e !important;
        }
      }
    }

    &:first-of-type {
      margin-left: 10px;
    }

    &:last-of-type {
      margin-right: 10px;
    }
  }

  // // .menu-bottom__link

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    svg {
      min-height: 20px;
    }

    &:hover {
      span {
        color: theme-color("blue");
      }
    }

    span {
      color: theme-color("blue");
      font-size: 14px;
      text-align: center;
      text-transform: lowercase;
      margin-top: auto;
    }
  }

  // .options-cart
  .options-cart {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    &.stock {
      .option-price {
        display: flex;
        justify-content: center;
        > p {
          max-width: 290px;
          width: 100%;
          text-align: center;
          color: #0b0212;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          margin-bottom: 0;
        }
      }
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
      transform: rotate(180deg);
      border-radius: 0 0 8px 8px;
    }
    .option-price__params {
      &::after {
        content: url("images/icons/full-line.svg");
      }
    }
    .arrow-open {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
      &.open {
        transform: rotate(180deg);
      }
    }
    &__head {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 12px;
      a {
        max-width: 328px;
        width: 100%;
        position: relative;
        z-index: 5;
        &:first-of-type {
          margin-bottom: 8px;
        }
        &:last-of-type {
          margin-bottom: 16px;
        }
      }
    }
    &__body {
      position: relative;
      .option-price {
        box-shadow: none;
        &__single {
          max-width: 210px;
        }
      }
    }
  }
}
