.main-content {
  padding-top: 26px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .aside-left {
    width: 18.619%;

    .section-content {
      padding-right: 24px;

      &:first-of-type,
      &:last-of-type {
        margin-bottom: 48px;
      }
    }
  }

  .main {
    width: 49.124%;
  }

  .aside-right {
    width: 32.257%;

    .section-content {
      padding-left: 34px;
    }
  }
}

.section-content {
  // .section-content__title

  &__title {
    display: inline-block;
    color: #828282;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.86px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 14px;
  }

  // .section-content__btn

  &__btn {
    max-width: 100%;
    font-size: 14px;
  }
}
.personal-card {
  width: 100%;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 16px;
  // .personal-card__avatar

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #e8ebf2;
    overflow: hidden;
    margin-bottom: 8px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: auto;
      height: 100%;
    }
  }

  // .personal-card__avatar--no-img

  &__avatar--no-img {
    img {
      display: none;
    }
  }

  // .personal-card__symbol

  &__symbol {
    color: #99a9c9;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }

  // .personal-card__name

  &__name {
    color: #0b0212;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin-bottom: 12px;
  }

  // .personal-card__list

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .personal-card__item

  &__item {
    width: 100%;
    padding: 13px 16px;
    border-top: 1px solid #e8ebf2;
    text-align: center;
  }

  // .personal-card__link

  &__link {
    color: #315293;
    font-family: "Neue Haas Grotesk Display Pro";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
  }

  // .personal-card__num

  &__num {
    color: #f97d00;
    font-family: "Neue Haas Grotesk Display Pro";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
  }
}

.other-links {
  // .other-links__list

  &__list {
    display: flex;
    flex-direction: column;
  }

  // .other-links__item

  &__item {
    width: 100%;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  // .other-links__link

  &__link {
    position: relative;
    padding-left: 36px;
    display: flex;
    align-items: center;

    span {
      color: #315293;
      font-family: "Neue Haas Grotesk Display Pro";
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
    }
  }
}

.icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;

  &.icon-gift {
    &:before {
      content: url("images/icons/gift.svg");
    }
  }
  &.icon-group {
    &:before {
      content: url("images/icons/group.svg");
    }
  }
  &.icon-setting {
    &:before {
      content: url("images/icons/setting.svg");
    }
  }

  &.icon-coin-bank {
    &:before {
      content: url("images/icons/coin-bank.png");
    }
  }
  &.icon-heart {
    &:before {
      content: url("images/icons/heart.svg");
    }
  }
  &.icon-notification {
    &:before {
      content: url("images/icons/notification.svg");
    }
  }
  &.icon-plus {
    &:before {
      content: url("images/icons/plus.svg");
    }
  }
}

.card-goss {
  width: 100%;

  // .card-goss__slider

  &__slider {
    width: 100%;
  }

  // .card-goss__item

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 8px;
    margin-bottom: 6px;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #eef3fd;
      opacity: 0.5;
    }
  }

  // .card-goss__item--new

  &__item--new {
    border: 1px dashed #35558f;
    &:hover {
      border: 1px dashed #35558f;
    }
    &:after {
      content: none;
    }

    .icon {
      width: 14px;
      height: 14px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // .card-goss__name

  &__name {
    display: inline-block;
    width: 100%;
    max-width: 120px;
    color: #0b0212;
    font-family: "Neue Haas Grotesk Display Pro";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5px;
    line-height: 18px;
    text-align: center;
    opacity: 0.75;
  }

  // .card-goss__item--no-img

  // &__item--no-img {
  // }
}

.new-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 64px;
  padding: 10px 35px;
  border: 1px dashed #35558f;
  border-radius: 8px;
  &:hover {
    border: 1px dashed #35558f;
  }

  span {
    position: relative;
    padding-left: 30px;
    color: #35558f;
    font-family: "Neue Haas Grotesk Display Pro";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
  }

  .icon {
    width: 14px;
    height: 14px;
    line-height: 22px;
  }
}
