.main-content {
  padding-top: 26px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 1;

  @include media-breakpoint-down(md) {
    padding-top: 230px;
    flex-wrap: wrap;
  }

  .aside-left,
  .aside-right {
    transition: top 0.3s;
  }

  .aside-left {
    width: 18.619%;
    position: sticky;
    position: -webkit-sticky;
    top: 90px;

    @include media-breakpoint-down(md) {
      display: none;
    }

    .section-content {
      padding-right: 24px;

      &:first-of-type,
      &:last-of-type {
        margin-bottom: 48px;
      }

      .btn-border {
        background-color: transparent;

        &:focus {
          background-color: theme-color("blue3");
        }
        &:hover {
          background-color: theme-color("blue2");
        }
      }
    }
  }

  .main {
    width: 49.124%;

    @include media-breakpoint-down(md) {
      width: 100%;
      order: 2;
    }

    .section-content {
      margin-bottom: 30px;

      @include media-breakpoint-down(md) {
        &:first-of-type {
          position: absolute;
          top: 25px;
          left: 0;
          width: 100%;
        }
      }
      &__title {
        padding-left: 20px;

        @include media-breakpoint-down(md) {
          padding-left: 0;
        }
      }
    }
  }

  .aside-right {
    width: 32.257%;
    position: sticky;
    position: -webkit-sticky;
    top: 90px;

    margin-bottom: 48px;

    .section-content {
      padding-left: 34px;

      .btn-border {
        max-width: 100%;
        height: 32px;
      }
    }

    @include media-breakpoint-down(md) {
      position: relative;
      top: 0;
      width: 100%;
      order: 1;

      .section-content {
        padding-left: 0;
      }
    }
  }

  .swiper-slide {
    width: 120px;
  }

  .scroll-div {
    margin-bottom: 20px;
  }

  .ss-container {
    margin-left: -25px;

    .ss-wrapper {
      width: calc(100% + 18px);
    }

    .ss-content {
      padding-left: 23px;
      padding-right: 35px;
      width: calc(100% + 18px);
    }

    .ss-scroll {
      background: #afbbd4;
      width: 4px;
      border-radius: 0;
    }
  }
}

.section-content {
  // .section-content__title

  &__title {
    position: relative;
    display: flex;
    align-items: center;
    height: 14px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.86px;
    text-transform: uppercase;
    margin-bottom: 14px;

    color: theme-color("gray");

    span {
      margin-right: 4px;
    }

    .icon {
      position: relative;
    }
  }

  // .section-content__title--center

  &__title--center {
    width: 100%;
    text-align: center;
    padding: 0 !important;
    justify-content: center;

    span {
      margin-right: 0;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: calc(50% - 40px);
      height: 2px;
      top: 50%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='2' viewBox='0 0 10 2'%3E%3Cg%3E%3Cg%3E%3Cpath fill='none' stroke='%23828282' stroke-dasharray='8 8' stroke-miterlimit='20' d='M0 1.47h240'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      transform: translateY(-50%);
    }
    &:after {
      left: 0;
      background-position: left;
      background-repeat-x: repeat;
      background-repeat-y: no-repeat;
    }
    &:before {
      right: 0;
      background-position: right;
      background-repeat-x: repeat;
      background-repeat-y: no-repeat;
    }

    span {
      background-color: theme-color("white");
    }
  }

  // .section-content__tiles

  &__tiles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 340px;

    @include media-breakpoint-down(sm) {
      height: auto;
    }

    .main__card {
      &:first-of-type {
        width: calc(50% - 8px);
        height: 340px;
        order: -1;
        margin-right: auto;

        @include media-breakpoint-down(sm) {
          width: calc(100% - 70px);
          order: 1;
          margin: 0 auto 16px;
        }

        .internal-card {
          margin-bottom: 12px;
          &__img {
            flex: 0 0 auto;

            @include media-breakpoint-down(md) {
              margin-bottom: 0;
              max-width: 195px;
            }
          }
        }
      }

      &:nth-of-type(2),
      &:last-of-type {
        width: calc(50% - 8px);
        height: calc((340px / 2) - 8px);
        margin-left: auto;

        .internal-card {
          height: 100%;
          margin-bottom: 0;
          padding: 0;
          &__img {
            position: relative;
            flex: 0 0 auto;
            height: 100%;

            img {
              width: 100%;
              height: auto;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }

        .main__buttons {
          position: relative;
          margin-top: -40px;
          z-index: 1;
        }
      }

      &:nth-of-type(2) {
        @include media-breakpoint-down(sm) {
          width: calc(100% - 70px);
          order: 2;
          margin: 0 auto 16px;
        }
      }
      &:last-of-type {
        @include media-breakpoint-down(sm) {
          width: calc(100% - 70px);
          order: 3;
          margin: 0 auto;
        }
      }

      .main__buttons {
        margin-top: 0;
        justify-content: center;

        a {
          margin: 0;
        }
      }
    }

    .internal-card {
      flex-direction: column;
      align-items: center;

      &__img {
        padding: 0 !important;
        overflow: hidden;

        img {
          min-height: 222px;
          width: auto;
        }
      }
    }
  }

  // .section-content__btn

  &__btn {
    max-width: 100%;
    font-size: 14px;

    // @include media-breakpoint-down(lg) {
    //   font-size: 11px;
    // }
  }
}

.personal-card {
  width: 100%;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;

  box-shadow: $shadow-card;
  background-color: theme-color("white");
  // .personal-card__avatar

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 8px;

    background-color: theme-color("light-gray");

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: auto;
      height: 100%;
    }
  }

  // .personal-card__avatar--no-img

  &__avatar--no-img {
    img {
      display: none;
    }
  }

  // .personal-card__symbol

  &__symbol {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: theme-color("light-blue");
  }

  // .personal-card__name

  &__name {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin-bottom: 12px;

    color: theme-color("dark-blue");
  }

  // .personal-card__list

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .personal-card__item

  &__item {
    width: 100%;
    padding: 13px 16px;
    text-align: center;

    border-top: 1px solid theme-color("light-gray");
  }

  // .personal-card__link

  &__link {
    font-size: 14px;
    font-weight: 400;
    text-align: center;

    color: theme-color("blue");
  }

  // .personal-card__num

  &__num {
    font-size: 14px;
    text-align: left;

    color: theme-color("orange");
  }
}

.other-links {
  // .other-links__list

  &__list {
    display: flex;
    flex-direction: column;
  }

  // .other-links__item

  &__item {
    width: 100%;
    margin-bottom: 17px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  // .other-links__link

  &__link {
    position: relative;
    padding-left: 36px;
    line-height: 20px;
    display: flex;
    align-items: center;

    span {
      font-size: 14px;

      color: theme-color("blue");
    }
  }
}

.icon {
  position: absolute;
  left: 0;
  top: 0;

  &.icon-gift {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/gift.svg");
    }
  }
  &.icon-social-media {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/social-media.svg");
    }
  }
  &.icon-group {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/group.svg");
    }
  }
  &.icon-discount {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/discount.svg");
    }
  }
  &.icon-mail {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/mail-icon.svg");
    }
  }
  &.icon-setting {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/setting.svg");
    }
  }

  &.icon-coin-bank {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/coin-bank.png");
    }
  }
  &.icon-heart {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/heart.svg");
    }
  }
  &.icon-notification {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/notification.svg");
    }
  }
  &.icon-plus {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/plus.svg");
    }
  }
  &.icon-more {
    width: 6px;
    height: 21px;
    &:before {
      content: url("images/icons/more.svg");
    }
  }
  &.icon-bell {
    &:before {
      content: url("images/icons/bell.svg");
    }
  }
  &.icon-help {
    width: 18px;
    height: 18px;
    &:before {
      content: url("images/icons/help.svg");
    }
  }
  &.icon-arrow {
    width: 13px;
    height: 19px;
    &:before {
      content: url("images/icons/arrow.svg");
    }
  }
}

.card-goss {
  width: 100%;

  // .card-goss__slider

  &__slider {
    width: 100%;
    padding: 0 20px;

    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  // .card-goss__item

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 8px;
    margin-bottom: 6px;
    overflow: hidden;

    @include media-breakpoint-down(lg) {
      width: 95px;
      height: 95px;
    }

    @include media-breakpoint-down(md) {
      width: 120px;
      height: 120px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #eef3fd;
      opacity: 0.5;
    }
  }

  // .card-goss__item--new

  &__item--new {
    border: 1px dashed theme-color("blue2");
    &:hover {
      border: 1px dashed theme-color("blue2");
    }
    &:after {
      content: none;
    }

    .icon {
      width: 14px;
      height: 14px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // .card-goss__name

  &__name {
    display: inline-block;
    width: 100%;
    max-width: 120px;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 18px;
    text-align: center;
    opacity: 0.75;

    color: theme-color("dark-blue");
  }

  // .card-goss__item--no-img

  // &__item--no-img {
  // }
}

.main {
  // .main__card

  &__card {
    position: relative;
    padding: 15px;
    border-radius: 8px;
    overflow: hidden;

    background-color: theme-color("white");
    box-shadow: $shadow-card;
  }

  // .main__card--row

  &__card--row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .internal-card {
      width: calc(33% - 8px);
      flex-direction: column;
      padding: 0 !important;
      margin-bottom: 0;

      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-bottom: 32px;

        &:last-of-type {
          margin-bottom: 25px;
        }
      }

      &__img {
        position: relative;
        padding: 10px;
        border-radius: 8px;
        height: 160px;
        max-width: 100%;
        overflow: hidden;
        margin-bottom: 15px;

        background-color: theme-color("light-gray2");

        @include media-breakpoint-down(sm) {
          max-width: 160px;
        }

        img {
          width: auto;
          height: 125px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &__info {
        padding: 0 !important;
        width: 100%;
        text-align: center;
        min-height: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media-breakpoint-down(sm) {
          max-width: 160px;
        }

        p {
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 0;

          color: theme-color("blue");
        }

        a {
          position: relative;
          font-size: 14px;
          line-height: 14px;
          margin-top: auto;
          transition: 0.3s;
          &:hover {
            &:after {
              width: 100%;
            }
          }
          &:after {
            transition: 0.3s;
            content: "";
            position: absolute;
            background: theme-color("orange");
            width: 0;
            height: 1px;
            bottom: 0;
            left: 0;
          }

          color: theme-color("orange");
        }
      }
    }
  }

  // .main__card--noshadow

  &__card--noshadow {
    box-shadow: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .internal-card {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 47px;

      &__img {
        flex: 0 0 220px;
        max-width: 220px;
        margin-bottom: 18px;
      }

      &__info {
        padding-left: 0;
        margin-bottom: 0;
        h2 {
          font-size: 24px;
          line-height: 24px;

          color: theme-color("blue2");
        }
      }
    }

    .main__buttons {
      margin-top: 0;
      justify-content: center;

      a {
        margin-right: 0 !important;
      }
    }
  }

  // .main__card-title

  &__card-title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;

    color: theme-color("blue2");
  }

  // .main__buttons

  &__buttons {
    margin-top: -20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include media-breakpoint-down(md) {
      justify-content: center;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 0;
      flex-direction: column;
      margin-bottom: 12px;
    }

    a {
      @include media-breakpoint-down(sm) {
        width: 100%;
        max-width: 100%;
      }
      &:first-of-type {
        margin-right: 12px;

        @include media-breakpoint-down(sm) {
          margin-right: 0;
          margin-bottom: 16px;
        }
      }
    }
  }
}

.internal-card {
  display: flex;
  align-items: flex-start;
  padding: 0 17px;
  margin-bottom: 40px;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: center;
  }

  // .internal-card--main

  &--main {
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;
    padding: 20px;

    background-color: theme-color("light-gray2");

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: center;
    }

    .internal-card__info {
      width: 55%;
      padding: 5px;
      padding-left: 5px;
      padding-right: 30px;

      @include media-breakpoint-down(md) {
        width: 100%;
        order: 2;
        padding-right: 5px;
        max-width: 235px;
      }

      h2 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 25px;

        color: theme-color("blue2");
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        color: theme-color("blue2");
      }
    }

    .internal-card__img {
      padding-left: 5px;
      width: 100%;
      flex: 0 0 235px;
      max-width: 235px;

      @include media-breakpoint-down(md) {
        order: 1;
        padding-left: 0;
        flex: 0 0 244px;
        max-width: 244px;
        margin-bottom: 0;
      }

      img {
        width: 100%;
      }
    }
  }

  // .internal-card__info

  &__info {
    width: 100%;
    padding-left: 32px;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(md) {
      padding-left: 0;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  // .internal-card__img

  &__img {
    width: 100%;
    flex: 0 0 120px;
    max-width: 120px;

    @include media-breakpoint-down(md) {
      margin-bottom: 25px;
    }

    img {
      width: 100%;
    }
  }

  // .internal-card__desc

  &__desc {
    margin-bottom: 16px;

    @include media-breakpoint-down(md) {
      max-width: 330px;
      text-align: center;
      margin: 0 auto 25px;
    }

    h5 {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 5px;

      color: theme-color("dark-blue");
    }

    p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 2px;

      color: theme-color("dark-blue");
    }

    a {
      font-size: 14px;
      line-height: 14px;
      text-align: left;

      color: theme-color("blue");
    }
  }

  .btn-border,
  .btn-border-orange {
    margin-top: auto;

    @include media-breakpoint-down(md) {
      margin: 0 auto;
    }
    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
  }
}

.new-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 64px;
  padding: 10px 35px;
  border: 1px dashed theme-color("blue2");
  border-radius: 8px;
  margin-bottom: 33px;

  &:hover {
    border: 1px dashed theme-color("blue2");
  }

  span {
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    text-align: left;

    color: theme-color("blue2");
  }

  .icon {
    width: 14px;
    height: 14px;
    line-height: 22px;
  }
}

.timeline {
  position: relative;
  padding-left: 16px;

  // .timeline__line

  &__line {
    position: absolute;
    top: 5px;
    left: 0;
    width: 4px;
    height: calc(100% - 25px);

    background-color: theme-color("light-gray");
  }

  // .timeline__list

  &__list {
    display: flex;
    flex-direction: column;
  }

  // .timeline__item

  // &__item {
  // }

  // .timeline__date

  &__date {
    position: relative;
    display: inline-block;
    padding-left: 17px;
    font-size: 14px;
    margin-bottom: 8px;

    color: theme-color("gray");

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: -22px;
      width: 16px;
      height: 16px;
      border-radius: 50%;

      background-color: theme-color("light-gray");
    }
  }

  // .timeline__date--active

  &__date--active {
    color: theme-color("orange");

    &:before {
      background-color: theme-color("orange");
    }
  }

  // .timeline__card

  &__card {
    margin-bottom: 24px;
  }
}

.card-timeline {
  border-radius: 8px;
  overflow: hidden;

  box-shadow: $shadow-card;
  background-color: theme-color("white");

  // .card-timeline--visible-notification

  &--visible-notification {
    .card-timeline__notification {
      display: block;
    }
  }

  // .card-timeline__notification

  &__notification {
    display: none;
    position: relative;
    width: 100%;
    height: 32px;
    padding: 0 19px;

    background-color: theme-color("light-gray3");

    .icon {
      left: 19px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  // .card-timeline__header

  &__header {
    padding-right: 40px;
    margin-bottom: 32px;
  }

  // .card-timeline__body

  &__body {
    margin-bottom: 20px;
  }

  // .card-timeline__inner

  &__inner {
    position: relative;
    padding: 16px;
    padding-top: 12px;
  }

  // .card-timeline__img

  &__img {
    position: relative;
    text-align: center;
    overflow: hidden;
    max-height: 180px;
    min-height: 180px;

    img {
      height: 100%;
      width: auto;
      object-fit: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // .card-timeline__info

  &__info {
    font-size: 14px;
    letter-spacing: 0.57px;
    line-height: 22px;
    text-align: left;

    color: theme-color("dark-blue");
  }

  // .card-timeline__info--main

  &__info--main {
    font-size: 16px;

    p {
      margin-bottom: 19px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  // .card-timeline__title

  &__title {
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.86px;
    text-transform: uppercase;
    margin-bottom: 10px;

    color: theme-color("blue2");

    .bold {
      text-transform: capitalize;
      color: theme-color("dark-blue");
    }
  }

  // .card-timeline__list

  &__list {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  // .card-timeline__item

  &__item {
    margin-right: 8px;
  }

  // .card-timeline__link

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 18px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;

      color: theme-color("light-blue");
    }
  }

  // .card-timeline__link--contact

  &__link--contact {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;

    background-color: theme-color("light-gray");
  }
  &__link-light {
    background-color: #f8f9fb;
  }
  // .card-timeline__link--no-img

  &__link--no-img {
    img {
      display: none;
    }
  }

  // .card-timeline__btn-more

  &__btn-more {
    position: absolute;
    top: 16px;
    right: 12px;
    width: 20px;
    height: 20px;

    .icon {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
