.btn-border,
.btn-border-orange,
.btn-border-red {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 160px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;

  font-weight: $font-weight-medium;
  background-color: theme-color("white");

  &:active:focus,
  &:focus,
  &:active {
    box-shadow: 0 0 0 !important;
  }
}

.btn-border {
  color: theme-color("blue2");
  border: 1px solid theme-color("blue2") !important;
  &.btn-border--two {
    border: 2px solid theme-color("blue2") !important;
  }
  &.items-cart {
    margin: 16px auto 0;
    max-width: 328px;
    height: 32px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
  }
  &:hover {
    background: theme-color("blue2") !important;
    color: theme-color("white");
  }
  &.active {
    background: theme-color("blue2") !important;
    color: theme-color("white");
  }

  &:focus {
    background-color: theme-color("blue3");
    color: theme-color("white");
  }
}
.btn-border-orange {
  color: theme-color("orange");
  border: 1px solid theme-color("orange") !important;
  &.btn-border--two {
    border: 2px solid theme-color("orange") !important;
  }

  &:hover,
  &:focus {
    background-color: theme-color("light-orange2");
    color: theme-color("orange");
  }

  &:active {
    background-color: theme-color("orange");
    color: theme-color("white");
  }
}

.btn-border-red {
  color: #fa0128;
  border: 2px solid #fa0128;

  &:hover,
  &:focus {
    background-color: #fa0128;
    color: theme-color("white");
  }

  &:active {
    background-color: #fa0128;
    color: theme-color("white");
  }
}
.btn-orange,
.btn-blue,
.btn-green {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;

  &.active {
    background-color: #4fcec433 !important;
    border-color: #4fcec433 !important;
    color: #0b0212 !important;
    font-weight: 400 !important;
    &::before {
      background-color: #4fcec433 !important;
      border: none !important;
    }
    &:hover {
      &::before {
        border: none !important;
      }
    }
  }
  color: theme-color("white");

  &:active:focus,
  &:focus,
  &:active {
    box-shadow: 0 0 0 !important;
  }

  &:hover {
    color: theme-color("white");
    &:before {
      opacity: 1;
    }
  }

  &:before {
    transition: 0.3s;
    opacity: 0;
    content: "";
    position: absolute;
    border-radius: 6px;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
  }
}
.btn-orange {
  max-width: 220px;

  font-weight: $font-weight-medium;
  background-color: theme-color("orange");

  &:active,
  &:focus {
    color: theme-color("white");
    background-color: theme-color("dark-orange");
  }

  &:before {
    border: 1px solid theme-color("dark-orange");
  }
}
.btn-blue {
  max-width: 160px;

  background-color: theme-color("blue2");
  font-weight: $font-weight-medium;

  &:active,
  &:focus {
    color: theme-color("white");
    background-color: theme-color("blue3");
  }

  &:before {
    border: 1px solid theme-color("blue2");
  }
}
.btn-green {
  max-width: 160px;

  background-color: #4fcec4;
  font-weight: $font-weight-medium;

  &:active,
  &:focus {
    color: theme-color("white");
    background-color: #32bdb2;
  }

  &:before {
    border: 1px solid #4fcec4;
  }
}

.btn-blue-link {
  color: theme-color("blue2");
  font-size: 16px;
  text-decoration: underline;

  &--medium {
    font-weight: $font-weight-medium;
  }

  &:hover {
    color: theme-color("blue2");
    text-decoration: none;
  }
}

.btn-blue-full {
  width: 100%;
  max-width: 183px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: theme-color("white") !important;
  background-color: theme-color("light-blue");
  text-decoration: none;
  line-height: 20px;
  border-radius: 6px;
  img {
    margin-right: 8px;
  }
}

.btn-link-orange {
  position: relative;
  display: inline-block;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s;

    background-color: theme-color("orange");
  }
  &:hover {
    &:before {
      transform-origin: bottom left;
      transform: scaleX(1);
      transition: transform 0.3s;
    }
  }
}

.btn--no-active {
  pointer-events: none;
  opacity: 0.2;
  user-select: none;

  &:hover {
    text-decoration: none;
  }
}
