.form {
  width: 100%;
  // .form__input

  &__inputs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  // .form__single

  &__single {
    position: relative;
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 15px;
    margin-bottom: 32px;

    &.error {
      input {
        border: 1px solid theme-color("red");
      }

      .form__symbol-error {
        display: block;
      }
    }

    // .form__single--pass

    &--pass {
      .form__symbol-pass {
        display: block;
      }

      &.error {
        .form__symbol-pass {
          right: 40px;
        }
      }
    }

    &--date,
    &--time {
      width: 100%;

      &::before {
        content: "";
        position: absolute;
        left: 16px;
        bottom: 10px;
        width: 16px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }

      .form__input {
        padding-left: 48px;
      }
    }

    // .form__single--date

    &--date {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='19' viewBox='0 0 16 19'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%2396a5c2' d='M14.296 16.357V5.714H1.714v10.643c0 .118.097.214.215.214H14.08a.215.215 0 0 0 .215-.214zM16 4v12.571c0 .947-.768 1.715-1.714 1.715H1.714A1.715 1.715 0 0 1 0 16.57V4c0-.946.768-1.714 1.714-1.714H3.43V.429A.43.43 0 0 1 3.857 0h1.429a.43.43 0 0 1 .428.429v1.857h4.572V.429A.43.43 0 0 1 10.714 0h1.429a.43.43 0 0 1 .428.429v1.857h1.715C15.232 2.286 16 3.054 16 4zm-3.865 9.704h-1.423a.428.428 0 0 1-.426-.426v-1.423c0-.234.192-.426.426-.426h1.423c.234 0 .426.192.426.426v1.423a.428.428 0 0 1-.426.426zm-6.857 0H3.855a.428.428 0 0 1-.426-.426v-1.423c0-.234.192-.426.426-.426h1.423c.234 0 .426.192.426.426v1.423a.428.428 0 0 1-.426.426zm3.428 0H7.284a.428.428 0 0 1-.427-.426v-1.423c0-.234.192-.426.427-.426h1.422c.235 0 .427.192.427.426v1.423a.428.428 0 0 1-.427.426zm3.429-3.418h-1.423a.429.429 0 0 1-.426-.429V8.43c0-.236.192-.429.426-.429h1.423c.234 0 .426.193.426.429v1.428a.429.429 0 0 1-.426.429zm-3.429 0H7.284a.429.429 0 0 1-.427-.429V8.43c0-.236.192-.429.427-.429h1.422c.235 0 .427.193.427.429v1.428a.429.429 0 0 1-.427.429zm-3.428 0H3.855a.429.429 0 0 1-.426-.429V8.43c0-.236.192-.429.426-.429h1.423c.234 0 .426.193.426.429v1.428a.429.429 0 0 1-.426.429z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
    }

    // .form__single--date

    &--time {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg%3E%3Cg%3E%3Cg/%3E%3Cg%3E%3Cpath fill='%2396a5c2' d='M9.72 5c-.4 0-.72.32-.72.72v4.72c0 .35.18.68.49.86l4.15 2.49c.34.2.78.1.98-.24a.71.71 0 0 0-.25-.99l-3.87-2.3V5.72c0-.4-.32-.72-.72-.72zM10 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zM9.99 0C4.47 0 0 4.48 0 10s4.47 10 9.99 10C15.52 20 20 15.52 20 10S15.52 0 9.99 0z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
    }

    // .form__single--checkbox

    &--checkbox {
      padding-top: 20px;
    }
  }

  // .form__single--fluid

  &__single--fluid {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    > p.form-text {
      opacity: 0.75;
      color: #0b0212;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      text-align: left;
      margin-bottom: 0;
      margin-top: 12px;
      padding-left: 8px;
    }
  }

  //.form__single--usd
  &__single--usd {
    .form__label {
      padding-left: 8px;
    }
    .usd {
      &::before {
        position: absolute;
        left: 10px;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        content: "$";
        color: #0b0212;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
      }
      input {
        padding-left: 28px;
      }
    }
  }

  //.form-single--attr

  &__single--attr {
    label {
      padding-left: 8px;
    }
    > div {
      border-radius: 5px;
      background-color: #f8f9fb;
      border: 1px solid transparent;
      &.focus {
        border: 1px solid rgba(53, 85, 143, 0.5);
      }
      label {
        white-space: nowrap;
        opacity: 0.5;
        color: #0b0212;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        padding-left: 10px;
        margin-bottom: 0;
      }
      input {
        padding-left: 10px;
        border: none !important;
      }
    }
  }

  &__single--max {
    position: relative;
    input {
      padding-right: 62px;
    }
    .count {
      position: absolute;
      pointer-events: none;
      top: 0;
      right: 14px;
      bottom: 0;
      display: flex;
      align-items: center;
      opacity: 0.75;
      color: #0b0212;
      font-size: 14px;
      font-weight: 400;
    }
  }

  // .form__wrap

  &__wrap {
    width: 100%;
    margin-bottom: 16px;
  }

  // .form__wrap-title

  &__wrap-title {
    width: 100%;
    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.86px;
    text-transform: uppercase;
    margin-bottom: 16px;

    color: theme-color("blue4");
    font-weight: $font-weight-medium;

    span {
      color: theme-color("orange");
    }
  }

  // .form__add-desc

  &__add-desc {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;

    color: theme-color("dark-blue");
  }

  // .form__label

  &__label {
    padding-left: 16px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 6px;

    color: theme-color("gray");
  }
  .max-text {
    position: relative;
  }
  .count {
    position: absolute;
    right: 14px;
    bottom: 15px;
    color: #0b0212;
    font-size: 14px;
    font-weight: 400;
  }
  &__input,
  &__select,
  &__textarea {
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    padding: 9px 50px 9px 16px;
    outline: none !important;
    border: 1px solid transparent;
    transition: border 0.3s ease;
    resize: none;
    background-color: theme-color("light-gray2");
    color: theme-color("dark-blue");

    &:focus {
      border: 1px solid rgba(theme-color("blue2"), 0.5);
    }
    &::placeholder {
      font-size: 16px;
      font-weight: 400;
      color: #524c57;
    }
  }

  input[type="password"] {
    font-family: "circle-font";
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 4rem;
    letter-spacing: -4px;
    caret-color: transparent;

    color: theme-color("light-blue");
  }

  select {
    width: 100%;
    border: 0;
    overflow: hidden;
    height: 0;
  }

  input.form__checkbox[type="checkbox"]:checked,
  input.form__checkbox[type="checkbox"]:not(:checked),
  input.form__checkbox-orange[type="checkbox"]:checked,
  input.form__checkbox-orange[type="checkbox"]:not(:checked),
  input.form__radio-orange[type="radio"]:checked,
  input.form__radio-orange[type="radio"]:not(:checked) {
    display: none;
  }

  input.form__checkbox[type="checkbox"]:checked + label,
  input.form__checkbox[type="checkbox"]:not(:checked) + label,
  input.form__checkbox-orange[type="checkbox"]:checked + label,
  input.form__checkbox-orange[type="checkbox"]:not(:checked) + label,
  input.form__radio-orange[type="radio"]:checked + label,
  input.form__radio-orange[type="radio"]:not(:checked) + label {
    position: relative;
    width: 100%;
    cursor: pointer;
    margin-bottom: 0;
    font-size: 16px;
    text-align: left;

    color: theme-color("dark-blue");

    b {
      margin-left: 5px;
    }
  }

  input.form__checkbox[type="checkbox"]:checked + label,
  input.form__checkbox[type="checkbox"]:not(:checked) + label {
    padding-left: 8px;
    padding-right: 50px;
    height: 24px;
    line-height: 24px;
  }

  input.form__checkbox-orange[type="checkbox"]:checked + label,
  input.form__checkbox-orange[type="checkbox"]:not(:checked) + label {
    padding-left: 26px;
    padding-right: 10px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 0;
  }

  input.form__radio-orange[type="radio"]:checked + label,
  input.form__radio-orange[type="radio"]:not(:checked) + label {
    padding-left: 26px;
    padding-right: 10px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 0;
  }

  input.form__checkbox[type="checkbox"]:checked + label:before,
  input.form__checkbox[type="checkbox"]:not(:checked) + label:before,
  input.form__checkbox[type="checkbox"]:checked + label:after,
  input.form__checkbox[type="checkbox"]:not(:checked) + label:after,
  input.form__checkbox-orange[type="checkbox"]:checked + label:before,
  input.form__checkbox-orange[type="checkbox"]:not(:checked) + label:before,
  input.form__checkbox-orange[type="checkbox"]:checked + label:after,
  input.form__checkbox-orange[type="checkbox"]:not(:checked) + label:after,
  input.form__radio-orange[type="radio"]:checked + label:before,
  input.form__radio-orange[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    transition: all 0.4s ease;
  }

  input.form__checkbox[type="checkbox"]:checked + label:before,
  input.form__checkbox[type="checkbox"]:not(:checked) + label:before {
    right: 0;
    top: 0;
    width: 48px;
    height: 24px;
    border-radius: 12px;

    border: 1px solid theme-color("blue");
    background-color: theme-color("light-gray2");
  }

  input.form__checkbox-orange[type="checkbox"]:checked + label:before,
  input.form__checkbox-orange[type="checkbox"]:not(:checked) + label:before {
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 1px solid theme-color("orange");
    background-color: theme-color("white");
  }

  input.form__radio-orange[type="radio"]:checked + label:before,
  input.form__radio-orange[type="radio"]:not(:checked) + label:before {
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: theme-color("white");
  }
  input.form__radio-orange[type="radio"]:checked + label:before {
    border: 6px solid theme-color("orange");
  }

  input.form__radio-orange[type="radio"]:not(:checked) + label:before {
    border: 1px solid theme-color("orange");
  }

  input.form__checkbox[type="checkbox"]:checked + label:after,
  input.form__checkbox[type="checkbox"]:not(:checked) + label:after {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 3px;
    right: 3px;

    border: 1px solid theme-color("gray");
    background-color: theme-color("white");
  }

  input.form__checkbox-orange[type="checkbox"]:checked + label:after,
  input.form__checkbox-orange[type="checkbox"]:not(:checked) + label:after {
    width: 5px;
    height: 9px;
    left: 7px;
    top: 3.1px;
    transform: rotate(43deg);
  }

  input.form__checkbox[type="checkbox"]:checked + label:before {
    border: 1px solid theme-color("blue");
    background-color: theme-color("blue");
  }

  // input.form__checkbox-orange[type="checkbox"]:not(:checked) + label:before {
  //   border: 1px solid theme-color("light-blue");
  // }

  // input.form__checkbox-orange[type="checkbox"]:checked + label:before {
  //   border: 1px solid theme-color("orange");
  // }
  // input.form__checkbox-orange[type="checkbox"]:not(:checked) + label:hover:before {
  //   border: 1px solid theme-color("orange");
  // }

  input.form__checkbox[type="checkbox"]:not(:checked) + label:after {
    top: 3px;
    right: 27px;
    box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
    border: 1px solid theme-color("blue3");
  }

  input.form__checkbox-orange[type="checkbox"]:checked + label:after {
    border: 2px solid theme-color("orange");
    border-top: 0;
    border-left: 0;
  }
  input.form__checkbox-orange[type="checkbox"]:not(:checked) + label:after {
    border: 2px solid transparent;
    border-top: 0;
    border-left: 0;
  }

  // .form__input

  &__input {
    height: 40px;
  }

  // .form__textarea

  // &__textarea {
  // }

  // .form__checkbox-wrap

  &__checkbox-wrap {
    span {
      display: inline-block;
      &:first-of-type {
        margin-right: 7px;
      }
      &:last-of-type {
        margin-left: 17px;
      }
    }
  }

  // .form__note

  &__note {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    opacity: 0.75;
    padding: 0 16px 0 8px;
    margin-top: 8px;

    color: theme-color("dark-blue");
  }

  // .form__symbol-error

  &__symbol-error {
    display: none;
    position: absolute;
    right: 12px;
    bottom: 10px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23f70e31' d='M11 15H9v-2h2zm7-5c0-4.42-3.58-8-8-8s-8 3.58-8 8 3.58 8 8 8 8-3.58 8-8zm2 0c0 5.52-4.48 10-10.01 10C4.47 20 0 15.52 0 10S4.47 0 9.99 0C15.52 0 20 4.48 20 10zM10 5c.55 0 1 .45 1 1v4c0 .55-.45 1-1 1s-1-.45-1-1V6c0-.55.45-1 1-1z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  // .form__symbol-pass

  &__symbol-pass {
    display: none;
    position: absolute;
    right: 12px;
    bottom: 5px;
    width: 24px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Evisibility_off-24px%3C/title%3E%3Cg id='ui' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='register' transform='translate(-972.000000, -408.000000)'%3E%3Cg id='Register-Discount' transform='translate(360.000000, 64.000000)'%3E%3Cg id='password' transform='translate(72.000000, 314.000000)'%3E%3Cg id='visibility_off-24px' transform='translate(540.000000, 30.000000)'%3E%3Cpath d='M0,0 L24,0 L24,24 L0,24 L0,0 Z M0,0 L24,0 L24,24 L0,24 L0,0 Z M0,0 L24,0 L24,24 L0,24 L0,0 Z M0,0 L24,0 L24,24 L0,24 L0,0 Z' id='Shape'%3E%3C/path%3E%3Cpath d='M12,6 C15.79,6 19.17,8.13 20.82,11.5 C20.23,12.72 19.4,13.77 18.41,14.62 L19.82,16.03 C21.21,14.8 22.31,13.26 23,11.5 C21.27,7.11 17,4 12,4 C10.73,4 9.51,4.2 8.36,4.57 L10.01,6.22 C10.66,6.09 11.32,6 12,6 Z M10.93,7.14 L13,9.21 C13.57,9.46 14.03,9.92 14.28,10.49 L16.35,12.56 C16.43,12.22 16.490037,11.86 16.490037,11.49 C16.5,9.01 14.48,7 12,7 C11.63,7 11.28,7.05 10.93,7.14 Z M2.01,3.87 L4.69,6.55 C3.06,7.83 1.77,9.53 1,11.5 C2.73,15.89 7,19 12,19 C13.52,19 14.98,18.71 16.32,18.18 L19.74,21.6 L21.15,20.19 L3.42,2.45 L2.01,3.87 Z M9.51,11.37 L12.12,13.98 C12.08,13.99 12.04,14 12,14 C10.62,14 9.5,12.88 9.5,11.5 C9.5,11.45 9.51,11.42 9.51,11.37 L9.51,11.37 Z M6.11,7.97 L7.86,9.72 C7.63,10.27 7.5,10.87 7.5,11.5 C7.5,13.98 9.52,16 12,16 C12.63,16 13.23,15.87 13.77,15.64 L14.75,16.62 C13.87,16.86 12.95,17 12,17 C8.21,17 4.83,14.87 3.18,11.5 C3.88,10.07 4.9,8.89 6.11,7.97 Z' id='Shape' fill='%2399A9C9' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: pointer;

    &.visible {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Evisibility-24px%3C/title%3E%3Cg id='ui' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='forms---text-field' transform='translate(-896.000000, -331.000000)'%3E%3Cg id='Register-Discount' transform='translate(588.000000, 73.000000)'%3E%3Cg id='Postcode' transform='translate(92.000000, 228.000000)'%3E%3Cg id='visibility-24px' transform='translate(216.000000, 30.000000)'%3E%3Cpolygon id='Path' points='0 0 24 0 24 24 0 24'%3E%3C/polygon%3E%3Cpath d='M12,6 C15.79,6 19.17,8.13 20.82,11.5 C19.17,14.87 15.79,17 12,17 C8.21,17 4.83,14.87 3.18,11.5 C4.83,8.13 8.21,6 12,6 M12,4 C7,4 2.73,7.11 1,11.5 C2.73,15.89 7,19 12,19 C17,19 21.27,15.89 23,11.5 C21.27,7.11 17,4 12,4 Z M12,9 C13.38,9 14.5,10.12 14.5,11.5 C14.5,12.88 13.38,14 12,14 C10.62,14 9.5,12.88 9.5,11.5 C9.5,10.12 10.62,9 12,9 M12,7 C9.52,7 7.5,9.02 7.5,11.5 C7.5,13.98 9.52,16 12,16 C14.48,16 16.5,13.98 16.5,11.5 C16.5,9.02 14.48,7 12,7 Z' id='Shape' fill='%2399A9C9' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }

  // .form__link

  &__link {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
  }

  // .form__desc

  &__desc {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 9px;

    color: theme-color("gray");
  }

  // .form__errors-text

  &__errors-text {
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;

    color: theme-color("red");
  }

  // .form__button

  // &__button {
  // }

  // .form__single--checkbox-left

  &__single--checkbox-left {
    input.form__checkbox[type="checkbox"]:checked + label,
    input.form__checkbox[type="checkbox"]:not(:checked) + label {
      padding-left: 60px;
      padding-right: 8px;
    }

    input.form__checkbox[type="checkbox"]:checked + label:before,
    input.form__checkbox[type="checkbox"]:not(:checked) + label:before {
      right: auto;
      left: 0;
    }

    input.form__checkbox[type="checkbox"]:checked + label:after,
    input.form__checkbox[type="checkbox"]:not(:checked) + label:after {
      right: auto;
      left: 27px;
    }

    input.form__checkbox[type="checkbox"]:not(:checked) + label:after {
      left: 3px;
    }
  }
}
