body {
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  overflow: hidden;
  overflow-y: auto;
}

tspan {
  font-family: $font-family-custom;
}

input[type="checkbox"]:checked ~ .check-off {
  font-weight: $font-weight-normal !important;
}
input[type="checkbox"]:checked ~ .check-on {
  font-weight: $font-weight-medium !important;
}

.check-on {
  font-weight: $font-weight-normal;
}
.section-blur {
  position: relative;
}

div[data-class="points"] {
  z-index: 99;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/settings/background-second.png");
    background-size: auto;
    background-repeat: repeat;
    z-index: -12;
    opacity: 1 !important;
  }
}

div[data-class="grainy"] {
  background-color: #fdfdfd;
  &::before {
    display: none !important;
  }
}
div[data-class="blue"] {
  background-color: #f8f9fb !important;
  &::before {
    display: none !important;
  }
}
div[data-class="warm"] {
  background-color: #fffcf9 !important;
  &::before {
    display: none !important;
  }
}

div[data-class="maze"] {
  position: relative;
  background-color: #fffcf9 !important;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/patern/theme-background-one.png");
    background-size: auto;
    background-repeat: repeat;
    opacity: 0.5;
  }
}

.bg-cover {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 999;
  &:before {
    content: "";
    position: absolute;
    z-index: -12;
    background-color: #fff9f4;
    width: 100%;
    height: 100%;
    top: 15px;
    left: 15px;
  }
}

.section-blur {
  &.promo-visible {
    .promo {
      display: flex;
    }
  }
}

.link-orange {
  font-size: 20px;

  color: theme-color("orange");
  font-weight: $font-weight-medium;

  &:hover {
    color: theme-color("dark-orange");
  }
}

.figure-bg {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
button {
  background: none;
  border: none;
  text-decoration: none;
  outline: none;
  &:active,
  &:focus {
    background: none;
    border: none;
    text-decoration: none;
    outline: none;
  }
}
.modal-backdrop {
  pointer-events: none;
}
.option-backDrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  cursor: pointer;
}
