.link-orange {
  font-size: 20px;
  color: #f97d00;
  @include med;
}
.bg-cover {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 999;
  &:before {
    content: "";
    position: absolute;
    z-index: -12;
    background-color: #fff9f4;
    width: 100%;
    height: 100%;
    top: 15px;
    left: 15px;
  }
}
h2 {
  @media (max-width: 575px) {
    font-size: 40px;
    line-height: 36px;
  }
}
h3 {
  span {
    @media (max-width: 575px) {
      font-size: 24px !important;
      line-height: 24px !important;
    }
  }
  @media (max-width: 575px) {
    font-size: 24px;
    line-height: 24px;
  }
}
button {
  background: none;
  border: none;
  text-decoration: none;
  outline: none;
  &:active,
  &:focus {
    background: none;
    border: none;
    text-decoration: none;
    outline: none;
  }
}
