.icon {
  position: absolute;
  left: 0;
  top: 0;

  &.icon-home {
    width: auto;
    height: auto;
    &:before {
      content: url("images/icons/home.svg");
    }

    &.active {
      &:before {
        content: url("images/icons/home-notice.svg");
      }
    }
  }

  &.icon-star {
    width: auto;
    height: auto;
    &:before {
      content: url("images/icons/star.svg");
    }

    &.active {
      &:before {
        content: url("images/icons/star-notice.svg");
      }
    }
  }

  &.icon-offer {
    width: auto;
    height: auto;
    &:before {
      content: url("images/icons/offer.svg");
    }

    &.active {
      &:before {
        content: url("images/icons/offer-notice.svg");
      }
    }
  }

  &.icon-cart {
    width: auto;
    height: auto;
    &:before {
      content: url("images/icons/cart.svg");
    }

    &.active {
      &:before {
        content: url("images/icons/cart-notice.svg");
      }
    }
  }

  &.icon-head-mail {
    width: auto;
    height: auto;
    &:before {
      content: url("images/icons/mail.svg");
    }

    &.active {
      &:before {
        content: url("images/icons/mail-notice.svg");
      }
    }
  }

  &.icon-search {
    width: 21px;
    height: 21px;
    &:before {
      content: url("images/icons/search.svg");
    }
  }

  &.icon-gift {
    width: 20px;
    height: 26px;
    &:before {
      content: url("images/icons/gift.svg");
    }
    &.active {
      &:before {
        content: url("images/icons/gift-notice.svg");
      }
    }
  }
  &.icon-social-media {
    width: 20px;
    height: 26px;
    &:before {
      content: url("images/icons/social-media.svg");
    }
    &.active {
      &:before {
        content: url("images/icons/social-media-notice.svg");
      }
    }
  }
  &.icon-group {
    width: 20px;
    height: 26px;
    &:before {
      content: url("images/icons/group.svg");
    }
    &.active {
      &:before {
        content: url("images/icons/group-notice.svg");
      }
    }
  }
  &.icon-discount {
    width: 20px;
    height: 26px;
    &:before {
      content: url("images/icons/discount.svg");
    }
    &.active {
      &:before {
        content: url("images/icons/discount-notice.svg");
      }
    }
  }
  &.icon-mail {
    width: 20px;
    height: 26px;
    &:before {
      content: url("images/icons/mail-icon.svg");
    }
    &.active {
      &:before {
        content: url("images/icons/mail-icon-notice.svg");
      }
    }
  }
  &.icon-setting {
    width: 20px;
    height: 26px;
    &:before {
      content: url("images/icons/setting.svg");
    }
    &.active {
      &:before {
        content: url("images/icons/setting-notice.svg");
      }
    }
  }

  &.icon-coin-bank {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/coin-bank.png");
    }
  }
  &.icon-heart {
    width: 20px;
    height: 26px;
    &:before {
      content: url("images/icons/heart.svg");
    }
    &.active {
      &:before {
        content: url("images/icons/heart-notice.svg");
      }
    }
  }
  &.icon-notification {
    width: 20px;
    height: 26px;
    &:before {
      content: url("images/icons/notification.svg");
    }
    &.active {
      &:before {
        content: url("images/icons/notification-notice.svg");
      }
    }
  }
  &.icon-plus {
    width: 14px;
    height: 19px;
    &:before {
      content: url("images/icons/plus.svg");
    }
  }
  &.icon-more {
    width: 6px;
    height: 21px;
    &:before {
      content: url("images/icons/more.svg");
    }

    &.icon-more-active {
      &:before {
        content: url("images/icons/more-active.svg");
      }
    }
  }
  &.icon-bell {
    &:before {
      content: url("images/icons/bell.svg");
    }
  }
  &.icon-bell-white {
    &:before {
      content: url("images/icons/bell-white.svg");
    }
  }
  &.icon-help {
    width: 18px;
    height: 18px;
    &:before {
      content: url("images/icons/help.svg");
    }
  }
  &.icon-arrow {
    width: 13px;
    height: 19px;
    &:before {
      content: url("images/icons/arrow.svg");
    }
  }
  &.icon-like {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/like.svg");
    }
  }
  &.icon-heart-l {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/heart-icon.svg");
    }
  }
  &.icon-happy {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/happy.svg");
    }
  }
  &.icon-surprised {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/surprised.svg");
    }
  }
  &.icon-angry {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/angry.svg");
    }
  }
  &.icon-like-big {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/like-big.svg");
    }
  }
  &.icon-heart-l-big {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/heart-icon-big.svg");
    }
  }
  &.icon-happy-big {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/happy-big.svg");
    }
  }
  &.icon-surprised-big {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/surprised-big.svg");
    }
  }
  &.icon-angry-big {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/angry-big.svg");
    }
  }
  &.icon-like-blue {
    width: 22px;
    height: 20px;
    &:before {
      content: url("images/icons/like-blue.svg");
    }
  }
  &.icon-comment {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/comment.svg");
    }
  }
  &.icon-plus-blue {
    width: 14px;
    height: 14px;
    &:before {
      content: url("images/icons/plus-blue.svg");
    }
  }
  &.icon-gallery-main {
    width: 15px;
    height: 18px;
    &:before {
      content: url("images/icons/gallery-main.svg");
    }
  }
  &.icon-cloud {
    width: 96px;
    height: 64px;
    &:before {
      content: url("images/icons/cloud.svg");
    }
  }
  &.icon-menu-settings {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/settings.svg");
    }
  }
  &.icon-menu-exit {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/exit.svg");
    }
  }

  &.icon-feedback {
    width: 20px;
    height: 20px;
    &:before {
      content: url("images/icons/feedback.svg");
    }
  }

  &.icon-expensive {
    width: 18px;
    height: 18px;
    left: 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23828282' d='M10.896 10.277c.335-.335.512-.78.498-1.255a1.77 1.77 0 0 0-.323-.967l.298-.307a.7.7 0 1 0-1.01-.976l-.301.31a1.964 1.964 0 0 0-1.005-.288H9.03c-.518 0-1.006.203-1.377.572l-.11.111c-.781.78-.79 2.04-.02 2.809l.456.454a.582.582 0 0 1 .175.406.543.543 0 0 1-.162.393l-.052.051c-.216.216-.553.204-.785-.027l-.74-.739a.365.365 0 0 1-.113-.249.292.292 0 0 1 .091-.22.7.7 0 1 0-.993-.991 1.69 1.69 0 0 0-.502 1.241c.009.429.176.836.472 1.157l-.263.254a.7.7 0 0 0 .488 1.206.7.7 0 0 0 .487-.197l.295-.283c.357.272.778.409 1.196.409.492 0 .981-.19 1.36-.569l.053-.051c.375-.375.579-.872.573-1.4a1.976 1.976 0 0 0-.587-1.383l-.455-.454c-.218-.219-.21-.597.019-.825l.11-.11a.53.53 0 0 1 .39-.162c.15.001.293.063.405.175l.43.43a.387.387 0 0 1 .118.261.293.293 0 0 1-.087.222.703.703 0 0 0 .993.992zm5.676-8.57c0 .784-.283 1.42-.862 1.924l-.065-.64a.702.702 0 0 0-.627-.627l-.813-.082c.718-.686 1.904-.853 2.116-.878.14.013.25.131.25.275zM16.238.003c-.115.01-2.68.245-3.644 2.116l-3.481-.354a2.794 2.794 0 0 0-2.269.808L.84 8.558a2.81 2.81 0 0 0 0 3.966l4.607 4.61c.553.554 1.279.83 2.002.83a2.77 2.77 0 0 0 1.966-.809.701.701 0 0 0-.992-.992c-.542.54-1.432.532-1.984-.02l-4.606-4.611A1.404 1.404 0 0 1 1.83 9.55l6.006-5.987c.3-.3.713-.447 1.135-.404l5.337.542.07.682a7.41 7.41 0 0 1-1.92.422.702.702 0 0 0 .075 1.4 8.7 8.7 0 0 0 1.99-.388l.327 3.206c.043.42-.104.834-.403 1.133l-3.422 3.372a.702.702 0 0 0 .985 1l3.424-3.375.003-.003c.6-.599.894-1.426.808-2.269l-.372-3.656c.472-.276.87-.601 1.188-.972.607-.709.914-1.566.914-2.547V1.68A1.681 1.681 0 0 0 16.237.002z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transform: translateX(-50%);

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='%234fcec4' d='M10.896 10.277c.335-.335.512-.78.498-1.255a1.77 1.77 0 0 0-.323-.967l.298-.307a.7.7 0 1 0-1.01-.976l-.301.31a1.964 1.964 0 0 0-1.005-.288H9.03c-.518 0-1.006.203-1.377.572l-.11.111c-.781.78-.79 2.04-.02 2.809l.456.454a.582.582 0 0 1 .175.406.543.543 0 0 1-.162.393l-.052.051c-.216.216-.553.204-.785-.027l-.74-.739a.365.365 0 0 1-.113-.249.292.292 0 0 1 .091-.22.7.7 0 1 0-.993-.991 1.69 1.69 0 0 0-.502 1.241c.009.429.176.836.472 1.157l-.263.254a.7.7 0 0 0 .488 1.206.7.7 0 0 0 .487-.197l.295-.283c.357.272.778.409 1.196.409.492 0 .981-.19 1.36-.569l.053-.051c.375-.375.579-.872.573-1.4a1.976 1.976 0 0 0-.587-1.383l-.455-.454c-.218-.219-.21-.597.019-.825l.11-.11a.53.53 0 0 1 .39-.162c.15.001.293.063.405.175l.43.43a.387.387 0 0 1 .118.261.293.293 0 0 1-.087.222.703.703 0 0 0 .993.992zm5.676-8.57c0 .784-.283 1.42-.862 1.924l-.065-.64a.702.702 0 0 0-.627-.627l-.813-.082c.718-.686 1.904-.853 2.116-.878.14.013.25.131.25.275zM16.238.003c-.115.01-2.68.245-3.644 2.116l-3.481-.354a2.794 2.794 0 0 0-2.269.808L.84 8.558a2.81 2.81 0 0 0 0 3.966l4.607 4.61c.553.554 1.279.83 2.002.83a2.77 2.77 0 0 0 1.966-.809.701.701 0 0 0-.992-.992c-.542.54-1.432.532-1.984-.02l-4.606-4.611A1.404 1.404 0 0 1 1.83 9.55l6.006-5.987c.3-.3.713-.447 1.135-.404l5.337.542.07.682a7.41 7.41 0 0 1-1.92.422.702.702 0 0 0 .075 1.4 8.7 8.7 0 0 0 1.99-.388l.327 3.206c.043.42-.104.834-.403 1.133l-3.422 3.372a.702.702 0 0 0 .985 1l3.424-3.375.003-.003c.6-.599.894-1.426.808-2.269l-.372-3.656c.472-.276.87-.601 1.188-.972.607-.709.914-1.566.914-2.547V1.68A1.681 1.681 0 0 0 16.237.002z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }

  &.icon-favorite {
    width: 18px;
    height: 18px;
    left: 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='14' viewBox='0 0 16 14'%3E%3Cg%3E%3Cg%3E%3Cg/%3E%3Cg%3E%3Cpath fill='%23828282' d='M8.078 11.914l-.075.075-.075-.075c-3.57-3.233-5.926-5.371-5.926-7.54 0-1.5 1.125-2.625 2.626-2.625 1.155 0 2.28.743 2.677 1.77h1.403c.39-1.027 1.515-1.77 2.67-1.77 1.5 0 2.626 1.126 2.626 2.626 0 2.168-2.355 4.306-5.926 7.54zM8.003 1.818C6.683.273 4.238-.365 2.258.993A4.104 4.104 0 0 0 .503 4.21c-.105 2.91 2.475 5.243 6.413 8.82l.075.068c.57.517 1.447.517 2.017-.008l.083-.075c3.937-3.57 6.51-5.902 6.412-8.812a4.101 4.101 0 0 0-1.755-3.21c-1.98-1.35-4.425-.72-5.745.825z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transform: translateX(-50%);

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='14' viewBox='0 0 16 14'%3E%3Cg%3E%3Cg%3E%3Cg/%3E%3Cg%3E%3Cpath fill='%234fcec4' d='M8.078 11.914l-.075.075-.075-.075c-3.57-3.233-5.926-5.371-5.926-7.54 0-1.5 1.125-2.625 2.626-2.625 1.155 0 2.28.743 2.677 1.77h1.403c.39-1.027 1.515-1.77 2.67-1.77 1.5 0 2.626 1.126 2.626 2.626 0 2.168-2.355 4.306-5.926 7.54zM8.003 1.818C6.683.273 4.238-.365 2.258.993A4.104 4.104 0 0 0 .503 4.21c-.105 2.91 2.475 5.243 6.413 8.82l.075.068c.57.517 1.447.517 2.017-.008l.083-.075c3.937-3.57 6.51-5.902 6.412-8.812a4.101 4.101 0 0 0-1.755-3.21c-1.98-1.35-4.425-.72-5.745.825z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }
  &.icon-thumbup {
    width: 18px;
    height: 18px;
    left: 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='16' viewBox='0 0 18 16'%3E%3Cg%3E%3Cg%3E%3Cg/%3E%3Cg%3E%3Cpath fill='%23828282' d='M.75 15.75h3v-9h-3zm6-9l3.255-3.255L9 7.5h6.75V9l-2.25 5.25H6.75zm0 9h6.75a1.49 1.49 0 0 0 1.38-.915l2.265-5.287c.068-.173.105-.353.105-.548V7.5c0-.825-.675-1.5-1.5-1.5h-4.732l.712-3.427.022-.24c0-.308-.127-.593-.33-.795L10.629.75 5.685 5.693A1.49 1.49 0 0 0 5.25 6.75v7.5c0 .825.675 1.5 1.5 1.5z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transform: translateX(-50%);
    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='16' viewBox='0 0 18 16'%3E%3Cg%3E%3Cg%3E%3Cg/%3E%3Cg%3E%3Cpath fill='%234fcec4' d='M.75 15.75h3v-9h-3zm6-9l3.255-3.255L9 7.5h6.75V9l-2.25 5.25H6.75zm0 9h6.75a1.49 1.49 0 0 0 1.38-.915l2.265-5.287c.068-.173.105-.353.105-.548V7.5c0-.825-.675-1.5-1.5-1.5h-4.732l.712-3.427.022-.24c0-.308-.127-.593-.33-.795L10.629.75 5.685 5.693A1.49 1.49 0 0 0 5.25 6.75v7.5c0 .825.675 1.5 1.5 1.5z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }
  &.icon-thumbdown {
    top: 2px;
    width: 18px;
    height: 18px;
    left: 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='16' viewBox='0 0 18 16'%3E%3Cg%3E%3Cg%3E%3Cg/%3E%3Cg%3E%3Cpath fill='%23828282' d='M.75 15.75h3v-9h-3zm6-9l3.255-3.255L9 7.5h6.75V9l-2.25 5.25H6.75zm0 9h6.75a1.49 1.49 0 0 0 1.38-.915l2.265-5.287c.068-.173.105-.353.105-.548V7.5c0-.825-.675-1.5-1.5-1.5h-4.732l.712-3.427.022-.24c0-.308-.127-.593-.33-.795L10.629.75 5.685 5.693A1.49 1.49 0 0 0 5.25 6.75v7.5c0 .825.675 1.5 1.5 1.5z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transform: translateX(-50%) rotate(180deg);
    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='16' viewBox='0 0 18 16'%3E%3Cg%3E%3Cg%3E%3Cg/%3E%3Cg%3E%3Cpath fill='%234fcec4' d='M.75 15.75h3v-9h-3zm6-9l3.255-3.255L9 7.5h6.75V9l-2.25 5.25H6.75zm0 9h6.75a1.49 1.49 0 0 0 1.38-.915l2.265-5.287c.068-.173.105-.353.105-.548V7.5c0-.825-.675-1.5-1.5-1.5h-4.732l.712-3.427.022-.24c0-.308-.127-.593-.33-.795L10.629.75 5.685 5.693A1.49 1.49 0 0 0 5.25 6.75v7.5c0 .825.675 1.5 1.5 1.5z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }
}
