.orders {
  .active-arrow {
    &:after {
      transform: rotate(-180deg);
    }
  }
  &__line {
    width: 8px;
    height: 56px;
    border-radius: 6px;
    margin-right: 16px;
  }
  &__toggle {
    position: relative;
    display: flex;
    align-items: center;
    &-left {
      max-width: 334px;
      @media (max-width: 1260px) {
        max-width: 290px;
      }
      @media (max-width: 767px) {
        max-width: 100%;
      }
    }
    &-block {
      @media (max-width: 767px) {
        flex-direction: column;
      }
      .orders__img-block {
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          @media (max-width: 767px) {
            display: none;
          }
        }
      }
    }
    a {
      margin-right: 7px;
    }
    p {
      margin-bottom: 0;
    }
    &:hover {
      cursor: pointer;
    }

    &:after {
      transition: 0.4s;
      content: url("images/groups/arrow-down.svg");

      @media (max-width: 767px) {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  &__price {
    max-width: 65px;
    @media (max-width: 767px) {
      margin-left: 30px !important;
    }
  }
  &__bottles {
    max-width: 380px;
    margin-right: 30px;
    @media (max-width: 1260px) {
      max-width: 265px;
    }
    @media (max-width: 767px) {
      margin-right: 0;
    }
  }
  &__hide {
    display: none;
    margin-top: 20px;
  }
  &__box {
    max-width: 930px;
    box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    background-color: #fff;
    padding: 11px 24px 11px 12px;
    margin-bottom: 10px;
    a {
      color: #315293;
      font-size: 14px;
      font-weight: 400;
    }
    @media (max-width: 767px) {
      padding: 15px 16px 15px 12px;
    }
    &:first-child {
      .orders__line {
        background-color: #f77d0e;
      }
    }
    &:nth-child(2) {
      .orders__line {
        background-color: #00a046;
      }
    }
    &:nth-child(3) {
      .orders__line {
        background-color: #d2d2d2;
      }
    }
    &:nth-child(4) {
      .orders__line {
        background-color: #4f7ccf;
      }
    }
    &:nth-child(5) {
      .orders__line {
        background-color: #00a046;
      }
    }
  }
  b {
    color: #0b0212;
    font-size: 14px;
    font-weight: 500;
    margin-right: 7px;
  }
  .text-gray {
    color: #828282;
    font-size: 14px;
    font-weight: 400;
  }
  .text-blue {
    color: #315293;
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
  }

  &__img-block {
    max-width: 56px;
    width: 100%;
    height: 56px;
    background-color: #f4f8ff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    &:nth-child(3) {
      @media (max-width: 767px) {
        margin-right: 0;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
