.orders {
  .text-green {
    color: #4fcec4;
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    right: 35px;
  }
  .text-orange {
    color: #f97d00;
    font-size: 14px;
    font-weight: 400;
  }
  &__text {
    margin-bottom: 14px;
    &-price {
      strong {
        &:first-child {
          margin-right: 12px;
        }
      }
    }
  }
  &__card {
    padding-top: 16px;
    padding-bottom: 15px;
    margin-left: 15px;
    position: relative;
    align-items: flex-start;
    &:last-child {
      padding-top: 24px;
      .orders__card-list {
        b {
          margin-bottom: 0;
        }
      }
      .reaction__wrap-link {
        margin-bottom: 17px;
        margin-top: 20px;
      }
    }
    &-result {
      max-width: 315px;
      small {
        color: #0b0212;
        font-weight: 300;
        font-size: 14px;
        text-align: right;
        margin-top: 8px;
      }
      strong {
        color: #0b0212;
        font-weight: 500;
        font-size: 18px !important;
        text-transform: uppercase;
      }
      span {
        color: #0b0212;
        font-size: 14px;
        font-weight: 400;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: calc(100% + 45px);
      opacity: 0.5;
      height: 2px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='2' viewBox='0 0 10 2'%3E%3Cg%3E%3Cg%3E%3Cpath fill='none' stroke='%23828282' stroke-dasharray='8 8' stroke-miterlimit='20' d='M0 1.47h240'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      transform: translateY(-50%);
      top: 0;
      right: -20px;
    }
    &-avatars {
      figure {
        width: 40px;
        height: 40px;
        margin-right: 5px;
      }
    }
    &-contributed {
      margin-right: 20px;
      padding-left: 30px;
      p {
        margin-bottom: 0;
      }
    }
    &-last {
      padding-bottom: 15px;
      .orders__card {
        padding-bottom: 0;
      }
      .orders__card-price {
        margin-bottom: 24px;
      }
    }
    &-block-2 {
      margin-top: 48px;
    }
    &-block-1 {
      margin-top: 20px;
    }
    &-for {
      margin-top: 30px;
    }
    &-list {
      span {
        color: #0b0212;
        font-size: 14px;
        font-weight: 400;
      }
    }

    &-reaction {
      margin-top: 75px;
      margin-right: 20px;
      img {
        margin-right: 10px;
      }
      span {
        color: #335491;
        font-size: 16px;
        font-weight: 400;
      }
      .d-flex {
        &:first-child {
          margin-right: 25px;
        }
      }
    }
    &-description {
      small {
        margin-right: 5px;
      }
      .d-flex {
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &-price {
      margin-bottom: 35px;
      align-items: baseline;
      p {
        color: #0b0212;
        font-size: 14px;
        font-weight: 300;
      }
      span {
        margin-right: 13px;
        font-weight: 500;
      }
    }
    &-img {
      margin-right: 16px;
      max-width: 88px;
      align-items: center;
      img {
        width: 100%;
      }
    }
    b {
      max-width: 204px;
      line-height: 22px;
      color: #0b0212;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 10px;
    }
    small {
      color: #0b0212;
      line-height: 14px;
      font-size: 14px;
      font-weight: 300;
    }
    strong {
      color: #0b0212;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
    }
  }
}
