//Glob Utils
@import "../../variables";
@import "../../bootstrap-utils";

@import "orders-box";
@import "orders-cards";
@import "orders-dispute";

.orders {
  .other-links__link.this {
    i {
      background-image: url("images/orders/order-ship.png") !important;
    }
    span {
      color: #f77d0e !important;
    }
  }
  .section-content__title {
    padding-left: 20px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex !important;
  }
  .section-content__title {
    @media (max-width: 575px) {
      margin-left: 20px !important;
    }
  }
  main {
    margin-left: 7px;
    @media (max-width: 991px) {
      padding-top: 25px;
      padding-bottom: 50px;
      margin-left: 0;
    }
  }
  &__bottom {
    margin-bottom: 50px;
    margin-top: 20px;
    .section-content__title {
      margin-left: 20px;
    }
  }
  &__slider {
    position: relative;
    box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    background-color: #fff;
  }
  .internal-card__slider {
    margin-bottom: 0;
  }
  .slider-recomend__container {
    max-width: 885px;
    padding: 12px 20px 12px 57px;
    @media (max-width: 767px) {
      padding: 12px 24px 30px 24px;
    }
  }
}
