//Glob Utils
@import "../../variables";
@import "../../bootstrap-utils";

@import "orders-box";
@import "orders-cards";

.orders {
  .slider-recomend {
    position: relative;
    box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    background-color: #fff;
  }
  .internal-card__slider {
    margin-bottom: 0;
  }
  .slider-recomend__container {
    max-width: 1140px;
    padding: 12px 57px 12px;
  }
}
