.blog {
  .gift-shopping {
    @media (max-width: 575px) {
      overflow-x: hidden;
    }
  }
  &__products {
    margin-top: 80px;
    @media (max-width: 1200px) {
      margin-top: 0;
    }
    @media (max-width: 575px) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  .product-post {
    max-width: 620px;
    margin-bottom: 24px;
    width: 100%;
    @media (max-width: 991px) {
      max-width: 100%;
    }
    .mini-post__info {
      @media (max-width: 991px) {
        flex-direction: column !important;
        align-items: center;
      }
    }

    .profile-list__avatar {
      display: none;
      position: absolute;
      left: 5px;
      top: 5px;
      @media (max-width: 991px) {
        display: block;
      }
    }
    .keywords__link {
      @media (max-width: 991px) {
        display: none;
      }
    }
    .big-post__tag {
      display: none !important;
      .keywords__link {
        @media (max-width: 991px) {
          display: flex !important;
          margin-bottom: 0;
        }
      }
      @media (max-width: 991px) {
        display: flex !important;
        width: 100%;
        max-width: 175px;
      }
    }

    .mini-post__right {
      margin-right: 10px;
    }
    p {
      margin-bottom: 0;
      margin-top: 10px;
    }
    .keywords__link {
      max-width: 160px;
      color: #4fcec4;
      font-size: 14px;
      margin-bottom: 10px;
      width: 100% !important;
      &:hover {
        color: #fff;
      }
    }
  }
  &-post {
    small.text-gray {
      display: flex;
      align-items: center;
    }
    .big-post__top {
      margin-right: 15px;
      height: 200px !important;
      max-width: 255px;
      position: relative;
      @media (max-width: 991px) {
        height: 100% !important;
        margin-right: 0;
        max-width: 100%;
      }
      .big-post__img {
        max-width: 104px;
        width: 100%;
        height: 100%;
        padding-bottom: 15px;
        padding-top: 15px;
        margin-top: 0;
        @media (max-width: 991px) {
          max-width: 125px;
          margin-top: 45px;
          margin-bottom: 10px;
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .blog__list {
      @media (max-width: 575px) {
        padding-top: 12px;
      }
      &-top {
        @media (max-width: 375px) {
          h4 {
            max-width: 200px;
          }
        }
      }
    }
    &__recomended-slider {
      max-width: 600px;
      @media (max-width: 1200px) {
        padding-bottom: 70px;
      }
    }
    .main-item {
      width: 100% !important;
    }
    .mini-post__detail {
      max-width: 295px;
    }
    .btn-border {
      text-align: center;
      white-space: nowrap;
    }
    .section-content__title {
      @media (max-width: 991px) {
        padding-left: 16px;
      }
    }
    @media (max-width: 991px) {
      margin-top: 20px;
    }
    .text-orange {
      color: #f77d0e !important;
      font-weight: 500;
    }
    .main-item {
      margin-right: 35px;
      @media (max-width: 991px) {
        margin-right: 0;
      }
    }
    .aside-right {
      top: 135px !important;
      width: 29% !important;
      margin: 0 !important;
      @media (max-width: 1200px) {
        width: 29.5% !important;
      }
      .big-post__top {
        height: 100% !important;
      }
      .big-post__img {
        max-width: 125px;
        height: 230px;
        margin-bottom: 15px;
      }
      .ss-content {
        overflow-x: hidden;
      }
      .section-content {
        padding-left: 0 !important;
      }
      .section-content__title {
        margin-left: 16px;
      }
      .big-post {
        &:first-child {
          p {
            color: #0b0212;
            font-size: 14px;
          }
        }
      }
      @media (max-width: 991px) {
        display: none;
      }
    }
    .ss-content {
      .big-post {
        &:first-child {
          margin-bottom: 25px;
        }
      }
    }
    .section-content__recomended {
      .section-content__title {
        margin-left: 20px;
      }
      @media (max-width: 1260px) {
        display: none;
      }
    }
    &__recomended-mobile {
      display: none;
      position: relative;
      @media (max-width: 1260px) {
        display: block;
      }
      .swiper-button-prev {
        @media (max-width: 575px) {
          left: 5px;
        }
      }
      .swiper-button-next {
        @media (max-width: 575px) {
          right: 5px;
        }
      }
      .swiper-button-prev,
      .swiper-button-next {
        display: flex !important;
        align-items: center;
        justify-content: center;
        top: 45%;
        width: 32px;
        height: 32px;
        box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
        background-color: #fff;
        border-radius: 50%;
      }
      .swiper-slide {
        padding-bottom: 10px;
      }
      .blog-post__card {
        max-width: 100% !important;
      }
    }
    &__aside-mobile {
      padding-bottom: 65px;
      padding-top: 35px;
      margin: auto;
      display: none;
      @media (max-width: 991px) {
        display: block;
      }
      .big-post__top {
        max-width: 100% !important;
      }
      .big-post,
      .blog__tags {
        margin-bottom: 25px;
      }
    }
    &__card {
      width: 100%;
      max-width: 264px;
      padding: 8px 12px 17px 12px;
      box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
      border-radius: 8px;
      background-color: #fff;
      margin-right: 6px;
      &:last-child {
        margin-right: 0;
      }
      &-bottom {
        margin-top: 15px;
      }
      .card-timeline__link {
        margin-right: 15px;
      }
      strong {
        color: #0b0212;
        font-weight: 500;
        font-size: 18px;
      }
      .big-post__top {
        height: 200px !important;
        margin-top: 12px;
        margin-bottom: 12px;
        .big-post__img {
          max-width: 104px !important;
          width: 100%;
          height: 100%;
          padding-bottom: 15px;
          padding-top: 15px;
          margin-top: 0;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    &__bg {
      width: 100%;
      max-width: 746px;
      height: 360px;
      margin-bottom: 15px;
      margin-top: 23px;
      @media (max-width: 575px) {
        height: 180px;
      }
    }
    &__text {
      margin-top: 30px;
      max-width: 640px;
      &-box {
        margin-bottom: 45px;
        &:first-child {
          margin-bottom: 56px;
          p {
            margin-bottom: 0;
          }
        }
      }
      &-reason {
        margin-left: 30px;
        ul {
          li {
            &:first-child {
              margin-top: 25px !important;
            }
          }
        }
        b {
          display: block;
          margin-bottom: 16px;
        }
      }
      b {
        color: #0b0212;
        font-weight: 500;
        font-size: 16px;
        margin-top: 25px;
      }
      p {
        color: #0b0212;
        font-size: 16px;
        font-weight: 400;
      }
      li {
        color: #0b0212;
        font-size: 16px;
        font-weight: 400;
        margin-top: 20px;
        position: relative;
        padding-left: 25px;
        &::before {
          content: "";
          width: 12px;
          height: 12px;
          background-color: #fb7d00;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 4px;
        }
      }
      h5 {
        color: #0b0212;
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 16px;
      }
      a {
        color: #35558f;
      }
    }
    .reaction__top {
      justify-content: flex-start;
      .reaction__text {
        margin-left: 65px;
      }
    }
  }
  &__tags {
    padding: 12px;
    box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 24px;
  }
  .big-post {
    padding: 12px 12px 17px 12px;
    box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    background-color: #fff;
    .btn-blue {
      max-width: 100%;
    }
    &__bottom {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      &-links {
        margin-top: 15px;
        .btn-border {
          height: 40px !important;
          border: 2px solid #35558f !important;
          max-width: 160px !important;
          margin-left: 0 !important;
          font-weight: 500 !important;
          font-size: 16px;
          margin-right: 18px;
          img {
            margin-left: 15px;
            @media (max-width: 1259px) and (min-width: 992px) {
              margin-left: 5px;
            }
          }
        }
        a {
          &:last-child {
            white-space: nowrap;
            color: #828282;
            font-size: 16px;
            font-weight: 400;
            img {
              margin-right: 10px;
            }
          }
        }
      }
    }
    p {
      font-size: 14px;
    }
    &__title {
      margin-left: 12px;
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;

      h5 {
        margin-bottom: 5px;
      }
      strong {
        color: #0b0212;
        font-size: 18px;
        font-weight: 400;
      }
    }
    &__tag {
      position: relative;
      max-width: 161px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      border-radius: 8px;
      background-color: #ffff;
      top: -22px;
      li {
        margin-right: 0;
      }
    }
    &__img {
      margin-top: 15px;
    }
    &__top {
      width: 100%;
      max-width: 312px;
      height: 296px;
      background-color: #f8f9fb;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;
      a {
        max-width: 120px;
        height: 24px;
        font-size: 14px;
        margin-right: 3px;
      }
    }
  }
  &__list {
    position: relative;
    box-shadow: 1px 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    background-color: #fff;
    padding: 24px 12px 40px 12px;
    margin-bottom: 24px;
    @media (max-width: 575px) {
      box-shadow: 1px 2px 4px 1px rgba(11, 2, 18, 0.08);
    }
    .text-orange {
      padding-left: 5px;
    }
    span {
      font-size: 16px;
    }
    h4 {
      color: #0b0212;
      font-weight: 500;
      font-size: 32px;
      margin-bottom: 6px;
      @media (max-width: 991px) {
        font-size: 28px;
      }
      @media (max-width: 575px) {
        font-size: 22px;
      }
    }
    small {
      width: 8px;
      height: 8px;
      background-color: #828282;
      border-radius: 50%;
      margin-right: 12px;
      margin-left: 9px;
    }
  }
}
