.blog {
  .section-blur {
    @media (max-width: 991px) {
      padding-top: 55px;
    }
  }
  .blog-post__reaction {
    position: relative;
    &:hover {
      .reaction__pop {
        opacity: 1 !important;
        pointer-events: auto !important;
      }
    }
  }
  &__follow {
    padding-top: 270px;
    padding-bottom: 90px;
    position: relative;
    display: flex;
    &-before {
      position: absolute;
      left: 20px;
      top: 170px;
      @media (max-width: 991px) {
        display: none;
      }
    }
    &-after {
      position: absolute;
      right: -40px;
      bottom: 55px;
      @media (max-width: 991px) {
        top: 60px;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
      }
    }
    &-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media (max-width: 991px) {
        margin-top: 95px;
      }
      a {
        max-width: 264px;
        height: 56px;
        font-size: 20px;
      }
    }
    h3 {
      max-width: 495px;
      text-align: center;
      color: #0b0212;
      margin-bottom: 50px;
      font-size: 32px;
      font-weight: 400;
      @media (max-width: 991px) {
        font-size: 28px;
      }
      @media (max-width: 575px) {
        font-size: 24px;
        max-width: 330px;
        line-height: 32px;
      }
    }
  }
  &-main {
    .section-content {
      @media (max-width: 575px) {
        padding: 0 20px 0 20px;
      }
    }
    &__none {
      @media (max-width: 991px) {
        display: none;
      }
    }
    &__mobile-section {
      display: none;
      position: relative;
      .blog-post__card {
        max-width: 264px !important;
      }
      .swiper-slide {
        padding-bottom: 10px;
      }
      .swiper-button-prev,
      .swiper-button-next {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 45%;
        width: 32px;
        height: 32px;
        box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
        background-color: #fff;
        border-radius: 50%;
      }
      @media (max-width: 991px) {
        display: block;
      }
    }
    .section-toggle {
      margin-bottom: 15px;
      .blog-main__search {
        max-width: 100%;
        @media (max-width: 575px) {
          .btn-blue {
            max-width: 80px;
          }
        }
        svg {
          margin-right: 0;
        }
      }
      .blog-main__table {
        max-width: 100%;
        svg {
          margin-top: 20px;
          transform: rotate(180deg);
        }
      }
    }
    .search-mob-none {
      @media (max-width: 991px) {
        display: none !important;
      }
    }
    .section-mobile {
      display: none;
      padding: 0 10px 0 10px;

      .big-post__top {
        max-width: 100% !important;
      }
      @media (max-width: 991px) {
        display: block;
      }
    }
    .aside-right {
      @media (max-width: 991px) {
        display: none;
      }
    }
    &__position {
      @media (max-width: 991px) {
        flex-direction: column;
      }
    }
    &__container {
      position: relative;
      .swiper-button-prev,
      .swiper-button-next {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 85px;
        width: 32px;
        height: 32px;
        box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
        background-color: #fff;
        border-radius: 50%;
      }
    }
    &__slider {
      margin-bottom: 100px;
      .swiper-container {
        max-width: 1166px;
      }
    }
    &__slide {
      max-width: 360px;
      @media (max-width: 575px) {
        max-width: 100%;
      }
      p {
        line-height: 24px;
        font-size: 16px;
        font-weight: 400;
      }
      strong {
        margin-bottom: 12px;
        color: #0b0212;
        font-size: 18px;
      }
      .profile-list__avatar {
        border: 2px solid #fff;
        top: 5px;
        left: 5px;
      }
      .blog-main__post {
        width: 100%;
        height: 200px;
        margin-bottom: 15px;
      }
    }
    .blog-post__card {
      margin-right: 30px;
      max-width: 100%;
      &:last-child {
        margin-right: 0;
      }
    }
    .blog-section {
      margin-bottom: 105px;
      .blog__products {
        margin-top: 0 !important;
      }
    }
    .main-item {
      width: 100% !important;
    }
    .aside-right {
      position: relative;
      top: 0 !important;
      margin-left: 80px;
    }
    .recomend {
      &::before {
        content: url("images/blog/dashed.svg");
      }
      &::after {
        content: url("images/blog/dashed.svg");
      }
    }
    &__recomended {
      box-shadow: none !important;
      background: none;
      width: 100%;
      max-width: 508px;
      margin-right: 25px;

      .big-post__img {
        max-width: 200px;
        width: 100%;
        margin-bottom: 40px;
        margin-top: 40px;
        @media (max-width: 575px) {
          max-width: 150px;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .big-post__top {
        max-width: 508px;
        height: 100%;
      }
    }
    .blog__products {
      margin-top: 30px !important;
      .big-post__top {
        height: 100% !important;
        position: relative;
        .profile-list__avatar {
          position: absolute;
          left: 5px;
          top: 5px;
        }
      }
    }
    &__search {
      display: flex;
      width: 100% !important;
      max-width: 700px;
      height: 40px;
      border-radius: 5px;
      input {
        opacity: 0.75;
        color: #0b0212;
      }

      button {
        max-width: 160px;
        border-radius: 5px;
        svg {
          margin-right: 15px;
        }
      }
    }
    &__gifts {
      padding-top: 55px;
      padding-bottom: 105px;
      background-color: #fff9f4;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &::before {
        content: "";
        background-image: url("images/blog/gifts.png");
        background-position-y: bottom;
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: 80%;
        position: absolute;
        width: calc(100% - 10px);
        height: 170px;
        bottom: 0;
        @media (max-width: 991px) {
          height: 110px;
          background-size: cover;
          background-position-x: right;
        }
      }
    }
    &__string {
      border-bottom: 1px solid #d9dfea;
      padding-bottom: 7px;
      padding-top: 13px;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        cursor: pointer;
        p {
          font-weight: 500;
        }
      }
      p {
        transition: 0.4s;
        color: #0b0212;
        line-height: 16px;
        font-size: 16px;
        margin-bottom: 0;
      }
    }
    h2 {
      color: #f97d00;
      font-weight: 400;
      font-size: 48px;
      @media (max-width: 991px) {
        font-size: 42px;
      }
      @media (max-width: 767px) {
        font-size: 38px;
      }
      @media (max-width: 575px) {
        font-size: 32px;
      }
      b {
        font-weight: 500;
      }
    }
    &__table {
      max-width: 336px;
      box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
      border-radius: 8px;
      background-color: #fff;
      padding: 16px 28px 30px 24px;
    }
  }
  .blog-header {
    color: #f77d0e;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    margin-left: 8px;
    margin-top: 8px;
  }
}
