.coupons {
  .mobile-input {
    display: none;
    @media (max-width: 991px) {
      display: block;
    }
  }
  .header__search {
    width: 100%;
  }
  .modal-menu-mobile {
    .other-links__list {
      li {
        &:nth-child(2) {
          i {
            background-image: url("images/icons/social-media-orange.svg");
          }
          span {
            color: #f77d0e !important;
          }
        }
      }
    }
  }
  @media (max-width: 575px) {
    padding-top: 20px;
  }
  .search {
    @media (max-width: 575px) {
      margin-right: 16px;
      margin-left: 16px;
    }
  }
  &-content {
    .container {
      @media (max-width: 575px) {
        padding: 0 !important;
      }
    }
  }

  .main-content {
    @media (max-width: 991px) {
      padding-top: 0 !important;
    }
  }

  .active-page {
    i {
      background-image: url("images/icons/social-media-orange.svg");
    }
    span {
      color: #f77d0e !important;
      &::after {
        border-bottom: 1px solid #f77d0e !important;
      }
    }
  }
  .aside-left {
    top: 110px !important;
  }
  .aside-right {
    top: 107px !important;
    .section-content {
      margin-bottom: 16px !important;
    }
    .btn-border-orange {
      border: 2px solid #f97d00 !important;
    }
  }
  .store-link {
    position: relative;
    &:after {
      content: "";
      left: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: #335491;
      opacity: 0.1;
    }
  }
  .internal-card__profile {
    @media (max-width: 991px) {
      align-items: flex-start !important;
    }
  }

  .main-coupon {
    width: 49.124%;
    .section-content {
      margin-bottom: 16px;
    }
    @media (max-width: 991px) {
      width: 100%;
    }
  }
  .store-link {
    background: none;
  }
  .search {
    width: 100% !important;
    max-width: 560px;
    margin-bottom: 16px;
    margin-top: 16px;
    background-color: #e8ebf2;
    @media (max-width: 991px) {
      max-width: 100%;
    }
    input {
      opacity: 0.75;
      color: #0b0212;
    }
  }
  .internal-card__head-info {
    width: 100%;
    max-width: 150px;
    padding-right: 0;
  }
  .offers {
    color: #335491;
    font-size: 16px;
    font-weight: 400;
    svg {
      transform: rotate(270deg);
      margin-left: 5px;
    }
  }
  .link-none {
    display: flex;
    @media (max-width: 991px) {
      display: none !important;
    }
  }
  .link-mob {
    display: none;
    @media (max-width: 991px) {
      display: flex;
    }
  }
  .link-gray {
    color: #828282;
    font-size: 16px;
    font-weight: 400;
    img {
      margin-right: 10px;
    }
  }
  .section-coupon {
    span,
    p {
      color: #0b0212 !important;
    }
  }
  .main__card {
    .btn-green {
      @media (max-width: 991px) {
        max-width: 100%;
      }
    }
    .internal-card__body {
      figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        p {
          color: #fff;
          font-weight: 500;
          font-size: 14px;
          margin-bottom: 0;
        }

        span {
          color: #fff;
          font-weight: 500;
          font-size: 18px;
          font-style: normal;
          letter-spacing: 0.8px;
        }
      }
    }
  }
}
