//Glob Utils
@import "../../variables";
@import "../../bootstrap-utils";

@import "blog-post";
@import "blog-main";
@import "blog-user";
@import "blog-coupon";

.coupons {
  .reaction-top {
    @media (max-width: 991px) {
      border-bottom: 1px solid #e8ebf2 !important;
    }
  }
}
.blog {
  .mini-post__right {
    .text-gray {
      font-size: 14px !important;
    }
  }
  .smile {
    span {
      color: #0b0212 !important;
      font-size: 16px !important;
    }
  }
  .section-mobile {
    .big-post__top {
      position: relative;
      @media (max-width: 991px) {
        height: 296px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .big-post__img {
        margin-bottom: 16px;
        @media (max-width: 991px) {
          max-width: 120px !important;
          max-height: 210px !important;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .footer {
    li {
      a {
        white-space: nowrap;
      }
    }
    .container {
      @media (max-width: 575px) {
        padding: 0 15px !important;
      }
    }
  }
  .aside-right {
    .mini-post__info {
      .reaction__pop {
        &:before {
          @media (max-width: 1260px) {
            left: 50px !important;
          }
        }
        @media (max-width: 1260px) {
          left: -50px !important;
        }
      }
    }
  }
  .toggle-btn-reverte {
    transform: rotate(180deg);
  }
  .swiper-button-next {
    @media (max-width: 575px) {
      right: 5px;
    }
  }
  .swiper-button-prev {
    @media (max-width: 575px) {
      left: 5px;
    }
  }
  .header {
    &__left {
      @media (max-width: 767px) {
        position: absolute;
      }
    }
    &__right {
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
  .mini-post__right {
    @media (max-width: 575px) {
      margin-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  .mini-post__title {
    @media (max-width: 991px) {
      padding-right: 0;
    }
  }
  .header__img-desktop {
    @media (max-width: 991px) {
      display: none;
    }
  }
  .header__img-mobile {
    @media (max-width: 991px) {
      display: block;
    }
  }
  .header__search {
    @media (max-width: 991px) {
      display: none;
    }
  }
  .blog-header {
    @media (max-width: 991px) {
      display: none;
    }
  }
  .main-content {
    @media (max-width: 991px) {
      padding-top: 15px !important;
    }
  }

  .btn-border {
    &:hover {
      .heart-blue {
        display: none !important;
      }
      .heart-white {
        display: flex !important;
      }
    }
  }
  .big-post__bottom-links {
    a {
      &:hover {
        .heart-blue {
          display: none !important;
        }
        .heart-white {
          display: flex !important;
        }
      }
    }
  }
  .heart-blue {
    display: flex;
    transition: 0.4s;
  }
  .heart-white {
    display: none !important;
    transition: 0.4s;
    width: 24px;
    height: 22px;
  }
  .search {
    width: 280px;
    input {
      opacity: 0.75;
      color: #0b0212;
    }
  }
  .reaction__top {
    border-bottom: none;
  }
  &__mini-post {
    margin-top: 45px;
    .section-content__title {
      margin-left: 0 !important;
    }
    .mini-post__right {
      padding-right: 45px !important;
      @media (max-width: 575px) {
        padding-right: 0 !important;
      }
    }
  }
  .blog-content {
    .container {
      @media (max-width: 575px) {
        padding: 0;
      }
    }
  }
  &-before {
    position: relative;
    .header {
      .btn-border {
        white-space: no-wrap;
      }
      &__left {
        @media (max-width: 767px) {
          position: absolute;
        }
      }
      &__right {
        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 240px;
      background-color: #fff9f4;
    }
  }
  .orders__img-block {
    max-width: 103px;
    height: 80px;
    background-color: #f8f9fb;
  }
  .mini-post {
    box-shadow: none;
    background: none;
    margin-top: 20px;
    @media (max-width: 575px) {
      height: 100%;
    }
    .mini-post__right {
      @media (max-width: 575px) {
        margin: 0;
      }
    }
    &__info {
      width: 100%;
    }
    &__reaction {
      justify-content: flex-start;
    }
    &__link {
      display: flex;
      margin-top: 10px;
    }
    &__right {
      margin-right: 0;
      width: 100%;
      flex-direction: row;
      align-items: center;
    }
    &__title {
      a {
        color: #0b0212;
        font-size: 16px;
      }
    }
  }
}
