.cart {
  width: 100%;
  // .cart__list

  &__list {
    width: 100%;
  }

  // .cart__item

  &__item {
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.item-cart {
  width: 100%;
  padding: 13px 8px;
  padding-right: 17px;
  border-radius: 8px;

  background-color: theme-color("white");
  box-shadow: $shadow-theme-card;

  // .item-cart__header
  // &__header {
  // }

  // .item-cart__img
  &__img {
    width: 88px;
    height: 88px;
    img {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  // .item-cart__description

  &__description {
    width: calc(100% - 88px);
    padding-left: 16px;

    h2 {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 10px;

      color: theme-color("dark-blue");
    }
  }

  // .item-cart__price

  &__price {
    margin-bottom: 16px;

    span {
      &:first-of-type {
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
        margin-right: 12px;

        color: theme-color("orange");
        font-weight: $font-weight-medium;
      }
      &:last-of-type {
        font-size: 14px;
        line-height: 14px;

        color: theme-color("dark-blue");
        font-weight: $font-weight-light;
      }
    }
  }

  // .item-cart__quantity-wrap

  &__quantity-wrap {
    margin-bottom: 0;
    span {
      color: #0b0212;
      font-size: 14px;
      letter-spacing: 0;
    }
  }

  // .item-cart__quantity

  &__quantity {
    margin-right: 8px;
    height: 24px;
    min-width: 72px;
    padding-left: 24px;
    padding-right: 24px;

    background-color: theme-color("light-gray2");
  }

  // .item-cart__minus
  &__minus,
  &__plus {
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    border-radius: 3px;

    background-color: theme-color("white");
    box-shadow: $shadow-card;

    .icon-plus,
    .icon-minus {
      &:after,
      &:before {
        width: 8px;
      }
    }
  }

  &__minus {
    left: 0;
  }

  // .item-cart__int

  &__int {
    padding: 0 5px;
    width: 100%;
    text-align: center;
    line-height: 24px;
  }

  // .item-cart__plus

  &__plus {
    right: 0;
  }

  // .item-cart__footer

  // &__footer {

  // }

  // .item-cart__optional

  &__optional {
    padding-top: 16px;
    padding-left: 4px;

    > span {
      display: inline-block;
      width: 100%;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      letter-spacing: 0.9px;
      margin-bottom: 16px;

      color: theme-color("gray");
    }

    ul {
      width: 100%;
      max-width: 215px;
      li {
        display: flex;
        align-items: center;
        color: #0b0212;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 14px;
        margin-bottom: 15px;
        &:last-of-type {
          margin-bottom: 0;
        }

        b {
          font-weight: 500;
          margin-left: 5px;
        }
      }
    }
  }

  // .item-cart__user

  &__user {
    padding-top: 24px;

    p {
      margin-bottom: 0;
      span {
        color: #0b0212;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 19px;
      }
    }

    figure {
      margin-bottom: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 12px;

      span {
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;

        color: theme-color("light-blue");
      }

      span {
        display: none;
      }

      img {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
      }
    }

    &--no-img {
      figure {
        background-color: theme-color("light-gray");
      }
      img {
        display: none;
      }
      span {
        display: block;
      }
    }
  }

  // .item-cart__btn

  &__btn {
    position: absolute;
    padding: 10px;
    margin: 0;
    top: 12px;
    right: -16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    background-color: theme-color("white");
    box-shadow: $shadow-card;
    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 55%;
      height: 2px;
      border-radius: 8px;
      background-color: theme-color("blue4");
      overflow: hidden;
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}
