.form-add-comment {
  width: 100%;
  max-width: 315px;

  @media (max-width: 550px) {
    max-width: calc(100% - 30px);
  }

  // .form-add-comment__wrap

  &__wrap {
    width: 100%;
    padding: 4px 8px;
    border-radius: 5px;

    border: 1px solid rgba(theme-color("blue2"), 0.5);
    background-color: theme-color("light-gray2");
  }

  // .form-add-comment__body

  &__body {
    width: 100%;
    height: 125px;
  }

  // .form-add-comment__content

  &__content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    outline: none;
    .product-tag {
      display: flex;
      align-items: center;
      border-radius: 5px;
      background-color: #9aaac8;
      max-width: fit-content;
      margin-bottom: 5px;
      .remove {
        margin: 0 10px;
        cursor: pointer;
      }
      strong {
        padding-left: 10px;
        min-height: 24px;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        text-align: left;
        margin-bottom: 0;
        line-height: 25px;
      }
    }
    &[placeholder]:empty:before {
      content: attr(placeholder);
      color: #46404c;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;
    }

    &[placeholder]:empty:focus:before {
      content: "";
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  [contenteditable="true"]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    display: block;
    font-size: 16px;
    line-height: 24px;
    text-align: left;

    color: theme-color("dark-blue");
  }

  // .form-add-comment__footer

  &__footer {
    padding-right: 8px;
    padding-top: 4px;
    border-top: 1px solid rgba(theme-color("light-blue"), 0.5);
  }

  // .form-add-comment__user

  &__user {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    max-width: 75px;
    overflow: hidden;
  }

  .form__single--select {
    min-width: 150px;
    opacity: 0;
    margin-bottom: 0 !important;
  }

  // .form-add-comment__img

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
    position: absolute !important;
    z-index: 99999;
    pointer-events: none !important;

    img {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    span {
      display: none;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;

      color: theme-color("white");
    }
  }

  // .form-add-comment__img--no-img

  &__img--no-img {
    background-color: theme-color("blue4");
    img {
      display: none;
    }
    span {
      display: block;
    }
  }

  // .form-add-comment__btn-arrow

  &__btn-arrow {
    display: inline-block;
    text-align: center;
    width: 25px;
    height: 20px;
    left: 55px;
    position: absolute;
    pointer-events: none;
  }

  // .form-add-comment__list

  // &__list {
  // }

  // .form-add-comment__item

  &__item {
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
  }

  // .form-add-comment__btn

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }
}
