.store-info {
  &__address {
    box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    background-color: #fff;
    padding: 24px 12px 12px 24px;
    margin-bottom: 16px;
    @media (max-width: 575px) {
      padding: 24px 16px 12px 16px;
    }
    strong {
      margin-bottom: 30px;
      color: #335491;
      font-weight: 500;
      font-size: 12px;
      font-style: normal;
      letter-spacing: 0.86px;
      display: inline-block;
      text-transform: uppercase;
      margin-left: 8px;
      @media (max-width: 575px) {
        margin-left: 0;
      }
    }
    .members__radio {
      margin-bottom: 30px;
    }
    .members__form {
      max-width: 312px;
      margin-bottom: 16px;
      .form__label {
        padding-left: 8px;
      }
    }
    .btn-blue {
      margin-left: auto;
      margin-top: 24px;
      @media (max-width: 575px) {
        max-width: 100%;
      }
    }
  }
  &__address--result {
    box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    background-color: #fff;
    padding: 24px;
    display: flex;
    margin-bottom: 16px;
    @media (max-width: 475px) {
      justify-content: space-between;
    }
    strong {
      color: #335491;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.86px;
      text-transform: uppercase;
      margin-bottom: 14px;
    }
    b {
      color: #0b0212;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      display: inline-block;
      margin-left: 3px;
    }
  }
  &__social {
    margin-right: 110px;
    @media (max-width: 475px) {
      margin-right: 0;
    }
    li {
      color: #0b0212;
      font-size: 16px;
      font-weight: 300;
      line-height: 16px;
      margin-bottom: 15px;
      @media (max-width: 475px) {
        font-size: 14px;
      }
    }
  }
  &__get {
    li {
      color: #0b0212;
      font-size: 16px;
      font-weight: 300;
      line-height: 16px;
      margin-bottom: 15px;
      a {
        color: #0b0212;
        font-size: 16px;
        font-weight: 300;
        line-height: 16px;
        margin-bottom: 15px;
      }
      img {
        margin-right: 12px;
      }
    }
  }
  &__time {
    box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    background-color: #fff;
    padding: 24px 12px 12px 24px;
    margin-bottom: 16px;
    @media (max-width: 575px) {
      padding: 24px 16px 12px 16px;
    }
    .btn-blue {
      margin-left: auto;
      margin-top: 24px;
      @media (max-width: 575px) {
        max-width: 100%;
      }
    }
    strong {
      color: #335491;
      font-weight: 500;
      font-size: 12px;
      font-style: normal;
      letter-spacing: 0.86px;
      display: inline-block;
      text-transform: uppercase;
      margin-bottom: 38px;
    }
    &--single {
      display: flex;
      align-items: center;
      max-width: 353px;
      width: 100%;
      margin-bottom: 16px;
      @media (max-width: 575px) {
        flex-wrap: wrap;
      }
      > span {
        display: inline-block;
        color: #0b0212;
        font-size: 16px;
        font-weight: 300;
        line-height: 16px;
        &.line {
          margin-left: 8px;
          margin-right: 8px;
        }
        &:first-of-type {
          min-width: 82px;
          margin-right: 9px;
          margin-left: 0;
          @media (max-width: 575px) {
            display: block;
            margin-bottom: 7px;
            min-width: 100%;
            margin-left: 16px;
          }
        }
      }
    }
    .select2-container {
      max-width: 120px;
      .selection {
        width: 100%;
      }
    }
  }
  &__time--result {
    box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    background-color: #fff;
    padding: 24px;
    margin-bottom: 16px;
    strong {
      color: #335491;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.86px;
      text-transform: uppercase;
      display: inline-block;
      margin-bottom: 14px;
    }
    ul {
      max-width: 200px;
      width: 100%;
      li {
        width: 100%;
        margin-bottom: 11px;
        display: flex;
        align-items: center;
        color: #0b0212;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        > span {
          min-width: 82px;
          color: #0b0212;
          font-size: 16px;
          font-weight: 300;
          line-height: 16px;
          display: inline-block;
          margin-right: 13px;
        }
        div {
          > span {
            display: inline-block;
            margin: 0 3px;
          }
        }
      }
    }
  }
  &__drop {
    box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    background-color: #fff;
    padding: 24px 20px;
    strong {
      color: #335491;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.86px;
      text-transform: uppercase;
      padding-left: 4px;
    }
    .comments-box {
      &__form {
        margin-top: 14px;
        padding: 0 !important;
        border-radius: 5px;
        border: 1px solid rgba(53, 85, 143, 0.5);
        background-color: #f8f9fb;
      }
    }
  }
}
.form-radio {
  display: flex;
  align-items: center;
  input {
    display: none;
  }
  label {
    position: relative;
    color: #0b0212;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      border: 2px solid #f77d0e;
      border-radius: 50%;
      margin-right: 8px;
    }
  }
  input:checked ~ label {
    &:before {
      background-color: #f77d0e;
    }
    &:after {
      position: absolute;
      content: "";
      display: block;
      left: 6px;
      width: 6px;
      height: 6px;
      background-color: #fff;
      border-radius: 50%;
    }
  }
}
