<div class="card-detail">
  <div class="container">
    <h3>Our client’s testimonials</h3>
    <div class="card-detail__info">
      <div class="swiper-container d-flex">
        <div class="swiper-wrapper">
          <div class="card-detail__card swiper-slide">
            <div class="card-detail__preview" data-toggle="modal" data-target="#videoOne" >
              <div class="bg-cover" style="background-image: url('images/slider/men.png')">
              </div>
            </div>
            <div class="card-detail__text">
              <div class="card-detail__say">
              </div>
              <div class="card-detail__col">
                <p>
                  Fort de notre expérience dans le végétal, nous avons décidé de répondre à la demande de nombreux
                  coiffeurs qui veulent apprendre la technique de la coloration végétale. A plusieurs dates dans
                  l'année, nous formons les professionnels de la coiffure.
                </p>
                <div class="card-detail__bottom">
                  <h5>John Smith</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="card-detail__card swiper-slide">
            <div class="card-detail__preview" data-toggle="modal" data-target="#videoTwo" >
              <div class="bg-cover" style="background-image: url('images/slider/men.png')">
              </div>
            </div>
            <div class="card-detail__text">
              <div class="card-detail__say">
              </div>
              <div class="card-detail__col">
                <p>
                  Fort de notre expérience dans le végétal, nous avons décidé de répondre à la demande de nombreux
                  coiffeurs qui veulent apprendre la technique de la coloration végétale. A plusieurs dates dans
                  l'année, nous formons les professionnels de la coiffure.
                </p>
                <div class="card-detail__bottom">
                  <h5>John Smith</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="card-detail__card swiper-slide">
            <div class="card-detail__preview" data-toggle="modal" data-target="#videoThree" >
              <div class="bg-cover" style="background-image: url('images/slider/men.png')">
              </div>
            </div>
            <div class="card-detail__text">
              <div class="card-detail__say">
              </div>
              <div class="card-detail__col">
                <p>
                  Fort de notre expérience dans le végétal, nous avons décidé de répondre à la demande de nombreux
                  coiffeurs qui veulent apprendre la technique de la coloration végétale. A plusieurs dates dans
                  l'année, nous formons les professionnels de la coiffure.
                </p>
                <div class="card-detail__bottom">
                  <h5>John Smith</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="card-detail__card swiper-slide">
            <div class="card-detail__preview" data-toggle="modal" data-target="#videoFour" >
              <div class="bg-cover" style="background-image: url('images/slider/men.png')">
              </div>
            </div>
            <div class="card-detail__text">
              <div class="card-detail__say">
              </div>
              <div class="card-detail__col">
                <p>
                  Fort de notre expérience dans le végétal, nous avons décidé de répondre à la demande de nombreux
                  coiffeurs qui veulent apprendre la technique de la coloration végétale. A plusieurs dates dans
                  l'année, nous formons les professionnels de la coiffure.
                </p>
                <div class="card-detail__bottom">
                  <h5>John Smith</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="card-detail__right">
        <div class="card-detail__right-top">
          <div data-id="0" class="card-detail__small-img first-img"><img src="images/slider/men-small.png" alt=""></div>
          <div data-id="1" class="card-detail__small-img"><img src="images/slider/men-small.png" alt=""></div>
        </div>
        <div class="card-detail__right-bottom">
          <div data-id="2" class="card-detail__small-img "><img src="images/slider/men-small.png" alt=""></div>
          <div data-id="3" class="card-detail__small-img"><img src="images/slider/men-small.png" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</div>
