<div class="page-hero__bg">
  <div class="page-hero bg-cover-fixed position-relative">
    <div class="container h-100">
      <div class="d-flex flex-column h-100">
        <div class="page-hero__info">
          <h1><span>Split</span> the bill at <span>check</span>out and share meaningful gifts</h1>
          <h3>Have you ever… </h3>
          <p>been driven crazy trying to decide <a href="#">what gift</a> to buy for a friend or loved one? </p>
          <p>bought someone a <a href="#">meaningful gift</a>, only to see a look of disappointment on their face when
            they open it?</p>
          <p>wished for a more significant and meaningful gift but were too embarrassed to ask your friends and family
            to
            <a href="#">share the cost?</a></p>
        </div>
      </div>
    </div>
    <div class="swiper-container home-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="page-hero__right before-1"
            style="background-image: url('images/hero-slider/love.jpg'); background-position: center">
            <svg xmlns="http://www.w3.org/2000/svg" width="197" height="82" viewBox="0 0 197 82">
              <g>
                <g>
                  <g>
                    <path fill="#fff"
                      d="M189.78 36.093c-1.97-10.239-2.27-20.756-3.092-31.163-15.461 2.126-31.147 1.942-46.694 1.722-10.734-.152-21.47-.446-32.205-.319-11.24.132-22.466.868-33.699 1.313-12.044.476-24.09.85-36.14 1.047-11.28.185-22.746.813-34.02-.108.574 5.494.39 11.184.642 16.689.272 5.923.53 11.846.81 17.768.554 11.705 1.086 23.413 1.118 35.135 6.275-.539 12.57-.557 18.863-.748 6.793-.209 13.586-.455 20.377-.724 48.58-1.937 97.092-6.017 145.723-6.05.268 0 .507.05.72.134-.011-6.216-.079-12.442-.792-18.615-.106-.91 1.134-2.222 1.134-2.222s-1.062-8.398-1.062-12.422c-.749-.102-1.506-.52-1.683-1.437z" />
                  </g>
                  <g>
                    <path
                      d="M196.082 53.454s.579 12.976.572 19.47c-.002 2.487-2.641 3.06-3.863 1.72-.32.337-.764.552-1.331.552-13.816.003-27.63.318-41.44.825-24.32.891-48.624 2.273-72.935 3.428-12.146.577-24.293 1.105-36.445 1.473-11.686.352-23.6 1.052-35.267-.072-1.305.72-3.276.018-3.278-2.116-.009-12.178-.57-24.34-1.135-36.5C.684 36.31.399 30.389.263 24.46.129 18.668-.341 12.584.438 6.838c.211-1.56 2.253-1.784 3.013-.692 8.827-.756 17.747-.535 26.591-.728 9.124-.199 18.248-.459 27.37-.784 22.55-.807 45.04-2.31 67.609-2.26 20.674.042 41.63.832 62.167-2.34 2.505-.387 3.36 2.65 1.965 4.073 1.659 9.799 3.723 29.588 3.723 29.588zm-6.305-17.368c-1.97-10.238-2.27-20.753-3.092-31.159-15.461 2.126-31.147 1.942-46.694 1.722-10.734-.152-21.47-.446-32.205-.319-11.24.132-22.466.868-33.7 1.313-12.043.476-24.09.85-36.138 1.047-11.281.185-22.747.813-34.021-.108.574 5.493.39 11.182.642 16.686.272 5.923.53 11.845.81 17.766.554 11.703 1.086 23.41 1.118 35.13 6.275-.539 12.57-.556 18.863-.747 6.793-.21 13.586-.456 20.377-.724 48.58-1.937 97.092-6.017 145.723-6.05.268 0 .507.05.72.134-.011-6.215-.079-12.44-.792-18.612-.106-.91-1.434-15.161-1.61-16.079z" />
                  </g>
                  <g>
                    <g>
                      <text dominant-baseline="text-before-edge" id="text-f-1" style="font-kerning:normal" fill="#0b0212"
                            font-family="Noteworthy-Bold" font-size="32" transform="translate(20 17)">
                        <tspan style="font-family: 'Noteworthy - Bold'; font-kerning:normal">#FirstLove</tspan>
                      </text>
                      <text dominant-baseline="text-before-edge" id="text-1" style="font-kerning:normal" fill="#0b0212"
                        font-family="Noteworthy-Bold" font-size="32" transform="translate(20 50)">
                        <tspan style="font-family: 'Noteworthy - Bold'; font-kerning:normal">#FirstLove</tspan>
                      </text></g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="page-hero__right before-2"
            style="background-image: url('images/hero-slider/baby.jpg'); background-position: center">
            <svg xmlns="http://www.w3.org/2000/svg" width="234" height="81" viewBox="0 0 234 81">
              <g>
                <g>
                  <g>
                    <path fill="#fff"
                      d="M226.64 36.093c-2.36-10.239-2.72-20.756-3.704-31.163-18.529 2.126-37.325 1.942-55.956 1.722-12.862-.152-25.728-.446-38.592-.319-13.47.132-26.922.868-40.383 1.313-14.433.476-28.868.85-43.307 1.047-13.518.185-27.258.813-40.768-.108.687 5.494.467 11.184.77 16.689.325 5.923.635 11.846.97 17.768.663 11.705 1.302 23.413 1.34 35.135 7.519-.539 15.064-.557 22.604-.748 8.14-.209 16.28-.455 24.418-.724 58.215-1.937 116.348-6.017 174.625-6.05.321 0 .608.05.864.134-.015-6.216-.095-12.442-.95-18.615-.127-.91 1.359-2.222 1.359-2.222s-1.273-8.398-1.273-12.422c-.897-.102-1.804-.52-2.016-1.437z" />
                  </g>
                  <g>
                    <path
                      d="M233.32 53.151s.688 12.903.68 19.358c-.003 2.474-3.143 3.044-4.597 1.712-.382.334-.909.548-1.584.548-16.44.004-32.877.316-49.309.82-28.94.887-57.859 2.261-86.787 3.41-14.452.573-28.906 1.098-43.366 1.463-13.904.35-28.081 1.047-41.963-.07-1.554.716-3.9.017-3.901-2.104-.01-12.11-.678-24.203-1.351-36.294-.328-5.889-.667-11.778-.83-17.672-.158-5.76-.718-11.81.21-17.522.25-1.552 2.68-1.774 3.584-.688 10.504-.753 21.118-.533 31.641-.724a2813.95 2813.95 0 0 0 32.568-.78c26.832-.802 53.593-2.296 80.448-2.248 24.6.042 49.535.827 73.973-2.327 2.981-.384 3.998 2.637 2.339 4.051 1.973 9.743 4.429 29.42 4.429 29.42zm-7.18-17.093C223.797 25.853 223.44 15.372 222.461 5c-18.397 2.118-37.061 1.935-55.56 1.716-12.772-.152-25.547-.444-38.32-.318-13.376.132-26.733.866-40.099 1.309-14.33.474-28.665.847-43.001 1.044-13.423.184-27.067.81-40.481-.108.683 5.475.464 11.146.764 16.632.323 5.904.631 11.807.965 17.708C7.386 54.65 8.02 66.317 8.059 78c7.465-.537 14.957-.555 22.444-.745 8.083-.209 16.166-.454 24.246-.722 57.804-1.93 115.528-5.997 173.393-6.03.32 0 .604.05.858.134-.014-6.195-.094-12.4-.943-18.552-.126-.908-1.706-15.112-1.917-16.027z" />
                  </g>
                  <g>
                    <g>
                      <text dominant-baseline="text-before-edge" id="text-f-2" style="font-kerning:normal" fill="#0b0212"
                            font-family="Noteworthy-Bold" font-size="32" transform="translate(17 17)">
                        <tspan style="font-family: 'Noteworthy - Bold'; font-kerning:normal">#Baby shower</tspan>
                      </text>
                      <text dominant-baseline="text-before-edge" id="text-2" style="font-kerning:normal" fill="#0b0212"
                        font-family="Noteworthy-Bold" font-size="32" transform="translate(17 50)">
                        <tspan style="font-family: 'Noteworthy - Bold'; font-kerning:normal">#Baby shower</tspan>
                      </text></g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="page-hero__right before-3"
            style="background-image: url('images/hero-slider/pets.jpg'); background-position: center">
            <svg xmlns="http://www.w3.org/2000/svg" width="131" height="81" viewBox="0 0 131 81">
              <g>
                <g>
                  <g>
                    <path fill="#fff"
                      d="M126.18 36.093c-1.305-10.239-1.504-20.756-2.049-31.163-10.247 2.126-20.644 1.942-30.948 1.722-7.115-.152-14.23-.446-21.346-.319-7.45.132-14.89.868-22.335 1.313-7.983.476-15.967.85-23.953 1.047-7.477.185-15.077.813-22.549-.108.38 5.494.258 11.184.426 16.689.18 5.923.351 11.846.537 17.768.366 11.705.72 23.413.74 35.135 4.16-.539 8.332-.557 12.503-.748 4.502-.209 9.005-.455 13.505-.724 32.199-1.937 64.352-6.017 96.585-6.05.177 0 .336.05.478.134-.008-6.216-.053-12.442-.526-18.615-.07-.91.752-2.222.752-2.222s-.704-8.398-.704-12.422c-.496-.102-.998-.52-1.115-1.437z" />
                  </g>
                  <g>
                    <path
                      d="M130.619 53.151s.385 12.903.381 19.358c-.002 2.474-1.76 3.044-2.573 1.712-.214.334-.51.548-.887.548-9.204.004-18.406.316-27.605.82-16.2.887-32.39 2.261-48.586 3.41-8.09.573-16.182 1.098-24.277 1.463-7.784.35-15.721 1.047-23.493-.07-.87.716-2.182.017-2.183-2.104-.006-12.11-.38-24.203-.757-36.294C.455 36.105.266 30.216.175 24.322.086 18.562-.227 12.512.292 6.8c.14-1.552 1.5-1.774 2.007-.688 5.88-.753 11.822-.533 17.713-.724a883.591 883.591 0 0 0 18.232-.78c15.022-.802 30.004-2.296 45.038-2.248 13.772.042 27.731.827 41.412-2.327 1.67-.384 2.238 2.637 1.31 4.051 1.104 9.743 2.479 29.42 2.479 29.42zm-4.215-17.093c-1.308-10.205-1.507-20.686-2.053-31.058-10.266 2.118-20.681 1.935-31.005 1.716-7.127-.152-14.256-.444-21.384-.318-7.464.132-14.917.866-22.376 1.309-7.997.474-15.996.847-23.996 1.044-7.49.184-15.104.81-22.59-.108.38 5.475.259 11.146.427 16.632.18 5.904.352 11.807.538 17.708.367 11.666.72 23.334.742 35.017 4.166-.537 8.346-.555 12.524-.745 4.511-.209 9.022-.454 13.53-.722 32.258-1.93 64.47-5.997 96.76-6.03a.92.92 0 0 1 .479.134c-.008-6.195-.053-12.4-.526-18.552-.07-.908-.952-15.112-1.07-16.027z" />
                  </g>
                  <g>
                    <g>
                      <text dominant-baseline="text-before-edge" id="text-f-3" style="font-kerning:normal" fill="#0b0212"
                            font-family="Noteworthy-Bold" font-size="32" transform="translate(20 17)">
                        <tspan style=" font-family: 'Noteworthy - Bold'; font-kerning:normal">#Pets</tspan>
                      </text>
                      <text dominant-baseline="text-before-edge" id="text-3" style="font-kerning:normal" fill="#0b0212"
                        font-family="Noteworthy-Bold" font-size="32" transform="translate(20 50)">
                        <tspan style=" font-family: 'Noteworthy - Bold'; font-kerning:normal">#Pets</tspan>
                      </text></g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="page-hero__right before-4"
            style="background-image: url('images/hero-slider/parties.jpg'); background-position: center">
            <svg xmlns="http://www.w3.org/2000/svg" width="161" height="81" viewBox="0 0 161 81">
              <g>
                <g>
                  <g>
                    <path fill="#fff"
                      d="M155.744 36.058c-1.619-10.205-1.866-20.686-2.541-31.058-12.707 2.118-25.599 1.935-38.377 1.716-8.821-.152-17.645-.444-26.468-.318-9.238.132-18.464.866-27.696 1.309-9.898.474-19.799.847-29.701 1.044-9.272.184-18.696.81-27.961-.108.471 5.475.32 11.146.528 16.632.223 5.904.436 11.807.666 17.708.454 11.666.892 23.334.919 35.017 5.156-.537 10.33-.555 15.502-.745 5.583-.209 11.166-.454 16.747-.722 39.926-1.93 79.797-5.997 119.765-6.03.22 0 .417.05.592.134-.01-6.195-.065-12.4-.651-18.552-.087-.908.932-2.215.932-2.215s-.873-8.37-.873-12.38c-.616-.101-1.238-.517-1.383-1.432z" />
                  </g>
                  <g>
                    <path
                      d="M160.532 53.151s.473 12.903.468 19.358c-.002 2.474-2.163 3.044-3.163 1.712-.262.334-.625.548-1.09.548-11.31.004-22.62.316-33.926.82-19.911.887-39.809 2.261-59.712 3.41-9.944.573-19.889 1.098-29.837 1.463-9.567.35-19.322 1.047-28.873-.07-1.069.716-2.683.017-2.684-2.104-.007-12.11-.466-24.203-.93-36.294C.56 36.105.328 30.216.216 24.322.105 18.562-.279 12.512.36 6.8c.173-1.552 1.844-1.774 2.466-.688 7.227-.753 14.53-.533 21.77-.724 7.47-.198 14.94-.457 22.408-.78 18.462-.802 36.874-2.296 55.35-2.248 16.927.042 34.083.827 50.897-2.327C155.3-.35 156 2.67 154.86 4.084c1.357 9.743 3.047 29.42 3.047 29.42zm-4.51-17.093C154.4 25.853 154.151 15.372 153.474 5c-12.73 2.118-25.645 1.935-38.446 1.716-8.837-.152-17.677-.444-26.516-.318-9.255.132-18.498.866-27.746 1.309-9.917.474-19.835.847-29.756 1.044-9.288.184-18.729.81-28.011-.108.472 5.475.32 11.146.529 16.632.223 5.904.437 11.807.667 17.708.455 11.666.894 23.334.92 35.017 5.166-.537 10.35-.555 15.53-.745 5.594-.209 11.187-.454 16.778-.722 39.999-1.93 79.942-5.997 119.983-6.03.22 0 .417.05.593.134-.01-6.195-.065-12.4-.653-18.552-.087-.908-1.18-15.112-1.326-16.027z" />
                  </g>
                  <g>
                    <g>
                      <text dominant-baseline="text-before-edge" id="text-f-4" style="font-kerning:normal" fill="#0b0212"
                            font-family="Noteworthy-Bold" font-size="32" transform="translate(19 17)">
                        <tspan style="font-family: 'Noteworthy - Bold'; font-kerning:normal">#Parties</tspan>
                      </text>
                      <text dominant-baseline="text-before-edge" id="text-4" style="font-kerning:normal" fill="#0b0212"
                        font-family="Noteworthy-Bold" font-size="32" transform="translate(19 50)">
                        <tspan style="font-family: 'Noteworthy - Bold'; font-kerning:normal">#Parties</tspan>
                      </text></g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="page-hero__right before-5"
            style="background-image: url('images/hero-slider/cristmas.jpg'); background-position: center">
            <svg xmlns="http://www.w3.org/2000/svg" width="197" height="82" viewBox="0 0 197 82">
              <g>
                <g>
                  <g>
                    <path fill="#fff"
                      d="M189.78 36.093c-1.97-10.239-2.27-20.756-3.092-31.163-15.461 2.126-31.147 1.942-46.694 1.722-10.734-.152-21.47-.446-32.205-.319-11.24.132-22.466.868-33.699 1.313-12.044.476-24.09.85-36.14 1.047-11.28.185-22.746.813-34.02-.108.574 5.494.39 11.184.642 16.689.272 5.923.53 11.846.81 17.768.554 11.705 1.086 23.413 1.118 35.135 6.275-.539 12.57-.557 18.863-.748 6.793-.209 13.586-.455 20.377-.724 48.58-1.937 97.092-6.017 145.723-6.05.268 0 .507.05.72.134-.011-6.216-.079-12.442-.792-18.615-.106-.91 1.134-2.222 1.134-2.222s-1.062-8.398-1.062-12.422c-.749-.102-1.506-.52-1.683-1.437z" />
                  </g>
                  <g>
                    <path
                      d="M196.082 53.454s.579 12.976.572 19.47c-.002 2.487-2.641 3.06-3.863 1.72-.32.337-.764.552-1.331.552-13.816.003-27.63.318-41.44.825-24.32.891-48.624 2.273-72.935 3.428-12.146.577-24.293 1.105-36.445 1.473-11.686.352-23.6 1.052-35.267-.072-1.305.72-3.276.018-3.278-2.116-.009-12.178-.57-24.34-1.135-36.5C.684 36.31.399 30.389.263 24.46.129 18.668-.341 12.584.438 6.838c.211-1.56 2.253-1.784 3.013-.692 8.827-.756 17.747-.535 26.591-.728 9.124-.199 18.248-.459 27.37-.784 22.55-.807 45.04-2.31 67.609-2.26 20.674.042 41.63.832 62.167-2.34 2.505-.387 3.36 2.65 1.965 4.073 1.659 9.799 3.723 29.588 3.723 29.588zm-6.305-17.368c-1.97-10.238-2.27-20.753-3.092-31.159-15.461 2.126-31.147 1.942-46.694 1.722-10.734-.152-21.47-.446-32.205-.319-11.24.132-22.466.868-33.7 1.313-12.043.476-24.09.85-36.138 1.047-11.281.185-22.747.813-34.021-.108.574 5.493.39 11.182.642 16.686.272 5.923.53 11.845.81 17.766.554 11.703 1.086 23.41 1.118 35.13 6.275-.539 12.57-.556 18.863-.747 6.793-.21 13.586-.456 20.377-.724 48.58-1.937 97.092-6.017 145.723-6.05.268 0 .507.05.72.134-.011-6.215-.079-12.44-.792-18.612-.106-.91-1.434-15.161-1.61-16.079z" />
                  </g>
                  <g>
                    <g>
                      <text dominant-baseline="text-before-edge" id="text-f-5" style="font-kerning:normal" fill="#0b0212"
                            font-family="Noteworthy-Bold" font-size="32" transform="translate(17 17)">
                        <tspan style="font-family: 'Noteworthy - Bold'; font-kerning:normal">#Christmas</tspan>
                      </text>
                      <text dominant-baseline="text-before-edge" id="text-5" style="font-kerning:normal" fill="#0b0212"
                        font-family="Noteworthy-Bold" font-size="32" transform="translate(17 50)">
                        <tspan style="font-family: 'Noteworthy - Bold'; font-kerning:normal">#Christmas</tspan>
                      </text></g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="page-hero__right before-6"
            style="background-image: url('images/hero-slider/secret.jpg'); background-position: center">
            <svg xmlns="http://www.w3.org/2000/svg" width="249" height="81" viewBox="0 0 249 81">
              <g>
                <g>
                  <g>
                    <path fill="#fff"
                      d="M240.522 36.093c-2.496-10.239-2.878-20.756-3.919-31.163-19.594 2.126-39.472 1.942-59.174 1.722-13.602-.152-27.208-.446-40.812-.319-14.245.132-28.47.868-42.706 1.313-15.263.476-30.529.85-45.798 1.047-14.295.185-28.826.813-43.113-.108.727 5.494.494 11.184.814 16.689.344 5.923.672 11.846 1.027 17.768.7 11.705 1.376 23.413 1.416 35.135 7.952-.539 15.93-.557 23.904-.748 8.61-.209 17.218-.455 25.823-.724 61.564-1.937 123.041-6.017 184.67-6.05.34 0 .642.05.913.134-.015-6.216-.1-12.442-1.005-18.615-.133-.91 1.438-2.222 1.438-2.222s-1.346-8.398-1.346-12.422c-.95-.102-1.908-.52-2.132-1.437z" />
                  </g>
                  <g>
                    <path
                      d="M248.276 53.151s.732 12.903.724 19.358c-.003 2.474-3.345 3.044-4.892 1.712-.406.334-.967.548-1.685.548-17.494.004-34.985.316-52.47.82-30.794.887-61.568 2.261-92.35 3.41-15.378.573-30.759 1.098-46.146 1.463-14.796.35-29.882 1.047-44.653-.07-1.653.716-4.15.017-4.151-2.104-.012-12.11-.722-24.203-1.438-36.294-.35-5.889-.71-11.778-.882-17.672-.17-5.76-.765-11.81.222-17.522.267-1.552 2.852-1.774 3.815-.688 11.176-.753 22.47-.533 33.669-.724 11.552-.198 23.105-.457 34.655-.78 28.553-.802 57.029-2.296 85.605-2.248 26.177.042 52.71.827 78.715-2.327 3.172-.384 4.254 2.637 2.489 4.051 2.1 9.743 4.713 29.42 4.713 29.42zm-8.314-17.093c-2.49-10.205-2.87-20.686-3.91-31.058-19.547 2.118-39.377 1.935-59.033 1.716-13.57-.152-27.143-.444-40.715-.318-14.211.132-28.403.866-42.604 1.309-15.227.474-30.456.847-45.69 1.044-14.26.184-28.757.81-43.01-.108.725 5.475.493 11.146.812 16.632.343 5.904.67 11.807 1.025 17.708C7.536 54.65 8.209 66.317 8.25 78c7.932-.537 15.892-.555 23.846-.745a3696.63 3696.63 0 0 0 25.762-.722c61.417-1.93 122.749-5.997 184.23-6.03.34 0 .642.05.912.134-.015-6.195-.1-12.4-1.002-18.552-.134-.908-1.813-15.112-2.036-16.027z" />
                  </g>
                  <g>
                    <g>
                      <text dominant-baseline="text-before-edge" id="text-f-6" style="font-kerning:normal" fill="#0b0212"
                            font-family="Noteworthy-Bold" font-size="32" transform="translate(17 17)">
                        <tspan style="font-family: 'Noteworthy - Bold'; font-kerning:normal">#Secret Santa</tspan>
                      </text>
                      <text dominant-baseline="text-before-edge" id="text-6" style="font-kerning:normal" fill="#0b0212"
                        font-family="Noteworthy-Bold" font-size="32" transform="translate(20 50)">
                        <tspan style="font-family: 'Noteworthy - Bold'; font-kerning:normal">#Secret Santa</tspan>
                      </text></g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="page-hero__right before-7"
            style="background-image: url('images/hero-slider/birthday.jpg'); background-position: center">
            <svg xmlns="http://www.w3.org/2000/svg" width="197" height="82" viewBox="0 0 197 82">
              <g>
                <g>
                  <g>
                    <path fill="#fff"
                      d="M189.78 36.093c-1.97-10.239-2.27-20.756-3.092-31.163-15.461 2.126-31.147 1.942-46.694 1.722-10.734-.152-21.47-.446-32.205-.319-11.24.132-22.466.868-33.699 1.313-12.044.476-24.09.85-36.14 1.047-11.28.185-22.746.813-34.02-.108.574 5.494.39 11.184.642 16.689.272 5.923.53 11.846.81 17.768.554 11.705 1.086 23.413 1.118 35.135 6.275-.539 12.57-.557 18.863-.748 6.793-.209 13.586-.455 20.377-.724 48.58-1.937 97.092-6.017 145.723-6.05.268 0 .507.05.72.134-.011-6.216-.079-12.442-.792-18.615-.106-.91 1.134-2.222 1.134-2.222s-1.062-8.398-1.062-12.422c-.749-.102-1.506-.52-1.683-1.437z" />
                  </g>
                  <g>
                    <path
                      d="M196.082 53.454s.579 12.976.572 19.47c-.002 2.487-2.641 3.06-3.863 1.72-.32.337-.764.552-1.331.552-13.816.003-27.63.318-41.44.825-24.32.891-48.624 2.273-72.935 3.428-12.146.577-24.293 1.105-36.445 1.473-11.686.352-23.6 1.052-35.267-.072-1.305.72-3.276.018-3.278-2.116-.009-12.178-.57-24.34-1.135-36.5C.684 36.31.399 30.389.263 24.46.129 18.668-.341 12.584.438 6.838c.211-1.56 2.253-1.784 3.013-.692 8.827-.756 17.747-.535 26.591-.728 9.124-.199 18.248-.459 27.37-.784 22.55-.807 45.04-2.31 67.609-2.26 20.674.042 41.63.832 62.167-2.34 2.505-.387 3.36 2.65 1.965 4.073 1.659 9.799 3.723 29.588 3.723 29.588zm-6.305-17.368c-1.97-10.238-2.27-20.753-3.092-31.159-15.461 2.126-31.147 1.942-46.694 1.722-10.734-.152-21.47-.446-32.205-.319-11.24.132-22.466.868-33.7 1.313-12.043.476-24.09.85-36.138 1.047-11.281.185-22.747.813-34.021-.108.574 5.493.39 11.182.642 16.686.272 5.923.53 11.845.81 17.766.554 11.703 1.086 23.41 1.118 35.13 6.275-.539 12.57-.556 18.863-.747 6.793-.21 13.586-.456 20.377-.724 48.58-1.937 97.092-6.017 145.723-6.05.268 0 .507.05.72.134-.011-6.215-.079-12.44-.792-18.612-.106-.91-1.434-15.161-1.61-16.079z" />
                  </g>
                  <g>
                    <g>
                      <text dominant-baseline="text-before-edge" id="text-f-7" style="font-kerning:normal" fill="#0b0212"
                            font-family="Noteworthy-Bold" font-size="32" transform="translate(17 17)">
                        <tspan style="font-family: 'Noteworthy - Bold'; font-kerning:normal">#Birthdays</tspan>
                      </text>
                      <text dominant-baseline="text-before-edge" id="text-7" style="font-kerning:normal" fill="#0b0212"
                        font-family="Noteworthy-Bold" font-size="32" transform="translate(17 50)">
                        <tspan style="font-family: 'Noteworthy - Bold'; font-kerning:normal">#Birthdays</tspan>
                      </text></g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="scrollbar__content">
    <ul class="scrollbar">
      <li class="scrollbar-li active" id="0"></li>
      <li class="scrollbar-li" id="1"></li>
      <li class="scrollbar-li" id="2"></li>
      <li class="scrollbar-li" id="3"></li>
      <li class="scrollbar-li" id="4"></li>
      <li class="scrollbar-li" id="5"></li>
      <li class="scrollbar-li" id="6"></li>
    </ul>
  </div>
</div>
