//Glob Utils
@import "../../variables";
@import "../../mixins";
@import "../../bootstrap-utils";

.modal.right.modal-add-comment {
  @import "modal-components/comments";
  @import "modal-components/form-add-comment";

  .modal-content {
    .modal-body {
      padding: 24px;
      background-color: theme-color("light-orange3");
    }

    .modal-footer {
      align-items: start;
      padding: 24px;
      min-height: 245px;
    }
  }

  .comments {
    max-width: 315px;

    @media (max-width: 550px) {
      max-width: calc(100% - 30px);
    }
  }

  .scroll-div {
    width: 100%;
  }
}
