//Glob Utils
@import "../../variables";
@import "../../mixins";
@import "../../bootstrap-utils";
@import "modal-components/form-add-comment";

.modal-block {
  h5 {
    margin-bottom: 24px;
    color: #0b0212;
    @include med;
    font-size: 24px;
    line-height: 24px;
  }
}

#add-photo {
  z-index: 10601;
}

.wishlist {
  overflow-x: hidden;
  overflow-y: auto !important;
  .modal-header {
    padding-top: 0 !important;
  }
  @media (max-width: 375px) {
    .modal-dialog-centered {
      min-height: calc(100% - -27rem);
    }
  }
}

#add-files,
#add-files-default {
  z-index: 99999;
}
.footer-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
// style form for modal
.modal {
  // modal REGISTER and LOGIN
  z-index: 10500;
  &.modal-register,
  &.modal-login {
    padding-right: 0 !important;
    .form {
      max-width: 575px;
      padding: 0;
      margin: 0 auto;
      &__inputs {
        margin-bottom: 24px;
      }
      &__single {
        max-width: calc(50% - 7.5px);
        margin-bottom: 24px;
        &:nth-child(3),
        &:nth-child(4) {
          max-width: 100%;
          margin-right: 0;
        }

        @media (max-width: 550px) {
          max-width: 100%;
          margin-right: 0;
        }
      }

      &__textarea {
        min-height: 80px;
        max-height: 80px;
      }

      &__button {
        max-width: 240px;
        height: 48px;
        margin: 0 auto;

        @media (max-width: 550px) {
          max-width: 100%;
        }
      }

      .links {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;

        @media (max-width: 550px) {
          flex-direction: column;
        }

        &__link {
          margin: 0 8px;

          @media (max-width: 550px) {
            &:first-of-type {
              margin-bottom: 6px;
            }
          }
        }
      }
    }
  }

  // modal LOGIN
  &.modal-login {
    .form {
      &__inputs {
        justify-content: center;
        margin-bottom: -4px;
      }
      &__single {
        max-width: 280px;
        margin-right: 0;

        @media (max-width: 550px) {
          max-width: 100%;
          margin-right: 0;
        }
      }

      .links {
        margin-bottom: 20px;
      }
    }
  }
}

.modal-more {
  position: absolute;
  right: 11px;
  top: 50px;
  display: none;
  box-shadow: 1px 1px 4px 1px rgba(11, 2, 18, 0.08);
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 160px;
  ul {
    &::before {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 20px solid #fff;
      position: absolute;
      top: -13px;
      right: 0;
    }
  }
  li {
    padding-left: 16px;
    display: flex;
    align-items: center;
    background-color: #fff;
    transition: 0.3s;
    height: 32px;
    &:hover {
      cursor: pointer;
      background-color: #f8f9fb;
    }
  }
  a {
    color: #0b0212;
    @include roman;
    font-size: 16px;
  }
}

.modal-content {
  padding: 25px 30px;
  box-shadow: 0 15px 50px 30px rgba(11, 2, 18, 0.08);
  border-radius: 8px;
  border: 0;

  .link-orange {
    font-size: 16px !important;
  }

  .modal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      margin-bottom: 11px;
      color: #0b0212;
      @include roman;
      font-size: 16px;
      line-height: 24px;
      span {
        color: #0b0212;
        @include med;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  .modal-wishlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .span-bold {
      @include med;
    }
    &__link {
      margin-top: 35px;
      width: 100%;
      display: flex;
      align-items: flex-end;
      height: 100%;
      justify-content: center;
      a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 240px;
        height: 48px;
        border-radius: 5px;
        color: #fff;
        background-color: #f8800f;
        transition: 0.3s;
        &:focus,
        &:active {
          background-color: #f8800f;
          color: #fff;
        }
        &:hover {
          color: #fff;
          &:before {
            opacity: 1;
          }
        }
        &:before {
          transition: 0.3s;
          opacity: 0;
          content: "";
          position: absolute;
          border-radius: 6px;
          border: 1px solid#f8800f;
          top: -3px;
          right: -3px;
          bottom: -3px;
          left: -3px;
        }
      }
      @media (max-width: 767px) {
        margin-top: 0;
      }
    }
    p {
      color: #0b0212;
      @include roman;
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 24px;
      &:nth-child(2),
      &:nth-child(3) {
        padding-bottom: 27px;
      }
      span {
        @include med;
        color: #0b0212;
        font-size: 16px;
        letter-spacing: normal;
        line-height: 24px;
      }
    }
    ul {
      padding-bottom: 27px;
      margin-left: 17px;
      @media (max-width: 767px) {
        padding-bottom: 0;
      }
      li {
        padding-bottom: 12px;
        padding-left: 12px;
        list-style: url("images/icons/oval-orange.svg");
        color: #0b0212;
        @include roman;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;
        text-align: left;
      }
    }
  }

  .modal-header {
    border: 0;
    padding: 0;
    padding-top: 40px;
    text-align: center;
    .modal-title {
      width: 100%;
      color: #0b0212;
      font-size: 30px;
    }
  }

  .modal-body {
    padding: 0;
    padding-top: 40px;
    .form__button,
    .btn-border {
      font-size: 18px !important;
    }
    button:disabled {
      background-color: #35558f;
      opacity: 0.5;

      &:before {
        content: none;
      }
    }
  }

  .modal-footer {
    justify-content: center;
    flex-direction: column;
    border: 0;
    padding: 0;
    margin: 0;
    padding-bottom: 30px;

    > * {
      margin: 0;
    }

    .modal-border {
      position: relative;
      display: inline-block;
      margin: 32px 0;
      color: #99a9c9;
      font-size: 12px;
      text-align: center;
      letter-spacing: 0.86px;
      text-transform: uppercase;

      @include med();

      @media (max-width: 550px) {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        width: 140px;
        height: 1px;
        background-color: #99a9c9;

        @media (max-width: 550px) {
          width: 140px;
        }
      }

      &::after {
        right: calc(100% + 16px);

        @media (max-width: 550px) {
          right: calc(50% + 25px);
        }
      }

      &::before {
        left: calc(100% + 16px);

        @media (max-width: 550px) {
          left: calc(50% + 25px);
        }
      }
    }

    .btn-border {
      max-width: 240px;
      height: 48px;
      font-size: 18px;

      @media (max-width: 550px) {
        max-width: 100%;
      }
    }
  }

  .modal-video {
    z-index: 1;
    position: relative;
    width: 100%;
    video {
      width: 100%;
      height: 100%;
    }
  }

  .video-play {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    &:before {
      display: flex;
      align-items: center;
      justify-content: center;
      content: "";
      background-image: url("images/icons/play.svg");
      background-position: center;
      background-repeat: no-repeat;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }
  }
  .video-btn-none {
    &:before {
      content: none;
    }
  }
}

.modal-dialog-centered {
  .close {
    position: absolute;
    padding: 10px;
    margin: 0;
    top: 25px;
    right: 25px;
    width: 24px;
    height: 24px;
    z-index: 22;
    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      height: 2px;
      border-radius: 8px;
      background-color: #335491;
      overflow: hidden;
      outline: none;
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}
.modal.right {
  .close {
    position: relative;
    padding: 0;
    margin: 0;
    top: 25px;
    right: 25px;
    width: 24px;
    height: 24px;
    background-position: center;
    background-image: url("images/icons/close-24px.svg");
    background-repeat: no-repeat;
    display: block;
    margin-bottom: auto;
  }
}

.modal-border {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 32px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.86px;
  text-transform: uppercase;
  max-width: 21px;
  color: theme-color("light-blue");

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    width: calc(50% - 22px);
    height: 1px;

    background-color: theme-color("light-blue");
  }

  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}

@media (max-width: 767px) {
  .wishlist {
    .modal-title {
      padding-top: 20px;
    }
  }
}
@media (min-width: 768px) {
  .modal-register {
    .modal-dialog {
      max-width: 700px;
      margin: 1.75rem auto;
    }
  }
  .modal-login {
    .modal-dialog {
      max-width: 460px;
      margin: 1.75rem auto;
    }
    h4 {
      font-weight: 500 !important;
    }
  }
  .wishlist {
    .modal-content {
      padding: 55px 65px;
    }
    .modal-dialog-centered {
      min-height: calc(100% - -1.5rem);
    }
    .modal-dialog {
      transform: translate(0, -26px) !important;
      max-width: 700px;
      margin: 1.75rem auto;
    }
  }
  .modal-goss {
    .modal-dialog {
      max-width: 700px;
      margin: 1.75rem auto;
    }
    .modal-content {
      padding: 64px 80px;
    }
    .modal-header {
      padding-top: 0;
    }
    .modal-body {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (min-width: 576px) {
  .modal-login {
    .modal-dialog {
      max-width: 460px;
      margin: 1.75rem auto;
    }
  }
}

.modal-backdrop {
  background-color: rgba(51, 84, 145, 0.15);
}
