.modal-save-store {
  .modal-dialog {
    @media (max-width: 575px) {
      margin-left: 0;
    }
  }
  .modal-content {
    @media (max-width: 575px) {
      padding: 25px 15px;
    }
  }
  .modal-dialog {
    max-width: 720px;
    width: 100%;
  }
  .modal-header {
    display: flex;
    justify-content: center;
    h3 {
      color: #0b0212;
      font-weight: 500;
      font-size: 30px;
      text-align: center;
    }
  }
  .modal-body {
    max-width: 540px;
    width: 100%;
    margin: auto;
    > strong {
      color: #335491;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.86px;
      text-align: left;
      text-transform: uppercase;
      display: block;
      margin-bottom: 22px;
    }
    .price {
      margin-bottom: 40px;
      li {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        color: #0b0212;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        span {
          &:first-of-type {
            min-width: 70px;
            display: inline-block;
            margin-right: 18px;
          }
          &:nth-child(2) {
            margin-right: 8px;
          }
        }
        b {
          font-weight: 500;
        }
      }
    }
    .payment-method {
      margin-bottom: 40px;
      .radio {
        input {
          display: none;
          &:checked ~ label {
            &::before {
              background-image: url("images/icons/SC_Check.svg");
              background-position: center;
              background-repeat: no-repeat;
              background-size: 95%;
              border: 3px solid #f77d0e;
            }
          }
        }
        label {
          display: flex;
          align-items: center;
          color: #0b0212;
          font-size: 16px;
          font-weight: 400;
          line-height: 16px;
          text-align: left;
          margin-bottom: 15px;
          cursor: pointer;
          &::before {
            content: "";
            display: flex;
            align-items: center;
            justify-content: center;
            width: 18px;
            height: 18px;
            border: 3px solid #f77d0e;
            border-radius: 3px;
            margin-right: 8px;
            cursor: pointer;
          }
        }
      }
    }
    .form__single--card {
      &::after {
        content: attr(data-card);
      }
      input {
        &.hide {
          font-family: "circle-font";
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          font-size: 36px;
          caret-color: transparent;
          color: #99a9c9;
        }
      }
      .visible {
        position: absolute;
        right: 13px !important;
        bottom: 9px;
        display: block;
        width: 24px;
        height: 24px;
        background-image: url("images/icons/visible.svg");
        background-position: center;
        background-repeat: no-repeat;
        z-index: 99999;
        cursor: pointer;
        &.hide {
          background-image: url("images/icons/visible-hide.svg");
        }
      }
    }
    .form__single {
      max-width: 344px;
      position: relative;
      margin-bottom: 18px;
      .select2-selection__choice {
        &.hide {
          color: transparent !important;
          &::after {
            content: "···· ···· ···· ····";
            position: absolute;
            z-index: 55;
            font-family: "circle-font";
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            font-size: 36px;
            letter-spacing: -4px;
            caret-color: transparent;
            color: #99a9c9;
          }
        }
      }
      .select2-container--default {
        &::after {
          position: absolute;
          right: 12px;
          top: 0;
          bottom: 0;
          content: "";
          display: block;
          width: 21px;
          background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSI4IiB2aWV3Qm94PSIwIDAgMTMgOCI+PGc+PGc+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjOTlhOWM5IiBzdHJva2UtbWl0ZXJsaW1pdD0iMjAiIHN0cm9rZS13aWR0aD0iLjgiIGQ9Ik0xIDF2MGw1LjkxNiA2djBMMTMgMXYwIi8+PC9nPjwvZz48L3N2Zz4=);
          background-position: center;
          background-size: 55%;
          background-repeat: no-repeat;
          pointer-events: none;
        }
        &.select2-container--open {
          &::after {
            transform: rotate(180deg);
          }
        }
      }
      .visible {
        position: absolute;
        right: 37px;
        bottom: 9px;
        display: block;
        width: 24px;
        height: 24px;
        background-image: url("images/icons/visible.svg");
        background-position: center;
        background-repeat: no-repeat;
        z-index: 99999;
        cursor: pointer;
        &.hide {
          background-image: url("images/icons/visible-hide.svg");
        }
      }
    }
    .members-wrap {
      max-width: 344px;
      overflow: hidden;
      > div {
        margin-right: 24px;
      }
      .groups__box-small {
        max-width: 160px;
        min-width: 160px;
        .flatpickr-input {
          padding: 9px 25px 9px 45px;
        }
      }
    }
  }
  .modal-footer {
    a {
      max-width: 240px;
      height: 48px;
    }
  }
}
