//Glob Utils
@import "../../variables";
@import "../../mixins";
@import "../../bootstrap-utils";

.modal.modal-goss-gallery {
  .modal-dialog {
    @media (min-width: 520px) {
      max-width: 460px;
    }
    .modal-content {
      padding: 16px;

      .modal-header {
        padding-top: 0;
        @include media-breakpoint-up(md) {
          padding: 0 54px;
        }
      }
      .modal-body {
        padding-top: 16px;
      }
      .modal-footer {
        padding-bottom: 0;

        .btn {
          max-width: 100%;

          @include media-breakpoint-up(md) {
            max-width: 220px;
          }
        }
      }
    }
  }
}

.goss-gallery {
  width: 100%;

  // .goss-gallery__profile

  // &__profile {
  // }

  // .goss-gallery__avatar

  &__avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
    margin-bottom: 0;

    img {
      position: absolute;
      width: 100%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    span {
      display: none;
    }
  }

  // .goss-gallery__avatar--no-img

  &__avatar--no-img {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: theme-color("blue4");
    }

    img {
      display: none;
    }
    span {
      display: inline-block;
    }
  }

  // .goss-gallery__symbol

  &__symbol {
    font-size: 25px;
    line-height: 25.2px;
    text-transform: uppercase;
    z-index: 1;

    color: theme-color("white");
  }

  // .goss-gallery__head-info

  &__head-info {
    width: calc(100% - 72px);
    padding-right: 40px;
  }

  // .goss-gallery__name

  &__name {
    padding-top: 8px;
    font-size: 18px;
    letter-spacing: 0.64px;
    line-height: 18px;
    text-align: left;
    margin-bottom: 6px;

    color: theme-color("dark-blue");
  }

  // .goss-gallery__name--orange

  &__name--orange {
    text-transform: uppercase;

    color: theme-color("orange");
  }

  // .goss-gallery__subname

  &__subname {
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    margin-bottom: 0;

    color: theme-color("dark-blue");
  }

  // .goss-gallery__subname--light

  &__subname--light {
    font-weight: $font-weight-light;

    span {
      &:first-of-type {
        margin-bottom: 5px;
      }

      b {
        font-weight: $font-weight-bold;
      }
    }
  }

  // .goss-gallery__slider

  &__slider {
    @include media-breakpoint-up(md) {
      padding: 0 51px;
    }

    .swiper-button-next {
      right: 15px;
    }
    .swiper-button-prev {
      left: 15px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      top: calc(38% - 27px);
    }
  }

  // .goss-gallery__item

  &__item {
    width: 100%;
  }

  // .goss-gallery__img

  &__img {
    position: relative;
    width: 100%;
    height: 390px;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: auto;
    }
  }

  // .goss-gallery__desc

  &__desc {
    padding: 8px 0 20px;
    p {
      width: 100%;
      margin-bottom: 0;
      font-size: 14px;
      line-height: 22px;
      text-align: left;

      color: theme-color("dark-blue");
    }
  }

  // .goss-gallery__price

  &__price {
    padding: 0;
    padding-bottom: 24px;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 5px;

    color: theme-color("dark-blue");

    span {
      margin-right: 12px;

      &:first-of-type {
        font-weight: $font-weight-medium;
      }
    }
  }

  // .goss-gallery__price--discount

  &__price--discount {
    > span {
      position: relative;
      color: theme-color("green");

      &:last-of-type {
        color: #99a9c9;

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: theme-color("gray");
        }
      }
    }
  }

  // .goss-gallery__progress-bar

  &__progress-bar {
    position: relative;
    width: 100%;

    @include media-breakpoint-up(md) {
      padding: 0 54px;
    }
  }

  // .goss-gallery__progress-wrap

  &__progress-wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    div {
      display: block;
      width: 100%;
      padding: 0;
      margin-right: 4px;
      cursor: pointer;
    }

    > div {
      padding-bottom: 30px;

      &:last-child {
        margin-right: 0;
      }

      &:hover .goss-gallery__progress-item {
        background-color: rgba(theme-color("orange"), 0.5);
        transition: all 0.2s;
      }
    }
  }

  &__progress-item,
  &__in-progress {
    display: block;
    border-radius: 2px;
    height: 4px;
  }

  // .goss-gallery__progress-item

  &__progress-item {
    width: 100%;

    background-color: rgba(theme-color("dark-blue"), 0.14);
    transition: $transition-fast;
  }

  // .goss-gallery__in-progress

  &__in-progress {
    width: 0%;

    background-color: rgba(theme-color("orange"), 0.5);
  }

  // .goss-gallery__timer

  &__timer {
    position: absolute;
    left: 50%;
    bottom: 10px;
    font-size: 14px;
    line-height: 14px;
    transform: translateX(-50%);

    color: theme-color("orange");

    i {
      padding-right: 5px;
    }
  }
}
