//Glob Utils
@import "../../variables";
@import "../../mixins";
@import "../../bootstrap-utils";

.modal.right.modal-search-parameters {
  .modal-content {
    .modal-body {
      padding: 24px;
      .form {
        &__single--fluid,
        &__other,
        &__wrap {
          max-width: 315px;

          @media (max-width: 550px) {
            max-width: calc(100% - 15px);
          }
        }

        &__wrap {
          .form__checkbox-wrap {
            &:last-of-type {
              margin-bottom: 32px;
            }
          }
        }

        &__checkbox-wrap {
          margin-bottom: 10px;
        }

        .scroll-div {
          width: 100%;
        }

        .btn {
          margin-left: auto;

          @media (max-width: 550px) {
            max-width: 100%;
          }
        }
      }
    }
  }
}
