.modal-unlink {
  padding-right: 0 !important;
  .modal-dialog {
    max-width: 720px;
    @media (max-width: 575px) {
      margin: 0;
    }
  }
  .btn-blue {
    max-width: 240px;
    height: 48px;
    font-size: 18px;
  }
  .modal-content {
    box-shadow: 0 15px 50px 30px rgba(11, 2, 18, 0.08);
    padding: 25px 70px;
    @media (max-width: 575px) {
      padding: 40px 16px 20px 16px;
      border-radius: 0;
    }
  }
  .modal-header {
    display: flex;
    justify-content: center;
  }
  &__title {
    max-width: 500px;
    h3 {
      color: #0b0212;
      font-size: 30px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 10px;
    }
    p {
      color: #0b0212;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__photo {
    width: 120px;
    height: 120px;
    border: 4px solid #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
  }
  &__input {
    width: 100%;
    &--two {
      display: flex;
      @media (max-width: 575px) {
        flex-direction: column;
      }
      .form__single {
        margin-bottom: 0;
        &:first-child {
          margin-right: 16px;
          @media (max-width: 575px) {
            margin-right: 0;
          }
        }
      }
    }
    .form__single {
      max-width: 100%;
      margin-bottom: 24px;
    }
    .form__input[type="password"] {
      font-family: "circle-font";
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      font-size: 4rem;
      letter-spacing: -4px;
      caret-color: transparent;
      color: #99a9c9;
    }
  }
}
