//Glob Utils
@import "../../variables";
@import "../../mixins";
@import "../../bootstrap-utils";

.modal.right.modal-add-comment {
  @import "modal-components/comments";

  .form-add-comment__file {
    position: relative;
    figure {
      width: 100%;
      height: 124px;
      img {
        width: 100%;
      }
    }
    .file-delit {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 32px;
      height: 32px;
      box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .form-add-comment__content {
    &:before {
      content: attr(placeholder);
      pointer-events: none;
      display: block;
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      color: #0b0212;
    }
    &:focus {
      &::before {
        display: none;
      }
    }
  }
  .modal-content {
    .modal-body {
      padding: 24px;
      background-color: theme-color("light-orange3");
    }

    .modal-footer {
      align-items: start;
      padding: 24px;
      min-height: 245px;
    }
  }

  .comments {
    max-width: 315px;

    @media (max-width: 550px) {
      max-width: calc(100% - 30px);
    }
  }

  .scroll-div {
    width: 100%;
  }
}
