//Glob Utils
@import "../../variables";
@import "../../mixins";
@import "../../bootstrap-utils";

// Page Specific Components
@import "modal-components/avatar";
@import "modal-components/profile-list";

.modal-add-timeline {

  @import "modal-components/custom-form-for-modal-side";
  @import "modal-components/create-banner";

  .avatar {
    margin-right: 8px;

    &:nth-of-type(5n + 5) {
      margin-right: 0;

      @media (max-width: 550px) {
        margin-right: 8px;
      }
    }
  }
}
