.modal-edit-option {
  padding-right: 0 !important;
  .modal-dialog {
    max-width: 640px !important;
  }
  .modal-content {
    @media (max-width: 575px) {
      padding: 25px 15px;
    }
  }
  .modal-body {
    max-width: 512px;
    margin: auto;
    width: 100%;
    .size-select {
      display: flex;
      flex-direction: column;
      width: 100%;
      .select-before {
        .select2-container {
          display: none !important;
          &:first-of-type {
            display: block !important;
          }
        }
      }
      .members__form {
        .form__single {
          .select2-container {
            display: none !important;
            &:first-of-type {
              display: block !important;
            }
          }
        }
      }
      &__single {
        display: flex;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 7px;
        @media (max-width: 575px) {
          flex-direction: row;
          flex-wrap: wrap;
        }
        .members__form {
          .form__note {
            display: block;
            margin-bottom: 10px;
          }
          .form__single {
            margin-bottom: 0 !important;
          }
          &:first-of-type {
            width: 100%;
            max-width: 160px;
            margin-right: 16px;
            @media (max-width: 575px) {
              max-width: 87%;
            }
          }
          &:last-of-type {
            width: 100%;
            max-width: 288px;
            @media (max-width: 575px) {
              max-width: 100%;
              order: 5;
            }
          }
        }
        .size-select__remove {
          height: 42px;
          display: flex;
          align-items: center;
          margin-left: 29px;
          margin-top: auto;
          @media (max-width: 575px) {
            margin-left: 0;
            display: inline-flex;
          }
        }
      }
      &__add {
        width: 100%;
        height: 40px;
        color: #35558f;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1.5px dashed #35558f !important;
        border-radius: 6px;
        padding-bottom: 4px;
        margin: 14px 15px 0 0;
        img {
          margin-right: 15px;
          padding-bottom: 3px;
        }
      }
    }
  }
  .modal-header {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      color: #0b0212;
      font-weight: 500;
      font-size: 30px;
      text-align: center;
      margin-bottom: 5px;
      line-height: 25px;
    }
    p {
      color: #0b0212;
      font-size: 16px;
      font-weight: 400;
      text-align: left;
      margin-bottom: 0;
    }
  }
  .modal-footer {
    max-width: 512px;
    margin: auto;
    width: 100%;
    padding-bottom: 0;
    margin-top: 45px;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    a {
      max-width: 160px !important;
      height: 48px;
      margin-right: 15px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
