.modal-invite {
  .head-modal-info__avatar {
    border-radius: 8px;
    &::before {
      background-color: #f8f9fb;
    }
  }
  .modal-body {
    padding: 24px 34px 80px 24px !important;
    .scroll-div.mob {
      > .ss-scroll {
        @media (max-width: 575px) {
          display: none;
        }
      }
    }
    @media (max-width: 991.98px) {
      padding: 24px 24px 80px !important;
    }
  }
  &__info {
    h4 {
      color: #335491;
      font-size: 12px;
      letter-spacing: 0.8px;
      line-height: 12px;
      margin-bottom: 8px;
    }
    p {
      color: #828282;
      font-size: 14px;
      font-weight: 400;
    }
  }
  .form__label {
    padding-left: 8px;
  }
  .form__single {
    margin-bottom: 16px;
  }
  .form__textarea {
    height: 120px;
  }
  .count {
    align-items: flex-end;
    padding-bottom: 12px;
  }
  .new-banner {
    width: 64px;
    height: 64px;
    border-radius: 5px;
    border: 1px dashed #335491;

    .icon {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.accordion {
  padding-right: 77px;
  .scroll-div {
    > .ss-scroll {
      @media (max-width: 575px) {
        opacity: 1 !important;
      }
    }
  }
  @media (max-width: 575px) {
    padding-right: 20px;
  }
  .card {
    margin-bottom: 24px;
    &-header {
      button {
        position: relative;
        width: 100%;
        color: #335491;
        font-size: 12px;
        font-style: normal;
        letter-spacing: 0.8px;
        line-height: 12px;
        text-decoration: none;
        text-align: left;
        padding-left: 0;
        outline: none;
        border: none !important;
        &::before {
          display: block;
          position: absolute;
          content: url("images/icons/arrow-accordion.svg");
          right: 0;
        }
        &.collapsed {
          &::before {
            transform: rotate(180deg);
          }
        }
      }
    }
    .btn-blue {
      max-width: 100%;
    }
  }
  .card-body {
    padding: 24px 0 60px;
    .profile-list__avatar {
      display: none !important;
    }
    p {
      color: #828282;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 20px;
    }
    .invite-form {
      .btn-blue {
        max-width: 80px;
        float: right;
      }
      &__detail {
        display: flex;
        align-items: center;
      }
      &__photo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .invite-list {
      margin-top: 90px;
      max-height: 306px;
      padding-right: 0;
      @media (max-width: 575px) {
        padding-right: 18px;
      }
      .scroll-div {
        height: 320px;
      }
      .btn-blue {
        max-width: 80px;
        float: right;
      }
      ul {
        @media (max-width: 575px) {
          max-width: calc(100% - 16px);
        }
        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 16px;
          &:last-of-type {
            margin-bottom: 0;
          }
          span {
            display: inline-block;
            margin-left: 12px;
            color: #0b0212;
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
