//Glob Utils
@import "../../variables";
@import "../../mixins";
@import "../../bootstrap-utils";

// Page Specific Components
@import "modal-components/avatar";
@import "modal-components/profile-list";

.modal-notification {
  @import "modal-components/custom-form-for-modal-side";
  @import "modal-components/create-banner";

  .head-modal-info__description {
    width: 100%;
  }
  .avatar {
    margin-right: 8px;

    &:nth-of-type(5n + 5) {
      margin-right: 0;

      @media (max-width: 550px) {
        margin-right: 8px;
      }
    }
  }
}

.notification {
  .scroll-div {
    margin-right: 0;
  }
  .ss-wrapper {
    @media (max-width: 380px) {
      overflow: visible;
    }
  }

  &__link {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    a {
      font-weight: $font-weight-medium;

      &:last-child {
        color: #f77d0e;
      }
      &:first-child {
        margin-right: 30px;
        color: #335491;
      }
    }
  }
  p {
    color: #0b0212;
    font-size: 14px;
  }
  &__headline {
    strong {
      font-weight: 500;
      max-width: 204px;
    }
    p {
      max-width: 215px !important;
    }
  }
  &__head {
    margin-bottom: 10px;
  }
  &__gift {
    margin-bottom: 20px;
  }
  &__card {
    position: relative;
    max-width: 336px;
    display: flex;
    box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    background-color: #fff;
    padding: 13px 24px 12px 12px;
    .internal-card__avatar {
      min-width: 56px;
      height: 56px;
    }
    &-video {
      .internal-card__avatar {
        min-width: 56px;
        height: 56px;
      }
    }
    @media (max-width: 575px) {
      max-width: 100%;
    }
    strong {
      @media (max-width: 575px) {
        max-width: 214px;
      }
    }
    &-figure {
      max-width: 336px;
      box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
      border-radius: 8px;
      background-color: #fff;
      padding: 12px 24px 10px 12px;
      position: relative;
      .grid-gallery__selector {
        @media (max-width: 575px) {
          max-width: 100%;
          height: 240px !important;
        }
        @media (max-width: 390px) {
          height: 156px !important;
        }
      }
      @media (max-width: 575px) {
        max-width: 100%;
      }
      p {
        max-width: 290px;
      }
    }
    &-video {
      max-width: 336px;
      box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
      border-radius: 8px;
      background-color: #fff;
      padding: 12px 24px 10px 12px;
      position: relative;
      .grid-gallery__selector {
        height: 180px !important;
        max-width: 312px;
        @media (max-width: 575px) {
          max-width: 100%;
          height: 320px !important;
        }
        @media (max-width: 450px) {
          height: 180px !important;
        }
      }
      @media (max-width: 575px) {
        max-width: 100%;
      }
      p {
        max-width: 290px;
      }
    }
  }
}
