//Glob Utils
@import "../../variables";
@import "../../mixins";
@import "../../bootstrap-utils";

.modal.right.modal-add-timeline-product {
  .modal-content {
    .modal-body {
      padding: 24px;

      .form {
        textarea {
          height: 120px;
        }
        &__single--fluid,
        &__other {
          max-width: 315px;

          @media (max-width: 550px) {
            max-width: calc(100% - 15px);
          }
        }

        &__checkbox-wrap--custom {
          padding-left: 16px;
          margin-top: -22px;
          margin-bottom: 32px;
        }

        &__radio-wrap {
          &:first-of-type {
            margin-bottom: 10px;
          }
          &:nth-of-type(2) {
            margin-bottom: 32px;
          }
        }

        .scroll-div {
          width: 100%;
        }

        .btn {
          margin-left: auto;

          @media (max-width: 550px) {
            max-width: 100%;
          }
        }
      }
    }
  }
}
