.groups {
  &__header {
    margin-bottom: 15px;
    margin-left: 15px;
    h5 {
      color: #828282 !important;
      font-weight: $font-weight-normal !important;
      font-size: 12px !important;
      letter-spacing: 0.86px !important;
      text-transform: uppercase;
    }
  }
  &__box {
    max-width: 560px;
    box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    background-color: #fff;
    padding: 16px 16px 24px 12px;
    margin-bottom: 24px;
  }
  &__section {
    display: flex;
    flex-direction: column;
    @media (max-width: 991px) {
      align-items: center;
    }
  }
  &__block-container {
    .groups__subroup {
      margin-left: 16px;
      position: relative;

      @media (max-width: 575px) {
        margin-top: 60px;
      }
      @media (max-width: 440px) {
        margin-top: 24px;
      }
      &:before {
        content: url("images/groups/dashed.svg");
        position: absolute;
        top: -23px;
        left: 25px;
        @media (max-width: 575px) {
          top: -111px;
          content: url("images/groups/dashed-long.svg");
        }
      }
    }
  }
  &__block {
    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    p {
      color: #0b0212;
      font-size: 14px !important;
      margin-bottom: 0 !important;
      margin-top: 5px;
      font-weight: 300 !important;
    }
    margin-top: 24px;
    &-personal {
      strong {
        margin-right: 15px;
        font-size: 14px !important;
      }
      p {
        margin-bottom: 0 !important;
        align-items: baseline !important;
      }
      b {
        margin-left: 4px;
        font-size: 14px !important;
      }
    }
    strong,
    b {
      color: #0b0212;
      line-height: 16px;
      font-size: 16px;
      font-weight: $font-weight-medium;
    }
    &-right {
      @media (max-width: 575px) {
        flex-direction: column;
      }
      a {
        max-width: 80px;
        @media (max-width: 575px) {
          max-width: 100%;
        }
      }
    }
    &-btn {
      align-items: flex-end;
      justify-content: flex-end;
      max-width: 80px;
      a {
        max-width: 80px;
        height: 40px;
        &:first-child {
          margin-bottom: 10px;
        }
      }
      @media (max-width: 575px) {
        justify-content: center;
        margin-top: 24px;
        max-width: 100%;
      }
    }
    &-left {
      figure {
        width: 88px;
        height: 89px;
        border-radius: 8px;
        margin-right: 16px;
        margin-bottom: 0 !important;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &__top {
    display: flex;
    align-items: center;
    span {
      color: #335491;
      font-weight: $font-weight-normal;
      font-size: 16px;
      margin-left: 16px;
    }
    .card-goss__item {
      width: 88px;
      height: 88px;
    }
  }
}
