.section-settings {
  margin-bottom: 50px;
  li {
    margin-left: 15px;
    margin-bottom: 20px;
    @media (max-width: 991px) {
      margin-left: 0;
    }
    &:first-child {
      @media (max-width: 991px) {
        padding-top: 15px;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.tabs-global {
  .tab-content {
    width: 100%;
    max-width: 560px;
    height: 100%;
    box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    background-color: #fff;
    padding: 24px 24px 30px 24px;
    margin-bottom: 50px;
    @media (max-width: 991px) {
      margin: 75px auto 0;
    }
    @media (max-width: 575px) {
      box-shadow: none;
      border-radius: 0;
      background: none;
      padding-right: 0;
      padding-left: 0;
    }

    select {
      padding-left: 10px;
      appearance: none;
    }
    p {
      color: #828282;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 0;
    }
    h5 {
      text-transform: uppercase;
      color: #335491;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 18px;

      font-weight: $font-weight-medium;
    }
  }
  ul,
  li {
    list-style: none;
  }

  .active-link {
    span {
      color: #f77e10 !important;
    }
  }
  a {
    padding-left: 0;
    color: #315293;
    font-size: 14px;
  }
  .email-sms {
    .account-preferences__block {
      &:first-child {
        margin-bottom: 50px;
      }
      &:nth-child(2) {
        .account-preferences__check {
          margin-top: 10px;
        }
        .blue-span {
          margin-bottom: 5px;
        }
      }
    }
  }
  .—Åommunications {
    .account-preferences__check {
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .account-preferences__block {
      &:nth-child(3),
      &:nth-child(4) {
        margin-bottom: 40px;
      }
      &:first-child {
        margin-bottom: 60px;
      }
      &:nth-child(2) {
        .select-before {
          margin-top: 15px;
        }
      }
      &:nth-child(5) {
        margin-bottom: 40px;
        .blue-span {
          margin-bottom: 10px;
        }
        p {
          margin-bottom: 10px;
        }
      }
    }
  }
  .visibility {
    .select-before {
      margin-top: 15px;
      .account-preferences__check {
        margin-bottom: 0;
      }
    }
    .account-preferences__block {
      margin-bottom: 25px;
      &:first-child {
        margin-bottom: 55px;
      }
    }
  }
  .account-access {
    label {
      padding-left: 10px;
      max-width: 362px;
    }
    .account-preferences__block {
      &:first-child {
        margin-bottom: 55px;
      }
    }
  }

  .community-spirit {
    .account-preferences__check {
      margin-bottom: 0;
    }
    .account-preferences__block {
      margin-bottom: 45px;
      b {
        margin-top: 15px;
      }
      &:first-child {
        margin-bottom: 60px;
      }
    }
  }
  .push {
    .account-preferences__block {
      margin-bottom: 5px;
      &:first-child {
        margin-bottom: 25px;
      }
    }
  }
  .account-preferences {
    .form-password {
      max-width: 328px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      button {
        margin: 30px auto auto auto;
        max-width: 240px !important;
        height: 48px;
      }
      label {
        padding-left: 10px;
        margin-top: 15px;
        margin-bottom: 5px;
      }
      input {
        color: #524c57;
        &::placeholder {
          color: #524c57;
        }
      }
      div {
        width: 100%;
        max-width: 328px;
        height: 40px;
        border-radius: 5px;
        background-color: #f8f9fb;
        color: #524c57;
        font-size: 16px;
        position: relative;
        .show {
          position: absolute;
          right: 10px;
          top: 0;
          bottom: 0;
          margin: auto;
          max-height: 15px;
          cursor: pointer;
        }
      }
    }
    &__block {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      &:first-child {
        margin-bottom: 35px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:nth-child(5) {
        .account-preferences__check {
          margin-bottom: 0 !important;
        }
      }
      .bold-span {
        margin-top: 10px;
        color: #0b0212;
        font-size: 16px;
        b {
          color: #0b0212;
          font-size: 16px;

          font-weight: $font-weight-medium;
        }
      }
      label {
        color: #828282;
        font-size: 14px;
      }
      input {
        padding-left: 10px;
        width: 100%;
        max-width: 328px;
        height: 40px;
        border-radius: 5px;
        background-color: #f8f9fb;
        color: #0b0212;
        font-size: 16px;
        border: none;
        outline: none;
        font-family: $font-family-base;

        &::placeholder {
          color: #0b0212;
          font-size: 16px;
          font-family: $font-family-base;
        }
      }
      b {
        color: #0b0212;
        font-size: 16px;
        font-weight: $font-weight-normal;
      }
      .blue-span {
        margin-bottom: 16px;
        text-transform: uppercase;
        color: #335491;
        font-size: 12px;
        font-style: normal;
        letter-spacing: 0.8px;
        line-height: 12px;

        font-weight: $font-weight-medium;

        @media (max-width: 575px) {
          line-height: 20px;
          margin-bottom: 10px;
        }
      }
    }

    &__check {
      margin-top: 15px;
      margin-bottom: 20px;
      display: flex;

      label {
        display: flex;
        order: 2;
        max-width: 60px;
        margin-right: 18px;
        margin-left: 10px;
      }
      .check-off {
        order: 1;
        white-space: nowrap;
      }
      .check-on {
        order: 3;
        white-space: nowrap;
      }
    }
    &__card {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      background: none !important;
      &::before {
        display: none !important;
      }
      &:first-child {
        @media (max-width: 400px) {
          margin-bottom: 10px;
        }
      }
      img {
        box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
        width: 56px;
        height: 56px;
        border-radius: 5px;
        transition: 0.3s;
        &:hover {
          border: 1px solid #f97d00;
          cursor: pointer;
        }
      }
      span {
        text-align: center;
        margin-top: 8px;
        opacity: 0.75;
        color: #0b0212;
        font-size: 14px;
      }
    }
    &__bg-3 {
      width: 56px;
      height: 56px;
      box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
      border-radius: 5px;
      background-color: #fcfcfc;
      &:hover {
        border: 1px solid #f97d00;
        cursor: pointer;
      }
    }
    &__bg-5 {
      width: 56px;
      height: 56px;
      box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
      border-radius: 5px;
      background-color: #fffcf9;
      &:hover {
        border: 1px solid #f97d00;
        cursor: pointer;
      }
    }
    &__bg-4 {
      width: 56px;
      height: 56px;
      box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
      border-radius: 5px;
      background-color: #f8f9fb;
      &:hover {
        border: 1px solid #f97d00;
        cursor: pointer;
      }
    }
    &__line {
      display: flex;
      margin-top: 20px;
      @media (max-width: 400px) {
        flex-wrap: wrap;
      }
    }
  }
}
