.cookies {
  width: 100% !important;
  max-width: 650px !important;
  padding-top: 90px;
  padding-bottom: 50px;
  @media (max-width: 991px) {
    padding-top: 40px;
    max-width: 100% !important;
  }
  p {
    margin-bottom: 0 !important;
    a {
      color: #35558f;
      border-bottom: 1px solid #35558f;
    }
  }
  &__subparagraph {
    margin-left: 30px;
    margin-bottom: 25px;
    strong {
      margin-top: 25px;
    }
  }
  .mt-35 {
    @media (max-width: 991px) {
      margin-top: 35px;
    }
  }
  .mb-50 {
    margin-bottom: 50px;
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
  &__paragraph {
    margin-bottom: 40px;
    @media (max-width: 991px) {
      margin-bottom: 40px;
    }
    h4 {
      font-size: 24px;
      font-weight: 500;
    }
  }
  &__title {
    margin-bottom: 50px;
    @media (max-width: 991px) {
      margin-bottom: 45px;
    }
    h2 {
      font-weight: 500;
      color: #0b0212;
      font-size: 48px;
      line-height: 44px;
      @media (max-width: 991px) {
        font-size: 46px;
      }
      @media (max-width: 767px) {
        font-size: 38px;
      }
      @media (max-width: 575px) {
        font-size: 32px;
      }
    }
    span {
      font-weight: 400;
      font-size: 16px;
      color: #0b0212;
    }
  }
}
