<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body class="addressbook home">
    {{> ../common/mobile-menu }}
    {{> ../common/mobile-menu-bottom }}
    <div class="section-blur" data-class="maze">
        <header class="header">
            <div class="container">
                <div class="header__content">
                    <div class="header__left">
                        <!-- <div class="header__burger">
          <img src="images/icons/burger.svg" alt="">
        </div> -->
                        <a class="header__logo" href="/index.html">
                            <img class="header__img-desktop" src="images/icons/w-logo.png" alt="logo">
                            <img class="header__img-mobile" src="images/icons/logo-mobile.png" alt="logo">
                        </a>
                    </div>
                    <div class="header__search">
                        <!-- form search -->
                        <!-- add class: "search--active" -->
                        <form action="#" id="search" class="search">

                            <input type="search" name="search" class="search__input" placeholder="Search for something"
                                id="search-input" autocomplete="off" />
                            <button class="search__button" aria-label="search">
                                <i class="icon icon-search"></i>
                            </button>

                            <div class="search__result">
                                <ul class="search__result-list">
                                    <li class="search__result-item d-flex align-items-center">
                                        <p>
                                            <b>pa</b>int
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="header__right">
                        <div class="head-links">
                            <!-- head menu -->
                            <ul class="head-links__list d-flex align-items-center list-unstyled mb-0">
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="index.html" class="head-links__link position-relative">
                                        <!-- add class "active" <i class="icon icon-home"></i> what would the icon change -->
                                        <i class="icon icon-home"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-star"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="shop.html?param=val&data=shop-another"
                                        class="head-links__link  position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-offer"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" data-toggle="modal" data-target="#cart"
                                        class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-cart"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" data-toggle="modal" data-target="#message-overlay"
                                        class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-head-mail"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- /head menu -->
                        </div>
                        <div class="header__user">
                            <a href="#menu-mobile" data-toggle="modal" data-target="#menu-mobile"
                                class="personal-avatar personal-avatar--no-img position-relative d-flex d-lg-none align-items-center justify-content-center overflow-hidden">
                                <img src="" alt="avatar">
                                <span class="personal-symbol">JS</span>
                            </a>
                            <a href="#user-profile-menu" data-toggle="modal" data-target="#user-profile-menu"
                                class="user-avatar user-avatar--no-img position-relative d-flex align-items-center justify-content-center overflow-hidden">
                                <img class="user-avatar__img" src="" alt="avatar">
                                <span class="user-avatar__symbol">AD</span>
                            </a>
                            <a href="#" class="mobile-link-arrow">
                                <i class="icon icon-arrow"></i>
                            </a>
                        </div>

                    </div>


                </div>
            </div>
        </header>
        <div class="addressbook__content">
            <div class="container">
                <div class="main-content position-relative d-flex align-items-start justify-content-between">
                    <!-- aside-left -->
                    <aside class="aside-left">
                        <div class="scroll-div">
                            <section class="section-content">
                                <span class="section-content__title position-relative d-flex align-items-center">My
                                    profile</span>

                                <div class="other-links">
                                    <ul class="other-links__list d-flex flex-column list-unstyled mb-0">
                                        <li class="other-links__item">
                                            <a href="#" class="other-links__link position-relative">
                                                <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
                                                <i class="icon icon-baby"></i>
                                                <span>Kid account</span>
                                            </a>
                                        </li>
                                        <li class="other-links__item">
                                            <a href="#" class="other-links__link position-relative">
                                                <!-- add class "active" what would the icon change -->
                                                <i class="icon icon-pet"></i>
                                                <span>Pet account</span>
                                            </a>
                                        </li>
                                        <li class="other-links__item">
                                            <a href="#"
                                                class="other-links__link position-relative d-flex align-items-center">
                                                <!-- add class "active" what would the icon change -->
                                                <i class="icon icon-shipping"></i>
                                                <span>My orders</span>
                                            </a>
                                        </li>
                                        <li class="other-links__item active-location">
                                            <a href="#"
                                                class="other-links__link position-relative d-flex align-items-center">
                                                <!-- add class "active" what would the icon change -->
                                                <i class="icon icon-book"></i>
                                                <span>Address book</span>
                                            </a>
                                        </li>
                                        <li class="other-links__item">
                                            <a href="/settings.html"
                                                class="other-links__link position-relative d-flex align-items-center">
                                                <!-- add class "active" what would the icon change -->
                                                <i class="icon icon-settings-oval"></i>
                                                <span>Settings</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </section>

                            <section class="section-content">
                                <span class="section-content__title position-relative d-flex align-items-center">Other
                                    links</span>

                                <div class="other-links">
                                    <ul class="other-links__list d-flex flex-column list-unstyled mb-0">
                                        <li class="other-links__item">
                                            <a href="#" class="other-links__link position-relative">
                                                <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
                                                <i class="icon icon-gift active"></i>
                                                <span>Spoil yourself</span>
                                            </a>
                                        </li>
                                        <li class="other-links__item">
                                            <a href="#" class="other-links__link position-relative">
                                                <!-- add class "active" what would the icon change -->
                                                <i class="icon icon-social-media"></i>
                                                <span>Open public goss</span>
                                            </a>
                                        </li>
                                        <li class="other-links__item">
                                            <a href="#"
                                                class="other-links__link position-relative d-flex align-items-center">
                                                <!-- add class "active" what would the icon change -->
                                                <i class="icon icon-discount"></i>
                                                <span>Snatch a bargain</span>
                                            </a>
                                        </li>
                                        <li class="other-links__item">
                                            <a href="#"
                                                class="other-links__link position-relative d-flex align-items-center">
                                                <!-- add class "active" what would the icon change -->
                                                <i class="icon icon-mail"></i>
                                                <span>Shared orders</span>
                                            </a>
                                        </li>
                                        <li class="other-links__item">
                                            <a href="#"
                                                class="other-links__link position-relative d-flex align-items-center">
                                                <!-- add class "active" what would the icon change -->
                                                <i class="icon icon-group"></i>
                                                <span>My groups</span>
                                            </a>
                                        </li>
                                        <li class="other-links__item">
                                            <a href="#"
                                                class="other-links__link position-relative d-flex align-items-center">
                                                <!-- add class "active" what would the icon change -->
                                                <i class="icon icon-heart"></i>
                                                <span>My family</span>
                                            </a>
                                        </li>
                                        <li class="other-links__item">
                                            <a href="#" data-toggle="modal" data-target="#notification"
                                                class="other-links__link position-relative d-flex align-items-center">
                                                <i class="icon icon-notification"></i>
                                                <!-- add class "active" what would the icon change -->
                                                <span>Alerts</span>
                                            </a>
                                        </li>
                                        <li class="other-links__item">
                                            <a href="/shopping-preferences.html"
                                                class="other-links__link position-relative d-flex align-items-center">
                                                <i class="icon icon-setting"></i>
                                                <!-- add class "active" what would the icon change -->
                                                <span>Shopping preferences</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </aside>
                    <!-- /aside-left -->
                    <section class="addressbook__section size-container">
                        <div class="addressbook__box">
                            <div class="addressbook__box-top">
                                <h3>Address book</h3>
                                <small>Manage addresses</small>
                            </div>
                            <div class="addressbook__box-body">
                                <h5>Shipping addresses</h5>
                                <p>Shipping addresses are used to calculate your shipping costs and govermment taxes:
                                </p>
                            </div>
                        </div>

                        <div class="addressbook__box-gray">
                            <div class="addressbook__box-gray__top">
                                <h5>Shipping Address #1</h5>
                                <div class="addressbook__primary"><span>primary</span>
                                    <i></i>
                                </div>
                            </div>
                            <address class="addressbook__box-gray__body">
                                <ul>
                                    <li>20 Kohl street</li>
                                    <li>Upper Coomera</li>
                                    <li>Queensland</li>
                                    <li>4209</li>
                                    <li>Australia</li>
                                </ul>

                            </address>
                            <div class="addressbook__box-gray__bottom">
                                <a href="#" class="btn btn-border">Edit address</a>
                            </div>
                        </div>

                        <div class="addressbook__box-gray">
                            <div class="addressbook__box-gray__top">
                                <h5>Shipping Address #2</h5>

                            </div>
                            <address class="addressbook__box-gray__body">
                                <ul>
                                    <li>20 Kohl street</li>
                                    <li>Upper Coomera</li>
                                    <li>Queensland</li>
                                    <li>4209</li>
                                    <li>Australia</li>
                                </ul>

                            </address>
                            <div class="addressbook__box-gray__bottom">
                                <a href="#" class="btn btn-border">Edit address</a>
                            </div>
                        </div>

                        <div class="addressbook__box">
                            <div class="addressbook__box-top">
                                <h5>Billing addresses</h5>
                            </div>
                            <div class="addressbook__box-body">

                                <p>Billing addresses are used to help us reduce fraud by comparing your postal code with
                                    our
                                    payment gateway providers:</p>
                            </div>
                        </div>

                        <div class="addressbook__box-gray">
                            <div class="addressbook__box-gray__top">
                                <h5>Shipping Address #1</h5>
                                <div class="addressbook__primary"><span>primary</span>
                                    <i></i>
                                </div>
                            </div>
                            <address class="addressbook__box-gray__body">
                                <ul>
                                    <li>20 Kohl street</li>
                                    <li>Upper Coomera</li>
                                    <li>Queensland</li>
                                    <li>4209</li>
                                    <li>Australia</li>
                                </ul>

                            </address>
                            <div class="addressbook__box-gray__bottom">
                                <a href="#" class="btn btn-border">Edit address</a>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>


    {{> ../common/footer }}
    </div>

    <!-- Modals -->
    {{> ../common/modals/create-goss }}
    {{> ../common/modals/menu-mobile }}
    {{> ../common/modals/add-photo }}
    {{> ../common/modals/user-profile-menu }}
    {{> ../common/modals/share-product }}
    {{> ../common/modals/add-timeline-product }}
    {{> ../common/modals/add-wishlist }}
    {{> ../common/modals/search-parameters }}
    {{> ../common/modals/cart }}
    {{> ../common/modals/add-comment }}
    {{> ../common/modals/store-info }}
    {{> ../common/modals/shop-another }}
    {{> ../common/modals/modals-notifications }}
    {{> ../common/modals/goss-gallery }}
    <!-- /Modals -->
</body>

</html>