<!DOCTYPE html>
<html lang="en">

<head>
  {{> ../common/head }}
</head>

<body class="dashboard message">
  {{> ../common/mobile-menu }}
  <div class="section-blur theme-background-one" data-class="blue" id="background">
    {{> ../common/header-dashboard }}
    <div class="container container--admin">
      <a href="#" class="title-back">
        <img src="images/icons/back.svg" alt="back">
        <span>Back to dashboard</span>
      </a>
      <div class="main-dash w-100 d-flex flex-column flex-lg-row align-items-start">
        <aside class="left-column">
          <div class="section-content">
            <span class="label-title">Messages</span>
            <div class="toogle-box">
              <div class="toogle-box__header open">
                <div class="toogle-box__header--left">
                  <h3>From Shoppers (<span>32</span>)</h3>
                </div>
                <div class="toogle-box__header--right">
                  <button class="reset">
                    <img src="images/icons/loop-24px.svg" alt="reset">
                  </button>
                  <button class="arrow-open">
                    <img src="images/icons/arrow__bottom.svg" alt="arrow">
                  </button>
                </div>
              </div>
              <div class="toogle-box__body shoppers">
                <form action="#" class="search">
                  <input type="search" name="search" class="search__input" placeholder="Search for the product"
                    autocomplete="off">
                  <button class="search__button" aria-label="search">
                    <i class="icon icon-search"></i>
                  </button>
                </form>
                <div class="toogle-box__scroll pl-24 pr-20">
                  <div class="message__single new__message d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-content">
            <div class="toogle-box">
              <div class="toogle-box__header">
                <div class="toogle-box__header--left">
                  <h3>My messages (<span>12</span>)</h3>
                </div>
                <div class="toogle-box__header--right">
                  <button class="reset">
                    <img src="images/icons/loop-24px.svg" alt="reset">
                  </button>
                  <button class="arrow-open">
                    <img src="images/icons/arrow__bottom.svg" alt="arrow">
                  </button>
                </div>
              </div>
              <div class="toogle-box__body shoppers" style="display: none;">
                <form action="#" class="search">
                  <input type="search" name="search" class="search__input" placeholder="Search for the product"
                    autocomplete="off">
                  <button class="search__button" aria-label="search">
                    <i class="icon icon-search"></i>
                  </button>
                </form>
                <div class="toogle-box__scroll pl-24 pr-20">
                  <div class="message__single new__message d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-content">
            <div class="toogle-box">
              <div class="toogle-box__header open">
                <div class="toogle-box__header--left">
                  <h3>Online shopper (<span>20</span>)</h3>
                </div>
                <div class="toogle-box__header--right">
                  <button class="arrow-open">
                    <img src="images/icons/arrow__bottom.svg" alt="arrow">
                  </button>
                </div>
              </div>
              <div class="toogle-box__body online-shoper">
                <div class="toogle-box__desc">
                  <span>People browsing your store</span>
                </div>
                <div class="toogle-box__scroll pl-24 pr-20">
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-content">
            <div class="setting-navbar">
              <div class="form d-flex align-items-center">
                <input type="checkbox" id="checkbox-1"
                  class="form__checkbox form__single settings__check form__single--fluid form__single--checkbox form__checkbox--language"
                  name="checkbox-language" checked="">
                <label for="checkbox-1">
                </label>
                <strong class="check-on">Alert me when new messages arrive</strong>
              </div>
              <div class="form d-flex align-items-center">
                <input type="checkbox" id="checkbox-2"
                  class="form__checkbox form__single settings__check form__single--fluid form__single--checkbox form__checkbox--language"
                  name="checkbox-language" checked="">
                <label for="checkbox-2">
                </label>
                <strong class="check-on">Alert me when shopper visits my store</strong>
              </div>
            </div>
          </div>
          <div class="section-content">
            <strong class="reserved">All rights reserved SplitchChek 2020</strong>
          </div>
        </aside>
        <main class="content-column position-relative d-none d-lg-block">
          <div class="messages-empty d-flex flex-column align-items-center">
            <figure class="messages-empty__img">
              <img src="./images/dashboard/Mailbox-bro.svg" alt="messages-empty">
            </figure>
            <p class="messages-empty__text text-blue2">
              Start a conversation by clicking on the Chat button or choosing message to reply from list
            </p>
          </div>
        </main>
        <aside class="right-column">
          <div class="section-content">
            <div class="order-search">
              <span class="section-content__title position-relative d-flex align-items-center">Products &
                tools<i class="icon icon-help ml-1"></i></span>
              <div class="toogle-box toogle-box--search">
                <div class="toogle-box__header">
                  <div class="toogle-box__header--left">
                    <h3>Orders search</h3>
                  </div>
                  <div class="toogle-box__header--right">
                    <button class="reset">
                      <img src="images/icons/loop-24px.svg" alt="reset">
                    </button>
                    <button class="arrow-open">
                      <img src="images/icons/arrow__bottom.svg" alt="arrow">
                    </button>
                  </div>
                </div>
                <div class="toogle-box__body shoppers" style="display: none;">
                  <form action="#" class="search">
                    <input type="search" name="search" class="search__input"
                      placeholder="Search by tracking number or user name" autocomplete="off">
                    <button class="search__button" aria-label="search">
                      <i class="icon icon-search"></i>
                    </button>
                  </form>
                  <div class="order-search__result">
                    <div class="order-search__card-for">
                      <div class="profile-list w-100">
                        <figure class="profile-list__avatar">
                          <img src="images/profiles/user-1.png" alt="avatar">
                          <span class="profile-list__symbol"></span>
                        </figure>
                        <div class="d-flex flex-column ">
                          <span>for:</span>
                          <span>Terry Smith</span>
                        </div>
                      </div>
                    </div>
                    <div class="orders">
                      <!-- status order: add class - .orders__box--orange, .orders__box--green, .orders__box--gray, .orders__box--blue,  .orders__box--red-->
                      <div class="orders__box orders__box--orange position-relative d-flex align-items-center">
                        <div
                          class="orders__toggle-block d-flex w-100  align-items-center justify-content-between flex-column">
                          <div class="orders__toggle-left d-flex w-100">
                            <div class="orders__line"></div>
                            <div class="d-flex flex-column w-100 justify-content-center">
                              <div class="d-flex">
                                <a data-toggle="modal" data-target="#status" href="#">
                                  # 431 245 987
                                </a>
                                <b>Order Name</b>
                                <span class="text-gray">
                                  02.10.2020
                                </span>
                              </div>
                              <div class="d-flex">
                                <p>Pending</p>
                                <span class="text-blue">Recurrent</span>
                              </div>
                            </div>
                          </div>

                          <div class="d-flex w-100 justify-content-between">
                            <div class="d-flex w-100 flex-column orders__price">
                              <span class="text-gray">
                                total price
                              </span>
                              <p>$300.50</p>
                            </div>
                            <div class="d-flex w-100 justify-content-end orders__bottles">
                              <div class="orders__img-block">
                                <img src="images/orders/bottle.png" alt="">
                              </div>
                              <div class="orders__img-block">
                                <img src="images/orders/bottle.png" alt="">
                              </div>
                              <div class="orders__img-block">
                                <img src="images/orders/bottle.png" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="orders__box orders__box--gray position-relative d-flex align-items-center">
                        <div
                          class="orders__toggle-block d-flex w-100  align-items-center justify-content-between flex-column">
                          <div class="orders__toggle-left d-flex w-100">
                            <div class="orders__line"></div>
                            <div class="d-flex flex-column w-100 justify-content-center">
                              <div class="d-flex">
                                <a data-toggle="modal" data-target="#status" href="#">
                                  # 431 245 987
                                </a>
                                <b>Order Name</b>
                                <span class="text-gray">
                                  02.10.2020
                                </span>
                              </div>
                              <div class="d-flex">
                                <p>Pending</p>
                                <span class="text-blue">Recurrent</span>
                              </div>
                            </div>
                          </div>

                          <div class="d-flex w-100 justify-content-between">
                            <div class="d-flex w-100 flex-column orders__price">
                              <span class="text-gray">
                                total price
                              </span>
                              <p>$300.50</p>
                            </div>
                            <div class="d-flex w-100 justify-content-end orders__bottles">
                              <div class="orders__img-block">
                                <img src="images/orders/bottle.png" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-content">
            <div class="drag-drop">
              <form action="#" class="search">
                <input type="search" name="search" class="search__input"
                  placeholder="Search by tracking number or user name" autocomplete="off">
                <button class="search__button" aria-label="search">
                  <i class="icon icon-search"></i>
                </button>
              </form>
              <div class="drag-drop__desc">
                <span>Drag and drop a product to the message</span>
              </div>
              <div class="toogle-box__scroll drag-list">
                <ul class="drag-drop__list columns" id="source-container" data-role="drag-drop-container">
                  <li class="column" id="draggable-1" draggable="true">
                    <span class="drag-drop__photo"
                      style="background-image: url('images/message/variant_42242.png');"></span>
                    <span class="drag-drop__info">
                      <strong>Short Title could be here…</strong>
                      <span class="d-flex w-100">
                        <span class="drag-drop__detail d-flex flex-column">
                          <span>Sku:&nbsp;<span>#134567</span></span>
                          <span>Qty:&nbsp;<span>20</span></span>
                          <span>Price:&nbsp;<span>$49.99</span></span>
                        </span>
                        <div class="mini-post__right">
                          <div class="mini-post__reaction">
                            <ul class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                              <li class="reaction__item-icon">
                                <i class="icon icon-like"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-heart-l"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-happy"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-surprised"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-angry"></i>
                              </li>
                            </ul>
                            <span>56</span>
                          </div>
                          <div class="mini-post__comments">
                            <strong>comments</strong><span>56</span>
                          </div>
                        </div>
                      </span>
                    </span>
                  </li>
                  <li class="column" id="draggable-2" draggable="true">
                    <span class="drag-drop__photo"
                      style="background-image: url('images/message/variant_42242.png');"></span>
                    <span class="drag-drop__info">
                      <strong>Short Title could be here…</strong>
                      <span class="d-flex w-100">
                        <span class="drag-drop__detail d-flex flex-column">
                          <span>Sku:&nbsp;<span>#134567</span></span>
                          <span>Qty:&nbsp;<span>20</span></span>
                          <span>Price:&nbsp;<span>$49.99</span></span>
                        </span>
                        <div class="mini-post__right">
                          <div class="mini-post__reaction">
                            <ul class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                              <li class="reaction__item-icon">
                                <i class="icon icon-like"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-heart-l"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-happy"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-surprised"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-angry"></i>
                              </li>
                            </ul>
                            <span>56</span>
                          </div>
                          <div class="mini-post__comments">
                            <strong>comments</strong><span>56</span>
                          </div>
                        </div>
                      </span>
                    </span>
                  </li>
                  <li class="column" id="draggable-3" draggable="true">
                    <span class="drag-drop__photo"
                      style="background-image: url('images/message/variant_42242.png');"></span>
                    <span class="drag-drop__info">
                      <strong>Short Title could be here…</strong>
                      <span class="d-flex w-100">
                        <span class="drag-drop__detail d-flex flex-column">
                          <span>Sku:&nbsp;<span>#134567</span></span>
                          <span>Qty:&nbsp;<span>20</span></span>
                          <span>Price:&nbsp;<span>$49.99</span></span>
                        </span>
                        <div class="mini-post__right">
                          <div class="mini-post__reaction">
                            <ul class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                              <li class="reaction__item-icon">
                                <i class="icon icon-like"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-heart-l"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-happy"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-surprised"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-angry"></i>
                              </li>
                            </ul>
                            <span>56</span>
                          </div>
                          <div class="mini-post__comments">
                            <strong>comments</strong><span>56</span>
                          </div>
                        </div>
                      </span>
                    </span>
                  </li>
                  <li class="column" id="draggable-4" draggable="true">
                    <span class="drag-drop__photo"
                      style="background-image: url('images/message/variant_42242.png');"></span>
                    <span class="drag-drop__info">
                      <strong>Short Title could be here…</strong>
                      <span class="d-flex w-100">
                        <span class="drag-drop__detail d-flex flex-column">
                          <span>Sku:&nbsp;<span>#134567</span></span>
                          <span>Qty:&nbsp;<span>20</span></span>
                          <span>Price:&nbsp;<span>$49.99</span></span>
                        </span>
                        <div class="mini-post__right">
                          <div class="mini-post__reaction">
                            <ul class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                              <li class="reaction__item-icon">
                                <i class="icon icon-like"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-heart-l"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-happy"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-surprised"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-angry"></i>
                              </li>
                            </ul>
                            <span>56</span>
                          </div>
                          <div class="mini-post__comments">
                            <strong>comments</strong><span>56</span>
                          </div>
                        </div>
                      </span>
                    </span>
                  </li>
                  <li class="column" id="draggable-5" draggable="true">
                    <span class="drag-drop__photo"
                      style="background-image: url('images/message/variant_42242.png');"></span>
                    <span class="drag-drop__info">
                      <strong>Short Title could be here…</strong>
                      <span class="d-flex w-100">
                        <span class="drag-drop__detail d-flex flex-column">
                          <span>Sku:&nbsp;<span>#134567</span></span>
                          <span>Qty:&nbsp;<span>20</span></span>
                          <span>Price:&nbsp;<span>$49.99</span></span>
                        </span>
                        <div class="mini-post__right">
                          <div class="mini-post__reaction">
                            <ul class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                              <li class="reaction__item-icon">
                                <i class="icon icon-like"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-heart-l"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-happy"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-surprised"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-angry"></i>
                              </li>
                            </ul>
                            <span>56</span>
                          </div>
                          <div class="mini-post__comments">
                            <strong>comments</strong><span>56</span>
                          </div>
                        </div>
                      </span>
                    </span>
                  </li>
                  <li class="column" id="draggable-6" draggable="true">
                    <span class="drag-drop__photo"
                      style="background-image: url('images/message/variant_42242.png');"></span>
                    <span class="drag-drop__info">
                      <strong>Short Title could be here…</strong>
                      <span class="d-flex w-100">
                        <span class="drag-drop__detail d-flex flex-column">
                          <span>Sku:&nbsp;<span>#134567</span></span>
                          <span>Qty:&nbsp;<span>20</span></span>
                          <span>Price:&nbsp;<span>$49.99</span></span>
                        </span>
                        <div class="mini-post__right">
                          <div class="mini-post__reaction">
                            <ul class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                              <li class="reaction__item-icon">
                                <i class="icon icon-like"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-heart-l"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-happy"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-surprised"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-angry"></i>
                              </li>
                            </ul>
                            <span>56</span>
                          </div>
                          <div class="mini-post__comments">
                            <strong>comments</strong><span>56</span>
                          </div>
                        </div>
                      </span>
                    </span>
                  </li>
                  <li class="column" id="draggable-7" draggable="true">
                    <span class="drag-drop__photo"
                      style="background-image: url('images/message/variant_42242.png');"></span>
                    <span class="drag-drop__info">
                      <strong>Short Title could be here…</strong>
                      <span class="d-flex w-100">
                        <span class="drag-drop__detail d-flex flex-column">
                          <span>Sku:&nbsp;<span>#134567</span></span>
                          <span>Qty:&nbsp;<span>20</span></span>
                          <span>Price:&nbsp;<span>$49.99</span></span>
                        </span>
                        <div class="mini-post__right">
                          <div class="mini-post__reaction">
                            <ul class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                              <li class="reaction__item-icon">
                                <i class="icon icon-like"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-heart-l"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-happy"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-surprised"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-angry"></i>
                              </li>
                            </ul>
                            <span>56</span>
                          </div>
                          <div class="mini-post__comments">
                            <strong>comments</strong><span>56</span>
                          </div>
                        </div>
                      </span>
                    </span>
                  </li>
                  <li class="column" id="draggable-8" draggable="true">
                    <span class="drag-drop__photo"
                      style="background-image: url('images/message/variant_42242.png');"></span>
                    <span class="drag-drop__info">
                      <strong>Short Title could be here…</strong>
                      <span class="d-flex w-100">
                        <span class="drag-drop__detail d-flex flex-column">
                          <span>Sku:&nbsp;<span>#134567</span></span>
                          <span>Qty:&nbsp;<span>20</span></span>
                          <span>Price:&nbsp;<span>$49.99</span></span>
                        </span>
                        <div class="mini-post__right">
                          <div class="mini-post__reaction">
                            <ul class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                              <li class="reaction__item-icon">
                                <i class="icon icon-like"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-heart-l"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-happy"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-surprised"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-angry"></i>
                              </li>
                            </ul>
                            <span>56</span>
                          </div>
                          <div class="mini-post__comments">
                            <strong>comments</strong><span>56</span>
                          </div>
                        </div>
                      </span>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="section-content">
            <span class="section-content__title position-relative d-flex align-items-center">Recommended</span>

            <div class="recomended w-100 overflow-hidden">
              <ul class="recomended__list list-unstyled position-relative" data-scroll="perfect-scrollbar">
                <li class="recomended__item">
                  <a href="#" class="recomended-card position-relative d-flex align-items-stretch">
                    <figure
                      class="recomended-card__img position-relative d-flex align-items-center justify-content-center">
                      <img src="./images/product/mass-mini.png" alt="recomended-card-img">
                    </figure>
                    <div class="recomended-card__content d-flex flex-column">
                      <h2 class="recomended-card__title">Short Title could be here Short Title could be here</h2>
                      <span class="recomended-card__price"><span>Price: </span><i>$49.99</i></span>
                    </div>
                  </a>
                </li>
                <li class="recomended__item">
                  <a href="#" class="recomended-card position-relative d-flex align-items-stretch">
                    <figure
                      class="recomended-card__img position-relative d-flex align-items-center justify-content-center">
                      <img src="./images/product/mass-mini.png" alt="recomended-card-img">
                    </figure>
                    <div class="recomended-card__content d-flex flex-column">
                      <h2 class="recomended-card__title">Short Title could be here Short Title could be here</h2>
                      <span class="recomended-card__price"><span>Price: </span><i>$49.99</i></span>
                    </div>
                  </a>
                </li>
                <li class="recomended__item">
                  <a href="#" class="recomended-card position-relative d-flex align-items-stretch">
                    <figure
                      class="recomended-card__img position-relative d-flex align-items-center justify-content-center">
                      <img src="./images/product/mass-mini.png" alt="recomended-card-img">
                    </figure>
                    <div class="recomended-card__content d-flex flex-column">
                      <h2 class="recomended-card__title">Short Title could be here Short Title could be here</h2>
                      <span class="recomended-card__price"><span>Price: </span><i>$49.99</i></span>
                    </div>
                  </a>
                </li>
                <li class="recomended__item">
                  <a href="#" class="recomended-card position-relative d-flex align-items-stretch">
                    <figure
                      class="recomended-card__img position-relative d-flex align-items-center justify-content-center">
                      <img src="./images/product/mass-mini.png" alt="recomended-card-img">
                    </figure>
                    <div class="recomended-card__content d-flex flex-column">
                      <h2 class="recomended-card__title">Short Title could be here Short Title could be here</h2>
                      <span class="recomended-card__price"><span>Price: </span><i>$49.99</i></span>
                    </div>
                  </a>
                </li>
                <li class="recomended__item">
                  <a href="#" class="recomended-card position-relative d-flex align-items-stretch">
                    <figure
                      class="recomended-card__img position-relative d-flex align-items-center justify-content-center">
                      <img src="./images/product/mass-mini.png" alt="recomended-card-img">
                    </figure>
                    <div class="recomended-card__content d-flex flex-column">
                      <h2 class="recomended-card__title">Short Title could be here Short Title could be here</h2>
                      <span class="recomended-card__price"><span>Price: </span><i>$49.99</i></span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>

  <!-- Modals -->
  {{> ../common/modals/create-goss }}
  {{> ../common/modals/add-files }}
  <!-- /Modals -->
</body>

</html>
