<!DOCTYPE html>
<html lang="en">

<head>
  {{> ../common/head }}
</head>

<body class="dashboard">
  {{> ../common/header-dashboard }}
  {{> ../common/admin-menu }}
  {{> ../common/mobile-menu-bottom }}

  <div class="section-blur theme-background-one" data-class="blue" id="background">

    <div class="container container--admin">
      <div class="main-content position-relative d-flex align-items-start justify-content-between">
        <!-- main -->
        <main class="main main--fluid">
          <div class="toogle-box">
            <div class="toogle-box__header">
              <div class="toogle-box__header--left">
                <h3>My timeline</h3>
              </div>
              <div class="toogle-box__header--right">
                <button class="arrow-open">
                  <img src="images/icons/arrow__bottom.svg" alt="arrow">
                </button>
              </div>
            </div>
            <div class="toogle-box__body shoppers" style="display: none;">
              <div class="toogle-box__scroll pl-24 pr-20">
              </div>
            </div>
          </div>
          <div class="toogle-box">
            <div class="toogle-box__header">
              <div class="toogle-box__header--left">
                <h3>shoppers messages (<span>0</span>)</h3>
              </div>
              <div class="toogle-box__header--right">
                <button class="reset">
                  <img src="images/icons/loop-24px.svg" alt="reset">
                </button>
                <button class="arrow-open">
                  <img src="images/icons/arrow__bottom.svg" alt="arrow">
                </button>
              </div>
            </div>
            <div class="toogle-box__body shoppers" style="display: none;">
              <div class="toogle-box__scroll pl-24 pr-20">
              </div>
            </div>
          </div>

          <section class="section-content">
            <span class="section-content__title position-relative d-flex align-items-center">Store statistic</span>

            <div class="statistic">
              <ul class="statistic__list d-flex align-items-center justify-content-between list-unstyled mb-0">
                <li class="statistic__item d-flex flex-column align-items-center justify-content-center">
                  <span class="statistic-num">0</span>
                  <span class="statistic-text">Views</span>
                </li>
                <li class="statistic__item d-flex flex-column align-items-center justify-content-center">
                  <span class="statistic-num">0</span>
                  <span class="statistic-text">Purchases</span>
                </li>
                <li class="statistic__item d-flex flex-column align-items-center justify-content-center">
                  <span class="statistic-num">$ 0</span>
                  <span class="statistic-text">Av. order value</span>
                </li>
                <li class="statistic__item d-flex flex-column align-items-center justify-content-center">
                  <span class="statistic-num">0</span>
                  <span class="statistic-text">Order quantity</span>
                </li>
              </ul>
            </div>

            <div class="section-content__tiles d-flex align-items-center flex-wrap flex-column justify-content-between">
              <div class="statistic-box position-relative overflow-hidden">
                <ul class="statistic-box__post w-100">
                  <li><span>reactions</span>
                    <b>0</b>
                  </li>
                  <li><span>comments</span> <b>0</b></li>
                  <li><span>added to timeline</span> <b>0</b></li>
                  <li><span>shared</span> <b>0</b></li>
                </ul>
                <div class="statistic-box__reaction w-100">
                  <h4>Reactions</h4>
                  <div class="statistic-box__emotion">
                    <ul>
                      <li>
                        <div class="progress" data-progress="0">
                          <div class="line blue"></div>
                        </div>
                        <i class="icon icon-like"></i>
                        <span>like</span>
                        <strong>0</strong>
                      </li>
                      <li>
                        <div class="progress" data-progress="0">
                          <div class="line red"></div>
                        </div>
                        <i class="icon icon-heart-l"></i>
                        <span>love</span>
                        <strong>0</strong>
                      </li>
                      <li>
                        <div class="progress" data-progress="0">
                          <div class="line"></div>
                        </div>
                        <i class="icon icon-happy"></i>
                        <span>joy</span>
                        <strong>0</strong>
                      </li>
                      <li>
                        <div class="progress" data-progress="0">
                          <div class="line"></div>
                        </div>
                        <i class="icon icon-surprised"></i>
                        <span>wow</span>
                        <strong>0</strong>
                      </li>
                      <li>
                        <div class="progress" data-progress="0">
                          <div class="line"></div>
                        </div>
                        <i class="icon icon-angry"></i>
                        <span>angry</span>
                        <strong>0</strong>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="main__card main__card--bias position-relative overflow-hidden">
                <div
                  class="internal-card internal-card--main w-100 d-flex flex-column align-items-center align-items-lg-start flex-lg-row">
                  <div class="internal-card__info">
                    <h2>Grow your business</h2>
                    <p>
                      Shoppers want to get in touch with your business. Expose your business using SplitChek's ads
                      <a href="#">...Read More</a>
                    </p>
                  </div>
                  <figure class="internal-card__img mb-0">
                    <img src="images/dashboard/Influencer-bro.svg" alt="card-img">
                  </figure>
                </div>
                <div class="main__buttons">
                  <a href="#" class="btn-border">Promote store</a>
                </div>
              </div>

              <div class="main__card main__card--bias position-relative overflow-hidden">
                <div
                  class="internal-card internal-card--main w-100 d-flex flex-column align-items-center align-items-lg-start flex-lg-row">
                  <div class="internal-card__info">
                    <h2>Be open to a people</h2>
                    <p>
                      Goss is here to help you with your business. Expose your business using SplitChek's goss.
                      <a href="#">...Read More</a>
                    </p>
                  </div>
                  <figure class="internal-card__img mb-0">
                    <img src="images/dashboard/Buffer-bro.svg" alt="card-img">
                  </figure>
                </div>
                <div class="main__buttons">
                  <a href="#" class="btn-border">Create a goss</a>
                </div>
              </div>
            </div>
          </section>

          <section class="section-content">
            <span class="section-content__title position-relative d-flex align-items-center">Social moments</span>
            <span class="section-content__title section-content__title--black text-dark-blue">
              SplitChek rewards you for being social and engaging to shoppers. Below are the results of your work:
            </span>

            <div class="moments">
              <ul class="moments__list d-flex flex-wrap align-items-start justify-content-between list-unstyled mb-0">
                <li class="moments__item d-flex flex-column">
                  <span class="moments__num">0</span>
                  <h2 class="moments__title text-orange">Followers</h2>
                  <p class="moments__text text-silver">
                    You can send emails to your followers for free
                  </p>
                </li>
                <li class="moments__item d-flex flex-column">
                  <span class="moments__num">0</span>
                  <h2 class="moments__title text-orange">Following</h2>
                  <p class="moments__text text-silver">
                    Improve your social network by following others including your followers
                  </p>
                </li>
                <li class="moments__item d-flex flex-column">
                  <span class="moments__num">0</span>
                  <h2 class="moments__title text-orange">Business stories and anemeties</h2>
                  <p class="moments__text text-silver">
                    Your engagement with shoppers through business stories and social moments
                  </p>
                </li>
                <li class="moments__item d-flex flex-column">
                  <span class="moments__num">0</span>
                  <h2 class="moments__title text-orange">Altruistic behaviors</h2>
                  <p class="moments__text text-silver">
                    Help SplitChek' shoppers at checkout by contributing towards their bill
                  </p>
                </li>
                <li class="moments__item d-flex flex-column">
                  <span class="moments__num">0</span>
                  <h2 class="moments__title text-orange">Items in the bargains</h2>
                  <p class="moments__text text-silver">
                    Bargains give you the chance to sell your products at random discount defined by you.
                  </p>
                </li>
                <li class="moments__item d-flex flex-column">
                  <span class="moments__num">0</span>
                  <h2 class="moments__title text-orange">Items in the wishlist</h2>
                  <p class="moments__text text-silver">
                    Shoppers use the wishlist to share gifts, split payments and lots more
                  </p>
                </li>
              </ul>
            </div>
          </section>

          <section class="section-content">
            <span class="section-content__title position-relative d-flex align-items-center">
              <span>what shoppers say about your store</span>
            </span>
            <div
              class="main__card main__card--noshadow position-relative d-flex align-items-center justify-content-between flex-column overflow-hidden">
              <div class="internal-card d-flex align-items-center justify-content-center flex-column">
                <figure class="internal-card__img mb-0">
                  <img src="images/home/buffer.svg" alt="card-img">
                </figure>
                <div class="internal-card__info">
                  <h2>Nothing about you, yet</h2>
                </div>
              </div>
              <div class="main__buttons">
                <a href="#" class="btn-border">Create a goss</a>
              </div>
            </div>

          </section>
        </main>
        <!-- /main -->
        <!-- aside-right -->

        <!-- /aside-right -->
      </div>
    </div>
  </div>
</body>

</html>
