<!DOCTYPE html>
<html lang="en">

<head>
  {{> ../common/head }}
</head>

<body class="dashboard">
  {{> ../common/header-dashboard }}
  {{> ../common/admin-menu }}
  {{> ../common/mobile-menu-bottom }}

  <div class="section-blur theme-background-one" data-class="blue" id="background">

    <div class="container container--admin">
      <div class="main-content position-relative d-flex align-items-start justify-content-between">
        <!-- main -->
        <main class="main">
          <div class="section-content">
            <div class="main__card position-relative">

            </div>
          </div>
        </main>
        <!-- /main -->
        <!-- aside-right -->
        <!-- <aside class="aside-right d-none d-lg-block">
          <section class="section-content">
            <span class="section-content__title position-relative d-flex align-items-center">Recent earning</span>

          </section>

          <section class="section-content">
            <div class="card-shadow  position-relative"></div>
          </section>
        </aside> -->
        <!-- /aside-right -->
      </div>
    </div>
  </div>
</body>

</html>
