<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body class="profile home bargain">
    {{> ../common/mobile-menu }}
    {{> ../common/mobile-menu-bottom }}
    <div class="section-blur theme-background-one" data-class="maze" id="background">
        {{> ../common/header-next }}
        <div class="container">
            <div class="main-content position-relative d-flex align-items-start justify-content-between">
                <!-- aside-left -->
                <aside class="aside-left">
                    <div class="scroll-div">
                        <section class="section-content">
                            <span class="section-content__title position-relative d-flex align-items-center">Other
                                links</span>

                            <div class="other-links">
                                <ul class="other-links__list d-flex flex-column list-unstyled mb-0">
                                    <li class="other-links__item">
                                        <a href="#" class="other-links__link position-relative">
                                            <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
                                            <i class="icon icon-gift active"></i>
                                            <span>Spoil yourself</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#" class="other-links__link position-relative">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-social-media"></i>
                                            <span>Open public goss</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center this">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-discount this"></i>
                                            <span>Snatch a bargain</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-mail"></i>
                                            <span>Shared orders</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-group"></i>
                                            <span>My groups</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-heart"></i>
                                            <span>My family</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#" data-toggle="modal" data-target="#notification"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <i class="icon icon-notification"></i>
                                            <!-- add class "active" what would the icon change -->
                                            <span>Alerts</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <i class="icon icon-setting"></i>
                                            <!-- add class "active" what would the icon change -->
                                            <span>Shopping preferences</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </aside>
                <!-- /aside-left -->
                <!-- main -->
                <main class="main">
                    <span class="section-content__title position-relative d-flex align-items-center">Search Results
                        for</span>
                    <div class="section-content">
                    </div>
                    <span class="section-content__title position-relative d-flex align-items-center">Snatch a
                        bargain</span>
                    <div class="section-content">
                        <div class="bargain-gallery">
                            <div class="goss-gallery">
                                <div class="goss-gallery__slider swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" data-hash="0">
                                            <div class="goss-gallery__item">
                                                <figure class="goss-gallery__img">
                                                    <img src="images/shop/goss-slider.jpg" alt="img">
                                                </figure>
                                                <div class="goss-gallery__desc">
                                                    <p>
                                                        Genetix Nutrition products are developed by an internal research
                                                        team assisted by Grant Mayo to
                                                        ensure the greatest quality
                                                    </p>
                                                </div>
                                                <div
                                                    class="goss-gallery__price goss-gallery__price--discount d-flex align-items-center flex-wrap">
                                                    <span>$49.99</span>
                                                    <span>save $11.00</span>
                                                    <span>$60.99</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" data-hash="1">
                                            <div class="goss-gallery__item">
                                                <figure class="goss-gallery__img">
                                                    <img src="images/shop/goss-slider.jpg" alt="img">
                                                </figure>
                                                <div class="goss-gallery__desc">
                                                    <p>
                                                        Genetix Nutrition products are developed by an internal research
                                                        team assisted by Grant Mayo to
                                                        ensure the greatest quality
                                                    </p>
                                                </div>
                                                <div
                                                    class="goss-gallery__price goss-gallery__price--discount d-flex align-items-center flex-wrap">
                                                    <span>$49.99</span>
                                                    <span>save $11.00</span>
                                                    <span>$60.99</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" data-hash="2">
                                            <div class="goss-gallery__item">
                                                <figure class="goss-gallery__img">
                                                    <img src="images/shop/goss-slider.jpg" alt="img">
                                                </figure>
                                                <div class="goss-gallery__desc">
                                                    <p>
                                                        Genetix Nutrition products are developed by an internal research
                                                        team assisted by Grant Mayo to
                                                        ensure the greatest quality
                                                    </p>
                                                </div>
                                                <div
                                                    class="goss-gallery__price goss-gallery__price--discount d-flex align-items-center flex-wrap">
                                                    <span>$49.99</span>
                                                    <span>save $11.00</span>
                                                    <span>$60.99</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-button swiper-button-prev"></div>
                                    <div class="swiper-button swiper-button-next"></div>
                                </div>

                                <div class="goss-gallery__progress-bar">
                                    <div class="goss-gallery__progress-wrap"></div>
                                    <span class="goss-gallery__timer" data-time="10">
                                        <i>10</i>seconds left
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- /main -->
                <!-- aside-right -->
                <aside class="aside-right d-none d-lg-block">

                </aside>
                <!-- /aside-right -->
            </div>
        </div>

        {{> ../common/footer }}
    </div>

    <!-- Modals -->
    {{> ../common/modals/create-goss }}
    {{> ../common/modals/menu-mobile }}
    {{> ../common/modals/add-photo }}
    {{> ../common/modals/user-profile-menu }}
    {{> ../common/modals/share-product }}
    {{> ../common/modals/add-timeline-product }}
    {{> ../common/modals/add-wishlist }}
    {{> ../common/modals/search-parameters }}
    {{> ../common/modals/cart }}
    {{> ../common/modals/add-comment }}
    {{> ../common/modals/store-info }}
    {{> ../common/modals/shop-another }}
    {{> ../common/modals/modals-notifications }}
    {{> ../common/modals/message-overlay }}
    {{> ../common/modals/menu-mobile--not-shop }}
    <!-- /Modals -->
</body>

</html>