<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body class="  blog ">
    {{> ../common/mobile-menu }}

    <div class="section-blur blog-before">
        {{> ../common/header-blog }}
        <div class="blog-content">
            <div class="container">
                <div
                    class="main-content position-relative d-flex align-items-start justify-content-between  blog-user blog-main">
                    <div class="main-item">
                        <a href="#" class="section-content__title position-relative d-flex align-items-center">
                            <span><img src="images/icons/back.svg" alt="back">Back to blog</span>
                        </a>

                        <div class="blog-user__top d-flex ">
                            <div class="d-flex">
                                <a href="#" data-toggle="modal" data-target="#blog-user"
                                    class="card-timeline__link card-timeline__link--contact">
                                    <img src="images/blog/user.png" alt="avatar">
                                    <span>JS</span>
                                </a>
                            </div>
                            <div class="d-flex flex-column w-100">
                                <div class="d-flex justify-content-between blog-user__top-title">

                                    <div class="d-flex">
                                        <h5>John Smith</h5>
                                        <strong>Topic of writing</strong>
                                    </div>
                                    <a href="#" class="btn-border">Follow on <img class="heart-blue"
                                            src="images/blog/heart.png" alt="icon">
                                        <img class="heart-white" src="images/blog/heart-white.png"></a>
                                </div>

                                <div class="d-flex justify-content-between">
                                    <p>Genetix Nutrition products are devoloped by an internal research team assisted by
                                        Grant Mayo to ensure the greatest quality and product performance. Particular
                                        attention has been given in the manufacturing process of Genetix Nutrition for
                                        excellent taste </p>
                                    <a class="link-gray d-flex align-items-center" href="#"><img
                                            src="images/blog/face.svg" alt="followers">999 followers</a>
                                </div>
                                <div class="blog-user__top-links">
                                    <a href="#" class="btn-border">Follow on <img class="heart-blue"
                                            src="images/blog/heart.png" alt="icon">
                                        <img class="heart-white" src="images/blog/heart-white.png"></a>
                                    <a class=" d-flex align-items-center" href="#"><img src="images/blog/face.svg"
                                            alt="followers">999 followers</a>
                                </div>
                            </div>

                        </div>

                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-column w-100">
                                <form action="#" id="search-2" class="search search-mob-none blog-main__search">

                                    <input type="search" name="search" class="search__input"
                                        placeholder="Search for a blog" id="search-input-2" autocomplete="off">
                                    <button class="search__button" aria-label="search">
                                        <i class="icon icon-search"></i>
                                    </button>

                                    <div class="search__result">
                                        <ul class="search__result-list">
                                            <li class="search__result-item d-flex align-items-center">
                                                <p>
                                                    <b>pa</b>int
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="btn-blue"><svg xmlns="http://www.w3.org/2000/svg" width="21"
                                            height="21" viewBox="0 0 21 21">
                                            <g>
                                                <g>
                                                    <g>
                                                        <path fill="#fff"
                                                            d="M8.084 13.334a5.243 5.243 0 0 1-5.25-5.25 5.243 5.243 0 0 1 5.25-5.25 5.243 5.243 0 0 1 5.25 5.25 5.243 5.243 0 0 1-5.25 5.25zm7 0h-.922l-.326-.315a7.584 7.584 0 0 0 1.726-6.23C15.014 3.546 12.307.956 9.041.56A7.589 7.589 0 0 0 .559 9.041c.397 3.266 2.987 5.973 6.23 6.521a7.584 7.584 0 0 0 6.23-1.726l.315.326v.922l4.958 4.958c.479.479 1.26.479 1.739 0a1.232 1.232 0 0 0 0-1.738z">
                                                        </path>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>Search</button>
                                </form>
                                <div class="section-mobile">

                                    <div class="section-toggle">
                                        <div class="section-content">
                                            <form action="#" id="search-2" class="search blog-main__search">

                                                <input type="search" name="search" class="search__input"
                                                    placeholder="Search for a blog" id="search-input-2"
                                                    autocomplete="off">
                                                <button class="search__button" aria-label="search">
                                                    <i class="icon icon-search"></i>
                                                </button>

                                                <div class="search__result">
                                                    <ul class="search__result-list">
                                                        <li class="search__result-item d-flex align-items-center">
                                                            <p>
                                                                <b>pa</b>int
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <button class="btn-blue"><svg xmlns="http://www.w3.org/2000/svg"
                                                        width="21" height="21" viewBox="0 0 21 21">
                                                        <g>
                                                            <g>
                                                                <g>
                                                                    <path fill="#fff"
                                                                        d="M8.084 13.334a5.243 5.243 0 0 1-5.25-5.25 5.243 5.243 0 0 1 5.25-5.25 5.243 5.243 0 0 1 5.25 5.25 5.243 5.243 0 0 1-5.25 5.25zm7 0h-.922l-.326-.315a7.584 7.584 0 0 0 1.726-6.23C15.014 3.546 12.307.956 9.041.56A7.589 7.589 0 0 0 .559 9.041c.397 3.266 2.987 5.973 6.23 6.521a7.584 7.584 0 0 0 6.23-1.726l.315.326v.922l4.958 4.958c.479.479 1.26.479 1.739 0a1.232 1.232 0 0 0 0-1.738z">
                                                                    </path>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </svg></button>
                                            </form>
                                            <div class="blog-main__table">

                                                <div class="toggle-content">
                                                    <div
                                                        class="d-flex blog-main__string align-items-center justify-content-between">
                                                        <p>Category</p>
                                                        <p>16</p>
                                                    </div>
                                                    <div
                                                        class="d-flex blog-main__string align-items-center justify-content-between">
                                                        <p>Category</p>
                                                        <p>999</p>
                                                    </div>
                                                    <div
                                                        class="d-flex blog-main__string align-items-center justify-content-between">
                                                        <p>Category</p>
                                                        <p>1</p>
                                                    </div>
                                                    <div
                                                        class="d-flex blog-main__string align-items-center justify-content-between">
                                                        <p>Category</p>
                                                        <p>42</p>
                                                    </div>
                                                    <div
                                                        class="d-flex blog-main__string align-items-center justify-content-between">
                                                        <p>Category</p>
                                                        <p>7</p>
                                                    </div>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-center toggle-btn">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="9"
                                                        viewBox="0 0 14 9">
                                                        <g>
                                                            <g>
                                                                <path fill="none" stroke="#335491"
                                                                    stroke-miterlimit="20" stroke-width="2"
                                                                    d="M1 1v0l5.916 6v0L13 1v0" />
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="section-content">

                                        <div class="big-post ">
                                            <div class="big-post__info d-flex flex-column">
                                                <div class="big-post__top">
                                                    <div
                                                        class="d-flex justify-content-between w-100 align-items-center">
                                                        <figure class="profile-list__avatar">
                                                            <img src="images/profiles/user-1.png" alt="avatar">
                                                            <span class="profile-list__symbol"></span>
                                                        </figure>
                                                        <a href="#" class="btn-orange">sponsored</a>
                                                    </div>
                                                    <div class="big-post__img">
                                                        <img src="images/blog/bottle-big.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="big-post__detail ">
                                                    <ul
                                                        class="keywords__list d-flex align-items-center flex-wrap big-post__tag">
                                                        <li class="keywords__item">
                                                            <a href="#" class="keywords__link">#Brand number two</a>
                                                        </li>

                                                    </ul>
                                                    <div class="mini-post__title">
                                                        <a href="#">Lorem ipsum dolor sit amet lorem </a>
                                                    </div>
                                                    <div class="mini-post__link">
                                                        <div class="mini-post__right d-flex justify-content-between">
                                                            <div class="mini-post__reaction">
                                                                <ul
                                                                    class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                                                                    <li class="reaction__item-icon">
                                                                        <i class="icon icon-like"></i>
                                                                    </li>
                                                                    <li class="reaction__item-icon">
                                                                        <i class="icon icon-heart-l"></i>
                                                                    </li>
                                                                    <li class="reaction__item-icon">
                                                                        <i class="icon icon-happy"></i>
                                                                    </li>
                                                                    <li class="reaction__item-icon">
                                                                        <i class="icon icon-surprised"></i>
                                                                    </li>
                                                                    <li class="reaction__item-icon">
                                                                        <i class="icon icon-angry"></i>
                                                                    </li>
                                                                </ul>
                                                                <div class="reaction__pop">
                                                                    <ul class="smile">
                                                                        <li>
                                                                            <i class="like"></i>
                                                                            <span>like</span>
                                                                            <span>200</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="heart"></i>
                                                                            <span>love</span>
                                                                            <span>170</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="happy"></i>
                                                                            <span>joy</span>
                                                                            <span>2</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="surprised"></i>
                                                                            <span>wow</span>
                                                                            <span>65</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="angry"></i>
                                                                            <span>angry</span>
                                                                            <span>0</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <span>56</span>
                                                            </div>

                                                            <small class="text-gray">
                                                                0 comments
                                                            </small>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="section-content blog__products-user">
                                    <div class="product-post">
                                        <div class="mini-post__info d-flex">
                                            <div class="big-post__top">
                                                <figure class="profile-list__avatar">
                                                    <img src="images/profiles/user-1.png" alt="avatar">
                                                    <span class="profile-list__symbol"></span>
                                                </figure>
                                                <div class="big-post__img">
                                                    <img src="images/blog/bottle-big.png" alt="">
                                                </div>
                                            </div>
                                            <div class="mini-post__detail d-flex flex-column ">
                                                <ul
                                                    class="keywords__list d-flex align-items-center flex-wrap big-post__tag">
                                                    <li class="keywords__item">
                                                        <a href="#" class="keywords__link">#Brand number two</a>
                                                    </li>

                                                </ul>
                                                <div class="mini-post__title d-flex flex-column">
                                                    <a href="#" class="keywords__link">#Brand number two</a>
                                                    <a href="#">Lorem ipsum dolor sit amet lorem </a>
                                                    <p>To help your skin thrive, use Moroccan argan extract which
                                                        conditions and
                                                        moisturizes while chlorella brings a boost of skin-benefiting
                                                        vitamins
                                                        and
                                                        omega 3s for extra glowing goodness</p>
                                                </div>
                                                <div class="mini-post__link">
                                                    <div class="mini-post__right d-flex justify-content-between">
                                                        <div class="mini-post__reaction">
                                                            <ul
                                                                class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                                                                <li class="reaction__item-icon">
                                                                    <i class="icon icon-like"></i>
                                                                </li>
                                                                <li class="reaction__item-icon">
                                                                    <i class="icon icon-heart-l"></i>
                                                                </li>
                                                                <li class="reaction__item-icon">
                                                                    <i class="icon icon-happy"></i>
                                                                </li>
                                                                <li class="reaction__item-icon">
                                                                    <i class="icon icon-surprised"></i>
                                                                </li>
                                                                <li class="reaction__item-icon">
                                                                    <i class="icon icon-angry"></i>
                                                                </li>
                                                            </ul>
                                                            <div class="reaction__pop">
                                                                <ul class="smile">
                                                                    <li>
                                                                        <i class="like"></i>
                                                                        <span>like</span>
                                                                        <span>200</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="heart"></i>
                                                                        <span>love</span>
                                                                        <span>170</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="happy"></i>
                                                                        <span>joy</span>
                                                                        <span>2</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="surprised"></i>
                                                                        <span>wow</span>
                                                                        <span>65</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="angry"></i>
                                                                        <span>angry</span>
                                                                        <span>0</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <span>56</span>
                                                        </div>

                                                        <small class="text-gray">
                                                            0 comments
                                                        </small>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="product-post">
                                        <div class="mini-post__info d-flex">
                                            <div class="big-post__top">
                                                <figure class="profile-list__avatar">
                                                    <img src="images/profiles/user-1.png" alt="avatar">
                                                    <span class="profile-list__symbol"></span>
                                                </figure>
                                                <div class="big-post__img">
                                                    <img src="images/blog/bottle-big.png" alt="">
                                                </div>
                                            </div>
                                            <div class="mini-post__detail d-flex flex-column ">
                                                <ul
                                                    class="keywords__list d-flex align-items-center flex-wrap big-post__tag">
                                                    <li class="keywords__item">
                                                        <a href="#" class="keywords__link">#Brand number two</a>
                                                    </li>

                                                </ul>
                                                <div class="mini-post__title d-flex flex-column">
                                                    <a href="#" class="keywords__link">#Brand number two</a>
                                                    <a href="#">Lorem ipsum dolor sit amet lorem </a>
                                                    <p>To help your skin thrive, use Moroccan argan extract which
                                                        conditions and
                                                        moisturizes while chlorella brings a boost of skin-benefiting
                                                        vitamins
                                                        and
                                                        omega 3s for extra glowing goodness</p>
                                                </div>
                                                <div class="mini-post__link">
                                                    <div class="mini-post__right d-flex justify-content-between">
                                                        <div class="mini-post__reaction">
                                                            <ul
                                                                class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                                                                <li class="reaction__item-icon">
                                                                    <i class="icon icon-like"></i>
                                                                </li>
                                                                <li class="reaction__item-icon">
                                                                    <i class="icon icon-heart-l"></i>
                                                                </li>
                                                                <li class="reaction__item-icon">
                                                                    <i class="icon icon-happy"></i>
                                                                </li>
                                                                <li class="reaction__item-icon">
                                                                    <i class="icon icon-surprised"></i>
                                                                </li>
                                                                <li class="reaction__item-icon">
                                                                    <i class="icon icon-angry"></i>
                                                                </li>
                                                            </ul>
                                                            <div class="reaction__pop">
                                                                <ul class="smile">
                                                                    <li>
                                                                        <i class="like"></i>
                                                                        <span>like</span>
                                                                        <span>200</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="heart"></i>
                                                                        <span>love</span>
                                                                        <span>170</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="happy"></i>
                                                                        <span>joy</span>
                                                                        <span>2</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="surprised"></i>
                                                                        <span>wow</span>
                                                                        <span>65</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="angry"></i>
                                                                        <span>angry</span>
                                                                        <span>0</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <span>56</span>
                                                        </div>

                                                        <small class="text-gray">
                                                            0 comments
                                                        </small>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="product-post">
                                        <div class="mini-post__info d-flex">
                                            <div class="big-post__top">
                                                <figure class="profile-list__avatar">
                                                    <img src="images/profiles/user-1.png" alt="avatar">
                                                    <span class="profile-list__symbol"></span>
                                                </figure>
                                                <div class="big-post__img">
                                                    <img src="images/blog/bottle-big.png" alt="">
                                                </div>
                                            </div>
                                            <div class="mini-post__detail d-flex flex-column ">
                                                <ul
                                                    class="keywords__list d-flex align-items-center flex-wrap big-post__tag">
                                                    <li class="keywords__item">
                                                        <a href="#" class="keywords__link">#Brand number two</a>
                                                    </li>

                                                </ul>
                                                <div class="mini-post__title d-flex flex-column">
                                                    <a href="#" class="keywords__link">#Brand number two</a>
                                                    <a href="#">Lorem ipsum dolor sit amet lorem </a>
                                                    <p>To help your skin thrive, use Moroccan argan extract which
                                                        conditions and
                                                        moisturizes while chlorella brings a boost of skin-benefiting
                                                        vitamins
                                                        and
                                                        omega 3s for extra glowing goodness</p>
                                                </div>
                                                <div class="mini-post__link">
                                                    <div class="mini-post__right d-flex justify-content-between">
                                                        <div class="mini-post__reaction">
                                                            <ul
                                                                class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                                                                <li class="reaction__item-icon">
                                                                    <i class="icon icon-like"></i>
                                                                </li>
                                                                <li class="reaction__item-icon">
                                                                    <i class="icon icon-heart-l"></i>
                                                                </li>
                                                                <li class="reaction__item-icon">
                                                                    <i class="icon icon-happy"></i>
                                                                </li>
                                                                <li class="reaction__item-icon">
                                                                    <i class="icon icon-surprised"></i>
                                                                </li>
                                                                <li class="reaction__item-icon">
                                                                    <i class="icon icon-angry"></i>
                                                                </li>
                                                            </ul>
                                                            <div class="reaction__pop">
                                                                <ul class="smile">
                                                                    <li>
                                                                        <i class="like"></i>
                                                                        <span>like</span>
                                                                        <span>200</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="heart"></i>
                                                                        <span>love</span>
                                                                        <span>170</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="happy"></i>
                                                                        <span>joy</span>
                                                                        <span>2</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="surprised"></i>
                                                                        <span>wow</span>
                                                                        <span>65</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="angry"></i>
                                                                        <span>angry</span>
                                                                        <span>0</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <span>56</span>
                                                        </div>

                                                        <small class="text-gray">
                                                            0 comments
                                                        </small>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- aside-right -->
                            <aside class="aside-right d-lg-block instore">
                                <div class="section-content">
                                    <div class="blog-main__table">
                                        <div
                                            class="d-flex blog-main__string align-items-center justify-content-between">
                                            <p>Category</p>
                                            <p>16</p>
                                        </div>
                                        <div
                                            class="d-flex blog-main__string align-items-center justify-content-between">
                                            <p>Category</p>
                                            <p>999</p>
                                        </div>
                                        <div
                                            class="d-flex blog-main__string align-items-center justify-content-between">
                                            <p>Category</p>
                                            <p>1</p>
                                        </div>
                                        <div
                                            class="d-flex blog-main__string align-items-center justify-content-between">
                                            <p>Category</p>
                                            <p>42</p>
                                        </div>
                                        <div
                                            class="d-flex blog-main__string align-items-center justify-content-between">
                                            <p>Category</p>
                                            <p>7</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-content">

                                    <div class="big-post ">
                                        <div class="big-post__info d-flex flex-column">
                                            <div class="big-post__top">
                                                <div class="d-flex justify-content-between w-100 align-items-center">
                                                    <figure class="profile-list__avatar">
                                                        <img src="images/profiles/user-1.png" alt="avatar">
                                                        <span class="profile-list__symbol"></span>
                                                    </figure>
                                                    <a href="#" class="btn-orange">sponsored</a>
                                                </div>
                                                <div class="big-post__img">
                                                    <img src="images/blog/bottle-big.png" alt="">
                                                </div>
                                            </div>
                                            <div class="big-post__detail ">
                                                <ul
                                                    class="keywords__list d-flex align-items-center flex-wrap big-post__tag">
                                                    <li class="keywords__item">
                                                        <a href="#" class="keywords__link">#Brand number two</a>
                                                    </li>

                                                </ul>
                                                <div class="mini-post__title">
                                                    <a href="#">Lorem ipsum dolor sit amet lorem </a>
                                                </div>
                                                <div class="mini-post__link">
                                                    <div class="mini-post__right d-flex justify-content-between">
                                                        <div class="mini-post__reaction">
                                                            <ul
                                                                class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                                                                <li class="reaction__item-icon">
                                                                    <i class="icon icon-like"></i>
                                                                </li>
                                                                <li class="reaction__item-icon">
                                                                    <i class="icon icon-heart-l"></i>
                                                                </li>
                                                                <li class="reaction__item-icon">
                                                                    <i class="icon icon-happy"></i>
                                                                </li>
                                                                <li class="reaction__item-icon">
                                                                    <i class="icon icon-surprised"></i>
                                                                </li>
                                                                <li class="reaction__item-icon">
                                                                    <i class="icon icon-angry"></i>
                                                                </li>
                                                            </ul>
                                                            <div class="reaction__pop">
                                                                <ul class="smile">
                                                                    <li>
                                                                        <i class="like"></i>
                                                                        <span>like</span>
                                                                        <span>200</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="heart"></i>
                                                                        <span>love</span>
                                                                        <span>170</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="happy"></i>
                                                                        <span>joy</span>
                                                                        <span>2</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="surprised"></i>
                                                                        <span>wow</span>
                                                                        <span>65</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="angry"></i>
                                                                        <span>angry</span>
                                                                        <span>0</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <span>56</span>
                                                        </div>

                                                        <small class="text-gray">
                                                            0 comments
                                                        </small>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </aside>
                            <!-- /aside-right -->
                        </div>

                        <div class="section-content blog-section">
                            <span class="recomend">Recommended</span>
                            <div class="d-flex justify-content-between blog-user__mobile">
                                <div class="big-post blog-main__recomended">
                                    <div class="big-post__info d-flex flex-column">
                                        <div class="big-post__top">
                                            <div class="d-flex justify-content-between w-100 align-items-center">
                                                <figure class="profile-list__avatar">
                                                    <img src="images/profiles/user-1.png" alt="avatar">
                                                    <span class="profile-list__symbol"></span>
                                                </figure>
                                                <a href="#" class="btn-orange">sponsored</a>
                                            </div>
                                            <div class="big-post__img">
                                                <img src="images/blog/bottle-big.png" alt="">
                                            </div>
                                        </div>
                                        <div class="big-post__detail ">
                                            <ul
                                                class="keywords__list d-flex align-items-center flex-wrap big-post__tag">
                                                <li class="keywords__item">
                                                    <a href="#" class="keywords__link">#Brand number two</a>
                                                </li>

                                            </ul>
                                            <div class="mini-post__title">
                                                <a href="#">Lorem ipsum dolor sit amet lorem </a>
                                                <p>To help your skin thrive, use Moroccan argan extract which conditions
                                                    and moisturizes while chlorella brings a boost of skin-benefiting
                                                    vitamins and omega 3s for extra glowing goodness</p>
                                            </div>
                                            <div class="mini-post__link">
                                                <div class="mini-post__right d-flex justify-content-between">
                                                    <div class="mini-post__reaction">
                                                        <ul
                                                            class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                                                            <li class="reaction__item-icon">
                                                                <i class="icon icon-like"></i>
                                                            </li>
                                                            <li class="reaction__item-icon">
                                                                <i class="icon icon-heart-l"></i>
                                                            </li>
                                                            <li class="reaction__item-icon">
                                                                <i class="icon icon-happy"></i>
                                                            </li>
                                                            <li class="reaction__item-icon">
                                                                <i class="icon icon-surprised"></i>
                                                            </li>
                                                            <li class="reaction__item-icon">
                                                                <i class="icon icon-angry"></i>
                                                            </li>
                                                        </ul>
                                                        <div class="reaction__pop">
                                                            <ul class="smile">
                                                                <li>
                                                                    <i class="like"></i>
                                                                    <span>like</span>
                                                                    <span>200</span>
                                                                </li>
                                                                <li>
                                                                    <i class="heart"></i>
                                                                    <span>love</span>
                                                                    <span>170</span>
                                                                </li>
                                                                <li>
                                                                    <i class="happy"></i>
                                                                    <span>joy</span>
                                                                    <span>2</span>
                                                                </li>
                                                                <li>
                                                                    <i class="surprised"></i>
                                                                    <span>wow</span>
                                                                    <span>65</span>
                                                                </li>
                                                                <li>
                                                                    <i class="angry"></i>
                                                                    <span>angry</span>
                                                                    <span>0</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <span>56</span>
                                                    </div>

                                                    <small class="text-gray">
                                                        0 comments
                                                    </small>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="blog-main__right-post">
                                    <div class="section-content blog__products-user">
                                        <div class="product-post">
                                            <div class="mini-post__info d-flex">
                                                <div class="big-post__top">
                                                    <figure class="profile-list__avatar">
                                                        <img src="images/profiles/user-1.png" alt="avatar">
                                                        <span class="profile-list__symbol"></span>
                                                    </figure>
                                                    <div class="big-post__img">
                                                        <img src="images/blog/bottle-big.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="mini-post__detail d-flex flex-column ">
                                                    <ul
                                                        class="keywords__list d-flex align-items-center flex-wrap big-post__tag">
                                                        <li class="keywords__item">
                                                            <a href="#" class="keywords__link">#Brand number two</a>
                                                        </li>

                                                    </ul>
                                                    <div class="mini-post__title d-flex flex-column">
                                                        <a href="#" class="keywords__link">#Brand number two</a>
                                                        <a href="#">Lorem ipsum dolor sit amet lorem </a>
                                                        <p>To help your skin thrive, use Moroccan argan extract which
                                                            conditions and
                                                            moisturizes while chlorella brings a boost of
                                                            skin-benefiting vitamins
                                                            and
                                                            omega 3s for extra glowing goodness</p>
                                                    </div>
                                                    <div class="mini-post__link">
                                                        <div class="mini-post__right d-flex justify-content-between">
                                                            <div class="mini-post__reaction">
                                                                <ul
                                                                    class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                                                                    <li class="reaction__item-icon">
                                                                        <i class="icon icon-like"></i>
                                                                    </li>
                                                                    <li class="reaction__item-icon">
                                                                        <i class="icon icon-heart-l"></i>
                                                                    </li>
                                                                    <li class="reaction__item-icon">
                                                                        <i class="icon icon-happy"></i>
                                                                    </li>
                                                                    <li class="reaction__item-icon">
                                                                        <i class="icon icon-surprised"></i>
                                                                    </li>
                                                                    <li class="reaction__item-icon">
                                                                        <i class="icon icon-angry"></i>
                                                                    </li>
                                                                </ul>
                                                                <div class="reaction__pop">
                                                                    <ul class="smile">
                                                                        <li>
                                                                            <i class="like"></i>
                                                                            <span>like</span>
                                                                            <span>200</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="heart"></i>
                                                                            <span>love</span>
                                                                            <span>170</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="happy"></i>
                                                                            <span>joy</span>
                                                                            <span>2</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="surprised"></i>
                                                                            <span>wow</span>
                                                                            <span>65</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="angry"></i>
                                                                            <span>angry</span>
                                                                            <span>0</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <span>56</span>
                                                            </div>

                                                            <small class="text-gray">
                                                                0 comments
                                                            </small>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="product-post">
                                            <div class="mini-post__info d-flex">
                                                <div class="big-post__top">
                                                    <figure class="profile-list__avatar">
                                                        <img src="images/profiles/user-1.png" alt="avatar">
                                                        <span class="profile-list__symbol"></span>
                                                    </figure>
                                                    <div class="big-post__img">
                                                        <img src="images/blog/bottle-big.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="mini-post__detail d-flex flex-column ">
                                                    <ul
                                                        class="keywords__list d-flex align-items-center flex-wrap big-post__tag">
                                                        <li class="keywords__item">
                                                            <a href="#" class="keywords__link">#Brand number two</a>
                                                        </li>

                                                    </ul>
                                                    <div class="mini-post__title d-flex flex-column">
                                                        <a href="#" class="keywords__link">#Brand number two</a>
                                                        <a href="#">Lorem ipsum dolor sit amet lorem </a>
                                                        <p>To help your skin thrive, use Moroccan argan extract which
                                                            conditions and
                                                            moisturizes while chlorella brings a boost of
                                                            skin-benefiting vitamins
                                                            and
                                                            omega 3s for extra glowing goodness</p>
                                                    </div>
                                                    <div class="mini-post__link">
                                                        <div class="mini-post__right d-flex justify-content-between">
                                                            <div class="mini-post__reaction">
                                                                <ul
                                                                    class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                                                                    <li class="reaction__item-icon">
                                                                        <i class="icon icon-like"></i>
                                                                    </li>
                                                                    <li class="reaction__item-icon">
                                                                        <i class="icon icon-heart-l"></i>
                                                                    </li>
                                                                    <li class="reaction__item-icon">
                                                                        <i class="icon icon-happy"></i>
                                                                    </li>
                                                                    <li class="reaction__item-icon">
                                                                        <i class="icon icon-surprised"></i>
                                                                    </li>
                                                                    <li class="reaction__item-icon">
                                                                        <i class="icon icon-angry"></i>
                                                                    </li>
                                                                </ul>
                                                                <div class="reaction__pop">
                                                                    <ul class="smile">
                                                                        <li>
                                                                            <i class="like"></i>
                                                                            <span>like</span>
                                                                            <span>200</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="heart"></i>
                                                                            <span>love</span>
                                                                            <span>170</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="happy"></i>
                                                                            <span>joy</span>
                                                                            <span>2</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="surprised"></i>
                                                                            <span>wow</span>
                                                                            <span>65</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="angry"></i>
                                                                            <span>angry</span>
                                                                            <span>0</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <span>56</span>
                                                            </div>

                                                            <small class="text-gray">
                                                                0 comments
                                                            </small>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="product-post">
                                            <div class="mini-post__info d-flex">
                                                <div class="big-post__top">
                                                    <figure class="profile-list__avatar">
                                                        <img src="images/profiles/user-1.png" alt="avatar">
                                                        <span class="profile-list__symbol"></span>
                                                    </figure>
                                                    <div class="big-post__img">
                                                        <img src="images/blog/bottle-big.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="mini-post__detail d-flex flex-column ">
                                                    <ul
                                                        class="keywords__list d-flex align-items-center flex-wrap big-post__tag">
                                                        <li class="keywords__item">
                                                            <a href="#" class="keywords__link">#Brand number two</a>
                                                        </li>

                                                    </ul>
                                                    <div class="mini-post__title d-flex flex-column">
                                                        <a href="#" class="keywords__link">#Brand number two</a>
                                                        <a href="#">Lorem ipsum dolor sit amet lorem </a>
                                                        <p>To help your skin thrive, use Moroccan argan extract which
                                                            conditions and
                                                            moisturizes while chlorella brings a boost of
                                                            skin-benefiting vitamins
                                                            and
                                                            omega 3s for extra glowing goodness</p>
                                                    </div>
                                                    <div class="mini-post__link">
                                                        <div class="mini-post__right d-flex justify-content-between">
                                                            <div class="mini-post__reaction">
                                                                <ul
                                                                    class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                                                                    <li class="reaction__item-icon">
                                                                        <i class="icon icon-like"></i>
                                                                    </li>
                                                                    <li class="reaction__item-icon">
                                                                        <i class="icon icon-heart-l"></i>
                                                                    </li>
                                                                    <li class="reaction__item-icon">
                                                                        <i class="icon icon-happy"></i>
                                                                    </li>
                                                                    <li class="reaction__item-icon">
                                                                        <i class="icon icon-surprised"></i>
                                                                    </li>
                                                                    <li class="reaction__item-icon">
                                                                        <i class="icon icon-angry"></i>
                                                                    </li>
                                                                </ul>
                                                                <div class="reaction__pop">
                                                                    <ul class="smile">
                                                                        <li>
                                                                            <i class="like"></i>
                                                                            <span>like</span>
                                                                            <span>200</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="heart"></i>
                                                                            <span>love</span>
                                                                            <span>170</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="happy"></i>
                                                                            <span>joy</span>
                                                                            <span>2</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="surprised"></i>
                                                                            <span>wow</span>
                                                                            <span>65</span>
                                                                        </li>
                                                                        <li>
                                                                            <i class="angry"></i>
                                                                            <span>angry</span>
                                                                            <span>0</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <span>56</span>
                                                            </div>

                                                            <small class="text-gray">
                                                                0 comments
                                                            </small>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
        {{> ../common/footer }}
    </div>





    <!-- Modals -->
    {{> ../common/modals/create-goss }}
    {{> ../common/modals/menu-mobile }}
    {{> ../common/modals/add-photo }}
    {{> ../common/modals/user-profile-menu }}
    {{> ../common/modals/share-product }}
    {{> ../common/modals/add-timeline-product }}
    {{> ../common/modals/add-wishlist }}
    {{> ../common/modals/search-parameters }}
    {{> ../common/modals/cart }}
    {{> ../common/modals/add-comment }}
    {{> ../common/modals/store-info }}
    {{> ../common/modals/shop-another }}
    {{> ../common/modals/modals-notifications }}
    {{> ../common/modals/message-overlay }}
    {{> ../common/modals/goss-gallery }}
    {{> ../common/modals/menu-mobile--not-shop }}
    {{> ../common/modals/galery-view }}
    {{> ../common/modals/modal-pets }}
    {{> ../common/modals/modal-child }}
    {{> ../common/modals/modal-invite }}
    {{> ../common/modals/modal-unlink }}
    {{> ../common/modals/add-photo-background }}
    {{> ../common/modals/modal-blog-user}}
    <!-- /Modals -->
</body>

</html>