<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body class="checkout home  cart ">
    {{> ../common/mobile-menu }}
    <div class="menu-bottom">
        <div class="options-cart">
            <div class="options-cart__head">
                <div class="total-box">
                    <ul class="form total-box__form">
                        <li> <span>Items (4)</span> <span>$ 300.00</span>
                        </li>
                        <li><span>Postage</span> <span>Free</span></li>
                        <li class="flex-column">
                            <div class="d-flex w-100 justify-content-between"><b>Total</b>
                                <span><b>AUD</b><b class="ml-2">$300.00</b></span>
                            </div>
                            <small class="w-100 d-flex justify-content-end small-include">GST
                                included</small>
                        </li>
                        <li class="form__checkbox-wrap form__checkbox-wrap--custom ">
                            <input type="checkbox" id="checkbox-search-parameters-29" class="form__checkbox-orange"
                                name="search-parameters">
                            <label for="checkbox-search-parameters-29">
                                Ask family and friends to contribute to this order
                            </label>
                        </li>
                    </ul>
                    <span class="earn">Earn 184.00 SplitChek points <i class="icon icon-help orange ml-2"></i></span>
                    <a href="#" data-toggle="modal" data-target="#order-sent" class="btn btn-orange">CheckOut
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <ul class="menu-bottom__list list-unstyled mb-0">
                <li class="menu-bottom__item">
                    <a href="index.html" class="menu-bottom__link">
                        <img src="images/icons/home-y.svg" alt="home">
                        <span>home</span>
                    </a>
                </li>
                <li class="menu-bottom__item">
                    <a href="#" class="menu-bottom__link">
                        <img src="images/icons/star-y.svg" alt="home">
                        <span>wishlist</span>
                    </a>
                </li>
                <li class="menu-bottom__item active">
                    <a href="#" data-toggle="modal" data-target="#cart" class="menu-bottom__link">
                        <img src="images/icons/cart-y.svg" alt="home">
                        <span>cart</span>
                    </a>
                </li>
                <li class="menu-bottom__item">
                    <a href="shop.html?param=val&data=shop-another" class="menu-bottom__link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                            <g>
                                <g>
                                    <g />
                                    <g>
                                        <path fill="#315293"
                                            d="M2 9V2h7v-.01l9 9-7 7.02zm17.41.58l-9-9C10.05.22 9.55 0 9 0H2C.9 0 0 .9 0 2v7c0 .55.22 1.05.59 1.42l9 9c.36.36.86.58 1.41.58.55 0 1.05-.22 1.41-.59l7-7c.37-.36.59-.86.59-1.41 0-.55-.23-1.06-.59-1.42z" />
                                    </g>
                                    <g>
                                        <path fill="#315293" d="M4.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <span>shop for</span>
                    </a>
                </li>

                <li class="menu-bottom__item">
                    <a href="#menu-mobile--not-shop" data-toggle="modal" data-target="#menu-mobile--not-shop"
                        class="menu-bottom__link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="4" viewBox="0 0 16 4">
                            <g>
                                <g transform="rotate(90 8 2)">
                                    <g />
                                    <g>
                                        <path fill="#335491"
                                            d="M10 8c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm0-6c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zM6-4c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2z" />
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <span>other</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="section-blur theme-background-one" data-class="blue" id="background">
        <header class="header">
            <div class="container">
                <div class="header__content">
                    <div class="header__left">
                        <!-- <div class="header__burger">
          <img src="images/icons/burger.svg" alt="">
        </div> -->
                        <a class="header__logo" href="/index.html">
                            <img class="header__img-desktop" src="images/icons/w-logo.png" alt="logo">
                            <img class="header__img-mobile" src="images/icons/logo-mobile.png" alt="logo">
                        </a>
                    </div>
                    <div class="header__search">
                        <!-- form search -->
                        <!-- add class: "search--active" -->
                        <form action="#" id="search" class="search">

                            <input type="search" name="search" class="search__input" placeholder="Search for something"
                                id="search-input" autocomplete="off" />
                            <button class="search__button" aria-label="search">
                                <i class="icon icon-search"></i>
                            </button>

                            <div class="search__result">
                                <ul class="search__result-list">
                                    <li class="search__result-item d-flex align-items-center">
                                        <p>
                                            <b>pa</b>int
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="header__right">
                        <div class="head-links">
                            <!-- head menu -->
                            <ul class="head-links__list d-flex align-items-center list-unstyled mb-0">
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="index.html" class="head-links__link position-relative">
                                        <!-- add class "active" <i class="icon icon-home"></i> what would the icon change -->
                                        <i class="icon icon-home"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-star"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="shop.html?param=val&data=shop-another"
                                        class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-offer"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" data-toggle="modal" data-target="#cart"
                                        class="head-links__link position-relative head-links__link--active">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-cart"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" data-toggle="modal" data-target="#message-overlay"
                                        class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-head-mail"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- /head menu -->
                        </div>
                        <div class="header__user">
                            <a href="#menu-mobile" data-toggle="modal" data-target="#menu-mobile"
                                class="personal-avatar personal-avatar--no-img position-relative d-flex d-lg-none align-items-center justify-content-center overflow-hidden">
                                <img src="" alt="avatar">
                                <span class="personal-symbol">JS</span>
                            </a>
                            <a href="#user-profile-menu" data-toggle="modal" data-target="#user-profile-menu"
                                class="user-avatar user-avatar--no-img position-relative d-flex align-items-center justify-content-center overflow-hidden">
                                <img class="user-avatar__img" src="" alt="avatar">
                                <span class="user-avatar__symbol">AD</span>
                            </a>
                            <a href="#" class="mobile-link-arrow">
                                <i class="icon icon-arrow"></i>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </header>
        <div class="checkout__container">
            <div class="container">
                <div class="main-content position-relative d-flex align-items-start justify-content-between">
                    <!-- main -->
                    <main class="checkout-main  form">
                        <section class="section-content">
                            <a href="#"
                                class="section-content__title position-relative d-flex align-items-center individual__title-hide">
                                <span><img src="images/icons/back.svg" alt="back">Back to Cart</span>
                            </a>
                        </section>
                        <span class="section-content__title position-relative d-flex align-items-center">Billing and
                            shipping</span>

                        <div class="section-content">
                            <div class="orders__box">

                                <div class="checkout__box">
                                    <h5>CheckOut</h5>
                                    <small class="checkout__small">Discounts already applied</small>
                                    <div class="checkout__box-header">
                                        <h5>Review your cart items</h5>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="20"
                                            viewBox="0 0 12 20">
                                            <g>
                                                <g>
                                                    <path fill="#99a9c9"
                                                        d="M11.8 10.775l-8.874 8.874a1.096 1.096 0 0 1-1.55 0L.341 18.614a1.096 1.096 0 0 1-.002-1.548L7.372 10 .34 2.934a1.096 1.096 0 0 1 .002-1.548L1.376.351a1.096 1.096 0 0 1 1.55 0L11.8 9.225a1.096 1.096 0 0 1 0 1.55z" />
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="checkout__content-hide">
                                        <div class="orders__card orders__card-top d-flex ">
                                            <div class="d-flex w-100 checkout-card-toggle">
                                                <div class="d-flex orders__card-img w-100">
                                                    <img src="images/orders/item.png" alt="item">
                                                </div>
                                                <div class="d-flex flex-column orders__card-block-1 w-100">
                                                    <b>Lorem ipsum dolor sit amet lorem ipsum dolor</b>
                                                    <div class="d-flex orders__card-price">
                                                        <div
                                                            class="internal-card__price internal-card__price--discount d-flex align-items-center flex-wrap">
                                                            <span class="text-orange">$49.99</span>



                                                        </div>
                                                        <p>1x</p>
                                                    </div>


                                                </div>

                                                <div class="d-flex flex-column  orders__card-block-2 w-100">
                                                    <div class="d-flex">
                                                        <small>Shipped from:</small>
                                                        <strong>Coomera - Queensland</strong>
                                                    </div>
                                                    <div class="d-flex">
                                                        <small>Dispatch date:</small>
                                                        <strong>02.11.2020</strong>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="orders__card-hide">
                                                <div class="checkout__hide-mobile">
                                                    <div class="orders__card-description">
                                                        <div class="d-flex">
                                                            <small>Volume:</small>
                                                            <strong>500 ml</strong>
                                                        </div>
                                                        <div class="d-flex">
                                                            <small>Flavoure:</small>
                                                            <strong>banana</strong>
                                                        </div>
                                                        <div class="d-flex">
                                                            <small>Servings:</small>
                                                            <strong>20</strong>
                                                        </div>
                                                    </div>
                                                    <div class="orders__card-for">
                                                        <div class="profile-list w-100">
                                                            <figure class="profile-list__avatar">
                                                                <img src="images/profiles/user-1.png" alt="avatar">
                                                                <span class="profile-list__symbol"></span>
                                                            </figure>
                                                            <div class="d-flex flex-column ">
                                                                <span>for:</span>
                                                                <span>Terry Smith</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="orders__card-block-hide">
                                                    <div class="d-flex flex-column  orders__card-block-2 w-100">
                                                        <div class="d-flex">
                                                            <small>Shipped from:</small>
                                                            <strong>Coomera - Queensland</strong>
                                                        </div>
                                                        <div class="d-flex">
                                                            <small>Dispatch date:</small>
                                                            <strong>02.11.2020</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                        </div>

                                        <div class="orders__card d-flex ">
                                            <div class="d-flex w-100 checkout-card-toggle">
                                                <div class="d-flex orders__card-img w-100">
                                                    <img src="images/orders/item.png" alt="item">
                                                </div>
                                                <div class="d-flex flex-column orders__card-block-1 w-100">
                                                    <b>Lorem ipsum dolor sit amet lorem ipsum dolor</b>
                                                    <div class="d-flex orders__card-price">
                                                        <div
                                                            class="internal-card__price internal-card__price--discount d-flex align-items-center flex-wrap">
                                                            <span>$49.99</span>
                                                            <span>$60.99</span>


                                                        </div>
                                                        <p>1x</p>
                                                    </div>

                                                </div>
                                                <div class="d-flex flex-column  orders__card-block-2 w-100">
                                                    <div class="d-flex">
                                                        <small>Shipped from:</small>
                                                        <strong>Coomera - Queensland</strong>
                                                    </div>
                                                    <div class="d-flex">
                                                        <small>Dispatch date:</small>
                                                        <strong>02.11.2020</strong>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="orders__card-hide">
                                                <div class="checkout__hide-mobile">
                                                    <div class="orders__card-description">
                                                        <div class="d-flex">
                                                            <small>Volume:</small>
                                                            <strong>500 ml</strong>
                                                        </div>
                                                        <div class="d-flex">
                                                            <small>Flavoure:</small>
                                                            <strong>banana</strong>
                                                        </div>
                                                        <div class="d-flex">
                                                            <small>Servings:</small>
                                                            <strong>20</strong>
                                                        </div>
                                                    </div>
                                                    <div class="orders__card-for">
                                                        <div class="profile-list w-100">
                                                            <figure class="profile-list__avatar">
                                                                <img src="images/profiles/user-1.png" alt="avatar">
                                                                <span class="profile-list__symbol"></span>
                                                            </figure>
                                                            <div class="d-flex flex-column ">
                                                                <span>for:</span>
                                                                <span>Terry Smith</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="orders__card-block-hide">
                                                    <div class="d-flex flex-column  orders__card-block-2 w-100">
                                                        <div class="d-flex">
                                                            <small>Shipped from:</small>
                                                            <strong>Coomera - Queensland</strong>
                                                        </div>
                                                        <div class="d-flex">
                                                            <small>Dispatch date:</small>
                                                            <strong>02.11.2020</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                        </div>


                                        <div class="orders__card d-flex ">
                                            <div class="d-flex w-100 checkout-card-toggle">
                                                <div class="d-flex orders__card-img w-100">
                                                    <img src="images/orders/item.png" alt="item">
                                                </div>
                                                <div class="d-flex flex-column orders__card-block-1 w-100">
                                                    <b>Lorem ipsum dolor sit amet lorem ipsum dolor</b>
                                                    <div class="d-flex orders__card-price">
                                                        <span class="text-orange">
                                                            $49.99
                                                        </span>
                                                        <p>bundle</p>
                                                    </div>



                                                </div>
                                                <div class="d-flex flex-column  orders__card-block-2 w-100">
                                                    <div class="d-flex">
                                                        <small>Shipped from:</small>
                                                        <strong>Coomera - Queensland</strong>
                                                    </div>
                                                    <div class="d-flex">
                                                        <small>Dispatch date:</small>
                                                        <strong>02.11.2020</strong>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="orders__card-hide">
                                                <div class="checkout__hide-mobile">
                                                    <div class="orders__card-description">
                                                        <div class="d-flex">
                                                            <small>Volume:</small>
                                                            <strong>500 ml</strong>
                                                        </div>
                                                        <div class="d-flex">
                                                            <small>Flavoure:</small>
                                                            <strong>banana</strong>
                                                        </div>
                                                        <div class="d-flex">
                                                            <small>Servings:</small>
                                                            <strong>20</strong>
                                                        </div>
                                                    </div>
                                                    <div class="orders__card-for">
                                                        <div class="profile-list w-100">
                                                            <figure class="profile-list__avatar">
                                                                <img src="images/profiles/user-1.png" alt="avatar">
                                                                <span class="profile-list__symbol"></span>
                                                            </figure>
                                                            <div class="d-flex flex-column ">
                                                                <span>for:</span>
                                                                <span>Terry Smith</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="orders__card-block-hide">
                                                    <div class="d-flex flex-column  orders__card-block-2 w-100">
                                                        <div class="d-flex">
                                                            <small>Shipped from:</small>
                                                            <strong>Coomera - Queensland</strong>
                                                        </div>
                                                        <div class="d-flex">
                                                            <small>Dispatch date:</small>
                                                            <strong>02.11.2020</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>


                                </div>

                                <div class="checkout__box">
                                    <div class="store-info__address">
                                        <h5 class="checkout__title">Shipping address</h5>
                                        <a href="#" class="form__checkbox-wrap form__checkbox-wrap--custom ">
                                            <input type="checkbox" id="checkbox-1" class="form__checkbox-orange"
                                                name="search-parameters">
                                            <label for="checkbox-1">
                                                Choose from Addressbook
                                            </label>
                                        </a>
                                        <div class="members__form mt-25">
                                            <label class="form__label">address line 1</label>
                                            <input class="form__input" placeholder="Text here" type="text">

                                            <span class="form__symbol-error"></span>
                                        </div>
                                        <div class="members__form">
                                            <label class="form__label">address line 2</label>
                                            <input class="form__input" placeholder="Text here" type="text">

                                            <span class="form__symbol-error"></span>
                                        </div>
                                        <div class="members__form">
                                            <label class="form__label">City</label>
                                            <input class="form__input" placeholder="Text here" type="text">

                                            <span class="form__symbol-error"></span>
                                        </div>
                                        <div class="members__form">
                                            <label class="form__label">State</label>
                                            <input class="form__input" placeholder="Text here" type="text">

                                            <span class="form__symbol-error"></span>
                                        </div>
                                        <div class="members__form">
                                            <label class="form__label">Postcode</label>
                                            <input class="form__input" placeholder="Text here" type="text">

                                            <span class="form__symbol-error"></span>
                                        </div>
                                        <div class="members__form">
                                            <label class="form__label">Country</label>
                                            <input class="form__input" placeholder="Text here" type="text">

                                            <span class="form__symbol-error"></span>
                                        </div>
                                        <div class="checkout__block">
                                            <strong class="blue-text">
                                                Billing address
                                            </strong>
                                            <ul class="checkout__ul">
                                                <li class="form__checkbox-wrap form__checkbox-wrap--custom ">
                                                    <input type="checkbox" id="checkbox-search-parameters-2"
                                                        class="form__checkbox-orange" name="search-parameters">
                                                    <label for="checkbox-search-parameters-2">
                                                        Make this my primary shipping address
                                                    </label>
                                                </li>

                                                <li class="form__checkbox-wrap form__checkbox-wrap--custom ">
                                                    <input type="checkbox" id="checkbox-search-parameters-3"
                                                        class="form__checkbox-orange" name="search-parameters">
                                                    <label for="checkbox-search-parameters-3">
                                                        My billing address is the same
                                                    </label>
                                                </li>




                                            </ul>
                                        </div>

                                        <div class="checkout__block">
                                            <strong class="blue-text">
                                                Delivery
                                            </strong>
                                            <p class="text-gray">
                                                Set a default delivery instructions if any. This will be passed to
                                                shipping
                                                carriers
                                            </p>
                                            <div class="d-flex flex-column members__form">
                                                <label class="form__label">
                                                    Delivery instructions (optional)</label>

                                                <div class="w-100 max-text" data-maxlength="400">
                                                    <textarea maxlength="400" class="form__textarea"
                                                        placeholder="Write something"></textarea>
                                                    <div class="count"><span>0</span>/<span>400</span></div>
                                                </div>


                                                <span class="form__symbol-error"></span>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="d-flex checkout__links">
                                        <a href="#" class="btn btn-border">Delete address</a>
                                        <a href="#" class="btn btn-blue">Save address</a>
                                    </div>



                                </div>
                            </div>

                            <div class="checkout__box">
                                <div class="about-me__box mb-4">
                                    <div class="d-flex w-100 flex-column align-items-start w-100">
                                        <div class="about-me__info about-me__info--full">
                                            <div class="d-flex flex-column">
                                                <h5 class="checkout__title">Billing Address</h5>
                                                <ul>

                                                    <li>20 Kohl street</li>
                                                    <li>Upper Coomera</li>
                                                    <li>Queensland</li>
                                                    <li>4209</li>
                                                    <li>Australia</li>
                                                </ul>

                                            </div>
                                        </div>
                                        <a href="#" class="btn-border btn-border--two align-self-end" id="editInfo">Save
                                            address</a>
                                    </div>
                                </div>
                            </div>

                            <div class="checkout__box form">
                                <h5 class="checkout__title">Payment options</h5>
                                <div class="members__radio ">

                                    <div class="checkout__members">
                                        <div class="form-radio">
                                            <input id="radio-1" class="radio-custom" name="radio-group" type="radio">
                                            <label for="radio-1" class="radio-custom-label">Internet banking (Pay with
                                                Poli)</label>

                                        </div>
                                        <div class="checkout__members-content" style="display: none;">
                                            <p class="text-gray">Pay with your bank account using Internet Banking. You
                                                will
                                                need an Australian bank account to make payment using POLi. Clicking <b
                                                    class="gray-bold">Pay
                                                    with POLi</b> will take you to the page where you can complete your
                                                payment.
                                            </p>
                                            <p>How do i pay with POLi?</p>

                                            <ul>
                                                <li>1. Click on <b>Pay with POLi,</b> you will be redirected to POLi
                                                    webpage
                                                </li>
                                                <li>2. Select your Internet Banking provider and login</li>
                                                <li>3. Select your preffered account and confirm payment details</li>
                                                <li>4. Once payment is complete, you will be returned to SplitChek to
                                                    finalize your order</li>
                                            </ul>
                                            <div class="d-flex checkout__members-link">
                                                <a href="#">Learn more about POLi</a>
                                                <a href="#">Available banks</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkout__members">
                                        <div class="form-radio">
                                            <input id="radio-2" class="radio-custom" name="radio-group" type="radio">
                                            <label for="radio-2" class="radio-custom-label">Split payment (Share the
                                                bill)</label>
                                        </div>
                                        <div class="checkout__members-content" style="display: none;">
                                            <p class="text-gray">When you pay via split payment, your order will be on
                                                pending status for
                                                72
                                                hours. If contributions from your connections fail to meet the grand
                                                total,
                                                your order will be reversed and money refunded back to the contributors
                                            </p>
                                            <a href="#" class="form__checkbox-wrap form__checkbox-wrap--custom ">
                                                <input type="checkbox" id="checkbox-search-parameters-32"
                                                    class="form__checkbox-orange" name="search-parameters">
                                                <label for="checkbox-search-parameters-32">
                                                    Allow the community to contribute to my order
                                                </label>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="checkout__members">
                                        <div class="form-radio">
                                            <input id="radio-3" class="radio-custom" name="radio-group" type="radio">
                                            <label for="radio-3" class="radio-custom-label">Credit or Debit card</label>
                                        </div>
                                        <div class="checkout__members-content" style="display: none;">
                                            <div
                                                class="checked-box card-check form__checkbox-wrap form__checkbox-wrap--custom">
                                                <input type="checkbox" id="pay-1">
                                                <label for="pay-1">Pay from my existing card</label>
                                            </div>
                                            <form action="#" class="mb-5 form card-form ">
                                                <div class="form__single form__single--card">
                                                    <label class="form__label">card number</label>
                                                    <input type="text" class="form__input" required="">
                                                    <div class="visible"></div>
                                                    <span class="form__symbol-pass"></span>
                                                </div>
                                                <div class="form__single form__single--select form__single--select-no-image form__single--fluid"
                                                    style="display: none;">
                                                    <label class="form__label">card number</label>
                                                    <select class="form__input" data-toggle="select-no-image"
                                                        multiple="multiple">
                                                        <option>1234 5678 1234 5678</option>
                                                        <option>5678 1234 1234 5678</option>
                                                        <option>4178 1234 1234 4141</option>
                                                    </select>
                                                    <span class="form__symbol-error"></span>
                                                    <div class="visible"></div>
                                                    <span class="form__symbol-pass"></span>
                                                </div>
                                                <div class="d-flex members-wrap flex-row">
                                                    <div class="d-flex flex-column">

                                                        <!-- for error add class div form__single - *error* -->
                                                        <div
                                                            class="form__single form__single--date form__single--fluid">
                                                            <label class="form__label">expire date</label>
                                                            <input type="text" class="form__input flatpickr-input"
                                                                data-toggle="datepicker" required=""
                                                                readonly="readonly">
                                                            <span class="form__symbol-error"></span>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex flex-column  card-cvv">
                                                        <label class="form__label">CCN</label>
                                                        <input class="form__input " placeholder="911" type="text">

                                                        <span class="form__symbol-error"></span>
                                                    </div>
                                                </div>
                                            </form>

                                            <a href="#" class="form__checkbox-wrap form__checkbox-wrap--custom ">
                                                <input type="checkbox" id="checkbox-search-parameters-36"
                                                    class="form__checkbox-orange" name="search-parameters">
                                                <label for="checkbox-search-parameters-36">
                                                    Save card for later use
                                                </label>
                                            </a>
                                        </div>
                                    </div>



                                    <div class="checkout__members">
                                        <div class="form-radio">
                                            <input id="radio-4" class="radio-custom" name="radio-group" type="radio">
                                            <label for="radio-4" class="radio-custom-label">Gift Voucher</label>
                                        </div>
                                        <div class="checkout__members-content" style="display: none;">
                                            <div class="d-flex members-wrap flex-row align-items-end">
                                                <div class=" d-flex flex-column">
                                                    <label class="form__label" for="#">Voucher code</label>
                                                    <input class="form__input small-input" placeholder="23XT456"
                                                        type="text">
                                                </div>
                                                <a href="#" class="btn-orange">Use voucher</a>
                                            </div>
                                            <p class="text-gray">
                                                Only gift vouchers issued by SplitChek can be used
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </main>
                    <!-- /main -->
                    <aside class="aside-right d-lg-block">
                        <div class="scroll-div">
                            <div class="section-content section-desctop">
                                <span
                                    class="section-content__title position-relative d-flex align-items-center">Total</span>
                                <div class="total-box">
                                    <ul class="form total-box__form">
                                        <li> <span>Items (4)</span> <span>$ 300.00</span>
                                        </li>
                                        <li><span>Postage</span> <span>Free</span></li>
                                        <li class="flex-column">
                                            <div class="d-flex w-100 justify-content-between"><b>Total</b>
                                                <span><b>AUD</b><b class="ml-2">$300.00</b></span>
                                            </div>
                                            <small class="w-100 d-flex justify-content-end small-include">GST
                                                included</small>
                                        </li>
                                        <li>

                                        </li>
                                        <li class="form__checkbox-wrap form__checkbox-wrap--custom ">
                                            <input type="checkbox" id="checkbox-search-parameters-27"
                                                class="form__checkbox-orange" name="search-parameters">
                                            <label for="checkbox-search-parameters-27">
                                                Ask family and friends to contribute to this order
                                            </label>
                                        </li>
                                    </ul>
                                    <span class="earn">Earn 184.00 SplitChek points <i
                                            class="icon icon-help orange ml-2"></i></span>
                                    <a href="#" data-toggle="modal" data-target="#order-sent"
                                        class="btn btn-orange">CheckOut
                                    </a>
                                </div>
                            </div>

                            <div class="section-content  ">
                                <span class="section-content__title position-relative d-flex align-items-center">Split
                                    the
                                    bill</span>
                                <div class="total-box total-box__last">
                                    <span class="d-flex justify-content-start section-content__title">The following
                                        have access to this
                                        item</span>
                                    <div class="checkout__container">
                                        <div class="wishlist-box__left">

                                            <div
                                                class="connections__select connections__select--store-slide d-flex flex-column">
                                                <div class="d-flex">
                                                    <div class="connections__add align-items-center">
                                                        <a href="#">
                                                            <img src="images/profiles/add.svg" alt="avatar">
                                                        </a>
                                                    </div>
                                                    <div
                                                        class="checkout-connections__slider connections__slider position-relative">
                                                        <span class="count-slider" data-count="3"></span>
                                                        <div class="swiper-container checkout__slider">
                                                            <div class="swiper-wrapper">
                                                                <div class="swiper-slide">
                                                                    <a href="#"
                                                                        class="card-timeline__link card-timeline__link--contact">
                                                                        <img src="images/wishlist/girl-in-yellow.png"
                                                                            alt="avatar">

                                                                        <span></span>
                                                                    </a>
                                                                </div>
                                                                <div class="swiper-slide">
                                                                    <a href="#"
                                                                        class="card-timeline__link card-timeline__link--contact ">
                                                                        <img src="images/wishlist/afro-girl.png"
                                                                            alt="avatar">
                                                                        <span></span>
                                                                    </a>
                                                                </div>
                                                                <div class="swiper-slide">
                                                                    <a href="#"
                                                                        class="card-timeline__link card-timeline__link--contact">
                                                                        <img src="images/wishlist/girl.png"
                                                                            alt="avatar">
                                                                        <span></span>
                                                                    </a>
                                                                </div>
                                                                <div class="swiper-slide">
                                                                    <a href="#"
                                                                        class="card-timeline__link card-timeline__link--contact">
                                                                        <img src="images/profiles/user-1.png"
                                                                            alt="avatar">
                                                                        <span>JS</span>
                                                                    </a>
                                                                </div>
                                                                <div class="swiper-slide">
                                                                    <a href="#"
                                                                        class="card-timeline__link card-timeline__link--contact">
                                                                        <img src="images/profiles/user-1.png"
                                                                            alt="avatar">
                                                                        <span>JS</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="swiper-button-prev"></div>
                                                        <div class="swiper-button-next"></div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>

                                    </div>


                                    <ul class="form">
                                        <li class="form__checkbox-wrap form__checkbox-wrap--custom ">
                                            <input type="checkbox" id="checkbox-search-parameters-30"
                                                class="form__checkbox-orange" name="search-parameters">
                                            <label for="checkbox-search-parameters-30">
                                                Include SplitChek's Community
                                            </label>
                                        </li>
                                    </ul>
                                    <div class="checkout__contributed">
                                        <span>Contributed</span>
                                        <ul>
                                            <li><a href="#" class="card-timeline__link card-timeline__link--contact ">
                                                    <img src="images/wishlist/girl-in-yellow.png" alt="avatar">
                                                    <span>JS</span>
                                                </a></li>
                                            <li><a href="#" class="card-timeline__link card-timeline__link--contact ">
                                                    <img src="images/wishlist/girl.png" alt="avatar">
                                                    <span>JS</span>
                                                </a></li>

                                        </ul>

                                    </div>

                                    <div class="checkkout__price">
                                        <div class="d-flex justify-content-between">
                                            <span><b>Total:</b></span>
                                            <span class=" w-100 d-flex justify-content-end"><b>AUD</b><b
                                                    class="last-b">$300.00</b></span>
                                        </div>
                                        <small class="d-flex justify-content-end">GST included</small>
                                    </div>
                                    <div class="checkout__pay">
                                        <ul>
                                            <li class="d-flex justify-content-between">
                                                <span><b>Pledged:</b></span>
                                                <span class=" w-100 d-flex justify-content-end"><b>AUD</b><b
                                                        class="last-b">$20.00</b></span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <span><b>Paid::</b></span>
                                                <span class=" w-100 d-flex justify-content-end"><b>AUD</b><b
                                                        class="last-b">$0.00</b></span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <span><b class="text-blue">Balance::</b></span>
                                                <span class=" w-100 d-flex justify-content-end"><b
                                                        class="text-blue">AUD</b><b
                                                        class="last-b text-blue">$100.00</b></span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <span><b class="text-orange">Remaining::</b></span>
                                                <span class=" w-100 d-flex justify-content-end"><b
                                                        class="text-orange">AUD</b><b
                                                        class="text-orange last-b">$29.99</b></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="checkout__right-bottom">
                                        <p>You have up to 5 days to pay any remaining balances. If order is not paid
                                            afterb
                                            <b> 5 days,</b>it will be reversed.
                                        </p>
                                        <a href="#" class="btn-orange">Pay the rest & Confirm Order</a>
                                    </div>
                                </div>
                            </div>
                            <div class="section-content section-mobile">
                                <span
                                    class="section-content__title position-relative d-flex align-items-center">Total</span>
                                <div class="total-box">
                                    <ul class="form">
                                        <li><span>Items (4)</span> <span>$ 300.00</span></li>
                                        <li><span>Postage</span> <span>Free</span></li>
                                        <li><b>Total</b> <span><b>AUD</b><b class="ml-2">$300.00</b></span></li>
                                        <li class="form__checkbox-wrap form__checkbox-wrap--custom ">
                                            <input type="checkbox" id="checkbox-search-parameters-37"
                                                class="form__checkbox-orange" name="search-parameters">
                                            <label for="checkbox-search-parameters-37">
                                                Ask family and friends to contribute to this order
                                            </label>
                                        </li>
                                    </ul>
                                    <span class="earn">Earn 184.00 SplitChek points <i
                                            class="icon icon-help orange ml-2"></i></span>
                                    <a href="#" data-toggle="modal" data-target="#order-sent"
                                        class="btn btn-orange">CheckOut
                                    </a>
                                </div>
                            </div>

                            <div class="section-content checkout__bottom-link">
                                <a href="#" class="btn-border">Continue shopping</a>
                            </div>

                        </div>
                    </aside>



                </div>

            </div>
        </div>

        {{> ../common/footer }}
    </div>

    <!-- Modals -->
    {{> ../common/modals/create-goss }}
    {{> ../common/modals/menu-mobile }}
    {{> ../common/modals/add-photo }}
    {{> ../common/modals/user-profile-menu }}
    {{> ../common/modals/share-product }}
    {{> ../common/modals/add-timeline-product }}
    {{> ../common/modals/add-wishlist }}
    {{> ../common/modals/search-parameters }}
    {{> ../common/modals/cart }}
    {{> ../common/modals/add-comment }}
    {{> ../common/modals/store-info }}
    {{> ../common/modals/shop-another }}
    {{> ../common/modals/modals-notifications }}
    {{> ../common/modals/message-overlay }}
    {{> ../common/modals/goss-gallery }}
    {{> ../common/modals/menu-mobile--not-shop }}
    {{> ../common/modals/order-sent }}
    <!-- /Modals -->
</body>

</html>