<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body>
    {{> ../common/mobile-menu }}
    <div class="section-blur promo-visible">
        <header class="header">
            <div class="container">
                <div class="header__content">
                    <div class="header__left">
                        <div class="header__burger">
                            <img src="images/icons/burger.svg" alt="">
                        </div>
                        <a class="header__logo" href="/index.html">
                            <img src="images/icons/logo.png" alt="">
                        </a>
                    </div>
                    <div class="header__right">
                        <div class="header__link-block">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">For businesses</a></li>
                                <li><a href="#">For gifters</a></li>
                            </ul>
                        </div>
                        <div class="header__btn-block">
                            <a class="btn-border" href="#" data-toggle="modal" data-target="#logIn">Log In</a>
                            <a class="btn-blue" href="#" data-toggle="modal" data-target="#register">Create Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="content-full">
                <div class="content-full__title">
                    <h1>Cookies Policy</h1>
                    <span>Effective on April 15, 2020</span>
                </div>

                <p>At SplitChek, we believe in being clear and open about how we collect and use data related to you.
                    This Cookie Policy applies to any SplitChek product or service that links to this policy or
                    incorporates it by reference. We use cookies and similar technologies to collect and use data as
                    part of our Products as defined in our <a href="#">Privacy Policy</a> and which includes our sites,
                    communications,
                    mobile applications and off-site Products, such as our ad services. In the spirit of transparency,
                    this policy provides detailed information about how and when we use these technologies. By
                    continuing to visit or use the SplitChek Products, you are agreeing to the use of cookies and
                    similar technologies for the purposes described in this policy.</p>

                <h3>1. What is a cookie?</h3>
                <p>A cookie is a small piece of data that a website asks your browser to store on your computer or
                    mobile device. The cookie allows the website to "remember" your actions or preferences over time.
                    Most Internet browsers support cookies; however, users can set their browsers to decline certain
                    types of cookies or specific cookies. Further, users can delete cookies at any time.</p>
                <h3>2. Why do we use cookies?</h3>
                <p>We use cookies to learn how you interact with our content and to improve your experience when
                    visiting our website(s). For example, some cookies remember your language or preferences so that you
                    do not have to repeatedly make these choices when you visit one of our websites. We also use cookies
                    to help us with geolocation tracking in order to present you with the closest stores and content and
                    click and collect locations. Additionally, cookies allow us to serve you specific content, such
                    products you are interested in, customise your shopping experience. We may employ the learnings of
                    your behaviour on our SplitChek to serve you with targeted advertisements on third-party products in
                    an effort to “re-market” our products and services to you.</p>
                <h3>3. What types of cookies do we use?</h3>
                <p>We use cookies to learn how you interact with our content and to improve your experience when
                    visiting our website(s). For example, some cookies remember your language or preferences so that you
                    do not have to repeatedly make these choices when you visit one of our websites. We also use cookies
                    to help us with geolocation tracking in order to present you with the closest stores and content and
                    click and collect locations. Additionally, cookies allow us to serve you specific content, such
                    products you are interested in, customise your shopping experience. We may employ the learnings of
                    your behaviour on our SplitChek to serve you with targeted advertisements on third-party products in
                    an effort to “re-market” our products and services to you.</p>
                <ul>
                    <li>
                        <h4>3.1 Session Cookies</h4>
                        <p>Session cookies are temporary cookies that are used to remember you during the course of your
                            visit to the SplitChek Products, and they expire when you close the the Service for example
                            When using our website, you may have temporal cookies that will be deleted when you close
                            your web browser.</p>
                    </li>
                    <li>
                        <h4>3.2 Persistent Cookies</h4>
                        <p>Persistent cookies are used to remember your preferences within the website and remain on
                            your desktop or mobile device even after you close your browser or restart your computer. We
                            use these cookies to analyse user behaviour to establish visit patterns so that we can
                            improve our website functionality for you and others who visit our website(s). These cookies
                            also allow us to serve you with targeted advertising and measure the effectiveness of our
                            site functionality and advertising.</p>
                    </li>
                </ul>
                <h3>4. Pixels</h3>
                <p>A pixel is a tiny image that may be found within web pages and emails, requiring a call (which
                    provides device and visit information) to our servers in order for the pixel to be rendered in those
                    web pages and emails. We use pixels to learn more about your interactions with email content or web
                    content, such as whether you interacted with ads or posts. Pixels can also enable us and third
                    parties to place cookies on your browser.</p>
            </div>
        </div>

        {{> ../common/footer }}
    </div>

    <!-- Modals -->
    {{> ../common/modals/register }}
    {{> ../common/modals/login }}
    {{> ../common/modals/videos }}
    <!-- Modals -->

</body>

</html>