<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body class="dashboard create">
    {{> ../common/header-dashboard }}
    <!-- admin-menu -->
    <div class="nav-product">
        <ul>
            <li><a class="scroll-to active" href="#1">Short info</a></li>
            <li><a class="scroll-to" href="#2">Images</a></li>
            <li><a class="scroll-to" href="#3">Product type</a></li>
            <li><a class="scroll-to" href="#4">Pricing</a></li>
            <li><a class="scroll-to" href="#5">Inventory</a></li>
            <li><a class="scroll-to" href="#6">Availability</a></li>
            <li><a class="scroll-to" href="#7">Organization</a></li>
            <li><a class="scroll-to" href="#8">Terms and conditions</a></li>
            <li><a class="scroll-to" href="#9">Additional permissions</a></li>
            <li><a class="scroll-to" href="#10">Long description</a></li>
            <li><a class="scroll-to" href="#11">Customization</a></li>
            <li><a class="scroll-to" href="#12">SC search engine preview</a></li>
        </ul>
    </div>
    <!-- /admin-menu -->

    {{> ../common/mobile-menu-bottom }}

    <div class="section-blur theme-background-one" data-class="blue" id="background">

        <div class="container container--admin">
            <div class="main-content position-relative d-flex align-items-start">
                <!-- main -->
                <main class="main">
                    <div class="section-content">
                        <a href="#" class="back-title"><img src="images/icons/back.svg" alt="back">Create Product</a>
                        <div class="main__card position-relative p-0 pb-5 transparent not-shadow p-0">
                            <div class="section-content">
                                <div id="1" class="season-title-box anchor">
                                    <div class="form__single form__single--fluid form__single--max">
                                        <label class="form__label">Title</label>
                                        <div class="position-relative w-100" data-maxlength="120">
                                            <input type="text" class="form__input" required=""
                                                placeholder="season title">
                                            <div class="count">
                                                <span>0</span>/<span>120</span>
                                            </div>
                                        </div>
                                        <span class="form__symbol-error"></span>
                                    </div>
                                    <div class="w-100 max-text" data-maxlength="225">
                                        <label class="form__label">Short description</label>
                                        <textarea class="form__textarea" placeholder="Write something"></textarea>
                                        <div class="count"><span>0</span>/<span>255</span></div>
                                    </div>
                                    <div class="season-title-box__other">
                                        <p>this is your sales pitch about the products in your current season. e.g. Buy
                                            this
                                            products and double your points PLUS earn SplitChek points when you buy
                                            below
                                            products</p>
                                        <strong>Demographics</strong>
                                        <div class="members__form">
                                            <div
                                                class=" form__single--select form__single--select-default form__single--fluid">
                                                <label class="form__label">Age bracket</label>
                                                <div class="select-before">
                                                    <select class="form__select form__select--default"
                                                        data-toggle="select" data-select2-id="10" tabindex="-1"
                                                        aria-hidden="true">
                                                        <option value="#">Over 16</option>
                                                        <option value="#">Start typing</option>
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="members__form">
                                            <span class="form__note">
                                                Marketing tags
                                            </span>
                                            <div
                                                class="form__single form__single--select form__single--select-tag form__single--fluid">
                                                <select class="form__input" data-toggle="select-tag"
                                                    multiple="multiple">
                                                    <option value="user-1">Organic</option>
                                                    <option value="user-2">Gluten Free</option>
                                                </select>
                                            </div>
                                        </div>
                                        <p class="form-text">These tags are displayed to shoppers and must be relevant to them. e.g. Vegan
                                            Friendly, Gluten Free, GST Free, Organic</p>
                                    </div>
                                </div>
                                <div id="2" class="images-box-loader anchor">
                                    <strong>Images</strong>
                                    <ul>
                                        <li class="priority"
                                            style="background-image: url('images/product/7142447382608__big.png');">
                                        </li>
                                        <li style="background-image: url('images/product/7142447382608.png');"></li>
                                        <li style="background-image: url('images/product/7142447382608.png');"></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                                <div id="3" class="product-type-box anchor">
                                    <strong>Product type</strong>
                                    <div class="members__form">
                                        <div
                                            class=" form__single--select form__single--select-default form__single--fluid">
                                            <label class="form__label">Type</label>
                                            <div class="select-before">
                                                <select class="form__select form__select--default" data-toggle="select"
                                                    data-select2-id="10" tabindex="-1" aria-hidden="true">
                                                    <option value="#standart">A standard</option>
                                                    <option value="#service">A service</option>
                                                    <option value="#bundle">A bundle</option>
                                                    <option value="#multiple">Has multiple options</option>
                                                </select>
                                            </div>
                                            <div class="product-type-box__body">
                                                <div class="product-type-box__single" id="standart">
                                                    <p>A simple product can be sold individually or as part of a kit, or
                                                        a
                                                        bundle product.</p>
                                                </div>
                                                <div class="product-type-box__single" id="service"
                                                    style="display: none;">
                                                    <p>A simple product can be sold individually or as part of a kit, or
                                                        a
                                                        bundle product.</p>
                                                    <p>A simple product can be sold individually or as part of a kit, or
                                                        a
                                                        bundle product.</p>
                                                    <p>A simple product can be sold individually or as part of a kit, or
                                                        a
                                                        bundle product.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-button">
                                    <a href="#" class="btn-border-red" data-toggle="modal"
                                        data-target="#delete-info">Delete all info</a>
                                    <div class="d-flex">
                                        <a href="#" class="btn-border btn-border--two">Cancel edit</a>
                                        <a href="#" class="btn btn-blue">Save</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- /main -->
            </div>
        </div>
    </div>
    {{!-- modals --}}
    {{> ../common/modals/add-files }}
</body>

</html>