<!DOCTYPE html>
<html lang="en">

<head>
  {{> ../common/head }}
</head>

<body class="early">
  {{> ../common/mobile-menu }}
  <div class="section-blur promo-visible">
    {{> ../common/header }}
    <div class="community">
      <div class="container-fluid">
        <div class="community-content">
          <div class="row">
            <div class="col-lg-6 offset-lg-6">
              <div class="community-content__video">
                <video id="videoBox" src="images/video.mp4"></video>
                <button class="video-play"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="203px" height="231px"
          viewBox="0 0 203 231" version="1.1">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Early-bird" transform="translate(-80.000000, -596.000000)">
              <g id="Decorations" transform="translate(80.000000, 596.000000)">
                <g id="For-You" transform="translate(74.000000, 65.000000)">
                  <path
                    d="M61.3843152,156.07104 C63.7963152,153.2328 66.0499152,150.25416 67.6051152,146.92416 C67.9435152,146.20776 69.2179152,146.5836 69.1819152,147.29784 C69.4915152,147.1272 69.9019152,147.10128 70.3699152,147.33384 C80.3851152,152.35584 89.8531152,142.92744 95.2891152,136.56696 C105.966715,124.07064 113.685115,109.00464 119.761915,94.0970404 C126.529915,77.4945604 126.702715,58.9977604 120.352315,41.7588004 C113.627515,23.4859204 98.8099152,6.05688037 76.6123152,4.07328037 C51.8371152,1.85928037 29.9491152,16.4925604 18.2203152,35.0246404 C12.1795152,44.5718404 8.06111522,55.1493604 6.05951522,66.1516804 C4.24511522,76.1481604 3.64751522,86.6169604 6.85871522,96.6019204 C10.3507152,107.47248 16.3123152,117.92184 24.0523152,126.88152 C30.5971152,134.46528 39.1651152,142.0332 49.6339152,144.29328 C49.5043152,143.57328 49.3675152,142.854 49.2595152,142.13112 C48.9499152,140.14032 52.3411152,140.02152 52.6291152,142.00512 C53.5579152,148.4556 55.3291152,154.79088 57.1795152,161.0952 C57.4027152,160.81152 57.6187152,160.52208 57.8491152,160.24272 C59.0083152,158.83728 60.2107152,157.46208 61.3843152,156.07104"
                    id="Fill-141" fill="#FFFFFF" />
                  <path
                    d="M61.3843152,156.07104 C63.7963152,153.2328 66.0499152,150.25416 67.6051152,146.92416 C67.9435152,146.20776 69.2179152,146.5836 69.1819152,147.29784 C69.4915152,147.1272 69.9019152,147.10128 70.3699152,147.33384 C80.3851152,152.35584 89.8531152,142.92744 95.2891152,136.56696 C105.966715,124.07064 113.685115,109.00464 119.761915,94.0970404 C126.529915,77.4945604 126.702715,58.9977604 120.352315,41.7588004 C113.627515,23.4859204 98.8099152,6.05688037 76.6123152,4.07328037 C51.8371152,1.85928037 29.9491152,16.4925604 18.2203152,35.0246404 C12.1795152,44.5718404 8.06111522,55.1493604 6.05951522,66.1516804 C4.24511522,76.1481604 3.64751522,86.6169604 6.85871522,96.6019204 C10.3507152,107.47248 16.3123152,117.92184 24.0523152,126.88152 C30.5971152,134.46528 39.1651152,142.0332 49.6339152,144.29328 C49.5043152,143.57328 49.3675152,142.854 49.2595152,142.13112 C48.9499152,140.14032 52.3411152,140.02152 52.6291152,142.00512 C53.5579152,148.4556 55.3291152,154.79088 57.1795152,161.0952 C57.4027152,160.81152 57.6187152,160.52208 57.8491152,160.24272 C59.0083152,158.83728 60.2107152,157.46208 61.3843152,156.07104"
                    id="Fill-142" fill="#FFFFFF" />
                  <text id="ENJOY-GIFTING" font-family="Noteworthy-Bold, Noteworthy" font-size="24" font-weight="bold"
                    fill="#0B0212">
                    <tspan x="18" y="63"> ENJOY </tspan>
                    <tspan x="18" y="102">GIFTING</tspan>
                  </text>
                  <path
                    d="M52.6291152,142.00512 C52.3411152,140.02152 48.9499152,140.14032 49.2595152,142.13112 C49.3675152,142.854 49.5043152,143.57328 49.6339152,144.29328 C39.1651152,142.0332 30.5971152,134.46528 24.0523152,126.88152 C16.3123152,117.92184 10.3507152,107.47248 6.85871522,96.6019204 C3.64751522,86.6169604 4.24511522,76.1481604 6.05951522,66.1516804 C8.06111522,55.1493604 12.1795152,44.5718404 18.2203152,35.0246404 C29.9491152,16.4925604 51.8371152,1.85928037 76.6123152,4.07328037 C98.8099152,6.05688037 113.627515,23.4859204 120.352315,41.7588004 C126.702715,58.9977604 126.529915,77.4945604 119.761915,94.0970404 C113.685115,109.00464 105.966715,124.07064 95.2891152,136.56696 C89.8531152,142.92744 80.3851152,152.35584 70.3699152,147.33384 C69.9019152,147.10128 69.4915152,147.1272 69.1819152,147.29784 C69.2179152,146.5836 67.9435152,146.20776 67.6051152,146.92416 C66.0499152,150.25416 63.7963152,153.2328 61.3843152,156.07104 C60.2107152,157.46208 59.0083152,158.83728 57.8491152,160.24272 C57.6187152,160.52208 57.4027152,160.81152 57.1795152,161.0952 C55.3291152,154.79088 53.5579152,148.4556 52.6291152,142.00512 Z M56.5387152,165.328449 C57.5683152,165.28776 58.2307152,164.95872 58.7275152,164.12784 C59.8147152,162.32064 61.1251152,160.59408 62.3923152,158.88336 C64.8115152,155.64264 67.2667152,152.46744 68.6995152,148.75512 C68.8003152,148.98912 68.9659152,149.21088 69.2395152,149.38512 C82.9771152,158.2368 96.6643152,141.16056 103.021915,132.468 C112.151515,119.98824 119.416315,105.83304 124.701115,91.5158404 C131.181115,73.9348804 129.676315,53.7669604 122.080315,36.1802404 C114.412315,18.4365604 98.7667152,2.78160037 77.3971152,0.365280369 C53.2771152,-2.36135963 31.1155152,10.5144004 18.0403152,27.7152004 C11.2363152,36.6590404 6.49151522,46.8247204 3.48911522,57.4483204 C0.671035218,67.3857604 -0.850324782,78.3960004 0.497515218,88.7870404 C2.20031522,101.9004 9.24191522,114.90216 17.5507152,125.718 C25.3699152,135.89088 36.5731152,146.45544 50.3899152,148.66944 C50.4403152,148.67808 50.4907152,148.6752 50.5483152,148.68096 C51.7579152,153.93912 53.3491152,159.13968 54.9475152,164.3208 C55.1347152,164.93784 55.8763152,165.35256 56.5387152,165.328449 L56.5387152,165.328449 Z"
                    id="Fill-143" fill="#000000" />
                </g>
                <g id="We-Wait">
                  <path
                    d="M4.76159039,73.2414113 C6.03779039,83.4807113 8.31209039,93.7137113 11.8913904,103.404011 C14.8136904,111.315911 20.6294904,118.808411 27.3812904,123.843911 C30.8264904,126.412511 34.6757904,128.616611 38.9210904,129.508511 C41.7227904,130.096211 44.5820904,130.041311 47.3684904,129.511211 C47.4242904,127.992911 48.9794904,126.536711 50.6138904,127.603211 C50.9747904,127.837211 51.3221904,128.083811 51.6587904,128.336711 C52.3211904,128.216111 52.7864904,128.737211 52.8737904,129.328511 C56.0561904,132.130211 58.1954904,135.725711 60.5075904,139.249211 C60.4859904,138.113411 60.4301904,136.976711 60.3410904,135.833711 C60.2132904,134.178611 60.0989904,132.433511 61.0178904,130.962911 C62.1878904,129.088211 64.7501904,128.393411 66.6842904,127.676111 C70.7378904,126.173111 74.8697904,124.889711 78.9260904,123.395711 C88.1222904,120.008111 97.1078904,115.360511 103.71389,107.934611 C109.14899,101.824511 112.67159,94.2195113 114.79829,86.3724113 C119.26949,69.8709113 118.81049,51.6747113 114.52649,35.1750113 C113.00099,29.2962113 110.86439,23.6568113 106.91519,18.9462113 C103.36469,14.7099113 98.9420904,11.3664113 93.9659904,8.96701126 C83.2235904,3.78841126 70.7387904,2.85241126 59.0360904,4.32841126 C36.5765904,7.16161126 9.86099039,20.4843113 4.73999039,44.6421113 C3.83729039,48.8973113 3.74189039,53.3874113 3.76169039,57.7254113 C3.78419039,62.9112113 4.12079039,68.0943113 4.76159039,73.2414113"
                    id="Fill-267" fill="#FFFFFF" />
                  <path
                    d="M4.76159039,73.2414113 C6.03779039,83.4807113 8.31209039,93.7137113 11.8913904,103.404011 C14.8136904,111.315911 20.6294904,118.808411 27.3812904,123.843911 C30.8264904,126.412511 34.6757904,128.616611 38.9210904,129.508511 C41.7227904,130.096211 44.5820904,130.041311 47.3684904,129.511211 C47.4242904,127.992911 48.9794904,126.536711 50.6138904,127.603211 C50.9747904,127.837211 51.3221904,128.083811 51.6587904,128.336711 C52.3211904,128.216111 52.7864904,128.737211 52.8737904,129.328511 C56.0561904,132.130211 58.1954904,135.725711 60.5075904,139.249211 C60.4859904,138.113411 60.4301904,136.976711 60.3410904,135.833711 C60.2132904,134.178611 60.0989904,132.433511 61.0178904,130.962911 C62.1878904,129.088211 64.7501904,128.393411 66.6842904,127.676111 C70.7378904,126.173111 74.8697904,124.889711 78.9260904,123.395711 C88.1222904,120.008111 97.1078904,115.360511 103.71389,107.934611 C109.14899,101.824511 112.67159,94.2195113 114.79829,86.3724113 C119.26949,69.8709113 118.81049,51.6747113 114.52649,35.1750113 C113.00099,29.2962113 110.86439,23.6568113 106.91519,18.9462113 C103.36469,14.7099113 98.9420904,11.3664113 93.9659904,8.96701126 C83.2235904,3.78841126 70.7387904,2.85241126 59.0360904,4.32841126 C36.5765904,7.16161126 9.86099039,20.4843113 4.73999039,44.6421113 C3.83729039,48.8973113 3.74189039,53.3874113 3.76169039,57.7254113 C3.78419039,62.9112113 4.12079039,68.0943113 4.76159039,73.2414113"
                    id="Fill-268" fill="#FFFFFF" />
                  <text id="NO" font-family="Noteworthy-Bold, Noteworthy" font-size="27" font-weight="bold"
                    fill="#0B0212">
                    <tspan x="40.52" y="51">NO </tspan>
                  </text>
                  <path
                    d="M4.73999039,44.6421113 C9.86099039,20.4843113 36.5765904,7.16161126 59.0360904,4.32841126 C70.7387904,2.85241126 83.2235904,3.78841126 93.9659904,8.96701126 C98.9420904,11.3664113 103.36469,14.7099113 106.91519,18.9462113 C110.86439,23.6568113 113.00099,29.2962113 114.52649,35.1750113 C118.81049,51.6747113 119.26949,69.8709113 114.79829,86.3724113 C112.67159,94.2195113 109.14899,101.824511 103.71389,107.934611 C97.1078904,115.360511 88.1222904,120.008111 78.9260904,123.395711 C74.8697904,124.889711 70.7378904,126.173111 66.6842904,127.676111 C64.7501904,128.393411 62.1878904,129.088211 61.0178904,130.962911 C60.0989904,132.433511 60.2132904,134.178611 60.3410904,135.833711 C60.4301904,136.976711 60.4859904,138.113411 60.5075904,139.249211 C58.1954904,135.725711 56.0561904,132.130211 52.8737904,129.328511 C52.7864904,128.737211 52.3211904,128.216111 51.6587904,128.336711 C51.3221904,128.083811 50.9747904,127.837211 50.6138904,127.603211 C48.9794904,126.536711 47.4242904,127.992911 47.3684904,129.511211 C44.5820904,130.041311 41.7227904,130.096211 38.9210904,129.508511 C34.6757904,128.616611 30.8264904,126.412511 27.3812904,123.843911 C20.6294904,118.808411 14.8136904,111.315911 11.8913904,103.404011 C8.31209039,93.7137113 6.03779039,83.4807113 4.76159039,73.2414113 C4.12079039,68.0943113 3.78419039,62.9112113 3.76169039,57.7254113 C3.74189039,53.3874113 3.83729039,48.8973113 4.73999039,44.6421113 Z M4.10729039,90.5763113 C5.59319039,96.7926113 7.31219039,103.295111 10.2182904,109.016411 C12.8426904,114.180611 16.5272904,118.840811 20.6978904,122.840411 C28.0238904,129.865811 39.3026904,135.899411 49.2890904,132.046511 C54.3425904,135.823811 56.8526904,142.172411 60.8783904,146.910911 C62.1959904,148.461611 64.3379904,147.062111 64.4945904,145.412411 C64.7969904,142.203911 64.7537904,139.038611 64.4639904,135.833711 C64.3946904,135.062411 64.3217904,134.286611 64.3658904,133.511711 C64.3721904,133.854611 64.6592904,132.706211 64.3937904,133.274111 C64.6484904,132.729611 64.3550904,133.141811 64.8356904,132.699011 C66.4187904,131.240111 70.2221904,130.377011 72.5531904,129.622811 C77.2484904,128.104511 81.9509904,126.605111 86.5040904,124.693511 C95.2313904,121.030511 103.31699,115.470311 109.07519,107.879711 C114.08549,101.273711 117.25799,93.4716113 119.23079,85.4616113 C123.32939,68.8161113 122.55449,50.6685113 118.28669,34.1391113 C116.70809,28.0254113 114.37889,22.2807113 110.46209,17.2803113 C107.00519,12.8658113 102.58529,9.30271126 97.6685904,6.63061126 C87.1304904,0.906611265 74.6060904,-0.649488735 62.7854904,0.228011265 C50.1872904,1.16491126 37.6943904,4.93411126 26.7854904,11.3259113 C16.5371904,17.3307113 7.73969039,26.0130113 3.15509039,37.0965113 C0.219290393,44.1957113 -0.0930096074,51.9510113 0.0185903926,59.5416113 C0.171590393,69.9771113 1.68539039,80.4342113 4.10729039,90.5763113 L4.10729039,90.5763113 Z"
                    id="Fill-269" fill="#000000" />
                </g>
                <text id="STRESS" font-family="Noteworthy-Bold, Noteworthy" font-size="23" font-weight="bold"
                  fill="#0B0212">
                  <tspan x="14.27" y="88">STRESS</tspan>
                </text>
              </g>
            </g>
          </g>
        </svg>
        <div class="row">
          <div class="community-size col-lg-6">
            <div class="community-content__descript">
              <h3>Welcome to SplitChek Community!</h3>
              <p>Are you thinking about joining us? There are no reasons why you shouldn't give us a try!
                Since we are a gift-giving community, we have prepared a <a href="#">Gift for You</a>
                once you join our
                family of happy gift-givers!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gift">
      <div class="container">
        <div class="gift__title">
          <h4>A great gift for You!</h4>
          <div class="row">
            <div class="col-md-5">
              <div class="gift__desc">
                <p>As one of our first 100 members, you will be able to enjoy our <b>early bird discount
                    and
                    SAVE 20% for the next 3 months</b> when buying gifts for your friends and family
                  from
                  selected stores on our platform!
                  <br><br><br>
                  But hurry! The offer will only last <b>until the end of November.</b> Use this
                  opportunity to
                  make your loved ones happy with our fantastic selection of gifts, while saving some
                  money for later.</p>
              </div>
            </div>
            <div class="col-md-6 offset-md-1">
              <div class="gift__img" style="background-image: url('images/early/gift-img.jpg');"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="why">
      <div class="container">
        <div class="why__title">
          <h3>Why SplitCheck?</h3>
          <h5>These are some gift-related issues you've probably already experienced:</h5>
        </div>
        <div class="why__info">
          <div class="why__img" style="background-image: url('images/early/img-2.jpg');"></div>
          <div class="why__desc">
            <ul>
              <li><span>Do you ever feel afraid that your gift to someone you love will end up as a
                  <b>useless
                    trinket</b> to place on a dusty shelf?</span></li>
              <li><span>Have you ever felt embarrassed because you bought your friend the <b>same gift</b>
                  as
                  someone
                  else?</span></li>
              <br><br>
              <li><span>Have you ever <b>settled for a gift</b> card just because you weren't sure if you
                  could
                  buy the
                  right gift?</span></li>
              <br><br>
              <li><span>Have you ever spent <b>countless hours</b> hunting for that <b>perfect gift</b> to
                  hear
                  "This isn't
                  what I wanted" from your friend or family member?</span></li>
            </ul>
          </div>
        </div>
        <div class="why__register">
          <p>If you answered "<b>YES</b>" to any of these questions, then you had to endure gift-giving
            anxiety. Join
            us today, and you will newer have to feel that pain again!</p>
          <a class="btn-border" href="#">Create your free account</a>
        </div>
      </div>
    </div>
    {{> ../common/landing/answer }}
    <div class="mail">
      <div class="container">
        <div class="mail__info">
          <svg xmlns="http://www.w3.org/2000/svg" width="141" height="168" viewBox="0 0 141 168">
            <g>
              <g>
                <g>
                  <path fill="#0b0212"
                    d="M15.84 52.35c5.925 2.612 9.959 4.17 17.315 5.488l7.491 1.316c5.212.849 13.967 2.625 21.43 4.024l13.627 2.602s5.17.96 11.778 2.184c6.613 1.203 14.639 2.753 20.399 3.715l11.044 1.649c7.441 1.084 11.783.885 18.166.272-5.994-2.477-10.055-3.942-17.431-5.092L108.7 66.84l-32.078-5.848-13.63-2.628c-7.476-1.411-16.214-3.192-21.467-4.032l-7.534-1.298c-7.402-1.25-11.743-1.149-18.151-.684" />
                </g>
                <g>
                  <path fill="#0b0212"
                    d="M.84 146.1c3.041 1.123 5.58 2.012 8.285 2.727 1.353.358 2.745.673 4.261.951 1.518.283 3.16.498 4.999.815l7.5 1.15c5.694.773 15.236 2.563 23.37 4.023a74414.78 74414.78 0 0 0 14.839 2.876s22.462 4.549 35.029 6.746l11.013 1.854c7.444 1.109 11.825.774 18.204.108-6.014-2.427-10.078-3.75-17.44-4.923l-10.922-1.872c-12.464-2.194-34.937-6.695-34.935-6.695l-14.874-2.908c-8.18-1.481-17.775-3.286-23.539-4.055-4.265-.637-6.319-.945-7.58-1.134-1.856-.3-3.541-.4-5.104-.47a58.31 58.31 0 0 0-4.422-.02c-2.824.095-5.505.4-8.684.827" />
                </g>
                <g>
                  <path fill="#0b0212"
                    d="M129.595 166.1c2.22-6.088 3.413-10.165 4.48-17.559.179-1.254.419-3.289 1.043-7.534l2.521-17.868.784-6.019c.211-1.689.448-3.561.678-5.378.234-1.816.364-3.598.515-5.07l.67-7.042.21-4.15c.49-7.555-.572-11.936-2.15-18.13-1.537 6.322-2.162 10.446-2.717 17.849l-.226 4.056c-.177 1.811-.398 4.101-.672 6.929-.153 1.452-.278 3.197-.507 4.997l-.663 5.33-.753 5.969-2.545 17.842c-.618 4.248-.854 6.317-1.022 7.578-.998 7.446-.53 11.842.354 18.2" />
                </g>
                <g>
                  <path fill="#0b0212"
                    d="M2.092 143.6c.745-3.16 1.229-5.754 1.772-8.488.45-2.732.878-5.597 1.19-9.272.167-1.244.275-3.273.86-7.479.347-2.744 1.043-7.362 1.733-11.295.334-1.966.651-3.761.897-5.066.242-1.304.39-2.116.39-2.116l1.19-6.197c.658-3.49 1.46-7.74 2.033-10.77 1.024-5.667 1.547-9.21 1.814-11.06 1.022-7.497.588-11.936-.629-18.257-1.896 6.176-3.121 10.211-4.195 17.55-.28 1.812-.803 5.284-1.82 10.891-1.138 6.044-3.185 16.945-3.185 16.945l-.4 2.13c-.253 1.31-.58 3.123-.924 5.115-.709 3.975-1.426 8.684-1.767 11.495-.59 4.298-.697 6.401-.854 7.674-.595 7.576.192 11.999 1.895 18.2" />
                </g>
                <g>
                  <path fill="#0b0212"
                    d="M20.84 57.35c.544 2.882 1.085 4.735 3.114 6.964l7.516 8c1.545 1.615 2.94 3.196 4.005 4.346l1.735 1.899s.651.764 1.663 1.946c.98 1.201 2.436 2.751 3.747 4.505l2.031 2.611c.682.855 1.323 1.695 1.844 2.504l2.439 3.545c1.571 2.442 3.005 3.461 5.656 4.93.134-2.865.063-4.915-1.549-7.555-.466-.693-1.402-2.076-2.542-3.764-.556-.86-1.225-1.736-1.93-2.622l-2.118-2.714c-1.377-1.828-2.858-3.395-3.877-4.631l-1.716-1.99-1.757-1.939c-1.071-1.17-2.501-2.796-4.045-4.42l-7.546-7.988c-2.065-2.157-3.81-2.827-6.67-3.627" />
                </g>
                <g>
                  <path fill="#0b0212"
                    d="M68.345 122.349c-2.405-2.15-3.986-4.202-5.621-6.315-1.584-2.139-3.273-4.339-4.917-7.329-.27-.507-.65-1.167-1.056-2.168-.442-.988-.891-2.33-1.196-4.13-.12-1.095-.233-2.412.05-3.718.181-1.299.81-2.94 1.529-4.096.38-.568.81-.996 1.198-1.216.392-.22.732-.295 1.232-.212 1 .147 2.353 1.077 3.376 2.24 1.046 1.168 1.899 2.524 2.516 3.835.156.325.308.649.441.998l.103.251c.042.118.05.091.121.326.115.37.23.734.344 1.092.254.67.384 1.506.529 2.276.155.729.266 1.596.377 2.402.221 1.595.425 3.045.604 4.33l.23 1.649c.034.25.067.489.1.718.089-.124.204-.415.296-.6l1.424-3.027 1.49-3.151.277-.562c.184-.353.45-.948.803-1.58.372-.52.799-1.21 1.35-1.915l.606-.725c.141-.17.313-.337.48-.52 1.348-1.417 3.55-3.338 6.219-4.45 1.299-.534 2.747-.792 3.6-.48.432.142.755.367 1.072.767.31.401.605.956.78 1.654.208.666.307 1.444.378 2.216.037.388.031.796.05 1.186.001.09.012.215.005.277l-.016.16c.002.103-.013.218-.05.343-.19.982-.983 2.219-1.794 3.232-1.616 1.978-3.325 3.482-4.644 4.657-1.34 1.173-2.367 2.019-3.074 2.603-2.858 2.356-5.058 4.36-6.946 6.513-1.842 2.159-3.579 4.437-4.766 7.469 2.439-2.087 4.771-3.25 7.092-4.749 2.34-1.463 4.762-3.082 7.71-5.461.725-.589 1.787-1.452 3.21-2.69 1.413-1.262 3.23-2.815 5.248-5.272.519-.662 1.057-1.375 1.55-2.24.496-.842.965-1.845 1.222-3.067.075-.296.122-.613.138-.952l.032-.499c.007-.16-.005-.256-.006-.389-.021-.497-.019-.991-.065-1.506-.095-1.029-.225-2.09-.559-3.202a9.33 9.33 0 0 0-1.655-3.338c-.827-1.074-2.09-1.981-3.43-2.389-1.343-.425-2.658-.426-3.8-.255a13.274 13.274 0 0 0-3.126.875c-3.725 1.584-6.224 3.877-7.917 5.628-.207.225-.413.429-.59.64l-.262.304c-.088.103-.022.026-.04.048.005-.003.003-.001.003-.001h.001s0-.009.003-.006l.003.002.002.002c-.068-.164-.137-.33-.205-.498a16.995 16.995 0 0 0-.532-1.202 20.9 20.9 0 0 0-3.298-5.015 13.997 13.997 0 0 0-2.583-2.28c-1.01-.677-2.211-1.28-3.657-1.52-1.432-.267-3.134.02-4.42.787-1.304.748-2.207 1.784-2.878 2.781a15.104 15.104 0 0 0-1.467 2.988c-.362.976-.648 1.911-.795 2.935-.4 1.995-.25 3.79-.072 5.297.403 2.429 1.004 4.122 1.545 5.342.514 1.243.97 2.028 1.304 2.636 2.014 3.561 4.333 5.771 6.691 7.526 2.39 1.711 4.965 2.971 8.103 3.74" />
                </g>
                <g>
                  <path fill="#0b0212"
                    d="M94.59 102.35c2.366.735 3.886 1.04 6.04.221 1.17-.451 4.661-1.83 7.855-3.202 1.601-.653 3.11-1.379 4.229-1.88 1.119-.51 1.839-.84 1.839-.84s.715-.35 1.822-.902c1.095-.58 2.626-1.238 4.148-2.15.767-.437 1.55-.885 2.315-1.32a22.941 22.941 0 0 0 2.146-1.322l2.916-1.965c1.909-1.445 2.446-3.035 2.94-5.39-2.54.006-3.971.144-5.77 1.42l-2.729 1.797c-.597.422-1.282.838-2.011 1.237l-2.18 1.25c-1.422.862-2.909 1.507-3.946 2.065-1.055.532-1.739.875-1.739.875s-.7.313-1.786.802c-1.09.48-2.539 1.173-4.119 1.81-3.117 1.33-6.591 2.701-7.732 3.185-2.123.888-3.03 2.153-4.238 4.309" />
                </g>
                <g>
                  <path fill="#0b0212"
                    d="M85.837 119.85c-.218 2.54-.16 4.188 1.16 6.311.724 1.143 2.875 4.616 5.058 7.601l4.077 5.784 4.098 5.723c2.176 2.987 4.444 6.265 5.215 7.345 1.431 1.992 2.919 2.655 5.392 3.486.117-2.56.004-4.199-1.386-6.265a262.358 262.358 0 0 0-5.234-7.424l-4.12-5.705-4.01-5.737c-2.16-2.974-4.243-6.344-4.986-7.44-1.352-2.034-2.812-2.744-5.264-3.679" />
                </g>
                <g>
                  <path fill="#0b0212"
                    d="M47.09 119.85c-2.415.014-3.902.176-5.582 1.56-1.805 1.54-10.844 9.242-10.844 9.242l-4.671 4.24c-2.505 2.144-4.954 4.848-5.784 5.724-1.515 1.64-1.778 3.136-1.869 5.484 2.433-.294 3.884-.59 5.391-2.111.828-.815 3.154-3.398 5.605-5.508l4.53-4.152s9.01-7.615 10.815-9.218c1.647-1.455 2.044-2.902 2.409-5.261" />
                </g>
                <g>
                  <path fill="#0b0212"
                    d="M115.845 32.35c-1.599.238-3.043.425-4.394.417-1.342.037-2.589-.11-3.645-.444-1.067-.338-1.886-.856-2.62-1.655-.742-.786-1.409-1.969-2.056-3.501-.448-1.044-1.083-2.794-2.184-6.944-.462-1.686-1.001-3.708-1.796-5.951-.821-2.224-1.876-4.744-3.799-7.06-.451-.577-1.032-1.135-1.617-1.687-.568-.446-1.13-.846-1.702-1.272l-.857-.629-.916-.56c-.628-.356-1.194-.775-1.874-1.077C85.842.645 82.719-.346 79.51.114c-1.574.245-3.103.764-4.346 1.558-.63.39-1.248.778-1.734 1.257-.514.458-1.039.896-1.423 1.394-1.735 1.902-2.722 3.85-3.518 5.462-.764 1.63-1.235 2.975-1.565 3.907-.33.93-.462 1.45-.462 1.45l-.368 1.226-.125.419c-.038.163-.054.38-.072.485l-.11.836c-.066.602-.196 1.282-.232 2.05-.27 3.045-.033 7.445 1.626 12.017.856 2.26 1.984 4.582 3.529 6.675a29.643 29.643 0 0 0 5.384 5.65c4.067 3.237 8.882 5.207 13.086 5.778a24.65 24.65 0 0 0 7.785-.065 24.977 24.977 0 0 0 4.432-1.315c3.899-1.705 6.342-4.185 7.927-6.751 1.58-2.6 2.398-5.353 2.77-8.547a34.1 34.1 0 0 1-5.534 6.274c-1.936 1.696-4.038 3.231-7.029 4.52-.752.284-1.86.68-3.436 1-1.585.244-3.648.415-6.183.03-3.39-.454-7.383-2.084-10.76-4.766a24.796 24.796 0 0 1-4.461-4.673c-1.28-1.723-2.2-3.636-2.91-5.492-1.364-3.759-1.586-7.404-1.356-9.984.027-.646.145-1.229.196-1.74.034-.255.063-.494.091-.712l.025-.194.053-.179.334-1.109s.12-.482.416-1.306c.292-.824.715-2.017 1.362-3.394.665-1.347 1.507-2.956 2.738-4.277 1.21-1.348 2.735-2.383 4.526-2.626 1.788-.283 3.935.287 5.984 1.383.521.222 1.015.597 1.524.883l.758.459.715.528c.472.35.942.7 1.409 1.045.339.344.691.657 1.018 1.082 1.333 1.585 2.24 3.625 2.955 5.583.705 1.978 1.226 3.905 1.688 5.58 1.103 4.147 1.864 6.298 2.434 7.58.828 1.894 1.911 3.657 3.506 4.928 1.57 1.29 3.529 1.877 5.214 1.851 1.704-.01 3.198-.45 4.554-1.097 1.377-.613 2.629-1.475 3.92-2.427" />
                </g>
                <g>
                  <path fill="#0b0212"
                    d="M73.34 21.098c-.065-1.803-.191-2.83-1.075-3.348-.958-.561-5.866-3.159-5.866-3.159s-4.984-2.73-6.001-3.231c-.94-.464-1.85.005-3.308.988.065 1.802.191 2.827 1.075 3.347.958.563 5.866 3.159 5.866 3.159s4.984 2.73 6.003 3.231c.939.463 1.847-.005 3.306-.987" />
                </g>
                <g>
                  <path fill="#0b0212"
                    d="M87.092 48.6c-1.38 1.073-2.13 1.666-2.022 2.445.048.421.355 1.667.363 2.836.082 1.162.159 2.219.159 2.219l-.16 2.219c-.007 1.168-.314 2.415-.362 2.836-.108.779.642 1.373 2.022 2.445 1.64-.324 2.568-.677 2.775-1.57.41-.94.598-5.93.6-5.93-.002 0-.19-4.99-.6-5.93-.207-.894-1.134-1.246-2.775-1.57" />
                </g>
                <g>
                  <path fill="#0b0212"
                    d="M79.596 17.35c-1.239 1.212-1.909 2.058-1.549 3.08.177.55.782 2.194 1.847 3.749.272.389.55.767.927 1.124.18.175.322.34.518.493l.66.429c.384.289.777.439 1.063.52l.439.131c.002-.012.151.077.445.083.287.012.715.057 1.215-.008.475-.116 1.143-.238 1.618-.551.26-.145.527-.305.79-.477.208-.167.393-.338.592-.515 1.497-1.43 2.288-3.012 2.557-3.537.515-.981-.055-1.912-1.122-3.271-1.784.105-2.708.236-3.165.953-.214.398-.96 1.657-1.587 2.24l-.207.203-.083.055c-.078.052-.025.02-.038.032.002-.052.001.027 0 .006-.012-.009.027.016-.024-.025l-.035-.028c-.046-.052-.095-.11-.148-.168-.112-.09-.25-.288-.395-.5-.583-.853-1.133-2.2-1.3-2.643-.357-.796-1.27-1.037-3.018-1.375" />
                </g>
                <g>
                  <path fill="#0b0212"
                    d="M109.59 38.598c1.979-2.554 3.61-4.652 5.259-6.87a248.081 248.081 0 0 0 5.271-7.58l1.518-2.084c.173-.232.346-.498.562-.757l.637-.78-.02.027c-.012.038-.006-.017 0-.02.002.005-.023.032-.017.01l-.002.07c-.102.518-.197 1.01-.287 1.474-.292.934-.548 1.77-.927 2.479-.669 1.437-1.381 2.441-1.874 3.119-2.01 2.748-3.952 4.802-5.739 6.866-1.807 2.052-3.537 4.091-5.631 6.546 2.995-1.187 5.484-2.289 7.938-3.812 2.428-1.544 4.908-3.444 7.366-6.722.599-.81 1.475-2.018 2.366-3.9.481-.917.864-2.062 1.253-3.357.133-.681.28-1.36.405-2.154-.025-1.217.022-2.546-.062-3.851-.206-.95-.492-2.28-.73-3.374l-.523-2.005s-.068-.267-.174-.697l-.188-.753c-.002-.125-.077.006-.125.033l-.158.146-.337.307-2.648 2.44c-.334.313-.653.585-.97.907l-.936 1.08-1.688 1.948c-.289.352-.555.68-.805.983-.234.285-.418.567-.607.82l-1.62 2.259c-2.122 3.24-3.48 5.957-4.413 8.665-.973 2.69-1.547 5.367-2.094 8.537" />
                </g>
              </g>
            </g>
          </svg>
          <h3>Don't forget that you are eligible for our early bird discount if you join today!</h3>
          <p>You can <b>SAVE 20% for the next 3 months</b> when buying gifts for your friends and family from
            selected stores on our platform, but this special discount is only available until the end of
            November! So hurry, secure your early bird spot and <b>START SAVING NOW!</b></p>
        </div>
      </div>
    </div>
    <div class="form-wrap" style="background-image: url('images/early/bg-1.jpg');">
      <form>
        <h3>Secure Your 3 months discount</h3>
        <ul class="step">
          <li class="active">Enter Your Info</li>
          <img src="images/early/Line.svg" alt="early">
          <li>Select Categories</li>
        </ul>
        <div class="form__input">
          <div class="form__single">
            <label>First Name</label>
            <input type="text" required="">
          </div>
          <div class="form__single">
            <label>Last Name</label>
            <input type="text" required="">
          </div>
          <div class="form__single">
            <label>Email</label>
            <input type="email" required="">
          </div>
          <div class="form__single">
            <label>Postcode</label>
            <input type="text" required="">
          </div>
          <div class="form__single form__single--fluid">
            <label>Coupon Code</label>
            <input type="text" required="">
          </div>
          <div class="form__single form__single--fluid">
            <label>Which stores do you normally shop from?</label>
            <select class="js-select-stores" name="states[]" multiple="multiple">
              <option value="1">shop</option>
              <option value="2">mall</option>
            </select>
          </div>
          <div class="form__single form__single--fluid">
            <label>In order of importance, which shopping features matter most to you?</label>
            <select class="js-select-shopping-features" name="states[]" multiple="multiple">
              <option value="1">shop</option>
              <option value="2">mall</option>
            </select>
            <div class="js-select-choice"></div>
          </div>
          <div class="form__single form__single--fluid">
            <label>What will you like to do or see on a family-friendly social marketplace?</label>
            <textarea></textarea>
          </div>
        </div>
      </form>
    </div>
    {{> ../common/footer }}
  </div>
</body>

</html>
