<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body class="profile home groups">
    {{> ../common/mobile-menu }}
    {{> ../common/mobile-menu-bottom }}
    <div class="section-blur " data-class="maze">
        <header class="header">
            <div class="container">
                <div class="header__content">
                    <div class="header__left">
                        <!-- <div class="header__burger">
          <img src="images/icons/burger.svg" alt="">
        </div> -->
                        <a class="header__logo" href="/index.html">
                            <img class="header__img-desktop" src="images/icons/w-logo.png" alt="logo">
                            <img class="header__img-mobile" src="images/icons/logo-mobile.png" alt="logo">
                        </a>
                    </div>
                    <div class="header__search">
                        <!-- form search -->
                        <!-- add class: "search--active" -->
                        <form action="#" id="search3" class="search">

                            <input type="search" name="search" class="search__input" placeholder="Search for something"
                                id="search-input2" autocomplete="off" />
                            <button class="search__button" aria-label="search">
                                <i class="icon icon-search"></i>
                            </button>


                            <div class="search__result">
                                <ul class="search__result-list">
                                    <li class="search__result-item d-flex align-items-center">
                                        <p>
                                            <b>pa</b>int
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="header__right">
                        <div class="head-links">
                            <!-- head menu -->
                            <ul class="head-links__list d-flex align-items-center list-unstyled mb-0">
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="index.html" class="head-links__link position-relative">
                                        <!-- add class "active" <i class="icon icon-home"></i> what would the icon change -->
                                        <i class="icon icon-home"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-star"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="shop.html?param=val&data=shop-another"
                                        class="head-links__link  position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-offer"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" data-toggle="modal" data-target="#cart"
                                        class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-cart"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" data-toggle="modal" data-target="#message-overlay"
                                        class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-head-mail"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- /head menu -->
                        </div>
                        <div class="header__user">
                            <a href="#menu-mobile" data-toggle="modal" data-target="#menu-mobile"
                                class="personal-avatar personal-avatar--no-img position-relative d-flex d-lg-none align-items-center justify-content-center overflow-hidden">
                                <img src="" alt="avatar">
                                <span class="personal-symbol">JS</span>
                            </a>
                            <a href="#user-profile-menu" data-toggle="modal" data-target="#user-profile-menu"
                                class="user-avatar user-avatar--no-img position-relative d-flex align-items-center justify-content-center overflow-hidden">
                                <img class="user-avatar__img" src="" alt="avatar">
                                <span class="user-avatar__symbol">AD</span>
                            </a>
                            <a href="#" class="mobile-link-arrow">
                                <i class="icon icon-arrow"></i>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </header>
        <div class="container">
            <div class="main-content position-relative d-flex align-items-start justify-content-between">
                <!-- aside-left -->
                <aside class="aside-left">
                    <div class="scroll-div">

                        <section class="section-content">
                            <span class="section-content__title position-relative d-flex align-items-center">Other
                                links</span>

                            <div class="other-links">
                                <ul class="other-links__list d-flex flex-column list-unstyled mb-0">
                                    <li class="other-links__item">
                                        <a href="#" class="other-links__link position-relative">
                                            <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
                                            <i class="icon icon-gift active"></i>
                                            <span>Spoil yourself</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#" class="other-links__link position-relative">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-social-media"></i>
                                            <span>Open public goss</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-discount"></i>
                                            <span>Snatch a bargain</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-mail"></i>
                                            <span>Shared orders</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item active-page">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-group"></i>
                                            <span>My groups</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-heart"></i>
                                            <span>My family</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#" data-toggle="modal" data-target="#notification"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <i class="icon icon-notification"></i>
                                            <!-- add class "active" what would the icon change -->
                                            <span>Alerts</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="/shopping-preferences.html"
                                            class="other-links__link position-relative d-flex align-items-center ">
                                            <i class="icon icon-setting"></i>
                                            <!-- add class "active" what would the icon change -->
                                            <span>Shopping preferences</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </aside>
                <!-- /aside-left -->
                <div class="profile__list size-container groups__menage d-flex flex-column w-100">
                    <div class="profile-face w-100 d-flex flex-column">
                        <div class="profile-face__background w-100 d-flex photo "
                            style="background-image: url('images/groups/groups__bg.jpg');">
                            <a href=" #add-photo--background" data-toggle="modal" class=" btn-blue-full"><img
                                    src="images/icons/camera-24px.svg" alt="background">Upload
                                cover photo</a>
                            <a href="#" class="btn-border">Or use colour
                                <ul class="select-color">
                                    <li class="select"></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </a>
                        </div>
                        <div class="profile-face__info d-flex align-items-center justify-content-between">
                            <div class="profile-face__photo d-flex justify-content-center align-items-center"
                                style="background-image: url('images/groups/family.jpg');">
                                <a href="#add-photo" data-toggle="modal" class="profile-face__hover d-flex flex-column">
                                    <img src="images/icons/photo.svg" alt="photo">
                                    <span>Upload photo</span>
                                </a>
                            </div>

                            <div class="profile-face__name d-flex align-items-end">
                                <strong>Family</strong>
                            </div>

                            <div class="profile-face__date profile-face--right">
                                <a href="#" class="form__wrap-title">Edit Group Settings</a>
                                <div class="profile-face__preview">
                                    <a href="#" class="btn-border">Preview</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="profile__bottom d-flex">
                        <div class="form groups__create d-flex flex-column w-100">
                            <div class="d-flex flex-column w-100">
                                <strong class="text-gray">about</strong>
                                <div class="groups__list w-100">
                                    <p>Genetix Nutrition products are devoloped by an internal research team assisted by
                                        Grant Mayo to ensure the greatest quality and product performance. Particular
                                        attention has been given in the manufacturing process of Genetix Nutrition for
                                        excellent taste </p>
                                    <span class="form__wrap-title">Rules of our group</span>
                                    <p>Statistic show that many struggles to give meaningful gifts on the early dating
                                        romance. They don’t know if it is too much, to little or if you will like it. So
                                        please help them by giving them clues about you.</p>
                                </div>
                            </div>

                            <div class="d-flex flex-column w-100">
                                <strong class="text-gray">Upcoming selebrations</strong>
                                <div class="groups__slider w-100">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div
                                                    class="personal-card d-flex align-items-center flex-column overflow-hidden">
                                                    <div
                                                        class="personal-card__avatar personal-card__avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                                                        <img src="" alt="avatar">
                                                        <span class="personal-card__symbol">JS</span>
                                                    </div>
                                                    <p class="personal-card__name">John Smith</p>
                                                    <small class="text-orange">Have an anniversary at 04.11.2020</small>
                                                    <ul
                                                        class="personal-card__list d-flex align-items-center flex-column list-unstyled mb-0">
                                                        <li class="personal-card__item">
                                                            <a href="#" class="personal-card__link">
                                                                <span>John’s wishlist</span>
                                                                <span class="personal-card__num">12</span>
                                                            </a>
                                                        </li>
                                                        <li class="personal-card__item">
                                                            <a href="#" class="personal-card__link">
                                                                <span>View preferences</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>

                                            <div class="swiper-slide">
                                                <div
                                                    class="personal-card d-flex align-items-center flex-column overflow-hidden">
                                                    <div
                                                        class="personal-card__avatar personal-card__avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                                                        <img src="" alt="avatar">
                                                        <span class="personal-card__symbol">JS</span>
                                                    </div>
                                                    <p class="personal-card__name">John Smith</p>
                                                    <small class="text-orange">Have an anniversary at 04.11.2020</small>
                                                    <ul
                                                        class="personal-card__list d-flex align-items-center flex-column list-unstyled mb-0">
                                                        <li class="personal-card__item">
                                                            <a href="#" class="personal-card__link">
                                                                <span>John’s wishlist</span>
                                                                <span class="personal-card__num">12</span>
                                                            </a>
                                                        </li>
                                                        <li class="personal-card__item">
                                                            <a href="#" class="personal-card__link">
                                                                <span>View preferences</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>

                                            <div class="swiper-slide">
                                                <div
                                                    class="personal-card d-flex align-items-center flex-column overflow-hidden">
                                                    <div
                                                        class="personal-card__avatar personal-card__avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                                                        <img src="" alt="avatar">
                                                        <span class="personal-card__symbol">JS</span>
                                                    </div>
                                                    <p class="personal-card__name">John Smith</p>
                                                    <small class="text-orange">Have an anniversary at 04.11.2020</small>
                                                    <ul
                                                        class="personal-card__list d-flex align-items-center flex-column list-unstyled mb-0">
                                                        <li class="personal-card__item">
                                                            <a href="#" class="personal-card__link">
                                                                <span>John’s wishlist</span>
                                                                <span class="personal-card__num">12</span>
                                                            </a>
                                                        </li>
                                                        <li class="personal-card__item">
                                                            <a href="#" class="personal-card__link">
                                                                <span>View preferences</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>

                                            <div class="swiper-slide">
                                                <div
                                                    class="personal-card d-flex align-items-center flex-column overflow-hidden">
                                                    <div
                                                        class="personal-card__avatar personal-card__avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                                                        <img src="" alt="avatar">
                                                        <span class="personal-card__symbol">JS</span>
                                                    </div>
                                                    <p class="personal-card__name">John Smith</p>
                                                    <small class="text-orange">Have an anniversary at 04.11.2020</small>
                                                    <ul
                                                        class="personal-card__list d-flex align-items-center flex-column list-unstyled mb-0">
                                                        <li class="personal-card__item">
                                                            <a href="#" class="personal-card__link">
                                                                <span>John’s wishlist</span>
                                                                <span class="personal-card__num">12</span>
                                                            </a>
                                                        </li>
                                                        <li class="personal-card__item">
                                                            <a href="#" class="personal-card__link">
                                                                <span>View preferences</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>


                                        </div>


                                    </div>
                                    <!-- Add Arrows -->
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            </div>

                            <div class="d-flex flex-column w-100">
                                <strong class="text-gray">Subgroups</strong>
                                <div class="groups__list w-100">
                                    <p>Short description of what it is and how you could use subrgroups. Statistic show
                                        that many struggles to give meaningful gifts on the early dating romance. They
                                        don’t know if it is too much, to little or if you will like it.</p>
                                    <div class="d-flex justify-content-end">
                                        <a href="#" class="btn-border btn-border--two">Add subgroup</a>
                                    </div>
                                </div>
                            </div>

                            <div class="groups__block groups__list-small d-flex">
                                <div class="groups__block-left">
                                    <figure style="background-image: url('images/groups/group-name.png');"></figure>
                                </div>

                                <div class="groups__block-right d-flex w-100">
                                    <div class="groups__block-text w-100">
                                        <strong>Group name</strong>
                                        <p>Group description 100 characters or less. But how many is one hundred? Yup,
                                            about
                                            this many characters</p>
                                        <div class="d-flex align-items-baseline groups__block-personal">
                                            <strong>Private</strong>
                                            <p class="d-flex align-items-center">Members <b>15</b></p>
                                        </div>
                                    </div>
                                    <div class="d-flex w-100 groups__block-btn">
                                        <a class="btn-border btn-border--two" href="#">Manage</a>
                                    </div>
                                </div>
                            </div>




                        </div>
                        <div class="connections__wrapper">
                            <div class="connections">
                                <span>Members</span>
                                <div class="members__box">
                                    <div class="d-flex flex-column">
                                        <span class="text-number">99</span>
                                        <p>Members</p>
                                    </div>

                                    <div class="members__search">
                                        <form action="" id="search" class="search">

                                            <input type="search" name="search" class="search__input"
                                                placeholder="Search for someone" id="search-input" autocomplete="off">
                                            <button class="search__button" aria-label="search">
                                                <i class="icon icon-search"></i>
                                            </button>

                                            <div class="search__result">
                                                <ul class="search__result-list">
                                                    <li class="search__result-item d-flex align-items-center">
                                                        <p>
                                                            <b>pa</b>int
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="position-relative d-flex" style="height: 360px;">
                                        <div class="scroll-div w-100">
                                            <section class="section-content">
                                                <ul>
                                                    <li class="d-flex align-items-center justify-content-between">
                                                        <div class="profile-list w-100">
                                                            <figure class="profile-list__avatar">
                                                                <img src="images/groups/user-girl.png"
                                                                    onError="this.style.display='none'" alt="avatar">
                                                                <span class="profile-list__symbol">AD</span>
                                                            </figure>
                                                            <span class="text-bold">Your nameh</span>
                                                        </div>
                                                        <div
                                                            class="profile-link d-flex w-100 justify-content-end align-items-center">
                                                            <a class="btn-orange-small" href="#">Leader</a>
                                                            <div class="options">
                                                                <button type="button" class="options__btn"
                                                                    data-type="options">
                                                                    <i class="icon icon-more"></i>
                                                                </button>

                                                                <div class="options__dropdown">
                                                                    <ul class="list-unstyled mb-0">
                                                                        <li><a href="#">Disable Admin</a></li>
                                                                        <li><a href="#">Make Leader</a></li>
                                                                        <li><a href="#">Kick out</a></li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="d-flex align-items-center justify-content-between">
                                                        <div class="profile-list w-100">
                                                            <figure class="profile-list__avatar">
                                                                <img src="images/profiles/user-1.png"
                                                                    onError="this.style.display='none'" alt="avatar">
                                                                <span class="profile-list__symbol">TS</span>
                                                            </figure>
                                                            <span>Terry Smith</span>
                                                        </div>
                                                        <div
                                                            class="profile-link d-flex w-100 justify-content-end align-items-center">
                                                            <a class="btn-blue-small" href="#">Admin</a>
                                                            <div class="options">
                                                                <button type="button" class="options__btn"
                                                                    data-type="options">
                                                                    <i class="icon icon-more"></i>
                                                                </button>

                                                                <div class="options__dropdown">
                                                                    <ul class="list-unstyled mb-0">
                                                                        <li><a href="#">Disable Admin</a></li>
                                                                        <li><a href="#">Make Leader</a></li>
                                                                        <li><a href="#">Kick out</a></li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="d-flex align-items-center justify-content-between">
                                                        <div class="profile-list w-100">
                                                            <figure class="profile-list__avatar">
                                                                <img src="images/groups/user-boy.png"
                                                                    onError="this.style.display='none'" alt="avatar">
                                                                <span class="profile-list__symbol">JS</span>
                                                            </figure>
                                                            <span>Terry Will Green</span>
                                                        </div>
                                                        <div
                                                            class="profile-link d-flex  justify-content-end align-items-center">

                                                            <div class="options">
                                                                <button type="button" class="options__btn"
                                                                    data-type="options">
                                                                    <i class="icon icon-more"></i>
                                                                </button>

                                                                <div class="options__dropdown">
                                                                    <ul class="list-unstyled mb-0">
                                                                        <li><a href="#">Disable Admin</a></li>
                                                                        <li><a href="#">Make Leader</a></li>
                                                                        <li><a href="#">Kick out</a></li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li class="d-flex align-items-center justify-content-between">
                                                        <div class="profile-list w-100">
                                                            <figure class="profile-list__avatar">
                                                                <img src="images/groups/user-boy-2.png"
                                                                    onError="this.style.display='none'" alt="avatar">
                                                                <span class="profile-list__symbol">TB</span>
                                                            </figure>
                                                            <span>Terry Brown</span>
                                                        </div>
                                                        <div
                                                            class="profile-link d-flex justify-content-end align-items-center">

                                                            <div class="options">
                                                                <button type="button" class="options__btn"
                                                                    data-type="options">
                                                                    <i class="icon icon-more"></i>
                                                                </button>

                                                                <div class="options__dropdown">
                                                                    <ul class="list-unstyled mb-0">
                                                                        <li><a href="#">Disable Admin</a></li>
                                                                        <li><a href="#">Make Leader</a></li>
                                                                        <li><a href="#">Kick out</a></li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li class="d-flex align-items-center justify-content-between">
                                                        <div class="profile-list w-100">
                                                            <figure class="profile-list__avatar">
                                                                <img src="images/profiles/user-1.png"
                                                                    onError="this.style.display='none'" alt="avatar">
                                                                <span class="profile-list__symbol">TS</span>
                                                            </figure>
                                                            <span>Terry Smith</span>
                                                        </div>
                                                        <div
                                                            class="profile-link d-flex justify-content-end align-items-center">

                                                            <div class="options">
                                                                <button type="button" class="options__btn"
                                                                    data-type="options">
                                                                    <i class="icon icon-more"></i>
                                                                </button>

                                                                <div class="options__dropdown">
                                                                    <ul class="list-unstyled mb-0">
                                                                        <li><a href="#">Disable Admin</a></li>
                                                                        <li><a href="#">Make Leader</a></li>
                                                                        <li><a href="#">Kick out</a></li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li class="d-flex align-items-center justify-content-between">
                                                        <div class="profile-list w-100">
                                                            <figure class="profile-list__avatar">
                                                                <img src="images/profiles/user-1.png"
                                                                    onError="this.style.display='none'" alt="avatar">
                                                                <span class="profile-list__symbol">TS</span>
                                                            </figure>
                                                            <span>Terry Smith</span>
                                                        </div>
                                                        <div
                                                            class="profile-link d-flex  justify-content-end align-items-center">

                                                            <div class="options">
                                                                <button type="button" class="options__btn"
                                                                    data-type="options">
                                                                    <i class="icon icon-more"></i>
                                                                </button>

                                                                <div class="options__dropdown">
                                                                    <ul class="list-unstyled mb-0">
                                                                        <li><a href="#">Disable Admin</a></li>
                                                                        <li><a href="#">Make Leader</a></li>
                                                                        <li><a href="#">Kick out</a></li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li class="d-flex align-items-center justify-content-between">
                                                        <div class="profile-list w-100">
                                                            <figure class="profile-list__avatar">
                                                                <img src="images/profiles/user-1.png"
                                                                    onError="this.style.display='none'" alt="avatar">
                                                                <span class="profile-list__symbol">TS</span>
                                                            </figure>
                                                            <span>Terry Smith</span>
                                                        </div>
                                                        <div
                                                            class="profile-link d-flex  justify-content-end align-items-center">

                                                            <div class="options">
                                                                <button type="button" class="options__btn"
                                                                    data-type="options">
                                                                    <i class="icon icon-more"></i>
                                                                </button>

                                                                <div class="options__dropdown">
                                                                    <ul class="list-unstyled mb-0">
                                                                        <li><a href="#">Disable Admin</a></li>
                                                                        <li><a href="#">Make Leader</a></li>
                                                                        <li><a href="#">Kick out</a></li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li class="d-flex align-items-center">
                                                        <div class="profile-list w-100">
                                                            <figure class="profile-list__avatar">
                                                                <img src="images/profiles/user-1.png"
                                                                    onError="this.style.display='none'" alt="avatar">
                                                                <span class="profile-list__symbol">TS</span>
                                                            </figure>
                                                            <span>Terry Smith</span>
                                                        </div>
                                                        <div
                                                            class="profile-link d-flex justify-content-end align-items-center">

                                                            <div class="options">
                                                                <button type="button" class="options__btn"
                                                                    data-type="options">
                                                                    <i class="icon icon-more"></i>
                                                                </button>

                                                                <div class="options__dropdown">
                                                                    <ul class="list-unstyled mb-0">
                                                                        <li><a href="#">Disable Admin</a></li>
                                                                        <li><a href="#">Make Leader</a></li>
                                                                        <li><a href="#">Kick out</a></li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li class="d-flex align-items-center">
                                                        <div class="profile-list w-100">
                                                            <figure class="profile-list__avatar">
                                                                <img src="images/profiles/user-1.png"
                                                                    onError="this.style.display='none'" alt="avatar">
                                                                <span class="profile-list__symbol">TS</span>
                                                            </figure>
                                                            <span>Terry Smith</span>
                                                        </div>
                                                        <div
                                                            class="profile-link d-flex  justify-content-end align-items-center">

                                                            <div class="options">
                                                                <button type="button" class="options__btn"
                                                                    data-type="options">
                                                                    <i class="icon icon-more"></i>
                                                                </button>

                                                                <div class="options__dropdown">
                                                                    <ul class="list-unstyled mb-0">
                                                                        <li><a href="#">Disable Admin</a></li>
                                                                        <li><a href="#">Make Leader</a></li>
                                                                        <li><a href="#">Kick out</a></li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </section>

                                        </div>
                                    </div>

                                </div>
                                <span>INVITES</span>
                                <div class="members__box">
                                    <div class="d-flex flex-column w-100 groups__block-toggle">
                                        <div class="groups__toggle active-arrow d-flex justify-content-between">
                                            <h5>Invite your connections</h5>

                                        </div>
                                        <div class="groups__hide">
                                            <small class="text-gray">Members of your other groups</small>

                                            <div class="d-flex flex-column members__block">
                                                <label class="form__label">Enter name or email</label>
                                                <input class="form__input" placeholder="Start typing" type="text">

                                                <span class="form__symbol-error"></span>
                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <a class="btn-blue btn-opacity" href="/">Invite</a>
                                            </div>

                                            <div class="position-relative d-flex profile-invite" style="height: 360px;">
                                                <div class="scroll-div w-100">
                                                    <section class="section-content">
                                                        <ul>

                                                            <li
                                                                class="d-flex align-items-center justify-content-between">
                                                                <div class="profile-list w-100">
                                                                    <figure class="profile-list__avatar">
                                                                        <img src="images/profiles/user-1.png"
                                                                            onError="this.style.display='none'"
                                                                            alt="avatar">
                                                                        <span class="profile-list__symbol">TS</span>
                                                                    </figure>
                                                                    <span>Terry Smith</span>
                                                                </div>
                                                                <div
                                                                    class="profile-link d-flex w-100 justify-content-end align-items-center">
                                                                    <a class="btn-blue" href="#">Invite</a>

                                                                </div>
                                                            </li>
                                                            <li
                                                                class="d-flex align-items-center justify-content-between">
                                                                <div class="profile-list w-100">
                                                                    <figure class="profile-list__avatar">
                                                                        <img src="images/profiles/user-1.png"
                                                                            onError="this.style.display='none'"
                                                                            alt="avatar">
                                                                        <span class="profile-list__symbol">TS</span>
                                                                    </figure>
                                                                    <span>Terry Smith</span>
                                                                </div>
                                                                <div
                                                                    class="profile-link d-flex w-100 justify-content-end align-items-center">
                                                                    <a class="btn-blue" href="#">Invite</a>

                                                                </div>
                                                            </li>

                                                            <li
                                                                class="d-flex align-items-center justify-content-between">
                                                                <div class="profile-list w-100">
                                                                    <figure class="profile-list__avatar">
                                                                        <img src="images/profiles/user-1.png"
                                                                            onError="this.style.display='none'"
                                                                            alt="avatar">
                                                                        <span class="profile-list__symbol">TS</span>
                                                                    </figure>
                                                                    <span>Terry Smith</span>
                                                                </div>
                                                                <div
                                                                    class="profile-link d-flex w-100 justify-content-end align-items-center">
                                                                    <a class="btn-blue" href="#">Invite</a>

                                                                </div>
                                                            </li>

                                                            <li
                                                                class="d-flex align-items-center justify-content-between">
                                                                <div class="profile-list w-100">
                                                                    <figure class="profile-list__avatar">
                                                                        <img src="images/profiles/user-1.png"
                                                                            onError="this.style.display='none'"
                                                                            alt="avatar">
                                                                        <span class="profile-list__symbol">TS</span>
                                                                    </figure>
                                                                    <span>Terry Smith</span>
                                                                </div>
                                                                <div
                                                                    class="profile-link d-flex w-100 justify-content-end align-items-center">
                                                                    <a class="btn-blue" href="#">Invite</a>

                                                                </div>
                                                            </li>

                                                            <li
                                                                class="d-flex align-items-center justify-content-between">
                                                                <div class="profile-list w-100">
                                                                    <figure class="profile-list__avatar">
                                                                        <img src="images/profiles/user-1.png"
                                                                            onError="this.style.display='none'"
                                                                            alt="avatar">
                                                                        <span class="profile-list__symbol">TS</span>
                                                                    </figure>
                                                                    <span>Terry Smith</span>
                                                                </div>
                                                                <div
                                                                    class="profile-link d-flex w-100 justify-content-end align-items-center">
                                                                    <a class="btn-blue" href="#">Invite</a>

                                                                </div>
                                                            </li>

                                                            <li
                                                                class="d-flex align-items-center justify-content-between">
                                                                <div class="profile-list w-100">
                                                                    <figure class="profile-list__avatar">
                                                                        <img src="images/profiles/user-1.png"
                                                                            onError="this.style.display='none'"
                                                                            alt="avatar">
                                                                        <span class="profile-list__symbol">TS</span>
                                                                    </figure>
                                                                    <span>Terry Smith</span>
                                                                </div>
                                                                <div
                                                                    class="profile-link d-flex w-100 justify-content-end align-items-center">
                                                                    <a class="btn-blue" href="#">Invite</a>

                                                                </div>
                                                            </li>

                                                            <li class="d-flex align-items-center">
                                                                <div class="profile-list w-100">
                                                                    <figure class="profile-list__avatar">
                                                                        <img src="images/profiles/user-1.png"
                                                                            onError="this.style.display='none'"
                                                                            alt="avatar">
                                                                        <span class="profile-list__symbol">TS</span>
                                                                    </figure>
                                                                    <span>Terry Smith</span>
                                                                </div>
                                                                <div
                                                                    class="profile-link d-flex w-100 justify-content-end align-items-center">
                                                                    <a class="btn-blue" href="#">Invite</a>

                                                                </div>
                                                            </li>

                                                            <li class="d-flex align-items-center">
                                                                <div class="profile-list w-100">
                                                                    <figure class="profile-list__avatar">
                                                                        <img src="images/profiles/user-1.png"
                                                                            onError="this.style.display='none'"
                                                                            alt="avatar">
                                                                        <span class="profile-list__symbol">TS</span>
                                                                    </figure>
                                                                    <span>Terry Smith</span>
                                                                </div>
                                                                <div
                                                                    class="profile-link d-flex w-100 justify-content-end align-items-center">
                                                                    <a class="btn-blue" href="#">Invite</a>

                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </section>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="members__box">
                                    <div class="d-flex flex-column w-100 groups__block-toggle">
                                        <div class="groups__toggle d-flex justify-content-between">
                                            <h5>Invite to splitchek</h5>

                                        </div>
                                        <div class="groups__hide" style="display: none;">
                                            <small class="text-gray">Unregistered friends</small>

                                            <div class="d-flex flex-column members__block">
                                                <span class="form__wrap-title">By e-mail</span>
                                                <div class="members__form">
                                                    <label class="form__label">Enter friend’s name</label>
                                                    <input type="email" placeholder="Text here" class="form__input"
                                                        required="">
                                                    <span class="form__symbol-error"></span>
                                                </div>

                                                <div class="members__form form__single ">
                                                    <label class="form__label">Enter their e-mail</label>
                                                    <input class="form__input" id="email" placeholder="e-mail here"
                                                        type="email">

                                                    <span class="form__symbol-error"></span>
                                                </div>

                                                <div class="d-flex flex-column members__form">
                                                    <label class="form__label">
                                                        Message (optional)</label>

                                                    <div class="w-100 max-text" data-maxlength="400">
                                                        <textarea class="form__textarea"
                                                            placeholder="Write something"></textarea>
                                                        <div class="count"><span>0</span>/<span>400</span></div>
                                                    </div>


                                                    <span class="form__symbol-error"></span>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-center members__form">
                                                <a class="btn-blue w-100" href="#"><img src="images/groups/check.svg"
                                                        alt="check">Invite sent</a>
                                            </div>

                                            <div class="d-flex flex-column members__block">
                                                <span class="form__wrap-title">By sms</span>
                                                <div class="members__form">
                                                    <label class="form__label">Enter friend’s name</label>
                                                    <input class="form__input" placeholder="Text here" type="text">

                                                    <span class="form__symbol-error"></span>
                                                </div>

                                                <div class="members__form">
                                                    <div
                                                        class=" form__single--select form__single--select-default form__single--fluid">
                                                        <label class="form__label">Choose country</label>
                                                        <div class="select-before">
                                                            <select
                                                                class="form__select form__select--default select2-hidden-accessible"
                                                                data-toggle="select" data-select2-id="11" tabindex="-1"
                                                                aria-hidden="true">
                                                                <option value="#">Start typing</option>
                                                                <option value="#">Start typing</option>
                                                            </select>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="members__form">
                                                    <label class="form__label">Phone number</label>
                                                    <input class="form__input" id="phone" placeholder="Type" type="tel"
                                                        maxlength="15">

                                                    <span class="form__symbol-error"></span>
                                                </div>

                                                <div class="d-flex justify-content-center">
                                                    <a data-toggle="modal" class="btn-blue w-100 btn-big" href="#">Send
                                                        invite</a>
                                                </div>


                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="members__box">
                                    <div class="d-flex flex-column w-100 groups__block-toggle">
                                        <div class="groups__toggle d-flex justify-content-between">
                                            <h5>Invited</h5>

                                        </div>
                                        <div class="groups__hide" style="display: none;">


                                            <div
                                                class="d-flex justify-content-between align-items-baseline members__invited">
                                                <div
                                                    class="d-flex flex-column justify-content-center align-items-center">
                                                    <img src="" alt="">
                                                    <p>Total</p>
                                                    <b>120</b>
                                                </div>

                                                <div
                                                    class="d-flex flex-column justify-content-center align-items-center">
                                                    <img src="images/groups/joined.svg" alt="joined">
                                                    <p>Joined</p>
                                                    <b>99</b>
                                                </div>

                                                <div
                                                    class="d-flex flex-column justify-content-center align-items-center">
                                                    <img src="images/groups/cansel.svg" alt="cansel">
                                                    <p>Declined</p>
                                                    <b>1</b>
                                                </div>

                                                <div
                                                    class="d-flex flex-column justify-content-center align-items-center">
                                                    <img src="images/groups/pending.svg" alt="pending">
                                                    <p>Pending</p>
                                                    <b>99</b>
                                                </div>

                                            </div>

                                            <div class="position-relative d-flex" style="height: 320px;">
                                                <div class="scroll-div w-100">
                                                    <section class="section-content">
                                                        <ul>
                                                            <li
                                                                class="d-flex align-items-center justify-content-between">
                                                                <div class="profile-list groups__pending w-100 d-flex">
                                                                    <figure class="profile-list__avatar ">
                                                                        <img src="images/groups/user-girl.png"
                                                                            onError="this.style.display='none'"
                                                                            alt="avatar">
                                                                        <span class="profile-list__symbol">JD</span>
                                                                    </figure>
                                                                    <div class="d-flex flex-column">
                                                                        <span class="text-bold">Joann Doe</span>
                                                                        <small class="text-gray">invited
                                                                            07.10.2020</small>
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="groups__pending-icons d-flex justify-content-end align-items-center">
                                                                    <span class="groups__oval arrow"><img
                                                                            src="images/groups/auto.svg"
                                                                            alt="arrow"></span>
                                                                    <span class="groups__oval close"><img
                                                                            src="images/groups/close.svg"
                                                                            alt="close"></span>

                                                                </div>
                                                            </li>
                                                            <li
                                                                class="d-flex align-items-center justify-content-between">
                                                                <div class="profile-list w-100 groups__pending d-flex">
                                                                    <figure class="profile-list__avatar">
                                                                        <img src="images/profiles/user-1.png"
                                                                            onError="this.style.display='none'"
                                                                            alt="avatar">
                                                                        <span class="profile-list__symbol">TS</span>
                                                                    </figure>
                                                                    <div class="d-flex flex-column">
                                                                        <span>Terry Smith</span>
                                                                        <small class="text-gray">invited
                                                                            07.10.2020</small>
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="groups__pending-icons d-flex  justify-content-end align-items-center">
                                                                    <span class="groups__oval arrow"><img
                                                                            src="images/groups/auto.svg"
                                                                            alt="arrow"></span>
                                                                    <span class="groups__oval close"><img
                                                                            src="images/groups/close.svg"
                                                                            alt="close"></span>

                                                                </div>
                                                            </li>

                                                            <li
                                                                class="d-flex align-items-center justify-content-between">
                                                                <div class="profile-list w-100 d-flex groups__pending">
                                                                    <figure class="profile-list__avatar">
                                                                        <img src="images/groups/user-boy.png"
                                                                            onError="this.style.display='none'"
                                                                            alt="avatar">
                                                                        <span class="profile-list__symbol">JS</span>
                                                                    </figure>
                                                                    <div class="d-flex flex-column">
                                                                        <span>Terry Will Green</span>
                                                                        <small class="text-gray">invited
                                                                            07.10.2020</small>
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="groups__pending-icons d-flex  justify-content-end align-items-center">
                                                                    <span class="groups__oval arrow"><img
                                                                            src="images/groups/auto.svg"
                                                                            alt="arrow"></span>
                                                                    <span class="groups__oval close"><img
                                                                            src="images/groups/close.svg"
                                                                            alt="close"></span>

                                                                </div>

                                                            </li>
                                                            <li
                                                                class="d-flex align-items-center justify-content-between">
                                                                <div class="profile-list w-100 groups__declined d-flex">
                                                                    <figure class="profile-list__avatar">
                                                                        <img src="images/groups/girl-profile.png"
                                                                            onError="this.style.display='none'"
                                                                            alt="avatar">
                                                                        <span class="profile-list__symbol">TS</span>
                                                                    </figure>
                                                                    <div class="d-flex flex-column">
                                                                        <span>Terry Smith</span>
                                                                        <small class="text-orange">Not
                                                                            interested</small>
                                                                    </div>
                                                                </div>

                                                            </li>




                                                            <li
                                                                class="d-flex align-items-center justify-content-between">
                                                                <div class="profile-list w-100 d-flex groups__joined">
                                                                    <figure class="profile-list__avatar">
                                                                        <img src="images/profiles/user-1.png"
                                                                            onError="this.style.display='none'"
                                                                            alt="avatar">
                                                                        <span class="profile-list__symbol">TS</span>
                                                                    </figure>
                                                                    <div class="d-flex flex-column">
                                                                        <span>Terry Smith</span>
                                                                        <small class="text-gray">invited
                                                                            07.10.2020</small>
                                                                    </div>
                                                                </div>

                                                            </li>


                                                            <li
                                                                class="d-flex align-items-center justify-content-between">
                                                                <div class="profile-list w-100 d-flex groups__joined">
                                                                    <figure class="profile-list__avatar">
                                                                        <img src="images/profiles/user-1.png"
                                                                            onError="this.style.display='none'"
                                                                            alt="avatar">
                                                                        <span class="profile-list__symbol">TS</span>
                                                                    </figure>
                                                                    <div class="d-flex flex-column">
                                                                        <span>Terry Smith</span>
                                                                        <small class="text-gray">invited
                                                                            07.10.2020</small>
                                                                    </div>
                                                                </div>

                                                            </li>


                                                        </ul>
                                                    </section>

                                                </div>
                                            </div>



                                        </div>

                                    </div>
                                </div>

                                <div class="members__bottom-btn">
                                    <a class="btn-border" href="#">Delete Group</a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        {{> ../common/footer }}
    </div>





    <!-- Modals -->
    {{> ../common/modals/create-goss }}
    {{> ../common/modals/menu-mobile }}
    {{> ../common/modals/add-photo }}
    {{> ../common/modals/user-profile-menu }}
    {{> ../common/modals/share-product }}
    {{> ../common/modals/add-timeline-product }}
    {{> ../common/modals/add-wishlist }}
    {{> ../common/modals/search-parameters }}
    {{> ../common/modals/cart }}
    {{> ../common/modals/add-comment }}
    {{> ../common/modals/store-info }}
    {{> ../common/modals/shop-another }}
    {{> ../common/modals/modals-notifications }}
    {{> ../common/modals/message-overlay }}
    {{> ../common/modals/goss-gallery }}
    {{> ../common/modals/menu-mobile--not-shop }}
    {{> ../common/modals/galery-view }}
    {{> ../common/modals/modal-pets }}
    {{> ../common/modals/modal-child }}
    {{> ../common/modals/modal-invite }}
    {{> ../common/modals/modal-unlink }}
    {{> ../common/modals/add-photo-background }}
    <!-- /Modals -->
</body>

</html>