<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body class="admin-default center">
    {{> ../common/header-help}}

    <div class="center-search">
        <div class="container">
            <div class="center-search__content">
                <h2>SplitChek help center</h2>
                <span>All the answers for your questions</span>
                <form action="#" id="help-search" class="search">
                    <input type="search" name="search" class="search__input" placeholder="Search for something"
                        id="search-input" autocomplete="off">
                    <button class="search__button" aria-label="search">
                        <i class="icon icon-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <section class="center-section">
        <div class="container">
            <div class="center__information">
                <h3>Get started</h3>
                <div class="center__supplements">
                    <div class="center__supplements-string">
                        <div class="center__supplements-box">
                            <div class="center__supplements-oval">
                                <figure> <img src="" onerror="this.style.display='none'" alt="img"></figure>
                            </div>
                            <div class="center__supplements-content">
                                <strong>Supplements</strong>
                                <p>Your store sells supplements. You automatically qualify to sell your products on
                                    SplitChek.
                                    Similar to a cleaning service, selling individual items should be your last option.
                                </p>
                            </div>
                        </div>
                        <div class="center__supplements-box">
                            <div class="center__supplements-oval">
                                <figure> <img src="" onerror="this.style.display='none'" alt="img"></figure>
                            </div>
                            <div class="center__supplements-content">
                                <strong>Supplements</strong>
                                <p>Your store sells supplements. You automatically qualify to sell your products on
                                    SplitChek.
                                    Similar to a cleaning service, selling individual items should be your last option.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="center__supplements-string">
                        <div class="center__supplements-box">
                            <div class="center__supplements-oval">
                                <figure> <img src="" onerror="this.style.display='none'" alt="img"></figure>
                            </div>
                            <div class="center__supplements-content">
                                <strong>Supplements</strong>
                                <p>Your store sells supplements. You automatically qualify to sell your products on
                                    SplitChek.
                                    Similar to a cleaning service, selling individual items should be your last option.
                                </p>
                            </div>
                        </div>
                        <div class="center__supplements-box">
                            <div class="center__supplements-oval">
                                <figure> <img src="" onerror="this.style.display='none'" alt="img"></figure>
                            </div>
                            <div class="center__supplements-content">
                                <strong>Supplements</strong>
                                <p>Your store sells supplements. You automatically qualify to sell your products on
                                    SplitChek.
                                    Similar to a cleaning service, selling individual items should be your last option.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center__information">
                <h3>Sell on SplitChek</h3>
                <div class="center__supplements">
                    <div class="center__supplements-string">
                        <div class="center__supplements-box">
                            <div class="center__supplements-oval">
                                <figure> <img src="" onerror="this.style.display='none'" alt="img"></figure>
                            </div>
                            <div class="center__supplements-content">
                                <strong>Supplements</strong>
                                <p>Your store sells supplements. You automatically qualify to sell your products on
                                    SplitChek.
                                    Similar to a cleaning service, selling individual items should be your last option.
                                </p>
                            </div>
                        </div>
                        <div class="center__supplements-box">
                            <div class="center__supplements-oval">
                                <figure> <img src="" onerror="this.style.display='none'" alt="img"></figure>
                            </div>
                            <div class="center__supplements-content">
                                <strong>Supplements</strong>
                                <p>Your store sells supplements. You automatically qualify to sell your products on
                                    SplitChek.
                                    Similar to a cleaning service, selling individual items should be your last option.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="center__supplements-string">
                        <div class="center__supplements-box">
                            <div class="center__supplements-oval">
                                <figure> <img src="" onerror="this.style.display='none'" alt="img"></figure>
                            </div>
                            <div class="center__supplements-content">
                                <strong>Supplements</strong>
                                <p>Your store sells supplements. You automatically qualify to sell your products on
                                    SplitChek.
                                    Similar to a cleaning service, selling individual items should be your last option.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="center__information">
                <h3>Hashtags</h3>
                <div class="center__supplements">
                    <div class="center__supplements-string">
                        <div class="center__supplements-box">
                            <div class="center__supplements-oval">
                                <figure> <img src="" onerror="this.style.display='none'" alt="img"></figure>
                            </div>
                            <div class="center__supplements-content">
                                <strong>Supplements</strong>
                                <p>Your store sells supplements. You automatically qualify to sell your products on
                                    SplitChek.
                                    Similar to a cleaning service, selling individual items should be your last option.
                                </p>
                            </div>
                        </div>
                        <div class="center__supplements-box">
                            <div class="center__supplements-oval">
                                <figure> <img src="" onerror="this.style.display='none'" alt="img"></figure>
                            </div>
                            <div class="center__supplements-content">
                                <strong>Supplements</strong>
                                <p>Your store sells supplements. You automatically qualify to sell your products on
                                    SplitChek.
                                    Similar to a cleaning service, selling individual items should be your last option.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="center__supplements-string">
                        <div class="center__supplements-box">
                            <div class="center__supplements-oval">
                                <figure> <img src="" onerror="this.style.display='none'" alt="img"></figure>
                            </div>
                            <div class="center__supplements-content">
                                <strong>Supplements</strong>
                                <p>Your store sells supplements. You automatically qualify to sell your products on
                                    SplitChek.
                                    Similar to a cleaning service, selling individual items should be your last option.
                                </p>
                            </div>
                        </div>
                        <div class="center__supplements-box">
                            <div class="center__supplements-oval">
                                <figure> <img src="" onerror="this.style.display='none'" alt="img"></figure>
                            </div>
                            <div class="center__supplements-content">
                                <strong>Supplements</strong>
                                <p>Your store sells supplements. You automatically qualify to sell your products on
                                    SplitChek.
                                    Similar to a cleaning service, selling individual items should be your last option.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="questions">
        <div class="container">
            <div class="questions__content">
                <h3>Have questions left?</h3>
                <p>You don't have to sell anything online. You can list your business so that shoppers can see your
                    business when they</p>
                <a href="#" class="btn-blue">Contact Support</a>
            </div>
        </div>
    </section>


    {{> ../common/footer-help}}
    {{> ../common/mobile-menu--help}}
</body>

</html>