<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body class="admin-default help-started create">
    <header class="header header-help">

        <div class="container">
            <div class="header__content">
                <div class="header-help__left">
                    <div class="header__burger">
                        <a href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                    <a class="header__logo" href="/index.html">
                        <img class="header__img" src="images/icons/splitcheck-w-logo.png" alt="logo">
                        <span class="d-none d-md-block">Help center</span>
                    </a>
                    <div class="header-help__links">
                        <ul>
                            <li><a class="active" href="#">Get started</a></li>
                            <li><a href="#">Sell</a></li>
                            <li><a href="#">Hashtags</a></li>
                            <li><a href="#">Manage Store</a></li>
                            <li><a href="#">B2B</a></li>
                        </ul>
                    </div>
                </div>

                <div class="header-help__right">
                    <a class="btn-border" href="#">To SplitCheck</a>
                </div>
            </div>
        </div>
    </header>



    <div class="section-blur ">
        <div class="blue-banner">
            <div class="container">
                <div class="blue-banner__content">
                    <form action="#" id="help-search" class="help-search">
                        <input type="search" name="search" placeholder="Search for something" id="help-search-input"
                            autocomplete="off">
                        <button class="search__button" aria-label="search">
                            <i class="icon icon-search"></i>
                        </button>
                    </form>

                </div>
            </div>
        </div>



        <section class="content-get-started">
            <div class="container">
                <!-- admin-menu -->
                <div class="nav-product aside-left">
                    <a href="#" class="menu-remove"><img src="images/icons/close-24px.svg" alt="close"></a>
                    <ul>
                        <li><a class="scroll-to active" href="#1">Short info</a></li>
                        <li><a class="scroll-to" href="#2">Images</a></li>
                        <li><a class="scroll-to" href="#3">Product type</a></li>
                        <li><a class="scroll-to" href="#4">Pricing</a></li>
                        <li><a class="scroll-to" href="#5">Inventory</a></li>
                        <li><a class="scroll-to" href="#6">Availability</a></li>
                        <li><a class="scroll-to" href="#7">Organization</a></li>
                        <li><a class="scroll-to" href="#8">Terms and conditions</a></li>
                        <li><a class="scroll-to" href="#9">Additional permissions</a></li>
                        <li><a class="scroll-to" href="#10">Long description</a></li>
                        <li><a class="scroll-to" href="#11">Customization</a></li>
                        <li><a class="scroll-to" href="#">SC search engine preview</a></li>
                    </ul>
                </div>
                <!-- /admin-menu -->
                <ul class="nav tabs-global__nav mobile-nav nav-pills nav-fill" id="pills-tab" role="tablist">
                    <div>
                        <section class="section-mobile-create">
                            <a href="#" class="mobile-menu-create">Short info
                                <svg class="svg-show" xmlns="http://www.w3.org/2000/svg" width="13" height="8"
                                    viewBox="0 0 13 8">
                                    <g>
                                        <g>
                                            <path fill="none" stroke="#f77d0e" stroke-miterlimit="20"
                                                d="M1 1v0l5.916 6v0L13 1v0"></path>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </section>

                    </div>
                </ul>

                <div class="get-started">
                    <div class="get-started__info">
                        <div class="cookies ">
                            <div class="cookies__content">
                                <div class="cookies__title">
                                    <h2>Get started</h2>
                                    <span>Effective on April 15, 2020</span>
                                </div>
                                <div class="cookies__paragraph mb-50">
                                    <p>At SplitChek, we believe in being clear and open about how we collect and use
                                        data
                                        related to
                                        you. This Cookie Policy applies to any SplitChek product or service that links
                                        to
                                        this
                                        policy or incorporates it by reference. We use cookies and similar technologies
                                        to
                                        collect
                                        and use data as part of our Products as defined in our <a href="#">Privacy
                                            Policy</a> and
                                        which includes our sites, communications, mobile applications and off-site
                                        Products,
                                        such as
                                        our ad services. In the spirit of transparency, this policy provides detailed
                                        information
                                        about how and when we use these technologies. By continuing to visit or use the
                                        SplitChek
                                        Products, you are agreeing to the use of cookies and similar technologies for
                                        the
                                        purposes
                                        described in this policy.</p>
                                </div>
                                <div id="1" class="cookies__paragraph">
                                    <h4>1. What is a cookie?</h4>
                                    <p>A cookie is a small piece of data that a website asks your browser to store on
                                        your
                                        computer
                                        or mobile device. The cookie allows the website to "remember" your actions or
                                        preferences
                                        over time. Most Internet browsers support cookies; however, users can set their
                                        browsers to
                                        decline certain types of cookies or specific cookies. Further, users can delete
                                        cookies at
                                        any time.</p>
                                </div>
                                <div id="4" class="cookies__paragraph">
                                    <h4>2. Why do we use cookies?</h4>
                                    <p>We use cookies to learn how you interact with our content and to improve your
                                        experience when
                                        visiting our website(s). For example, some cookies remember your language or
                                        preferences so
                                        that you do not have to repeatedly make these choices when you visit one of our
                                        websites. We
                                        also use cookies to help us with geolocation tracking in order to present you
                                        with
                                        the
                                        closest stores and content and click and collect locations. Additionally,
                                        cookies
                                        allow us
                                        to serve you specific content, such products you are interested in, customise
                                        your
                                        shopping
                                        experience. We may employ the learnings of your behaviour on our SplitChek to
                                        serve
                                        you with
                                        targeted advertisements on third-party products in an effort to “re-market” our
                                        products and
                                        services to you.</p>
                                    <div class="get-started__banner-mini">
                                        <svg width="26" height="34" viewBox="0 0 26 34" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M25.1317 22.2957L21.1661 25.8563C20.9645 26.0356 20.8654 26.3034 20.9017 26.5707L21.5823 31.8526C21.6223 32.1625 21.4829 32.4683 21.2227 32.6414C20.9624 32.8145 20.6265 32.8249 20.3561 32.6682L15.7492 30.0244C15.5163 29.8847 15.2285 29.872 14.9842 29.9907L10.1748 32.2744C9.89145 32.4063 9.55791 32.3672 9.31278 32.1732C9.06766 31.9793 8.95286 31.6637 9.01608 31.3576L10.1411 26.1488C10.1965 25.8839 10.1187 25.6087 9.93296 25.4119L6.27671 21.5419C6.05917 21.3162 5.99025 20.9858 6.0994 20.6919C6.20855 20.3981 6.47645 20.1928 6.78858 20.1638L12.0873 19.6013C12.3553 19.5727 12.5925 19.4152 12.723 19.1794L15.2711 14.5051C15.4207 14.2296 15.714 14.0633 16.0273 14.0764C16.3405 14.0896 16.6189 14.2799 16.7448 14.5669L18.9048 19.4326C19.011 19.6807 19.2353 19.8584 19.5011 19.9051L24.738 20.8894C25.0393 20.9513 25.2807 21.1763 25.3637 21.4725C25.4466 21.7687 25.3571 22.0864 25.1317 22.2957V22.2957Z"
                                                stroke="#0B0212" stroke-width="0.5625" />
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M9.92756 4.83564L8.02631 6.52314C7.92931 6.60923 7.88092 6.73757 7.89693 6.86627L8.22881 9.40314C8.24745 9.55209 8.17979 9.69867 8.05435 9.78111C7.9289 9.86354 7.7675 9.86748 7.63819 9.79127L5.42756 8.51439C5.31158 8.45239 5.17229 8.45239 5.05631 8.51439L2.75006 9.61689C2.61383 9.68627 2.44975 9.67052 2.32921 9.57649C2.20866 9.48247 2.15344 9.32717 2.18756 9.17814L2.72193 6.67502C2.74896 6.54741 2.71105 6.41471 2.62068 6.32064L0.865685 4.46439C0.761607 4.35529 0.728978 4.19633 0.781659 4.05504C0.834341 3.91376 0.963081 3.81497 1.11318 3.80064L3.65568 3.53627C3.78447 3.51996 3.89858 3.44527 3.96506 3.33377L5.18568 1.08377C5.2567 0.950325 5.39784 0.869317 5.54889 0.875311C5.69994 0.881305 5.83422 0.973242 5.89443 1.11189L6.92943 3.44627C6.9837 3.56608 7.09277 3.65208 7.22193 3.67689L9.73069 4.14939C9.88193 4.17323 10.0056 4.28258 10.0479 4.42976C10.0901 4.57694 10.0432 4.73525 9.92756 4.83564Z"
                                                stroke="#0B0212" stroke-width="0.5625" />
                                        </svg>

                                        <p>We want you to feel at home on splitchek. that's why if you join today, you
                                            will
                                            receive $250 free credit to use on the platform!</p>
                                    </div>
                                </div>

                                <div id="3" class="cookies__paragraph">
                                    <h4>3. What types of cookies do we use?</h4>
                                    <p>We use cookies to learn how you interact with our content and to improve your
                                        experience when
                                        visiting our website(s). For example, some cookies remember your language or
                                        preferences so
                                        that you do not have to repeatedly make these choices when you visit one of our
                                        websites. We
                                        also use cookies to help us with geolocation tracking in order to present you
                                        with
                                        the
                                        closest stores and content and click and collect locations. Additionally,
                                        cookies
                                        allow us
                                        to serve you specific content, such products you are interested in, customise
                                        your
                                        shopping
                                        experience. We may employ the learnings of your behaviour on our SplitChek to
                                        serve
                                        you with
                                        targeted advertisements on third-party products in an effort to “re-market” our
                                        products and
                                        services to you.</p>

                                    <div class="cookies__subparagraph mt-35">
                                        <p>3.1 Session Cookies</p>
                                        <p>Session cookies are temporary cookies that are used to remember you during
                                            the
                                            course of
                                            your visit to the SplitChek Products, and they expire when you close the the
                                            Service for
                                            example When using our website, you may have temporal cookies that will be
                                            deleted when
                                            you close your web browser.</p>
                                    </div>
                                    <div class="cookies__subparagraph">
                                        <p>3.2 Persistent Cookies</p>
                                        <p>Persistent cookies are used to remember your preferences within the website
                                            and
                                            remain on
                                            your desktop or mobile device even after you close your browser or restart
                                            your
                                            computer. We use these cookies to analyse user behaviour to establish visit
                                            patterns so
                                            that we can improve our website functionality for you and others who visit
                                            our
                                            website(s). These cookies also allow us to serve you with targeted
                                            advertising
                                            and
                                            measure the effectiveness of our site functionality and advertising.</p>
                                    </div>
                                </div>

                                <div id="10" class="cookies__paragraph">
                                    <h4>4. Pixels</h4>
                                    <p>A pixel is a tiny image that may be found within web pages and emails, requiring
                                        a
                                        call
                                        (which provides device and visit information) to our servers in order for the
                                        pixel
                                        to be
                                        rendered in those web pages and emails. We use pixels to learn more about your
                                        interactions
                                        with email content or web content, such as whether you interacted with ads or
                                        posts.
                                        Pixels
                                        can also enable us and third parties to place cookies on your browser.</p>

                                    <div class="video-box--single">
                                        <button class="video-play"></button>
                                        <video loop="" autoplay="false" id="videoBox" width="100%" height="100%"
                                            src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerEscapes.mp4"
                                            type="video/mp4"></video>

                                    </div>
                                </div>

                                <div id="2" class="cookies__paragraph">
                                    <h4>5. Pixels</h4>
                                    <p>A pixel is a tiny image that may be found within web pages and emails, requiring
                                        a call (which provides device and visit information) to our servers in order for
                                        the pixel to be rendered in those web pages and emails. We use pixels to learn
                                        more about your interactions with email content or web content, such as whether
                                        you interacted with ads or posts. Pixels can also enable us and third parties to
                                        place cookies on your browser.</p>

                                    <div class="scrin-box">
                                        <img src="images/help/started-scrin-1.png" alt="">
                                        <div class="scrin-box__images">
                                            <img src="images/help/started-scrin-2.png" alt="">
                                            <img src="images/help/started-scrin-3.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="article">
                            <h5>Was this article helpful to you?</h5>
                            <div class="article__btn">
                                <a href="#" class="btn-border-red">Not helpful</a>
                                <a href="#" class="btn-blue">Helpful</a>
                            </div>
                        </div>

                        <section class="questions">
                            <div class="container">
                                <div class="questions__content">
                                    <h3>Have questions left?</h3>
                                    <p>You don't have to sell anything online. You can list your business so that
                                        shoppers can see your
                                        business when they</p>
                                    <a href="#" class="btn-blue">Contact Support</a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

        </section>










    </div>


    {{> ../common/footer-help}}


    <div class="mobile-menu mobile-menu__help">
        <div class="mobile-menu__info">
            <div class="mobile-menu__top-block">
                <div class="mobile-menu__top">
                    <div class="mobile-menu__close">
                        <img src="images/icons/close.svg" alt="">
                    </div>
                    <div class="mobile-menu__logo">
                        <img src="images/icons/logo.png" alt="">
                    </div>
                </div>
                <div class="mobile-menu__body">
                    <ul>
                        <li><a href="#">Get started</a></li>
                        <li><a href="#">Sell</a></li>
                        <li><a href="#">Hashtags</a></li>
                        <li><a href="#">Manage Store</a></li>
                        <li><a href="#">B2B</a></li>
                    </ul>
                </div>
            </div>
            <div class="mobile-menu__link">
                <a class="btn-border" href="#">To SplitCheck</a>
            </div>
        </div>
    </div>
</body>

</html>