<!DOCTYPE html>
<html lang="en">

<head>
  {{> ../common/head }}
</head>

<body class="home">
  {{> ../common/mobile-menu }}
  {{> ../common/mobile-menu-bottom }}
  <div class="section-blur theme-background-one">
    {{> ../common/header-next }}
    <div class="container">
      <div class="main-content">
        <aside class="aside-left">
          <section class="section-content">
            <span class="section-content__title">shop for</span>
            <div class="personal-card">
              <div class="personal-card__avatar personal-card__avatar--no-img">
                <img src="" alt="">
                <span class="personal-card__symbol">JS</span>
              </div>
              <p class="personal-card__name">John Smith</p>
              <ul class="personal-card__list">
                <li class="personal-card__item">
                  <a href="#" class="personal-card__link">
                    <span>John’s wishlist</span>
                    <span class="personal-card__num">12</span>
                  </a>
                </li>
                <li class="personal-card__item">
                  <a href="#" class="personal-card__link">
                    <span>View preferences</span>
                  </a>
                </li>
              </ul>
            </div>

            <a href="#" class="section-content__btn btn-border">Shop for another</a>
          </section>

          <section class="section-content">
            <span class="section-content__title">Other links</span>

            <div class="other-links">
              <ul class="other-links__list">
                <li class="other-links__item">
                  <a href="#" class="other-links__link">
                    <i class="icon icon-gift"></i>
                    <span>Spoil yourself</span>
                  </a>
                </li>
                <li class="other-links__item">
                  <a href="#" class="other-links__link">
                    <i class="icon icon-social-media"></i>
                    <span>Open public goss</span>
                  </a>
                </li>
                <li class="other-links__item">
                  <a href="#" class="other-links__link">
                    <i class="icon icon-discount"></i>
                    <span>Snatch a bargain</span>
                  </a>
                </li>
                <li class="other-links__item">
                  <a href="#" class="other-links__link">
                    <i class="icon icon-mail"></i>
                    <span>Shared orders</span>
                  </a>
                </li>
                <li class="other-links__item">
                  <a href="#" class="other-links__link">
                    <i class="icon icon-group"></i>
                    <span>My groups</span>
                  </a>
                </li>
                <li class="other-links__item">
                  <a href="#" class="other-links__link">
                    <i class="icon icon-heart"></i>
                    <span>My family</span>
                  </a>
                </li>
                <li class="other-links__item">
                  <a href="#" class="other-links__link">
                    <i class="icon icon-notification"></i>
                    <span>Alerts</span>
                  </a>
                </li>
                <li class="other-links__item">
                  <a href="#" class="other-links__link">
                    <i class="icon icon-setting"></i>
                    <span>Shopping preferences</span>
                  </a>
                </li>
              </ul>
            </div>
          </section>
        </aside>
        <main class="main">
          <section class="section-content">
            <span class="section-content__title">
              <span>What’s the goss?</span>
              <i class="icon icon-help"></i>
            </span>
            <i></i>
            <div class="card-goss">
              <div class="card-goss__slider swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a href="#" class="card-goss__item card-goss__item--new">
                      <i class="icon icon-plus"></i>
                    </a>
                    <span class="card-goss__name">#Create</span>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="card-goss__item card-goss__item--no-img">
                    </a>
                    <span class="card-goss__name"></span>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="card-goss__item card-goss__item--no-img">
                    </a>
                    <span class="card-goss__name"></span>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="card-goss__item card-goss__item--no-img">
                    </a>
                    <span class="card-goss__name"></span>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="section-content">
            <span class="section-content__title">What’s next?</span>
            <div class="main__card">
              <div class="internal-card internal-card--main w-100">
                <div class="internal-card__info">
                  <h2>Thank you for being part of the SplitChek community!</h2>
                  <p>There are few more things you could do to make your experience even more satisfying:</p>
                </div>
                <figure class="internal-card__img">
                  <img src="images/home/Gifts-bro.svg" alt="card-img">
                </figure>
              </div>
              <div class="internal-card">
                <figure class="internal-card__img">
                  <img src="images/home/Resume.svg" alt="img">
                </figure>
                <div class="internal-card__info">
                  <div class="internal-card__desc">
                    <h5> Your shipping details are missing</h5>
                    <p>Allows your loved ones and SplitChek to identify you</p>
                    <a href="#">Learn about how we store your data </a>
                  </div>
                  <a href="#" class="btn-border">Add picture</a>
                </div>
              </div>

              <div class="internal-card">
                <figure class="internal-card__img">
                  <img src="images/home/Address.svg" alt="img">
                </figure>
                <div class="internal-card__info">
                  <div class="internal-card__desc">
                    <h5>Your shipping details are missing</h5>
                    <p>We use it to send goods to you</p>
                  </div>
                  <a href="#" class="btn-border">Add address</a>
                </div>
              </div>
              <div class="internal-card">
                <figure class="internal-card__img">
                  <img src="images/home/Login.svg" alt="img">
                </figure>
                <div class="internal-card__info">
                  <div class="internal-card__desc">
                    <h5>Your mobile number is missing</h5>
                    <p>We use your mobile number to verify you at checkout and send you updates about your orders</p>
                  </div>
                  <a href="#" class="btn-border">Add my number</a>
                </div>
              </div>
              <div class="internal-card">
                <figure class="internal-card__img">
                  <img src="images/home/Family.svg" alt="img">
                </figure>
                <div class="internal-card__info">
                  <div class="internal-card__desc">
                    <h5>Connect with your family and share your shopping experience</h5>
                  </div>
                  <a href="#" class="btn-border-orange">Add family</a>
                </div>
              </div>
              <div class="internal-card">
                <figure class="internal-card__img">
                  <img src="images/home/Friendship.svg" alt="img">
                </figure>
                <div class="internal-card__info">
                  <div class="internal-card__desc">
                    <h5>Connect with your best friends and share your wishlist and checkout</h5>
                  </div>
                  <a href="#" class="btn-border-orange">Add besties</a>
                </div>
              </div>
            </div>
          </section>
          <section class="section-content">
            <span class="section-content__title">
              <span>What’s the goss?</span>
              <i class="icon icon-help"></i>
            </span>

            <div class="section-content__tiles">
              <div class="main__card">
                <div class="internal-card internal-card--main">
                  <figure class="internal-card__img">
                    <img src="images/home/buffer.svg" alt="img">
                  </figure>
                </div>
                <div class="main__buttons">
                  <a href="#" class="btn-border">Create a goss</a>
                </div>
              </div>
              <div class="main__card">
                <div class="internal-card internal-card--main">
                  <figure class="internal-card__img">
                    <img src="images/home/blogging.svg" alt="img">
                  </figure>
                </div>
                <div class="main__buttons">
                  <a href="#" class="btn-border-orange">Read public goss</a>
                </div>
              </div>
              <div class="main__card">
                <div class="internal-card internal-card--main">
                  <figure class="internal-card__img">
                    <img src="images/home/product-hunt.svg" alt="img">
                  </figure>
                </div>
                <div class="main__buttons">
                  <a href="#" class="btn-border-orange">Snatch a bargain</a>
                </div>
              </div>
            </div>
          </section>
          <section class="section-content">
            <span class="section-content__title">Your shopping preferences</span>
            <div class="main__card">
              <div class="internal-card internal-card--main w-100">
                <div class="internal-card__info">
                  <h2>Why create preferences?</h2>
                  <p>Based on the permission you give to your loved ones, they can use your shopping preferences to buy
                    gifts for you</p>
                </div>
                <figure class="internal-card__img">
                  <img src="images/home/Online-shopping.svg" alt="card-img">
                </figure>
              </div>
              <div class="main__buttons">
                <a href="#" class="btn-border">Learn more</a>
                <a href="#" class="btn-blue">Create preferences</a>
              </div>
            </div>
          </section>
          <section class="section-content">
            <span class="section-content__title">Your wishlist</span>
            <div class="main__card">
              <div class="internal-card internal-card--main w-100">
                <div class="internal-card__info">
                  <h2>Why create a wishlist?</h2>
                  <p>Based on the permission you give to your loved ones, they can buy you gifts from your wishlist</p>
                </div>
                <figure class="internal-card__img">
                  <img src="images/home/window-shopping.svg" alt="card-img">
                </figure>
              </div>
              <div class="main__buttons">
                <a href="#" class="btn-border">Learn more</a>
                <a href="#" class="btn-blue">Create preferences</a>
              </div>
            </div>
          </section>
          <section class="section-content">
            <div class="main__card main__card--row">
              <h2 class="main__card-title">Split your checkout with:</h2>

              <div class="internal-card">
                <figure class="internal-card__img">
                  <img src="images/home/love.svg" alt="card-img">
                </figure>
                <div class="internal-card__info">
                  <p>Your loved ones</p>
                  <a href="#" class="btn-link-orange">Learn More</a>
                </div>
              </div>
              <div class="internal-card">
                <figure class="internal-card__img">
                  <img src="images/home/Chat.svg" alt="card-img">
                </figure>
                <div class="internal-card__info">
                  <p>The community</p>
                  <a href="#" class="btn-link-orange">Learn More</a>
                </div>
              </div>
              <div class="internal-card">
                <figure class="internal-card__img">
                  <img src="images/home/gift.svg" alt="card-img">
                </figure>
                <div class="internal-card__info">
                  <p>Or let them buy it from your wishlist</p>
                  <a href="#" class="btn-link-orange">Learn More</a>
                </div>
              </div>

              <!-- btn-more -->
              <a href="#" class="card-timeline__btn-more">
                <i class="icon icon-more"></i>
              </a>
            </div>
          </section>
          <section class="section-content">
            <span class="section-content__title section-content__title--center">
              <span>My goss</span>
            </span>
            <div class="main__card main__card--noshadow">
              <div class="internal-card">
                <figure class="internal-card__img">
                  <img src="images/home/buffer.svg" alt="card-img">
                </figure>
                <div class="internal-card__info">
                  <h2>No goss in your feed</h2>
                </div>
              </div>
              <div class="main__buttons">
                <a href="#" class="btn-border">Create a goss</a>
              </div>
            </div>

          </section>
        </main>
        <aside class="aside-right">
          <section class="section-content">
            <span class="section-content__title">My timeline</span>

            <div class="scroll-div">
              <a href="#" class="new-item">
                <span>
                  <i class="icon icon-plus"></i>
                  Add to a timeline
                </span>
              </a>

              <div class="timeline">
                <div class="timeline__line"></div>
                <ul class="timeline__list">
                  <li class="timeline__item">
                    <span class="timeline__date timeline__date--active">2:30 pm today</span>
                    <article class="timeline__card card-timeline">
                      <!-- notification -->
                      <div class="card-timeline__notification">
                        <i class="icon icon-bell"></i>
                      </div>
                      <!-- card-inner -->
                      <div class="card-timeline__inner">
                        <!-- card-header -->
                        <div class="card-timeline__header">
                          <div class="card-timeline__info card-timeline__info--main">
                            <p>Lunch with friends in lorem ipsum dolor sit amet or something</p>
                            <p>Budget: <span class="bold">$45 per person</span></p>
                          </div>
                        </div>
                        <!-- card-body -->
                        <div class="card-timeline__body">
                          <span class="card-timeline__title">Who is coming?</span>
                          <ul class="card-timeline__list">
                            <li class="card-timeline__item">
                              <a href="#"
                                class="card-timeline__link card-timeline__link--contact card-timeline__link--no-img">
                                <img src="" alt="avatar">
                                <span>JS</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                        <!-- card-bottom -->
                        <div class="card-timeline__bottom">
                          <span class="card-timeline__title">Location</span>
                          <div class="card-timeline__info">
                            <p>4 Bellbird Cres, Coomera, QLD, 4209</p>
                          </div>
                        </div>

                        <!-- btn-more -->
                        <a href="#" class="card-timeline__btn-more">
                          <i class="icon icon-more"></i>
                        </a>
                      </div>
                    </article>
                  </li>
                  <li class="timeline__item">
                    <span class="timeline__date">10:00 am Friday</span>
                    <article class="timeline__card card-timeline">
                      <!-- notification -->
                      <div class="card-timeline__notification">
                        <i class="icon icon-bell"></i>
                      </div>
                      <!-- card-inner -->
                      <div class="card-timeline__inner">
                        <!-- card-header -->
                        <div class="card-timeline__header">
                          <div class="card-timeline__info card-timeline__info--main">
                            <p>Lunch with friends in lorem ipsum dolor sit amet or something</p>
                            <p>Budget: <span class="bold">$45 per person</span></p>
                          </div>
                        </div>
                        <!-- btn-more -->
                        <a href="#" class="card-timeline__btn-more">
                          <i class="icon icon-more"></i>
                        </a>
                      </div>
                    </article>
                  </li>
                  <li class="timeline__item">
                    <span class="timeline__date">14:30 pm Friday</span>
                    <article class="timeline__card card-timeline card-timeline--visible-notification">
                      <!-- notification -->
                      <div class="card-timeline__notification">
                        <i class="icon icon-bell"></i>
                      </div>
                      <!-- card-inner -->
                      <div class="card-timeline__inner">
                        <!-- card-header -->
                        <div class="card-timeline__header">
                          <span class="card-timeline__title">
                            <span>Added by:</span>
                            <span class="bold">You</span>
                          </span>
                          <div class="card-timeline__info card-timeline__info--main">
                            <p>Product name lorem ipsum dolor sit amet or something</p>
                            <p>Budget: <span class="bold">$45 per person</span></p>
                          </div>
                        </div>
                        <!-- card-body -->
                        <div class="card-timeline__body">
                          <figure class="card-timeline__img">
                            <img src="images/product/1.jpg" alt="product">
                          </figure>
                        </div>
                        <!-- card-bottom -->
                        <div class="card-timeline__bottom">
                          <span class="card-timeline__title">Comment</span>
                          <div class="card-timeline__info">
                            <p>I plan to buy it for my mum</p>
                          </div>
                        </div>

                        <!-- btn-more -->
                        <a href="#" class="card-timeline__btn-more">
                          <i class="icon icon-more"></i>
                        </a>
                      </div>
                    </article>
                  </li>
                </ul>

              </div>
            </div>


            <a href="#" class="btn-border">Load more</a>
          </section>


        </aside>
      </div>
    </div>

    {{> ../common/footer }}
  </div>
  {{> ../common/modal }}
</body>

</html>
