<!DOCTYPE html>
<html lang="en">

<head>
  {{> ../common/head }}
</head>

<body class="home">
  {{> ../common/mobile-menu }}
  {{> ../common/mobile-menu-bottom }}
  <div class="section-blur theme-background-one">
    {{> ../common/header-next }}
    <div class="container">
      <div class="main-content position-relative d-flex align-items-start justify-content-between">
        <aside class="aside-left">
          <div class="scroll-div">
            <section class="section-content">
              <span class="section-content__title position-relative d-flex align-items-center">shop for</span>
              <div class="personal-card d-flex align-items-center flex-column overflow-hidden">
                <div
                  class="personal-card__avatar personal-card__avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                  <img src="" alt="">
                  <span class="personal-card__symbol">JS</span>
                </div>
                <p class="personal-card__name">John Smith</p>
                <ul class="personal-card__list d-flex align-items-center flex-column list-unstyled mb-0">
                  <li class="personal-card__item">
                    <a href="#" class="personal-card__link">
                      <span>John’s wishlist</span>
                      <span class="personal-card__num">12</span>
                    </a>
                  </li>
                  <li class="personal-card__item">
                    <a href="#" class="personal-card__link">
                      <span>View preferences</span>
                    </a>
                  </li>
                </ul>
              </div>

              <a href="#" class="section-content__btn btn-border">Shop for another</a>
            </section>

            <section class="section-content">
              <span class="section-content__title position-relative d-flex align-items-center">Other links</span>

              <div class="other-links">
                <ul class="other-links__list d-flex flex-column list-unstyled mb-0">
                  <li class="other-links__item">
                    <a href="#" class="other-links__link position-relative">
                      <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
                      <i class="icon icon-gift active"></i>
                      <span>Spoil yourself</span>
                    </a>
                  </li>
                  <li class="other-links__item">
                    <a href="#" class="other-links__link position-relative">
                      <!-- add class "active" what would the icon change -->
                      <i class="icon icon-social-media"></i>
                      <span>Open public goss</span>
                    </a>
                  </li>
                  <li class="other-links__item">
                    <a href="#" class="other-links__link position-relative d-flex align-items-center">
                      <!-- add class "active" what would the icon change -->
                      <i class="icon icon-discount"></i>
                      <span>Snatch a bargain</span>
                    </a>
                  </li>
                  <li class="other-links__item">
                    <a href="#" class="other-links__link position-relative d-flex align-items-center">
                      <!-- add class "active" what would the icon change -->
                      <i class="icon icon-mail"></i>
                      <span>Shared orders</span>
                    </a>
                  </li>
                  <li class="other-links__item">
                    <a href="#" class="other-links__link position-relative d-flex align-items-center">
                      <!-- add class "active" what would the icon change -->
                      <i class="icon icon-group"></i>
                      <span>My groups</span>
                    </a>
                  </li>
                  <li class="other-links__item">
                    <a href="#" class="other-links__link position-relative d-flex align-items-center">
                      <!-- add class "active" what would the icon change -->
                      <i class="icon icon-heart"></i>
                      <span>My family</span>
                    </a>
                  </li>
                  <li class="other-links__item">
                    <a href="#" class="other-links__link position-relative d-flex align-items-center">
                      <i class="icon icon-notification"></i>
                      <!-- add class "active" what would the icon change -->
                      <span>Alerts</span>
                    </a>
                  </li>
                  <li class="other-links__item">
                    <a href="#" class="other-links__link position-relative d-flex align-items-center">
                      <i class="icon icon-setting"></i>
                      <!-- add class "active" what would the icon change -->
                      <span>Shopping preferences</span>
                    </a>
                  </li>
                </ul>
              </div>
            </section>
          </div>
        </aside>

        <main class="main">
          <section class="section-content">
            <a href="#" data-toggle="modal" data-target="#goss"
              class="section-content__title position-relative d-flex align-items-center">
              <span>What’s the goss?</span>
              <i class="icon icon-help"></i>
            </a>
            <i></i>
            <div class="card-goss position-relative">
              <div class="card-goss__slider swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a href="#"
                      class="card-goss__item card-goss__item--new position-relative d-flex align-items-center justify-content-center overflow-hidden">
                      <i class="icon icon-plus"></i>
                    </a>
                    <span class="card-goss__name">#Create</span>
                  </div>
                  <div class="swiper-slide">
                    <a href="#"
                      class="card-goss__item position-relative d-flex align-items-center justify-content-center overflow-hidden">
                      <figure class="card-goss__img" style="background-image: url('images/goss/img1.png');"></figure>
                    </a>
                    <span class="card-goss__name">#Funny</span>
                  </div>
                  <div class="swiper-slide">
                    <a href="#"
                      class="card-goss__item position-relative d-flex align-items-center justify-content-center overflow-hidden">
                      <figure class="card-goss__img" style="background-image: url('images/goss/img2.png');"></figure>
                    </a>
                    <span class="card-goss__name">#Stories</span>
                  </div>
                  <div class="swiper-slide">
                    <a href="#"
                      class="card-goss__item position-relative d-flex align-items-center justify-content-center overflow-hidden">
                      <figure class="card-goss__img" style="background-image: url('images/goss/img2.png');"></figure>
                    </a>
                    <span class="card-goss__name">#Sales</span>
                  </div>
                  <div class="swiper-slide">
                    <a href="#"
                      class="card-goss__item position-relative d-flex align-items-center justify-content-center overflow-hidden">
                      <figure class="card-goss__img" style="background-image: url('images/goss/img2.png');"></figure>
                    </a>
                    <span class="card-goss__name">#Sales</span>
                  </div>
                </div>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </section>

          <section class="section-content">
            <div class="main__card position-relative">
              <div class="internal-card internal-card--feed">
                <div class="internal-card__header">
                  <a href="#" class="internal-card__profile">
                    <figure class="internal-card__avatar">
                      <img src="images/profiles/img1.png" alt="avatar">
                      <span class="internal-card__symbol"></span>
                    </figure>
                    <div class="internal-card__head-info">
                      <h3 class="internal-card__name">John Doe</h3>
                      <p class="internal-card__subname">
                        <span>poll goss</span>
                        <span class="internal-card__date">02.10.2020</span>
                      </p>
                    </div>
                  </a>
                </div>
                <div class="internal-card__body">
                  <p>To help your skin thrive, use Moroccan argan extract which conditions and moisturizes while
                    chlorella brings a boost of skin-benefiting vitamins and omega 3s for extra glowing goodness</p>
                  <figure>

                  </figure>
                  </p>
                </div>

                <!-- option  add class: - options--open -->
                <div class="options">
                  <button type="button" class="options__btn" data-type="options">
                    <i class="icon icon-more"></i>
                  </button>

                  <div class="options__dropdown">
                    <ul class="list-unstyled mb-0">
                      <li><a href="#">Share</a></li>
                      <li><a href="#">Not gift worthy</a></li>
                      <li><a href="#">About the store</a></li>
                      <li><a href="#">Report abuse</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="section-content">
            <div class="main__card position-relative">
              <div class="internal-card internal-card--feed">
                <div class="internal-card__header">
                  <a href="#" class="internal-card__profile">
                    <figure class="internal-card__avatar">
                      <img src="images/profiles/img1.png" alt="avatar">
                      <span class="internal-card__symbol"></span>
                    </figure>
                    <div class="internal-card__head-info">
                      <h3 class="internal-card__name">SplitChek</h3>
                      <p class="internal-card__subname">
                        <span>sponsored</span>
                        <span class="internal-card__date"></span>
                      </p>
                    </div>
                  </a>
                </div>
                <div class="internal-card__body">
                  <p>Yellow pages reinvented on SplitChek, list your business on SplitChek and get $250 credited to your
                    SplitChek Ads account</p>
                  <figure>
                    <img src="images/feed/feed-img1.jpg" alt="img">
                  </figure>
                  <p>To help your skin thrive, use Moroccan argan extract which conditions and moisturizes while
                    chlorella brings a boost of skin-benefiting vitamins and omega 3s for extra glowing goodness
                    <a href="#">Read More</a>
                  </p>
                </div>
                <div class="internal-card__bottom">
                  <div class="reaction">
                    <div class="reaction__top">
                      <div class="reaction__quantity">
                        <ul class="reaction__list-icon">
                          <li class="reaction__item-icon">
                            <i class="icon icon-like"></i>
                          </li>
                          <li class="reaction__item-icon">
                            <i class="icon icon-heart-l"></i>
                          </li>
                          <li class="reaction__item-icon">
                            <i class="icon icon-happy"></i>
                          </li>
                          <li class="reaction__item-icon">
                            <i class="icon icon-surprised"></i>
                          </li>
                          <li class="reaction__item-icon">
                            <i class="icon icon-angry"></i>
                          </li>
                        </ul>
                        <span>56</span>
                      </div>
                      <span class="reaction__text">0 comments</span>
                    </div>
                    <div class="reaction__bottom">
                      <div class="reaction__link-reaction reaction__link-reaction--like">

                        <i class="icon icon-like-blue"></i>
                        <span>like</span>

                        <div class="reaction-btn-like">
                          <ul class="reaction-btn-like__list">
                            <li class="reaction-btn-like__item">
                              <a href="#" class="reaction-btn-like__link">
                                <i class="icon icon-like-big"></i>
                              </a>
                            </li>
                            <li class="reaction-btn-like__item">
                              <a href="#" class="reaction-btn-like__link">
                                <i class="icon icon-heart-l-big"></i>
                              </a>
                            </li>
                            <li class="reaction-btn-like__item">
                              <a href="#" class="reaction-btn-like__link">
                                <i class="icon icon-happy-big"></i>
                              </a>
                            </li>
                            <li class="reaction-btn-like__item">
                              <a href="#" class="reaction-btn-like__link">
                                <i class="icon icon-surprised-big"></i>
                              </a>
                            </li>
                            <li class="reaction-btn-like__item">
                              <a href="#" class="reaction-btn-like__link">
                                <i class="icon icon-angry-big"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <a href="#" class="reaction__link-reaction">
                        <i class="icon icon-comment"></i>
                        <span>comment</span>
                      </a>
                      <a href="#" class="reaction__link-reaction">
                        <i class="icon icon-plus-blue"></i>
                        <span>add to timeline</span>
                      </a>


                    </div>
                  </div>

                  <div class="internal-card__buttons">
                    <a href="#" class="btn-blue">Get Started</a>
                  </div>
                </div>

                <!-- option  add class: - options--open -->
                <div class="options">
                  <button type="button" class="options__btn" data-type="options">
                    <i class="icon icon-more"></i>
                  </button>

                  <div class="options__dropdown">
                    <ul class="list-unstyled mb-0">
                      <li><a href="#">Share</a></li>
                      <li><a href="#">Not gift worthy</a></li>
                      <li><a href="#">About the store</a></li>
                      <li><a href="#">Report abuse</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="section-content">
            <div class="main__card position-relative">
              <div class="internal-card internal-card--feed">
                <div class="internal-card__header">
                  <a href="#" class="internal-card__profile">
                    <figure class="internal-card__avatar internal-card__avatar--no-img">
                      <img src="images/profiles/img1.png" alt="avatar">
                      <span class="internal-card__symbol">ad</span>
                    </figure>
                    <div class="internal-card__head-info">
                      <h3 class="internal-card__name">Ann Doe</h3>
                      <p class="internal-card__subname">
                        <span>just for laugh goss</span>
                        <span class="internal-card__date">02.10.2020</span>
                      </p>
                    </div>
                  </a>
                </div>
                <div class="internal-card__body">
                  <figure>
                    <img src="images/feed/feed-img1.jpg" alt="img">
                  </figure>
                  <p>To help your skin thrive, use Moroccan argan extract which conditions and moisturizes while
                    chlorella brings a boost of skin-benefiting vitamins and omega 3s for extra glowing goodness</a>
                  </p>
                </div>
                <div class="internal-card__bottom">
                  <div class="reaction">
                    <div class="reaction__top">
                      <div class="reaction__quantity">
                        <ul class="reaction__list-icon">
                          <li class="reaction__item-icon">
                            <i class="icon icon-like"></i>
                          </li>
                          <li class="reaction__item-icon">
                            <i class="icon icon-heart-l"></i>
                          </li>
                          <li class="reaction__item-icon">
                            <i class="icon icon-happy"></i>
                          </li>
                          <li class="reaction__item-icon">
                            <i class="icon icon-surprised"></i>
                          </li>
                          <li class="reaction__item-icon">
                            <i class="icon icon-angry"></i>
                          </li>
                        </ul>
                        <span>56</span>
                      </div>
                      <span class="reaction__text">0 comments</span>
                    </div>
                    <div class="reaction__bottom">
                      <a href="#" class="reaction__link-reaction">
                        <i class="icon icon-like-blue"></i>
                        <span>like</span>
                      </a>
                      <a href="#" class="reaction__link-reaction">
                        <i class="icon icon-comment"></i>
                        <span>comment</span>
                      </a>
                      <a href="#" class="reaction__link-reaction">
                        <i class="icon icon-plus-blue"></i>
                        <span>add to timeline</span>
                      </a>
                    </div>
                  </div>
                </div>

                <!-- option  add class: - options--open -->
                <div class="options">
                  <button type="button" class="options__btn" data-type="options">
                    <i class="icon icon-more"></i>
                  </button>

                  <div class="options__dropdown">
                    <ul class="list-unstyled mb-0">
                      <li><a href="#">Share</a></li>
                      <li><a href="#">Not gift worthy</a></li>
                      <li><a href="#">About the store</a></li>
                      <li><a href="#">Report abuse</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="section-content">
            <div class="main__card position-relative">
              <div class="internal-card internal-card--feed">
                <div class="internal-card__header">
                  <a href="#" class="internal-card__profile">
                    <figure class="internal-card__avatar internal-card__avatar--no-img">
                      <img src="images/profiles/img1.png" alt="avatar">
                      <span class="internal-card__symbol">ad</span>
                    </figure>
                    <div class="internal-card__head-info">
                      <h3 class="internal-card__name">Ann Doe</h3>
                      <p class="internal-card__subname">
                        <span>just for laugh goss</span>
                        <span class="internal-card__date">02.10.2020</span>
                      </p>
                    </div>
                  </a>
                </div>
                <div class="internal-card__body">
                  <strong>Goss title</strong>
                  <p>To help your skin thrive, use Moroccan argan extract which conditions and moisturizes while
                    chlorella brings a boost of skin-benefiting vitamins and omega 3s for extra glowing goodness</a>
                  </p>
                </div>
                <div class="internal-card__bottom">
                  <div class="reaction">
                    <div class="reaction__top">
                      <div class="reaction__quantity">
                        <ul class="reaction__list-icon">
                          <li class="reaction__item-icon">
                            <i class="icon icon-like"></i>
                          </li>
                          <li class="reaction__item-icon">
                            <i class="icon icon-heart-l"></i>
                          </li>
                          <li class="reaction__item-icon">
                            <i class="icon icon-happy"></i>
                          </li>
                          <li class="reaction__item-icon">
                            <i class="icon icon-surprised"></i>
                          </li>
                          <li class="reaction__item-icon">
                            <i class="icon icon-angry"></i>
                          </li>
                        </ul>
                        <span>56</span>
                      </div>
                      <span class="reaction__text">0 comments</span>
                    </div>
                    <div class="reaction__bottom">
                      <a href="#" class="reaction__link-reaction">
                        <i class="icon icon-like-blue"></i>
                        <span>like</span>
                      </a>
                      <a href="#" class="reaction__link-reaction">
                        <i class="icon icon-comment"></i>
                        <span>comment</span>
                      </a>
                      <a href="#" class="reaction__link-reaction">
                        <i class="icon icon-plus-blue"></i>
                        <span>add to timeline</span>
                      </a>
                    </div>
                  </div>
                </div>

                <!-- option  add class: - options--open -->
                <div class="options">
                  <button type="button" class="options__btn" data-type="options">
                    <i class="icon icon-more"></i>
                  </button>

                  <div class="options__dropdown">
                    <ul class="list-unstyled mb-0">
                      <li><a href="#">Share</a></li>
                      <li><a href="#">Not gift worthy</a></li>
                      <li><a href="#">About the store</a></li>
                      <li><a href="#">Report abuse</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </main>

        <aside class="aside-right">

          <section class="section-content">
            <div class="scroll-div">
              <span class="section-content__title position-relative d-flex align-items-center">My timeline</span>
              <a href="#" data-toggle="modal" data-target="#add-timeline"
                class="new-item position-relative d-flex align-items-center justify-content-start">
                <span class="position-relative">
                  <i class="icon icon-plus"></i>
                  Add to a timeline
                </span>
              </a>

              <div class="timeline position-relative">
                <div class="timeline__line"></div>
                <ul class="timeline__list d-flex flex-column list-unstyled mb-0">
                  <li class="timeline__item">
                    <span class="timeline__date timeline__date--active">2:30 pm today</span>
                    <article
                      class="timeline__card card-timeline card-timeline--active card-timeline--visible-notification">
                      <!-- notification -->
                      <div class="card-timeline__notification">
                        <i class="icon icon-bell-white"></i>
                        <span>Today is the big day!</span>
                      </div>
                      <!-- card-inner -->
                      <div class="card-timeline__inner">
                        <!-- card-header -->
                        <div class="card-timeline__header">
                          <div class="card-timeline__info card-timeline__info--main">
                            <p>Lunch with friends in lorem ipsum dolor sit amet or something</p>
                            <p>Budget: <span class="bold">$45 per person</span></p>
                          </div>
                        </div>
                        <!-- card-body -->
                        <div class="card-timeline__body">
                          <span class="card-timeline__title">Who is coming?</span>
                          <ul class="card-timeline__list list-unstyled mb-0">
                            <li class="card-timeline__item">
                              <a href="#"
                                class="card-timeline__link card-timeline__link--contact card-timeline__link--no-img">
                                <img src="" alt="avatar">
                                <span>JS</span>
                              </a>
                            </li>
                            <li class="card-timeline__item">
                              <a href="#"
                                class="card-timeline__link card-timeline__link--contact card-timeline__link--no-img">
                                <img src="" alt="avatar">
                                <span>JS</span>
                              </a>
                            </li>
                            <li class="card-timeline__item">
                              <a href="#"
                                class="card-timeline__link card-timeline__link--contact card-timeline__link--no-img">
                                <img src="" alt="avatar">
                                <span>JS</span>
                              </a>
                            </li>
                            <li class="card-timeline__item">
                              <a href="#"
                                class="card-timeline__link-light card-timeline__link card-timeline__link--contact card-timeline__link--no-img">
                                <img src="" alt="avatar">
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <img src="images/home/arrow-right.svg" alt="">
                              </a>
                            </li>
                          </ul>
                        </div>
                        <!-- card-bottom -->
                        <div class="card-timeline__bottom">
                          <span class="card-timeline__title">Location</span>
                          <div class="card-timeline__info">
                            <p>4 Bellbird Cres, Coomera, QLD, 4209</p>
                          </div>
                        </div>

                        <!-- option  add class: - options--open -->
                        <div class="options">
                          <button type="button" class="options__btn" data-type="options">
                            <i class="icon icon-more"></i>
                          </button>

                          <div class="options__dropdown">
                            <ul class="list-unstyled mb-0">
                              <li><a href="#">Share</a></li>
                              <li><a href="#">Not gift worthy</a></li>
                              <li><a href="#">About the store</a></li>
                              <li><a href="#">Report abuse</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </article>
                  </li>
                  <li class="timeline__item">
                    <span class="timeline__date">10:00 am Friday</span>
                    <article class="timeline__card card-timeline">
                      <!-- notification -->
                      <div class="card-timeline__notification">
                        <i class="icon icon-bell"></i>
                        <span></span>
                      </div>
                      <!-- card-inner -->
                      <div class="card-timeline__inner">
                        <!-- card-header -->
                        <div class="card-timeline__header">
                          <div class="card-timeline__info card-timeline__info--main">
                            <p>Lunch with friends in lorem ipsum dolor sit amet or something</p>
                            <p>Budget: <span class="bold">$45 per person</span></p>
                          </div>
                        </div>
                        <!-- option  add class: - options--open -->
                        <div class="options">
                          <button type="button" class="options__btn" data-type="options">
                            <i class="icon icon-more"></i>
                          </button>

                          <div class="options__dropdown">
                            <ul class="list-unstyled mb-0">
                              <li><a href="#">Share</a></li>
                              <li><a href="#">Not gift worthy</a></li>
                              <li><a href="#">About the store</a></li>
                              <li><a href="#">Report abuse</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </article>
                  </li>
                  <li class="timeline__item">
                    <span class="timeline__date">14:30 pm Friday</span>
                    <article class="timeline__card card-timeline card-timeline--visible-notification">
                      <!-- notification -->
                      <div class="card-timeline__notification">
                        <i class="icon icon-bell"></i>
                        <span></span>
                      </div>
                      <!-- card-inner -->
                      <div class="card-timeline__inner">
                        <!-- card-header -->
                        <div class="card-timeline__header">
                          <span class="card-timeline__title">
                            <span>Added by:</span>
                            <span class="bold">You</span>
                          </span>
                          <div class="card-timeline__info card-timeline__info--main">
                            <p>Product name lorem ipsum dolor sit amet or something</p>
                            <p>Budget: <span class="bold">$45 per person</span></p>
                          </div>
                        </div>
                        <!-- card-body -->
                        <div class="card-timeline__body">
                          <figure class="card-timeline__img mb-0">
                            <img src="images/product/1.jpg" alt="product">
                          </figure>
                        </div>
                        <!-- card-bottom -->
                        <div class="card-timeline__bottom">
                          <span class="card-timeline__title">Comment</span>
                          <div class="card-timeline__info">
                            <p>I plan to buy it for my mum</p>
                          </div>
                        </div>

                        <!-- option  add class: - options--open -->
                        <div class="options">
                          <button type="button" class="options__btn" data-type="options">
                            <i class="icon icon-more"></i>
                          </button>

                          <div class="options__dropdown">
                            <ul class="list-unstyled mb-0">
                              <li><a href="#">Share</a></li>
                              <li><a href="#">Not gift worthy</a></li>
                              <li><a href="#">About the store</a></li>
                              <li><a href="#">Report abuse</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </article>
                  </li>
                </ul>

              </div>
            </div>
            <a href="#" class="btn-border">Load more</a>
          </section>


        </aside>
      </div>
    </div>

    {{> ../common/footer }}
  </div>
  {{> ../common/modal }}
</body>

</html>
