<!DOCTYPE html>
<html lang="en">

<head>
  {{> ../common/head }}
</head>

<body>
  {{> ../common/mobile-menu }}
  <div class="section-blur">
    {{> ../common/header-next }}
    <div class="container">
      <div class="main-content">
        <aside class="aside-left">
          <section class="section-content">
            <span class="section-content__title">shop for</span>
            <div class="personal-card">
              <div class="personal-card__avatar personal-card__avatar--no-img">
                <img src="" alt="">
                <span class="personal-card__symbol">JS</span>
              </div>
              <p class="personal-card__name">John Smith</p>
              <ul class="personal-card__list">
                <li class="personal-card__item">
                  <a href="#" class="personal-card__link">
                    <span>John’s wishlist</span>
                    <span class="personal-card__num">12</span>
                  </a>
                </li>
                <li class="personal-card__item">
                  <a href="#" class="personal-card__link">
                    <span>View preferences</span>
                  </a>
                </li>
              </ul>
            </div>

            <a href="#" class="section-content__btn btn-border">Change persone to shop for</a>
          </section>

          <section class="section-content">
            <span class="section-content__title">Other links</span>

            <div class="other-links">
              <ul class="other-links__list">
                <li class="other-links__item">
                  <a href="#" class="other-links__link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17">
                      <g>
                        <g>
                          <g />
                          <g>
                            <path fill="#315293"
                              d="M15.671 10.67H2.336V6.503c0-.458.375-.833.833-.833h3.4L5.337 7.353A.829.829 0 0 0 5.52 8.52a.835.835 0 0 0 1.159-.183L9.003 5.17l2.326 3.167a.835.835 0 0 0 1.158.183.829.829 0 0 0 .184-1.167L11.437 5.67h3.4c.459 0 .834.375.834.833zm0 4.167H2.336V13.17H15.67zm-9.166-12.5c.46 0 .838.372.838.828a.836.836 0 0 1-.838.828.836.836 0 0 1-.838-.828c0-.456.377-.828.838-.828zm4.997 0c.46 0 .838.372.838.828a.836.836 0 0 1-.838.828.836.836 0 0 1-.838-.828c0-.456.377-.828.838-.828zm4.168 1.666h-1.817c.092-.258.15-.541.15-.833A2.497 2.497 0 0 0 9.42 1.795l-.417.558-.416-.566A2.51 2.51 0 0 0 6.503.67a2.497 2.497 0 0 0-2.5 2.5c0 .292.059.575.15.833H2.337c-.925 0-1.659.742-1.659 1.667L.67 14.837a1.66 1.66 0 0 0 1.667 1.666H15.67a1.66 1.66 0 0 0 1.667-1.666V5.67a1.66 1.66 0 0 0-1.667-1.667z" />
                          </g>
                        </g>
                      </g>
                    </svg>
                    <span>Spoil yourself</span>
                  </a>
                </li>
                <li class="other-links__item">
                  <a href="#" class="other-links__link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                      <g>
                        <g>
                          <g>
                            <path fill="#315293"
                              d="M18.284 17.596a3.154 3.154 0 0 0-.913-.74 1.76 1.76 0 0 0-1.472-2.716 1.76 1.76 0 0 0-1.473 2.717 3.154 3.154 0 0 0-.913.74 2.913 2.913 0 0 1-.544-1.699 2.933 2.933 0 0 1 2.93-2.93 2.933 2.933 0 0 1 2.93 2.93c0 .633-.203 1.219-.545 1.698zm-2.386-1.112a.587.587 0 1 1 .002-1.173.587.587 0 0 1-.002 1.173zm-1.527 1.913a1.96 1.96 0 0 1 1.527-.74c.6 0 1.161.28 1.528.74-.445.273-.968.431-1.528.431-.559 0-1.082-.158-1.527-.43zM2.574 12.5a1.96 1.96 0 0 1 1.528-.741c.6 0 1.16.28 1.527.74a2.912 2.912 0 0 1-3.055 0zm.942-2.494a.59.59 0 0 1 .586-.59.59.59 0 0 1 .585.59.59.59 0 0 1-.585.591.59.59 0 0 1-.586-.591zM1.172 10a2.933 2.933 0 0 1 2.93-2.93A2.933 2.933 0 0 1 7.032 10c0 .632-.203 1.218-.545 1.698a3.154 3.154 0 0 0-.913-.74 1.76 1.76 0 0 0-1.472-2.716 1.76 1.76 0 0 0-1.473 2.716 3.155 3.155 0 0 0-.913.74A2.913 2.913 0 0 1 1.172 10zm17.656-5.898c0 .632-.202 1.218-.544 1.697a3.155 3.155 0 0 0-.913-.739 1.76 1.76 0 0 0-1.472-2.716 1.76 1.76 0 0 0-1.473 2.716 3.154 3.154 0 0 0-.913.74 2.913 2.913 0 0 1-.544-1.698 2.933 2.933 0 0 1 2.93-2.93 2.933 2.933 0 0 1 2.93 2.93zm-3.515 0a.587.587 0 1 1 1.173 0 .587.587 0 0 1-1.174 0zM14.37 6.6a1.96 1.96 0 0 1 1.527-.74c.6 0 1.161.28 1.528.74-.445.273-.968.431-1.528.431-.559 0-1.082-.158-1.527-.43zm1.527 5.197a4.106 4.106 0 0 0-3.649 2.23L7.91 11.522A4.08 4.08 0 0 0 8.203 10a4.08 4.08 0 0 0-.293-1.522l4.34-2.505a4.106 4.106 0 0 0 3.648 2.23A4.106 4.106 0 0 0 20 4.102 4.106 4.106 0 0 0 15.898 0a4.106 4.106 0 0 0-4.034 4.842L7.323 7.464a4.096 4.096 0 0 0-3.221-1.566A4.106 4.106 0 0 0 0 10a4.106 4.106 0 0 0 4.102 4.102c1.304 0 2.469-.613 3.22-1.566l4.542 2.622A4.106 4.106 0 0 0 15.898 20 4.106 4.106 0 0 0 20 15.898a4.106 4.106 0 0 0-4.102-4.101z" />
                          </g>
                        </g>
                      </g>
                    </svg>
                    <span>My groups</span>
                  </a>
                </li>
                <li class="other-links__item">
                  <a href="#" class="other-links__link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                      <g>
                        <g>
                          <path fill="#315293"
                            d="M10.5 4.667V1.333c0-.458.375-.833.833-.833.459 0 .834.375.834.833v.834h2.5c.458 0 .833.375.833.833a.836.836 0 0 1-.833.833h-2.5v.834a.836.836 0 0 1-.834.833.836.836 0 0 1-.833-.833zm4.167 4.156h-7.5V7.167h7.5c.458 0 .833.372.833.828a.833.833 0 0 1-.833.828zm-10-3.323c.458 0 .833.375.833.833v3.334a.836.836 0 0 1-.833.833.836.836 0 0 1-.834-.833v-.834h-2.5A.836.836 0 0 1 .5 8c0-.458.375-.833.833-.833h2.5v-.834c0-.458.375-.833.834-.833zM8 15.5a.836.836 0 0 1-.833-.833v-3.334c0-.458.375-.833.833-.833.458 0 .833.375.833.833v.834h5.834c.458 0 .833.375.833.833a.836.836 0 0 1-.833.833H8.833v.834A.836.836 0 0 1 8 15.5zM1.333 2.167h7.5v1.656h-7.5A.833.833 0 0 1 .5 2.995c0-.456.375-.828.833-.828zm0 10H5.5v1.656H1.333a.833.833 0 0 1-.833-.828c0-.456.375-.828.833-.828z" />
                        </g>
                      </g>
                    </svg>
                    <span>Shopping preferences</span>
                  </a>
                </li>
                <li class="other-links__item">
                  <a href="#" class="other-links__link">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18"
                      height="18" viewBox="0 0 18 18">
                      <g>
                        <g>
                          <g>
                            <image width="20" height="20" transform="translate(-1 -1)"
                              xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAB0UlEQVQ4T63Uy6tOARQF8N8lQnGRd1wMUEqJZIAb6irJSJIJ5U6ucEnKY4AQUibq/gFKChNuHmVAHoVkoFBSl1IykHdR8mhrH32+ztf5klNndPZZe+291tot/vPT0gBvAOZgDH7gJj4107sR4G6sRT+MxRnswNcq0DLAIXiBA7iDVpzDRazHRGzDdBzD7domZYAbcAiT8S2Lg+VPzMRJjMJgzMODMsCBGI6PWIjv+IA9WJ57jObxHk3mwXpE/QqKoqU4nqOECJuy+6Mc/yH6Y1CO34WdWIT79QyjKESI3dzAkdzXeVxpIMICrMtptuBaURcMwyKbsQbDcAu78K5C0ZE5fogWYv12QCHKDPRgCaahrwIsBIudf8ZjvMVG9NaqvA/tWIX3FYCnsAzjMRcH8QZd/wo4DuHXYpIgE778C7AT+1Pd11WJyO9DsR2L8RzdtQxH42zuZWWTgJGe2biK07hen5SpuJvem18Beg9TEBaKib5EIMqi9zIvyyy05YGI4njCs2H8qHmSe5xUleUovoQL2Js/1TaOMxaqrkZHNv2DWcZwKw7nkl9lnou6OBCRpAk5biTsRBXD+L4iTf8Uz+p2GcaPIMTol8uOQ5OCNlf2C5BLXj9hF/qhAAAAAElFTkSuQmCC" />
                          </g>
                        </g>
                      </g>
                    </svg>
                    <span>Shared orders</span>
                  </a>
                </li>
                <li class="other-links__item">
                  <a href="#" class="other-links__link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16">
                      <g>
                        <g>
                          <path fill="#315293"
                            d="M9.08 13.449l-.083.083-.084-.083C4.947 9.86 2.331 7.488 2.331 5.081c0-1.665 1.25-2.914 2.916-2.914 1.283 0 2.533.824 2.975 1.965H9.78c.433-1.14 1.683-1.965 2.966-1.965 1.667 0 2.916 1.25 2.916 2.914 0 2.407-2.616 4.78-6.582 8.368zM8.997 2.242C7.53.526 4.813-.183 2.613 1.326A4.56 4.56 0 0 0 .663 4.9c-.116 3.233 2.75 5.825 7.125 9.8l.084.075a1.663 1.663 0 0 0 2.241-.009l.092-.083c4.375-3.967 7.233-6.558 7.125-9.792a4.557 4.557 0 0 0-1.95-3.566c-2.2-1.5-4.917-.8-6.383.916z" />
                        </g>
                      </g>
                    </svg>
                    <span>My family</span>
                  </a>
                </li>
                <li class="other-links__item">
                  <a href="#" class="other-links__link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="17" viewBox="0 0 14 17">
                      <g>
                        <g>
                          <g />
                          <g>
                            <path fill="#335491"
                              d="M10.327 7.163c0-2.066-1.257-3.75-3.33-3.75-2.074 0-3.331 1.684-3.331 3.75v5h6.661zm3.336 5.834v.833H.33v-.833l1.667-1.667V7.163c0-2.566 1.366-4.7 3.75-5.266V1.33c0-.692.558-1.25 1.25-1.25.691 0 1.25.558 1.25 1.25v.567c2.391.566 3.75 2.708 3.75 5.266v4.167zm-8.33 1.666H8.66a1.67 1.67 0 0 1-1.663 1.667 1.67 1.67 0 0 1-1.663-1.667z" />
                          </g>
                        </g>
                      </g>
                    </svg>
                    <span>Alerts</span>
                  </a>
                </li>
              </ul>
            </div>
          </section>
        </aside>
        <main class="main">

        </main>
        <aside class="aside-right">

        </aside>
      </div>
    </div>

    {{> ../common/footer }}
  </div>
  {{> ../common/modal }}
</body>

</html>
