<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body class="admin-default how-it-works">
    {{> ../common/header-business}}

    <div class="section-blur">
        <div class="blue-banner">
            <div class="container">
                <div class="blue-banner__content">
                    <div class="blue-banner__left">
                        <h2>SplitChek - Gift giving just got a lot easier
                        </h2>
                        <p>SplitChek has eliminated the stress and hassle by giving shoppers the ability to <b>share,
                                give
                                and receive thoughtful gifts</b>. Shoppers can create their shopping preferences and a
                            wish-list
                            registry which loved ones can buy from and where friends and family can use the platform to
                            share the cost</p>
                    </div>
                    <div class="blue-banner__right">
                        <img src="images/help/gift.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="selling">
            <div class="container">
                <div class="selling__content">
                    <h3>Selling on SplitChek</h3>
                    <p>SplitChek provides a trustworthy platform connecting vendors to shoppers who are actively engaged
                        in buying gifts for their friends and family. As a vendor, you can sell meaningful products that
                        give value and improve shoppers' confidence when choosing a gift for their loved ones.</p>
                </div>
            </div>
        </div>

        <div class="gift">
            <div class="container">
                <div class="gift__content">
                    <h3>What is a meaningful gift?</h3>
                    <div class="gift__box">
                        <div class="gift__box-img">
                            <img src="images/help/present-1.png" alt="">
                        </div>
                        <div class="gift__box-text">
                            <p>A meaningful gift is a product that gifters buy as a <b>thoughtful gift for their loved
                                    ones.</b> Our mission as vendors is to reduce gifting stress by creating packaged
                                products
                                that help shoppers and gifters <b>eliminate the guesswork</b>.</p>
                        </div>
                    </div>

                    <div class="gift__box">
                        <div class="gift__box-text">
                            <p>As a seller, you may remember why you stopped selling on eBay or Amazon. You'll notice
                                that they have one thing in common, they sell many products to please everyone but
                                still, customers don't know what to buy as gifts. Trading on these marketplaces comes at
                                a cost to you, competition with inferior cheap products and high transaction fees.
                                SplitChek wants to help you sell your products in a <b>social and relaxed gifting
                                    platform</b>.
                            </p>
                        </div>
                        <div class="gift__box-img">
                            <img src="images/help/present-2.png" alt="">
                        </div>

                    </div>

                    <div class="gift__box">
                        <div class="gift__box-img">
                            <img src="images/help/present-3.png" alt="">
                        </div>
                        <div class="gift__box-text">
                            <p>SplitChek believes in working together as vendors to create a shopping experience for our
                                shoppers. We encourage vendors to be creative and work together to solve shoppers'
                                problems. Our primary concern is that our customers are stressing about the products we
                                sell. Some find it hard to decide how to package them as a gift to their loved ones. It
                                is <b> our job to help them choose</b> a thoughtful gift.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="examples">
            <div class="container">
                <div class="examples__content">
                    <h5>
                        Here are some examples to help you understand how SplitChek works:
                    </h5>

                    <div class="examples__box">
                        <div class="examples__img">
                            <img src="images/help/clean.png" alt="">
                        </div>

                        <div class="examples__info">
                            <strong>Cleaning service</strong>
                            <p>You are in a cleaning service, and you want your services to be on SplitChek - First, you
                                must ask yourself, how can I make my service <b>feel like a gift package</b>? If you
                                haven't
                                planned this part, you won't be approved to list your services on SplitChek. Consider
                                this package:</p>
                            <ul>
                                <li>Three-Hour Weekend Gift For Your House: Have time off to the beach while I clean
                                    your house on Saturday afternoon.

                                </li>
                                <li class="list-unstyled">The above is ok and will be accepted but not good enough. How
                                    about this;</li>
                                <li> 3-Hour Sunday Gift + Lawn Mowing For Your Home or 4-Hour Sunday Gift + Lawn Mowing
                                    + Grocery Shopping to relax your day.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="examples__box">
                        <div class="examples__img">
                            <img src="images/help/supplements.png" alt="">
                        </div>

                        <div class="examples__info">
                            <strong>Supplements</strong>
                            <p>Your store sells supplements. You automatically qualify to sell your products on
                                SplitChek. Similar to a cleaning service, selling individual items should be your last
                                option. You know your customers frequently asked questions about your products, why not
                                answer them via packaging them into a product? For example:</p>
                            <ul>
                                <li> Packing a pre-workout, protein bars, post-work and vitamins makes this package a
                                    better option. We aim to reduce customer questions and stress when they want to do
                                    business with you.

                                </li>
                                <li class="list-unstyled"> Even better, include a challenge within your gift package,
                                    e.g.</li>
                                <li>14-day-challenge-package. Included; pre-workout, 14 protein bars, three shakers,
                                    plant protein, post-workout, vitamins, meal planner and a-14-day-free-gym trial.
                                    This package makes buying a gift a lot easier for gifters.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="examples__box">
                        <div class="examples__img">
                            <img src="images/help/trainer.png" alt="">
                        </div>

                        <div class="examples__info">
                            <strong>Personal trainer</strong>
                            <p>If you are a personal trainer, your services may not qualify on SplitChek. But thinking
                                outside the box, it is possible. Let's say you call your product shred-6-kilos-in-14
                                days-with-joe. In this package you include supplements similar to the above example plus
                                your service, then you qualify. SplitChek is all about partnering with other businesses,
                                e.g. if you can’t write a meal plan, talk to a dietitian or find meal delivery companies
                                near you.</p>

                        </div>
                    </div>
                    <div class="examples__box">
                        <div class="examples__img">
                            <img src="images/help/soap.png" alt="">
                        </div>

                        <div class="examples__info">
                            <strong>Special soap</strong>
                            <p>If you sell special soap, your business qualifies to sell on SplitChek, but you can
                                package your soap as a bundle, e.g. Package your soap with candles, wine, flowers or
                                anything that will help shoppers make a quick decision.</p>

                        </div>
                    </div>
                    <div class="examples__box">
                        <div class="examples__img">
                            <img src="images/help/clothing.png" alt="">
                        </div>

                        <div class="examples__info">
                            <strong>Clothing</strong>
                            <p>If your store sells clothing, but you don't have complimentary shoes or bags, cross-sell
                                with those that sell them and package your product as one.</p>

                        </div>
                    </div>
                    <div class="examples__box">
                        <div class="examples__img">
                            <img src="images/help/art.png" alt="">
                        </div>

                        <div class="examples__info">
                            <strong>Many more</strong>
                            <p>Other products that would make great high-quality gifts to sell on SplitChek are
                                jewellery, make-up, essential oils, art and photographic prints, kids clothes and
                                many more. As long as products are of high quality they are suitable to sell on
                                SplitChek.
                            </p>

                        </div>
                    </div>

                    <div class="examples__text-bottom">
                        <p>SplitChek encourages vendors to do their research on their products and the problems they are
                            solving. We all know we can't solve all problems, but another vendor on SplitChek might be
                            solving a similar situation or unrelated shoppers' issues. Partnering with others may
                            improve your products and services’ conversion rate. For example, if you are in a cleaning
                            service, and you know a gardener or someone who sells cleaning products or a chef. If you
                            can't find them, search them on SplitChek, LinkedIn, Facebook and ask them to join you on
                            SplitChek so that you can cross-sell products on SplitChek.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="questions-list">
            <div class="container">
                <div class="questions-list__content">
                    <h3>Questions & Definitions</h3>
                    <div class="questions-list__block">
                        <span>What if the gifter doesn't want to buy all bundled items?</span>
                        <p>We allow you to sell your stock item as a:
                        </p>
                        <ul>
                            <li><b>Kit</b> - shoppers must purchase all items</li>
                            <li> <b>Bundle</b> - shoppers can choose which items to buy within a bundle</li>
                            <li><b>Configurable</b> - Shoppers choose a variant, e.g. colour, size and can buy one
                                variant at a
                                time</li>
                            <li><b>Individual</b> - shoppers can buy one product at a time.</li>
                        </ul>

                    </div>
                    <div class="questions-list__block">
                        <span>A Gifter</span>
                        <p>A Gifter - is someone who buys gifts for others. </p>
                    </div>
                    <div class="questions-list__block">
                        <span>A Shopper</span>
                        <p><b>A shopper - is someone who buys goods and services for themselves. </b></p>
                        <p>A shopper can be a gifter or vice versa. On SplitChek, shoppers choose whom they want to buy
                            gifts for, which switches them to a Gifter. The main difference between shoppers and gifters
                            is that kits and bundled products have a higher ranking when browsing as a gifter than a
                            shopper. If you are targeting gifters, package your products as kits or bundles that create
                            a one-stop gift package.</p>
                    </div>

                    <div class="questions-list__block">
                        <span>What if I only sell to other businesses?</span>
                        <p>Selling to other businesses is automatically approved. Your products will appear to business
                            owners and their staff. </p>
                    </div>

                    <div class="questions-list__block">
                        <span>What if I am not approved?</span>
                        <p>If you are not approved, don't worry, you can still create a business account and use our
                            blogs and goss features for free. You can use them to build your audience and link readers
                            to your website.</p>
                    </div>



                </div>
                <div class="questions-list__block-bottom">
                    <p>If you have any questions, contact us, and we will be glad to help you.</p>
                    <a href="#" class="btn-border">Contact SplitCheck</a>
                </div>
            </div>
        </div>

        <div class="list-business" style="background-image: url(../images/help/gifts-bg.png)">
            <div class="container">
                <div class="list-business__content">
                    <h3>List your business on SplitChek</h3>
                    <p>You don't have to sell anything online. You can list your business so that shoppers can see your
                        business when they search for services like yours on SplitChek. They can come to your store, and
                        it's free.</p>
                    <a class="btn-blue" href="#">List business</a>
                </div>
            </div>
        </div>


    </div>


    {{> ../common/footer-help}}


    <div class="mobile-menu mobile-menu__help">
        <div class="mobile-menu__info">
            <div class="mobile-menu__top-block">
                <div class="mobile-menu__top">
                    <div class="mobile-menu__close">
                        <img src="images/icons/close.svg" alt="">
                    </div>
                    <div class="mobile-menu__logo">
                        <img src="images/icons/logo.png" alt="">
                    </div>
                </div>
                <div class="mobile-menu__body">
                    <ul>
                        <li><a href="#">Get started</a></li>
                        <li><a href="#">Sell</a></li>
                        <li><a href="#">Hashtags</a></li>
                        <li><a href="#">Manage Store</a></li>
                        <li><a href="#">B2B</a></li>
                    </ul>
                </div>
            </div>
            <div class="mobile-menu__link">
                <a class="btn-border" href="#">To SplitCheck</a>
            </div>
        </div>
    </div>
</body>

</html>