<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>
{{> ../common/mobile-menu }}
  <div class="section-blur promo-visible">
    {{> ../common/header }}
    {{> ../common/landing/hero-slider }}
    {{> ../common/landing/answer }}
    {{> ../common/landing/platform }}
    {{> ../common/landing/member }}
    {{> ../common/landing/social }}
    {{> ../common/landing/card-detail }}
    {{> ../common/landing/gifts }}
    {{> ../common/footer }}
  </div>

  <!-- Modals -->
  {{> ../common/modals/register }}
  {{> ../common/modals/login }}
  {{> ../common/modals/videos }}
  <!-- Modals -->

</body>
</html>
