<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>
{{> ../common/mobile-menu }}
  <div class="section-blur">
    {{> ../common/header }}
    {{> ../common/hero-slider }}
    {{> ../common/answer }}
    {{> ../common/platform }}
    {{> ../common/member }}
    {{> ../common/social }}
    {{> ../common/card-detail }}
    {{> ../common/gifts }}
    {{> ../common/footer }}
  </div>
  {{> ../common/modal }}
</body>
</html>
