<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body class="profile home individual">
    {{> ../common/mobile-menu }}
    {{> ../common/mobile-menu-bottom }}
    <div class="section-blur theme-background-one" data-class="maze" id="background">
        <header class="header">
            <div class="container">
                <div class="header__content">
                    <div class="header__left">
                        <!-- <div class="header__burger">
          <img src="images/icons/burger.svg" alt="">
        </div> -->
                        <a class="header__logo" href="/index.html">
                            <img class="header__img-desktop" src="images/icons/w-logo.png" alt="logo">
                            <img class="header__img-mobile" src="images/icons/logo-mobile.png" alt="logo">
                        </a>
                    </div>
                    <div class="header__search">
                        <!-- form search -->
                        <!-- add class: "search--active" -->
                        <form action="#" id="search" class="search">

                            <input type="search" name="search" class="search__input" placeholder="Search for something"
                                id="search-input" autocomplete="off" />
                            <button class="search__button" aria-label="search">
                                <i class="icon icon-search"></i>
                            </button>


                            <div class="search__result">
                                <ul class="search__result-list">
                                    <li class="search__result-item d-flex align-items-center">
                                        <p>
                                            <b>pa</b>int
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="header__right">
                        <div class="head-links">
                            <!-- head menu -->
                            <ul class="head-links__list d-flex align-items-center list-unstyled mb-0">
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="index.html" class="head-links__link position-relative">
                                        <!-- add class "active" <i class="icon icon-home"></i> what would the icon change -->
                                        <i class="icon icon-home"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-star"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="shop.html?param=val&data=shop-another"
                                        class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-offer"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" data-toggle="modal" data-target="#cart"
                                        class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-cart"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" data-toggle="modal" data-target="#message-overlay"
                                        class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-head-mail"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- /head menu -->
                        </div>
                        <div class="header__user">
                            <a href="#menu-mobile" data-toggle="modal" data-target="#menu-mobile"
                                class="personal-avatar personal-avatar--no-img position-relative d-flex d-lg-none align-items-center justify-content-center overflow-hidden">
                                <img src="" alt="avatar">
                                <span class="personal-symbol">JS</span>
                            </a>
                            <a href="#user-profile-menu" data-toggle="modal" data-target="#user-profile-menu"
                                class="user-avatar user-avatar--no-img position-relative d-flex align-items-center justify-content-center overflow-hidden">
                                <img class="user-avatar__img" src="" alt="avatar">
                                <span class="user-avatar__symbol">AD</span>
                            </a>
                            <a href="#" class="mobile-link-arrow">
                                <i class="icon icon-arrow"></i>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </header>
        <div class="container">
            <div class="main-content position-relative d-flex align-items-start justify-content-between">
                <!-- aside-left -->
                <aside class="aside-left">
                    <div class="scroll-div">
                        <section class="section-content">
                            <span class="section-content__title position-relative d-flex align-items-center">My
                                profile</span>

                            <div class="other-links">
                                <ul class="other-links__list d-flex flex-column list-unstyled mb-0">
                                    <li class="other-links__item">
                                        <a href="#" class="other-links__link position-relative disabled">
                                            <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
                                            <i class="icon icon-baby"></i>
                                            <span>Kid account</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#" class="other-links__link position-relative disabled">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-pet"></i>
                                            <span>Pet account</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-shipping"></i>
                                            <span>My orders</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-book"></i>
                                            <span>Address book</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-settings-oval"></i>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <section class="section-content">
                            <span class="section-content__title position-relative d-flex align-items-center">Other
                                links</span>

                            <div class="other-links">
                                <ul class="other-links__list d-flex flex-column list-unstyled mb-0">
                                    <li class="other-links__item">
                                        <a href="#" class="other-links__link position-relative">
                                            <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
                                            <i class="icon icon-gift active"></i>
                                            <span>Spoil yourself</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#" class="other-links__link position-relative">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-social-media"></i>
                                            <span>Open public goss</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-discount"></i>
                                            <span>Snatch a bargain</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-mail"></i>
                                            <span>Shared orders</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-group"></i>
                                            <span>My groups</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-heart"></i>
                                            <span>My family</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#" data-toggle="modal" data-target="#notification"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <i class="icon icon-notification"></i>
                                            <!-- add class "active" what would the icon change -->
                                            <span>Alerts</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <i class="icon icon-setting"></i>
                                            <!-- add class "active" what would the icon change -->
                                            <span>Shopping preferences</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </aside>
                <!-- /aside-left -->
                <!-- main -->
                <main class="main size-container">
                    <section class="section-content individual__section">
                        <a href="#" data-toggle="modal" data-target="#goss"
                            class="section-content__title position-relative d-flex align-items-center">
                            <span><img src="images/icons/back.svg" alt="back">Back</span>
                        </a>
                        <span
                            class="section-content__title position-relative d-flex align-items-center">Statistic</span>
                        <div class="statistic-box">
                            <div class="statistic-box__head d-flex align-items-center justify-content-between">
                                <div class="d-flex flex-column">
                                    <strong>200k</strong>
                                    <span>Views</span>
                                </div>
                                <div class="d-flex flex-column">
                                    <strong>500k</strong>
                                    <span>Clicks</span>
                                </div>
                            </div>
                            <ul class="statistic-box__post w-100">
                                <li><span>reactions</span>
                                    <ul class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                                        <li class="reaction__item-icon">
                                            <i class="icon icon-like"></i>
                                        </li>
                                        <li class="reaction__item-icon">
                                            <i class="icon icon-heart-l"></i>
                                        </li>
                                        <li class="reaction__item-icon">
                                            <i class="icon icon-happy"></i>
                                        </li>
                                        <li class="reaction__item-icon">
                                            <i class="icon icon-surprised"></i>
                                        </li>
                                        <li class="reaction__item-icon">
                                            <i class="icon icon-angry"></i>
                                        </li>
                                    </ul>
                                    <b>437</b>
                                </li>
                                <li><span>comments</span> <b>65</b></li>
                                <li><span>added to timeline</span> <b>8</b></li>
                                <li><span>shared</span> <b>6</b></li>
                            </ul>
                            <div class="statistic-box__reaction w-100">
                                <h4>Reactions</h4>
                                <div class="statistic-box__emotion">
                                    <ul>
                                        <li>
                                            <div class="progress" data-progress="100">
                                                <div class="line blue"></div>
                                            </div>
                                            <i class="icon icon-like"></i>
                                            <span>like</span>
                                            <strong>200</strong>
                                        </li>
                                        <li>
                                            <div class="progress" data-progress="90">
                                                <div class="line red"></div>
                                            </div>
                                            <i class="icon icon-heart-l"></i>
                                            <span>love</span>
                                            <strong>170</strong>
                                        </li>
                                        <li>
                                            <div class="progress" data-progress="3">
                                                <div class="line"></div>
                                            </div>
                                            <i class="icon icon-happy"></i>
                                            <span>joy</span>
                                            <strong>2</strong>
                                        </li>
                                        <li>
                                            <div class="progress" data-progress="35">
                                                <div class="line"></div>
                                            </div>
                                            <i class="icon icon-surprised"></i>
                                            <span>wow</span>
                                            <strong>65</strong>
                                        </li>
                                        <li>
                                            <div class="progress" data-progress="0">
                                                <div class="line"></div>
                                            </div>
                                            <i class="icon icon-angry"></i>
                                            <span>angry</span>
                                            <strong>0</strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section-content  ">
                        <a href="#" data-toggle="modal" data-target="#goss"
                            class="section-content__title position-relative d-flex align-items-center individual__title-hide">
                            <span><img src="images/icons/back.svg" alt="back">Back</span>
                        </a>
                        <section class="section-content">
                            <div class="main__card main__card--bias position-relative">
                                <div class="internal-card internal-card--feed">

                                    <div class="internal-card__header">
                                        <a href="#" class="internal-card__profile d-flex flex-wrap align-items-start">
                                            <figure class="internal-card__avatar">
                                                <img src="images/profiles/img1.png" alt="avatar">
                                                <span class="internal-card__symbol"></span>
                                            </figure>
                                            <div class="internal-card__head-info">
                                                <h2 class="internal-card__name">John Doe</h2>
                                                <p class="internal-card__subname">
                                                    <span>just for laugh goss</span>
                                                    <span class="internal-card__date">02.10.2020</span>
                                                </p>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="internal-card__body mb-0">
                                        <p><b>Goss title</b> <br><br>
                                            To help your skin thrive, use Moroccan argan extract which conditions and
                                            moisturizes while
                                            chlorella brings a boost of skin-benefiting vitamins and omega 3s for extra
                                            glowing goodness
                                        </p>
                                    </div>
                                    <div class="reaction">
                                        <div class="reaction__top">
                                            <div class="reaction__quantity">
                                                <ul
                                                    class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                                                    <li class="reaction__item-icon">
                                                        <i class="icon icon-like"></i>
                                                    </li>
                                                    <li class="reaction__item-icon">
                                                        <i class="icon icon-heart-l"></i>
                                                    </li>
                                                    <li class="reaction__item-icon">
                                                        <i class="icon icon-happy"></i>
                                                    </li>
                                                    <li class="reaction__item-icon">
                                                        <i class="icon icon-surprised"></i>
                                                    </li>
                                                    <li class="reaction__item-icon">
                                                        <i class="icon icon-angry"></i>
                                                    </li>
                                                </ul>
                                                <div class="reaction__pop">
                                                    <ul class="smile">
                                                        <li>
                                                            <i class="like"></i>
                                                            <span>like</span>
                                                            <span>200</span>
                                                        </li>
                                                        <li>
                                                            <i class="heart"></i>
                                                            <span>love</span>
                                                            <span>170</span>
                                                        </li>
                                                        <li>
                                                            <i class="happy"></i>
                                                            <span>joy</span>
                                                            <span>2</span>
                                                        </li>
                                                        <li>
                                                            <i class="surprised"></i>
                                                            <span>wow</span>
                                                            <span>65</span>
                                                        </li>
                                                        <li>
                                                            <i class="angry"></i>
                                                            <span>angry</span>
                                                            <span>0</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <span>56</span>
                                            </div>
                                            <span class="reaction__text">0 comments</span>
                                        </div>
                                        <div class="reaction__bottom">
                                            <div class="reaction__wrap-link reaction__wrap-link--reaction">
                                                <i class="icon icon-like-blue"></i>
                                                <span>like</span>

                                                <div class="reaction-btn-like reaction-btn-like--feed">
                                                    <ul class="reaction-btn-like__list list-unstyled mb-0">
                                                        <li class="reaction-btn-like__item">
                                                            <a href="#" class="reaction-btn-like__link">
                                                                <i class="icon icon-like"></i>
                                                            </a>
                                                        </li>
                                                        <li class="reaction-btn-like__item">
                                                            <a href="#" class="reaction-btn-like__link">
                                                                <i class="icon icon-heart-l"></i>
                                                            </a>
                                                        </li>
                                                        <li class="reaction-btn-like__item">
                                                            <a href="#" class="reaction-btn-like__link">
                                                                <i class="icon icon-happy"></i>
                                                            </a>
                                                        </li>
                                                        <li class="reaction-btn-like__item">
                                                            <a href="#" class="reaction-btn-like__link">
                                                                <i class="icon icon-surprised"></i>
                                                            </a>
                                                        </li>
                                                        <li class="reaction-btn-like__item">
                                                            <a href="#" class="reaction-btn-like__link">
                                                                <i class="icon icon-angry"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>


                                            <div class="reaction__wrap-link">
                                                <a href="#" class="reaction__link">
                                                    <i class="icon icon-comment"></i>
                                                    <span>comment</span>
                                                </a>
                                            </div>
                                            <div class="reaction__wrap-link">
                                                <a href="#" class="reaction__link">
                                                    <i class="icon icon-plus-blue"></i>
                                                    <span>add to timeline</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- option  add class: - options--open -->
                                    <div class="options">
                                        <button type="button" class="options__btn" data-type="options">
                                            <i class="icon icon-more"></i>
                                        </button>

                                        <div class="options__dropdown">
                                            <ul class="list-unstyled mb-0">
                                                <li><a href="#">Share</a></li>
                                                <li><a href="#">Not gift worthy</a></li>
                                                <li><a href="#">About the store</a></li>
                                                <li><a href="#">Report abuse</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="comments-box">
                                        <div class="scroll-div">
                                            <div class="other__comment">
                                                <div class="other__author"><span>js</span></div>
                                                <div class="d-flex flex-column w-100">
                                                    <div class="other__body">
                                                        <a href="#" class="author">Jane Doe</a>
                                                        <p>Cool!</p>
                                                        <span class="time">Today at 21:00</span>
                                                    </div>
                                                    <div class="comments-box__function d-flex">
                                                        <div class="count__like d-flex">
                                                            <span>1</span>
                                                            <span>like</span>
                                                        </div>
                                                        <a href="#" class="like">
                                                            <i class="icon icon-like-blue"></i>
                                                        </a>
                                                        <a href="#" class="share">
                                                            <i class="icon icon-share"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="other__comment">
                                                <div class="other__author"><span>js</span></div>
                                                <div class="d-flex flex-column w-100">
                                                    <div class="other__body">
                                                        <a href="#" class="author">Jane Doe</a>
                                                        <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
                                                        <span class="time">Today at 21:00</span>
                                                    </div>
                                                    <div class="comments-box__function d-flex">
                                                        <div class="count__like d-flex">
                                                            <span>1</span>
                                                            <span>like</span>
                                                        </div>
                                                        <a href="#" class="like">
                                                            <i class="icon icon-like-blue"></i>
                                                        </a>
                                                        <a href="#" class="share">
                                                            <i class="icon icon-share"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="other__comment other__comment--my">
                                                <div class="other__author"><span>js</span></div>
                                                <div class="d-flex flex-column w-100">
                                                    <div class="other__body">
                                                        <a href="#" class="author">Jane Doe</a>
                                                        <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
                                                        <img src="images/profiles/crash.jpg" alt="">
                                                        <span class="time">Right now</span>
                                                    </div>
                                                    <div class="comments-box__function d-flex">
                                                        <div class="count__like d-flex">
                                                            <span>0</span>
                                                            <span>like</span>
                                                        </div>
                                                        <a href="#" class="like">
                                                            <i class="icon icon-like-blue"></i>
                                                        </a>
                                                        <a href="#" class="share">
                                                            <i class="icon icon-share"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="other__comment">
                                                <div class="other__author"><span>js</span></div>
                                                <div class="d-flex flex-column w-100">
                                                    <div class="other__body">
                                                        <a href="#" class="author">Jane Doe</a>
                                                        <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
                                                        <span class="time">Today at 21:00</span>
                                                    </div>
                                                    <div class="comments-box__function d-flex">
                                                        <div class="count__like d-flex">
                                                            <span>1</span>
                                                            <span>like</span>
                                                        </div>
                                                        <a href="#" class="like">
                                                            <i class="icon icon-like-blue"></i>
                                                        </a>
                                                        <a href="#" class="share">
                                                            <i class="icon icon-share"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <form action="#" class="form form-add-comment comments-box__form mw-100 p-0">
                                        <div class="form-add-comment__wrap">
                                            <div class="form-add-comment__body">
                                                <div class="form-add-comment__content"
                                                    placeholder="Leave your thoughts here" contenteditable="true">
                                                </div>
                                            </div>
                                            <div
                                                class="form-add-comment__footer d-flex align-items-center justify-content-between">
                                                <div class="form-add-comment__user">
                                                    <figure
                                                        class="form-add-comment__img form-add-comment__img--no-img position-relative">
                                                        <img src="images/profiles/user-1.png" alt="avatar">
                                                        <span>AD</span>
                                                    </figure>
                                                    <div
                                                        class="form__single form__single--select form__single--select-default form__single--fluid">
                                                        <select class="form__select form__select--default"
                                                            data-toggle="select">
                                                            <option value="user-1" title="TS">Terry Smith</option>
                                                            <option value="user-1" title="TW">Terry Will Green
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <span href="#" class="form-add-comment__btn-arrow">
                                                        <i class="icon icon-arrow"></i>
                                                    </span>
                                                </div>
                                                <ul
                                                    class="form-add-comment__list position-relative d-flex align-items-center list-unstyled mb-0">
                                                    <li class="form-add-comment__item">
                                                        <a href="#" class="form-add-comment__btn position-relative">
                                                            <i class="icon icon-paperclip" data-toggle="modal"
                                                                data-target="#add-files"></i>
                                                        </a>
                                                    </li>
                                                    <li class="form-add-comment__item">
                                                        <button class="form-add-comment__btn position-relative">
                                                            <i class="icon icon-paperplane"></i>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                        <span class="recomend">Recommended products</span>
                    </section>
                    <section class="section-content">
                        <div class="main__card main__card--bias position-relative">
                            <div class="internal-card internal-card--feed">
                                <div class="internal-card__header">
                                    <a href="#" class="internal-card__profile d-flex flex-wrap align-items-start">
                                        <figure class="internal-card__avatar internal-card__avatar--no-img">
                                            <img src="images/profiles/img1.png" alt="avatar">
                                            <span class="internal-card__symbol">ad</span>
                                        </figure>
                                        <div class="internal-card__head-info">
                                            <h2 class="internal-card__name">Ann Doe</h2>
                                            <p class="internal-card__subname">
                                                <span>just for laugh goss</span>
                                                <span class="internal-card__date">02.10.2020</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="internal-card__body">
                                    <figure>
                                        <img src="images/feed/feed-img1.jpg" alt="img">
                                    </figure>
                                    <p>To help your skin thrive, use Moroccan argan extract which conditions and
                                        moisturizes while
                                        chlorella brings a boost of skin-benefiting vitamins and omega 3s for extra
                                        glowing goodness
                                    </p>
                                </div>
                                <div class="internal-card__bottom">
                                    <div class="reaction">
                                        <div class="reaction__top">
                                            <div class="reaction__quantity">
                                                <ul
                                                    class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                                                    <li class="reaction__item-icon">
                                                        <i class="icon icon-like"></i>
                                                    </li>
                                                    <li class="reaction__item-icon">
                                                        <i class="icon icon-heart-l"></i>
                                                    </li>
                                                    <li class="reaction__item-icon">
                                                        <i class="icon icon-happy"></i>
                                                    </li>
                                                    <li class="reaction__item-icon">
                                                        <i class="icon icon-surprised"></i>
                                                    </li>
                                                    <li class="reaction__item-icon">
                                                        <i class="icon icon-angry"></i>
                                                    </li>
                                                </ul>
                                                <div class="reaction__pop">
                                                    <ul class="smile">
                                                        <li>
                                                            <i class="like"></i>
                                                            <span>like</span>
                                                            <span>200</span>
                                                        </li>
                                                        <li>
                                                            <i class="heart"></i>
                                                            <span>love</span>
                                                            <span>170</span>
                                                        </li>
                                                        <li>
                                                            <i class="happy"></i>
                                                            <span>joy</span>
                                                            <span>2</span>
                                                        </li>
                                                        <li>
                                                            <i class="surprised"></i>
                                                            <span>wow</span>
                                                            <span>65</span>
                                                        </li>
                                                        <li>
                                                            <i class="angry"></i>
                                                            <span>angry</span>
                                                            <span>0</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <span>56</span>
                                            </div>
                                            <span class="reaction__text">0 comments</span>
                                        </div>
                                        <div class="reaction__bottom">
                                            <div class="reaction__wrap-link reaction__wrap-link--reaction">
                                                <i class="icon icon-like-blue"></i>
                                                <span>like</span>

                                                <div class="reaction-btn-like reaction-btn-like--feed">
                                                    <ul class="reaction-btn-like__list list-unstyled mb-0">
                                                        <li class="reaction-btn-like__item">
                                                            <a href="#" class="reaction-btn-like__link">
                                                                <i class="icon icon-like"></i>
                                                            </a>
                                                        </li>
                                                        <li class="reaction-btn-like__item">
                                                            <a href="#" class="reaction-btn-like__link">
                                                                <i class="icon icon-heart-l"></i>
                                                            </a>
                                                        </li>
                                                        <li class="reaction-btn-like__item">
                                                            <a href="#" class="reaction-btn-like__link">
                                                                <i class="icon icon-happy"></i>
                                                            </a>
                                                        </li>
                                                        <li class="reaction-btn-like__item">
                                                            <a href="#" class="reaction-btn-like__link">
                                                                <i class="icon icon-surprised"></i>
                                                            </a>
                                                        </li>
                                                        <li class="reaction-btn-like__item">
                                                            <a href="#" class="reaction-btn-like__link">
                                                                <i class="icon icon-angry"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>


                                            <div class="reaction__wrap-link">
                                                <a href="#" class="reaction__link">
                                                    <i class="icon icon-comment"></i>
                                                    <span>comment</span>
                                                </a>
                                            </div>
                                            <div class="reaction__wrap-link">
                                                <a href="#" class="reaction__link">
                                                    <i class="icon icon-plus-blue"></i>
                                                    <span>add to timeline</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- option  add class: - options--open -->
                                <div class="options">
                                    <button type="button" class="options__btn" data-type="options">
                                        <i class="icon icon-more"></i>
                                    </button>

                                    <div class="options__dropdown">
                                        <ul class="list-unstyled mb-0">
                                            <li><a href="#">Share</a></li>
                                            <li><a href="#">Not gift worthy</a></li>
                                            <li><a href="#">About the store</a></li>
                                            <li><a href="#">Report abuse</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section-content">
                        <div class="main__card main__card--bias position-relative">
                            <div class="internal-card internal-card--feed">
                                <div class="internal-card__header">
                                    <a href="#" class="internal-card__profile d-flex flex-wrap align-items-start">
                                        <figure class="internal-card__avatar internal-card__avatar--no-img">
                                            <img src="images/profiles/img1.png" alt="avatar">
                                            <span class="internal-card__symbol">ad</span>
                                        </figure>
                                        <div class="internal-card__head-info">
                                            <h2 class="internal-card__name">Ann Doe</h2>
                                            <p class="internal-card__subname">
                                                <span>just for laugh goss</span>
                                                <span class="internal-card__date">02.10.2020</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="internal-card__body">
                                    <figure>
                                        <img src="images/feed/feed-img1.jpg" alt="img">
                                    </figure>
                                    <p>To help your skin thrive, use Moroccan argan extract which conditions and
                                        moisturizes while
                                        chlorella brings a boost of skin-benefiting vitamins and omega 3s for extra
                                        glowing goodness
                                    </p>
                                </div>
                                <div class="internal-card__bottom">
                                    <div class="reaction">
                                        <div class="reaction__top">
                                            <div class="reaction__quantity">
                                                <ul
                                                    class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                                                    <li class="reaction__item-icon">
                                                        <i class="icon icon-like"></i>
                                                    </li>
                                                    <li class="reaction__item-icon">
                                                        <i class="icon icon-heart-l"></i>
                                                    </li>
                                                    <li class="reaction__item-icon">
                                                        <i class="icon icon-happy"></i>
                                                    </li>
                                                    <li class="reaction__item-icon">
                                                        <i class="icon icon-surprised"></i>
                                                    </li>
                                                    <li class="reaction__item-icon">
                                                        <i class="icon icon-angry"></i>
                                                    </li>
                                                </ul>
                                                <div class="reaction__pop">
                                                    <ul class="smile">
                                                        <li>
                                                            <i class="like"></i>
                                                            <span>like</span>
                                                            <span>200</span>
                                                        </li>
                                                        <li>
                                                            <i class="heart"></i>
                                                            <span>love</span>
                                                            <span>170</span>
                                                        </li>
                                                        <li>
                                                            <i class="happy"></i>
                                                            <span>joy</span>
                                                            <span>2</span>
                                                        </li>
                                                        <li>
                                                            <i class="surprised"></i>
                                                            <span>wow</span>
                                                            <span>65</span>
                                                        </li>
                                                        <li>
                                                            <i class="angry"></i>
                                                            <span>angry</span>
                                                            <span>0</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <span>56</span>
                                            </div>
                                            <span class="reaction__text">0 comments</span>
                                        </div>
                                        <div class="reaction__bottom">
                                            <div class="reaction__wrap-link reaction__wrap-link--reaction">
                                                <i class="icon icon-like-blue"></i>
                                                <span>like</span>

                                                <div class="reaction-btn-like reaction-btn-like--feed">
                                                    <ul class="reaction-btn-like__list list-unstyled mb-0">
                                                        <li class="reaction-btn-like__item">
                                                            <a href="#" class="reaction-btn-like__link">
                                                                <i class="icon icon-like"></i>
                                                            </a>
                                                        </li>
                                                        <li class="reaction-btn-like__item">
                                                            <a href="#" class="reaction-btn-like__link">
                                                                <i class="icon icon-heart-l"></i>
                                                            </a>
                                                        </li>
                                                        <li class="reaction-btn-like__item">
                                                            <a href="#" class="reaction-btn-like__link">
                                                                <i class="icon icon-happy"></i>
                                                            </a>
                                                        </li>
                                                        <li class="reaction-btn-like__item">
                                                            <a href="#" class="reaction-btn-like__link">
                                                                <i class="icon icon-surprised"></i>
                                                            </a>
                                                        </li>
                                                        <li class="reaction-btn-like__item">
                                                            <a href="#" class="reaction-btn-like__link">
                                                                <i class="icon icon-angry"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>


                                            <div class="reaction__wrap-link">
                                                <a href="#" class="reaction__link">
                                                    <i class="icon icon-comment"></i>
                                                    <span>comment</span>
                                                </a>
                                            </div>
                                            <div class="reaction__wrap-link">
                                                <a href="#" class="reaction__link">
                                                    <i class="icon icon-plus-blue"></i>
                                                    <span>add to timeline</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- option  add class: - options--open -->
                                <div class="options">
                                    <button type="button" class="options__btn" data-type="options">
                                        <i class="icon icon-more"></i>
                                    </button>

                                    <div class="options__dropdown">
                                        <ul class="list-unstyled mb-0">
                                            <li><a href="#">Share</a></li>
                                            <li><a href="#">Not gift worthy</a></li>
                                            <li><a href="#">About the store</a></li>
                                            <li><a href="#">Report abuse</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section-content ">
                        <div class="main__card main__card--bias position-relative">
                            <div class="internal-card internal-card--feed">
                                <div class="internal-card__header">
                                    <a href="#" class="internal-card__profile d-flex flex-wrap align-items-start">
                                        <figure class="internal-card__avatar internal-card__avatar--no-img">
                                            <img src="images/profiles/img1.png" alt="avatar">
                                            <span class="internal-card__symbol">ad</span>
                                        </figure>
                                        <div class="internal-card__head-info">
                                            <h2 class="internal-card__name">Ann Doe</h2>
                                            <p class="internal-card__subname">
                                                <span>just for laugh goss</span>
                                                <span class="internal-card__date">02.10.2020</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="internal-card__body">
                                    <p>To help your skin thrive, use Moroccan argan extract which conditions and
                                        moisturizes while
                                        chlorella brings a boost of skin-benefiting vitamins and omega 3s for extra
                                        glowing goodness
                                    </p>
                                </div>
                                <div class="internal-card__bottom">
                                    <div class="reaction">
                                        <div class="reaction__top">
                                            <div class="reaction__quantity">
                                                <ul
                                                    class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                                                    <li class="reaction__item-icon">
                                                        <i class="icon icon-like"></i>
                                                    </li>
                                                    <li class="reaction__item-icon">
                                                        <i class="icon icon-heart-l"></i>
                                                    </li>
                                                    <li class="reaction__item-icon">
                                                        <i class="icon icon-happy"></i>
                                                    </li>
                                                    <li class="reaction__item-icon">
                                                        <i class="icon icon-surprised"></i>
                                                    </li>
                                                    <li class="reaction__item-icon">
                                                        <i class="icon icon-angry"></i>
                                                    </li>
                                                </ul>
                                                <div class="reaction__pop">
                                                    <ul class="smile">
                                                        <li>
                                                            <i class="like"></i>
                                                            <span>like</span>
                                                            <span>200</span>
                                                        </li>
                                                        <li>
                                                            <i class="heart"></i>
                                                            <span>love</span>
                                                            <span>170</span>
                                                        </li>
                                                        <li>
                                                            <i class="happy"></i>
                                                            <span>joy</span>
                                                            <span>2</span>
                                                        </li>
                                                        <li>
                                                            <i class="surprised"></i>
                                                            <span>wow</span>
                                                            <span>65</span>
                                                        </li>
                                                        <li>
                                                            <i class="angry"></i>
                                                            <span>angry</span>
                                                            <span>0</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <span>56</span>
                                            </div>
                                            <span class="reaction__text">0 comments</span>
                                        </div>
                                        <div class="reaction__bottom">
                                            <div class="reaction__wrap-link reaction__wrap-link--reaction">
                                                <i class="icon icon-like-blue"></i>
                                                <span>like</span>

                                                <div class="reaction-btn-like reaction-btn-like--feed">
                                                    <ul class="reaction-btn-like__list list-unstyled mb-0">
                                                        <li class="reaction-btn-like__item">
                                                            <a href="#" class="reaction-btn-like__link">
                                                                <i class="icon icon-like"></i>
                                                            </a>
                                                        </li>
                                                        <li class="reaction-btn-like__item">
                                                            <a href="#" class="reaction-btn-like__link">
                                                                <i class="icon icon-heart-l"></i>
                                                            </a>
                                                        </li>
                                                        <li class="reaction-btn-like__item">
                                                            <a href="#" class="reaction-btn-like__link">
                                                                <i class="icon icon-happy"></i>
                                                            </a>
                                                        </li>
                                                        <li class="reaction-btn-like__item">
                                                            <a href="#" class="reaction-btn-like__link">
                                                                <i class="icon icon-surprised"></i>
                                                            </a>
                                                        </li>
                                                        <li class="reaction-btn-like__item">
                                                            <a href="#" class="reaction-btn-like__link">
                                                                <i class="icon icon-angry"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>


                                            <div class="reaction__wrap-link">
                                                <a href="#" class="reaction__link">
                                                    <i class="icon icon-comment"></i>
                                                    <span>comment</span>
                                                </a>
                                            </div>
                                            <div class="reaction__wrap-link">
                                                <a href="#" class="reaction__link">
                                                    <i class="icon icon-plus-blue"></i>
                                                    <span>add to timeline</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- option  add class: - options--open -->
                                <div class="options">
                                    <button type="button" class="options__btn" data-type="options">
                                        <i class="icon icon-more"></i>
                                    </button>

                                    <div class="options__dropdown">
                                        <ul class="list-unstyled mb-0">
                                            <li><a href="#">Share</a></li>
                                            <li><a href="#">Not gift worthy</a></li>
                                            <li><a href="#">About the store</a></li>
                                            <li><a href="#">Report abuse</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
                <!-- /main -->
                <!-- aside-right -->
                <aside class="aside-right d-none d-lg-block">
                    <div class="scroll-div">
                        <section class="section-content">
                            <span
                                class="section-content__title position-relative d-flex align-items-center">Statistic</span>
                            <div class="statistic-box">
                                <div class="statistic-box__head d-flex align-items-center justify-content-between">
                                    <div class="d-flex flex-column">
                                        <strong>200k</strong>
                                        <span>Views</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <strong>500k</strong>
                                        <span>Clicks</span>
                                    </div>
                                </div>
                                <ul class="statistic-box__post w-100">
                                    <li><span>reactions</span>
                                        <ul class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                                            <li class="reaction__item-icon">
                                                <i class="icon icon-like"></i>
                                            </li>
                                            <li class="reaction__item-icon">
                                                <i class="icon icon-heart-l"></i>
                                            </li>
                                            <li class="reaction__item-icon">
                                                <i class="icon icon-happy"></i>
                                            </li>
                                            <li class="reaction__item-icon">
                                                <i class="icon icon-surprised"></i>
                                            </li>
                                            <li class="reaction__item-icon">
                                                <i class="icon icon-angry"></i>
                                            </li>
                                        </ul>
                                        <b>437</b>
                                    </li>
                                    <li><span>comments</span> <b>65</b></li>
                                    <li><span>added to timeline</span> <b>8</b></li>
                                    <li><span>shared</span> <b>6</b></li>
                                </ul>
                                <div class="statistic-box__reaction w-100">
                                    <h4>Reactions</h4>
                                    <div class="statistic-box__emotion">
                                        <ul>
                                            <li>
                                                <div class="progress" data-progress="100">
                                                    <div class="line blue"></div>
                                                </div>
                                                <i class="icon icon-like"></i>
                                                <span>like</span>
                                                <strong>200</strong>
                                            </li>
                                            <li>
                                                <div class="progress" data-progress="90">
                                                    <div class="line red"></div>
                                                </div>
                                                <i class="icon icon-heart-l"></i>
                                                <span>love</span>
                                                <strong>170</strong>
                                            </li>
                                            <li>
                                                <div class="progress" data-progress="3">
                                                    <div class="line"></div>
                                                </div>
                                                <i class="icon icon-happy"></i>
                                                <span>joy</span>
                                                <strong>2</strong>
                                            </li>
                                            <li>
                                                <div class="progress" data-progress="35">
                                                    <div class="line"></div>
                                                </div>
                                                <i class="icon icon-surprised"></i>
                                                <span>wow</span>
                                                <strong>65</strong>
                                            </li>
                                            <li>
                                                <div class="progress" data-progress="0">
                                                    <div class="line"></div>
                                                </div>
                                                <i class="icon icon-angry"></i>
                                                <span>angry</span>
                                                <strong>0</strong>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="section-content">
                            <span
                                class="section-content__title position-relative d-flex align-items-center">Recommended</span>
                            <article class="aside-card position-relative">
                                <div class="internal-card internal-card--aside">
                                    <div class="internal-card__header">
                                        <a href="#" class="internal-card__profile d-flex flex-wrap align-items-start">
                                            <figure class="internal-card__avatar">
                                                <img src="images/profiles/img1.png" alt="avatar">
                                                <span class="internal-card__symbol"></span>
                                            </figure>
                                            <div class="internal-card__head-info">
                                                <h2 class="internal-card__name">SplitChek</h2>
                                                <p
                                                    class="internal-card__subname internal-card__subname--light d-flex flex-column">
                                                    <span>sponsored</span>
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="internal-card__body">
                                        <div
                                            class="internal-card__grid internal-card__grid--single internal-card__grid--margin-bt grid-gallery d-flex flex-wrap">
                                            <figure class="grid-gallery__width-1-1">
                                                <a class="grid-gallery__selector position-relative grid-gallery__selector--video"
                                                    href="images/feed/feed-img1.jpg">
                                                    <div class="grid-gallery__post-img"
                                                        style="background-image: url(images/feed/feed-img1.jpg);"
                                                        data-src="images/feed/feed-img1.jpg">
                                                    </div>
                                                </a>
                                            </figure>
                                        </div>

                                        <p>
                                            Grow your business on SplitChek. <br> Sell up to 100 products for free
                                        </p>

                                    </div>
                                    <div class="internal-card__bottom">
                                        <div class="internal-card__other">
                                            <a href="#" class="btn btn-blue">Get Started</a>
                                        </div>
                                    </div>

                                    <!-- option  add class: - options--open -->
                                    <div class="options">
                                        <button type="button" class="options__btn" data-type="options">
                                            <i class="icon icon-more"></i>
                                        </button>

                                        <div class="options__dropdown">
                                            <ul class="list-unstyled mb-0">
                                                <li><a href="#">Share</a></li>
                                                <li><a href="#">Not gift worthy</a></li>
                                                <li><a href="#store-info" data-toggle="modal">About the store</a></li>
                                                <li><a href="#">Report abuse</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>

                        </section>
                    </div>
                </aside>
                <!-- /aside-right -->
            </div>
        </div>

        {{> ../common/footer }}
    </div>

    <!-- Modals -->
    {{> ../common/modals/create-goss }}
    {{> ../common/modals/menu-mobile }}
    {{> ../common/modals/add-files }}
    {{> ../common/modals/add-photo }}
    {{> ../common/modals/user-profile-menu }}
    {{> ../common/modals/share-product }}
    {{> ../common/modals/add-timeline-product }}
    {{> ../common/modals/add-wishlist }}
    {{> ../common/modals/search-parameters }}
    {{> ../common/modals/cart }}
    {{> ../common/modals/add-comment }}
    {{> ../common/modals/store-info }}
    {{> ../common/modals/shop-another }}
    {{> ../common/modals/modals-notifications }}
    {{> ../common/modals/message-overlay }}
    {{> ../common/modals/goss-gallery }}
    {{> ../common/modals/menu-mobile--not-shop }}
    <!-- /Modals -->
</body>

</html>