<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body class="dashboard">
    {{> ../common/header-dashboard }}
    <!-- admin-menu -->
    {{!-- admin menu minimize - add class admin-menu--minimize --}}
    <div class="admin-menu position-fixed">
        <div class="admin-menu__header d-flex d-lg-none">
            <div class="admin-menu__close">
                <img src="images/icons/close-blue.svg" alt="">
            </div>
            <a class="admin-menu__logo" href="/index.html">
                <img class="admin-menu__img" src="images/icons/splitcheck-w-logo.png" alt="logo">
                <span>Manage stores</span>
            </a>
        </div>
        <section class="section-content">
            <div class="admin-menu__nav position-relative">
                <button class="admin-menu__btn-minimize d-none d-lg-block">
                    <i class="icon icon-minimize"></i>
                </button>
                <div class="admin-menu__wrap position-relative">
                    <div class="admin-menu__user-select d-flex d-lg-none">
                        <div class="user-select">
                            <div class="user-select__photo">
                                <div style="background-image: url(images/message/img-1.png);"> <span>WD</span>
                                </div>
                            </div>
                            <span class="user-select__name">Genetix Nutrition</span>
                            <div
                                class="form__single form__single--select form__single--select-default form__single--fluid">
                                <select class="form__select form__select--default" data-toggle="select">
                                    <option value="user-1" title="TS">Terry Smith</option>
                                    <option value="user-1" title="TW">Terry Will Green</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <ul class="admin-menu__list d-flex flex-column list-unstyled mb-0">
                        <li class="admin-menu__item">
                            <a href="#" class="admin-menu__link admin-menu__link--active position-relative">
                                <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
                                <i class="icon icon-dashboard"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="admin-menu__item">
                            <a href="#" class="admin-menu__link position-relative">
                                <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
                                <i class="icon icon-notification"></i>
                                <span>Alerts <b>(2)</b></span>
                            </a>
                        </li>
                        <li class="admin-menu__item">
                            <a href="#" class="admin-menu__link position-relative">
                                <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
                                <i class="icon icon-messages"></i>
                                <span>Trading room</span>
                            </a>
                        </li>
                        <li class="admin-menu__item admin-menu__item--submenu">
                            <div class="admin-menu__title position-relative">
                                <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
                                <i class="icon icon-shipping"></i>
                                <span>Orders</span>
                                <i class="icon icon-blue-arrow"></i>
                            </div>

                            <ul class="admin-menu__list">
                                <li class="admin-menu__item">
                                    <a href="#" class="admin-menu__link position-relative">
                                        <span>View orders</span>
                                    </a>
                                </li>
                                <li class="admin-menu__item">
                                    <a href="#" class="admin-menu__link position-relative">
                                        <span>Abandoned cart</span>
                                    </a>
                                </li>
                                <li class="admin-menu__item">
                                    <a href="#" class="admin-menu__link position-relative">
                                        <span>Items in wishlist</span>
                                    </a>
                                </li>
                                <li class="admin-menu__item">
                                    <a href="#" class="admin-menu__link position-relative">
                                        <span>Shop for your store</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="admin-menu__item admin-menu__item--submenu">
                            <div class="admin-menu__title position-relative">
                                <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
                                <i class="icon icon-networking"></i>
                                <span>Networking</span>
                                <i class="icon icon-blue-arrow"></i>
                            </div>

                            <ul class="admin-menu__list">
                                <li class="admin-menu__item">
                                    <a href="#" class="admin-menu__link position-relative">
                                        <span>View orders</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="admin-menu__item admin-menu__item--submenu">
                            <div class="admin-menu__title position-relative">
                                <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
                                <i class="icon icon-social-media"></i>
                                <span>Posts</span>
                                <i class="icon icon-blue-arrow"></i>
                            </div>

                            <ul class="admin-menu__list">
                                <li class="admin-menu__item">
                                    <a href="#" class="admin-menu__link position-relative">
                                        <span>View orders</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="admin-menu__item admin-menu__item--submenu">
                            <div class="admin-menu__title position-relative">
                                <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
                                <i class="icon icon-landing-page"></i>
                                <span>Landing pages</span>
                                <i class="icon icon-blue-arrow"></i>
                            </div>

                            <ul class="admin-menu__list">
                                <li class="admin-menu__item">
                                    <a href="#" class="admin-menu__link position-relative">
                                        <span>View orders</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="admin-menu__item admin-menu__item--submenu admin-menu__item--visit">
                            <div class="admin-menu__title position-relative">
                                <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
                                <i class="icon icon-gift"></i>
                                <span>Products</span>
                                <i class="icon icon-blue-arrow"></i>
                            </div>

                            <ul class="admin-menu__list" style="display: block; height: auto;">
                                <li class="admin-menu__item">
                                    <a href="#" class="admin-menu__link position-relative">
                                        <span>View products</span>
                                    </a>
                                </li>
                                <li class="admin-menu__item admin-menu__item--visit">
                                    <a href="#" class="admin-menu__link position-relative">
                                        <span>Inventory</span>
                                    </a>
                                </li>
                                <li class="admin-menu__item">
                                    <a href="#" class="admin-menu__link position-relative">
                                        <span>View seasonal</span>
                                    </a>
                                </li>
                                <li class="admin-menu__item">
                                    <a href="#" class="admin-menu__link position-relative">
                                        <span>Create product</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="admin-menu__item admin-menu__item--submenu">
                            <div class="admin-menu__title position-relative">
                                <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
                                <i class="icon icon-megaphone"></i>
                                <span>Marketing</span>
                                <i class="icon icon-blue-arrow"></i>
                            </div>

                            <ul class="admin-menu__list">
                                <li class="admin-menu__item">
                                    <a href="#" class="admin-menu__link position-relative">
                                        <span>View orders</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="admin-menu__item admin-menu__item--submenu">
                            <div class="admin-menu__title position-relative">
                                <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
                                <i class="icon icon-shop"></i>
                                <span>My stores</span>
                                <i class="icon icon-blue-arrow"></i>
                            </div>

                            <ul class="admin-menu__list">
                                <li class="admin-menu__item">
                                    <a href="#" class="admin-menu__link position-relative">
                                        <span>View orders</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <div class="admin-menu__footer d-flex d-lg-none">
                        <form action="" class="form form-admin-menu">
                            <div class="form__wrap">
                                <div
                                    class="form__single form__single--fluid form__single--checkbox form__single--checkbox-left">
                                    <input type="checkbox" id="checkbox-alert-admin-menu"
                                        class="form__checkbox form__checkbox--language" name="checkbox-alert-admin-menu"
                                        checked="">
                                    <label for="checkbox-alert-admin-menu">
                                        <b>Alert me when new messages arrive</b>
                                    </label>
                                </div>
                                <div
                                    class="form__single form__single--fluid form__single--checkbox form__single--checkbox-left">
                                    <input type="checkbox" id="checkbox-alert-admin-menu2"
                                        class="form__checkbox form__checkbox--language"
                                        name="checkbox-alert-admin-menu2" checked="">
                                    <label for="checkbox-alert-admin-menu2">
                                        <b>Alert me when shopper visits my store</b>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <span class="admin-menu__copyright">All rights reserved SplitchChek 2020</span>
        </section>
    </div>
    <!-- /admin-menu -->


    {{> ../common/mobile-menu-bottom }}

    <div class="section-blur theme-background-one" data-class="blue" id="background">

        <div class="container container--admin">
            <div class="main-content position-relative d-flex align-items-start justify-content-between">
                <!-- main -->
                <main class="main main--fluid">
                    <div class="section-content">
                        <div class="main__card main__card--fluid position-relative transparent not-shadow p-0">
                            <h1 class="title-page--admin">Inventory</i>
                            </h1>
                            <div class="sort-box inventory">
                                <form action="#" class="search">

                                    <input type="search" name="search" class="search__input"
                                        placeholder="Search for product" autocomplete="off">
                                    <button class="search__button" aria-label="search">
                                        <i class="icon icon-search"></i>
                                    </button>

                                    <div class="search__result">
                                        <ul class="search__result-list">
                                            <li class="search__result-item d-flex align-items-center">
                                                <p>
                                                    <b>pa</b>int
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                                <ul class="select-list">
                                    <li class="active"><a href="#">All</a></li>
                                    <li><a href="#">Returned</a></li>
                                    <li><a href="#">Damaged</a></li>
                                    <li><a href="#">Lost</a></li>
                                </ul>

                                <div class="sort-box__line ml-4">
                                    <span class="sort-box__name">Store:</span>
                                    <div class="sort-box__select store">
                                        <span class="sort-box__arrow">
                                            <strong>Store Name Two</strong>
                                            <img src="images/icons/navigate_next-24px.svg" alt="arrow">
                                        </span>
                                        <div
                                            class="form__single form__single--select form__single--select-default form__single--fluid">
                                            <select class="form__select form__select--default"
                                                data-toggle="select-parent">
                                                <option value="user-1" title="Store Name Two">Store Name Two</option>
                                                <option value="user-1" title="Store Name One OneOne">Store Name One
                                                    OneOne</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="sort-box__line">
                                    <span class="sort-box__name">Sort by:</span>
                                    <div class="sort-box__select store">
                                        <span class="sort-box__arrow">
                                            <strong>Available</strong>
                                            <img src="images/icons/navigate_next-24px.svg" alt="arrow">
                                        </span>
                                        <div
                                            class="form__single form__single--select form__single--select-default form__single--fluid">
                                            <select class="form__select form__select--default"
                                                data-toggle="select-parent">
                                                <option value="user-1">Available</option>
                                                <option value="user-1">Disabled</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="sort-box__line sort">
                                    <span class="sort-box__name">Filter:</span>
                                    <div class="sort-box__select">
                                        <span class="sort-box__arrow">
                                            <strong>Filter by smt</strong>
                                            <img src="images/icons/navigate_next-24px.svg" alt="arrow">
                                        </span>
                                        <div
                                            class="form__single form__single--select form__single--select-default form__single--fluid">
                                            <select class="form__select form__select--default"
                                                data-toggle="select-parent">
                                                <option value="user-1" title="Store Name Two">Filter by smt</option>
                                                <option value="user-1" title="Store Name One OneOne">Filter by smtTwo
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sort-box__full-search">
                                <form action="#" class="search">

                                    <input type="search" name="search" class="search__input"
                                        placeholder="Search for product" autocomplete="off">
                                    <button class="search__button" aria-label="search">
                                        <i class="icon icon-search"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="inventory">
                                <div class="inventory__title">
                                    <ul>
                                        <li>Product</li>
                                        <li>When sold out</li>
                                        <li>Outgoing</li>
                                        <li>Incoming</li>
                                        <li>Available</li>
                                        <li>Edit quantity available</li>
                                    </ul>
                                </div>
                                <div class="inventory__list">
                                    <div class="inventory__single">
                                        <div class="inventory__photo"
                                            style="background-image: url('images/product/variant_42242.png');"></div>
                                        <div class="inventory__product-info">
                                            <strong>Some much longer title could be here…</strong>
                                            <ul>
                                                <li>Sku: <span>#134567</span></li>
                                                <li>$<span>49.99</span></li>
                                            </ul>
                                        </div>
                                        <div class="inventory__product-outgoing">
                                            <span><span>When sold out: </span>Stop selling</span>
                                        </div>
                                        <div class="inventory__out">
                                            <span><span>Outgoing: </span>0</span>
                                        </div>
                                        <div class="inventory__inc">
                                            <span><span>Incoming:</span>0</span>
                                        </div>
                                        <div class="inventory__ava">
                                            <span><span>Available:</span>25</span>
                                        </div>
                                        <div class="inventory__select">
                                            <div class="radio-else">
                                                <div class="radio">
                                                    <input id="radio-0" name="radio-0" type="radio" checked>
                                                    <label for="radio-0" class="radio-label">Add</label>
                                                </div>

                                                <div class="radio">
                                                    <input id="radio-1" name="radio-0" type="radio">
                                                    <label for="radio-1" class="radio-label">Set</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="inventory__count">
                                            <div class="item-cart__quantity position-relative d-flex align-self-center">
                                                <button class="item-cart__minus">
                                                    <span class="icon icon-minus"></span>
                                                </button>
                                                <span class="item-cart__int">2</span>
                                                <button class="item-cart__plus">
                                                    <span class="icon icon-plus"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="inventory__option">
                                            <a href="#">Save</a>
                                        </div>
                                    </div>
                                    <div class="inventory__single">
                                        <div class="inventory__photo"
                                            style="background-image: url('images/product/7142447382608.png');"></div>
                                        <div class="inventory__product-info">
                                            <strong>Some much longer title could be here…</strong>
                                            <ul>
                                                <li>Sku: <span>#134567</span></li>
                                                <li>$<span>49.99</span></li>
                                            </ul>
                                        </div>
                                        <div class="inventory__product-outgoing">
                                            <span><span>When sold out: </span>Stop selling</span>
                                        </div>
                                        <div class="inventory__out">
                                            <span><span>Outgoing: </span>5</span>
                                        </div>
                                        <div class="inventory__inc">
                                            <span><span>Incoming:</span>+20</span>
                                        </div>
                                        <div class="inventory__ava error">
                                            <span><span>Available:</span>-10</span>
                                        </div>
                                        <div class="inventory__select">
                                            <div class="radio-else">
                                                <div class="radio">
                                                    <input id="radio-2" name="radio" type="radio" checked>
                                                    <label for="radio-2" class="radio-label">Add</label>
                                                </div>

                                                <div class="radio">
                                                    <input id="radio-3" name="radio" type="radio">
                                                    <label for="radio-3" class="radio-label">Set</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="inventory__count">
                                            <div class="item-cart__quantity position-relative d-flex align-self-center">
                                                <button class="item-cart__minus">
                                                    <span class="icon icon-minus"></span>
                                                </button>
                                                <span class="item-cart__int">2</span>
                                                <button class="item-cart__plus">
                                                    <span class="icon icon-plus"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="inventory__option">
                                            <a href="#">Save</a>
                                        </div>
                                    </div>
                                    <div class="inventory__single">
                                        <div class="inventory__photo"
                                            style="background-image: url('images/product/variant_42242.png');"></div>
                                        <div class="inventory__product-info">
                                            <strong>Some much longer title could be here…</strong>
                                            <ul>
                                                <li>Sku: <span>#134567</span></li>
                                                <li>$<span>49.99</span></li>
                                            </ul>
                                        </div>
                                        <div class="inventory__product-outgoing">
                                            <span><span>When sold out: </span>Stop selling</span>
                                        </div>
                                        <div class="inventory__out">
                                            <span><span>Outgoing: </span>0</span>
                                        </div>
                                        <div class="inventory__inc">
                                            <span><span>Incoming:</span>0</span>
                                        </div>
                                        <div class="inventory__ava">
                                            <span><span>Available:</span>25</span>
                                        </div>
                                        <div class="inventory__select">
                                            <div class="radio-else">
                                                <div class="radio">
                                                    <input id="radio-4" name="radio-3" type="radio" checked>
                                                    <label for="radio-4" class="radio-label">Add</label>
                                                </div>

                                                <div class="radio">
                                                    <input id="radio-5" name="radio-3" type="radio">
                                                    <label for="radio-5" class="radio-label">Set</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="inventory__count">
                                            <div class="item-cart__quantity position-relative d-flex align-self-center">
                                                <button class="item-cart__minus">
                                                    <span class="icon icon-minus"></span>
                                                </button>
                                                <span class="item-cart__int">2</span>
                                                <button class="item-cart__plus">
                                                    <span class="icon icon-plus"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="inventory__option">
                                            <a href="#">Save</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>

</html>