<!DOCTYPE html>
<html lang="en">

<head>
  {{> ../common/head }}
</head>

<body class="dashboard message">
  {{> ../common/mobile-menu }}
  <div class="section-blur theme-background-one" data-class="blue" id="background">
    {{> ../common/header-dashboard }}
    <div class="container container--admin">
      <a href="#" class="title-back">
        <img src="images/icons/back.svg" alt="back">
        <span>Back to dashboard</span>
      </a>
      <div class="main-dash w-100 d-flex flex-column flex-lg-row align-items-start">
        <aside class="left-column">
          <div class="section-content">
            <span class="label-title">Messages</span>
            <div class="toogle-box">
              <div class="toogle-box__header open">
                <div class="toogle-box__header--left">
                  <h3>From Shoppers (<span>32</span>)</h3>
                </div>
                <div class="toogle-box__header--right">
                  <button class="reset">
                    <img src="images/icons/loop-24px.svg" alt="reset">
                  </button>
                  <button class="arrow-open">
                    <img src="images/icons/arrow__bottom.svg" alt="arrow">
                  </button>
                </div>
              </div>
              <div class="toogle-box__body shoppers">
                <form action="#" class="search">
                  <input type="search" name="search" class="search__input" placeholder="Search for the product"
                    autocomplete="off">
                  <button class="search__button" aria-label="search">
                    <i class="icon icon-search"></i>
                  </button>
                </form>
                <div class="toogle-box__scroll pl-24 pr-20">
                  <div class="message__single new__message d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-content">
            <div class="toogle-box">
              <div class="toogle-box__header">
                <div class="toogle-box__header--left">
                  <h3>My messages (<span>12</span>)</h3>
                </div>
                <div class="toogle-box__header--right">
                  <button class="reset">
                    <img src="images/icons/loop-24px.svg" alt="reset">
                  </button>
                  <button class="arrow-open">
                    <img src="images/icons/arrow__bottom.svg" alt="arrow">
                  </button>
                </div>
              </div>
              <div class="toogle-box__body shoppers" style="display: none;">
                <form action="#" class="search">
                  <input type="search" name="search" class="search__input" placeholder="Search for the product"
                    autocomplete="off">
                  <button class="search__button" aria-label="search">
                    <i class="icon icon-search"></i>
                  </button>
                </form>
                <div class="toogle-box__scroll pl-24 pr-20">
                  <div class="message__single new__message d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                  <div class="message__single d-flex w-100">
                    <div class="message__body d-flex w-100 justify-content-between">
                      <div class="message__left d-flex align-items-center">
                        <div class="message__photo" style="background-image: url(images/message/img-1.png);">
                        </div>
                        <div class="message__detail d-flex flex-column">
                          <strong>Jane Smith</strong>
                          <span>First words from the message will be here…</span>
                        </div>
                      </div>
                      <div class="message__right d-flex flex-column">
                        <span class="message__date">16:40</span>
                        <a href="#" class="message__date">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-content">
            <div class="toogle-box">
              <div class="toogle-box__header open">
                <div class="toogle-box__header--left">
                  <h3>Online shopper (<span>20</span>)</h3>
                </div>
                <div class="toogle-box__header--right">
                  <button class="arrow-open">
                    <img src="images/icons/arrow__bottom.svg" alt="arrow">
                  </button>
                </div>
              </div>
              <div class="toogle-box__body online-shoper">
                <div class="toogle-box__desc">
                  <span>People browsing your store</span>
                </div>
                <div class="toogle-box__scroll pl-24 pr-20">
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                  <div class="select-user-chat">
                    <div class="d-flex">
                      <div class="select-user-chat__photo">
                        <div style="background-image: url(images/message/img-1.png);">
                          <span>TS</span>
                        </div>
                      </div>
                      <p>Terry Smith</p>
                    </div>
                    <a href="#" class="btn-border btn-border--two">Chat</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-content">
            <div class="setting-navbar">
              <div class="form d-flex align-items-center">
                <input type="checkbox" id="checkbox-1"
                  class="form__checkbox form__single settings__check form__single--fluid form__single--checkbox form__checkbox--language"
                  name="checkbox-language" checked="">
                <label for="checkbox-1">
                </label>
                <strong class="check-on">Alert me when new messages arrive</strong>
              </div>
              <div class="form d-flex align-items-center">
                <input type="checkbox" id="checkbox-2"
                  class="form__checkbox form__single settings__check form__single--fluid form__single--checkbox form__checkbox--language"
                  name="checkbox-language" checked="">
                <label for="checkbox-2">
                </label>
                <strong class="check-on">Alert me when shopper visits my store</strong>
              </div>
            </div>
          </div>
          <div class="section-content">
            <strong class="reserved">All rights reserved SplitchChek 2020</strong>
          </div>
        </aside>
        <main class="content-column position-relative">
          <div class="section-content position-relative">
            <span class="section-content__title question position-relative d-flex align-items-center">chat
              with<i class="icon icon-help ml-1"></i></span>
            <div class="section-content__title--post">
              <p><b>John Smith</b> SplitCheker since 12 months ago</p>
            </div>
          </div>
          <div class="section-content position-relative">
            <div class="messages--my-post">
              <div class="section-content">
                <div class="main__card position-relative">
                  <div class="internal-card internal-card--feed internal-card--message">
                    <div class="internal-card__header">
                      <a href="#" class="internal-card__profile d-flex flex-wrap align-items-start">
                        <figure class="internal-card__avatar">
                          <img src="images/message/men.png" alt="avatar">
                          <span class="internal-card__symbol">AD</span>
                        </figure>
                        <div class="internal-card__head-info">
                          <h2 class="internal-card__name">John Smith</h2>
                          <p class="internal-card__subname">
                            <span class="internal-card__date">16:40 today</span>
                          </p>
                        </div>
                      </a>
                    </div>
                    {{!-- no-img remove margin --}}
                    <div class="internal-card__body no-img">
                      <p>To help your skin thrive, use Moroccan argan extract which conditions and
                        moisturizes while chlorella brings a boost of skin-benefiting vitamins
                        and
                        omega 3s for extra glowing goodness</p>
                    </div>
                    <div class="internal-card__bottom">
                      <a href="#" class="dislike-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="16"
                          viewBox="0 0 18 16">
                          <g>
                            <g transform="rotate(180 9 7)">
                              <g />
                              <g>
                                <path fill="#828282"
                                  d="M.75 13.75h3v-9h-3zm6-9l3.255-3.255L9 5.5h6.75V7l-2.25 5.25H6.75zm0 9h6.75a1.49 1.49 0 0 0 1.38-.915l2.265-5.287c.068-.173.105-.353.105-.548V5.5c0-.825-.675-1.5-1.5-1.5h-4.732L11.73.573l.022-.24c0-.308-.127-.593-.33-.795l-.794-.788-4.943 4.943A1.49 1.49 0 0 0 5.25 4.75v7.5c0 .825.675 1.5 1.5 1.5z" />
                              </g>
                            </g>
                          </g>
                        </svg></a>
                      <a href="#" class="like-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="16"
                          viewBox="0 0 18 16">
                          <g>
                            <g>
                              <g />
                              <g>
                                <path fill="#828282"
                                  d="M.75 15.75h3v-9h-3zm6-9l3.255-3.255L9 7.5h6.75V9l-2.25 5.25H6.75zm0 9h6.75a1.49 1.49 0 0 0 1.38-.915l2.265-5.287c.068-.173.105-.353.105-.548V7.5c0-.825-.675-1.5-1.5-1.5h-4.732l.712-3.427.022-.24c0-.308-.127-.593-.33-.795L10.629.75 5.685 5.693A1.49 1.49 0 0 0 5.25 6.75v7.5c0 .825.675 1.5 1.5 1.5z" />
                              </g>
                            </g>
                          </g>
                        </svg></a>
                    </div>

                    <!-- option  add class: - options--open -->
                    <div class="options">
                      <button type="button" class="options__btn" data-type="options">
                        <i class="icon icon-more"></i>
                      </button>

                      <div class="options__dropdown">
                        <ul class="list-unstyled mb-0">
                          <li><a href="#">Share</a></li>
                          <li><a href="#">Not gift worthy</a></li>
                          <li><a href="#">About the store</a></li>
                          <li><a href="#">Report abuse</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section-content">
                <div class="main__card main__card--you  position-relative">
                  <div class="internal-card internal-card--feed internal-card--message">
                    <div class="internal-card__header">
                      <a href="#" class="internal-card__profile d-flex flex-wrap align-items-start">
                        <figure class="internal-card__avatar internal-card__avatar--no-img">
                          <span class="internal-card__symbol">ME</span>
                        </figure>
                        <div class="internal-card__head-info">
                          <h2 class="internal-card__name">Me</h2>
                          <p class="internal-card__subname">
                            <span class="internal-card__date">16:40 today</span>
                          </p>
                        </div>
                      </a>
                    </div>
                    <div class="internal-card__body">
                      <p>Yellow pages reinvented on SplitChek, list your business on SplitChek and
                        get
                        $250 credited to your SplitChek Ads account</p>
                      <b class="shop-add">Shopper has been requested to Add to cart or wishlist
                      </b>
                      <div class="internal-card__shop">
                        <div class="internal-card__product mb-0">
                          <div class="internal-card__img"
                            style="background-image: url('images/message/variant_42242.jpg');">
                          </div>
                          <div class="internal-card__detail">
                            <strong>bundle ipsum dolor sit amet lorem ipsum dolor</strong>
                            <div class="internal-card__price">
                              <strong>$49.99</strong>
                              <span>$60.99</span>
                            </div>
                          </div>
                          <div class="internal-card__date--offer">
                            <span>Offer expires date:</span>
                            <b>25.12.20</b>
                          </div>
                        </div>
                      </div>


                    </div>
                    <div class="internal-card__bottom">
                      <div class="product-status pen">
                        <span>Pending…</span>
                      </div>
                      <a href="#" class="dislike-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="16"
                          viewBox="0 0 18 16">
                          <g>
                            <g transform="rotate(180 9 7)">
                              <g />
                              <g>
                                <path fill="#828282"
                                  d="M.75 13.75h3v-9h-3zm6-9l3.255-3.255L9 5.5h6.75V7l-2.25 5.25H6.75zm0 9h6.75a1.49 1.49 0 0 0 1.38-.915l2.265-5.287c.068-.173.105-.353.105-.548V5.5c0-.825-.675-1.5-1.5-1.5h-4.732L11.73.573l.022-.24c0-.308-.127-.593-.33-.795l-.794-.788-4.943 4.943A1.49 1.49 0 0 0 5.25 4.75v7.5c0 .825.675 1.5 1.5 1.5z" />
                              </g>
                            </g>
                          </g>
                        </svg></a>
                      <a href="#" class="like-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="16"
                          viewBox="0 0 18 16">
                          <g>
                            <g>
                              <g />
                              <g>
                                <path fill="#828282"
                                  d="M.75 15.75h3v-9h-3zm6-9l3.255-3.255L9 7.5h6.75V9l-2.25 5.25H6.75zm0 9h6.75a1.49 1.49 0 0 0 1.38-.915l2.265-5.287c.068-.173.105-.353.105-.548V7.5c0-.825-.675-1.5-1.5-1.5h-4.732l.712-3.427.022-.24c0-.308-.127-.593-.33-.795L10.629.75 5.685 5.693A1.49 1.49 0 0 0 5.25 6.75v7.5c0 .825.675 1.5 1.5 1.5z" />
                              </g>
                            </g>
                          </g>
                        </svg></a>
                    </div>

                    <!-- option  add class: - options--open -->
                    <div class="options">
                      <button type="button" class="options__btn" data-type="options">
                        <i class="icon icon-more"></i>
                      </button>

                      <div class="options__dropdown">
                        <ul class="list-unstyled mb-0">
                          <li><a href="#">Share</a></li>
                          <li><a href="#">Not gift worthy</a></li>
                          <li><a href="#">About the store</a></li>
                          <li><a href="#">Report abuse</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section-content">
                <div class="main__card main__card--you  position-relative">
                  <div class="internal-card internal-card--feed internal-card--message">
                    <div class="internal-card__header">
                      <a href="#" class="internal-card__profile d-flex flex-wrap align-items-start">
                        <figure class="internal-card__avatar internal-card__avatar--no-img">
                          <span class="internal-card__symbol">ME</span>
                        </figure>
                        <div class="internal-card__head-info">
                          <h2 class="internal-card__name">Me</h2>
                          <p class="internal-card__subname">
                            <span class="internal-card__date">16:40 today</span>
                          </p>
                        </div>
                      </a>
                    </div>
                    <div class="internal-card__body">
                      <p>Yellow pages reinvented on SplitChek, list your business on SplitChek and
                        get
                        $250 credited to your SplitChek Ads account</p>
                      <b class="shop-add">Shopper has been requested to Add to cart or wishlist
                      </b>
                      <div class="internal-card__shop">
                        <div class="internal-card__product mb-0">
                          <div class="internal-card__img"
                            style="background-image: url('images/message/variant_42242.jpg');">
                          </div>
                          <div class="internal-card__detail">
                            <strong>bundle ipsum dolor sit amet lorem ipsum dolor</strong>
                            <div class="internal-card__price">
                              <strong>$49.99</strong>
                              <span>$60.99</span>
                            </div>
                          </div>
                          <div class="internal-card__date--offer">
                            <span>Offer expires date:</span>
                            <b>25.12.20</b>
                          </div>
                        </div>
                      </div>


                    </div>
                    <div class="internal-card__bottom">
                      <div class="product-status add">
                        <span>Added to Cart</span>
                      </div>
                      <a href="#" class="dislike-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="16"
                          viewBox="0 0 18 16">
                          <g>
                            <g transform="rotate(180 9 7)">
                              <g />
                              <g>
                                <path fill="#828282"
                                  d="M.75 13.75h3v-9h-3zm6-9l3.255-3.255L9 5.5h6.75V7l-2.25 5.25H6.75zm0 9h6.75a1.49 1.49 0 0 0 1.38-.915l2.265-5.287c.068-.173.105-.353.105-.548V5.5c0-.825-.675-1.5-1.5-1.5h-4.732L11.73.573l.022-.24c0-.308-.127-.593-.33-.795l-.794-.788-4.943 4.943A1.49 1.49 0 0 0 5.25 4.75v7.5c0 .825.675 1.5 1.5 1.5z" />
                              </g>
                            </g>
                          </g>
                        </svg></a>
                      <a href="#" class="like-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="16"
                          viewBox="0 0 18 16">
                          <g>
                            <g>
                              <g />
                              <g>
                                <path fill="#828282"
                                  d="M.75 15.75h3v-9h-3zm6-9l3.255-3.255L9 7.5h6.75V9l-2.25 5.25H6.75zm0 9h6.75a1.49 1.49 0 0 0 1.38-.915l2.265-5.287c.068-.173.105-.353.105-.548V7.5c0-.825-.675-1.5-1.5-1.5h-4.732l.712-3.427.022-.24c0-.308-.127-.593-.33-.795L10.629.75 5.685 5.693A1.49 1.49 0 0 0 5.25 6.75v7.5c0 .825.675 1.5 1.5 1.5z" />
                              </g>
                            </g>
                          </g>
                        </svg></a>
                    </div>

                    <!-- option  add class: - options--open -->
                    <div class="options">
                      <button type="button" class="options__btn" data-type="options">
                        <i class="icon icon-more"></i>
                      </button>

                      <div class="options__dropdown">
                        <ul class="list-unstyled mb-0">
                          <li><a href="#">Share</a></li>
                          <li><a href="#">Not gift worthy</a></li>
                          <li><a href="#">About the store</a></li>
                          <li><a href="#">Report abuse</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section-content">
                <div class="main__card main__card--you  position-relative">
                  <div class="internal-card internal-card--feed internal-card--message">
                    <div class="internal-card__header">
                      <a href="#" class="internal-card__profile d-flex flex-wrap align-items-start">
                        <figure class="internal-card__avatar internal-card__avatar--no-img">
                          <span class="internal-card__symbol">ME</span>
                        </figure>
                        <div class="internal-card__head-info">
                          <h2 class="internal-card__name">Me</h2>
                          <p class="internal-card__subname">
                            <span class="internal-card__date">16:40 today</span>
                          </p>
                        </div>
                      </a>
                    </div>
                    <div class="internal-card__body">
                      <p>Yellow pages reinvented on SplitChek, list your business on SplitChek and
                        get
                        $250 credited to your SplitChek Ads account</p>
                      <b class="shop-add">Shopper has been requested to Add to cart or wishlist
                      </b>
                      <div class="internal-card__shop">
                        <div class="internal-card__product mb-0">
                          <div class="internal-card__img"
                            style="background-image: url('images/message/variant_42242.jpg');">
                          </div>
                          <div class="internal-card__detail">
                            <strong>bundle ipsum dolor sit amet lorem ipsum dolor</strong>
                            <div class="internal-card__price">
                              <strong>$49.99</strong>
                              <span>$60.99</span>
                            </div>
                          </div>
                          <div class="internal-card__date--offer">
                            <span>Offer expires date:</span>
                            <b>25.12.20</b>
                          </div>
                        </div>
                      </div>


                    </div>
                    <div class="internal-card__bottom">
                      <div class="product-status exp">
                        <span>Expired</span>
                      </div>
                      <a href="#" class="dislike-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="16"
                          viewBox="0 0 18 16">
                          <g>
                            <g transform="rotate(180 9 7)">
                              <g />
                              <g>
                                <path fill="#828282"
                                  d="M.75 13.75h3v-9h-3zm6-9l3.255-3.255L9 5.5h6.75V7l-2.25 5.25H6.75zm0 9h6.75a1.49 1.49 0 0 0 1.38-.915l2.265-5.287c.068-.173.105-.353.105-.548V5.5c0-.825-.675-1.5-1.5-1.5h-4.732L11.73.573l.022-.24c0-.308-.127-.593-.33-.795l-.794-.788-4.943 4.943A1.49 1.49 0 0 0 5.25 4.75v7.5c0 .825.675 1.5 1.5 1.5z" />
                              </g>
                            </g>
                          </g>
                        </svg></a>
                      <a href="#" class="like-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="16"
                          viewBox="0 0 18 16">
                          <g>
                            <g>
                              <g />
                              <g>
                                <path fill="#828282"
                                  d="M.75 15.75h3v-9h-3zm6-9l3.255-3.255L9 7.5h6.75V9l-2.25 5.25H6.75zm0 9h6.75a1.49 1.49 0 0 0 1.38-.915l2.265-5.287c.068-.173.105-.353.105-.548V7.5c0-.825-.675-1.5-1.5-1.5h-4.732l.712-3.427.022-.24c0-.308-.127-.593-.33-.795L10.629.75 5.685 5.693A1.49 1.49 0 0 0 5.25 6.75v7.5c0 .825.675 1.5 1.5 1.5z" />
                              </g>
                            </g>
                          </g>
                        </svg></a>
                    </div>

                    <!-- option  add class: - options--open -->
                    <div class="options">
                      <button type="button" class="options__btn" data-type="options">
                        <i class="icon icon-more"></i>
                      </button>

                      <div class="options__dropdown">
                        <ul class="list-unstyled mb-0">
                          <li><a href="#">Share</a></li>
                          <li><a href="#">Not gift worthy</a></li>
                          <li><a href="#">About the store</a></li>
                          <li><a href="#">Report abuse</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section-content">
                <div class="main__card  main__card--you position-relative">
                  <div class="internal-card internal-card--feed internal-card--message">
                    <div class="internal-card__header">
                      <a href="#" class="internal-card__profile d-flex flex-wrap align-items-start">
                        <figure class="internal-card__avatar internal-card__avatar--no-img">
                          <img src="images/message/men.png" alt="avatar">
                          <span class="internal-card__symbol">AD</span>
                        </figure>
                        <div class="internal-card__head-info">
                          <h2 class="internal-card__name">John Smith</h2>
                          <p class="internal-card__subname">
                            <span class="internal-card__date">16:40 today</span>
                          </p>
                        </div>
                      </a>
                    </div>
                    {{!-- no-img remove margin --}}
                    <div class="internal-card__body no-img">
                      <p>To help your skin thrive, use Moroccan argan extract which conditions and
                        moisturizes while chlorella brings a boost of skin-benefiting vitamins
                        and
                        omega 3s for extra glowing goodness</p>
                    </div>
                    <div class="internal-card__bottom like--up">
                      <div class="like__all">
                        <a href="#" style="background-image: url('images/message/men.png');"></a>
                      </div>
                      <a href="#" class="dislike-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="16"
                          viewBox="0 0 18 16">
                          <g>
                            <g transform="rotate(180 9 7)">
                              <g />
                              <g>
                                <path fill="#828282"
                                  d="M.75 13.75h3v-9h-3zm6-9l3.255-3.255L9 5.5h6.75V7l-2.25 5.25H6.75zm0 9h6.75a1.49 1.49 0 0 0 1.38-.915l2.265-5.287c.068-.173.105-.353.105-.548V5.5c0-.825-.675-1.5-1.5-1.5h-4.732L11.73.573l.022-.24c0-.308-.127-.593-.33-.795l-.794-.788-4.943 4.943A1.49 1.49 0 0 0 5.25 4.75v7.5c0 .825.675 1.5 1.5 1.5z" />
                              </g>
                            </g>
                          </g>
                        </svg></a>
                      <a href="#" class="like-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="16"
                          viewBox="0 0 18 16">
                          <g>
                            <g>
                              <g />
                              <g>
                                <path fill="#828282"
                                  d="M.75 15.75h3v-9h-3zm6-9l3.255-3.255L9 7.5h6.75V9l-2.25 5.25H6.75zm0 9h6.75a1.49 1.49 0 0 0 1.38-.915l2.265-5.287c.068-.173.105-.353.105-.548V7.5c0-.825-.675-1.5-1.5-1.5h-4.732l.712-3.427.022-.24c0-.308-.127-.593-.33-.795L10.629.75 5.685 5.693A1.49 1.49 0 0 0 5.25 6.75v7.5c0 .825.675 1.5 1.5 1.5z" />
                              </g>
                            </g>
                          </g>
                        </svg></a>
                    </div>

                    <!-- option  add class: - options--open -->
                    <div class="options">
                      <button type="button" class="options__btn" data-type="options">
                        <i class="icon icon-more"></i>
                      </button>

                      <div class="options__dropdown">
                        <ul class="list-unstyled mb-0">
                          <li><a href="#">Share</a></li>
                          <li><a href="#">Not gift worthy</a></li>
                          <li><a href="#">About the store</a></li>
                          <li><a href="#">Report abuse</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <form action="#" class="form form-add-comment comments-box__form">
                <div class="form-add-comment__wrap">
                  <div class="form-add-comment__body">
                    <div class="form-add-comment__content" id="target-container" placeholder="Leave your thoughts here"
                      contenteditable="true" data-role="drag-drop-container">
                    </div>
                  </div>
                  <div class="form-add-comment__footer d-flex align-items-center justify-content-between">
                    <div class="form-add-comment__user">
                      <figure class="form-add-comment__img form-add-comment__img--no-img position-relative">
                        <img src="images/profiles/user-1.png" alt="avatar">
                        <span>AD</span>
                      </figure>
                      <div class="form__single form__single--select form__single--select-default form__single--fluid">
                        <select class="form__select form__select--default" data-toggle="select">
                          <option value="user-1" title="TS">Terry Smith</option>
                          <option value="user-1" title="TW">Terry Will Green</option>
                        </select>
                      </div>
                      <span href="#" class="form-add-comment__btn-arrow">
                        <i class="icon icon-arrow"></i>
                      </span>
                    </div>
                    <ul class="form-add-comment__list position-relative d-flex align-items-center list-unstyled mb-0">
                      <li class="form-add-comment__item">
                        <a href="#" class="form-add-comment__btn position-relative">
                          <i class="icon icon-paperclip" data-toggle="modal" data-target="#add-files"></i>
                        </a>
                      </li>
                      <li class="form-add-comment__item">
                        <button class="form-add-comment__btn position-relative">
                          <i class="icon icon-paperplane"></i>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </main>
        <aside class="right-column">
          <div class="section-content">
            <div class="order-search">
              <span class="section-content__title position-relative d-flex align-items-center">Products &
                tools<i class="icon icon-help ml-1"></i></span>
              <div class="toogle-box toogle-box--search">
                <div class="toogle-box__header open">
                  <div class="toogle-box__header--left">
                    <h3>Orders search</h3>
                  </div>
                  <div class="toogle-box__header--right">
                    <button class="reset">
                      <img src="images/icons/loop-24px.svg" alt="reset">
                    </button>
                    <button class="arrow-open">
                      <img src="images/icons/arrow__bottom.svg" alt="arrow">
                    </button>
                  </div>
                </div>
                <div class="toogle-box__body shoppers">
                  <form action="#" class="search">
                    <input type="search" name="search" class="search__input"
                      placeholder="Search by tracking number or user name" autocomplete="off">
                    <button class="search__button" aria-label="search">
                      <i class="icon icon-search"></i>
                    </button>
                  </form>
                  <div class="order-search__result">
                    <div class="order-search__card-for">
                      <div class="profile-list w-100">
                        <figure class="profile-list__avatar">
                          <img src="images/profiles/user-1.png" alt="avatar">
                          <span class="profile-list__symbol"></span>
                        </figure>
                        <div class="d-flex flex-column ">
                          <span>for:</span>
                          <span>Terry Smith</span>
                        </div>
                      </div>
                    </div>
                    <div class="orders">
                      <!-- status order: add class - .orders__box--orange, .orders__box--green, .orders__box--gray, .orders__box--blue,  .orders__box--red-->
                      <div class="orders__box orders__box--orange position-relative d-flex align-items-center">
                        <div
                          class="orders__toggle-block d-flex w-100  align-items-center justify-content-between flex-column">
                          <div class="orders__toggle-left d-flex w-100">
                            <div class="orders__line"></div>
                            <div class="d-flex flex-column w-100 justify-content-center">
                              <div class="d-flex">
                                <a data-toggle="modal" data-target="#order-status-modal" href="#">
                                  # 431 245 987
                                </a>
                                <b>Order Name</b>
                                <span class="text-gray">
                                  02.10.2020
                                </span>
                              </div>
                              <div class="d-flex">
                                <p>Pending</p>
                                <span class="text-blue">Recurrent</span>
                              </div>
                            </div>
                          </div>

                          <div class="d-flex w-100 justify-content-between">
                            <div class="d-flex w-100 flex-column orders__price">
                              <span class="text-gray">
                                total price
                              </span>
                              <p>$300.50</p>
                            </div>
                            <div class="d-flex w-100 justify-content-end orders__bottles">
                              <div class="orders__img-block">
                                <img src="images/orders/bottle.png" alt="">
                              </div>
                              <div class="orders__img-block">
                                <img src="images/orders/bottle.png" alt="">
                              </div>
                              <div class="orders__img-block">
                                <img src="images/orders/bottle.png" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="orders__box orders__box--gray position-relative d-flex align-items-center">
                        <div
                          class="orders__toggle-block d-flex w-100  align-items-center justify-content-between flex-column">
                          <div class="orders__toggle-left d-flex w-100">
                            <div class="orders__line"></div>
                            <div class="d-flex flex-column w-100 justify-content-center">
                              <div class="d-flex">
                                <a data-toggle="modal" data-target="#order-status-modal" href="#">
                                  # 431 245 987
                                </a>
                                <b>Order Name</b>
                                <span class="text-gray">
                                  02.10.2020
                                </span>
                              </div>
                              <div class="d-flex">
                                <p>Pending</p>
                                <span class="text-blue">Recurrent</span>
                              </div>
                            </div>
                          </div>

                          <div class="d-flex w-100 justify-content-between">
                            <div class="d-flex w-100 flex-column orders__price">
                              <span class="text-gray">
                                total price
                              </span>
                              <p>$300.50</p>
                            </div>
                            <div class="d-flex w-100 justify-content-end orders__bottles">
                              <div class="orders__img-block">
                                <img src="images/orders/bottle.png" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-content">
            <div class="drag-drop">
              <form action="#" class="search">
                <input type="search" name="search" class="search__input"
                  placeholder="Search by tracking number or user name" autocomplete="off">
                <button class="search__button" aria-label="search">
                  <i class="icon icon-search"></i>
                </button>
              </form>
              <div class="drag-drop__desc">
                <span>Drag and drop a product to the message</span>
              </div>
              <div class="toogle-box__scroll drag-list">
                <ul class="drag-drop__list columns" id="source-container" data-role="drag-drop-container">
                  <li class="column" id="draggable-1" draggable="true">
                    <span class="drag-drop__photo"
                      style="background-image: url('images/message/variant_42242.png');"></span>
                    <span class="drag-drop__info">
                      <strong>Short Title could be here…</strong>
                      <span class="d-flex w-100">
                        <span class="drag-drop__detail d-flex flex-column">
                          <span>Sku:&nbsp;<span>#134567</span></span>
                          <span>Qty:&nbsp;<span>20</span></span>
                          <span>Price:&nbsp;<span>$49.99</span></span>
                        </span>
                        <div class="mini-post__right">
                          <div class="mini-post__reaction">
                            <ul class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                              <li class="reaction__item-icon">
                                <i class="icon icon-like"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-heart-l"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-happy"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-surprised"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-angry"></i>
                              </li>
                            </ul>
                            <span>56</span>
                          </div>
                          <div class="mini-post__comments">
                            <strong>comments</strong><span>56</span>
                          </div>
                        </div>
                      </span>
                    </span>
                  </li>
                  <li class="column" id="draggable-2" draggable="true">
                    <span class="drag-drop__photo"
                      style="background-image: url('images/message/variant_42242.png');"></span>
                    <span class="drag-drop__info">
                      <strong>Short Title could be here…</strong>
                      <span class="d-flex w-100">
                        <span class="drag-drop__detail d-flex flex-column">
                          <span>Sku:&nbsp;<span>#134567</span></span>
                          <span>Qty:&nbsp;<span>20</span></span>
                          <span>Price:&nbsp;<span>$49.99</span></span>
                        </span>
                        <div class="mini-post__right">
                          <div class="mini-post__reaction">
                            <ul class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                              <li class="reaction__item-icon">
                                <i class="icon icon-like"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-heart-l"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-happy"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-surprised"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-angry"></i>
                              </li>
                            </ul>
                            <span>56</span>
                          </div>
                          <div class="mini-post__comments">
                            <strong>comments</strong><span>56</span>
                          </div>
                        </div>
                      </span>
                    </span>
                  </li>
                  <li class="column" id="draggable-3" draggable="true">
                    <span class="drag-drop__photo"
                      style="background-image: url('images/message/variant_42242.png');"></span>
                    <span class="drag-drop__info">
                      <strong>Short Title could be here…</strong>
                      <span class="d-flex w-100">
                        <span class="drag-drop__detail d-flex flex-column">
                          <span>Sku:&nbsp;<span>#134567</span></span>
                          <span>Qty:&nbsp;<span>20</span></span>
                          <span>Price:&nbsp;<span>$49.99</span></span>
                        </span>
                        <div class="mini-post__right">
                          <div class="mini-post__reaction">
                            <ul class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                              <li class="reaction__item-icon">
                                <i class="icon icon-like"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-heart-l"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-happy"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-surprised"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-angry"></i>
                              </li>
                            </ul>
                            <span>56</span>
                          </div>
                          <div class="mini-post__comments">
                            <strong>comments</strong><span>56</span>
                          </div>
                        </div>
                      </span>
                    </span>
                  </li>
                  <li class="column" id="draggable-4" draggable="true">
                    <span class="drag-drop__photo"
                      style="background-image: url('images/message/variant_42242.png');"></span>
                    <span class="drag-drop__info">
                      <strong>Short Title could be here…</strong>
                      <span class="d-flex w-100">
                        <span class="drag-drop__detail d-flex flex-column">
                          <span>Sku:&nbsp;<span>#134567</span></span>
                          <span>Qty:&nbsp;<span>20</span></span>
                          <span>Price:&nbsp;<span>$49.99</span></span>
                        </span>
                        <div class="mini-post__right">
                          <div class="mini-post__reaction">
                            <ul class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                              <li class="reaction__item-icon">
                                <i class="icon icon-like"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-heart-l"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-happy"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-surprised"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-angry"></i>
                              </li>
                            </ul>
                            <span>56</span>
                          </div>
                          <div class="mini-post__comments">
                            <strong>comments</strong><span>56</span>
                          </div>
                        </div>
                      </span>
                    </span>
                  </li>
                  <li class="column" id="draggable-5" draggable="true">
                    <span class="drag-drop__photo"
                      style="background-image: url('images/message/variant_42242.png');"></span>
                    <span class="drag-drop__info">
                      <strong>Short Title could be here…</strong>
                      <span class="d-flex w-100">
                        <span class="drag-drop__detail d-flex flex-column">
                          <span>Sku:&nbsp;<span>#134567</span></span>
                          <span>Qty:&nbsp;<span>20</span></span>
                          <span>Price:&nbsp;<span>$49.99</span></span>
                        </span>
                        <div class="mini-post__right">
                          <div class="mini-post__reaction">
                            <ul class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                              <li class="reaction__item-icon">
                                <i class="icon icon-like"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-heart-l"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-happy"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-surprised"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-angry"></i>
                              </li>
                            </ul>
                            <span>56</span>
                          </div>
                          <div class="mini-post__comments">
                            <strong>comments</strong><span>56</span>
                          </div>
                        </div>
                      </span>
                    </span>
                  </li>
                  <li class="column" id="draggable-6" draggable="true">
                    <span class="drag-drop__photo"
                      style="background-image: url('images/message/variant_42242.png');"></span>
                    <span class="drag-drop__info">
                      <strong>Short Title could be here…</strong>
                      <span class="d-flex w-100">
                        <span class="drag-drop__detail d-flex flex-column">
                          <span>Sku:&nbsp;<span>#134567</span></span>
                          <span>Qty:&nbsp;<span>20</span></span>
                          <span>Price:&nbsp;<span>$49.99</span></span>
                        </span>
                        <div class="mini-post__right">
                          <div class="mini-post__reaction">
                            <ul class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                              <li class="reaction__item-icon">
                                <i class="icon icon-like"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-heart-l"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-happy"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-surprised"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-angry"></i>
                              </li>
                            </ul>
                            <span>56</span>
                          </div>
                          <div class="mini-post__comments">
                            <strong>comments</strong><span>56</span>
                          </div>
                        </div>
                      </span>
                    </span>
                  </li>
                  <li class="column" id="draggable-7" draggable="true">
                    <span class="drag-drop__photo"
                      style="background-image: url('images/message/variant_42242.png');"></span>
                    <span class="drag-drop__info">
                      <strong>Short Title could be here…</strong>
                      <span class="d-flex w-100">
                        <span class="drag-drop__detail d-flex flex-column">
                          <span>Sku:&nbsp;<span>#134567</span></span>
                          <span>Qty:&nbsp;<span>20</span></span>
                          <span>Price:&nbsp;<span>$49.99</span></span>
                        </span>
                        <div class="mini-post__right">
                          <div class="mini-post__reaction">
                            <ul class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                              <li class="reaction__item-icon">
                                <i class="icon icon-like"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-heart-l"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-happy"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-surprised"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-angry"></i>
                              </li>
                            </ul>
                            <span>56</span>
                          </div>
                          <div class="mini-post__comments">
                            <strong>comments</strong><span>56</span>
                          </div>
                        </div>
                      </span>
                    </span>
                  </li>
                  <li class="column" id="draggable-8" draggable="true">
                    <span class="drag-drop__photo"
                      style="background-image: url('images/message/variant_42242.png');"></span>
                    <span class="drag-drop__info">
                      <strong>Short Title could be here…</strong>
                      <span class="d-flex w-100">
                        <span class="drag-drop__detail d-flex flex-column">
                          <span>Sku:&nbsp;<span>#134567</span></span>
                          <span>Qty:&nbsp;<span>20</span></span>
                          <span>Price:&nbsp;<span>$49.99</span></span>
                        </span>
                        <div class="mini-post__right">
                          <div class="mini-post__reaction">
                            <ul class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                              <li class="reaction__item-icon">
                                <i class="icon icon-like"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-heart-l"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-happy"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-surprised"></i>
                              </li>
                              <li class="reaction__item-icon">
                                <i class="icon icon-angry"></i>
                              </li>
                            </ul>
                            <span>56</span>
                          </div>
                          <div class="mini-post__comments">
                            <strong>comments</strong><span>56</span>
                          </div>
                        </div>
                      </span>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="section-content">
            <span class="section-content__title position-relative d-flex align-items-center">Recommended</span>

            <div class="recomended w-100 overflow-hidden">
              <ul class="recomended__list list-unstyled position-relative" data-scroll="perfect-scrollbar">
                <li class="recomended__item">
                  <a href="#" class="recomended-card position-relative d-flex align-items-stretch">
                    <figure
                      class="recomended-card__img position-relative d-flex align-items-center justify-content-center">
                      <img src="./images/product/mass-mini.png" alt="recomended-card-img">
                    </figure>
                    <div class="recomended-card__content d-flex flex-column">
                      <h2 class="recomended-card__title">Short Title could be here Short Title could be here</h2>
                      <span class="recomended-card__price"><span>Price: </span><i>$49.99</i></span>
                    </div>
                  </a>
                </li>
                <li class="recomended__item">
                  <a href="#" class="recomended-card position-relative d-flex align-items-stretch">
                    <figure
                      class="recomended-card__img position-relative d-flex align-items-center justify-content-center">
                      <img src="./images/product/mass-mini.png" alt="recomended-card-img">
                    </figure>
                    <div class="recomended-card__content d-flex flex-column">
                      <h2 class="recomended-card__title">Short Title could be here Short Title could be here</h2>
                      <span class="recomended-card__price"><span>Price: </span><i>$49.99</i></span>
                    </div>
                  </a>
                </li>
                <li class="recomended__item">
                  <a href="#" class="recomended-card position-relative d-flex align-items-stretch">
                    <figure
                      class="recomended-card__img position-relative d-flex align-items-center justify-content-center">
                      <img src="./images/product/mass-mini.png" alt="recomended-card-img">
                    </figure>
                    <div class="recomended-card__content d-flex flex-column">
                      <h2 class="recomended-card__title">Short Title could be here Short Title could be here</h2>
                      <span class="recomended-card__price"><span>Price: </span><i>$49.99</i></span>
                    </div>
                  </a>
                </li>
                <li class="recomended__item">
                  <a href="#" class="recomended-card position-relative d-flex align-items-stretch">
                    <figure
                      class="recomended-card__img position-relative d-flex align-items-center justify-content-center">
                      <img src="./images/product/mass-mini.png" alt="recomended-card-img">
                    </figure>
                    <div class="recomended-card__content d-flex flex-column">
                      <h2 class="recomended-card__title">Short Title could be here Short Title could be here</h2>
                      <span class="recomended-card__price"><span>Price: </span><i>$49.99</i></span>
                    </div>
                  </a>
                </li>
                <li class="recomended__item">
                  <a href="#" class="recomended-card position-relative d-flex align-items-stretch">
                    <figure
                      class="recomended-card__img position-relative d-flex align-items-center justify-content-center">
                      <img src="./images/product/mass-mini.png" alt="recomended-card-img">
                    </figure>
                    <div class="recomended-card__content d-flex flex-column">
                      <h2 class="recomended-card__title">Short Title could be here Short Title could be here</h2>
                      <span class="recomended-card__price"><span>Price: </span><i>$49.99</i></span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>

  <!-- Modals -->
  {{> ../common/modals/order-status-modal }}
  {{> ../common/modals/give-discount }}
  <!-- /Modals -->
</body>

</html>
