<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body class="profile home message">
    {{> ../common/mobile-menu }}
    {{> ../common/mobile-menu-bottom }}
    <div class="section-blur theme-background-one" data-class="blue" id="background">
        {{> ../common/header-dashboard }}
        <div class="container-fluid">
            <div class="title-back">
                <span><img src="images/icons/back.svg" alt="back">Back to dashboard</span>
            </div>
        </div>
    </div>

    <!-- Modals -->
    {{> ../common/modals/create-goss }}
    <!-- /Modals -->
</body>

</html>