<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body class="profile home message">
    {{> ../common/mobile-menu }}
    {{> ../common/mobile-menu-bottom }}
    <div class="section-blur theme-background-one" data-class="maze" id="background">
        <header class="header">
            <div class="container">
                <div class="header__content">
                    <div class="header__left">
                        <!-- <div class="header__burger">
          <img src="images/icons/burger.svg" alt="">
        </div> -->
                        <a class="header__logo" href="/index.html">
                            <img class="header__img-desktop" src="images/icons/w-logo.png" alt="logo">
                            <img class="header__img-mobile" src="images/icons/logo-mobile.png" alt="logo">
                        </a>
                    </div>
                    <div class="header__search">
                        <!-- form search -->
                        <!-- add class: "search--active" -->
                        <form action="#" id="search" class="search">

                            <input type="search" name="search" class="search__input" placeholder="Search for something"
                                id="search-input" autocomplete="off" />
                            <button class="search__button" aria-label="search">
                                <i class="icon icon-search"></i>
                            </button>


                            <div class="search__result">
                                <ul class="search__result-list">
                                    <li class="search__result-item d-flex align-items-center">
                                        <p>
                                            <b>pa</b>int
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="header__right">
                        <div class="head-links">
                            <!-- head menu -->
                            <ul class="head-links__list d-flex align-items-center list-unstyled mb-0">
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="index.html" class="head-links__link position-relative">
                                        <!-- add class "active" <i class="icon icon-home"></i> what would the icon change -->
                                        <i class="icon icon-home"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-star"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="shop.html?param=val&data=shop-another"
                                        class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-offer"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" data-toggle="modal" data-target="#cart"
                                        class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-cart"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" data-toggle="modal" data-target="#message-overlay"
                                        class="head-links__link position-relative head-links__link--active">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-head-mail"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- /head menu -->
                        </div>
                        <div class="header__user">
                            <a href="#menu-mobile" data-toggle="modal" data-target="#menu-mobile"
                                class="personal-avatar personal-avatar--no-img position-relative d-flex d-lg-none align-items-center justify-content-center overflow-hidden">
                                <img src="" alt="avatar">
                                <span class="personal-symbol">JS</span>
                            </a>
                            <a href="#user-profile-menu" data-toggle="modal" data-target="#user-profile-menu"
                                class="user-avatar user-avatar--no-img position-relative d-flex align-items-center justify-content-center overflow-hidden">
                                <img class="user-avatar__img" src="" alt="avatar">
                                <span class="user-avatar__symbol">AD</span>
                            </a>
                            <a href="#" class="mobile-link-arrow">
                                <i class="icon icon-arrow"></i>
                            </a>
                        </div>

                    </div>


                </div>
            </div>
        </header>
        <div class="container">
            <div class="main-content position-relative d-flex align-items-start justify-content-between">
                <!-- aside-left -->
                <aside class="aside-left">
                    <div class="scroll-div">
                        <section class="section-content">
                            <span class="section-content__title position-relative d-flex align-items-center">Other
                                links</span>

                            <div class="other-links">
                                <ul class="other-links__list d-flex flex-column list-unstyled mb-0">
                                    <li class="other-links__item">
                                        <a href="#" class="other-links__link position-relative">
                                            <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
                                            <i class="icon icon-gift active"></i>
                                            <span>Spoil yourself</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#" class="other-links__link position-relative">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-social-media"></i>
                                            <span>Open public goss</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-discount"></i>
                                            <span>Snatch a bargain</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-mail"></i>
                                            <span>Shared orders</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-group"></i>
                                            <span>My groups</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-heart"></i>
                                            <span>My family</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#" data-toggle="modal" data-target="#notification"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <i class="icon icon-notification"></i>
                                            <!-- add class "active" what would the icon change -->
                                            <span>Alerts</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <i class="icon icon-setting"></i>
                                            <!-- add class "active" what would the icon change -->
                                            <span>Shopping preferences</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </aside>
                <!-- /aside-left -->
                <!-- main -->
                <main class="main size-container">
                    <a href="#" class="section-content__title position-relative d-flex align-items-center">
                        <span><img src="images/icons/back.svg" alt="back">Back</span>
                    </a>
                    <span class="section-content__title position-relative d-flex align-items-center">Read &
                        reply</span>
                    <div class="section-content">
                        <div class="main__card  position-relative">
                            <div class="internal-card internal-card--feed internal-card--message">
                                <div class="internal-card__header">
                                    <a href="#" class="internal-card__profile d-flex flex-wrap align-items-start">
                                        <figure class="internal-card__avatar">
                                            <img src="images/message/men.png" alt="avatar">
                                            <span class="internal-card__symbol"></span>
                                        </figure>
                                        <div class="internal-card__head-info">
                                            <h2 class="internal-card__name">John Smith</h2>
                                            <p class="internal-card__subname">
                                                <span class="internal-card__date">16:40 today</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="internal-card__body">
                                    <p>Yellow pages reinvented on SplitChek, list your business on SplitChek and get
                                        $250 credited to your SplitChek Ads account</p>
                                    <div class="internal-card__shop">
                                        <div class="internal-card__product">
                                            <div class="internal-card__img"
                                                style="background-image: url('images/message/variant_42242.jpg');">
                                            </div>
                                            <div class="internal-card__detail">
                                                <strong>bundle ipsum dolor sit amet lorem ipsum dolor</strong>
                                                <div class="internal-card__price">
                                                    <strong>$49.99</strong>
                                                    <span>$60.99</span>
                                                </div>
                                            </div>
                                            <div class="internal-card__date--offer">
                                                <span>Offer expires date:</span>
                                                <b>25.12.20</b>
                                            </div>
                                        </div>
                                        <p>To help your skin thrive, use Moroccan argan extract which conditions and
                                            moisturizes while chlorella brings a boost of skin-benefiting vitamins and
                                            omega 3s for extra glowing goodness</p>
                                        <div class="internal-card__duo">
                                            <a href="#" class="btn-border-orange btn-border--two">Unfollow</a>
                                            <a href="#" data-toggle="modal" data-target="#cart"
                                                class="btn btn-orange">Add to Cart</a>
                                        </div>
                                    </div>


                                </div>
                                <div class="internal-card__bottom">
                                    <a href="#" class="dislike-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18"
                                            height="16" viewBox="0 0 18 16">
                                            <g>
                                                <g transform="rotate(180 9 7)">
                                                    <g />
                                                    <g>
                                                        <path fill="#828282"
                                                            d="M.75 13.75h3v-9h-3zm6-9l3.255-3.255L9 5.5h6.75V7l-2.25 5.25H6.75zm0 9h6.75a1.49 1.49 0 0 0 1.38-.915l2.265-5.287c.068-.173.105-.353.105-.548V5.5c0-.825-.675-1.5-1.5-1.5h-4.732L11.73.573l.022-.24c0-.308-.127-.593-.33-.795l-.794-.788-4.943 4.943A1.49 1.49 0 0 0 5.25 4.75v7.5c0 .825.675 1.5 1.5 1.5z" />
                                                    </g>
                                                </g>
                                            </g>
                                        </svg></a>
                                    <a href="#" class="like-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18"
                                            height="16" viewBox="0 0 18 16">
                                            <g>
                                                <g>
                                                    <g />
                                                    <g>
                                                        <path fill="#828282"
                                                            d="M.75 15.75h3v-9h-3zm6-9l3.255-3.255L9 7.5h6.75V9l-2.25 5.25H6.75zm0 9h6.75a1.49 1.49 0 0 0 1.38-.915l2.265-5.287c.068-.173.105-.353.105-.548V7.5c0-.825-.675-1.5-1.5-1.5h-4.732l.712-3.427.022-.24c0-.308-.127-.593-.33-.795L10.629.75 5.685 5.693A1.49 1.49 0 0 0 5.25 6.75v7.5c0 .825.675 1.5 1.5 1.5z" />
                                                    </g>
                                                </g>
                                            </g>
                                        </svg></a>
                                </div>

                                <!-- option  add class: - options--open -->
                                <div class="options">
                                    <button type="button" class="options__btn" data-type="options">
                                        <i class="icon icon-more"></i>
                                    </button>

                                    <div class="options__dropdown">
                                        <ul class="list-unstyled mb-0">
                                            <li><a href="#">Share</a></li>
                                            <li><a href="#">Not gift worthy</a></li>
                                            <li><a href="#">About the store</a></li>
                                            <li><a href="#">Report abuse</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-content">
                        <div class="main__card  main__card--you position-relative">
                            <div class="internal-card internal-card--feed internal-card--message">
                                <div class="internal-card__header">
                                    <a href="#" class="internal-card__profile d-flex flex-wrap align-items-start">
                                        <figure class="internal-card__avatar internal-card__avatar--no-img">
                                            <img src="images/message/men.png" alt="avatar">
                                            <span class="internal-card__symbol">AD</span>
                                        </figure>
                                        <div class="internal-card__head-info">
                                            <h2 class="internal-card__name">John Smith</h2>
                                            <p class="internal-card__subname">
                                                <span class="internal-card__date">16:40 today</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                {{!-- no-img remove margin --}}
                                <div class="internal-card__body no-img">
                                    <p>To help your skin thrive, use Moroccan argan extract which conditions and
                                        moisturizes while chlorella brings a boost of skin-benefiting vitamins and
                                        omega 3s for extra glowing goodness</p>
                                </div>
                                <div class="internal-card__bottom like--up">
                                    <div class="like__all">
                                        <a href="#" style="background-image: url('images/message/men.png');"></a>
                                    </div>
                                    <a href="#" class="dislike-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18"
                                            height="16" viewBox="0 0 18 16">
                                            <g>
                                                <g transform="rotate(180 9 7)">
                                                    <g />
                                                    <g>
                                                        <path fill="#828282"
                                                            d="M.75 13.75h3v-9h-3zm6-9l3.255-3.255L9 5.5h6.75V7l-2.25 5.25H6.75zm0 9h6.75a1.49 1.49 0 0 0 1.38-.915l2.265-5.287c.068-.173.105-.353.105-.548V5.5c0-.825-.675-1.5-1.5-1.5h-4.732L11.73.573l.022-.24c0-.308-.127-.593-.33-.795l-.794-.788-4.943 4.943A1.49 1.49 0 0 0 5.25 4.75v7.5c0 .825.675 1.5 1.5 1.5z" />
                                                    </g>
                                                </g>
                                            </g>
                                        </svg></a>
                                    <a href="#" class="like-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18"
                                            height="16" viewBox="0 0 18 16">
                                            <g>
                                                <g>
                                                    <g />
                                                    <g>
                                                        <path fill="#828282"
                                                            d="M.75 15.75h3v-9h-3zm6-9l3.255-3.255L9 7.5h6.75V9l-2.25 5.25H6.75zm0 9h6.75a1.49 1.49 0 0 0 1.38-.915l2.265-5.287c.068-.173.105-.353.105-.548V7.5c0-.825-.675-1.5-1.5-1.5h-4.732l.712-3.427.022-.24c0-.308-.127-.593-.33-.795L10.629.75 5.685 5.693A1.49 1.49 0 0 0 5.25 6.75v7.5c0 .825.675 1.5 1.5 1.5z" />
                                                    </g>
                                                </g>
                                            </g>
                                        </svg></a>
                                </div>

                                <!-- option  add class: - options--open -->
                                <div class="options">
                                    <button type="button" class="options__btn" data-type="options">
                                        <i class="icon icon-more"></i>
                                    </button>

                                    <div class="options__dropdown">
                                        <ul class="list-unstyled mb-0">
                                            <li><a href="#">Share</a></li>
                                            <li><a href="#">Not gift worthy</a></li>
                                            <li><a href="#">About the store</a></li>
                                            <li><a href="#">Report abuse</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-content">
                        <div class="main__card  main__card--you position-relative">
                            <div class="internal-card internal-card--feed internal-card--message">
                                <div class="internal-card__header">
                                    <a href="#" class="internal-card__profile d-flex flex-wrap align-items-start">
                                        <figure class="internal-card__avatar">
                                            <img src="images/message/men.png" alt="avatar">
                                            <span class="internal-card__symbol">AD</span>
                                        </figure>
                                        <div class="internal-card__head-info">
                                            <h2 class="internal-card__name">Me</h2>
                                            <p class="internal-card__subname">
                                                <span class="internal-card__date">16:40 today</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                {{!-- no-img remove margin --}}
                                <div class="internal-card__body no-img">
                                    <p>To help your skin thrive, use Moroccan argan extract which conditions and
                                        moisturizes while chlorella brings a boost of skin-benefiting vitamins and
                                        omega 3s for extra glowing goodness</p>
                                </div>
                                <div class="internal-card__bottom">
                                    <a href="#" class="dislike-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18"
                                            height="16" viewBox="0 0 18 16">
                                            <g>
                                                <g transform="rotate(180 9 7)">
                                                    <g />
                                                    <g>
                                                        <path fill="#828282"
                                                            d="M.75 13.75h3v-9h-3zm6-9l3.255-3.255L9 5.5h6.75V7l-2.25 5.25H6.75zm0 9h6.75a1.49 1.49 0 0 0 1.38-.915l2.265-5.287c.068-.173.105-.353.105-.548V5.5c0-.825-.675-1.5-1.5-1.5h-4.732L11.73.573l.022-.24c0-.308-.127-.593-.33-.795l-.794-.788-4.943 4.943A1.49 1.49 0 0 0 5.25 4.75v7.5c0 .825.675 1.5 1.5 1.5z" />
                                                    </g>
                                                </g>
                                            </g>
                                        </svg></a>
                                    <a href="#" class="like-btn"><svg xmlns="http://www.w3.org/2000/svg" width="18"
                                            height="16" viewBox="0 0 18 16">
                                            <g>
                                                <g>
                                                    <g />
                                                    <g>
                                                        <path fill="#828282"
                                                            d="M.75 15.75h3v-9h-3zm6-9l3.255-3.255L9 7.5h6.75V9l-2.25 5.25H6.75zm0 9h6.75a1.49 1.49 0 0 0 1.38-.915l2.265-5.287c.068-.173.105-.353.105-.548V7.5c0-.825-.675-1.5-1.5-1.5h-4.732l.712-3.427.022-.24c0-.308-.127-.593-.33-.795L10.629.75 5.685 5.693A1.49 1.49 0 0 0 5.25 6.75v7.5c0 .825.675 1.5 1.5 1.5z" />
                                                    </g>
                                                </g>
                                            </g>
                                        </svg></a>
                                </div>

                                <!-- option  add class: - options--open -->
                                <div class="options">
                                    <button type="button" class="options__btn" data-type="options">
                                        <i class="icon icon-more"></i>
                                    </button>

                                    <div class="options__dropdown">
                                        <ul class="list-unstyled mb-0">
                                            <li><a href="#">Share</a></li>
                                            <li><a href="#">Not gift worthy</a></li>
                                            <li><a href="#">About the store</a></li>
                                            <li><a href="#">Report abuse</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="#" class="form form-add-comment comments-box__form">
                        <div class="form-add-comment__wrap">
                            <div class="form-add-comment__body">
                                <div class="form-add-comment__content" placeholder="Leave your thoughts here"
                                    contenteditable="true">
                                </div>
                            </div>
                            <div class="form-add-comment__footer d-flex align-items-center justify-content-between">
                                <div class="form-add-comment__user">
                                    <figure
                                        class="form-add-comment__img form-add-comment__img--no-img position-relative">
                                        <img src="images/profiles/user-1.png" alt="avatar">
                                        <span>AD</span>
                                    </figure>
                                    <div
                                        class="form__single form__single--select form__single--select-default form__single--fluid">
                                        <select class="form__select form__select--default" data-toggle="select">
                                            <option value="user-1" title="TS">Terry Smith</option>
                                            <option value="user-1" title="TW">Terry Will Green</option>
                                        </select>
                                    </div>
                                    <span href="#" class="form-add-comment__btn-arrow">
                                        <i class="icon icon-arrow"></i>
                                    </span>
                                </div>
                                <ul
                                    class="form-add-comment__list position-relative d-flex align-items-center list-unstyled mb-0">
                                    <li class="form-add-comment__item">
                                        <a href="#" class="form-add-comment__btn position-relative">
                                            <i class="icon icon-paperclip" data-toggle="modal"
                                                data-target="#add-files"></i>
                                        </a>
                                    </li>
                                    <li class="form-add-comment__item">
                                        <button class="form-add-comment__btn position-relative">
                                            <i class="icon icon-paperplane"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </main>
                <!-- /main -->
                <!-- aside-right -->
                <aside class="aside-right d-none d-lg-block">
                    <div class="scroll-div">
                        <section class="section-content">
                            <span
                                class="section-content__title position-relative d-flex align-items-center">Messages</span>

                        </section>

                        <section class="section-content">
                            <div class="message__list w-100 d-flex flex-column">
                                <div class="message__single new__message d-flex w-100">
                                    <div class="message__body d-flex w-100 justify-content-between">
                                        <div class="message__left d-flex align-items-center">
                                            <div class="message__photo"
                                                style="background-image: url(images/message/img-1.png);">
                                            </div>
                                            <div class="message__detail d-flex flex-column">
                                                <strong>Jane Smith</strong>
                                                <span>First words from the message will be here…</span>
                                            </div>
                                        </div>
                                        <div class="message__right d-flex flex-column">
                                            <span class="message__date">16:40</span>
                                            <a href="#" class="message__date">Delete</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="message__single new__message d-flex w-100">
                                    <div class="message__body d-flex w-100 justify-content-between">
                                        <div class="message__left d-flex align-items-center">
                                            <div class="message__photo"
                                                style="background-image: url(images/message/img-1.png);">
                                            </div>
                                            <div class="message__detail d-flex flex-column">
                                                <strong>Jane Smith <span>(3)</span></strong>
                                                <span>First words from the message will be here…</span>
                                            </div>
                                        </div>
                                        <div class="message__right d-flex flex-column">
                                            <span class="message__date">16:40</span>
                                            <a href="#" class="message__date">Delete</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="message__single d-flex w-100">
                                    <div class="message__body d-flex w-100 justify-content-between">
                                        <div class="message__left d-flex align-items-center">
                                            <div class="message__photo"
                                                style="background-image: url(images/message/img-1.png);">
                                            </div>
                                            <div class="message__detail d-flex flex-column">
                                                <strong>Jane Smith</strong>
                                                <span>First words from the message will be here…</span>
                                            </div>
                                        </div>
                                        <div class="message__right d-flex flex-column">
                                            <span class="message__date">16:40</span>
                                            <a href="#" class="message__date">Delete</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="message__single d-flex w-100">
                                    <div class="message__body d-flex w-100 justify-content-between">
                                        <div class="message__left d-flex align-items-center">
                                            <div class="message__photo"
                                                style="background-image: url(images/message/img-1.png);">
                                            </div>
                                            <div class="message__detail d-flex flex-column">
                                                <strong>Jane Smith</strong>
                                                <span>First words from the message will be here…</span>
                                            </div>
                                        </div>
                                        <div class="message__right d-flex flex-column">
                                            <span class="message__date">16:40</span>
                                            <a href="#" class="message__date">Delete</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="message__single d-flex w-100">
                                    <div class="message__body d-flex w-100 justify-content-between">
                                        <div class="message__left d-flex align-items-center">
                                            <div class="message__photo"
                                                style="background-image: url(images/message/img-1.png);">
                                            </div>
                                            <div class="message__detail d-flex flex-column">
                                                <strong>Jane Smith</strong>
                                                <span>First words from the message will be here…</span>
                                            </div>
                                        </div>
                                        <div class="message__right d-flex flex-column">
                                            <span class="message__date">16:40</span>
                                            <a href="#" class="message__date">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </section>
                    </div>
                </aside>
                <!-- /aside-right -->
            </div>
        </div>

        {{> ../common/footer }}
    </div>

    <!-- Modals -->
    {{> ../common/modals/create-goss }}
    {{> ../common/modals/menu-mobile }}
    {{> ../common/modals/add-photo }}
    {{> ../common/modals/add-files }}
    {{> ../common/modals/user-profile-menu }}
    {{> ../common/modals/share-product }}
    {{> ../common/modals/add-timeline-product }}
    {{> ../common/modals/add-wishlist }}
    {{> ../common/modals/search-parameters }}
    {{> ../common/modals/cart }}
    {{> ../common/modals/add-comment }}
    {{> ../common/modals/store-info }}
    {{> ../common/modals/shop-another }}
    {{> ../common/modals/modals-notifications }}
    {{> ../common/modals/message-overlay }}
    {{> ../common/modals/goss-gallery }}
    {{> ../common/modals/menu-mobile--not-shop }}
    <!-- /Modals -->
</body>

</html>