<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body class="home product">
    {{> ../common/mobile-menu }}
    {{> ../common/mobile-menu-bottom }}
    <div class="section-blur theme-background-one" data-class="maze">
        {{> ../common/header-next }}
        <div class="container">
            <div class="main-content position-relative d-flex align-items-start justify-content-between">
                <div class="main-item">
                    <a href="#" data-toggle="modal" data-target="#goss"
                        class="section-content__title position-relative d-flex align-items-center">
                        <span><img src="images/icons/back.svg" alt="back">Back to list</span>
                    </a>
                    <div class="section-content">
                        <div class="features-company">
                            <div class="features-company__single">
                                <div class="features-company__img" style="background-color: #f76467;">
                                    <img src="images/icons/credit-card.svg" alt="credit-card">
                                </div>
                                <div class="features-company__text">
                                    <strong style="color: #f76467;">30 day Guarantee</strong>
                                    <p>Don’t like it? return it!</p>
                                </div>
                            </div>
                            <div class="features-company__single">
                                <div class="features-company__img" style="background-color: #f76467;">
                                    <img src="images/icons/delivery.svg" alt="delivery">
                                </div>
                                <div class="features-company__text">
                                    <strong style="color: #f76467;">Same day dispatch</strong>
                                    <p>Order before 3PM AEST</p>
                                </div>
                            </div>
                            <div class="features-company__single">
                                <div class="features-company__img" style="background-color: #f76467;">
                                    <img src="images/icons/gift-white.svg" alt="gift-white">
                                </div>
                                <div class="features-company__text">
                                    <strong style="color: #f76467;">free shipping</strong>
                                    <p>When you spend $100</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-content">
                        <div class="box-item">
                            <div class="box-item-top">
                                <div class="box-item-top__img">
                                    <div class="swiper-container gallery-top">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide"
                                                style="background-image:url('images/product/mass.jpg')">
                                            </div>
                                            <div class="swiper-slide"
                                                style="background-image:url('images/shop/product.jpg')">
                                            </div>
                                            <div class="swiper-slide"
                                                style="background-image:url('images/product/mass.jpg')">
                                            </div>
                                            <div class="swiper-slide"
                                                style="background-image:url('images/product/mass.jpg')">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section-content section-content--width gallery-thumbnails">
                                        <a href="#" class="swiper-button-prev swiper-button-disabled"></a>
                                        <a href="#" class="swiper-button-next"></a>
                                        <span class="count-slider" data-count="0">0</span>
                                        <div class="swiper-container gallery-thumbs">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide"
                                                    style="background-image:url('images/product/mass-mini.png')">
                                                </div>
                                                <div class="swiper-slide"
                                                    style="background-image:url('images/product/mass-mini.png')">
                                                </div>
                                                <div class="swiper-slide"
                                                    style="background-image:url('images/product/mass-mini.png')">
                                                </div>
                                                <div class="swiper-slide"
                                                    style="background-image:url('images/product/mass-mini.png')">
                                                </div>
                                                <div class="swiper-slide"
                                                    style="background-image:url('images/product/mass-mini.png')">
                                                </div>
                                                <div class="swiper-slide"
                                                    style="background-image:url('images/product/mass-mini.png')">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-item-top__info">
                                    <div class="sold">
                                        <div class="sold__img single">
                                            <div style="background-image: url('images/product/solid-1.png');"></div>
                                        </div>
                                        <div class="sold__info">
                                            <span>Sold by:</span>
                                            <span><b>Genetix Nutrition</b></span>
                                        </div>
                                    </div>
                                    <div class="price-info">
                                        <div class="price-info__current"><b>$300.00</b> <label
                                                class="price-info__label">Available in Bargains</label></div>
                                        <strong class="price-info__name">Product name here</strong>
                                        <span>Category Name</span>
                                        <span class="avail">Availability: <b>Available</b></span>
                                        <p>Genetix Nutrition products are developed by an internal research team
                                            assisted by Grant Mayo to ensure the greatest quality and product
                                            performance. Particular attention has been given in the process</p>
                                        <div class="select-option">
                                            <div class=" form__single--select form__single--select-default form__single--fluid"
                                                data-toggle="select-single">
                                                <label class="form__label">Volume</label>
                                                <div class="select-before">
                                                    <select class="form__select form__select--default"
                                                        data-toggle="select-single">
                                                        <option value="#">500 ml</option>
                                                        <option value="#">750 ml</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <div
                                                class=" form__single--select form__single--select-default form__single--fluid">
                                                <label class="form__label">Flavoure</label>
                                                <div class="select-before">
                                                    <select class="form__select form__select--default"
                                                        data-toggle="select">
                                                        <option value="#">Banana</option>
                                                        <option value="#">Banana</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <div
                                                class=" form__single--select form__single--select-default form__single--fluid">
                                                <label class="form__label">Servings</label>
                                                <div class="select-before">
                                                    <select class="form__select form__select--default"
                                                        data-toggle="select">
                                                        <option value="#">20</option>
                                                        <option value="#">40</option>
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- aside-right -->
                <aside class="aside-right d-none d-lg-block">
                    <div class="scroll-div">
                        <section class="section-content">
                            <span
                                class="section-content__title position-relative d-flex align-items-center">sponsored</span>
                            <div
                                class="useful-info d-flex flex-wrap justify-content-center justify-content-sm-between justify-content-lg-center justify-content-xl-between">
                                <figure class="useful-info__img">
                                    <img src="images/shop/useful-info.svg" alt="useful-info-img">
                                </figure>
                                <div class="useful-info__info">
                                    <span>Shop with confidence</span>
                                    <h2>SplitChek Money Back Guarantee</h2>
                                    <p>
                                        Get the item you ordered or get your money back
                                        <a href="">… Read More</a>
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </aside>
                <!-- /aside-right -->
            </div>
        </div>
    </div>


    {{> ../common/footer }}
    </div>

    <!-- Modals -->
    {{> ../common/modals/create-goss }}
    {{> ../common/modals/menu-mobile }}
    {{> ../common/modals/add-photo }}
    {{> ../common/modals/user-profile-menu }}
    {{> ../common/modals/share-product }}
    {{> ../common/modals/add-timeline-product }}
    {{> ../common/modals/add-wishlist }}
    {{> ../common/modals/search-parameters }}
    {{> ../common/modals/cart }}
    {{> ../common/modals/add-comment }}
    {{> ../common/modals/store-info }}
    {{> ../common/modals/shop-another }}
    {{> ../common/modals/modals-notifications }}
    {{> ../common/modals/message-overlay }}
    {{> ../common/modals/goss-gallery }}
    {{> ../common/modals/menu-mobile--not-shop }}
    {{> ../common/modals/galery-view }}
    {{> ../common/modals/modal-pets }}
    {{> ../common/modals/modal-child }}
    {{> ../common/modals/modal-invite }}
    {{> ../common/modals/modal-unlink }}
    {{> ../common/modals/add-photo-background }}
    <!-- /Modals -->
</body>

</html>