<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body class="home product">
    {{> ../common/mobile-menu }}
    {{> ../common/mobile-menu-bottom }}
    <div class="section-blur theme-background-one" data-class="maze">
        {{> ../common/header-next }}
        <div class="container">
            <div class="main-content position-relative d-flex align-items-start justify-content-between">
                <div class="main-item">
                    <a href="#" data-toggle="modal" data-target="#goss"
                        class="section-content__title position-relative d-flex align-items-center">
                        <span><img src="images/icons/back.svg" alt="back">Back to list</span>
                    </a>
                    <div class="section-content">
                        <div class="features-company">
                            <div class="features-company__single">
                                <div class="features-company__img" style="background-color: #f76467;">
                                    <img src="images/icons/credit-card.svg" alt="credit-card">
                                </div>
                                <div class="features-company__text">
                                    <strong style="color: #f76467;">30 day Guarantee</strong>
                                    <p>Don’t like it? return it!</p>
                                </div>
                            </div>
                            <div class="features-company__single">
                                <div class="features-company__img" style="background-color: #f76467;">
                                    <img src="images/icons/delivery.svg" alt="delivery">
                                </div>
                                <div class="features-company__text">
                                    <strong style="color: #f76467;">Same day dispatch</strong>
                                    <p>Order before 3PM AEST</p>
                                </div>
                            </div>
                            <div class="features-company__single">
                                <div class="features-company__img" style="background-color: #f76467;">
                                    <img src="images/icons/gift-white.svg" alt="gift-white">
                                </div>
                                <div class="features-company__text">
                                    <strong style="color: #f76467;">free shipping</strong>
                                    <p>When you spend $100</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-content">
                        <div class="box-item">
                            <div class="box-item-top">
                                <div class="box-item-top__img">
                                    <div class="swiper-container gallery-top">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide"
                                                style="background-image:url('images/product/mass.jpg')">
                                            </div>
                                            <div class="swiper-slide"
                                                style="background-image:url('images/shop/product.jpg')">
                                            </div>
                                            <div class="swiper-slide"
                                                style="background-image:url('images/product/mass.jpg')">
                                            </div>
                                            <div class="swiper-slide"
                                                style="background-image:url('images/product/mass.jpg')">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section-content section-content--width gallery-thumbnails">
                                        <a href="#" class="swiper-button-prev swiper-button-disabled"></a>
                                        <a href="#" class="swiper-button-next"></a>
                                        <span class="count-slider" data-count="0">0</span>
                                        <div class="swiper-container gallery-thumbs">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide"
                                                    style="background-image:url(https://swiperjs.com/demos/images/nature-1.jpg)">
                                                </div>
                                                <div class="swiper-slide"
                                                    style="background-image:url(https://swiperjs.com/demos/images/nature-2.jpg)">
                                                </div>
                                                <div class="swiper-slide"
                                                    style="background-image:url(https://swiperjs.com/demos/images/nature-3.jpg)">
                                                </div>
                                                <div class="swiper-slide"
                                                    style="background-image:url(https://swiperjs.com/demos/images/nature-4.jpg)">
                                                </div>
                                                <div class="swiper-slide"
                                                    style="background-image:url(https://swiperjs.com/demos/images/nature-5.jpg)">
                                                </div>
                                                <div class="swiper-slide"
                                                    style="background-image:url(https://swiperjs.com/demos/images/nature-6.jpg)">
                                                </div>
                                                <div class="swiper-slide"
                                                    style="background-image:url(https://swiperjs.com/demos/images/nature-7.jpg)">
                                                </div>
                                                <div class="swiper-slide"
                                                    style="background-image:url(https://swiperjs.com/demos/images/nature-8.jpg)">
                                                </div>
                                                <div class="swiper-slide"
                                                    style="background-image:url(https://swiperjs.com/demos/images/nature-9.jpg)">
                                                </div>
                                                <div class="swiper-slide"
                                                    style="background-image:url(https://swiperjs.com/demos/images/nature-10.jpg)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-item-top__info">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- aside-right -->
                <aside class="aside-right d-none d-lg-block">
                    <div class="scroll-div">
                        <section class="section-content">
                            <span
                                class="section-content__title position-relative d-flex align-items-center">sponsored</span>
                            <div
                                class="useful-info d-flex flex-wrap justify-content-center justify-content-sm-between justify-content-lg-center justify-content-xl-between">
                                <figure class="useful-info__img">
                                    <img src="images/shop/useful-info.svg" alt="useful-info-img">
                                </figure>
                                <div class="useful-info__info">
                                    <span>Shop with confidence</span>
                                    <h2>SplitChek Money Back Guarantee</h2>
                                    <p>
                                        Get the item you ordered or get your money back
                                        <a href="">… Read More</a>
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </aside>
                <!-- /aside-right -->
            </div>
        </div>
    </div>


    {{> ../common/footer }}
    </div>

    <!-- Modals -->
    {{> ../common/modals/create-goss }}
    {{> ../common/modals/menu-mobile }}
    {{> ../common/modals/add-photo }}
    {{> ../common/modals/user-profile-menu }}
    {{> ../common/modals/share-product }}
    {{> ../common/modals/add-timeline-product }}
    {{> ../common/modals/add-wishlist }}
    {{> ../common/modals/search-parameters }}
    {{> ../common/modals/cart }}
    {{> ../common/modals/add-comment }}
    {{> ../common/modals/store-info }}
    {{> ../common/modals/shop-another }}
    {{> ../common/modals/modals-notifications }}
    {{> ../common/modals/message-overlay }}
    {{> ../common/modals/goss-gallery }}
    {{> ../common/modals/menu-mobile--not-shop }}
    {{> ../common/modals/galery-view }}
    {{> ../common/modals/modal-pets }}
    {{> ../common/modals/modal-child }}
    {{> ../common/modals/modal-invite }}
    {{> ../common/modals/modal-unlink }}
    {{> ../common/modals/add-photo-background }}
    <!-- /Modals -->
</body>

</html>