<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body class="home product ">
    {{> ../common/mobile-menu }}
    <div class="menu-bottom">
        <div class="options-cart options-cart-stock ">
            <a href="#" class="arrow-open">
                <img src="images/icons/arrow-top.svg" alt="arrow">
            </a>
            <div class="options-cart__body">
                <div class="option-price">
                    <p>This item is out of stock. You can enable an alert to nitiry you when stock is available</p>
                </div>
            </div>
            <div class="options-cart__head">
                <a href="#" class="btn-border-orange btn-border--two">View similar products</a>
                <a href="#" class="btn btn-orange">Notify me</a>
            </div>
        </div>
        <div class="container">
            <ul class="menu-bottom__list list-unstyled mb-0">
                <li class="menu-bottom__item">
                    <a href="index.html" class="menu-bottom__link">
                        <img src="images/icons/home-y.svg" alt="home">
                        <span>home</span>
                    </a>
                </li>
                <li class="menu-bottom__item">
                    <a href="#" class="menu-bottom__link">
                        <img src="images/icons/star-y.svg" alt="home">
                        <span>wishlist</span>
                    </a>
                </li>
                <li class="menu-bottom__item active">
                    <a href="#" data-toggle="modal" data-target="#cart" class="menu-bottom__link">
                        <img src="images/icons/cart-y.svg" alt="home">
                        <span>cart</span>
                    </a>
                </li>
                <li class="menu-bottom__item">
                    <a href="shop.html?param=val&data=shop-another" class="menu-bottom__link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                            <g>
                                <g>
                                    <g />
                                    <g>
                                        <path fill="#315293"
                                            d="M2 9V2h7v-.01l9 9-7 7.02zm17.41.58l-9-9C10.05.22 9.55 0 9 0H2C.9 0 0 .9 0 2v7c0 .55.22 1.05.59 1.42l9 9c.36.36.86.58 1.41.58.55 0 1.05-.22 1.41-.59l7-7c.37-.36.59-.86.59-1.41 0-.55-.23-1.06-.59-1.42z" />
                                    </g>
                                    <g>
                                        <path fill="#315293" d="M4.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <span>shop for</span>
                    </a>
                </li>

                <li class="menu-bottom__item">
                    <a href="#menu-mobile--not-shop" data-toggle="modal" data-target="#menu-mobile--not-shop"
                        class="menu-bottom__link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="4" viewBox="0 0 16 4">
                            <g>
                                <g transform="rotate(90 8 2)">
                                    <g />
                                    <g>
                                        <path fill="#335491"
                                            d="M10 8c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm0-6c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zM6-4c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2z" />
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <span>other</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="section-blur theme-background-one" data-class="maze">
        <header class="header">
            <div class="container">
                <div class="header__content">
                    <div class="header__left">
                        <!-- <div class="header__burger">
          <img src="images/icons/burger.svg" alt="">
        </div> -->
                        <a class="header__logo" href="/index.html">
                            <img class="header__img-desktop" src="images/icons/w-logo.png" alt="logo">
                            <img class="header__img-mobile" src="images/icons/logo-mobile.png" alt="logo">
                        </a>
                    </div>
                    <div class="header__search">
                        <!-- form search -->
                        <!-- add class: "search--active" -->
                        <form action="#" id="search" class="search">

                            <input type="search" name="search" class="search__input" placeholder="Search for something"
                                id="search-input" autocomplete="off" />
                            <button class="search__button" aria-label="search">
                                <i class="icon icon-search"></i>
                            </button>


                            <div class="search__result">
                                <ul class="search__result-list">
                                    <li class="search__result-item d-flex align-items-center">
                                        <p>
                                            <b>pa</b>int
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="header__right">
                        <div class="head-links">
                            <!-- head menu -->
                            <ul class="head-links__list d-flex align-items-center list-unstyled mb-0">
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="index.html" class="head-links__link position-relative">
                                        <!-- add class "active" <i class="icon icon-home"></i> what would the icon change -->
                                        <i class="icon icon-home"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-star"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="shop.html?param=val&data=shop-another"
                                        class="head-links__link position-relative head-links__link--active">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-offer"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" data-toggle="modal" data-target="#cart"
                                        class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-cart"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" data-toggle="modal" data-target="#message-overlay"
                                        class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-head-mail"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- /head menu -->
                        </div>
                        <div class="header__user">
                            <a href="#menu-mobile" data-toggle="modal" data-target="#menu-mobile"
                                class="personal-avatar personal-avatar--no-img position-relative d-flex d-lg-none align-items-center justify-content-center overflow-hidden">
                                <img src="" alt="avatar">
                                <span class="personal-symbol">JS</span>
                            </a>
                            <a href="#user-profile-menu" data-toggle="modal" data-target="#user-profile-menu"
                                class="user-avatar user-avatar--no-img position-relative d-flex align-items-center justify-content-center overflow-hidden">
                                <img class="user-avatar__img" src="" alt="avatar">
                                <span class="user-avatar__symbol">AD</span>
                            </a>
                            <a href="#" class="mobile-link-arrow">
                                <i class="icon icon-arrow"></i>
                            </a>
                        </div>

                    </div>


                </div>
            </div>
        </header>
        <div class="container">
            <div class="main-content position-relative d-flex align-items-start justify-content-between">
                <div class="main-item">
                    <a href="#" data-toggle="modal" data-target="#goss"
                        class="section-content__title position-relative d-flex align-items-center">
                        <span><img src="images/icons/back.svg" alt="back">Back to list</span>
                    </a>
                    <div class="section-content">
                        <div class="features-company">
                            <div class="features-company__single">
                                <div class="features-company__img" style="background-color: #f76467;">
                                    <img src="images/icons/credit-card.svg" alt="credit-card">
                                </div>
                                <div class="features-company__text">
                                    <strong style="color: #f76467;">30 day Guarantee</strong>
                                    <p>Don’t like it? return it!</p>
                                </div>
                            </div>
                            <div class="features-company__single">
                                <div class="features-company__img" style="background-color: #f76467;">
                                    <img src="images/icons/delivery.svg" alt="delivery">
                                </div>
                                <div class="features-company__text">
                                    <strong style="color: #f76467;">Same day dispatch</strong>
                                    <p>Order before 3PM AEST</p>
                                </div>
                            </div>
                            <div class="features-company__single">
                                <div class="features-company__img" style="background-color: #f76467;">
                                    <img src="images/icons/gift-white.svg" alt="gift-white">
                                </div>
                                <div class="features-company__text">
                                    <strong style="color: #f76467;">free shipping</strong>
                                    <p>When you spend $100</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-content">
                        <div class="box-item">
                            <div class="box-item-top">
                                <div class="box-item-top__img">
                                    <div class="swiper-container gallery-top">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide"
                                                style="background-image:url('images/product/mass.jpg')">
                                            </div>
                                            <div class="swiper-slide"
                                                style="background-image:url('images/shop/product.jpg')">
                                            </div>
                                            <div class="swiper-slide"
                                                style="background-image:url('images/product/mass.jpg')">
                                            </div>
                                            <div class="swiper-slide"
                                                style="background-image:url('images/product/mass.jpg')">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section-content section-content--width gallery-thumbnails">
                                        <a href="#" class="swiper-button-prev swiper-button-disabled"></a>
                                        <a href="#" class="swiper-button-next"></a>
                                        <span class="count-slider" data-count="0">0</span>
                                        <div class="swiper-container gallery-thumbs">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide"
                                                    style="background-image:url('images/product/mass-mini.png')">
                                                </div>
                                                <div class="swiper-slide"
                                                    style="background-image:url('images/product/mass-mini.png')">
                                                </div>
                                                <div class="swiper-slide"
                                                    style="background-image:url('images/product/mass-mini.png')">
                                                </div>
                                                <div class="swiper-slide"
                                                    style="background-image:url('images/product/mass-mini.png')">
                                                </div>
                                                <div class="swiper-slide"
                                                    style="background-image:url('images/product/mass-mini.png')">
                                                </div>
                                                <div class="swiper-slide"
                                                    style="background-image:url('images/product/mass-mini.png')">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-item-top__info">
                                    <div class="sold">
                                        <div class="sold__img single">
                                            <div style="background-image: url('images/product/solid-1.png');"></div>
                                        </div>
                                        <div class="sold__info">
                                            <span>Sold by:</span>
                                            <span><b>Genetix Nutrition</b></span>
                                        </div>
                                    </div>
                                    <div class="price-info">
                                        <div class="price-info__current"><b class="stock">$300.00</b></div>
                                        <strong class="price-info__name">Product name here</strong>
                                        <span>Category Name</span>
                                        <span class="avail">Availability: <b class="stock--red">Out of stock</b></span>
                                        <p>Genetix Nutrition products are developed by an internal research team
                                            assisted by Grant Mayo to ensure the greatest quality and product
                                            performance. Particular attention has been given in the process</p>
                                        <div class="select-option stock">
                                            <div
                                                class=" form__single--select form__single--select-default form__single--fluid">
                                                <label class="form__label">Volume</label>
                                                <div class="select-before">
                                                    <select class="form__select form__select--default"
                                                        data-toggle="select">
                                                        <option value="#">500 ml</option>
                                                        <option value="#">700 ml</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <div
                                                class=" form__single--select form__single--select-default form__single--fluid">
                                                <label class="form__label">Flavoure</label>
                                                <div class="select-before">
                                                    <select class="form__select form__select--default"
                                                        data-toggle="select">
                                                        <option value="#">Banana</option>
                                                        <option value="#">Banana</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <div
                                                class=" form__single--select form__single--select-default form__single--fluid">
                                                <label class="form__label">Servings</label>
                                                <div class="select-before">
                                                    <select class="form__select form__select--default"
                                                        data-toggle="select">
                                                        <option value="#">20</option>
                                                        <option value="#">40</option>
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-item-bottom">
                                <strong>Item description</strong>
                                <nav>
                                    <div class="nav nav-tabs tabs-product" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                            href="#nav-home" role="tab" aria-controls="nav-home"
                                            aria-selected="true">Tab</a>
                                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                            href="#nav-profile" role="tab" aria-controls="nav-profile"
                                            aria-selected="false">Tab2</a>
                                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                            href="#nav-contact" role="tab" aria-controls="nav-contact"
                                            aria-selected="false">Tab3</a>
                                        <a class="nav-item nav-link" id="nav-contact-tab2" data-toggle="tab"
                                            href="#nav-contact2" role="tab" aria-controls="nav-contact2"
                                            aria-selected="false">Tab4</a>
                                        <a class="nav-item nav-link" id="nav-contact-tab2" data-toggle="tab"
                                            href="#nav-contact2" role="tab" aria-controls="nav-contact2"
                                            aria-selected="false">Tab5</a>
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                        aria-labelledby="nav-home-tab">
                                        <p>Genetix Nutrition products are devoloped by an internal research team
                                            assisted by Grant Mayo to ensure the greatest quality and product
                                            performance. Particular attention has been given in the manufacturing
                                            process of Genetix Nutrition for excellent taste </p>
                                        <p>Genetix Nutrition products are devoloped by an internal research team
                                            assisted by Grant Mayo to ensure the greatest quality and product
                                            performance. Particular attention has been given in the manufacturing
                                            process of Genetix Nutrition for excellent taste </p>
                                        <strong>Highlights</strong>
                                        <ul>
                                            <li>Genetix Nutrition products are </li>
                                            <li>Some detail</li>
                                            <li>And another detail</li>
                                            <li>Important thing</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                        aria-labelledby="nav-profile-tab">
                                        <p>Genetix Nutrition products are devoloped by an internal research team
                                            assisted by Grant Mayo to ensure the greatest quality and product
                                            performance. Particular attention has been given in the manufacturing
                                            process of Genetix Nutrition for excellent taste </p>
                                        <strong>Highlights</strong>
                                        <ul>
                                            <li>Genetix Nutrition products are </li>
                                            <li>Some detail</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                        aria-labelledby="nav-contact-tab">
                                        <p>Genetix Nutrition products are devoloped by an internal research team
                                            assisted by Grant Mayo to ensure the greatest quality and product
                                            performance. Particular attention has been given in the manufacturing
                                            process of Genetix Nutrition for excellent taste </p>
                                        <ul>
                                            <li>Genetix Nutrition products are </li>
                                            <li>Some detail</li>
                                            <li>And another detail</li>
                                            <li>Important thing</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="nav-contact2" role="tabpanel"
                                        aria-labelledby="nav-contact-tab">
                                        <p>Genetix Nutrition products are devoloped by an internal research team
                                            assisted by Grant Mayo to ensure the greatest quality and product
                                            performance. Particular attention has been given in the manufacturing
                                            process of Genetix Nutrition for excellent taste </p>
                                        <p>Genetix Nutrition products are devoloped by an internal research team
                                            assisted by Grant Mayo to ensure the greatest quality and product
                                            performance. Particular attention has been given in the manufacturing
                                            process of Genetix Nutrition for excellent taste </p>
                                        <strong>Highlights</strong>
                                        <ul>
                                            <li>Genetix Nutrition products are </li>
                                            <li>Some detail</li>
                                            <li>And another detail</li>
                                            <li>Important thing</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-content section-overflow">
                        <div class="gift-shopping gift-shopping-store">
                            <div class="gift-shopping__header">
                                <h3>What shoppers say About it</h3>
                            </div>
                            <div class="gift-shopping__body" style="display: none;">
                                <div class="reaction">
                                    <div class="reaction__top">
                                        <div class="reaction__quantity">
                                            <ul
                                                class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                                                <li class="reaction__item-icon">
                                                    <i class="icon icon-like"></i>
                                                </li>
                                                <li class="reaction__item-icon">
                                                    <i class="icon icon-heart-l"></i>
                                                </li>
                                                <li class="reaction__item-icon">
                                                    <i class="icon icon-happy"></i>
                                                </li>
                                                <li class="reaction__item-icon">
                                                    <i class="icon icon-surprised"></i>
                                                </li>
                                                <li class="reaction__item-icon">
                                                    <i class="icon icon-angry"></i>
                                                </li>
                                            </ul>
                                            <div class="reaction__pop">
                                                <ul class="smile">
                                                    <li>
                                                        <i class="like"></i>
                                                        <span>like</span>
                                                        <span>200</span>
                                                    </li>
                                                    <li>
                                                        <i class="heart"></i>
                                                        <span>love</span>
                                                        <span>170</span>
                                                    </li>
                                                    <li>
                                                        <i class="happy"></i>
                                                        <span>joy</span>
                                                        <span>2</span>
                                                    </li>
                                                    <li>
                                                        <i class="surprised"></i>
                                                        <span>wow</span>
                                                        <span>65</span>
                                                    </li>
                                                    <li>
                                                        <i class="angry"></i>
                                                        <span>angry</span>
                                                        <span>0</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <span>56</span>
                                        </div>
                                        <span class="reaction__text">0 comments</span>
                                    </div>
                                    <div class="reaction__bottom">
                                        <div class="reaction__wrap-link reaction__wrap-link--reaction">
                                            <i class="icon icon-like-blue"></i>
                                            <span>like</span>

                                            <div class="reaction-btn-like reaction-btn-like--feed">
                                                <ul class="reaction-btn-like__list list-unstyled mb-0">
                                                    <li class="reaction-btn-like__item">
                                                        <a href="#" class="reaction-btn-like__link">
                                                            <i class="icon icon-like"></i>
                                                        </a>
                                                    </li>
                                                    <li class="reaction-btn-like__item">
                                                        <a href="#" class="reaction-btn-like__link">
                                                            <i class="icon icon-heart-l"></i>
                                                        </a>
                                                    </li>
                                                    <li class="reaction-btn-like__item">
                                                        <a href="#" class="reaction-btn-like__link">
                                                            <i class="icon icon-happy"></i>
                                                        </a>
                                                    </li>
                                                    <li class="reaction-btn-like__item">
                                                        <a href="#" class="reaction-btn-like__link">
                                                            <i class="icon icon-surprised"></i>
                                                        </a>
                                                    </li>
                                                    <li class="reaction-btn-like__item">
                                                        <a href="#" class="reaction-btn-like__link">
                                                            <i class="icon icon-angry"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="statistic-box__emotion">
                                    <ul>
                                        <li>
                                            <div class="progress" data-progress="100">
                                                <div class="line blue" style="height: 100px;"></div>
                                            </div>
                                            <i class="icon icon-like"></i>
                                            <span>like</span>
                                            <strong>200</strong>
                                        </li>
                                        <li>
                                            <div class="progress" data-progress="90">
                                                <div class="line red" style="height: 90px;"></div>
                                            </div>
                                            <i class="icon icon-heart-l"></i>
                                            <span>love</span>
                                            <strong>170</strong>
                                        </li>
                                        <li>
                                            <div class="progress" data-progress="3">
                                                <div class="line" style="height: 3px;"></div>
                                            </div>
                                            <i class="icon icon-happy"></i>
                                            <span>joy</span>
                                            <strong>2</strong>
                                        </li>
                                        <li>
                                            <div class="progress" data-progress="35">
                                                <div class="line" style="height: 35px;"></div>
                                            </div>
                                            <i class="icon icon-surprised"></i>
                                            <span>wow</span>
                                            <strong>65</strong>
                                        </li>
                                        <li>
                                            <div class="progress" data-progress="0">
                                                <div class="line" style="height: 0px;"></div>
                                            </div>
                                            <i class="icon icon-angry"></i>
                                            <span>angry</span>
                                            <strong>0</strong>
                                        </li>
                                    </ul>
                                </div>
                                <div class="comments-box">
                                    <div class="scroll-div">
                                        <div class="other__comment">
                                            <div class="other__author"><span>js</span></div>
                                            <div class="d-flex flex-column w-100">
                                                <div class="other__body">
                                                    <a href="#" class="author">Jane Doe</a>
                                                    <p>Cool!</p>
                                                    <span class="time">Today at 21:00</span>
                                                </div>
                                                <div class="comments-box__function d-flex">
                                                    <div class="count__like d-flex">
                                                        <span>1</span>
                                                        <span>like</span>
                                                    </div>
                                                    <a href="#" class="like">
                                                        <i class="icon icon-like-blue"></i>
                                                    </a>
                                                    <a href="#" class="share">
                                                        <i class="icon icon-share"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="other__comment">
                                            <div class="other__author"><span>js</span></div>
                                            <div class="d-flex flex-column w-100">
                                                <div class="other__body">
                                                    <a href="#" class="author">Jane Doe</a>
                                                    <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
                                                    <span class="time">Today at 21:00</span>
                                                </div>
                                                <div class="comments-box__function d-flex">
                                                    <div class="count__like d-flex">
                                                        <span>1</span>
                                                        <span>like</span>
                                                    </div>
                                                    <a href="#" class="like">
                                                        <i class="icon icon-like-blue"></i>
                                                    </a>
                                                    <a href="#" class="share">
                                                        <i class="icon icon-share"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="other__comment other__comment--my">
                                            <div class="other__author"><span>js</span></div>
                                            <div class="d-flex flex-column w-100">
                                                <div class="other__body">
                                                    <a href="#" class="author">Jane Doe</a>
                                                    <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
                                                    <img src="images/profiles/crash.jpg" alt="">
                                                    <span class="time">Right now</span>
                                                </div>
                                                <div class="comments-box__function d-flex">
                                                    <div class="count__like d-flex">
                                                        <span>0</span>
                                                        <span>like</span>
                                                    </div>
                                                    <a href="#" class="like">
                                                        <i class="icon icon-like-blue"></i>
                                                    </a>
                                                    <a href="#" class="share">
                                                        <i class="icon icon-share"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="other__comment">
                                            <div class="other__author"><span>js</span></div>
                                            <div class="d-flex flex-column w-100">
                                                <div class="other__body">
                                                    <a href="#" class="author">Jane Doe</a>
                                                    <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
                                                    <span class="time">Today at 21:00</span>
                                                </div>
                                                <div class="comments-box__function d-flex">
                                                    <div class="count__like d-flex">
                                                        <span>1</span>
                                                        <span>like</span>
                                                    </div>
                                                    <a href="#" class="like">
                                                        <i class="icon icon-like-blue"></i>
                                                    </a>
                                                    <a href="#" class="share">
                                                        <i class="icon icon-share"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form action="#" class="form form-add-comment comments-box__form mw-100 mt-0">
                                    <div class="form-add-comment__wrap">
                                        <div class="form-add-comment__body">
                                            <div class="form-add-comment__content"
                                                placeholder="Leave your thoughts here" contenteditable="true">
                                            </div>
                                        </div>
                                        <div
                                            class="form-add-comment__footer d-flex align-items-center justify-content-between">
                                            <div class="form-add-comment__user">
                                                <figure
                                                    class="form-add-comment__img form-add-comment__img--no-img position-relative">
                                                    <img src="images/profiles/user-1.png" alt="avatar">
                                                    <span>AD</span>
                                                </figure>
                                                <div
                                                    class="form__single form__single--select form__single--select-default form__single--fluid">
                                                    <select class="form__select form__select--default"
                                                        data-toggle="select">
                                                        <option value="user-1" title="TS">Terry Smith</option>
                                                        <option value="user-1" title="TW">Terry Will Green
                                                        </option>
                                                    </select>
                                                </div>
                                                <span href="#" class="form-add-comment__btn-arrow">
                                                    <i class="icon icon-arrow"></i>
                                                </span>
                                            </div>
                                            <ul
                                                class="form-add-comment__list position-relative d-flex align-items-center list-unstyled mb-0">
                                                <li class="form-add-comment__item">
                                                    <a href="#" class="form-add-comment__btn position-relative">
                                                        <i class="icon icon-paperclip" data-toggle="modal"
                                                            data-target="#add-files"></i>
                                                    </a>
                                                </li>
                                                <li class="form-add-comment__item">
                                                    <button class="form-add-comment__btn position-relative">
                                                        <i class="icon icon-paperplane"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="section-content section-overflow">
                        <div class="gift-shopping gift-shopping-store">
                            <div class="gift-shopping__header">
                                <h3>What shoppers say About the shop</h3>
                            </div>
                            <div class="gift-shopping__body" style="display: none;">
                                <div class="reaction">
                                    <div class="reaction__top">
                                        <div class="reaction__quantity">
                                            <ul
                                                class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                                                <li class="reaction__item-icon">
                                                    <i class="icon icon-like"></i>
                                                </li>
                                                <li class="reaction__item-icon">
                                                    <i class="icon icon-heart-l"></i>
                                                </li>
                                                <li class="reaction__item-icon">
                                                    <i class="icon icon-happy"></i>
                                                </li>
                                                <li class="reaction__item-icon">
                                                    <i class="icon icon-surprised"></i>
                                                </li>
                                                <li class="reaction__item-icon">
                                                    <i class="icon icon-angry"></i>
                                                </li>
                                            </ul>
                                            <div class="reaction__pop">
                                                <ul class="smile">
                                                    <li>
                                                        <i class="like"></i>
                                                        <span>like</span>
                                                        <span>200</span>
                                                    </li>
                                                    <li>
                                                        <i class="heart"></i>
                                                        <span>love</span>
                                                        <span>170</span>
                                                    </li>
                                                    <li>
                                                        <i class="happy"></i>
                                                        <span>joy</span>
                                                        <span>2</span>
                                                    </li>
                                                    <li>
                                                        <i class="surprised"></i>
                                                        <span>wow</span>
                                                        <span>65</span>
                                                    </li>
                                                    <li>
                                                        <i class="angry"></i>
                                                        <span>angry</span>
                                                        <span>0</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <span>56</span>
                                        </div>
                                        <span class="reaction__text">0 comments</span>
                                    </div>
                                    <div class="reaction__bottom">
                                        <div class="reaction__wrap-link reaction__wrap-link--reaction">
                                            <i class="icon icon-like-blue"></i>
                                            <span>like</span>

                                            <div class="reaction-btn-like reaction-btn-like--feed">
                                                <ul class="reaction-btn-like__list list-unstyled mb-0">
                                                    <li class="reaction-btn-like__item">
                                                        <a href="#" class="reaction-btn-like__link">
                                                            <i class="icon icon-like"></i>
                                                        </a>
                                                    </li>
                                                    <li class="reaction-btn-like__item">
                                                        <a href="#" class="reaction-btn-like__link">
                                                            <i class="icon icon-heart-l"></i>
                                                        </a>
                                                    </li>
                                                    <li class="reaction-btn-like__item">
                                                        <a href="#" class="reaction-btn-like__link">
                                                            <i class="icon icon-happy"></i>
                                                        </a>
                                                    </li>
                                                    <li class="reaction-btn-like__item">
                                                        <a href="#" class="reaction-btn-like__link">
                                                            <i class="icon icon-surprised"></i>
                                                        </a>
                                                    </li>
                                                    <li class="reaction-btn-like__item">
                                                        <a href="#" class="reaction-btn-like__link">
                                                            <i class="icon icon-angry"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="statistic-box__emotion">
                                    <ul>
                                        <li>
                                            <div class="progress" data-progress="100">
                                                <div class="line blue" style="height: 100px;"></div>
                                            </div>
                                            <i class="icon icon-like"></i>
                                            <span>like</span>
                                            <strong>200</strong>
                                        </li>
                                        <li>
                                            <div class="progress" data-progress="90">
                                                <div class="line red" style="height: 90px;"></div>
                                            </div>
                                            <i class="icon icon-heart-l"></i>
                                            <span>love</span>
                                            <strong>170</strong>
                                        </li>
                                        <li>
                                            <div class="progress" data-progress="3">
                                                <div class="line" style="height: 3px;"></div>
                                            </div>
                                            <i class="icon icon-happy"></i>
                                            <span>joy</span>
                                            <strong>2</strong>
                                        </li>
                                        <li>
                                            <div class="progress" data-progress="35">
                                                <div class="line" style="height: 35px;"></div>
                                            </div>
                                            <i class="icon icon-surprised"></i>
                                            <span>wow</span>
                                            <strong>65</strong>
                                        </li>
                                        <li>
                                            <div class="progress" data-progress="0">
                                                <div class="line" style="height: 0px;"></div>
                                            </div>
                                            <i class="icon icon-angry"></i>
                                            <span>angry</span>
                                            <strong>0</strong>
                                        </li>
                                    </ul>
                                </div>
                                <div class="comments-box">
                                    <div class="scroll-div">
                                        <div class="other__comment">
                                            <div class="other__author"><span>js</span></div>
                                            <div class="d-flex flex-column w-100">
                                                <div class="other__body">
                                                    <a href="#" class="author">Jane Doe</a>
                                                    <p>Cool!</p>
                                                    <span class="time">Today at 21:00</span>
                                                </div>
                                                <div class="comments-box__function d-flex">
                                                    <div class="count__like d-flex">
                                                        <span>1</span>
                                                        <span>like</span>
                                                    </div>
                                                    <a href="#" class="like">
                                                        <i class="icon icon-like-blue"></i>
                                                    </a>
                                                    <a href="#" class="share">
                                                        <i class="icon icon-share"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="other__comment">
                                            <div class="other__author"><span>js</span></div>
                                            <div class="d-flex flex-column w-100">
                                                <div class="other__body">
                                                    <a href="#" class="author">Jane Doe</a>
                                                    <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
                                                    <span class="time">Today at 21:00</span>
                                                </div>
                                                <div class="comments-box__function d-flex">
                                                    <div class="count__like d-flex">
                                                        <span>1</span>
                                                        <span>like</span>
                                                    </div>
                                                    <a href="#" class="like">
                                                        <i class="icon icon-like-blue"></i>
                                                    </a>
                                                    <a href="#" class="share">
                                                        <i class="icon icon-share"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="other__comment other__comment--my">
                                            <div class="other__author"><span>js</span></div>
                                            <div class="d-flex flex-column w-100">
                                                <div class="other__body">
                                                    <a href="#" class="author">Jane Doe</a>
                                                    <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
                                                    <img src="images/profiles/crash.jpg" alt="">
                                                    <span class="time">Right now</span>
                                                </div>
                                                <div class="comments-box__function d-flex">
                                                    <div class="count__like d-flex">
                                                        <span>0</span>
                                                        <span>like</span>
                                                    </div>
                                                    <a href="#" class="like">
                                                        <i class="icon icon-like-blue"></i>
                                                    </a>
                                                    <a href="#" class="share">
                                                        <i class="icon icon-share"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="other__comment">
                                            <div class="other__author"><span>js</span></div>
                                            <div class="d-flex flex-column w-100">
                                                <div class="other__body">
                                                    <a href="#" class="author">Jane Doe</a>
                                                    <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
                                                    <span class="time">Today at 21:00</span>
                                                </div>
                                                <div class="comments-box__function d-flex">
                                                    <div class="count__like d-flex">
                                                        <span>1</span>
                                                        <span>like</span>
                                                    </div>
                                                    <a href="#" class="like">
                                                        <i class="icon icon-like-blue"></i>
                                                    </a>
                                                    <a href="#" class="share">
                                                        <i class="icon icon-share"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form action="#" class="form form-add-comment comments-box__form mw-100 mt-0">
                                    <div class="form-add-comment__wrap">
                                        <div class="form-add-comment__body">
                                            <div class="form-add-comment__content"
                                                placeholder="Leave your thoughts here" contenteditable="true">
                                            </div>
                                        </div>
                                        <div
                                            class="form-add-comment__footer d-flex align-items-center justify-content-between">
                                            <div class="form-add-comment__user">
                                                <figure
                                                    class="form-add-comment__img form-add-comment__img--no-img position-relative">
                                                    <img src="images/profiles/user-1.png" alt="avatar">
                                                    <span>AD</span>
                                                </figure>
                                                <div
                                                    class="form__single form__single--select form__single--select-default form__single--fluid">
                                                    <select class="form__select form__select--default"
                                                        data-toggle="select">
                                                        <option value="user-1" title="TS">Terry Smith</option>
                                                        <option value="user-1" title="TW">Terry Will Green
                                                        </option>
                                                    </select>
                                                </div>
                                                <span href="#" class="form-add-comment__btn-arrow">
                                                    <i class="icon icon-arrow"></i>
                                                </span>
                                            </div>
                                            <ul
                                                class="form-add-comment__list position-relative d-flex align-items-center list-unstyled mb-0">
                                                <li class="form-add-comment__item">
                                                    <a href="#" class="form-add-comment__btn position-relative">
                                                        <i class="icon icon-paperclip" data-toggle="modal"
                                                            data-target="#add-files"></i>
                                                    </a>
                                                </li>
                                                <li class="form-add-comment__item">
                                                    <button class="form-add-comment__btn position-relative">
                                                        <i class="icon icon-paperplane"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="section-content">
                        <div class="more-products">
                            <a href="#" class="btn-border">More products from this Store</a>
                        </div>
                    </div>
                </div>
                <!-- aside-right -->
                <aside class="aside-right d-lg-block">
                    <div class="scroll-div">
                        <div class="section-content stock">
                            <span class="section-content__title position-relative d-flex align-items-center">In
                                store</span>
                            <div class="search-region">
                                <strong>Enter location for product availability and estimated delivery info</strong>
                                <form>
                                    <input type="text" class="form__input" placeholder="Postcode">
                                    <a href="#" class="btn-border btn-border--two">Search in region</a>
                                </form>
                            </div>
                        </div>
                        <div class="section-content stock">
                            <span class="section-content__title position-relative d-flex align-items-center">Your
                                current option</span>
                            <div class="option-price">
                                <div class="option-price__item">
                                    <div class="option-price__img"
                                        style="background-image: url('images/product/mini-mass.png');"></div>
                                    <div class="option-price__single">
                                        <strong>Lorem ipsum dolor sit amet lorem ipsum dolor</strong>
                                        <span>$300.00</span>
                                        <div class="item-cart__quantity-wrap d-flex align-self-center">
                                            <div class="item-cart__quantity position-relative d-flex align-self-center">
                                                <button class="item-cart__minus">
                                                    <span class="icon icon-minus"></span>
                                                </button>
                                                <span class="item-cart__int">1</span>
                                                <button class="item-cart__plus">
                                                    <span class="icon icon-plus"></span>
                                                </button>
                                            </div>
                                            <span>quantity</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="option-price__params">
                                    <ul>
                                        <li>Volume: <b>500 ml</b></li>
                                        <li>Flavoure: <b>banana</b></li>
                                        <li>Servings: <b>20</b></li>
                                    </ul>
                                </div>
                                <div class="option-price__detail">
                                    <ul>
                                        <li>Shipped from: <b>Coomera - Queensland</b></li>
                                        <li>Shipping cost: <b>$2.55</b></li>
                                        <li>Dispatching time: <b>within 2 hours</b></li>
                                    </ul>
                                    <div class="option-price__user">
                                        <div class="option-price__user--img"
                                            style="background-image: url('images/product/Oval.png');"></div>
                                        <div class="option-price__user--info">
                                            <span>for:</span>
                                            <span>Terry Smith</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="option-price__button">
                                <p>This item is out of stock. You can enable an alert to nitiry you when stock is
                                    available</p>
                                <a href="#" class="btn-border-orange btn-border--two">View similar products</a>
                                <a href="#" class="btn btn-orange">Notify me</a>
                            </div>
                        </div>
                        <div class="section-content">
                            <span class="section-content__title position-relative d-flex align-items-center">What
                                shoppers think about this item</span>
                            <div class="price-info-order--statistic">
                                <div class="statistic-box__votes">
                                    <strong>437</strong>
                                    <span>Votes</span>
                                </div>
                                <div class="statistic-box__emotion">
                                    <ul>
                                        <li>
                                            <div class="progress" data-progress="100">
                                                <div class="line blue" style="height: 100px;"></div>
                                            </div>
                                            <i class="icon icon-like"></i>
                                            <span>like</span>
                                            <strong>200</strong>
                                        </li>
                                        <li>
                                            <div class="progress" data-progress="90">
                                                <div class="line red" style="height: 90px;"></div>
                                            </div>
                                            <i class="icon icon-heart-l"></i>
                                            <span>love</span>
                                            <strong>170</strong>
                                        </li>
                                        <li>
                                            <div class="progress" data-progress="3">
                                                <div class="line" style="height: 3px;"></div>
                                            </div>
                                            <i class="icon icon-happy"></i>
                                            <span>joy</span>
                                            <strong>2</strong>
                                        </li>
                                        <li>
                                            <div class="progress" data-progress="35">
                                                <div class="line" style="height: 35px;"></div>
                                            </div>
                                            <i class="icon icon-surprised"></i>
                                            <span>wow</span>
                                            <strong>65</strong>
                                        </li>
                                        <li>
                                            <div class="progress" data-progress="0">
                                                <div class="line" style="height: 0px;"></div>
                                            </div>
                                            <i class="icon icon-angry"></i>
                                            <span>angry</span>
                                            <strong>0</strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <!-- /aside-right -->
            </div>
            <div class="section-content section-content--bottom">
                <span class="section-content__title position-relative d-flex align-items-center">Related products based
                    on the coupon</span>
                <div class="slider-recomend">
                    <div class="slider-recomend__container">
                        <div class="internal-card__slider swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="product-card">
                                        <figure class="product-card__figure position-relative">
                                            <img src="images/blog/bottle-big.png" alt="product"
                                                class="product-card__image">
                                        </figure>
                                        <div class="product-card__header">
                                            <p class="product-card__price">$49.99</p>
                                            <p class="product-card__copy">
                                                Lorem ipsum dolor sit amet
                                            </p>
                                        </div>
                                        <div class="product-card__footer">
                                            <div class="btn btn-orange">View product</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="product-card">
                                        <figure class="product-card__figure position-relative">
                                            <img src="images/blog/bottle-big.png" alt="product"
                                                class="product-card__image">
                                        </figure>
                                        <div class="product-card__header">
                                            <p class="product-card__price">$49.99</p>
                                            <p class="product-card__copy">
                                                Lorem ipsum dolor sit amet
                                            </p>
                                        </div>
                                        <div class="product-card__footer">
                                            <div class="btn btn-orange">View product</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="product-card">
                                        <figure class="product-card__figure position-relative">
                                            <img src="images/blog/bottle-big.png" alt="product"
                                                class="product-card__image">
                                        </figure>
                                        <div class="product-card__header">
                                            <p class="product-card__price">$49.99</p>
                                            <p class="product-card__copy">
                                                Lorem ipsum dolor sit amet
                                            </p>
                                        </div>
                                        <div class="product-card__footer">
                                            <div class="btn btn-orange">View product</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="product-card">
                                        <figure class="product-card__figure position-relative">
                                            <img src="images/blog/bottle-big.png" alt="product"
                                                class="product-card__image">
                                        </figure>
                                        <div class="product-card__header">
                                            <p class="product-card__price">$49.99</p>
                                            <p class="product-card__copy">
                                                Lorem ipsum dolor sit amet
                                            </p>
                                        </div>
                                        <div class="product-card__footer">
                                            <div class="btn btn-orange">View product</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="product-card">
                                        <figure class="product-card__figure position-relative">
                                            <img src="images/blog/bottle-big.png" alt="product"
                                                class="product-card__image">
                                        </figure>
                                        <div class="product-card__header">
                                            <p class="product-card__price">$49.99</p>
                                            <p class="product-card__copy">
                                                Lorem ipsum dolor sit amet
                                            </p>
                                        </div>
                                        <div class="product-card__footer">
                                            <div class="btn btn-orange">View product</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="product-card">
                                        <figure class="product-card__figure position-relative">
                                            <img src="images/blog/bottle-big.png" alt="product"
                                                class="product-card__image">
                                        </figure>
                                        <div class="product-card__header">
                                            <p class="product-card__price">$49.99</p>
                                            <p class="product-card__copy">
                                                Lorem ipsum dolor sit amet
                                            </p>
                                        </div>
                                        <div class="product-card__footer">
                                            <div class="btn btn-orange">View product</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="product-card">
                                        <figure class="product-card__figure position-relative">
                                            <img src="images/blog/bottle-big.png" alt="product"
                                                class="product-card__image">
                                        </figure>
                                        <div class="product-card__header">
                                            <p class="product-card__price">$49.99</p>
                                            <p class="product-card__copy">
                                                Lorem ipsum dolor sit amet
                                            </p>
                                        </div>
                                        <div class="product-card__footer">
                                            <div class="btn btn-orange">View product</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{> ../common/footer }}
    </div>

    <!-- Modals -->
    {{> ../common/modals/create-goss }}
    {{> ../common/modals/menu-mobile }}
    {{> ../common/modals/add-photo }}
    {{> ../common/modals/add-files }}
    {{> ../common/modals/user-profile-menu }}
    {{> ../common/modals/share-product }}
    {{> ../common/modals/add-timeline-product }}
    {{> ../common/modals/add-wishlist }}
    {{> ../common/modals/search-parameters }}
    {{> ../common/modals/cart }}
    {{> ../common/modals/store-info }}
    {{> ../common/modals/shop-another }}
    {{> ../common/modals/modals-notifications }}
    {{> ../common/modals/message-overlay }}
    {{> ../common/modals/goss-gallery }}
    {{> ../common/modals/menu-mobile--not-shop }}
    {{> ../common/modals/galery-view }}
    {{> ../common/modals/modal-pets }}
    {{> ../common/modals/modal-child }}
    {{> ../common/modals/modal-invite }}
    {{> ../common/modals/modal-unlink }}
    {{> ../common/modals/add-photo-background }}
    <!-- /Modals -->
</body>

</html>