<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body class="settings home ">
    {{> ../common/mobile-menu }}
    {{> ../common/mobile-menu-bottom }}
    <div class="section-blur" data-class="maze" id="background">
        <header class="header">
            <div class="container">
                <div class="header__content">
                    <div class="header__left">
                        <!-- <div class="header__burger">
          <img src="images/icons/burger.svg" alt="">
        </div> -->
                        <a class="header__logo" href="/index.html">
                            <img class="header__img-desktop" src="images/icons/w-logo.png" alt="logo">
                            <img class="header__img-mobile" src="images/icons/logo-mobile.png" alt="logo">
                        </a>
                    </div>
                    <div class="header__search">
                        <!-- form search -->
                        <!-- add class: "search--active" -->
                        <form action="#" id="search" class="search">

                            <input type="search" name="search" class="search__input" placeholder="Search for something"
                                id="search-input" autocomplete="off" />
                            <button class="search__button" aria-label="search">
                                <i class="icon icon-search"></i>
                            </button>

                            <div class="search__result">
                                <ul class="search__result-list">
                                    <li class="search__result-item d-flex align-items-center">
                                        <p>
                                            <b>pa</b>int
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="header__right">
                        <div class="head-links">
                            <!-- head menu -->
                            <ul class="head-links__list d-flex align-items-center list-unstyled mb-0">
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="index.html" class="head-links__link position-relative">
                                        <!-- add class "active" <i class="icon icon-home"></i> what would the icon change -->
                                        <i class="icon icon-home"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-star"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="shop.html?param=val&data=shop-another"
                                        class="head-links__link  position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-offer"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" data-toggle="modal" data-target="#cart"
                                        class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-cart"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" data-toggle="modal" data-target="#message-overlay"
                                        class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-head-mail"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- /head menu -->
                        </div>
                        <div class="header__user">
                            <a href="#menu-mobile" data-toggle="modal" data-target="#menu-mobile"
                                class="personal-avatar personal-avatar--no-img position-relative d-flex d-lg-none align-items-center justify-content-center overflow-hidden">
                                <img src="" alt="avatar">
                                <span class="personal-symbol">JS</span>
                            </a>
                            <a href="#user-profile-menu" data-toggle="modal" data-target="#user-profile-menu"
                                class="user-avatar user-avatar--no-img position-relative d-flex align-items-center justify-content-center overflow-hidden">
                                <img class="user-avatar__img" src="" alt="avatar">
                                <span class="user-avatar__symbol">AD</span>
                            </a>
                            <a href="#" class="mobile-link-arrow">
                                <i class="icon icon-arrow"></i>
                            </a>
                        </div>

                    </div>


                </div>
            </div>
        </header>

        <div class="tabs-global">
            <ul class="nav tabs-global__nav mobile-nav nav-pills nav-fill" id="pills-tab" role="tablist">
                <div>
                    <section class="section-settings">
                        <ul>
                            <li class="nav-item active-item settings__toggle" role="presentation"><a
                                    class="nav-link text-nowrap" data-toggle="pill" href="#account-preferences"
                                    role="tab" aria-controls="pills-about" aria-selected="true">Account
                                    Preferences</a>
                                <svg class="svg-show" xmlns="http://www.w3.org/2000/svg" width="13" height="8"
                                    viewBox="0 0 13 8">
                                    <g>
                                        <g>
                                            <path fill="none" stroke="#f77d0e" stroke-miterlimit="20"
                                                d="M1 1v0l5.916 6v0L13 1v0" />
                                        </g>
                                    </g>
                                </svg>
                            </li>
                            <div class="settings__hide">
                                <li class="nav-item" role="presentation"><a class="nav-link text-nowrap"
                                        data-toggle="pill" href="#spirit" role="tab" aria-selected="true">Community
                                        Spirit</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link text-nowrap"
                                        data-toggle="pill" href="#acces" role="tab" aria-selected="true">Account
                                        Access</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link text-nowrap"
                                        data-toggle="pill" href="#visibility" role="tab"
                                        aria-selected="true">Visibility</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link text-nowrap"
                                        data-toggle="pill" href="#сommunications" role="tab" aria-controls="pills-about"
                                        aria-selected="true">Communications</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link text-nowrap"
                                        data-toggle="pill" href="#email-sms" role="tab" aria-selected="true">Email &
                                        SMS</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link  text-nowrap"
                                        data-toggle="pill" href="#push" role="tab" aria-selected="true">Push
                                        Notifications</a>
                                    <a class="svg-revert" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="13"
                                            height="8" viewBox="0 0 13 8">
                                            <g>
                                                <g>
                                                    <path fill="none" stroke="#f77d0e" stroke-miterlimit="20"
                                                        d="M1 1v0l5.916 6v0L13 1v0" />
                                                </g>
                                            </g>
                                        </svg></a>
                                </li>
                            </div>
                        </ul>
                    </section>

                </div>
            </ul>
            <div class="container">
                <div class="main-content position-relative d-flex align-items-start justify-content-start">

                    <ul class="nav aside-left tabs-global__nav nav-pills nav-fill" id="pills-tab" role="tablist">
                        <div class="scroll-div">
                            <section class="section-settings">
                                <ul>
                                    <li class="nav-item active-item " role="presentation"><a
                                            class="nav-link text-nowrap" data-toggle="pill" href="#account-preferences"
                                            role="tab" aria-controls="pills-about" aria-selected="true">Account
                                            Preferences</a>
                                    </li>
                                    <li class="nav-item" role="presentation"><a class="nav-link text-nowrap"
                                            data-toggle="pill" href="#spirit" role="tab" aria-selected="true">Community
                                            Spirit</a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link text-nowrap"
                                            data-toggle="pill" href="#acces" role="tab" aria-selected="true">Account
                                            Access</a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link text-nowrap"
                                            data-toggle="pill" href="#visibility" role="tab"
                                            aria-selected="true">Visibility</a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link text-nowrap"
                                            data-toggle="pill" href="#сommunications" role="tab"
                                            aria-controls="pills-about" aria-selected="true">Communications</a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link text-nowrap"
                                            data-toggle="pill" href="#email-sms" role="tab" aria-selected="true">Email &
                                            SMS</a></li>
                                    <li class="nav-item" role="presentation"><a class="nav-link  text-nowrap"
                                            data-toggle="pill" href="#push" role="tab" aria-selected="true">Push
                                            Notifications</a></li>
                                </ul>
                            </section>

                            <section class="section-content">
                                <span class="section-content__title">My profile</span>

                                <div class="other-links">
                                    <ul class="other-links__list">
                                        <li class="other-links__item">
                                            <a href="#" class="other-links__link">
                                                <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19"
                                                    viewBox="0 0 20 19">
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <path fill="#2f5095"
                                                                    d="M8.572 10.26c0-1.064-.867-1.93-1.931-1.93-1.065 0-1.931.866-1.931 1.93h1.172a.76.76 0 0 1 1.518 0z" />
                                                            </g>
                                                            <g>
                                                                <path fill="#2f5095"
                                                                    d="M13.36 8.33c-1.064 0-1.93.866-1.93 1.93h1.172a.76.76 0 0 1 1.518 0h1.172c0-1.064-.867-1.93-1.931-1.93z" />
                                                            </g>
                                                            <g>
                                                                <path fill="#2f5095"
                                                                    d="M10.002 13.687c-.74 0-1.435-.397-1.813-1.037l-1.009.596a3.291 3.291 0 0 0 2.822 1.613 3.291 3.291 0 0 0 2.822-1.613l-1.009-.596a2.114 2.114 0 0 1-1.813 1.037z" />
                                                            </g>
                                                            <g>
                                                                <path fill="#2f5095"
                                                                    d="M16.985 11.475l-.114.424A7.129 7.129 0 0 1 10 17.158a7.128 7.128 0 0 1-6.87-5.259l-.116-.424-.44-.009a1.438 1.438 0 0 1-1.402-1.432c0-.382.149-.742.419-1.012.263-.264.612-.412.984-.42l.44-.008.114-.425A7.129 7.129 0 0 1 10 2.911a1.924 1.924 0 0 1 0 3.845c-1.058 0-1.92-.862-1.92-1.922H6.907A3.097 3.097 0 0 0 10 7.929a3.097 3.097 0 0 0 2.78-4.45 7.125 7.125 0 0 1 4.09 4.69l.115.425.44.009a1.425 1.425 0 0 1 1.403 1.432c0 .774-.63 1.417-1.403 1.431zm2.252-3.286a2.59 2.59 0 0 0-1.35-.716A8.304 8.304 0 0 0 10 1.741h-.393c-.943 0-1.71-.768-1.71-1.711H6.723c0 .64.21 1.232.565 1.71h-.372c-.943 0-1.71-.767-1.71-1.71H4.034c0 1.273.83 2.356 1.977 2.736a8.29 8.29 0 0 0-3.899 4.707 2.59 2.59 0 0 0-1.35.716A2.588 2.588 0 0 0 0 10.03c0 .687.265 1.335.746 1.825.376.382.85.635 1.367.733A8.304 8.304 0 0 0 10 18.319a8.304 8.304 0 0 0 7.887-5.732c.517-.098.991-.35 1.367-.733.48-.49.746-1.138.746-1.824 0-.695-.27-1.349-.763-1.841z" />
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                                <span>Kid account</span>
                                            </a>
                                        </li>
                                        <li class="other-links__item">
                                            <a href="#" class="other-links__link">
                                                <!-- add class "active" what would the icon change -->
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18"
                                                    viewBox="0 0 20 18">
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <path fill="#315293"
                                                                    d="M14.402 15.64a1.9 1.9 0 0 1-2.221.507 7.217 7.217 0 0 0-2.905-.608c-.99 0-1.981.202-2.904.608l-.026.011a1.9 1.9 0 0 1-2.196-.518 1.9 1.9 0 0 1-.155-2.272l2.168-3.383a3.682 3.682 0 0 1 3.113-1.703c1.266 0 2.43.637 3.113 1.703l2.169 3.383a1.9 1.9 0 0 1-.156 2.272zm-1.026-6.288a4.85 4.85 0 0 0-4.1-2.242 4.85 4.85 0 0 0-4.1 2.242l-2.168 3.383a3.062 3.062 0 0 0-.48 1.875c.045.665.298 1.285.731 1.792a3.062 3.062 0 0 0 1.657 1.002c.65.148 1.317.085 1.927-.183l.04-.018a6.06 6.06 0 0 1 4.826.018 3.066 3.066 0 0 0 1.927.183 3.062 3.062 0 0 0 1.657-1.002 3.062 3.062 0 0 0 .732-1.792 3.062 3.062 0 0 0-.48-1.875z" />
                                                            </g>
                                                            <g>
                                                                <path fill="#315293"
                                                                    d="M1.308 7.161c-.333-.867-.04-1.789.652-2.055.125-.048.258-.072.393-.072.208 0 .423.057.63.17.373.202.67.554.839.99.167.435.182.895.042 1.295-.13.367-.376.636-.695.759-.692.267-1.527-.221-1.861-1.087zM3.59 9.342c.645-.248 1.135-.768 1.38-1.464a3.055 3.055 0 0 0-.054-2.106 3.057 3.057 0 0 0-1.372-1.599c-.649-.352-1.36-.41-2.005-.161-1.296.498-1.89 2.1-1.325 3.57.451 1.17 1.504 1.91 2.568 1.91.272 0 .544-.048.808-.15z" />
                                                            </g>
                                                            <g>
                                                                <path fill="#315293"
                                                                    d="M7.797 1.172c.974 0 1.766.976 1.766 2.176 0 1.199-.792 2.174-1.766 2.174-.973 0-1.765-.975-1.765-2.174 0-1.2.792-2.176 1.765-2.176zm0 5.523c1.62 0 2.938-1.502 2.938-3.347C10.735 1.502 9.417 0 7.797 0S4.86 1.502 4.86 3.348c0 1.845 1.318 3.347 2.937 3.347z" />
                                                            </g>
                                                            <g>
                                                                <path fill="#315293"
                                                                    d="M12.39 4.127c.164-.498.48-.909.887-1.156.377-.23.788-.287 1.158-.164.37.123.664.417.83.826.178.443.186.961.02 1.46-.329.993-1.247 1.585-2.046 1.319-.798-.266-1.18-1.291-.85-2.285zm.48 3.388c.249.082.503.122.756.122 1.182 0 2.333-.86 2.772-2.181a3.282 3.282 0 0 0-.047-2.265c-.296-.732-.845-1.264-1.546-1.497-.701-.233-1.46-.136-2.135.273a3.283 3.283 0 0 0-1.393 1.786c-.534 1.605.181 3.292 1.593 3.762z" />
                                                            </g>
                                                            <g>
                                                                <path fill="#315293"
                                                                    d="M16.36 10.773c-.596-.441-.633-1.408-.081-2.154.367-.495.902-.77 1.396-.77.25 0 .488.07.69.218.595.442.631 1.408.08 2.154-.553.747-1.488.994-2.085.552zm2.701-3.648c-1.117-.826-2.788-.468-3.725.797-.935 1.266-.79 2.968.326 3.793.407.302.888.446 1.38.446.857 0 1.75-.438 2.345-1.243.936-1.265.79-2.967-.326-3.793z" />
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                                <span>Pet account</span>
                                            </a>
                                        </li>
                                        <li class="other-links__item">
                                            <a href="#" class="other-links__link">
                                                <!-- add class "active" what would the icon change -->
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19"
                                                    viewBox="0 0 20 19">
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <path fill="#2f5095"
                                                                    d="M18.82 17.01c0 .33-.223.597-.497.597h-.93c-.274 0-.497-.268-.497-.597v-5.353c0-.33.223-.598.497-.598h.93c.274 0 .497.269.497.598zm-4.923.364c-1.79.416-2.867.4-4.86.4-2.43 0-3.606-.04-5.085-1.75l-2.65-3.264c-.46-.61.374-1.33.91-.776l1.943 2.142c.513.55 1.159.854 1.955.871h5.384a.593.593 0 0 0 .589-.597.593.593 0 0 0-.589-.598H6.212v-.906c0-.257.206-.467.46-.467H9.39c.613.045 1.497-.475 2.036-.717a3.44 3.44 0 0 1 3.06.05l1.232.635v4.534zM7.5 1.197V3.71H2.686V1.197zm3.702 0V3.71H8.677V1.197zm1.186 2.513V1.197h4.882V3.71zM8.677 4.907h2.525v1.587H8.677zm6.342 5.787a4.587 4.587 0 0 0-4.088-.067c-.357.143-1.136.622-1.54.606H6.67c-.902 0-1.636.747-1.636 1.666v.436l-.015-.016-1.942-2.146a1.798 1.798 0 0 0-.392-.325v-5.94H7.5v2.194c0 .33.264.599.588.599H11.8a.594.594 0 0 0 .588-.599V4.907h4.882v4.96c-.687.054-1.26.555-1.468 1.232zm3.427-.827V.6A.594.594 0 0 0 17.858 0H2.098a.594.594 0 0 0-.588.599v10.007a1.764 1.764 0 0 0-.807.34c-.773.558-.956 1.808-.308 2.578l2.65 3.27c1.64 1.954 3.381 2.193 5.971 2.193 2.223 0 3.217.01 5.154-.44l1.886-.458c.306.434.791.716 1.337.716h.93c.923 0 1.674-.805 1.674-1.795v-5.353c0-.945-.685-1.721-1.55-1.79z" />
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>

                                                <span>My orders</span>
                                            </a>
                                        </li>
                                        <li class="other-links__item">
                                            <a href="#" class="other-links__link">
                                                <!-- add class "active" what would the icon change -->
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20"
                                                    viewBox="0 0 16 20">
                                                    <defs>
                                                        <clipPath id="j0q2a">
                                                            <path fill="#fff"
                                                                d="M4.7 11.3V3.7h6.6v7.6zm5.3-4c0-.99-.81-1.8-1.8-1.8s-1.8.81-1.8 1.8.81 1.8 1.8 1.8S10 8.29 10 7.3z" />
                                                        </clipPath>
                                                    </defs>
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <path fill="none" stroke="#315293"
                                                                    stroke-miterlimit="20" stroke-width="2.6"
                                                                    d="M8.2 9.1c-.99 0-1.8-.81-1.8-1.8s.81-1.8 1.8-1.8 1.8.81 1.8 1.8-.81 1.8-1.8 1.8z"
                                                                    clip-path="url(&quot;#j0q2a&quot;)" />
                                                            </g>
                                                            <g>
                                                                <path fill="none" stroke="#315293"
                                                                    stroke-miterlimit="20" stroke-width="1.3"
                                                                    d="M8.2 1c3.78 0 7.2 2.898 7.2 7.38 0 2.988-2.403 6.525-7.2 10.62C3.403 14.905 1 11.368 1 8.38 1 3.898 4.42 1 8.2 1z" />
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>

                                                <span>Address book</span>
                                            </a>
                                        </li>
                                        <li class="other-links__item">
                                            <a href="#" class="other-links__link active-link">
                                                <!-- add class "active" what would the icon change -->
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                    viewBox="0 0 20 20">
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <path fill="#f77d0e"
                                                                    d="M6.473 15.983a.589.589 0 0 0-.712.09l-.613.613a.67.67 0 0 1-.947 0l-.887-.888a.669.669 0 0 1 0-.946l.613-.613a.586.586 0 0 0 .09-.712 6.907 6.907 0 0 1-.743-1.79.586.586 0 0 0-.568-.44h-.865a.67.67 0 0 1-.67-.67V9.373c0-.369.301-.669.67-.669h.865c.268 0 .5-.18.568-.44.162-.628.412-1.23.743-1.79a.586.586 0 0 0-.09-.712l-.613-.613a.67.67 0 0 1 0-.947l.888-.887a.669.669 0 0 1 .946 0l.613.613c.189.189.482.226.712.09a6.907 6.907 0 0 1 1.79-.743c.26-.067.44-.3.44-.568v-.865c0-.369.3-.67.67-.67h1.255c.369 0 .669.301.669.67v.865c0 .268.18.501.44.568.628.162 1.23.412 1.79.743.23.136.523.099.712-.09l.613-.613a.67.67 0 0 1 .947 0l.887.888a.67.67 0 0 1 0 .946l-.613.613a.586.586 0 0 0-.09.712c.331.56.581 1.162.743 1.79.067.26.3.44.568.44h.865c.369 0 .67.3.67.67v1.255c0 .369-.301.669-.67.669h-.865c-.267 0-.5.18-.568.44a6.906 6.906 0 0 1-.743 1.79c-.136.23-.099.523.09.712l.613.613a.67.67 0 0 1 0 .947l-.888.887a.669.669 0 0 1-.946 0l-.613-.613a.586.586 0 0 0-.712-.09 6.907 6.907 0 0 1-1.79.743.586.586 0 0 0-.44.568v.865c0 .369-.3.67-.67.67H9.373a.67.67 0 0 1-.669-.67v-.865c0-.268-.18-.5-.44-.568a6.907 6.907 0 0 1-1.79-.743zm5.996 2.176v-.425c.431-.138.85-.312 1.254-.52l.3.3c.728.729 1.895.711 2.604 0l.887-.886c.71-.709.73-1.876 0-2.605l-.3-.3c.208-.403.382-.823.52-1.254h.425A1.843 1.843 0 0 0 20 10.628V9.372a1.843 1.843 0 0 0-1.841-1.84h-.425a8.074 8.074 0 0 0-.52-1.255l.3-.3c.73-.729.71-1.896 0-2.604l-.886-.887a1.841 1.841 0 0 0-2.605 0l-.3.3a8.074 8.074 0 0 0-1.254-.52V1.84A1.843 1.843 0 0 0 10.628 0H9.372a1.843 1.843 0 0 0-1.84 1.841v.425c-.432.138-.852.312-1.255.52l-.3-.3a1.841 1.841 0 0 0-2.604 0l-.887.886a1.841 1.841 0 0 0 0 2.605l.3.3a8.076 8.076 0 0 0-.52 1.254H1.84A1.843 1.843 0 0 0 0 9.372v1.256c0 1.015.826 1.84 1.841 1.84h.425c.138.432.312.852.52 1.255l-.3.3a1.841 1.841 0 0 0 0 2.604l.886.887c.708.71 1.876.73 2.604 0l.301-.3c.403.208.823.382 1.254.52v.425c0 1.015.826 1.841 1.841 1.841h1.256a1.843 1.843 0 0 0 1.84-1.841z" />
                                                            </g>
                                                            <g>
                                                                <path fill="#f77d0e"
                                                                    d="M10.002 6.822a3.183 3.183 0 0 1 3.18 3.18 3.183 3.183 0 0 1-3.18 3.18 3.183 3.183 0 0 1-3.18-3.18 3.183 3.183 0 0 1 3.18-3.18zm4.351 3.18c0-2.4-1.952-4.352-4.351-4.352a4.356 4.356 0 0 0-4.352 4.352c0 2.399 1.952 4.351 4.352 4.351 2.4 0 4.351-1.952 4.351-4.351z" />
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                                <span>Settings</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </ul>
                    <div class="tab-content size-container form" id="pills-tabContent">
                        <div class="tab-pane active show fade" id="account-preferences" role="tabpanel">
                            <div class="account-preferences ">


                                <div class="account-preferences__block">
                                    <h5>Account preferences</h5>
                                    <p>Basic information associated with your profile</p>
                                </div>
                                <div class="account-preferences__block">
                                    <span class="blue-span">Site language</span>

                                    <div
                                        class="select-before form__single--select form__single--select-default form__single--fluid">
                                        <label for="#">Select the language you use on SplitChek</label>
                                        <select class="form__select form__select--default select2-hidden-accessible"
                                            data-toggle="select" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                            <option value="#">05/10/2020</option>
                                            <option value="#">05/10/2020</option>
                                            <option value="#">05/10/2020</option>
                                        </select>

                                    </div>


                                </div>
                                <div class="account-preferences__block">
                                    <span class="blue-span">Should your profile photo be displayed in emails?</span>
                                    <p>When enabled, your profile photo will be displayed on emails sent to your family,
                                        friends, connections and order emails. If disabled, we will show your first and
                                        last name initials.</p>
                                    <div class="account-preferences__check">

                                        <input type="checkbox" id="checkbox-1"
                                            class="form__checkbox form__single settings__check form__single--fluid form__single--checkbox form__checkbox--language"
                                            name="checkbox-language" checked="">
                                        <label for="checkbox-1">
                                        </label>
                                        <strong class="check-off">Hide on emails</strong>
                                        <strong class="check-on">Show
                                            on emails</strong>
                                    </div>
                                </div>

                                <div class="account-preferences__block">
                                    <span class="blue-span">Should your profile photo be displayed to the public?</span>
                                    <p>When enabled, your profile photo will be displayed on emails sent to your family,
                                        friends, connections and order emails. If disabled, we will show your first and
                                        last name initials.</p>
                                    <div class="account-preferences__check">

                                        <input type="checkbox" id="checkbox-2"
                                            class="form__checkbox form__checkbox--language" name="checkbox-language"
                                            checked="">
                                        <label for="checkbox-2">

                                        </label>
                                        <strong class="check-off strong-text">Hidden</strong>
                                        <strong class="check-on">Displayed</strong>
                                    </div>
                                </div>

                                <div class="account-preferences__block">
                                    <span class="blue-span">Additional accounts</span>
                                    <p>You can create and manage additional accounts for your children or pets. This
                                        option is visible on your profile</p>
                                    <b>Enable kid’s account</b>
                                    <div class="account-preferences__check">

                                        <input type="checkbox" id="checkbox-3"
                                            class="form__checkbox form__checkbox--language" name="checkbox-language"
                                            checked="">
                                        <label for="checkbox-3">

                                        </label>
                                        <strong class="check-off">Off</strong>
                                        <strong class="check-on strong-text">On</strong>
                                    </div>
                                    <b>Enable pet’s account</b>
                                    <div class="account-preferences__check">

                                        <input type="checkbox" id="checkbox-4"
                                            class="form__checkbox form__checkbox--language" name="checkbox-language"
                                            checked="">
                                        <label for="checkbox-4">

                                        </label>
                                        <strong class="check-off">Off</strong>
                                        <strong class="check-on strong-text">On</strong>
                                    </div>
                                    <div class="account-preferences__bg">
                                        <span class="blue-span">Select background</span>
                                        <div class="account-preferences__line">
                                            <div class="account-preferences__card" data-class="maze">
                                                <img src="images/settings/bg-1.png" alt="#">
                                                <span>maze</span>
                                            </div>
                                            <div class="account-preferences__card" data-class="points">
                                                <img src="images/settings/bg-2.png" alt="#">
                                                <span>points</span>
                                            </div>
                                            <div class="account-preferences__card" data-class="grainy">
                                                <div class="account-preferences__bg-3"></div>
                                                <span>grainy</span>
                                            </div>
                                            <div class="account-preferences__card" data-class="blue">
                                                <div class="account-preferences__bg-4"></div>
                                                <span>blue</span>
                                            </div>
                                            <div class="account-preferences__card" data-class="warm">
                                                <div class="account-preferences__bg-5"></div>
                                                <span>warm</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane show fade" id="spirit" role="tabpanel">
                            <div class="account-preferences community-spirit">

                                <div class="account-preferences__block">
                                    <h5>Community spirit</h5>
                                    <p>SplitChek is a social community gifting platform. Members are encouraged to help
                                        others and participate in the development of SplitChek</p>
                                </div>
                                <div class="account-preferences__block">
                                    <span class="blue-span">Help others pay at checkout</span>
                                    <p>As a community, we want to help our members who are facing hardships, for
                                        example, financials challenges. We allow members to anonymously help those who
                                        are in need at checkout.</p>
                                    <b>Do you want us to notify you to help others at checkout?</b>
                                    <div class="account-preferences__check">

                                        <input type="checkbox" id="checkbox-5"
                                            class="form__checkbox form__checkbox--language" name="checkbox-language"
                                            checked="">
                                        <label for="checkbox-5">

                                        </label>
                                        <strong class="check-off">No</strong>
                                        <strong class="check-on strong-text">Yes</strong>
                                    </div>
                                </div>

                                <div class="account-preferences__block">
                                    <span class="blue-span">Volunteer work</span>
                                    <p>As a volunteer, you can come to some of our SplitChek meetings in your location,
                                        request community features, run and manage specific parts of SplitChek Community
                                    </p>
                                    <b>Do you want to help grow the SplitChek Community?</b>
                                    <div class="account-preferences__check">

                                        <input type="checkbox" id="checkbox-6"
                                            class="form__checkbox form__checkbox--language" name="checkbox-language"
                                            checked="">
                                        <label for="checkbox-6">

                                        </label>
                                        <strong class="check-off">No</strong>
                                        <strong class="check-on strong-text">Yes</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane  show fade" id="acces" role="tabpanel">
                            <div class="account-preferences account-access">

                                <div class="account-preferences__block">
                                    <h5>Account Access</h5>
                                    <p>Settings to help you keep your account secure</p>
                                </div>
                                <div class="account-preferences__block form">
                                    <span class="blue-span">Primary email address</span>
                                    <div class="form__single">
                                        <label class="form__label">Add or remove email address on your account</label>
                                        <input type="email" placeholder="example@mail.com" class="form__input"
                                            required="">
                                        <span class="form__symbol-error"></span>
                                    </div>



                                </div>

                                <div class="account-preferences__block">
                                    <span class="blue-span">Primary phone</span>
                                    <label>Add a phone number to be used to verify your account, orders and security
                                        alerts
                                    </label>
                                    <input id="phone" placeholder="+38 066 0209 333" type="tel">

                                </div>
                                <div class="account-preferences__block">
                                    <span class="blue-span">Change password</span>
                                    <form class="form-password" action="#">
                                        <label for="#">Current password</label>
                                        <div>
                                            <input placeholder="Type here" type="password">
                                            <span class="show">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="15"
                                                    viewBox="0 0 22 15">
                                                    <g>
                                                        <g>
                                                            <g />
                                                            <g>
                                                                <path fill="#99a9c9"
                                                                    d="M15.5 7.5c0 2.48-2.02 4.5-4.5 4.5S6.5 9.98 6.5 7.5 8.52 3 11 3s4.5 2.02 4.5 4.5zm-7 0a2.5 2.5 0 0 0 5 0A2.5 2.5 0 0 0 11 5zm13.5 0c-1.73 4.39-6 7.5-11 7.5S1.73 11.89 0 7.5C1.73 3.11 6 0 11 0s9.27 3.11 11 7.5zm-19.82 0A9.77 9.77 0 0 0 11 13a9.77 9.77 0 0 0 8.82-5.5A9.77 9.77 0 0 0 11 2z" />
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </span>
                                        </div>
                                        <label for="#">New password</label>
                                        <div>
                                            <input placeholder="Type here" type="password">
                                            <span class="show">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="15"
                                                    viewBox="0 0 22 15">
                                                    <g>
                                                        <g>
                                                            <g />
                                                            <g>
                                                                <path fill="#99a9c9"
                                                                    d="M15.5 7.5c0 2.48-2.02 4.5-4.5 4.5S6.5 9.98 6.5 7.5 8.52 3 11 3s4.5 2.02 4.5 4.5zm-7 0a2.5 2.5 0 0 0 5 0A2.5 2.5 0 0 0 11 5zm13.5 0c-1.73 4.39-6 7.5-11 7.5S1.73 11.89 0 7.5C1.73 3.11 6 0 11 0s9.27 3.11 11 7.5zm-19.82 0A9.77 9.77 0 0 0 11 13a9.77 9.77 0 0 0 8.82-5.5A9.77 9.77 0 0 0 11 2z" />
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </span>
                                        </div>
                                        <label for="#">Retype new password</label>
                                        <div> <input placeholder="Type here" type="password">
                                            <span class="show">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="15"
                                                    viewBox="0 0 22 15">
                                                    <g>
                                                        <g>
                                                            <g />
                                                            <g>
                                                                <path fill="#99a9c9"
                                                                    d="M15.5 7.5c0 2.48-2.02 4.5-4.5 4.5S6.5 9.98 6.5 7.5 8.52 3 11 3s4.5 2.02 4.5 4.5zm-7 0a2.5 2.5 0 0 0 5 0A2.5 2.5 0 0 0 11 5zm13.5 0c-1.73 4.39-6 7.5-11 7.5S1.73 11.89 0 7.5C1.73 3.11 6 0 11 0s9.27 3.11 11 7.5zm-19.82 0A9.77 9.77 0 0 0 11 13a9.77 9.77 0 0 0 8.82-5.5A9.77 9.77 0 0 0 11 2z" />
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </span>
                                        </div>
                                        <button class="btn-blue">Change password</button>
                                    </form>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane show fade" id="visibility" role="tabpanel">
                            <div class="account-preferences visibility">

                                <div class="account-preferences__block">
                                    <h5>Visibility of your profile & network</h5>
                                    <p>Make your profile and contact info only visible to those you choose</p>
                                </div>
                                <div class="account-preferences__block">
                                    <span class="blue-span">Account visibility</span>
                                    <p>When your account is private, only you can see it</p>
                                    <div class="account-preferences__check">

                                        <input type="checkbox" id="checkbox-7"
                                            class="form__checkbox form__checkbox--language" name="checkbox-language"
                                            checked="">
                                        <label for="checkbox-7">

                                        </label>
                                        <strong class="check-off">Private</strong>
                                        <strong class="check-on strong-text">Public</strong>
                                    </div>
                                </div>

                                <div class="account-preferences__block">
                                    <span class="blue-span">Who can see your profile</span>
                                    <p>If public option is set, everyone will be able to see your profile. If follower,
                                        then any logged-in member whom you follow or follows you will see your profile,
                                        this includes your connections, friends and family. If set to Connections, then
                                        followers will be denied. If JustFriends, then connections and followers will be
                                        rejected.
                                    </p>

                                    <div
                                        class="select-before form__single--select form__single--select-default form__single--fluid">
                                        <select class="form__select form__select--default select2-hidden-accessible"
                                            data-toggle="select" data-select2-id="3" tabindex="-1" aria-hidden="true">
                                            <option value="1">Public</option>
                                            <option value="2">Private</option>
                                        </select>

                                    </div>


                                </div>
                                <div class="account-preferences__block">
                                    <span class="blue-span">Show profile on search engines</span>
                                    <p>If enabled, your public profile will appear on search engines</p>
                                    <div class="account-preferences__check">

                                        <input type="checkbox" id="checkbox-8"
                                            class="form__checkbox form__checkbox--language" name="checkbox-language"
                                            checked="">
                                        <label for="checkbox-8">

                                        </label>
                                        <strong class="check-off">Disabled</strong>
                                        <strong class="check-on strong-text">Enabled</strong>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane show fade" id="сommunications" role="tabpanel">
                            <div class="account-preferences сommunications">

                                <div class="account-preferences__block">
                                    <h5>HOW YOU RECEIVE CONTENT FROM OTHERS</h5>
                                    <p>Manage who you'd like to get communications from</p>
                                </div>
                                <div class="account-preferences__block">
                                    <span class="blue-span">Enable freedom of speech</span>
                                    <p>SplitChek encourages freedom of speech, however, if you are over 15, you must
                                        turn this on, to enable freedom of speech. Beware that words are not censored,
                                        and you agree to receive such content in your SplitChek feed. All content you
                                        post will be marked as containing adult content or coarse language</p>
                                    <div
                                        class="select-before form__single--select form__single--select-default form__single--fluid">
                                        <select class="form__select form__select--default select2-hidden-accessible"
                                            data-toggle="select" data-select2-id="4" tabindex="-1" aria-hidden="true">
                                            <option value="1">NA</option>
                                            <option value="2">NA</option>
                                        </select>

                                    </div>

                                </div>

                                <div class="account-preferences__block">
                                    <span class="blue-span">Who can reach you</span>

                                    <div
                                        class="select-before form__single--select form__single--select-default form__single--fluid">
                                        <label for="#">Choose who can connect with you on SplitChek</label>
                                        <select class="form__select form__select--default select2-hidden-accessible"
                                            data-toggle="select" data-select2-id="5" tabindex="-1" aria-hidden="true">
                                            <option value="1">Anyone on SplitChek</option>
                                            <option value="2">Anyone on SplitChek</option>
                                        </select>

                                    </div>

                                </div>
                                <div class="account-preferences__block">
                                    <span class="blue-span">Who can write to your timeline</span>

                                    <div
                                        class="select-before form__single--select form__single--select-default form__single--fluid">
                                        <label for="#">Choose who can write to your timeline</label>
                                        <select class="form__select form__select--default select2-hidden-accessible"
                                            data-toggle="select" data-select2-id="6" tabindex="-1" aria-hidden="true">
                                            <option value="1">Anyone on SplitChek</option>
                                            <option value="2">Anyone on SplitChek</option>
                                        </select>

                                    </div>


                                </div>
                                <div class="account-preferences__block">
                                    <span class="blue-span">Invitations from stores & connections</span>
                                    <p>Choose what invitations you would like to receive from your followers and
                                        stores</p>
                                    <span class="bold-span"><b>Stores:</b> invitations to follow stores</span>
                                    <div class="account-preferences__check">

                                        <input type="checkbox" id="checkbox-9"
                                            class="form__checkbox form__checkbox--language" name="checkbox-language"
                                            checked="">
                                        <label for="checkbox-9">

                                        </label>
                                        <strong class="check-off">Off</strong>
                                        <strong class="check-on strong-text">On</strong>
                                    </div>
                                    <span class="bold-span"><b>Stores:</b> invitations to follow stores</span>
                                    <div class="account-preferences__check">

                                        <input type="checkbox" id="checkbox-10"
                                            class="form__checkbox form__checkbox--language" name="checkbox-language"
                                            checked="">
                                        <label for="checkbox-10">

                                        </label>
                                        <strong class="check-off">Off</strong>
                                        <strong class="check-on strong-text">On</strong>
                                    </div>
                                    <span class="bold-span"><b>Stores:</b> invitations to follow stores</span>
                                    <div class="account-preferences__check">

                                        <input type="checkbox" id="checkbox-11"
                                            class="form__checkbox form__checkbox--language" name="checkbox-language"
                                            checked="">
                                        <label for="checkbox-11">

                                        </label>
                                        <strong class="check-off">Off</strong>
                                        <strong class="check-on strong-text">On</strong>
                                    </div>

                                </div>

                                <div class="account-preferences__block">
                                    <span class="blue-span">Research invites</span>
                                    <p>SplitChek and third-party partners may periodically invite shoppers to
                                        participate in product feedback surveys, market research and other studies.
                                        Participation is 100% voluntary and personal information is not shared.</p>
                                    <span class="bold-span">Would you like to receive invitations to participate?</span>
                                    <div class="account-preferences__check">

                                        <input type="checkbox" id="checkbox-12"
                                            class="form__checkbox form__checkbox--language" name="checkbox-language"
                                            checked="">
                                        <label for="checkbox-12">

                                        </label>
                                        <strong class="check-off">Off</strong>
                                        <strong class="check-on strong-text">On</strong>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="tab-pane show fade" id="email-sms" role="tabpanel">
                            <div class="account-preferences email-sms">

                                <div class="account-preferences__block">
                                    <h5>EMAIL AND SMS SUBSCRIPTIONS</h5>
                                    <p>Please note, you cannot turn off notifications about your orders, messages
                                        directly from SplitChek about our services to you</p>
                                </div>
                                <div class="account-preferences__block">
                                    <span class="blue-span">You are subscribed to:</span>
                                    <span class="bold-span">Feedback emails</span>
                                    <div class="account-preferences__check">

                                        <input type="checkbox" id="checkbox-13"
                                            class="form__checkbox form__checkbox--language" name="checkbox-language"
                                            checked="">
                                        <label for="checkbox-13">

                                        </label>
                                        <strong class="check-off">No</strong>
                                        <strong class="check-on strong-text">Yes</strong>
                                    </div>

                                    <span class="bold-span">Reminder emails</span>
                                    <p>We will remind you of events and activities from your account every Wednesdays
                                        and Fridays</p>
                                    <div class="account-preferences__check">

                                        <input type="checkbox" id="checkbox-14"
                                            class="form__checkbox form__checkbox--language" name="checkbox-language"
                                            checked="">
                                        <label for="checkbox-14">

                                        </label>
                                        <strong class="check-off">No</strong>
                                        <strong class="check-on strong-text">Yes</strong>
                                    </div>
                                </div>

                                <div class="account-preferences__block">
                                    <span class="blue-span">Receive text messages from our business partners</span>
                                    <p>If our business partners have great gifting deals, they can sometimes send text
                                        messages for fast delivery. We only allow relevant text messages to be sent to
                                        you.
                                    </p>
                                    <span class="bold-span">Allow SplitChek business partners to send you relevant
                                        gifting deals</span>
                                    <div class="account-preferences__check">

                                        <input type="checkbox" id="checkbox-15"
                                            class="form__checkbox form__checkbox--language" name="checkbox-language"
                                            checked="">
                                        <label for="checkbox-15">

                                        </label>
                                        <strong class="check-off">No</strong>
                                        <strong class="check-on strong-text">Yes</strong>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="tab-pane show fade" id="push" role="tabpanel">
                            <div class="account-preferences push">

                                <div class="account-preferences__block">
                                    <h5>PUSH NOTIFICATIONS</h5>
                                    <p>Control which notifications should be displayed on your device</p>
                                </div>
                                <div class="account-preferences__block">
                                    <span class="bold-span">Likes</span>
                                    <div class="account-preferences__check">

                                        <input type="checkbox" id="checkbox-16"
                                            class="form__checkbox form__checkbox--language" name="checkbox-language"
                                            checked="">
                                        <label for="checkbox-16">

                                        </label>
                                        <strong class="check-off">Off</strong>
                                        <strong class="check-on strong-text">On</strong>
                                    </div>

                                </div>

                                <div class="account-preferences__block">
                                    <span class="bold-span">Likes and Comments on Photos of You</span>
                                    <div class="account-preferences__check">

                                        <input type="checkbox" id="checkbox-17"
                                            class="form__checkbox form__checkbox--language" name="checkbox-language"
                                            checked="">
                                        <label for="checkbox-17">

                                        </label>
                                        <strong class="check-off">Off</strong>
                                        <strong class="check-on strong-text">On</strong>
                                    </div>

                                </div>

                                <div class="account-preferences__block">
                                    <span class="bold-span">Comments</span>
                                    <div class="account-preferences__check">

                                        <input type="checkbox" id="checkbox-18"
                                            class="form__checkbox form__checkbox--language" name="checkbox-language"
                                            checked="">
                                        <label for="checkbox-18">

                                        </label>
                                        <strong class="check-off"> Off</strong>
                                        <strong class="check-on strong-text">On</strong>
                                    </div>

                                </div>

                                <div class="account-preferences__block">
                                    <span class="bold-span">Comments Like</span>
                                    <div class="account-preferences__check">

                                        <input type="checkbox" id="checkbox-19"
                                            class="form__checkbox form__checkbox--language" name="checkbox-language"
                                            checked="">
                                        <label for="checkbox-19">

                                        </label>
                                        <strong class="check-off">Off</strong>
                                        <strong class="check-on strong-text">On</strong>
                                    </div>

                                </div>

                                <div class="account-preferences__block">
                                    <span class="bold-span">Accepted Invitation Requests</span>
                                    <div class="account-preferences__check">

                                        <input type="checkbox" id="checkbox-20"
                                            class="form__checkbox form__checkbox--language" name="checkbox-language"
                                            checked="">
                                        <label for="checkbox-20">

                                        </label>
                                        <strong class="check-off">Off</strong>
                                        <strong class="check-on strong-text">On</strong>
                                    </div>

                                </div>

                                <div class="account-preferences__block">
                                    <span class="bold-span">Support Requests</span>
                                    <div class="account-preferences__check">

                                        <input type="checkbox" id="checkbox-21"
                                            class="form__checkbox form__checkbox--language" name="checkbox-language"
                                            checked="">
                                        <label for="checkbox-21">

                                        </label>
                                        <strong class="check-off">Off</strong>
                                        <strong class="check-on strong-text">On</strong>
                                    </div>

                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


    {{> ../common/footer }}
    </div>
</body>

</html>