<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body>
    {{> ../common/mobile-menu }}
    <div class="section-blur promo-visible shopping-page">
        <header class="header">
            <div class="container">
                <div class="header__content">
                    <div class="header__left">
                        <div class="header__burger">
                            <img src="images/icons/burger.svg" alt="">
                        </div>
                        <a class="header__logo" href="/index.html">
                            <img src="images/icons/logo.png" alt="">
                        </a>
                    </div>
                    <div class="header__right">
                        <div class="header__link-block">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">For businesses</a></li>
                                <li><a href="#">For gifters</a></li>
                            </ul>
                        </div>
                        <div class="header__btn-block">
                            <a class="btn-border" href="#" data-toggle="modal" data-target="#logIn">Log In</a>
                            <a class="btn-blue" href="#" data-toggle="modal" data-target="#register">Create Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="head-info">
            <div id="head-info__box" class="head-info__box">
                <div class="container-fluid">
                    <div class="mission-content">
                        <div class="row">
                            <div class="mission col-lg-6 offset-lg-6">
                                <div class="mission-content__img">
                                    <div class="head-info__video">
                                        <button class="video-play"></button>
                                        <video id="videoBox" src="images/video.mp4"></video>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="mission-size col-xl-5 col-lg-6">
                            <div class="mission-content__descript">
                                <h2><b>Share</b> meaningful gifts with your family and friends</h2>
                                <p>Studies show that shoppers endure a lot of stress during gifting seasons; usually
                                    caused by fearing embarrassment or judgement, challenges of finding <b>affordable,
                                        meaningful gifts,</b> limited time and finances or gifting to a self-conscious
                                    family
                                    member or friend. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="introducing">
            <div class="container">
                <div class="introducing__bg">
                    <div class="introducing__hello">
                        <div class="introducing__img">
                            <svg xmlns="http://www.w3.org/2000/svg" width="189" height="121" viewBox="0 0 189 121">
                                <g>
                                    <g>
                                        <g>
                                            <g>
                                                <path fill="#fff"
                                                    d="M58.538 98.314c-.088-2.285 3.848-3.047 4.927-.464 1.63 3.903 2.798 7.962 3.89 12.044 1.239-3.963 2.23-8.012 3.243-12.024.2-.791.874-1.455 1.66-1.659a80.894 80.894 0 0 1 9.728-1.923c12.294-1.653 24.69-1.313 37.053-1.953 11.09-.572 22.649-1.811 32.716-6.854 8.236-4.127 15.704-9.944 21.599-17.041 5.51-6.632 10.01-14.96 10.215-23.766.386-16.579-13.218-28.597-27.646-34.002-15.31-5.737-32.01-7.055-48.233-6.599-17.36.49-34.74 2.991-51.5 7.561-7.277 1.982-14.51 4.314-21.418 7.363-6.055 2.672-12.26 5.775-17.148 10.317C5.698 40.394-.34 59.515 6.9 74.815c4.305 9.099 12.313 15.062 21.83 18.018 9.718 3.018 19.96 3.175 29.807 5.481" />
                                            </g>
                                            <g>
                                                <path
                                                    d="M59.348 100.689c-12.423-2.002-25.15-1.562-36.995-6.517-8.364-3.497-15.514-9.918-19.138-18.327C-.057 68.257-.787 59.907.823 51.809c1.639-8.245 5.493-16.108 11.156-22.34 4.796-5.28 10.77-9.077 17.149-12.161 14.08-6.81 29.484-10.954 44.84-13.677C91.192.576 108.897-.845 126.367.52c14.912 1.164 30.765 3.922 43.59 12.112 6.948 4.436 12.837 10.665 16.142 18.284 3.599 8.298 3.417 17.752.079 26.114-6.688 16.756-22.52 30.442-39.664 35.773-23.261 7.234-48.215 1.885-71.665 7.659-1.518 6.112-3.092 12.23-5.53 18.052-.871 2.08-3.943 2.504-4.658 0-1.698-5.96-3.063-12.043-5.313-17.826zm-30.623-7.856c9.718 3.018 19.96 3.175 29.806 5.48-.088-2.284 3.847-3.046 4.926-.463 1.63 3.903 2.798 7.962 3.89 12.044 1.24-3.963 2.23-8.012 3.243-12.024.2-.791.874-1.455 1.66-1.66a80.885 80.885 0 0 1 9.727-1.922c12.294-1.653 24.69-1.313 37.051-1.953 11.09-.572 22.648-1.811 32.715-6.854 8.235-4.127 15.703-9.944 21.597-17.041 5.51-6.632 10.01-14.96 10.215-23.766.386-16.58-13.218-28.597-27.645-34.002-15.308-5.737-32.007-7.055-48.23-6.6-17.358.49-34.738 2.992-51.497 7.562-7.277 1.982-14.508 4.314-21.417 7.363-6.055 2.672-12.258 5.775-17.147 10.317-11.925 11.08-17.962 30.2-10.722 45.5 4.304 9.1 12.312 15.063 21.828 18.019z" />
                                            </g>
                                        </g>
                                        <g>
                                            <path
                                                d="M55.865 74.288c-.567-8.254-.602-16.545-.768-24.813-.081-3.986-.009-7.991-.202-11.97-.064-1.339.152-3.279-.304-4.545-.242-.67-.441-1.385-1.076-1.788.663.421.314.052.212-.585-.168-1.056-1.957-1.056-2.124 0-.099.637-.45 1.008.215.585-.636.404-.835 1.117-1.076 1.788-.456 1.276-.214 3.197-.284 4.545-.208 3.97-.037 7.996-.025 11.97 0 .172.002.342.003.512-2.233-.022-4.533.257-6.709.41-2.137.15-4.257.433-6.357.835.064-.651.129-1.301.198-1.951.443-4.248.978-8.483 1.305-12.744.261-3.401 1.13-8.231-1.338-10.955-.681-.753-1.796-.437-2.314.299-1.065 1.516-1.049 3.031-1.203 4.814-.169 1.95-.407 3.901-.647 5.842-.547 4.462-1.192 8.91-1.712 13.376-.503 4.316-.894 8.651-.928 12.998a45.098 45.098 0 0 0 .403 6.167c.318 2.444.435 4.661 3.092 5.557.699.236 1.566-.027 2.069-.546 1.698-1.758.984-3.401.722-5.54-.252-2.066-.281-4.151-.289-6.23-.01-2.723.144-5.448.371-8.166 2.209-.03 4.419-.016 6.628-.019 2.21-.005 4.5.236 6.739.201.064 6.654.234 13.319.702 19.953.213 3.003 4.905 3.027 4.697 0" />
                                        </g>
                                        <g>
                                            <path
                                                d="M77.555 65.988c-3.018.556-6.134.153-9.126-.495-.666-5.068-1.034-10.171-1.383-15.271 2.784-.294 5.571-.485 8.318-1.11 2.692-.611 1.552-4.77-1.14-4.134-2.459.582-4.97.83-7.43 1.35-.3-5.348-.434-10.98-1.772-16.148 3.981-.118 8.047.549 11.955-.115 1.734-.295 1.734-3.194 0-3.49-4.108-.695-9.063-.148-13.172 1.085-1.054-.611-2.652-.006-2.717 1.512-.282 6.556.75 13.316 1.16 19.867.4 6.375.845 12.742 1.711 19.075.107.783.957 1.503 1.683 1.683 4.192 1.032 8.933 1.944 13.202.864 3.065-.777 1.74-5.232-1.289-4.673" />
                                        </g>
                                        <g>
                                            <path
                                                d="M96.421 66.49c-2.274.688-4.684.78-7.065.796-.324-6.853-.356-13.715-.297-20.573.068-7.478.79-15.212-.133-22.65-.217-1.752-2.502-1.75-2.724 0-.905 7.174-.63 14.602-.768 21.825-.15 7.765-.157 15.529.246 23.286.052 1.027.816 1.884 1.884 1.886 3.28.003 6.7.044 9.87-.903 2.343-.701 1.34-4.381-1.013-3.667" />
                                        </g>
                                        <g>
                                            <path
                                                d="M115.966 64.68c-2.215.662-4.557.754-6.874.76-.216-6.28.143-12.554.603-18.82.257-3.501.535-6.997.723-10.504.186-3.476.662-7.322-.157-10.738-.338-1.418-2.495-1.403-2.84 0-.787 3.174-.63 6.68-.868 9.934-.255 3.5-.568 7-.843 10.499-.57 7.208-1.046 14.434-.61 21.664.067 1.104.877 2.04 2.039 2.036 3.287-.008 6.723.019 9.897-.947 2.477-.751 1.426-4.627-1.07-3.883" />
                                        </g>
                                        <g>
                                            <path
                                                d="M140.032 34.13c1.715 4.028 2.53 8.353 2.526 12.733-.008 7.576-1.836 17.335-8.19 22.302-1.078.844-2.31.943-3.38 0-2.76-2.43-4.013-6.582-4.828-10.033a57.49 57.49 0 0 1-1.511-14.15c.08-4.567.549-13.893 5.273-16.574-.028-.998.862-1.954 1.905-1.968 3.825-.053 6.872 4.557 8.205 7.69zm-2.118 12.733c-.046-3.466-.448-7.187-1.918-10.375-.646-1.404-1.402-2.81-2.479-3.936a16.085 16.085 0 0 0-1.111-1.034c-.97 1.064-1.53 2.796-1.904 4.15-.995 3.595-1.18 7.38-1.057 11.091.133 3.984.58 8.001 1.589 11.864.468 1.79 1.067 3.791 1.99 5.4 3.96-4.275 4.96-11.818 4.89-17.16z" />
                                        </g>
                                        <g>
                                            <path
                                                d="M157.993 45.742c.097-7.295-.16-14.43-.991-21.678-.194-1.676-2.696-1.773-2.687 0 .037 6.937-.237 13.905-.377 20.845-.073 3.613-.177 7.225-.264 10.838-.07 2.967-.801 7.165 1.017 9.736.508.72 1.426.716 1.934 0 1.688-2.376 1.17-6.138 1.205-8.902.045-3.612.116-7.226.163-10.84" />
                                        </g>
                                        <g>
                                            <path
                                                d="M157.605 75.132a1.94 1.94 0 0 0-.57-1.37c-.387-.388-.823-.505-1.346-.566a3.054 3.054 0 0 0-.291-.106c-1.325-.423-2.688.706-2.688 2.042 0 1.336 1.363 2.466 2.688 2.044.1-.032.197-.069.291-.109.523-.06.96-.176 1.347-.563.363-.362.569-.86.569-1.372" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="introducing__text">
                            <h3>Introducing SplitChek</h3>
                            <p>‌SplitChek is a <b>social gifting</b> platform that connects shoppers to share the cost
                                of
                                <b>meaningful gifts</b> for each other.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="introducing-detail">
                    <div class="introducing-detail__img">
                        <img src="images/shopping-page/Gifts-bro.svg" alt="Gifts-bro">
                    </div>
                    <div class="introducing-detail__info">
                        <p>We have <b>eliminated the stress</b> and hassle by giving you the ability to share, give and
                            receive
                            thoughtful gifts. You can create shopping preferences, a wishlist registry and shopping
                            groups which your loved ones can buy from and where friends and family can use the platform
                            to share the cost.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="how">
            <div class="container">
                <h2>How does it work?</h2>
                <div class="how__instruction">
                    <div class="how__single" data-number="1">
                        <strong>Create an account</strong>
                        <p>It is free to create an account on SplitChek. We will never charge you for our services</p>
                    </div>
                    <div class="how__single" data-number="2">
                        <strong>Update shopping preferences</strong>
                        <p>Get the item you always dreamed about by sharing the cost with others</p>
                    </div>
                    <div class="how__single" data-number="3">
                        <strong>Invite family and friends</strong>
                        <p>You can share the goss, shopping ideas with your friends</p>
                    </div>
                    <div class="how__single" data-number="4">
                        <strong>Add items to wishlist</strong>
                        <p>Add items to your wishlist and let your loved ones pick items from it</p>
                    </div>
                    <div class="how__single" data-number="5">
                        <strong>You can keep it secret</strong>
                        <p>You want to keep it secret, set your shopping preferences like colour, size and invite
                            selected members to search for gifts for you.</p>
                    </div>
                </div>
                <div class="how__simple">
                    <p>Having trouble at checkout, no worries, SplitChek allows you to invite your loved ones to
                        <b>split
                            the cost</b> at checkout.
                    </p>
                    <img src="images/shopping-page/Address-bro.svg" alt="Address-bro">
                    <div class="address-bro">
                        <p>When you buy items on SplitChek, sellers will receive your order and ship the goods to your
                            address.</p>
                    </div>
                </div>
                <div class="how__source">
                    <span class="left">

                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="249px" height="183px" viewBox="0 0 249 183" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="shopping-on-splitchek-copy" transform="translate(-150.000000, -3245.000000)">
                                    <g id="source-products" transform="translate(150.000000, 2993.000000)">
                                        <g id="quality" transform="translate(0.000000, 252.000000)">
                                            <g id="Group-32"
                                                transform="translate(124.500000, 91.500000) rotate(10.000000) translate(-124.500000, -91.500000) translate(11.000000, 19.000000)">
                                                <path
                                                    d="M70.2405061,117.97626 C70.1349061,115.23426 74.8581061,114.31986 76.1529061,117.41946 C78.1089061,122.10306 79.5105061,126.97386 80.8209061,131.87226 C82.3077061,127.11666 83.4969061,122.25786 84.7125061,117.44346 C84.9525061,116.49426 85.7613061,115.69746 86.7045061,115.45266 C90.5457061,114.44586 94.4433061,113.67426 98.3781061,113.14506 C113.130906,111.16146 128.007306,111.56946 142.841706,110.80146 C156.150906,110.11506 170.020506,108.62826 182.100906,102.57666 C191.984106,97.62426 200.945706,90.64386 208.019706,82.12746 C214.631706,74.16906 220.031706,64.17546 220.277706,53.60826 C220.740906,33.71346 204.416106,19.29186 187.102506,12.80586 C168.731706,5.92145999 148.691706,4.33985999 129.222906,4.88705999 C108.392106,5.47505999 87.5349061,8.47625999 67.4229061,13.96026 C58.6905061,16.33866 50.0121061,19.13706 41.7213061,22.79586 C34.4553061,26.00226 27.0105061,29.72586 21.1437061,35.17626 C6.83250605,48.47226 -0.41189395,71.41746 8.27610605,89.77746 C13.4421061,100.69626 23.0517061,107.85186 34.4721061,111.39906 C46.1337061,115.02066 58.4241061,115.20906 70.2405061,117.97626"
                                                    id="Fill-41" fill="#FFFFFF"></path>
                                                <path
                                                    d="M8.27610605,89.77746 C-0.41189395,71.41746 6.83250605,48.47226 21.1437061,35.17626 C27.0105061,29.72586 34.4553061,26.00226 41.7213061,22.79586 C50.0121061,19.13706 58.6905061,16.33866 67.4229061,13.96026 C87.5349061,8.47625999 108.392106,5.47505999 129.222906,4.88705999 C148.691706,4.33985999 168.731706,5.92145999 187.102506,12.80586 C204.416106,19.29186 220.740906,33.71346 220.277706,53.60826 C220.031706,64.17546 214.631706,74.16906 208.019706,82.12746 C200.945706,90.64386 191.984106,97.62426 182.100906,102.57666 C170.020506,108.62826 156.150906,110.11506 142.841706,110.80146 C128.007306,111.56946 113.130906,111.16146 98.3781061,113.14506 C94.4433061,113.67426 90.5457061,114.44586 86.7045061,115.45266 C85.7613061,115.69746 84.9525061,116.49426 84.7125061,117.44346 C83.4969061,122.25786 82.3077061,127.11666 80.8209061,131.87226 C79.5105061,126.97386 78.1089061,122.10306 76.1529061,117.41946 C74.8581061,114.31986 70.1349061,115.23426 70.2405061,117.97626 C58.4241061,115.20906 46.1337061,115.02066 34.4721061,111.39906 C23.0517061,107.85186 13.4421061,100.69626 8.27610605,89.77746 Z M71.2173061,120.82626 C73.9173061,127.76586 75.5553061,135.06546 77.5929061,142.21746 C78.4509061,145.22226 82.1373061,144.71466 83.1825061,142.21746 C86.1081061,135.23226 87.9969061,127.88946 89.8185061,120.55506 C117.958506,113.62626 147.903306,120.04506 175.816506,111.36426 C196.389306,104.96706 215.387706,88.54386 223.413306,68.43666 C227.418906,58.40226 227.637306,47.05746 223.318506,37.09986 C219.352506,27.95706 212.285706,20.48226 203.948106,15.15906 C188.558106,5.33105999 169.534506,2.02145999 151.640106,0.624659986 C130.676106,-1.01454001 109.430106,0.690659986 88.7613061,4.35665999 C70.3341061,7.62425999 51.8505061,12.59706 34.9533061,20.76906 C27.2997061,24.46986 20.1297061,29.02746 14.3745061,35.36226 C7.57890605,42.84066 2.95410605,52.27626 0.98730605,62.17026 C-0.94469395,71.88786 -0.0686939499,81.90786 3.85770605,91.01346 C8.20650605,101.10426 16.7865061,108.80946 26.8233061,113.00586 C41.0373061,118.95186 56.3097061,118.42386 71.2173061,120.82626 L71.2173061,120.82626 Z"
                                                    id="Fill-42" fill="#000000"></path>
                                            </g>
                                            <text id="Only-quality-product"
                                                transform="translate(141.000000, 82.000000) rotate(6.000000) translate(-141.000000, -82.000000) "
                                                font-family="Noteworthy-Bold, Noteworthy" font-size="24"
                                                font-weight="bold" fill="#0B0212">
                                                <tspan x="40" y="74">ONLY QUALITY</tspan>
                                                <tspan x="40" y="113">PRODUCTS</tspan>
                                            </text>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </span>
                    <span class="right">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="165px"
                            height="150px" viewBox="0 0 165 150" version="1.1">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="shopping-on-splitchek-copy" transform="translate(-1067.000000, -3170.000000)">
                                    <g id="source-products" transform="translate(150.000000, 2993.000000)">
                                        <g id="local" transform="translate(917.000000, 177.000000)">
                                            <g id="Group-14"
                                                transform="translate(82.500000, 75.000000) rotate(-15.000000) translate(-82.500000, -75.000000) translate(13.000000, 16.000000)">
                                                <path
                                                    d="M65.0211198,93.4631132 C64.6471198,90.9531132 68.3021198,89.1191132 69.5731198,91.7401132 C71.3941198,95.4991132 72.5971198,99.4651132 73.8671198,103.432113 C74.4261198,105.179113 74.9931198,106.975113 75.7111198,108.698113 C76.8251198,103.566113 77.6751198,98.3721132 78.9301198,93.2711132 C79.2141198,92.1151132 80.2151198,91.6111132 81.2921198,91.4721132 C106.10512,88.2591132 142.44912,66.9011132 132.89312,36.9091132 C125.24612,12.9101132 97.0811198,4.73811316 74.5491198,4.26711316 C63.2631198,4.02911316 51.2121198,4.38811316 40.4131198,7.97611316 C30.6871198,11.2071132 21.6771198,16.8581132 15.0601198,24.7521132 C2.48011985,39.7591132 -0.696880153,64.8161132 13.2541198,80.1571132 C25.8651198,94.0241132 47.4641198,96.1251132 65.0211198,93.4631132"
                                                    id="Fill-81" fill="#FFFFFF" />
                                                <path
                                                    d="M15.0601198,24.7521132 C21.6771198,16.8581132 30.6871198,11.2071132 40.4131198,7.97611316 C51.2121198,4.38811316 63.2631198,4.02911316 74.5491198,4.26711316 C97.0811198,4.73811316 125.24612,12.9101132 132.89312,36.9091132 C142.44912,66.9011132 106.10512,88.2591132 81.2921198,91.4721132 C80.2151198,91.6111132 79.2141198,92.1151132 78.9301198,93.2711132 C77.6751198,98.3721132 76.8251198,103.566113 75.7111198,108.698113 C74.9931198,106.975113 74.4261198,105.179113 73.8671198,103.432113 C72.5971198,99.4651132 71.3941198,95.4991132 69.5731198,91.7401132 C68.3021198,89.1191132 64.6471198,90.9531132 65.0211198,93.4631132 C47.4641198,96.1251132 25.8651198,94.0241132 13.2541198,80.1571132 C-0.696880153,64.8161132 2.48011985,39.7591132 15.0601198,24.7521132 Z M19.3511198,90.2921132 C33.1981198,98.7191132 50.4601198,99.1181132 65.9591198,96.2541132 C66.0281198,96.2411132 66.0841198,96.2201132 66.1451198,96.2011132 C69.0481198,103.155113 70.1051198,110.915113 74.9231198,116.937113 C76.1231198,118.438113 78.5941198,117.487113 79.0491198,115.848113 C80.8551198,109.346113 81.8021198,102.649113 83.3081198,96.0761132 C95.2041198,94.1971132 106.32312,89.6311132 116.26412,82.7701132 C125.67412,76.2731132 133.65712,68.0981132 137.11912,56.9691132 C140.26912,46.8411132 138.41412,35.8931132 133.00712,26.8981132 C126.89112,16.7241132 116.55212,9.83111316 105.69112,5.57211316 C94.7111198,1.26811316 82.6681198,-0.0138868446 70.9541198,-7.48912043e-12 C59.7581198,0.0121131554 48.1251198,0.760113155 37.5071198,4.53811316 C18.2941198,11.3741132 3.13811985,27.5881132 0.413119847,48.1251132 C-1.78988015,64.7361132 4.86011985,81.4731132 19.3511198,90.2921132 L19.3511198,90.2921132 Z"
                                                    id="Fill-82" fill="#000000" />
                                                <text id="Local"
                                                    transform="translate(69.578642, 47.115396) rotate(-4.000000) translate(-69.578642, -47.115396) "
                                                    font-family="Noteworthy-Bold, Noteworthy" font-size="28"
                                                    font-weight="bold" fill="#0B0212">
                                                    <tspan x="22.0786415" y="60.6153959">LOCAL</tspan>
                                                </text>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </span>
                    <h2>How we source products</h2>
                    <p>We connect you to <b>local stores</b> that provide quality products. We <b>manually approve</b>
                        each seller on
                        SplitChek. Sellers must have their businesses registered through their government authority
                        before they can be approved to sell on SplitChek.</p>
                    <img src="images/shopping-page/Teddy_bear-bro.svg" alt="Teddy_bear-bro">
                </div>
            </div>
        </div>
        <div class="definitions">
            <div class="container">
                <h2>SplitChek definitions</h2>
                <div class="definitions__all">
                    <div class="definitions__single">
                        <div class="definitions__img">
                            <img src="images/shopping-page/friendship-bro.svg" alt="friendship-bro">
                        </div>
                        <p><b>A SplitCheker</b> is someone who loves SplitChek community and wants to help it grow. They
                            always
                            give the right gifts, never miss important events from their timelines, help make decisions
                            and are happy to do volunteer work on SplitChek. You can enable or disable this feature in
                            your settings.</p>
                    </div>
                    <div class="definitions__single">
                        <div class="definitions__img">
                            <img src="images/shopping-page/Gift-bro.svg" alt="Gift-bro">
                        </div>
                        <p><b>A SplitChek Gifter</b> is someone who shops on behalf of someone else in their groups. You
                            do
                            this by choosing who you want to shop for, and you will see the products and services that
                            relate to that member.</p>
                    </div>
                    <div class="definitions__single">
                        <div class="definitions__img">
                            <img src="images/shopping-page/Catalogue-bro.svg" alt="Catalogue-bro">
                        </div>
                        <p><b>A SplitChek shopper</b> is someone who is purchasing goods and services for themselves.
                        </p>
                    </div>
                    <div class="definitions__single">
                        <div class="definitions__img">
                            <img src="images/shopping-page/figure-bro.svg" alt="figure-bro">
                        </div>
                        <p><b>A store</b> is a business that is approved to sell its goods on SplitChek.</p>
                        <span class="label">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg width="210px" height="138px" viewBox="0 0 210 138" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="shopping-on-splitchek-copy" transform="translate(-993.000000, -4412.000000)">
                                        <g id="definitions" transform="translate(150.000000, 3790.000000)">
                                            <g id="become" transform="translate(843.000000, 622.000000)">
                                                <g id="Group-36"
                                                    transform="translate(105.000000, 69.000000) rotate(90.000000) translate(-105.000000, -69.000000) translate(36.000000, -36.000000)">
                                                    <path
                                                        d="M121.563967,183.596692 C134.485735,160.959914 133.769695,134.304499 132.844351,109.452403 C132.414727,97.9913562 132.447775,86.521497 131.874943,75.0637554 C131.313127,63.7635426 129.980191,52.2639402 125.915287,41.3801322 C121.960543,30.7981626 115.141639,20.392449 104.390023,13.8037794 C94.0019349,7.4442426 81.3555669,4.3057842 68.7973269,4.29249899 C58.8608949,4.281549 47.8559109,5.6442282 40.8937989,12.1756146 C33.8766069,18.756573 31.0675269,28.8020634 28.9083909,37.3284474 C22.1445669,63.988269 27.0907509,91.4159058 26.8263669,118.507555 C26.8153509,119.619069 25.6807029,120.657878 24.4248789,120.814305 C17.7822309,121.639403 11.0294229,121.497297 4.33169486,121.908194 C9.65242286,127.010805 17.2093989,130.520503 24.1825269,133.777934 C24.3257349,133.276706 24.4689429,132.775478 24.6341829,132.277555 C24.9866949,131.151719 27.2670069,131.589055 27.0026229,132.747938 C26.8373829,133.45847 26.6831589,134.173408 26.5399509,134.889448 C26.6941749,134.963255 26.8483989,135.035961 27.0026229,135.109768 C29.5363029,136.31602 28.0601589,139.011635 25.7688309,139.331099 C23.9401749,151.721896 24.9095829,164.882711 29.5693509,176.716099 C32.2242069,183.447976 36.2891109,190.041052 42.3919749,194.981728 C48.7151589,200.104168 57.3627189,203.558786 65.7569109,205.074587 C87.6897669,209.037043 111.550423,201.138571 121.563967,183.596692"
                                                        id="Fill-276" fill="#FFFFFF"></path>
                                                    <path
                                                        d="M121.563967,183.596692 C134.485735,160.959914 133.769695,134.304499 132.844351,109.452403 C132.414727,97.9913562 132.447775,86.521497 131.874943,75.0637554 C131.313127,63.7635426 129.980191,52.2639402 125.915287,41.3801322 C121.960543,30.7981626 115.141639,20.392449 104.390023,13.8037794 C94.0019349,7.4442426 81.3555669,4.3057842 68.7973269,4.29249899 C58.8608949,4.281549 47.8559109,5.6442282 40.8937989,12.1756146 C33.8766069,18.756573 31.0675269,28.8020634 28.9083909,37.3284474 C22.1445669,63.988269 27.0907509,91.4159058 26.8263669,118.507555 C26.8153509,119.619069 25.6807029,120.657878 24.4248789,120.814305 C17.7822309,121.639403 11.0294229,121.497297 4.33169486,121.908194 C9.65242286,127.010805 17.2093989,130.520503 24.1825269,133.777934 C24.3257349,133.276706 24.4689429,132.775478 24.6341829,132.277555 C24.9866949,131.151719 27.2670069,131.589055 27.0026229,132.747938 C26.8373829,133.45847 26.6831589,134.173408 26.5399509,134.889448 C26.6941749,134.963255 26.8483989,135.035961 27.0026229,135.109768 C29.5363029,136.31602 28.0601589,139.011635 25.7688309,139.331099 C23.9401749,151.721896 24.9095829,164.882711 29.5693509,176.716099 C32.2242069,183.447976 36.2891109,190.041052 42.3919749,194.981728 C48.7151589,200.104168 57.3627189,203.558786 65.7569109,205.074587 C87.6897669,209.037043 111.550423,201.138571 121.563967,183.596692"
                                                        id="Fill-277" fill="#FFFFFF"></path>
                                                    <path
                                                        d="M65.7569108,205.074587 C57.3627188,203.558786 48.7151588,200.104168 42.3919748,194.981728 C36.2891108,190.041052 32.2242068,183.447976 29.5693508,176.716099 C24.9095828,164.882711 23.9401748,151.721896 25.7688308,139.331099 C28.0601588,139.011635 29.5363028,136.31602 27.0026228,135.109768 C26.8483988,135.035961 26.6941748,134.963255 26.5399508,134.889448 C26.6831588,134.173408 26.8373828,133.45847 27.0026228,132.747938 C27.2670068,131.589055 24.9866948,131.151719 24.6341828,132.277555 C24.4689428,132.775478 24.3257348,133.276706 24.1825268,133.777934 C17.7822308,133.777934 11.8059579,136.431176 3.58449809,140.228537 C7.89834771,130.520503 17.7822308,121.639403 24.4248788,120.814305 C25.6807028,120.657878 26.8153508,119.619069 26.8263668,118.507555 C27.0907508,91.4159058 22.1445668,63.988269 28.9083908,37.3284474 C31.0675268,28.8020634 33.8766068,18.756573 40.8937988,12.1756146 C47.8559108,5.6442282 58.8608948,4.281549 68.7973268,4.29224265 C81.3555668,4.3057842 94.0019348,7.4442426 104.390023,13.8037794 C115.141639,20.392449 121.960543,30.7981626 125.915287,41.3801322 C129.980191,52.2639402 131.313127,63.7635426 131.874943,75.0637554 C132.447775,86.521497 132.414727,97.9913562 132.844351,109.452403 C133.769695,134.304499 134.485735,160.959914 121.563967,183.596692 C111.550423,201.138571 87.6897668,209.037043 65.7569108,205.074587 Z M132.590983,168.661199 C140.015767,144.244235 136.854175,118.802783 136.611823,93.759009 C136.402519,71.9605482 136.578775,48.5801898 124.240855,28.6037754 C118.215103,18.8513106 109.424335,11.0927418 97.9676948,6.0947826 C86.8084868,1.2257106 74.1070388,-0.401352597 61.8572468,0.0811482026 C51.5683028,0.487638603 42.3258788,2.9904738 35.4408788,9.7036242 C28.3796228,16.6095546 25.5044468,26.6858898 23.2021028,35.4876738 C16.2730388,61.9370898 20.8446788,89.0595834 20.8446788,115.971671 C13.3427828,116.65907 6.92999899,124.343382 2.28648719,133.430001 C0.809728141,136.319786 -0.27862575,144.840006 1.27631971,144.840006 C6.17128718,144.840006 11.9672589,142.233122 22.9707668,138.610653 C19.5227588,154.835018 21.7039268,173.101749 31.1556548,187.603211 C42.2487668,204.614119 66.3297428,211.915523 87.6677348,208.782573 C98.2100468,207.233723 108.135463,202.976039 115.780567,196.655059 C124.780639,189.223665 129.473455,178.925908 132.590983,168.661199 Z"
                                                        id="Fill-278" fill="#000000"></path>
                                                </g>
                                                <text id="Become-a-SplitCheker"
                                                    font-family="Noteworthy-Bold, Noteworthy" font-size="24"
                                                    font-weight="bold" fill="#0B0212">
                                                    <tspan x="40.91" y="66">BECOME A </tspan>
                                                    <tspan x="19.175" y="105">SPLITCHEKER</tspan>
                                                </text>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        {{> ../common/landing/gifts }}
        {{> ../common/footer }}
    </div>

    <!-- Modals -->
    {{> ../common/modals/register }}
    {{> ../common/modals/login }}
    {{> ../common/modals/videos }}
    <!-- Modals -->

</body>

</html>