<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body class="shopping-preferences home">
    {{> ../common/mobile-menu }}
    {{> ../common/mobile-menu-bottom }}
    <div class="section-blur background-one" data-class="maze" id="background">
        {{> ../common/header-next }}

        <div class="container">
            <div class="main-content position-relative d-flex align-items-start justify-content-start">

                <aside class="aside-left">
                    <div class="scroll-div">
                        <section class="section-content">
                            <span class="section-content__title position-relative d-flex align-items-center">Other
                                links</span>

                            <div class="other-links">
                                <ul class="other-links__list d-flex flex-column list-unstyled mb-0">
                                    <li class="other-links__item">
                                        <a href="#" class="other-links__link position-relative">
                                            <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
                                            <i class="icon icon-gift active"></i>
                                            <span>Spoil yourself</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#" class="other-links__link position-relative">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-social-media"></i>
                                            <span>Open public goss</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-discount"></i>
                                            <span>Snatch a bargain</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-mail"></i>
                                            <span>Shared orders</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-group"></i>
                                            <span>My groups</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-heart"></i>
                                            <span>My family</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <i class="icon icon-notification"></i>
                                            <!-- add class "active" what would the icon change -->
                                            <span>Alerts</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <i class="icon icon-setting"></i>
                                            <!-- add class "active" what would the icon change -->
                                            <span>Shopping preferences</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </section>

                    </div>
                </aside>
                <div class="shopping-preferences__content">
                    <div class="shopping-preferences__block">
                        <h5>My gift shopping preferences</h5>
                        <small>All fields are optional</small>

                        <p>Numerous scientific studies show that shopping for gifts is not as simple as it seems. In
                            involves several mental processes in your brain that lead to stress, anxiety and fear build
                            up!

                            At SplitChek, we want you to relieve your family and friends from this stress by sharing
                            with
                            them what kind of things you would like them to buy you.</p>
                    </div>
                    <div class="shopping-preferences__block">

                    </div>
                </div>
            </div>
        </div>
    </div>


    {{> ../common/footer }}
    </div>
</body>

</html>