<!DOCTYPE html>
<html lang="en">

<head>
  {{> ../common/head }}
</head>

<body class="shop home">
  {{> ../common/mobile-menu }}
  {{> ../common/mobile-menu-bottom }}
  <div class="section-blur theme-background-one">
    {{> ../common/header-next }}
    <div class="container">
      <div class="main-content position-relative d-flex align-items-start justify-content-between">
        <aside class="aside-left">
          <div class="scroll-div">
            <section class="section-content">
              <span class="section-content__title position-relative d-flex align-items-center">shop for</span>
              <div class="personal-card d-flex align-items-center flex-column overflow-hidden">
                <div
                  class="personal-card__avatar personal-card__avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                  <img src="" alt="">
                  <span class="personal-card__symbol">JS</span>
                </div>
                <p class="personal-card__name">John Smith</p>
                <ul class="personal-card__list d-flex align-items-center flex-column list-unstyled mb-0">
                  <li class="personal-card__item">
                    <a href="#" class="personal-card__link">
                      <span>John’s wishlist</span>
                      <span class="personal-card__num">12</span>
                    </a>
                  </li>
                  <li class="personal-card__item">
                    <a href="#" class="personal-card__link">
                      <span>View preferences</span>
                    </a>
                  </li>
                </ul>
              </div>

              <a href="#" class="section-content__btn btn-border">Shop for another</a>
            </section>

            <section class="section-content">
              <span class="section-content__title position-relative d-flex align-items-center">Other links</span>

              <div class="other-links">
                <ul class="other-links__list d-flex flex-column list-unstyled mb-0">
                  <li class="other-links__item">
                    <a href="#" class="other-links__link position-relative">
                      <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
                      <i class="icon icon-gift active"></i>
                      <span>Spoil yourself</span>
                    </a>
                  </li>
                  <li class="other-links__item">
                    <a href="#" class="other-links__link position-relative">
                      <!-- add class "active" what would the icon change -->
                      <i class="icon icon-social-media"></i>
                      <span>Open public goss</span>
                    </a>
                  </li>
                  <li class="other-links__item">
                    <a href="#" class="other-links__link position-relative d-flex align-items-center">
                      <!-- add class "active" what would the icon change -->
                      <i class="icon icon-discount"></i>
                      <span>Snatch a bargain</span>
                    </a>
                  </li>
                  <li class="other-links__item">
                    <a href="#" class="other-links__link position-relative d-flex align-items-center">
                      <!-- add class "active" what would the icon change -->
                      <i class="icon icon-mail"></i>
                      <span>Shared orders</span>
                    </a>
                  </li>
                  <li class="other-links__item">
                    <a href="#" class="other-links__link position-relative d-flex align-items-center">
                      <!-- add class "active" what would the icon change -->
                      <i class="icon icon-group"></i>
                      <span>My groups</span>
                    </a>
                  </li>
                  <li class="other-links__item">
                    <a href="#" class="other-links__link position-relative d-flex align-items-center">
                      <!-- add class "active" what would the icon change -->
                      <i class="icon icon-heart"></i>
                      <span>My family</span>
                    </a>
                  </li>
                  <li class="other-links__item">
                    <a href="#" class="other-links__link position-relative d-flex align-items-center">
                      <i class="icon icon-notification"></i>
                      <!-- add class "active" what would the icon change -->
                      <span>Alerts</span>
                    </a>
                  </li>
                  <li class="other-links__item">
                    <a href="#" class="other-links__link position-relative d-flex align-items-center">
                      <i class="icon icon-setting"></i>
                      <!-- add class "active" what would the icon change -->
                      <span>Shopping preferences</span>
                    </a>
                  </li>
                </ul>
              </div>
            </section>
          </div>
        </aside>

        <main class="main">
          <section class="section-content">
            <a href="#" data-toggle="modal" data-target="#goss"
              class="section-content__title position-relative d-flex align-items-center">
              <span>What’s the goss?</span>
              <i class="icon icon-help"></i>
            </a>
            <i></i>
            <div class="card-goss position-relative">
              <div class="card-goss__slider swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a href="#" data-toggle="modal" data-target="#create-goss"
                      class="card-goss__item card-goss__item--new position-relative d-flex align-items-center justify-content-center">
                      <i class="icon icon-plus"></i>
                    </a>
                    <span class="card-goss__name">#Create</span>
                  </div>
                  <div class="swiper-slide">
                    <a href="#"
                      class="card-goss__item position-relative d-flex align-items-center justify-content-center overflow-hidden">
                      <figure class="card-goss__img" style="background-image: url('images/goss/img1.png');"></figure>
                    </a>
                    <span class="card-goss__name">#Funny</span>
                  </div>
                  <div class="swiper-slide">
                    <a href="#"
                      class="card-goss__item position-relative d-flex align-items-center justify-content-center overflow-hidden">
                      <figure class="card-goss__img" style="background-image: url('images/goss/img2.png');"></figure>
                    </a>
                    <span class="card-goss__name">#Stories</span>
                  </div>
                  <div class="swiper-slide">
                    <a href="#"
                      class="card-goss__item position-relative d-flex align-items-center justify-content-center overflow-hidden">
                      <figure class="card-goss__img" style="background-image: url('images/goss/img2.png');"></figure>
                    </a>
                    <span class="card-goss__name">#Sales</span>
                  </div>
                  <div class="swiper-slide">
                    <a href="#"
                      class="card-goss__item position-relative d-flex align-items-center justify-content-center overflow-hidden">
                      <figure class="card-goss__img" style="background-image: url('images/goss/img2.png');"></figure>
                    </a>
                    <span class="card-goss__name">#Sales</span>
                  </div>
                </div>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </section>

          <section class="section-content">
            <div class="main__card main__card--bias main__card--preferences position-relative">
              <div class="preferences position-relative d-flex flex-column flex-sm-row align-items-center justify-content-center justify-content-sm-between">
                <figure class="preferences__img">
                  <img src="images/shop/preferences-img.svg" alt="img">
                </figure>
                <div class="preferences__info">
                  <h2>Set what you are looking for and we will update you as we find it</h2>
                  <a href="#" class="btn-border">Set search parameters</a>
                </div>
              </div>
            </div>
          </section>

        </main>

        <aside class="aside-right">

        </aside>
      </div>
    </div>

    {{> ../common/footer }}
  </div>

  <!-- Modals -->
  {{> ../common/modals/add-timeline }}
  {{> ../common/modals/create-goss }}
  {{> ../common/modals/menu-mobile }}
  {{> ../common/modals/add-photo }}
  {{> ../common/modals/user-profile-menu }}
  <!-- /Modals -->
</body>

</html>
