<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body class="store home">
    {{> ../common/mobile-menu }}
    {{> ../common/mobile-menu-bottom }}
    <div class="section-blur theme-background-one" data-class="maze">
        <header class="header">
            <div class="container">
                <div class="header__content">
                    <div class="header__left">
                        <!-- <div class="header__burger">
          <img src="images/icons/burger.svg" alt="">
        </div> -->
                        <a class="header__logo" href="/index.html">
                            <img class="header__img-desktop" src="images/icons/w-logo.png" alt="logo">
                            <img class="header__img-mobile" src="images/icons/logo-mobile.png" alt="logo">
                        </a>
                    </div>
                    <div class="header__search">
                        <!-- form search -->
                        <!-- add class: "search--active" -->
                        <form action="#" id="search" class="search">

                            <input type="search" name="search" class="search__input" placeholder="Search for something"
                                id="search-input" autocomplete="off" />
                            <button class="search__button" aria-label="search">
                                <i class="icon icon-search"></i>
                            </button>


                            <div class="search__result">
                                <ul class="search__result-list">
                                    <li class="search__result-item d-flex align-items-center">
                                        <p>
                                            <b>pa</b>int
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="header__right">
                        <div class="head-links">
                            <!-- head menu -->
                            <ul class="head-links__list d-flex align-items-center list-unstyled mb-0">
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="index.html" class="head-links__link position-relative">
                                        <!-- add class "active" <i class="icon icon-home"></i> what would the icon change -->
                                        <i class="icon icon-home"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-star"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="shop.html?param=val&data=shop-another"
                                        class="head-links__link head-links__link--active position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-offer"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" data-toggle="modal" data-target="#cart"
                                        class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-cart"></i>
                                    </a>
                                </li>
                                <li class="head-links__item d-flex align-items-center">
                                    <a href="#" data-toggle="modal" data-target="#message-overlay"
                                        class="head-links__link position-relative">
                                        <!-- add class "active" what would the icon change -->
                                        <i class="icon icon-head-mail"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- /head menu -->
                        </div>
                        <div class="header__user">
                            <a href="#menu-mobile" data-toggle="modal" data-target="#menu-mobile"
                                class="personal-avatar personal-avatar--no-img position-relative d-flex d-lg-none align-items-center justify-content-center overflow-hidden">
                                <img src="" alt="avatar">
                                <span class="personal-symbol">JS</span>
                            </a>
                            <a href="#user-profile-menu" data-toggle="modal" data-target="#user-profile-menu"
                                class="user-avatar user-avatar--no-img position-relative d-flex align-items-center justify-content-center overflow-hidden">
                                <img class="user-avatar__img" src="" alt="avatar">
                                <span class="user-avatar__symbol">AD</span>
                            </a>
                            <a href="#" class="mobile-link-arrow">
                                <i class="icon icon-arrow"></i>
                            </a>
                        </div>

                    </div>


                </div>
            </div>
        </header>
        <div class="container">
            <div class="main-content position-relative d-flex align-items-start justify-content-between">
                <!-- aside-left -->
                <aside class="aside-left">
                    <div class="scroll-div">
                        <section class="section-content">
                            <span class="section-content__title position-relative d-flex align-items-center">Linked
                                Accounts</span>
                            <div class="personal-card--slider">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div
                                                class="personal-card personal-card--no-shadow d-flex align-items-center flex-column overflow-hidden">
                                                <div
                                                    class="personal-card__avatar personal-card__avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                                                    <img src="" alt="">
                                                    <span class="personal-card__symbol">JS</span>
                                                </div>
                                                <p class="personal-card__name">My Pet 1</p>
                                                <ul
                                                    class="personal-card__list d-flex align-items-center flex-column list-unstyled mb-0">
                                                    <li class="personal-card__item">
                                                        <a href="#" class="personal-card__link">
                                                            <span>Pet’s wishlist</span>
                                                            <span class="personal-card__num">12</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div
                                                class="personal-card personal-card--no-shadow d-flex align-items-center flex-column overflow-hidden">
                                                <div
                                                    class="personal-card__avatar personal-card__avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                                                    <img src="" alt="">
                                                    <span class="personal-card__symbol">JS</span>
                                                </div>
                                                <p class="personal-card__name">My Pet 1</p>
                                                <ul
                                                    class="personal-card__list d-flex align-items-center flex-column list-unstyled mb-0">
                                                    <li class="personal-card__item">
                                                        <a href="#" class="personal-card__link">
                                                            <span>Pet’s wishlist</span>
                                                            <span class="personal-card__num">12</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div
                                                class="personal-card personal-card--no-shadow d-flex align-items-center flex-column overflow-hidden">
                                                <div
                                                    class="personal-card__avatar personal-card__avatar--no-img d-flex align-items-center justify-content-center overflow-hidden">
                                                    <img src="" alt="">
                                                    <span class="personal-card__symbol">JS</span>
                                                </div>
                                                <p class="personal-card__name">My Pet 1</p>
                                                <ul
                                                    class="personal-card__list d-flex align-items-center flex-column list-unstyled mb-0">
                                                    <li class="personal-card__item">
                                                        <a href="#" class="personal-card__link">
                                                            <span>Pet’s wishlist</span>
                                                            <span class="personal-card__num">12</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Add Arrows -->
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                                <ul>
                                    <li class="personal-card__item">
                                        <a href="#" class="personal-card__link">
                                            <span>View preferences</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>


                            <a href="#" class="section-content__btn btn-border">Log In as…</a>
                        </section>
                        <section class="section-content">
                            <span class="section-content__title position-relative d-flex align-items-center">Other
                                links</span>

                            <div class="other-links">
                                <ul class="other-links__list d-flex flex-column list-unstyled mb-0">
                                    <li class="other-links__item">
                                        <a href="#" class="other-links__link position-relative">
                                            <!-- add class "active" <i class="icon icon-gift"></i> what would the icon change -->
                                            <i class="icon icon-gift active"></i>
                                            <span>Spoil yourself</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#" class="other-links__link position-relative">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-social-media"></i>
                                            <span>Open public goss</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-discount"></i>
                                            <span>Snatch a bargain</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-mail"></i>
                                            <span>Shared orders</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-group"></i>
                                            <span>My groups</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <!-- add class "active" what would the icon change -->
                                            <i class="icon icon-heart"></i>
                                            <span>My family</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#" data-toggle="modal" data-target="#notification"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <i class="icon icon-notification"></i>
                                            <!-- add class "active" what would the icon change -->
                                            <span>Alerts</span>
                                        </a>
                                    </li>
                                    <li class="other-links__item">
                                        <a href="#"
                                            class="other-links__link position-relative d-flex align-items-center">
                                            <i class="icon icon-setting"></i>
                                            <!-- add class "active" what would the icon change -->
                                            <span>Shopping preferences</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </aside>
                <!-- /aside-left -->
                <div class="profile__list size-container d-flex flex-column w-100">
                    <div class="profile-face w-100 d-flex flex-column">
                        <ul class="select-color select-color--store" data-color="#8196c3">
                            <li class="plus"></li>
                            <li class="select"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <div class="profile-face__background w-100 d-flex photo"
                            style="background-image: url('images/store/store-bg.jpg');">

                            <a href="#add-photo--background" data-toggle="modal" class="btn-blue-full"><img
                                    src="images/icons/camera-24px.svg" alt="">Upload
                                cover photo</a>
                            <a href="#" class="btn-border button-color">Or use colour

                            </a>
                        </div>
                        <div class="profile-face__info d-flex align-items-center justify-content-between">
                            <div class="profile-face__photo d-flex justify-content-center align-items-center">
                                <span class="profile-face__initial">SN</span>
                                <a href="#add-photo" data-toggle="modal" class="profile-face__hover d-flex flex-column">
                                    <img src="images/icons/photo.svg" alt="photo">
                                    <span>Upload photo</span>
                                </a>
                            </div>
                            <div class="profile-face__name black d-flex align-items-end">
                                {{!-- class dotted adds a line with dots --}}
                                <strong>Store Name</strong>
                            </div>
                            <div class="profile-face__date">
                                <span>Registered on SplitChek since 07.10.2020</span>
                            </div>
                        </div>
                        <div class="store-link w-100 d-flex justify-content-between">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Goss</a></li>
                                <li><a href="#">View products</a></li>
                                <li class="active"><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                            <div class="d-flex w-100">
                                <a href="#" class="btn-border btn-border--two">Manage Store</a>
                            </div>
                        </div>
                    </div>
                    <div class="profile__bottom d-flex">
                        <div class="about-me d-flex flex-column w-100">
                            <div class="section-content">
                                <div class="store-info">
                                    <strong>About Genetix Nutrition</strong>
                                    <p>Genetix Nutrition products are devoloped by an internal research team assisted by
                                        Grant Mayo to ensure the greatest quality and product performance. Particular
                                        attention has been given in the manufacturing process of Genetix Nutrition for
                                        excellent taste </p>
                                    <strong>WE SPECIALISE IN THE FOLLOWING</strong>
                                    <ul class="keywords__list d-flex align-items-center flex-wrap">
                                        <li class="keywords__item">
                                            <a href="#" class="keywords__link">#Organic</a>
                                        </li>
                                        <li class="keywords__item">
                                            <a href="#" class="keywords__link">#Vegan</a>
                                        </li>
                                        <li class="keywords__item">
                                            <a href="#" class="keywords__link">#Beauty</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="section-content">
                                <div class="store-info">
                                    <strong>Our company</strong>
                                    <p>Genetix Nutrition products are devoloped by an internal research team assisted by
                                        Grant Mayo to ensure the greatest quality and product performance. Particular
                                        attention has been given in the manufacturing process of Genetix Nutrition for
                                        excellent taste </p>
                                    <strong>How we can help you</strong>
                                    <p>Genetix Nutrition products are devoloped by an internal research team assisted by
                                        Grant Mayo to ensure the greatest quality and product performance. Particular
                                        attention has been given in the manufacturing process of Genetix Nutrition for
                                        excellent taste </p>
                                    <p>Genetix Nutrition products are devoloped by an internal research team assisted by
                                        Grant Mayo to ensure the greatest quality and product performance. Particular
                                        attention has been given in the manufacturing process of Genetix Nutrition for
                                        excellent taste </p>
                                </div>
                            </div>
                            <div class="section-content">
                                <div class="gift-shopping gift-shopping-store">
                                    <div class="gift-shopping__header">
                                        <h3>What shoppers say About Genetix Nutrition</h3>
                                    </div>
                                    <div class="gift-shopping__body" style="display: none;">
                                        <div class="reaction">
                                            <div class="reaction__top">
                                                <div class="reaction__quantity">
                                                    <ul
                                                        class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                                                        <li class="reaction__item-icon">
                                                            <i class="icon icon-like"></i>
                                                        </li>
                                                        <li class="reaction__item-icon">
                                                            <i class="icon icon-heart-l"></i>
                                                        </li>
                                                        <li class="reaction__item-icon">
                                                            <i class="icon icon-happy"></i>
                                                        </li>
                                                        <li class="reaction__item-icon">
                                                            <i class="icon icon-surprised"></i>
                                                        </li>
                                                        <li class="reaction__item-icon">
                                                            <i class="icon icon-angry"></i>
                                                        </li>
                                                    </ul>
                                                    <div class="reaction__pop">
                                                        <ul class="smile">
                                                            <li>
                                                                <i class="like"></i>
                                                                <span>like</span>
                                                                <span>200</span>
                                                            </li>
                                                            <li>
                                                                <i class="heart"></i>
                                                                <span>love</span>
                                                                <span>170</span>
                                                            </li>
                                                            <li>
                                                                <i class="happy"></i>
                                                                <span>joy</span>
                                                                <span>2</span>
                                                            </li>
                                                            <li>
                                                                <i class="surprised"></i>
                                                                <span>wow</span>
                                                                <span>65</span>
                                                            </li>
                                                            <li>
                                                                <i class="angry"></i>
                                                                <span>angry</span>
                                                                <span>0</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <span>56</span>
                                                </div>
                                                <span class="reaction__text">0 comments</span>
                                            </div>
                                            <div class="reaction__bottom">
                                                <div class="reaction__wrap-link reaction__wrap-link--reaction">
                                                    <i class="icon icon-like-blue"></i>
                                                    <span>like</span>

                                                    <div class="reaction-btn-like reaction-btn-like--feed">
                                                        <ul class="reaction-btn-like__list list-unstyled mb-0">
                                                            <li class="reaction-btn-like__item">
                                                                <a href="#" class="reaction-btn-like__link">
                                                                    <i class="icon icon-like"></i>
                                                                </a>
                                                            </li>
                                                            <li class="reaction-btn-like__item">
                                                                <a href="#" class="reaction-btn-like__link">
                                                                    <i class="icon icon-heart-l"></i>
                                                                </a>
                                                            </li>
                                                            <li class="reaction-btn-like__item">
                                                                <a href="#" class="reaction-btn-like__link">
                                                                    <i class="icon icon-happy"></i>
                                                                </a>
                                                            </li>
                                                            <li class="reaction-btn-like__item">
                                                                <a href="#" class="reaction-btn-like__link">
                                                                    <i class="icon icon-surprised"></i>
                                                                </a>
                                                            </li>
                                                            <li class="reaction-btn-like__item">
                                                                <a href="#" class="reaction-btn-like__link">
                                                                    <i class="icon icon-angry"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="statistic-box__emotion">
                                            <ul>
                                                <li>
                                                    <div class="progress" data-progress="100">
                                                        <div class="line blue" style="height: 100px;"></div>
                                                    </div>
                                                    <i class="icon icon-like"></i>
                                                    <span>like</span>
                                                    <strong>200</strong>
                                                </li>
                                                <li>
                                                    <div class="progress" data-progress="90">
                                                        <div class="line red" style="height: 90px;"></div>
                                                    </div>
                                                    <i class="icon icon-heart-l"></i>
                                                    <span>love</span>
                                                    <strong>170</strong>
                                                </li>
                                                <li>
                                                    <div class="progress" data-progress="3">
                                                        <div class="line" style="height: 3px;"></div>
                                                    </div>
                                                    <i class="icon icon-happy"></i>
                                                    <span>joy</span>
                                                    <strong>2</strong>
                                                </li>
                                                <li>
                                                    <div class="progress" data-progress="35">
                                                        <div class="line" style="height: 35px;"></div>
                                                    </div>
                                                    <i class="icon icon-surprised"></i>
                                                    <span>wow</span>
                                                    <strong>65</strong>
                                                </li>
                                                <li>
                                                    <div class="progress" data-progress="0">
                                                        <div class="line" style="height: 0px;"></div>
                                                    </div>
                                                    <i class="icon icon-angry"></i>
                                                    <span>angry</span>
                                                    <strong>0</strong>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="comments-box">
                                            <div class="scroll-div">
                                                <div class="other__comment">
                                                    <div class="other__author"><span>js</span></div>
                                                    <div class="d-flex flex-column w-100">
                                                        <div class="other__body">
                                                            <a href="#" class="author">Jane Doe</a>
                                                            <p>Cool!</p>
                                                            <span class="time">Today at 21:00</span>
                                                        </div>
                                                        <div class="comments-box__function d-flex">
                                                            <div class="count__like d-flex">
                                                                <span>1</span>
                                                                <span>like</span>
                                                            </div>
                                                            <a href="#" class="like">
                                                                <i class="icon icon-like-blue"></i>
                                                            </a>
                                                            <a href="#" class="share">
                                                                <i class="icon icon-share"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="other__comment">
                                                    <div class="other__author"><span>js</span></div>
                                                    <div class="d-flex flex-column w-100">
                                                        <div class="other__body">
                                                            <a href="#" class="author">Jane Doe</a>
                                                            <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
                                                            <span class="time">Today at 21:00</span>
                                                        </div>
                                                        <div class="comments-box__function d-flex">
                                                            <div class="count__like d-flex">
                                                                <span>1</span>
                                                                <span>like</span>
                                                            </div>
                                                            <a href="#" class="like">
                                                                <i class="icon icon-like-blue"></i>
                                                            </a>
                                                            <a href="#" class="share">
                                                                <i class="icon icon-share"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="other__comment other__comment--my">
                                                    <div class="other__author"><span>js</span></div>
                                                    <div class="d-flex flex-column w-100">
                                                        <div class="other__body">
                                                            <a href="#" class="author">Jane Doe</a>
                                                            <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
                                                            <img src="images/profiles/crash.jpg" alt="">
                                                            <span class="time">Right now</span>
                                                        </div>
                                                        <div class="comments-box__function d-flex">
                                                            <div class="count__like d-flex">
                                                                <span>0</span>
                                                                <span>like</span>
                                                            </div>
                                                            <a href="#" class="like">
                                                                <i class="icon icon-like-blue"></i>
                                                            </a>
                                                            <a href="#" class="share">
                                                                <i class="icon icon-share"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="other__comment">
                                                    <div class="other__author"><span>js</span></div>
                                                    <div class="d-flex flex-column w-100">
                                                        <div class="other__body">
                                                            <a href="#" class="author">Jane Doe</a>
                                                            <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
                                                            <span class="time">Today at 21:00</span>
                                                        </div>
                                                        <div class="comments-box__function d-flex">
                                                            <div class="count__like d-flex">
                                                                <span>1</span>
                                                                <span>like</span>
                                                            </div>
                                                            <a href="#" class="like">
                                                                <i class="icon icon-like-blue"></i>
                                                            </a>
                                                            <a href="#" class="share">
                                                                <i class="icon icon-share"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <form action="#" class="form form-add-comment comments-box__form mw-100">
                                            <div class="form-add-comment__wrap">
                                                <div class="form-add-comment__body">
                                                    <div class="form-add-comment__content"
                                                        placeholder="Leave your thoughts here" contenteditable="true">
                                                    </div>
                                                </div>
                                                <div
                                                    class="form-add-comment__footer d-flex align-items-center justify-content-between">
                                                    <div class="form-add-comment__user">
                                                        <figure
                                                            class="form-add-comment__img form-add-comment__img--no-img position-relative">
                                                            <img src="images/profiles/user-1.png" alt="avatar">
                                                            <span>AD</span>
                                                        </figure>
                                                        <div
                                                            class="form__single form__single--select form__single--select-default form__single--fluid">
                                                            <select class="form__select form__select--default"
                                                                data-toggle="select">
                                                                <option value="user-1" title="TS">Terry Smith</option>
                                                                <option value="user-1" title="TW">Terry Will Green
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <span href="#" class="form-add-comment__btn-arrow">
                                                            <i class="icon icon-arrow"></i>
                                                        </span>
                                                    </div>
                                                    <ul
                                                        class="form-add-comment__list position-relative d-flex align-items-center list-unstyled mb-0">
                                                        <li class="form-add-comment__item">
                                                            <a href="#" class="form-add-comment__btn position-relative">
                                                                <i class="icon icon-paperclip" data-toggle="modal"
                                                                    data-target="#add-files"></i>
                                                            </a>
                                                        </li>
                                                        <li class="form-add-comment__item">
                                                            <button class="form-add-comment__btn position-relative">
                                                                <i class="icon icon-paperplane"></i>
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="connections__wrapper">
                            <section class="section-content">
                                <div class="statistic-box">
                                    <div class="statistic-box__reaction w-100">
                                        <h5>What are your opinion on us?</h5>
                                        <div class="statistic-box__smile">
                                            <ul
                                                class="reaction__list-icon reaction__list-icon--other list-unstyled mb-0">
                                                <li class="reaction__item-icon">
                                                    <i class="icon icon-like"></i>
                                                </li>
                                                <li class="reaction__item-icon">
                                                    <i class="icon icon-heart-l"></i>
                                                </li>
                                                <li class="reaction__item-icon">
                                                    <i class="icon icon-happy"></i>
                                                </li>
                                                <li class="reaction__item-icon">
                                                    <i class="icon icon-surprised"></i>
                                                </li>
                                                <li class="reaction__item-icon">
                                                    <i class="icon icon-angry"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="statistic-box__votes">
                                            <strong>437</strong>
                                            <span>Votes</span>
                                        </div>
                                        <div class="statistic-box__emotion">
                                            <ul>
                                                <li>
                                                    <div class="progress" data-progress="100">
                                                        <div class="line blue" style="height: 100px;"></div>
                                                    </div>
                                                    <i class="icon icon-like"></i>
                                                    <span>like</span>
                                                    <strong>200</strong>
                                                </li>
                                                <li>
                                                    <div class="progress" data-progress="90">
                                                        <div class="line red" style="height: 90px;"></div>
                                                    </div>
                                                    <i class="icon icon-heart-l"></i>
                                                    <span>love</span>
                                                    <strong>170</strong>
                                                </li>
                                                <li>
                                                    <div class="progress" data-progress="3">
                                                        <div class="line" style="height: 3px;"></div>
                                                    </div>
                                                    <i class="icon icon-happy"></i>
                                                    <span>joy</span>
                                                    <strong>2</strong>
                                                </li>
                                                <li>
                                                    <div class="progress" data-progress="35">
                                                        <div class="line" style="height: 35px;"></div>
                                                    </div>
                                                    <i class="icon icon-surprised"></i>
                                                    <span>wow</span>
                                                    <strong>65</strong>
                                                </li>
                                                <li>
                                                    <div class="progress" data-progress="0">
                                                        <div class="line" style="height: 0px;"></div>
                                                    </div>
                                                    <i class="icon icon-angry"></i>
                                                    <span>angry</span>
                                                    <strong>0</strong>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </section>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    {{> ../common/footer }}
    </div>

    <!-- Modals -->
    {{> ../common/modals/create-goss }}
    {{> ../common/modals/menu-mobile }}
    {{> ../common/modals/add-files }}
    {{> ../common/modals/add-photo }}
    {{> ../common/modals/user-profile-menu }}
    {{> ../common/modals/share-product }}
    {{> ../common/modals/add-timeline-product }}
    {{> ../common/modals/add-wishlist }}
    {{> ../common/modals/search-parameters }}
    {{> ../common/modals/cart }}
    {{> ../common/modals/add-comment }}
    {{> ../common/modals/store-info }}
    {{> ../common/modals/shop-another }}
    {{> ../common/modals/modals-notifications }}
    {{> ../common/modals/message-overlay }}
    {{> ../common/modals/goss-gallery }}
    {{> ../common/modals/menu-mobile--not-shop }}
    {{> ../common/modals/galery-view }}
    {{> ../common/modals/modal-pets }}
    {{> ../common/modals/modal-child }}
    {{> ../common/modals/modal-invite }}
    {{> ../common/modals/modal-unlink }}
    {{> ../common/modals/add-photo-background }}
    <!-- /Modals -->
</body>

</html>