.wishlist-page {
  .wishlist-box {
    @media (max-width: 991px) {
      max-width: 100%;
    }
  }
  .wishlist-box__item-function {
    a {
      &:last-child {
        &::before {
          margin-right: 13px;
          margin-left: 2px;
        }
      }
    }
  }
  &__block {
    margin-top: 16px;
    max-width: 560px;
    padding: 24px;
    box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    background-color: #fff;
    @media (max-width: 991px) {
      min-width: 100%;
    }
    &-bottom {
      margin-top: 27px;
    }
    span {
      color: #0b0212;
      font-size: 14px;
      &:first-child {
        margin-bottom: 10px;
      }
    }
    strong {
      margin-top: 18px;
      color: #0b0212;
      font-weight: 500;
      font-size: 18px;
      text-transform: uppercase;
      margin-right: 12px;
    }
    a {
      color: #f97d00;
      font-size: 14px;
      font-weight: 400;
    }
  }
  .connections__wrapper {
    @media (max-width: 991px) {
      display: none;
    }
  }
  .personal-card__item {
    &:first-child {
      background-color: #eef3fd;
    }
  }
  .internal-card__price {
    margin-bottom: 10px;
    span {
      color: #0b0212;
      font-weight: 500;
      font-size: 18px;
    }
  }
  .recomend {
    padding-left: 0;
    margin-bottom: 22px;
    text-align: center;
    &::after {
      @media (max-width: 575px) {
        max-width: 127px !important;
      }
    }
  }
  &__text-block {
    margin-left: 50px;
    margin-top: 10px;
    a {
      margin-top: 20px;
      border: 2px solid #35558f !important;
    }
    @media (max-width: 991px) {
      margin-left: 0;
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      a {
        min-width: 100%;
      }
    }
  }
  &__box {
    padding: 15px 20px 15px 20px;
    margin-bottom: 16px;
    max-width: 560px;
    box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
    border-radius: 8px;
    background-color: #fff;
    @media (max-width: 991px) {
      flex-direction: column;
      max-width: 100%;
    }
    figure {
      margin: 0;
    }
    p {
      font-size: 14px !important;
    }
    h5 {
      color: #0b0212;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 12px;
    }
  }
  .profile__list {
    width: 82%;
    @media (max-width: 991px) {
      width: 100%;
    }
  }
}
